{% load i18n %}
<div class="{% if not has_reporting_period %} none {% endif %} float_left date_filter">
    <div class="filter_label">
        {% if is_monthly_reporting %} <label>{% trans "Monthly Reporting Period" %}</label>
            {% else %}<label>{% trans "Daily Reporting Period" %}</label>
        {% endif %}
        <img id="img_tt" src="/media/images/help_icon.png" class="help_icon">

        <div class="tooltip"><p>
            <strong>{% trans "What is this?" %}</strong><br/>
            {% trans "q_tooltip_report_period_h" %}
            {{ reporting_period_question_text }}
            {% trans "q_tooltip_report_period_t" %}
            <br/><br/>
            <strong>{% trans "What do I need to do?" %}</strong><br/>
            {% trans "r_tooltip_report_period" %}
        </p></div>
    </div>
    <div class="float_left">
        <input type="text" readonly="true" id="reportingPeriodPicker" class="datepicker" data-ismonthly="{% if is_monthly_reporting %}true{% endif %}" value="{% trans "All Periods" %}"/>
        <span class="dateErrorDiv" class="error_arrow"></span>
        <div id="month_date_picker_div"></div>
    </div>
</div>

