{% load i18n %}
{% load user_tags %}
<div class="heading_block alpha data_ana">
    <h3>{% trans title %}</h3>
    {% if help_message %}
        <p id="page_hint_section" class="help_accordion"> {% trans help_message %} </p>
    {% endif %}
    {% if is_quota_reached %}
    <div class="warning-message-box clear-both overflow_hidden">
        {% if user|in_group:"NGO Admins," %}
            <p>{% trans "You have reached your limit of 1000 free Submissions. Subscribe to a monthly subscription to continue submitting data for your questionnaires." %}</p>
            <a class="float_left margin_10 padding_top_10" href="https://www.datawinners.com/{{ active_language }}/pricing/" target="blank">{% trans "Learn More" %}</a>
            <a class="button margin_10 float_left" target="blank"
               href="{% url default_upgrade %}">{% trans "Subscribe Now" %}</a>
        {% else %}
            <p>{% trans "You have reached your limit of 1000 free Submissions. Subscribe to a monthly subscription by contacting your Project Manager or DW Support at <a href='mailto:support@datawinners.com'>support@datawinners.com</a>." %}</p>
        {% endif %}
    </div>
    {% endif %}
    <!--[if IE 7]>
            <div class="float_right" style="display: inline-block; width: 1px; height: 1px;"></div>
            <![endif]-->

<div id="export-warning" class="none information_box">
        {% trans "Your download will begin shortly. Download times will vary based on the amount of data and your Internet connection speed." %} <a id="close-export-msg">{% trans "Dismiss" %}</a>
    </div>
</div>