{% load i18n %}
<div class="heading_block alpha data_ana">
    <h3>{% trans title %}</h3>
    {% if help_message %}
        <p id="page_hint_section" class="help_accordion"> {% trans help_message %} </p>
    {% endif %}
    {% if is_quota_reached %}
    <div class="warning-message-box clear-both overflow_hidden">
        <p>{% trans "You have reached your limit of 1000 free Submissions. Subscribe to a monthly subscription to continue submitting data for your projects." %}</p>
        <a class="float_left margin_10 padding_top_10" href="/{% trans "en" %}/pricing/">{% trans "Learn More" %}</a>
        <a class="button margin_10 float_left" href="{% url datawinners.accountmanagement.views.upgrade %}">{% trans "Subscribe Now" %}</a>
    </div>
    {% endif %}
    <!--[if IE 7]>
            <div class="float_right" style="display: inline-block; width: 1px; height: 1px;"></div>
            <![endif]-->

</div>