{% extends 'layout_application.html' %}

{% block page_title %} Account {% endblock %}
{% block section_title %} Settings {% endblock %}

{% load dw_tabs %}

{% block content %}
{% block account_navigation %}
<ul id="settings_nav">
  <li>
    <a href="#" class="{% ifactivetab "settingsnav" "settings" %}active{% else %}inactive{% endifactivetab %}">Application Settings</a>
  </li>
  <li>
    <a href="#" class="{% ifactivetab "settingsnav" "users" %}active{% else %}inactive{% endifactivetab %}">Users</a>
  </li>
  <li>
    <a href="#" class="{% ifactivetab "settingsnav" "account" %}active{% else %}inactive{% endifactivetab %}">Your DataWinners Account</a>
  </li>
</ul>
{% endblock %}
{% block nav_content %}
{% endblock %}
{% endblock %}
