{% extends 'layout_application.html' %}
{% block page_title %} Account {% endblock %}
{% block section_title %} Settings {% endblock %}

{% load dw_tabs %}
{% block navigation %}
<div class="grid_24 tab_navigation">
  <ul>
    <li class="{% ifactivetab 'tab_nav' 'settings' %}active{% else %}inactive{% endifactivetab %}">
      <a href="{% url datawinners.account.views.settings %}">Application Settings</a>
    </li>
    <li class="{% ifactivetab 'tab_nav' 'users' %}active{% else %}inactive{% endifactivetab %}">
      <a href="{% url datawinners.account.views.settings %}">Users</a>
    </li>
    <li class="{% ifactivetab 'tab_nav' 'account' %}active{% else %}inactive{% endifactivetab %}">
      <a href="{% url datawinners.account.views.edit_user %}">Your DataWinners Account</a>
    </li>
  </ul>
</div>
{% endblock %}

