{% extends 'layout_application.html' %}
{% block page_js %}
{{ block.super }}
<script type="text/javascript"
        src="/media/javascript/tabify.js"></script>
<script type="text/javascript" src="/media/javascript/add_users.js"></script>
{% endblock %}
{% block page_title %} Account {% endblock %}
{% block section_title %} Settings {% endblock %}

{% block content %}
{% block account_navigation %}
<div id = "tabs">
<ul id="settings_nav">
  <li>
    <a href="#tabs-1">Application Settings</a>
  </li>
  <li>
    <a href="#tabs-2">Users</a>
  </li>
  <li>
    <a href="#tabs-3">Your DataWinners Account</a>
  </li>
</ul>
{% block nav_content %}
{% endblock %}
</div>
{% endblock %}

{% endblock %}
