{% extends 'account/index.html' %}
{% block nav_content %}
{% block layout_scss %}
{% include 'application_scss.html' %}
<link href="/media/css/scss/section_registration.scss" rel="stylesheet" />
{% endblock %}
<div id="tabs-1">
  <div class="span-18 box">
    <div class = "form-5px">

      <form method="post" action="/account/" name="form">
        {% csrf_token %}

        <ul class="organization">
          <li class="{{ form.organization_name.css_classes }} form-row-10px">
            {{ organization_form.name.label_tag }}
            {{ organization_form.name }}
            
            {{ organization_form.name.errors }}
          </li>
          <li class="{{ form.organization_sector.css_classes  }} form-row-10px">
            {{ organization_form.sector.label_tag }}
            {{ organization_form.sector }}
            
            {{ organization_form.sector.errors }}
          </li>
          <li class="{{ form.organization_addressline1.css_classes  }} form-row-10px">
            {{ organization_form.addressline1.label_tag }}
            {{ organization_form.addressline1 }}
            
            {{ organization_form.addressline1.errors }}
          </li>
          <li class="{{ form.organization_addressline2.css_classes  }} form-row-10px">
            {{ organization_form.addressline2.label_tag }}
            {{ organization_form.addressline2 }}
            
            {{ organization_form.addressline2.errors }}
          </li>
          <li class="{{ form.organization_city.css_classes  }} form-row-10px">
            {{ organization_form.city.label_tag }}
            {{ organization_form.city }}

            {{ organization_form.city.errors }}
          </li>
          <li class="{{ form.organization_state.css_classes  }} form-row-10px">
            {{ organization_form.state.label_tag }}
            {{ organization_form.state }}
            
            {{ organization_form.state.errors }}
          </li>
          <li class="{{ form.organization_country.css_classes  }} form-row-10px">
            {{ organization_form.country.label_tag }}
            {{ organization_form.country }}
            
            {{ organization_form.country.errors }}
          </li>
          <li class="{{ form.organization_zipcode.css_classes  }} form-row-10px">
            {{ organization_form.zipcode.label_tag }}
            {{ organization_form.zipcode }}
            
            {{ organization_form.zipcode.errors }}
          </li>
          <li class="{{ form.organization_office_phone.css_classes  }} form-row-10px">
            {{ organization_form.office_phone.label_tag }}
            {{ organization_form.office_phone }}
            
            {{ organization_form.office_phone.errors }}
          </li>
          <li class="{{ form.organization_website.css_classes  }} form-row-10px">
            {{ organization_form.website.label_tag }}
            {{ organization_form.website }}
            
            {{ organization_form.website.errors }}
          </li>
          {{ organization_form.org_id.as_hidden }}
          <li class="margin_top_20">
            <input type="submit" value="Edit" class="button" />
          </li>
        </ul>
      </form>
      
    </div>
  </div>
</div>
<div id="tabs-2">
  <span id = "add_users" class="sub-menu-nav" style="background: -moz-linear-gradient(center top , #FEEA89, #FFD857) repeat scroll 0 0 transparent"> Add new users </span>
  <span id = "return_to_users_list" class="sub-menu-nav"
        style="background: -moz-linear-gradient(center top , #FEEA89, #FFD857) repeat scroll 0 0 transparent"> Return to user's list</span>
  <div id="users_list">
    <ul>
      {% for user in users %}
      <li>
        {{ user.user.username }}
      </li>
      {% endfor %}
    </ul>
  </div>
  <div id="user_form" class="span-18 box">
    <div class = "form-5px">
      
      <form method="post" action="/account/user/new/" name="form">
        {% csrf_token %}
        <ul class="administrative">
          <li>
            <h3 class="title">Point of Contact / Account Administrator</h3>
          </li>
          <li class="{{ form.title.css_classes  }} form-row-10px">
            {{ profile_form.title.label_tag }}
            {{ profile_form.title }}
            
            {{ profile_form.title.errors }}
          </li>
          <li class="{{ form.first_name.css_classes  }} form-row-10px">
            {{ profile_form.first_name.label_tag }}
            {{ profile_form.first_name }}
            
            {{ profile_form.first_name.errors }}
          </li>
          <li class="{{ form.last_name.css_classes  }} form-row-10px">
            {{ profile_form.last_name.label_tag }}
            {{ profile_form.last_name }}
            
            {{ profile_form.last_name.errors }}
          </li>
          <li class="{{ form.email.css_classes  }} form-row-10px">
            {{ profile_form.email.label_tag }}
            {{ profile_form.email }}
            
            {{ profile_form.email.errors }}
          </li>
          <li class="{{ form.office_phone.css_classes  }} form-row-10px">
            {{ profile_form.office_phone.label_tag }}
            {{ profile_form.office_phone }}
            
            {{ profile_form.office_phone.errors }}
          </li>
          <li class="{{ form.mobile_phone.css_classes  }} form-row-10px">
            {{ profile_form.mobile_phone.label_tag }}
            {{ profile_form.mobile_phone }}
            
            {{ profile_form.mobile_phone.errors }}
          </li>
          <li class="{{ form.skype.css_classes  }} form-row-10px">
            {{ profile_form.skype.label_tag }}
            {{ profile_form.skype }}
            
            {{ profile_form.skype.errors }}
          </li>
          <li class="margin_top_20">
            <input type="submit" value="Register" class="button" />
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>
{% endblock %}
