{% load i18n %}

<div id="action_dropdown">
    <div class="action_button action_bar clear-both">
        <div class="btn-group">
            <button class="btn dropdown-toggle action" href="#" data-dropdown="#none-selected">{% trans "Actions" %}
                <span class="caret"></span>
            </button>
        </div>
    </div>
    <div id="none-selected" class="dropdown">
        <div class="dropdown-panel">
            {% trans "Select a Data Sender" %}
        </div>
    </div>

    <div id="action" class="dropdown" >
        <ul class="dropdown-menu">
            <li><a class="associate" id="associate">{% trans "Add to project" %}</a></li>
            <li><a class="disassociate" id="disassociate">{% trans "Remove from project" %}</a></li>
            <li><a class="makewebuser" id="makewebuser">{% trans "Give Web Submission Access" %}</a></li>
        {% if EDIT_SUBJECT_ENABLED and not in_trial_mode %}
            <li><a class="edit" id="edit">{% trans "Edit" %}</a></li>
        {% else %}
            {% if in_trial_mode %}
                <li class="disabled on_trial"><a class="edit" id="edit">{% trans "Edit" %} <span class="info">({% trans "not available for trial accounts" %})</span></a></li>
            {% endif %}
        {% endif %}
            <li><a class="delete" id="delete">{% trans "Delete" %}</a></li>
        </ul>
    </div>
</div>
