{% load i18n %}
{% trans "Data Senders" %}
<span class="title_links">
    <img src="/media/images/help_icon.png" class="help_icon" style="margin-top:-6px;">
    <div class="tooltip">
        <p>
            <strong>{% trans "What is this?" %}</strong><br />
            {% trans "q_all_datasenders_add_manually" %}
            <br /><br />
            <strong>{% trans "What do I need to do?" %}</strong><br />
            {% trans "r_all_datasenders_add_manually" %}
        </p>
    </div>
</span>
