{% load i18n %}
<div id='all_groups_block'>
    <ul class="margin_bottom_20 padding_top_10" id="all_groups"></ul>

    <div class="validationMessage none" id="no_group_selected_message">
        <span class="validationText">{% trans "Select atleast one group" %}</span>
    </div>

    <div class="text_align_right">
        <a href="javascript:void(0);" id="cancel_group_dialog" class="cancel_link" >{% trans "Cancel" %}</a>
        <a href="javascript:void(0);" id="add_contacts_to_group" class="button">{% trans "Add" %}</a>
    </div>
</div>
