{% load i18n %}
<div id="web_user_block">
    <div id="all_selected_message" class="all_selected_message"></div>
    <div class="italic">{% trans "Add your Data Senders' email addresses to give them access." %}</div>
    <div class="message-box none" id="web_user_error"></div>
    <table id="web_user_table">
        <thead>
        <th>{% trans "Reporter ID" %} </th>
        <th>{% trans "Name" %} </th>
        <th>{% trans "Location" %} </th>
        <th>{% trans "Questionnaires" %} </th>
        <th>{% trans "Email" %} </th>
        </thead>
        <tbody id="web_user_table_body">

        </tbody>
    </table>
    <div class="submission-controls">
        <a href="#" class="cancel_link">{% trans "Cancel" %}</a>
        <a href="#" class="button" id="web_user_button">{% trans "Give Access" %}</a>
    </div>
</div>
