{% load i18n %}
<div id="account_wide_sms" style="margin-bottom: 10px;">
    <div class="account_wide_sms_title">{% trans "Account-Wide SMS" %}</div>
    <div class="help_accordion" style="text-align: justify">
        {% trans "account wide sms help text" %}
    </div>
    <br/>

    <ol id="sms_messages" start="6" data-bind="foreach: languageViewModel.accountMessages">
        <div>
            <strong>
                <li>
                    <label data-bind="text: $data.title" style="display: inline;"></label>
                    <img src="/media/images/help_icon.png" class="help_icon"
                         style="display: inline;padding-bottom: 5px"
                         data-bind="initializeTooltip:true">
                    {% include "customized_message_tooltip.html" %}

                </li>
            </strong>
        </div>
        <div style="position: relative">
        <div class="TextTags" data-bind="messageEditor: $data.message, attr: {id: 'account_message' + $index() }"></div>
{#        <textarea rows="3" cols="85"#}
{#                  data-bind="value:first160chars($data.message),attr: {id: 'account_message' + $index() },valueUpdate: 'afterkeydown',event:{keyup:$root.checkWarningMsgDisplay($data)}"#}
{#                  class="message_box" maxlength="160"></textarea>#}
        <div class="validationMessage" data-bind="ifnot: $data.message.valid">
                <span id="question_title_validation_message" class="validationText"
                      data-bind="text: $data.message.error"></span>

        </div>
        <div style="width: 616px;position: absolute">
        <div class="account_message_warning_message" style="" data-bind="visible:$data.displayWarning()">{% trans "Any changes you make to this text will apply for all Data Senders." %}</div>

        <div class="account_message_char_count">
            <span data-bind="text:$data.count"></span> {% trans "of 160 characters used" %}
        </div></div>
            </div>
        <br/>
        <br/>
    </ol>
</div>