{% load i18n %}
<div id="account_wide_sms" style="margin-bottom: 10px;">
    <div id="account_wide_sms_title"
         style="color: orange;font-weight: bold; padding-left: 10px;border-bottom: 1px solid #d3d3d3;"> Account-Wide SMS
    </div>
    <div class="help_accordion" style="text-align: justify">
        {% trans "account wide sms help text" %}
    </div>

    <ol id="sms_messages" start="6" data-bind="foreach: languageViewModel.accountMessages">
        <div>
            <strong>
                <li>
                    <label data-bind="text: $data.title" style="display: inline;"></label>
                    <img src="/media/images/help_icon.png" class="help_icon"
                         style="display: inline;padding-bottom: 5px"
                         data-bind="initializeTooltip:true">
                    {% include "customized_message_tooltip.html" %}

                </li>
            </strong>
        </div>

        <textarea rows="3" cols="80"
                  data-bind="value:first160chars($data.message),attr: {id: 'account_message' + $index() },valueUpdate: 'afterkeydown'"
                  style="width: auto;resize: none" maxlength="160"></textarea>

        <div class="validationMessage" data-bind="ifnot: $data.message.valid">
                <span id="question_title_validation_message" class="validationText"
                      data-bind="text: $data.message.error"></span>

        </div>
        <div class="help_accordion charCount" style="display: block">
            <span data-bind="text:$data.count"></span> {% trans "of 160 characters used" %}
        </div>
    </ol>
</div>