{% load i18n %}
<div id="account_wide_sms">
    <div class="account_wide_sms_title">{% trans "Account-Wide SMS" %}</div>
    <div class="help_accordion" style="text-align: justify">
        {% trans "account wide sms help text" %}
    </div>
    <br/>

    <ol class="sms_messages" start="6" data-bind="foreach: languageViewModel.accountMessages">
        <li>
            <div>
                <strong>
                        <label data-bind="text: $data.title" style="display: inline;"></label>
                        <img src="/media/images/help_icon.png" class="help_icon"
                             style="display: inline;padding-bottom: 5px"
                             data-bind="initializeTooltip:true">
                        {% include "customized_message_tooltip.html" %}
                </strong>
            </div>
            <div>
                <div class="TextTags" data-bind="messageEditor: {message: $data.message, count: $data.count, postChangeHandler: $parent.checkWarningMsgDisplay}, attr: {id: 'account_message' + $index() }">
                </div>
                <div class="validationMessage" data-bind="ifnot: $data.message.valid">
                        <span id="question_title_validation_message" class="validationText"
                              data-bind="text: $data.message.error">
                        </span>

                </div>
                <div>
                    <span class="account_message_warning_message" data-bind="visible:$data.displayWarning">{% trans "Any changes you make to this text will apply for all Data Senders." %}
                    </span>
                    <span class="char_count">
                        <span data-bind="text:$data.count"></span> {% trans "of 160 characters used" %}
                    </span>
                </div>
            </div>
        </li>
    </ol>
</div>