{% load i18n %}
<script type="text/javascript">
var sender_registration_link = "{{ registration_link }}";
</script>
    <link href="/media/css/scss/section_datasenders_common.css" rel="stylesheet" />

  {% block messages %}
      <div id="message-label" class="message-box none">
      </div>
  {% endblock %}
<input id='post_url' type="hidden" value="{{ post_url }}"/>
  <div class="application_register">
      {% if message %}
           <div id="flash-message" class="{% if success %}success-message-box{% else %}message-box{% endif %}">
               {{ message }}
           </div>
      {% else %}
           &nbsp;
      {% endif %}

  </div>
<div id="add_data_sender_form" class="">
<h6 class="section_description">{% trans "All fields are required unless marked optional." %}</h6>  <br>

  <form id="registration_form" class="" action="" method="POST">
  <fieldset>
      {% csrf_token %}
      <ul>
          <li class="{{ form.name.css_classes }} form-row-10px">
              {{ form.name.label_tag }}
              {{ form.name }}
              {{ form.name.errors }}
          </li>
          <li class="{{ form.devices.css_classes }} horizontal_list">
              <ul>
                  <li class="device_label">
                      {{ form.devices.label_tag }}
                      {{ form.devices }}
                      {{ form.devices.errors }}
                  </li>
                  <li id="user_creation_info" class="italic_grey clear-left margin_left_180 instruction_text">
                    <br/>{% trans "user_creation_info" %}
                  </li>
              </ul>
              <br/>
          </li>
          <li class="{{ form.email.css_classes }} form-row-10px" id="email_field">
              {{ form.email.label_tag }}
              {{ form.email }}
              {{ form.email.errors }}
          </li>
          <li class="margin_top_null margin_left_180 italic_grey clear-left instruction_text" id="email_field_help_text">
                  {% trans "email_example" %}
          </li>

          <li class="{{ form.telephone_number.css_classes }} form-row-10px">
              {{ form.telephone_number.label_tag }}
              {{ form.telephone_number }}
              {{ form.telephone_number.errors }}
          </li>
          <li class="margin_top_null margin_left_180 italic_grey clear-left instruction_text">
                  {% trans "phone_number_example" %}
          </li>
          <li class="{{ form.location.css_classes }} form-row-10px">
              <label>{% trans "Location" %}</label>
              <ul class="location_section">
                  <li class="italic_grey" style="margin-bottom: 5px">
                      {% trans "location_example" %}
                  </li>
                  <li>
                      {{ form.location.label_tag }}
                      {{ form.location }}
                      {{ form.location.errors }}
                  </li>
                  <li class="italic_grey margin_bottom_5 instruction_text">
                      {% trans "location_name_example" %}
                  </li>
                  <li class="{{ form.geo_code.css_classes }} form-row-10px">
                      <div class="clearfix">
                          <label for="id_{{ form.geo_code.name }}" style="float: left;">{{ form.geo_code.label  }}</label>
                          <a href="http://itouchmap.com/latlong.html" class="find_gps_{% trans "en" %}" target="_blank">{% trans "Find GPS coordinates" %}</a>
                      </div>
                      {{ form.geo_code }}
                      {{ form.geo_code.errors }}

                  </li>
                  <li class="italic_grey margin_bottom_5 instruction_text">
                      {% trans "location_coordinate_example" %}
                  </li>

                  <li>
                      {{ form.project_id.as_hidden }}
                  </li>
              </ul>
          </li>
          <li class="{{ form.short_code.css_classes }} form-row-10px">
              {{ form.short_code.label_tag }}
              {{ form.short_code }}

              {% if form.short_code.errors %}


              {{ form.short_code.errors }}


              {% endif %}

               <br class="clear"/>
               <label style="width: 165px;">&nbsp;</label>
               <span><input type="checkbox" id="generate_id" name="generate_id" value="" {% if not form.short_code.value %}checked="checked"{% endif %} />{% trans "Let us generate an ID for you" %}</span>



          </li>
          <li class="button_block">
              <a class="cancel_link" onclick="cancel_handler()">{% trans "Cancel" %}</a>
              <input type="button" id="id_register_button" value="{% trans 'Register' %}" class="button margin_top_20"/>
          </li>
      </ul>
  </fieldset>
</form>
</div>