<script type="text/javascript" src="/media/javascript/project/register_reporter.js"></script>
{% load i18n %}
{% block messages %}
    <div id="message-label" class="message-box none">
    </div>
{% endblock %}

<script type="text/javascript">
    var sender_registration_link = "/entity/datasender/edit/{{ reporter_id }}/";
</script>
<link href="/media/css/scss/section_datasenders_common.css" rel="stylesheet"/>


<input id='post_url' type="hidden" value="{{ post_url }}"/>
<div id="add_data_sender_form" class="">

<form id="registration_form" class="" action="" method="POST">
    <div class="application_register">
        {% if message %}
            <div id="flash-message" class="success-message-box">
                {{ message }}
            </div>
        {% endif %}
    </div>

    <fieldset>
        {% csrf_token %}

        <ul>
            <li>
                <h6>{% trans "You are editing the Data Senderʼs Details" %}</h6>
            </li>
            <li class="{{ form.name.css_classes }} form-row-10px">
                {{ form.name.label_tag }}
                {{ form.name }}
                {{ form.name.errors }}
            </li>
            <li class="{{ form.name.css_classes }} form-row-10px">
                <label>ID</label>
                {{ reporter_id }}
            </li>
            <li class="{{ form.telephone_number.css_classes }} form-row-10px">
                {{ form.telephone_number.label_tag }}
                {{ form.telephone_number }}
                {{ form.telephone_number.errors }}
            </li>
            <li class="margin_top_null margin_left_180 italic_grey clear-left instruction_text">
                {% trans "phone_number_example" %}
            </li>
            {% if email %}
            <li class="{{ form.name.css_classes }} form-row-10px" id="email-li">
                <label>{% trans "Email address" %}</label>
                {{ email }}
            </li>
            {% endif %}
            <li class="margin_top_null margin_left_180 italic_grey clear-left instruction_text"
                id="email_field_help_text">
                {% trans "email_example" %}
            </li>
            <li class="{{ form.location.css_classes }} form-row-10px">
                <label>{% trans "Location" %}</label>
                <ul class="location_section">
                    <li class="italic_grey" style="margin-bottom: 5px">
                        {% trans "location_example" %}
                    </li>
                    <li>
                        {{ form.location.label_tag }}
                        {{ form.location }}
                        {{ form.location.errors }}
                    <li class="italic_grey margin_bottom_5 instruction_text">
                        {% trans "location_name_example" %}
                    </li>
                    <li class="{{ form.geo_code.css_classes }} form-row-10px">
                        <div class="clearfix">
                            <label for="id_{{ form.geo_code.name }}" style="float: left;">{{ form.geo_code.label  }}</label>
                            <a href="http://itouchmap.com/latlong.html" class="find_gps_{% trans "en" %}" target="_blank">{% trans "Find GPS coordinates" %}</a>
                        </div>
                        {{ form.geo_code }}
                        {{ form.geo_code.errors }}

                    </li>
                    <li class="italic_grey margin_bottom_5 instruction_text">
                        {% trans "location_coordinate_example" %}
                    </li>

                    <li>
                        {{ form.project_id.as_hidden }}
                    </li>
                </ul>
            </li>
            <li>
                <div class="button_block">
                    {% block cancel_block %}
                        <a id="cancel" onclick="cancel_handler()">{% trans "Cancel Editing" %}</a>
{#                        {% include "warning_section.html" %}#}
                    {% endblock %}
                    <input type="button" id="id_register_button" value="{% trans 'Save Changes' %}"
                           class="button margin_top_20"/>
                </div>
            </li>
        </ul>
    </fieldset>
</form>
</div>