{% load i18n %}
{% load field_tags %}
<div id="container_header_wizard" >
    <div class="container_24" id="header_wizard">
        <div id="header" class="grid_24">
            {% if user.is_authenticated %}
                <div class="grid_24 omega login text_align_right">
                    <span class="welcome">{% trans "Welcome" %} {{ user.first_name }}! </span>
                    <span class="{{ hide_link_class }}"><a href="{% url accountmanagement.views.edit_user %}">{% trans "Your Profile" %}</a></span>
                    {% if user.groups.all.0.name == 'NGO Admins' %}
                        <span><a href="{% url accountmanagement.views.settings %}" class="{{ disable_link_class }} account">{% trans "wizard_account" %}</a></span>
                    {% endif %}
                    <span>  <a id="dw_help_link" href="{{ support_help_link }}" target="_blank">{% trans 'Help' %}</a> </span>
                    <span>  <a  id="french" href="{% url datawinners.home.views.switch_language "fr" %}" >{{ "Fran&ccedil;ais"|active_language }}</a> </span>
                    <span>  <a id="english" href="{% url datawinners.home.views.switch_language "en" %}">{{ "English"|active_language }}</a> </span>
                    <span>  <a href="{% url django.contrib.auth.views.logout %}">{% trans "Sign out" %}</a> </span>
                </div>
            {% else %}
                <div class="grid_24 omega login text_align_right">
                    <div class="grid_11 alpha logo">
                    </div>
                    <span>  <a  id="french" href="{% url datawinners.home.views.switch_language "fr" %}">Fran&ccedil;ais</a> </span>
                    <span>  <a id="english" href="{% url datawinners.home.views.switch_language "en" %}">English</a> </span>
                    <span>  <a href="{% url django.contrib.auth.views.login %}">{% trans "Sign In" %}</a> </span>
                    <span>  <a href="{% url registration.views.register %}"
                        {% ifequal messages.request.path "/register/" %}
                            class="active"
                        {% else %}
                            {% ifequal messages.request.path "/register/trial/" %}
                                class="active"
                            {%  endifequal %}
                        {% endifequal %}>{% trans "Sign Up" %}</a> </span>
                </div>
            {% endif %}
        </div>
    </div>
</div>
