{% load i18n %}
        <div class="import_subject_form">
            {% trans "To import a list of Data Senders follow these steps" %}
            <ul class="bulleted">
                <li>{% trans "Download the template" %}</li>
                <li>{% trans "Fill out the template with your Data Senders information" %}</li>
                <li>{% trans "Save the template on your computer" %}</li>
                <li>{% trans "Click the gold Upload a file button and select the saved template" %}</li>
            </ul>
            <div id="file-uploader" class="grid">
                <noscript>
                    <p>{% trans "Please enable JavaScript to use file uploader." %}</p>
                    <!-- or put a simple form for upload here -->
                </noscript>
                <div id="file_uploader" class="float_left grid_5"></div>
                <div class="clear"></div>
            </div>
            <div class="error" class="margin_top_15">{% trans "Use this "%}<a class="import_link" href="/media/files/{% if current_language == 'en' %}DataWinners_ImportDataSenders.xls{% else %}DataWinners_ImporterLesEnvoyeursDeDonnees.xls{% endif %}">{% trans "Import Template"%}</a></div>
            <div class="clear"></div>
             <br/>
            <div id="success_import_section" class="import_section">
                <div id="success_table_message" class="import_message"></div>
                <div class="import_table">
                    <table class="styled_table">
                    <thead>
                        <tr>
                            <th>{% trans "Name" %}</th>
                            <th>{% trans "Unique ID" %}</th>
                            <th>{% trans "Location" %}</th>
                            <th>{% trans "GPS Coordinates" %}</th>
                            <th>{% trans "Mobile Number" %}</th>
                            <th>{% trans "Email address" %}</th>
                        </tr>
                    </thead>
                    <tbody id="success_body">
                    </tbody>
                    </table>
                </div>
            </div>
            <div id='error_import_section' class="import_section">
                <div id="error_table_message" class="import_message"></div>
                <div class="import_table">
                    <table class="styled_table">
                        <thead>
                        <tr>
                            <th>{% trans "Row Number" %}</th>
                            <th>{% trans "Row" %}</th>
                            <th>{% trans "Error" %}</th>
                        </tr>
                        </thead>
                        <tbody id='error_body'>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="float_right">
                <a href="javascript:void(0);" class="button close_import_dialog">{% trans "Close" %}</a>
            </div>
            
        </div>