<script type="text/javascript" src="/media/javascript/jquery.js"></script>
<script type="text/javascript" src="/media/javascript/jquery.cookie.js"></script>
<script type="text/javascript" src="/media/javascript/JSON_fix/json2.js"></script>
<script type="text/javascript" src="/media/javascript/jquery.validate.js"></script>
<script type="text/javascript" src="/media/javascript/jquery.watermark.js"></script>
<script type="text/javascript" src="/media/javascript/jquery.tmpl.js"></script>
<script type="text/javascript" src="/media/javascript/knockout.js"></script>
<script type="text/javascript" src="/media/javascript/knockout.validation.min.js"></script>
<script type="text/javascript" src="/media/javascript/global.js"></script>
<script type="text/javascript" src="/media/javascript/jquery.blockUI.js"></script>
<script type="text/javascript" src="/media/javascript/jquery.tools.min.js"></script>
<script type="text/javascript" src="/media/javascript/datawinners.js"></script>
<script type="text/javascript">
    {% if GOOGLE_ANALYTICS_ENABLED %}
        var _gaq = _gaq || [];
        //CI
        _gaq.push(['_setAccount', 'UA-35575996-1']);
        _gaq.push(["_setAllowLinker", true]);
        _gaq.push(['_setSiteSpeedSampleRate', 10]);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    {% endif %}
</script>
