{% extends 'layout_application.html' %}
{% load i18n %}
{% block page_title %}{% trans "Languages" %}{% endblock %}
{% block section_title %}{% trans "Languages for Automatic Reply SMS" %}
{% endblock %}

{% load dw_tabs %}
{% block body %}
    {% activetab "main_nav" "languages" %}
    {{ block.super }}
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript">
    var languages = {{ available_languages|safe }};
    var current_language = "{{ current_language }}"
    </script>
    <script type="text/javascript" src="/media/javascript/common/lang/language_view_model.js"></script>
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_questionnaire.css" rel="stylesheet"/>
{% endblock %}
{% block content %}

    <div class="help_accordion" style="text-align: justify">
        {% trans "Datawinners analyzes each of the SMS Submission and automatically sends back an SMS reply. For each Questionnaire you can choose the language of these automatic reply SMS. Click on the dropdown and choose a language to view and edit the suggested automatic reply SMS text. You can also add new languages to meet your needs." %}
    </div>

    <div style="padding-top: 12px">
        <strong>{% trans "Languages for SMS Reply Messages" %}</strong>
        <select id="language" name="language_option" style="display: block"
                data-bind="options: languageViewModel.availableLanguages,value: language"
                class="dropdown_style"></select>

    </div>

{% endblock %}