{% extends 'layout_application.html' %}
{% load i18n %}
{% block page_title %}{% trans "Languages" %}{% endblock %}
{% block section_title %}{% trans "Languages for Automatic Reply SMS" %}
{% endblock %}

{% load dw_tabs %}
{% block body %}
    {% activetab "main_nav" "languages" %}
    {{ block.super }}
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript">
    var languages = {{ available_languages|safe }};
    var current_language = "{{ current_language|safe }}";
    $(function(){

    });
    </script>
    <script type="text/javascript" src="/media/javascript/dw-ko-validation-extensions.js"></script>
    <script type="text/javascript" src="/media/javascript/common/form_edited_warning_dialog.js"></script>
    <script type="text/javascript" src="/media/javascript/common/lang/language_view_model.js"></script>
{% endblock %}

{% block page_scss %}
    {{ block.super }}

    <link href="/media/css/scss/languages.css" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <div class="success-message-box" style="display: none;"></div>
    <div class="help_accordion" style="text-align: justify">
        {% trans "Datawinners analyzes each of the SMS Submission and automatically sends back an SMS reply. For each Questionnaire you can choose the language of these automatic reply SMS. Click on the dropdown and choose a language to view and edit the suggested automatic reply SMS text. You can also add new languages to meet your needs." %}
    </div>

    <div style="padding-top: 12px">
        <strong>{% trans "Languages for SMS Reply Messages" %}</strong>
        <select id="language" name="language_option" style="display: block"
                data-bind="options: languageViewModel.availableLanguages,optionsText:'name',optionsValue:'code', value:language"
                class="dropdown_style"></select>

    </div>
    <div class="clear"></div>
    <br/>
    <div>
        <ol data-bind="foreach: languageViewModel.customizedMessages">
            <strong><li data-bind="text: $data.title"></li></strong>
            <textarea rows="3" cols="80" data-bind="value:$data.message" style="width: auto;resize: none"></textarea>
            <div class="validationMessage" data-bind="ifnot: $data.message.valid">
                <span id="question_title_validation_message" class="validationText" data-bind="text: $data.message.error"></span>
            </div>
        </ol>
    </div>
    <br/>
    <div><a class="button save" id="language_save" data-bind="text:$root.saveButtonText,click:save,css:{'ui-state-disabled': isValid() != true}"></a></div>

    <div id="cancel_language_changes_warning">
        {% trans "Do you want to save the changes before leaving this page?" %}<br/>
        <p class="font_size_13">{% trans "Your changes will be lost if you don't save them." %}</p>

        <div class="text_align_right padding_top_20">
            <a id="cancel_dialog" href="javascript:void(0);">{% trans "Cancel" %}</a>
            <a id="ignore_changes" class="button_blue no_button">{% trans "Don't Save" %}</a>
            <a id="save_changes" class="button yes_button">{% trans "Save" %}</a>
        </div>
    </div>

{% endblock %}