<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/media/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/media/images/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% load i18n %}
    <title>
        {% block page_title %} {% endblock %}
    </title>
{#     The Meta tags added page level will be extended here. #}
    {% block page_meta %} {% endblock %}

{#     This block compress the CSS on the fly. #}
    {% load compress %}
    {% compress css %}
        {% include 'master_css.html' %}
        {% include 'master_scss.html' %}
        {% block layout_css %}{% endblock %}
        {% block layout_scss %}{% endblock %}
        {% block page_css %}{% endblock %}
        {% block page_scss %} {% endblock %}
    {% endcompress %}

    <!--[if gte IE 7]>
        <link href="/media/css/plugins/960gd/ie.css" rel="stylesheet" type="text/css" media="screen, print" />
    <![endif]-->
    <!--[if IE 7]>
        <link href="/media/css/plugins/960gd/ie7.css" rel="stylesheet" type="text/css" media="screen, print" />
    <![endif]-->

    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>

    {% compress js %}
         {% include 'javascript.html' %}
        <!--[if IE 7]>
            {% block ie7_js %} {% endblock %}
        <![endif]-->

    <script type="text/javascript" src="/media/javascript/messages_{% trans "en" %}.js"></script>

    {% block uncompress %}{% endblock %}

         {% block page_js %} {% endblock %}
    {% endcompress %}

</head>
{% load i18n %}
<body>
    <noscript>
        <p class="message-box margin_left_20">{% trans "Javascript is disabled in your browser, Please enable it." %}</p>
    </noscript>
    <div id="global_error">
    </div>
    <input type="hidden" id="debug" name="debug" value="{{ DEBUG }}">
    {% block body %} {% endblock %}
</body>
</html>
