<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="shortcut icon" href="/media/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/media/images/favicon.ico" type="image/x-icon">
    {% load i18n %}
    <title>
        {% block page_title %} {% endblock %}
    </title>
{#     The Meta tags added page level will be extended here. #}
    {% block page_meta %} {% endblock %}

{#     This block compress the CSS on the fly. #}
    {% load compress %}
    {% compress css %}
        {% include 'master_css.html' %}
        {% include 'master_scss.html' %}
    {% endcompress %}

{#     This block compiles and compress the SCSS to CSS on the fly. #}
    {% load compress %}
    {% compress css %}
        {% block layout_css %}{% endblock %}
        {% block layout_scss %}{% endblock %}
        {% block page_css %}{% endblock %}
        {% block page_scss %} {% endblock %}
    {% endcompress %}

    <!--[if gte IE 7]>
        <link href="/media/css/plugins/960gd/ie.css" rel="stylesheet" type="text/css" media="screen" />
    <![endif]-->
    <!--[if IE 7]>
        <link href="/media/css/plugins/960gd/ie7.css" rel="stylesheet" type="text/css" media="screen" />
    <![endif]-->

    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>

    {% load compress %}
    {% compress js %}
         {% include 'javascript.html' %}
    {% endcompress %}
    
    <script type="text/javascript" src="/media/javascript/messages_{% trans "en" %}.js"></script>

    {% block uncompress %}{% endblock %}

    {% load compress %}
    {% compress js %}
         {% block page_js %} {% endblock %}
    {% endcompress %}

<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};
  feedback_widget_options.display = "overlay";
  feedback_widget_options.company = "datawinners";
  feedback_widget_options.placement = "left";
  feedback_widget_options.color = "#222";
  feedback_widget_options.style = "idea";
  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>

</head>
{% load i18n %}
<body>
    <noscript>
        <p class="message-box margin_left_20">{% trans "Javascript is disabled in your browser, Please enable it." %}</p>
    </noscript>
    <div id="global_error">
    </div>
    <input type="hidden" id="debug" name="debug" value="{{ DEBUG }}">
    {% block body %} {% endblock %}
</body>
</html>
