{% extends 'site.html' %}

{% block body %}
    <div id="container" class="container">
        <div class="span-24 last">{% include 'header.html' %} {% block page_header %} {% endblock %}</div>
        {% block messages %} {% for message in messages %}
            <div class="{{ message.tags }} span-12 push-6 message-box">{{ message }}</div>
        {% endfor %}  {% endblock %}
        {% block content %} {% endblock %}
        <div class="span-24 last">{% include 'footer.html' %} {% block page_footer %} {% endblock %}</div>
    </div>
{% endblock %}