{% load i18n %}
{% load dw_tabs %}
{% block main_navigation %}
    <div id="main_tab">
        <div class="grid_3 alpha logo">
                <a href="{% url dashboard %}"><img src="/media/images/datawinners_logo.png"/></a>
        </div>
        <ul class="{{ hide_link_class }}">
            <li class ="{% ifactivetab 'main_nav' 'dashboard' %}active{% else %}inactive{% endifactivetab %}">
                <a id="global_dashboard_link" href="{% url datawinners.dashboard.views.dashboard %}" class="{{ disable_link_class }}">{% trans "Dashboard" %}</a>
            </li>
            <li class ="{% ifactivetab 'main_nav' 'questionnaires' %}active{% else %}inactive{% endifactivetab %}">
                <a id="global_all_data_link" href="/alldata/">{% trans "Questionnaires" %}</a>
            </li>
            <li  class ="{% ifactivetab 'main_nav' 'data_senders' %}active{% else %}inactive{% endifactivetab %}">
                <a id="global_datasenders_link" href="{% url all_datasenders %}" class="{{ disable_link_class }}">{% trans "Contacts" %}</a>
            </li>
            <li class ="{% ifactivetab 'main_nav' 'subjects' %}active{% else %}inactive{% endifactivetab %}">
                <a id="global_subjects_link" href="{% url datawinners.entity.views.all_subject_types %}" class="{{ disable_link_class }}">{% trans "Identification Numbers" %}</a>
            </li>
            <li class ="{% ifactivetab 'main_nav' 'languages' %}active{% else %}inactive{% endifactivetab %} padding_right_null">
                <a id="global_languages_link" href="/customizemessages">{% trans "Languages" %}</a>
            </li>
        </ul>
    </div>
    <div id='ie8-warning' class="ie8-warning-{{ active_language }} none information_box">
        {% trans 'You are using an unsupported browser version. Some features may not work correctly.'%} <a target="_blank" href="http://whatbrowser.org/">{% trans 'Update your browser '%}</a> {% trans 'now.'%} <a href="javascript:void(0);" id="close-ie-msg">{% trans ' OK got it' %}</a>
    </div>
{% endblock %}
