<head>
    <meta charset="UTF-8">
    <title>
        Site is down
    </title>

    <link rel="stylesheet" href="/media/css/plugins/960gd/reset.css" type="text/css" media="screen, projection, print">
    <link rel="stylesheet" href="/media/css/plugins/960gd/960_24_col.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/media/css/plugins/960gd/text.css" type="text/css" media="screen, projection, print">
    <link rel="stylesheet" href="/media/css/scss/section_application.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/media/css/scss/section_header.css" media="screen">


    <!--[if gte IE 7]>
        <link href="/media/css/plugins/960gd/ie.css" rel="stylesheet" type="text/css" media="screen, print" />
    <![endif]-->
    <!--[if IE 7]>
        <link href="/media/css/plugins/960gd/ie7.css" rel="stylesheet" type="text/css" media="screen, print" />
    <![endif]-->


</head>
<div id="container_header_application">
    <div id="header_application" class="container_24">
        <div id="container_header_wizard" >
            <div class="container_24" id="header_wizard">
                <div id="header" class="grid_24">
                        <div class="grid_24 omega login text_align_right">
                            <div class="grid_11 alpha logo">
                            </div>
                        </div>
                </div>
            </div>
        </div>

        <div id="main_tab">
            <div class="grid_6 alpha logo">
                <img src="/media/images/datawinners_logo.png"/>
            </div>
        </div>
    </div>
</div>

<div id="container_content">


    <div id="page_title">
        Website Down for Maintenance
    </div>
    <div class="container_24">
        <div class="grid_23 content">
            <h6>We are currently improving the Datawinners platform. Check back in few hours to see our newly added functionalities! </h6><br>
            <p>Français</p>
            <img src="/media/images/website_under_construction1.png" style="width: 100%; margin-top: 70px">
        </div>
    </div>
</div>
