<link rel="stylesheet" href="/media/javascript/OpenLayers-v3.15.1-dist/ol.css" media="screen">
<link rel="stylesheet" href="/media/javascript/OpenLayers-v3.15.1-dist/ol3-popup.css" media="screen">
<link rel="stylesheet" href="/media/javascript/OpenLayers-v3.15.1-dist/ol3-layerswitcher.css" media="screen">
<link rel="stylesheet" type="text/css" href="/media/css/scss/section_map.css" media="screen">

<script type="text/javascript" src="/media/javascript/OpenLayers-v3.15.1-dist/ol.js"></script>
<script type="text/javascript" src="/media/javascript/OpenLayers-v3.15.1-dist/ol3-popup.js"></script>
<script type="text/javascript" src="/media/javascript/OpenLayers-v3.15.1-dist/ol3-layerswitcher.js"></script>
<script type="text/javascript" src="/media/javascript/mapping.js"></script>
<script type="text/javascript">
    var entity_type = '{{ entity_type }}';
    $(document).ready(function() {
        init_map2();
    });
</script>

<div id="map" style="height:400px; margin-top:20px;" class="grid_23"> </div>