<link rel="stylesheet" href="/media/javascript/OpenLayers-v3.17.1-dist/ol.css" media="screen">
<link rel="stylesheet" href="/media/javascript/OpenLayers-v3.17.1-dist/ol3-popup.css" media="screen">
<link rel="stylesheet" href="/media/javascript/OpenLayers-v3.17.1-dist/ol3-geocoder.css" media="screen">
<link rel="stylesheet" href="/media/javascript/OpenLayers-v3.17.1-dist/ol3-layerswitcher.css" media="screen">
<link rel="stylesheet" type="text/css" href="/media/css/scss/section_map.css" media="screen">

{% if is_public %}
    <script type="text/javascript" src="/media/javascript/jquery.js"></script>
    <script type="text/javascript" src="/media/javascript/jqueryUI/jquery-ui-1.8.13.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/media/css/plugins/jqueryUI/jquery-ui-1.8.13.custom.css" media="screen">
{% endif %}

<script type="text/javascript" src="/media/javascript/OpenLayers-v3.17.1-dist/ol.js"></script>
<script type="text/javascript" src="/media/javascript/OpenLayers-v3.17.1-dist/ol3-popup.js"></script>
<script type="text/javascript" src="/media/javascript/OpenLayers-v3.17.1-dist/ol3-geocoder.js"></script>
<script type="text/javascript" src="/media/javascript/OpenLayers-v3.17.1-dist/ol3-layerswitcher.js"></script>
<script type="text/javascript" src="/media/javascript/mapping.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        new Map({{ geo_json|safe }}).init('{{ entity_type }}');
    });
</script>

<div id="filter-control" class="filter-control ol-control">
    <button class="title"></button>
    <div id="filters" class="filters">
        {% for filter in filters %}
            <h3 id="{{ filter.code }}">{{ filter.label }}</h3>
            <div>
                {% for choice in filter.choices %}
                    <div id="{{ choice.val }}">{{ choice.text }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>

<div id="map" style="height:400px; margin-top:20px;" class="grid_23"></div>

<div id="popup" style="display:none;">
    <div>
        <p class="p_head">{entity}</p>
        <hr/>
        <p>{entity_type} <code class="p_short_code">{entity_code}</code></p>
        <p><code class="p_geo_code">{geo_code}</code></p>
    </div>
</div>