{% load i18n %}
{% block page_js %}
    <script type="text/javascript">
        $(document).ready(function(){
            var help_url = "https://datawinners.staging.wpengine.com/";
            
            $.ajax({
                url: help_url,
                data: {},
                global: false,
                error: function(r){
                    $('#help_iframe').addClass("none");
                    $("#help_unavailable").removeClass("none");
                },
                complete: function(xhr, statusText){
                    if (xhr.status == 200){
                        $("#help_iframe").attr("src", help_url);
                        $("#help_iframe").addClass("block");
                    } else {
                        $('#help_iframe').addClass("none");
                        $("#help_unavailable").removeClass("none");
                    }
                }
            });

            $( "#need_help_link" ).click(function() {
                $('#div_iframe').removeClass("none");
                $("#need_help_link").addClass("active_button");
                return false;
            });
            $( ".close_help_button" ).click(function() {
                $("#div_iframe").addClass("none");
                $("#need_help_link").removeClass("active_button");
                return false;
            });
        });
    </script>
{% endblock %}

{% block help_button %}

        <a href="javascript:void(0);" class="float_right" id="need_help_link">
            <img src="/media/images/help_button.png" border="2">
        </a>

        <div class="padding_left_right_10 none" id="div_iframe">
            <a class="close_help_button float_right"><img src="/media/images/close_button.png" class="close_help_button"><span class="font_size_12">Close Window</span></a>
            <iframe src="" width="860" name="myFrame" scrolling="no" id="help_iframe" class="float_right"></iframe>
            <div id="help_unavailable" class="none clear_both text_align_center">
                {% trans "The help is unavailable for a moment." %}
            </div>
            <a class="close_help_button float_right"><img src="/media/images/close_button.png" class="close_help_button"><span class="font_size_12">Close Window</span></a>
        </div>
    
{% endblock %}