{% load i18n %}
{% block page_js %}
    <script type="text/javascript">
        $(document).ready(function(){
            function resize_iframe(event) {
                $("#help_iframe").height(event.data);
            }
            
            $.ajax({
                url: DW.help_url,
                data: {},
                global: false,
                error: function(r){
                    $('#help_iframe').addClass("none");
                    $("#help_unavailable").removeClass("none");
                },
                complete: function(xhr, statusText){
                    if (xhr.status == 200){
                        $("#help_iframe").attr("src", DW.help_url);
                        $("#help_iframe").addClass("block");
                    } else {
                        $('#help_iframe').addClass("none");
                        $("#help_unavailable").removeClass("none");
                    }
                }
            });

            $("#need_help_link").click(function() {
                $("#div_iframe").removeClass("none");
                $("#help_iframe").addClass("block");
                $("#need_help_button").addClass("none");
                $('#need_help_active_button').removeClass("none");
                return false;
            });

            $("#help_iframe").load(function(){
                if (window.addEventListener) {
                    window.addEventListener("message", resize_iframe, false);
                }else if (window.attachEvent) {
                    window.attachEvent("onmessage", resize_iframe);
                }
            });

            $(".close_help_button").click(function() {
                $("#div_iframe").addClass("none");
                $("#need_help_active_button").addClass("none");
                $('#need_help_button').removeClass("none");
            });


       });
    </script>
{% endblock %}

{% block help_button %}
    <a href="javascript:void(0);" target="myFrame" class="float_right" id="need_help_link">
        <img src="/media/images/help_button.png" id="need_help_button">
        <img src="/media/images/help_button_active.png" id="need_help_active_button" class="none">
    </a>

    <div class="padding_left_right_10 none" id="div_iframe">
        <a class="close_help_button float_right"><img src="/media/images/close_button.png" class="close_help_button"><span class="font_size_12">Close</span></a>
        <iframe src="" width="860" name="myFrame" scrolling="no" id="help_iframe" class="float_right"></iframe>
        <div id="help_unavailable" class="none clear_both text_align_center">
                {% trans "The help is unavailable for a moment." %}
            </div>
        <a class="close_help_button float_right"><img src="/media/images/close_button.png" class="close_help_button"><span class="font_size_12">Close</span></a>
    </div>
{% endblock %}