{% load i18n %}
        <div class="popup-import" id="popup-{{ subject.entity }}">
            {% blocktrans with subject.entity as entity_type %}To import a list of {{ entity_type }} follow these steps{% endblocktrans %}
            <ul class="bulleted">
                <li>{% blocktrans with subject.entity as entity_type %}Download the template {{ entity_type }}.xls{% endblocktrans %}</li>
                <li>{% blocktrans with subject.entity as entity_type %}Fill out the template with your {{ entity_type }}' information{% endblocktrans %}</li>
                <li>{% blocktrans with subject.entity as entity_type %}The last question is optional.  If you already have ID numbers for your {{ entity_type }}, fill them in.  If not, DataWinners will generate them for you{% endblocktrans %}</li>
                <li>{% trans "Save the template on your computer" %}</li>
                <li>{% trans "Click the gold Upload a file button and select the saved template" %}</li>
            </ul>
            <br/>
            <div class="file-uploader float_left" id="import-{{ subject.code }}">
                <noscript>
                    <p>{% trans "Please enable JavaScript to use file uploader." %}</p>
                    <!-- or put a simple form for upload here -->
                </noscript>
                <div class="clear"></div>
            </div>
            <div class="error">{% trans "Download the template:"%} <a href="{% url datawinners.entity.views.export_template subject.entity %}">{{ subject.entity }}.xls</a></div>
            <table class="styled_table">
                <thead>
                    <tr>
                    {% for title in subject.labels %}
                        <th>{{ title }}</th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody id="{{ subject.code }}_table">
                </tbody>
            </table>
            <div>
                Note:
                <ul class="bulleted">
                    <li>{% blocktrans with subject.entity as entity_type and subject.entity as form_code %}You cannot add new columns in your Excel file to create new question. <a href='javascript:void(0);' id='to-edit-{{ form_code }}' class='edit-form-code-link' >Edit the {{ entity_type }} Registration Form</a> to make these changes.{% endblocktrans %}</li>
                </ul>
            </div>
            <div class='error_table none' id="{{ subject.code }}_error_table">
                <br/>
                <table class="styled_table">
                    <thead>
                        <tr>
                            <th>{% trans "Row Number" %}</th>
                            <th>{% trans "Row" %}</th>
                            <th>{% trans "Error" %}</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <br/>
            <div style="display: inline;float:right;">
                <a href="javascript:void(0);" id="close-import-{{ subject.entity }}" class="button close_import_dialog">{% trans "Close" %}</a>
            </div>
        </div>