<div id="footer" class="container_24">
    <div class="grid_6">
        <a href="{% url datawinners.home.views.index %}"><img src="/media/images/logo_footer_dw.png" alt="DataWinners" width="147" height="23"></a><br/>
        <span class="italic">A part of <a href="www.datawinners.com/en/about-us">Human Network International</a></span>
        <p>
            HNI provides partners with the opportunity to embrace, reshape and maximize the use of information and communication technology in productive and sustainable ways.
            <br /><a href="www.datawinners.com/en/about-us">Learn more about us &raquo;</a>
        </p>
    </div>
    <div class="grid_1"><img src="/media/images/dw_footer_pipe.gif" width="15" height="190" alt=""></div>
    <div class="grid_4">
        <ul>
            <li><a href="www.datawinners.com/en/what-is-datawinners">What is DataWinners</a></li>
            <li><a href="www.datawinners.com/en/success-stories">Success Stories</a></li>
            <li><a href="www.datawinners.com/en/pricing">Pricing</a></li>
            <li><a href="www.datawinners.com/en/support">Support</a></li>
            <li><a href="www.datawinners.com/en/about-us">About Us</a></li>
            <li><a href="www.datawinners.com/en/terms-and-conditions/">Terms and Conditions</a></li>
            <li><a href="www.datawinners.com/en/privacy-and-policy/">Privacy and Policy</a></li>
        </ul>
    </div>
    <div class="grid_1"><img src="/media/images/dw_footer_pipe.gif" width="15" height="190" alt=""></div>
    <div class="grid_7">
        <strong>Our Partners &amp; Clients</strong><br/><br/>
        <img src="/media/images/logo_footer_airtel.png" alt="Airtel" width="67" height="24">
        <img src="/media/images/logo_footer_thoughtworks.png" alt="Thoughtworks" width="119" height="24"><br/>
        <img src="/media/images/logo_footer_modi.png" alt="Modi research group" width="72" height="26">
        <img src="/media/images/logo_footer_mule.png" alt="Mule" width="87" height="28"><br/><br/>
        <span style="color: #AFDD88;">Learn more about our <a href="www.datawinners.com/en/about-us/partners">partners</a> &amp;
        <a href="www.datawinners.com/en/about-us/clients">clients &raquo;</a></span>
    </div>
    <div class="grid_1"><img src="/media/images/dw_footer_pipe.gif" width="15" height="190" alt=""></div>
    <div class="grid_5">
        <strong>Latest news</strong>
        <p>

        </p>
    </div>
    <div class="clear"></div>
</div>
