<div id="container_header_wizard" >
    <div class="container_24" id="header">
        <div class="grid_20 text_align_right">
            Langues :
            <a href="/home/en" class="first">Anglais</a>
            <a href="/home/fr">Fran&ccedil;ais</a>
        </div>
        <div class="grid_4 login text_align_center float_right">
            <span><a href="{% url django.contrib.auth.views.login %}" class="first">Se connecter</a></span>
            <span><a href="{% url registration.views.register %}">S'inscrire</a></span>
        </div>
        <div class="clear"></div>
    </div>
</div>
