{% load i18n %}
<div id="footer" class="container_24">
    <div class="grid_6">
{#        <a href="{% url datawinners.home.views.index %}"><img src="/media/images/logo_footer_dw.png" alt="DataWinners" width="147" height="23"></a><br/>#}
{#        <span class="italic">{% trans "A part of" %} <a href="/{% trans "en" %}/about-us">Human Network International</a></span>#}
{#        <p>#}
{#            {% trans "HNI provides partners with the opportunity to embrace, reshape and maximize the use of information and communication technology in productive and sustainable ways." %}#}
{#            <br /><a href="/{% trans "en" %}/about-us">{% trans "Learn more about us" %} &raquo;</a>#}
{#        </p>#}
    </div>
    <div class="grid_1"><img src="/media/images/dw_footer_pipe.gif" width="15" height="190" alt=""></div>
    <div class="grid_4">
        <ul>
            <li><a href="#">What is ThoughtWorks Data Collection</a></li>
            <li><a href="#">{% trans "Success Stories" %}</a></li>
            <li><a href="#">{% trans "Pricing" %}</a></li>
            <li><a href="#">{% trans "Support" %}</a></li>
            <li><a href="#">{% trans "About us" %}</a></li>
            <li><a href="#">{% trans "Terms and Conditions" %}</a></li>
            <li><a href="#">{% trans "Privacy Policy" %}</a></li>
        </ul>
    </div>
    <div class="grid_1"><img src="/media/images/dw_footer_pipe.gif" width="15" height="190" alt=""></div>
    <div class="grid_7">
        <strong>{% trans "Our Partners &amp; Clients" %}</strong><br/><br/>
{#        <img src="/media/images/logo_footer_airtel.png" alt="Airtel" width="67" height="24">#}
{#        <img src="/media/images/logo_footer_thoughtworks.png" alt="Thoughtworks" width="119" height="24"><br/>#}
{#        <img src="/media/images/logo_footer_modi.png" alt="Modi research group" width="72" height="26">#}
{#        <img src="/media/images/logo_footer_mule.png" alt="Mule" width="87" height="28"><br/><br/>#}
        <span style="color: #AFDD88;">{% trans "learn-about-partners-clients" %}</span>
    </div>
    <div class="grid_1"><img src="/media/images/dw_footer_pipe.gif" width="15" height="190" alt=""></div>
    <div class="grid_5">
        <strong>{% trans "Latest news" %}</strong>
        <p>
            {% trans "Learn more about ThoughtWorks Data Collection on our" %} <a href="#">blog</a>.
        </p>
    </div>
    <div class="clear"></div>
</div>

