{% load i18n %}
<div id="footer" class="container_24">
    <div class="grid_6">
        <a href="{% url datawinners.home.views.index %}"><img src="/media/images/logo_footer_dw.png" alt="DataWinners" width="147" height="23"></a><br/>
        <span class="italic">{% trans "Developed by" %} <a href="http://www.hni.org/">Human Network International</a></span>
        <p>
            {% trans "HNI provides partners with the opportunity to embrace, reshape and maximize the use of information and communication technology in productive and sustainable ways." %}
            <br /><a href="/{% trans "en" %}/about-us">{% trans "Learn more about us" %} &raquo;</a>
        </p>
    </div>
    <div class="grid_1"><img src="/media/images/dw_footer_pipe.gif" width="15" height="190" alt=""></div>
    <div class="grid_4">
        <ul>
            <li><a href="/{% trans "en" %}/what-is-datawinners">{% trans "What is DataWinners" %}</a></li>
            <li><a href="/{% trans "en" %}/success-stories">{% trans "Success Stories" %}</a></li>
            <li><a href="/{% trans "en" %}/pricing">{% trans "Pricing" %}</a></li>
            <li><a href="/{% trans "en" %}/support">{% trans "Support" %}</a></li>
            <li><a href="/{% trans "en" %}/about-us">{% trans "About us" %}</a></li>
            <li><a href="/{% trans "en" %}/terms-and-conditions">{% trans "Terms and Conditions" %}</a></li>
            <li><a href="/{% trans "en" %}/privacy-policy/">{% trans "Privacy Policy" %}</a></li>
        </ul>
    </div>
    <div class="grid_1"><img src="/media/images/dw_footer_pipe.gif" width="15" height="190" alt=""></div>
    <div class="grid_7">
        <strong>{% trans "Our Partners" %}</strong><br/><br/>
        <img src="/media/images/logo_footer_airtel.png" alt="Airtel" width="67" height="24">
        <img src="/media/images/logo_footer_thoughtworks.png" alt="Thoughtworks" width="119" height="24"><br/>
        <img src="/media/images/logo_footer_modi.png" alt="Modi research group" width="72" height="26">
        <img src="/media/images/logo_footer_mule.png" alt="Mule" width="87" height="28"><br/><br/>
        <span style="color: #AFDD88;">{% trans "learn-about-partners-clients" %}</span>
    </div>
    <div class="grid_1"><img src="/media/images/dw_footer_pipe.gif" width="15" height="190" alt=""></div>
    <div class="grid_5">
        <strong>{% trans "Our Networks" %}</strong>
        <br><br>
        <table width="238" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="35" align="center" valign="top"><a href="https://www.facebook.com/DataWinners" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image18','','/media/images/facebook_blue.png',1)"><img src="/media/images/fb_gray.png" name="Image18" width="20" height="20" border="0"></a></td>
            <td width="203" align="left" valign="middle"><a href="https://www.facebook.com/DataWinners"  target="_new" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image18','','/media/images/facebook_blue.png',1)">{% trans "Like us on Facebook" %}</a></td>
          </tr>
          <tr>
            <td align="center" valign="top"><a href="https://twitter.com/datawinners" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image19','','/media/images/twitter_blue.png',1)"><img src="/media/images/twitter_gray.png" name="Image19" width="20" height="20" border="0"></a></td>
            <td align="left" valign="middle"><a href="https://twitter.com/datawinners" target="_new" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image19','','/media/images/twitter_blue.png',1)">{% trans "Follow us on Twitter" %} </a></td>
          </tr>
           <tr>
            <td align="center" valign="top"><a href="http://datawinners.wordpress.com/" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image20','','/media/images/rss_orange.png',1)"><img src="/media/images/rss_gray.png" name="Image20" width="20" height="20" border="0"></a></td>

            <td align="left" valign="middle">
           <a href="http://datawinners.wordpress.com/" target="_new" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image20','','/media/images/rss_orange.png',1)">{% trans "Subscribe to our Blog" %}</a></td>
          </tr>
          <tr>
            <td align="center" valign="top"><a href="https://confirmsubscription.com/h/j/5FB1BC0DAD183C3E" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image17','','/media/images/email_green.png',1)"><img src="/media/images/email_gray.png" name="Image17" width="20" height="20" border="0"></a></td>
            <td align="left" valign="middle">
            <a href="https://confirmsubscription.com/h/j/5FB1BC0DAD183C3E" target="_new" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image17','','/media/images/email_green.png',1)">{% trans "Join our Mailing List" %}</a></td>
          </tr>
        </table>
    </div>
    <div class="clear"></div>
</div>

