{% load dw_tabs %}
{% load i18n %}
{% block main_navigation %}
<div id="container_main_tab">
    <div id="main_tab" class="container_24">
        <div class="grid_4 alpha">
{#            <a href="/{% trans "en" %}/home/"><img src="/media/images/logo_dw.png" alt="DataWinners" width="137" height="22"/></a>#}
        </div>
        <div class="grid_20 float_right">
            <ul>
                <li class ="{% ifactivetab 'main_nav' 'datawinners' %}active{% else %}inactive{% endifactivetab %}">
                    <a href="#">ThoughtWorks Data Collection</a>
                </li>
                <li class ="{% ifactivetab 'main_nav' 'success' %}active{% else %}inactive{% endifactivetab %}">
                    <a href="#">{% trans "Success Stories" %}</a>
                </li>
                <li class ="{% ifactivetab 'main_nav' 'pricing' %}active{% else %}inactive{% endifactivetab %}">
                    <a href="#">{% trans "Pricing" %}</a>
                </li>
                <li class ="{% ifactivetab 'main_nav' 'support' %}active{% else %}inactive{% endifactivetab %}">
                    <a href="#">{% trans "Support" %}</a>
                </li>
                <li class ="{% ifactivetab 'main_nav' 'about' %}active{% else %}inactive{% endifactivetab %}">
                    <a href="#">{% trans "About us" %}</a>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}

