<div id="footer" class="container_24">
    <div class="grid_6">
        <a href="{% url datawinners.home.views.index %}"><img src="/media/images/logo_footer_dw.png" alt="DataWinners" width="147" height="23"></a><br/>
        <span class="italic">Une partie de <a href="www.datawinners.com/fr/about-us">Human Network International</a></span>
        <p>
            HNI offre à ses partenaires l'occasion d’appréhender, de remodeler et de maximiser l'utilisation de la technologie de l'information et de la communication de manière productive et durable.
            <br /><a href="www.datawinners.com/fr/about-us">Mieux nous connaître &raquo;</a>
        </p>
    </div>
    <div class="grid_1"><img src="/media/images/dw_footer_pipe.gif" width="15" height="190" alt=""></div>
    <div class="grid_4">
        <ul>
            <li><a href="www.datawinners.com/fr/what-is-datawinners">Qu’est-ce que DataWinners</a></li>
            <li><a href="www.datawinners.com/fr/success-stories">Nos succès</a></li>
            <li><a href="www.datawinners.com/fr/pricing">Tarification</a></li>
            <li><a href="www.datawinners.com/fr/support">Assistance</a></li>
            <li><a href="www.datawinners.com/fr/about-us">Qui sommes-nous ?</a></li>
            <li><a href="www.datawinners.com/fr/terms-and-conditions">Termes et Conditions</a></li>
        </ul>
    </div>
    <div class="grid_1"><img src="/media/images/dw_footer_pipe.gif" width="15" height="190" alt=""></div>
    <div class="grid_7">
        <strong>Nos Partenaires &amp; Clients</strong><br/><br/>
        <img src="/media/images/logo_footer_airtel.png" alt="Airtel" width="67" height="24">
        <img src="/media/images/logo_footer_thoughtworks.png" alt="Thoughtworks" width="119" height="24"><br/>
        <img src="/media/images/logo_footer_modi.png" alt="Modi research group" width="72" height="26">
        <img src="/media/images/logo_footer_mule.png" alt="Mule" width="87" height="28"><br/><br/>
        <span style="color: #AFDD88;">En savoir plus sur nos <a href="www.datawinners.com/fr/about-us/partners">partenaires</a> &amp;
        <a href="www.datawinners.com/fr/about-us/clients">clients &raquo;</a></span>
    </div>
    <div class="grid_1"><img src="/media/images/dw_footer_pipe.gif" width="15" height="190" alt=""></div>
    <div class="grid_5">
        <strong>Actualités</strong>
        <p>

        </p>
    </div>
    <div class="clear"></div>
</div>
