{% extends 'layout_application.html' %}
{% load i18n %}
{% load dw_tabs %}
{% block page_title %}{% trans "Languages" %}{% endblock %}
{% block section_title %}{% trans "Languages for Automatic Reply SMS" %}
{% endblock %}

{% load dw_tabs %}
{% block body %}
    {% activetab "main_nav" "languages" %}
    {{ block.super }}
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript">
        var languages = {{ available_languages|safe }};
        var current_language = "{{ current_language|safe }}";
        var post_url = "{% url save_questionnaire_sms_reply %}";
    </script>
    <script type="text/javascript" src="/media/javascript/dw-ko-validation-extensions.js"></script>
    <script type="text/javascript" src="/media/javascript/jquery-textntags/texttag.js"></script>
    <script type="text/javascript" src="/media/javascript/ko-binding-extensions.js"></script>
    <script type="text/javascript" src="/media/javascript/common/form_edited_warning_dialog.js"></script>
    <script type="text/javascript" src="/media/javascript/common/lang/questionnaire_reply_view_model.js"></script>
    <script type="text/javascript" src="/media/javascript/common/lang/customize_reply_messages.js"></script>
{% endblock %}

{% block page_scss %}
    {{ block.super }}

    <link href="/media/css/scss/languages.css" rel="stylesheet"/>
    <link href="/media/css/scss/tab_navigation.css" rel="stylesheet"/>

    <link href="/media/javascript/jquery-textntags/texttag.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    {% csrf_token %}

    {% activetab "messages_tab" "questionnaire_reply_sms" %}
    <div class="help_accordion">{% trans "Datawinners analyzes each of the SMS Submission and automatically sends back an SMS reply." %}</div>

    <ul class="messages_tab">
        <li class="{% ifactivetab 'messages_tab' 'questionnaire_reply_sms' %}active{% else %}inactive{% endifactivetab %}">
            <a id='questionnaire_reply_sms_link' href={% url languages %}>{% trans "Reply SMS for Questionnaires" %}</a>
        </li>
        <li class="{% ifactivetab 'messages_tab' 'account_wide_sms' %}active{% else %}inactive{% endifactivetab %}">
            <a id='account_wide_sms_link' href={% url account_messages %}>{% trans "Account-Wide Reply SMS" %}</a>
        </li>
    </ul>
    <div class="success-message-box" style="display: none;"></div>
    <div class="help_accordion" style="text-align: justify">
        {% trans "language help text" %}
    </div>

    <div id="language_customized_messages">
        <div style="padding-top: 12px;font-size:14px ">
            <strong>{% trans "Language" %}</strong>

            <select id="language" class="dropdown_style" name="language_option" style="display:block"
                    data-bind="value:language_display, foreach: availableLanguages">
                <option data-bind="text: name, value:code,css: { addNewLanguage: code == 'add_new' }">
            </select>

        </div>
        <br/>

        <div>
            <ol class="sms_messages" data-bind="foreach: customizedMessages">
                    <li class="messages">
                        <div>
                            <strong>
                                    <label data-bind="text: $data.title" style="display: inline;"></label>
                                    <img src="/media/images/help_icon.png" class="help_icon"
                                         style="display: inline;padding-bottom: 5px"
                                         data-bind="initializeTooltip:true">
                                    {% include "customized_message_tooltip.html" %}
                            </strong>
                        </div>
                    </li>
                    <div>
                        <div class="TextTags" data-bind="messageEditor: {message: $data.message, count: $data.count}, attr: {id: 'custom_message' + $index() }"></div>

                        <div class="validationMessage" data-bind="ifnot: $data.message.valid">
                        <span id="question_title_validation_message" class="validationText"
                              data-bind="text: $data.message.error"></span>

                        </div>
                        <div style="width: 900px">
                            <span class="char_count">
                                <span data-bind="text:$data.count"></span> {% trans "of 160 characters used" %}
                            </span>
                        </div>
                    </div>
            </ol>
        </div>
        <br/>
    </div>

    <div class="save_button"><a class="button save" id="language_save"
            data-bind="text:$root.saveButtonText,click:save,css:{'ui-state-disabled': isValid() != true}"></a></div>

    <div id="cancel_language_changes_warning" style="display: none;">
        {% trans "Do you want to save the changes before leaving this page?" %}<br/>

        <p class="font_size_13">{% trans "Your changes will be lost if you don't save them." %}</p>

        <div class="text_align_right padding_top_20">
            <a id="cancel_dialog" class="cancel_button" href="javascript:void(0);">{% trans "Cancel" %}</a>
            <a id="ignore_changes" class="button_blue no_button">{% trans "Don't Save" %}</a>
            <a id="save_changes" class="button yes_button">{% trans "Save" %}</a>
        </div>
    </div>

    <div id="add_new_language_pop" style="display: none;">
        <span class="bold">{% trans "Language Name" %}</span><br/>
        <input type="text" placeholder='{% trans "Enter a name of your language" %}'
               data-bind="value:newLanguageName,valueUpdate: 'afterkeydown','keyup'"/>

        <div data-bind="ifnot: $data.newLanguageName.valid" class="validationMessage">
            <span data-bind="text: $data.newLanguageName.error" class="validationText" style="display: inline-block"
                  id="language_validation_message"></span>
        </div>
        <p class="help_accordion">{% trans "Example: Swahili, Spanish" %}</p>

        <div class="text_align_right padding_top_20">
            <a id="cancel_dialog" class="cancel_button" href="javascript:void(0);"
               data-bind="click:cancelAddLanguage">{% trans "Cancel" %}</a>
            <a class="button yes_button" data-bind="click:$root.addLanguage,text:$root.addLanguageText"></a>
        </div>
    </div>
{% endblock %}