{% load i18n %}
<div id="inform_datasender_about_changes">
    <div class="warning_message">
        <p>{% trans "You have made changes to your Questionnaire." %}</p><br/>
        <p>
            {% trans "Please make sure your Data Senders have the latest version" %}:
            <ul class="bulleted margin_left_20">
                <li><b>SMS</b>: {% trans "Print and distribute the updated SMS Questionnaire" %}</li>
                <li><b>Smartphone</b>:
                {% if entity_type %}
                    {% blocktrans with entity_type as subject_type %}Currently, registering a new {{ subject_type }} via Smartphone is not possible{% endblocktrans %}
                {% else %}
                    {% trans "Remind them to download the updated version of the Questionnaire" %}
                {% endif %}
                </li>
                <li><b>Web</b>: {% trans "Download the latest version of the excel import template.We will display the updated version of the Registration Form automatically" %}</li>
            </ul>
        </p>
    </div>
    <div class="text_align_right margin_bottom_10">
        <a class="button yes_button">{% trans "OK, Got it" %}</a>
    </div>
</div>