{% load i18n %}
<div id="send-sms-section">
    <div class="italic">{% trans "Instruction about sending a messages." %}</div>
    <br/>
    <div id="sms-success"  class="success-message-box none">{% trans "SMS sent to telephone company. Upon receipt of delivery confirmation, DataWinners will update the counter on the "%} <a href={% url dashboard %}>{%  trans 'Dashboard'%}</a>.</div>
    <div id="no-smsc" class="message-box none">{% trans "Your message could not be sent."%}</div>
    <div id="failed-numbers" class="message-box none"></div>
    <div style="display: table-row">
            <div style="display: table-cell; vertical-align: top; width: 150px">{% trans "Text:" %}</div>
            <span style="display: table-cell">
                <textarea id="sms-text" style="width: 615px" ></textarea>
                <span class="validationMessage" data-bind="ifnot: smsText.valid">
                    <span class="validationText" data-bind="text: smsText.error"></span>
                </span>
            </span>
    </div>
    <div style="display: table-row">
        <div style="display: table-cell"></div>
        <div style="display: table-cell">
        <span class="grey float_right" data-bind="text: smsCharacterCount" ></span></div></div>
    <br/>

    <div style="display: table-row" >
        <div style="display: table-cell; vertical-align: top; width: 150px">{% trans "To:" %}</div>
        <span style="display: table-cell " class="padding_bottom_10">
            <select data-bind="options: smsOptionList, optionsText: 'label', optionsValue: 'code', optionsCaption: gettext('Select Recipients'), value: selectedSmsOption"></select>
        </span>
    </div>
    <div data-bind="visible: showQuestionnaireSection">
        <!-- ko foreach: questionnaireItems -->
            <div>
                <input type="checkbox" data-bind="checkedValue: name, checked: $root.selectedQuestionnaireNames" />
                <span data-bind="text: label"></span>
            </div>
        <!-- /ko -->
    </div>
    <div style="display: table-row" data-bind="css: {'none': hideOtherContacts}" >
        <div style="display: table-cell"></div>
        <div style="display: table-cell">
        <textarea data-bind="value: othersList, valueUpdate: 'keypress'" style="width: 615px"></textarea>
        <div class="validationMessage" data-bind="ifnot: othersList.valid">
            <span class="validationText" data-bind="text: othersList.error"></span>
        </div>
        </div>
    </div>
    <div style="display: table-row" data-bind="css: {'none': hideOtherContacts}" >
        <div style="display: table-cell"></div>
        <div style="display: table-cell">
        <div class="grey italic">{% trans "Enter local telephone numbers without country codes. Use a comma (,) to separate the numbers." %}</div>
            </div>
    </div>
    <br/>
    <div class="right_aligned_button margin_right_4" >
    <a id="cancel-sms" data-bind="click: closeSmsDialog">{% trans "Cancel" %}</a>
    <button class="button" data-bind="click: sendSms, text: sendButtonText, css: {'ui-state-disabled': disableSendSms}"></button>
    </div>
</div>