<!DOCTYPE HTML >
<html>
<head>
    <link rel="shortcut icon" href="/media/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/media/images/favicon.ico" type="image/x-icon">
    <title>
        {% block page_title %} {% endblock %}
    </title>
    {% block page_meta %} {% endblock %}
    {% include 'javascript.html' %}
    {% block page_js %} {% endblock %}
    {% include 'css.html' %}
    {% load compress %}
    {% compress css %}
        {% include 'scss.html' %}
        {% block page_scss %} {% endblock %}
    {% endcompress %}
    {% block page_css %} {% endblock %}
    <script type="text/javascript" src="/media/javascript/jquery.tools.min.js"></script>


</head>
<body>
    {% block body %} {% endblock %}
</body>
</html>