{% load i18n %}

<link href="/media/javascript/data_tables/css/dwtable.css" rel="stylesheet"/>
{% load compress %}
{% compress js %}
    <script src="/media/javascript/data_tables/js/jquery.dataTables.min.js"></script>
    <script src="/media/javascript/data_tables/js/dw_pagination_plugin.js"></script>
    <script src="/media/javascript/data_tables/js/dwtable.js"></script>

    <script src="/media/javascript/subjects/subject_actions.js"></script>
    <script>
    $(function(){
        var action_handler = new DW.AllSubjectActions();

        $("#subjects_table").dwTable({
                "concept":subject_type,
                "sAjaxSource": "/entity/subjects/" + subject_type.toLowerCase() + "/ajax/",
                "sAjaxDataIdColIndex" : $("#subjects_table thead th.short_code").index(("#subjects_table thead th")),
                "bServerSide": true,
                "fnInitComplete": function(){if(!$("#subjects_table tbody tr.odd td.dataTables_empty").length){$("#no_registered_subject_help").css("display","")}},
                "oLanguage": {
                    "sEmptyTable": $('#no_registered_subject_message').clone(true, true).html()
                },
                "aaSorting": [ [ $('#subjects_table th.name').index('#subjects_table th'), "asc"] ],
                "actionItems" : [ {"label": "Delete", "handler":action_handler["delete"], "allow_selection": "multiple"},
                                  {"label":"Edit", "handler":action_handler["edit"], "allow_selection": "single"}
                ]
          });

        });
    </script>
{% endcompress %}
<div id="no_registered_subject_help" class="help_accordion" style="display:none">
        {# Make sure that this block translation stays in a single line as otherwise django will not be able to find out that message id#}
        {% blocktrans%}View each of your registered {{ entity_type }} in detail.{% endblocktrans %}
    </div>
<div id="wrapper_div_for_table">
    <table id="subjects_table" >
        <thead>
        <tr>
            {#        empty th for check-all box#}
            <th></th>
            {% for header_name, header_label in subject_headers.items %}
                <th class="{{ header_name }}">{{ header_label }} </th>
            {% endfor %}
        </tr>
        </thead>
    </table>
    <div id="no_registered_subject_message" style="display: none">
        <div class="no_registered_subjects">
            <p>
                <a href="{{ create_subject_link }}">{% trans "Add a new" %} {{ entity_type }}</a> {% trans "or" %}
                <a href="javascript:void(0);" class="import-subject">
                    {% blocktrans with entity_type|capfirst as entity_type %}Import a list of {{ entity_type }}{% endblocktrans %}</a> {% trans "or" %}
                <a href="{% url edit_subject_questionnaire entity_type %}">
                {% blocktrans with entity_type|capfirst as entity_type %}Customize the {{ entity_type }} registration form{% endblocktrans %} </a>
            </p>
        </div>
    </div>
</div>

