{% load i18n %}
{% load user_tags %}
{% load dw_tabs %}


{% if user|is_datasender %}
    {% activetab "device_tab_nav" "web" %}
    {{ block.super }}
    {% if is_quota_reached %}
    <div class="warning-message-box clear-both overflow_hidden left_null">
        <p>{% trans "You have reached your limit of 1000 free Submissions. Ask your Project Manager to sign up for a monthly subscription to continue submitting data." %}</p>
    </div>
    {% endif %}
{% else %}
    {% if is_quota_reached %}
    <div class="warning-message-box clear-both overflow_hidden">
        {% if user|in_group:'NGO Admins,' %}
            <p>{% trans "You have reached your limit of 1000 free Submissions. Subscribe to a monthly subscription to continue submitting data for your questionnaires." %}</p>
            <a class="float_left margin_10 padding_top_10" href="/{% trans "en" %}/pricing/" target="blank">{% trans "Learn More" %}</a>
            <a class="button margin_10 float_left" target="blank"
               href="{% url datawinners.accountmanagement.views.upgrade %}">{% trans "Subscribe Now" %}</a>
        {% else %}
            <p>{% trans "You have reached your limit of 1000 free Submissions. Subscribe to a monthly subscription by contacting your Project Manager or DW Support at <a href='mailto:support@datawinners.com'>support@datawinners.com</a>." %}</p>
        {% endif %}
    </div>
    {% endif %}
{% endif %}