{% load i18n %}
{% load field_tags %}

<a id="cancel">{% trans "Cancel" %}</a>
{% block page_js %}
    <script type="text/javascript" src="/media/javascript/data_modified_warning.js"></script>
{% endblock %}

<div id="cancel_submission_warning_message">
    <p class="warning_message"> {% trans "All your entered data will be lost. Are you sure you want to cancel?" %} </p>
    <div class="text_align_right">
        <a class="button_blue no_button">{% trans "No" %}</a>
        <a class="button_blue yes_button">{% trans "Yes" %}</a>
    </div>
</div>