{% load i18n %}
<div class="none">
    <div id="submission_exists">
        <p class="warning_message">
            {% trans "If you delete this question, any previously collected data will be lost." %}<br/>
            {% trans "Do you want to delete this question?" %}
        </p>
        <br/>
        <div class="text_align_right">
            <a class="button_blue no_button">{% trans "No" %}</a>
            <a class="button_blue yes_button">{% trans "Yes" %}</a>
        </div>
    </div>

    <div id="new_submission_exists">
        <p class="warning_message">
            {% trans "If you modify this questionnaire, any previously collected data will be lost." %}<br/><br/>
            {% trans "Do you want to modify this questionnaire?" %}
        </p>
        <div class="text_align_right">
            <a class="button_blue no_button">{% trans "No" %}</a>
            <a class="button_blue yes_button">{% trans "Yes" %}</a>
        </div>
    </div>



    {% include "empty_questionnaire_dialog.html" %}
    {% include "redistribute_questionnaire_dialog.html" %}
</div>