{% extends 'public_secondary.html' %}
{% block page_title %} Les Partenaires {% endblock %}

{% load dw_tabs %}
{% block body %}
    {% activetab "main_nav" "about" %}
    {{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
    <a href="/fr/home/">Accueil</a> &gt; <a href="/fr/about-us">Qui sommes-nous
    ?</a> &gt; Partenaires
{% endblock %}

{% block main_content %}
    <div id="nav_content">
        <h1><a href="/fr/about-us/">QUI SOMMES-NOUS ?</a></h1>
        <ul>
            <li><a href="/fr/about-us/blog">Blog</a></li>
            <li class="active"><a href="/fr/about-us/partners">Partenaires</a>
            </li>
            <li><a href="/fr/about-us/clients">Clients</a></li>
            <li><a href="http://www.hni.org/">HNI</a>
        </ul>
    </div>
    <div id="main_content">
    <div class="margin_left_20">
    <div class="left_content">
    <p>Un partenariat international unissant des entreprises du
        secteur privé, des institutions académiques et des
        organisations non gouvernementales travaille ensemble pour
        créer et gérer DataWinners.com comme un projet
        “open-source”. Human Network International (HNI) et
        ThoughtWorks, Inc. dirigent l'effort pour faire de ce
        service mobile de collecte de données une réponse aux
        besoins des organisations de développement &oelig;uvrant
        dans le monde entier.</p>

    <p>Notre objectif est de créer une communauté globale,
        travaillant ensemble pour rendre la collecte de données par
        t&eacute;l&eacute;phones mobiles meilleure.
        Cliquez <a href="https://github.com/mangroveorg/mangrove" target="_blank">ici</a>
        pour accéder au code source.
        Nous encourageons les partenaires de contribuer leurs codes
        et leurs idées pour que DataWinners continue à innover.
    </p>

    <p>Nous tenons à remercier nos partenaires, et les
        bêta-testeurs ci-mentionnés. Ils contribuent de manière
        significative à notre objectif d'offrir une plate-forme de
        collecte de données en ligne et à canaux multiples au
        profit d’organismes de développement &oelig;uvrant dans le
        monde entier.</p>

    <div>
        <div class="grid_5 alpha omega">
            <img src="/media/images/dw_plogo_tw.gif" width="190"
                 height="30" alt="ThoughtWorks"/>
        </div>
        <div class="grid_7 alpha omega float_right">
            <h2 style="margin:0;">ThoughtWorks</h2>

            <h3 style="font-weight: normal; font-style: italic; margin: 0;">Partenaire de développement de logiciel</h3>

            <p>
                C’est un organisme de consultance mondiale en
                Technologie de l’Information offrant des logiciels
                personnalisés, des outils logiciels, des conseils
                et des services de transformation au profit de 1000
                sociétés dans le monde. Le personnel de
                ThoughtWorks basé à Pune - Inde, a écrit la
                majorité du code pour aussi bien Mangrove que
                DataWinners.
                <br/><a href="http://www.thoughtworks.com"
                        target="_blank">www.thoughtworks.com</a>
            </p>
        </div>
        <div class="clear"></div>
    </div>
    <div>
        <div class="grid_5 alpha omega">
            <img src="/media/images/dw_plogo_mule.gif" width="190"
                 height="40" alt="Mule Design"/>
        </div>
        <div class="grid_7 alpha omega float_right">
            <h2 style="margin:0;">Mule Design </h2>

            <h3 style="font-weight: normal; font-style: italic; margin: 0;">Studio de Conception</h3>

            <p>
                Mule Design est un studio de conception basé à San
                Francisco qui a créé l'application intuitive et
                conviviale de DataWinners.
                <br/><a href="http://www.muledesign.com"
                        target="_blank">www.muledesign.com</a>
            </p>
        </div>
        <div class="clear"></div>
    </div>
    <div>
        <div class="grid_5 alpha omega">
            <img src="/media/images/dw_plogo_modi.gif" width="190"
                 height="40" alt="Modi Research Group"/>
        </div>
        <div class="grid_7 alpha omega float_right">
            <h2 style="margin:0;">Modi Research Group</h2>

            <h3 style="font-weight: normal; font-style: italic; margin: 0;">Partenaire de développement de logiciel</h3>

            <p>
                Modi Research Group dirige les efforts d’Earth
                Institute de l'Université de Columbia dans les
                domaines de l'énergie, de l’infrastructure et du
                développement rural(e). Le personnel de Modi
                Research Group a fourni du code et des conseils
                précieux pour les projets Mangrove et DataWinners.
                <br/><a href="http://modi.mech.columbia.edu"
                        target="_blank">modi.mech.columbia.edu</a>
            </p>
        </div>
        <div class="clear"></div>
    </div>
    <div>
        <div class="grid_5 alpha omega">
            <img src="/media/images/dw_plogo_praekelt.gif"
                 width="190"
                 height="40" alt="Praekelt Foundation"/>
        </div>
        <div class="grid_7 alpha omega float_right">
            <h2 style="margin:0;">Praekelt Foundation</h2>

            <h3 style="font-weight: normal; font-style: italic; margin: 0;">Partenaire de développement de logiciel</h3>

            <p>
                Praekelt Fondation crée des technologies et des
                solutions mobiles open source et évolutives pour
                améliorer la santé et le bien-être des populations
                pauvres. Le projet Mangrove utilise Vumi - un
                moteur de conversation évolutif pour l’envoi de
                SMS, des messages Start Menu et des services de
                chatting au profit de publics divers.
                <br/><a href="http://www.praekeltfoundation.org"
                        target="_blank">www.praekeltfoundation.org</a>
            </p>
        </div>
        <div class="clear"></div>
    </div>
    <div>
        <div class="grid_5 alpha omega">
            <img src="/media/images/dw_plogo_airtel.gif"
                 width="190"
                 height="40" alt="Airtel"/>
        </div>
        <div class="grid_7 alpha omega float_right">
            <h2 style="margin:0;">Airtel Madagascar </h2>

            <h3 style="font-weight: normal; font-style: italic; margin: 0;">Partenaire technique </h3>

            <p>
                Airtel Madagascar est le premier fournisseur de
                services de télécommunication dans l'île.
                Airtel/Madagascar a fourni des conseils en
                télécommunications pour le projet DataWinners.
                <br/><a
                    href="http://www.africa.airtel.com/madagascar/"
                    target="_blank">www.africa.airtel.com/madagascar/</a>
            </p>
        </div>
        <div class="clear"></div>
    </div>
    <div>
        <div class="grid_5 alpha omega">
            <img src="/media/images/dw_plogo_unicef.gif"
                 width="190"
                 height="40" alt="Unicef"/>
        </div>
        <div class="grid_7 alpha omega float_right">
            <h2 style="margin:0;">UNICEF/Madagascar</h2>

            <h3 style="font-weight: normal; font-style: italic; margin: 0;">B&ecirc;ta testeur</h3>

            <p>
                C’est le premier organisme mondial pour la
                protection des droits des enfants et des jeunes. A
                Madagascar, l'UNICEF utilise DataWinners pour
                collecter des données et des informations sur la
                nutrition au profit d’émissions radios locales.
                <br/><a href="http://www.unicef.org"
                        target="_blank">www.unicef.org</a>
            </p>
        </div>
        <div class="clear"></div>
    </div>
    <div>
        <div class="grid_5 alpha omega">
            <img src="/media/images/dw_plogo_crs.gif" width="190"
                 height="60" alt="CRS"/>
        </div>
        <div class="grid_7 alpha omega float_right">
            <h2 style="margin:0;">Catholic Relief Services/Madagascar</h2>

            <h3 style="font-weight: normal; font-style: italic; margin: 0;">B&ecirc;ta testeur</h3>

            <p>
                CRS est l'agence humanitaire internationale de la
                communauté Catholique aux Etats-Unis.
                <br/>CRS apporte des secours dans les situations
                d'urgence et aide les gens des pays en voie de
                développement à briser le cycle de la pauvreté
                grâce à des initiatives de développement durable à
                l’échelle communautaire. CRS utilise DataWinners
                pour collecter des données sur les projets liés à
                l'eau et à l'hygiène dans les régions éloignées du
                Nord-Est de Madagascar.
                <br/><a href="http://www.crs.org"
                        target="_blank">www.crs.org</a>
            </p>
        </div>
        <div class="clear"></div>
    </div>
    <div>
        <div class="grid_5 alpha omega">
            <img src="/media/images/dw_plogo_psi.gif" width="190"
                 height="60" alt="PSI Madagascar"/>
        </div>
        <div class="grid_7 alpha omega float_right">
            <h2 style="margin:0;">PSI/Madagascar</h2>

            <h3 style="font-weight: normal; font-style: italic; margin: 0;">B&ecirc;ta testeur</h3>

            <p>
                PSI est une importante organisation mondiale de
                santé qui met en &oelig;uvre des programmes qui
                ciblent le paludisme, la survie de l'enfant, le VIH
                et la santé de la reproduction. PSI utilise
                DataWinners pour collecter des données pour un
                grand projet de santé de la reproduction des
                adolescents et stocker des informations pour une
                large gamme de produits de santé publique.
                <br/><a href="http://www.psi.org"
                        target="_blank">www.psi.org</a>
            </p>
        </div>
        <div class="clear"></div>
    </div>
    </div>
    </div>
    <div class="right_content">
        <div class="block_1">
            <h1>Nos Clients</h1>

            <p>Pour en savoir plus sur nos Clients.
                <br/>Voir <a href="/fr/about-us/clients/">Nos Clients</a>
            </p>
        </div>
        <div class="block_1">
            <h1>Nos succ&egrave;s</h1>

            <p>
                Voyez comment d'autres ont b&eacute;n&eacute;fici&eacute; de
                DataWinners.
                <br>Voir <a href="/fr/success-stories/">Nos succ&egrave;s</a>
            </p>
        </div>

        <div class="block_1">
            <h1>Essai gratuit</h1>

            <div id="how_nav">
                <p>
                    Essayez toutes les fonctionalités c'est enti&egrave;ment
                    gratuit.

                    <br><a href="/fr/pricing/">En savoir plus</a> ou

                <div id="how_links" class="margin_null">
                    <a href="/register/trial/" id="how_try_button">Essai
                        gratuit</a>
                </div>
                </p>
            </div>
        </div>
    </div>
    </div>
    <div class="clear"></div>
{% endblock %}