{% extends 'public_secondary.html' %}
{% block page_title %} About Us {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "about" %}
{{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
<a href="/en/home/">Home</a> &gt; About Us
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/home/support.js"></script>
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_public_support.css" rel="stylesheet" />
{% endblock %}

{% block main_content %}
    <div id="nav_content">
        <h1><a href="/en/about-us/">ABOUT US</a></h1>
        <ul>
            <li><a href="/en/about-us/blog">Blog</a></li>
            <li><a href="/en/about-us/partners">Partners</a></li>
            <li><a href="/en/about-us/clients">Clients</a></li>
            <li><a href="/en/about-us/contact-us">Contact Us</a>
        </ul>
    </div>
    <div id="main_content">
        <div class="margin_left_20" id="about-us-container">
            <p>
                Human Network International (HNI) helps organizations to embrace, reshape and maximize the use of
                information and communication technology in innovative, productive and sustainable ways.
            </p>

            <p>
                We are a nonprofit 501(c)(3) organization based in Washington, D.C. with offices in Madagascar.
                HNI has received financial and in-kind support from a variety of sources including foundations
                and institutions based around the world.
                <br/>
                <a href="http://www.hni.org/" target="_blank">Visit HNI's website</a>
            </p>

            <div class="grid_18 alpha omega margin_top_20">
                <div class="grid_9 alpha block_support">
                    <div class="grid_4 omega">
                        <img src="/media/images/dw_tt_blog.jpg" width="136"/><br/>
                    </div>
                    <div class="grid_5 omega" style="height:90px;">
<h3 style="margin-top:0;">Blog</h3>
                        Stay current with DataWinners: new features, upcoming events,  spotlights on current projects and more!
                        <a href="/en/about-us/blog/" class="read_more more" style="top: 100px;">Read More</a>
                    </div>
                </div>
                <div class="block_support">
                    <div class="grid_4 omega">
                        <img src="/media/images/dw_tt_partners_en.jpg" width="136"/><br/>
                    </div>
                    <div class="grid_5 omega" style="height:90px;">
<h3 style="margin-top:0;">Partners</h3>
                        Read how HNI works collaboratively with international partners to create and manage DataWinners as an open-source project.
                        <a href="/en/about-us/partners/" class="read_more more" style="top:100px;">Read More</a>
                    </div>
                </div>
            </div>

            <div class="grid_18 alpha omega margin_top_20">
                <div class="grid_9 alpha block_support">
                    <div class="grid_4 omega">
                        <img src="/media/images/dw_tt_clients.jpg" width="136"/><br/>
                    </div>
                    <div class="grid_5 omega" style="height:90px;">
<h3 style="margin-top:0;">Clients</h3>
                        Learn how HNI builds the capacity of development partners to collect data and make better decisions.
                        <a href="/en/about-us/clients/" class="read_more more" style="top:100px;">Read More</a>
                    </div>
                </div>
                <div class="block_support">
                    <div class="grid_4 omega">
                        <img src="/media/images/dw_tt_contact_en.jpg" width="136"/><br/>
                    </div>
                    <div class="grid_5 omega" style="height:90px;">
<h3 style="margin-top:0;">Contact Us</h3>
                        Ask a question or send a comment.  Customer service is our #1 priority.
                        <a href="/en/about-us/contact-us/" class="read_more more" style="top:100px;">Read More</a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}