{% extends 'public_secondary.html' %}
{% block page_title %} Qui sommes-nous ? {% endblock %}

{% load dw_tabs %}
{% block body %}
    {% activetab "main_nav" "about" %}
    {{ block.super }}
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript"
            src="/media/javascript/home/support.js"></script>
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_public_support.css" rel="stylesheet"/>
{% endblock %}

{% block page_breadcrumbs %}
    <a href="/fr/home/">Accueil</a> &gt; Qui sommes-nous ?
{% endblock %}

{% block main_content %}
    <div id="nav_content">
        <h1><a href="/fr/about-us/">QUI SOMMES-NOUS ?</a></h1>
        <ul>
            <li><a href="/fr/about-us/blog">Blog</a></li>
            <li><a href="/fr/about-us/partners">Partenaires</a></li>
            <li><a href="/fr/about-us/clients">Clients</a></li>
            <li><a href="/fr/about-us/contact-us">Nous contacter</a>
        </ul>
    </div>
    <div id="main_content">
        <div class="margin_left_20" id="about-us-container">
            <p>
                Human Network International (HNI) aide les organisations à
                adopter, remodeler et maximiser l'utilisation de la technologie
                de l'information et des communications d’une façon innovatrice,
                productive et durable.
            </p>

            <p>
                Nous sommes un organisme à but non lucratif 501(c)(3) basé à
                Washington, D.C., avec des bureaux à Madagascar. HNI a reçu des
                appuis financiers et en nature provenant de diverses sources, y
                compris des fondations et des institutions basées à travers le
                monde.
                <br/>
                <a href="http://www.hni.org/" target="_blank">Visiter le site Web de HNI</a>
            </p>

            <div class="grid_18 alpha omega margin_top_20">
                <div class="grid_9 alpha block_support" style="line-height:17px">
                    <div class="grid_4 omega">
                        <img src="/media/images/dw_tt_blog.jpg"
                             width="136"/><br/>
                    </div>
                    <div class="grid_5 omega" >
                        <h3 style="margin-top:0;">Blog</h3>
                        Restez à jour avec DataWinners: nouvelles
                        fonctionnalités, événements à venir, points de
                        situation sur les projets actuels et plus d’autres
                        encore!
                        <a href="/fr/about-us/blog/" class="read_more more" style="top:100px;">Lire la suite</a>
                    </div>
                </div>
                <div class="block_support" style="line-height:17px">
                    <div class="grid_4 omega">
                        <img src="/media/images/dw_tt_partners_fr.jpg"
                             width="136"/><br/>
                    </div>
                    <div class="grid_5 omega" >
                        <h3 style="margin-top:0;">Partenaires</h3>
                        Lisez comment HNI travaille en collaboration avec des
                        partenaires internationaux pour créer et gérer
                        DataWinners comme un projet open-source.
                        <a href="/fr/about-us/partners/"
                           class="read_more more" style="top:100px;">Lire la suite</a>
                    </div>
                </div>
            </div>

            <div class="grid_18 alpha omega margin_top_20">
                <div class="block_support" style="line-height:17px">
                    <div class="grid_4 omega">
                        <img src="/media/images/dw_tt_clients.jpg"
                             width="136"/><br/>
                    </div>
                    <div class="grid_5 omega">
<h3 style="margin-top:0;">Clients</h3>
                        Apprenez comment HNI renforce la capacité des
                        partenaires de développement à collecter des données et
                        à prendre de meilleures décisions.
                        <a href="/fr/about-us/clients/" class="read_more more" style="top:100px;">Lire la suite</a>
                    </div>
                </div>
                <div class="block_support" style="line-height:17px">
                    <div class="grid_4 omega">
                        <img src="/media/images/dw_tt_contact_fr.jpg"
                             width="136"/><br/>
                    </div>
                    <div class="grid_5 omega" style="height:90px;">
<h3 style="margin-top:0;">Nous Contacter</h3>
                        Posez une question ou envoyez un commentaire. Le
                        service clientèle est notre priorité #1.
                        <a href="/fr/about-us/contact-us/"
                           class="read_more more" style="top:100px;">Lire la suite</a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}