{% extends 'public_secondary.html' %}
{% block page_title %} Qui sommes-nous ? {% endblock %}

{% load dw_tabs %}
{% block body %}
    {% activetab "main_nav" "about" %}
    {{ block.super }}
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript"
            src="/media/javascript/home/support.js"></script>
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_public_support.css" rel="stylesheet"/>
{% endblock %}

{% block page_breadcrumbs %}
    <a href="/fr/home/">Accueil</a> &gt; Qui sommes-nous ?
{% endblock %}

{% block main_content %}
<div id="nav_content">
    <h1><a href="/fr/about-us/">QUI SOMMES-NOUS ?</a></h1>
    <ul>
        <li><a href="/fr/about-us/blog">Blog</a></li>
        <li><a href="/fr/about-us/partners">Partenaires</a></li>
        <li><a href="/fr/about-us/clients">Clients</a></li>
        <li><a href="http://www.hni.org/">HNI</a>
    </ul>
</div>
<div id="main_content">
    <div class="margin_left_20" id="about-us-container">
        <p>DataWinners a été développé par <a href="http://www.hni.org">Human Network International (HNI)</a> en collaboration avec un partenariat international de compagnies du secteur privé, d’institutions académiques, et d’organisations non gouvernementales. </p>
<div class="grid_18 alpha omega margin_top_20">
  <div class="grid_9 alpha block_support" style="line-height:17px">
                <div class="grid_4 omega"><table width="92" border="0" cellpadding="0" cellspacing="0">
  <tr>
<td width="12">&nbsp;</td>
<td align="right" valign="top"><img src="/media/images/blog.png" width="80"/><br/></td>
  </tr>
</table>

</div>
                <div class="grid_5 omega" >
                    <h3 style="margin-top:0;">Blog</h3>
                    Soyez à l'affût des nouvelles de DataWinners: nouvelles fonctionnalités, événements à venir, projets en cours et plus!
                    <br>
                    <a href="/fr/about-us/blog/" class="read_more more" style="top:100px;">En savoir plus
</a>
                </div>
            </div>
            <div class="block_support" style="line-height:17px">
                <div class="grid_4 omega"><img src="/media/images/partners.png" width="95" height="91"/><br/>
                </div>
                <div class="grid_5 omega" >
                    <h3 style="margin-top:0;">Partenaires</h3>
                    Voyez comment HNI travaille en collaboration avec des partenaires internationaux pour gérer DataWinners en tant que projet open source. 
                    <br>
                    <a href="/fr/about-us/partners/" class="read_more more" style="top:100px;">En savoir plus
</a>
                </div>
            </div>
        </div>

        <div class="grid_18 alpha omega margin_top_20">
            <div class="block_support" style="line-height:17px">
                <div class="grid_4 omega">

                <table width="102" border="0" cellpadding="0" cellspacing="0">
  <tr>
<td width="2">&nbsp;</td>
<td align="right" valign="top"><img src="/media/images/clients.png" width="100"/><br/></td>
  </tr>
</table>


          </div>
                <div class="grid_5 omega">
<h3 style="margin-top:0;">Clients</h3>
Voyez comment les organisations  bénéficient de l'utilisation de DataWinners pour collecter des données leur permettant une meilleure prise de décisions.<br>
<a href="/fr/about-us/clients//" class="read_more more" style="top:100px;">En savoir plus </a></div></div>
            <div class="block_support" style="line-height:17px">
                <div class="grid_4 omega"><img src="/media/images/hni.png" width="100"/><br/>
                </div>
                <div class="grid_5 omega" style="height:90px;">
<h3 style="margin-top:0;">HNI</h3>
    Human Network International est une organisation de développement mondial specialisé dans la technologie de l'information et de la communication. <a href="http://www.hni.org/"
                       class="read_more more" style="top:100px;"><br>
                    En savoir plus
    </a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>
{% endblock %}