{% extends 'public_secondary.html' %}
{% block page_title %} About Us {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "about" %}
{{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
<a href="/en/home/">Home</a> &gt; About Us
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/home/support.js"></script>
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_public_support.css" rel="stylesheet" />
{% endblock %}

{% block main_content %}
<div id="nav_content">
    <h1><a href="/en/about-us/">ABOUT US</a></h1>
    <ul>
        <li><a href="/en/about-us/blog">Blog</a></li>
        <li><a href="/en/about-us/partners">Partners</a></li>
        <li><a href="/en/about-us/clients">Clients</a></li>
        <li><a href="http://www.hni.org/">HNI</a>
    </ul>
</div>
<div id="main_content">
    <div class="margin_left_20" id="about-us-container">
        <p>DataWinners was developed by <a href="http://www.hni.org">Human Network International (HNI)</a> in collaboration with an international partnership of private sector companies, academic institutions, and non-governmental organizations. </p>
<div class="grid_18 alpha omega margin_top_20">
    <div class="block_support">
                <div class="grid_4 omega">
                <table width="92" border="0" align="center" cellpadding="0" cellspacing="0">

  <tr>
<td width="12">&nbsp;</td>
<td><img src="/media/images/blog.png" width="80"/><br/></td>
  </tr>
</table>

</div>
                <div class="grid_5 omega" style="height:90px;">
<h3 style="margin-top:0;">Blog</h3>
                    Stay current with DataWinners: new features, upcoming events, current projects and more!<br>
                    <a href="/en/about-us/blog/" class="read_more more" style="top: 100px;">Read More</a>
                </div>
            </div>
            <div class="block_support">
                <div class="grid_4 omega">
                    <img src="/media/images/partners.png" width="95" height="91"/><br/>
</div>
                <div class="grid_5 omega" style="height:90px;">
<h3 style="margin-top:0;">Partners</h3>
                    See how HNI works collaboratively with international partners to manage DataWinners as an open-source project.
                    <a href="/en/about-us/partners/" class="read_more more" style="top:100px;"> Read More</a>
                </div>
            </div>
        </div>

        <div class="grid_18 alpha omega margin_top_20">
            <div class="block_support">
                <div class="grid_4 omega">

                <table width="103" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
<td width="3">&nbsp;</td>
<td><img src="/media/images/clients.png" width="100"/><br/></td>
  </tr>
</table>


      </div>
                <div class="grid_5 omega" style="height:90px;">
<h3 style="margin-top:0;">Clients</h3>
                    Find out how organizations benefit from using DataWinners to collect data for improved decision-making. <a href="/en/about-us/clients/" class="read_more more" style="top:100px;"><br>
                    Read More</a>
                </div>
            </div>
            <div class="block_support">
                <div class="grid_4 omega">
                    <img src="/media/images/hni.png" width="100"/><br/>
                </div>
                <div class="grid_5 omega" style="height:90px;">
<h3 style="margin-top:0;">HNI</h3>
                    Human Network International is a global development organization specializing in Information and Communication Technology for Development.                        <a href="http://www.hni.org/" class="read_more more" style="top:100px;">Read More</a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>
{% endblock %}