{% extends 'public_secondary.html' %}
{% block page_title %} Blog {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "about" %}
{{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
<a href="/home/fr">Accueil</a> &gt; <a href="/fr/about-us">Qui sommes-nous ?</a> &gt; Blog
{% endblock %}

{% block main_content %}
    <div id="nav_content">
        <h1>QUI SOMMES-NOUS ?</h1>
        <ul>
            <li class="active"><a href="/fr/about-us/blog">Blog</a></li>
            <li><a href="/fr/about-us/partners">Partenaires</a></li>
            <li><a href="/fr/about-us/clients">Clients</a></li>
            <li><a href="http://www.hni.org/">HNI</a>
        </ul>
    </div>
    <div id="main_content">
        <div class="margin_left_20">
        {% autoescape off %}
        {% for post in posts %}
            <div class="blog-post">
                <div class="blog-header">
                    <div class="blog-date">
                        <div class="wrap">
                            <span class="blog-day">{{ post.created_day }}</span>
                            {{ post.created_month }}
                        </div>
                    </div>
                    <div class="blog-title">
                        <h2><a href="{{ post.link }}" target="_blank" title="{{ post.title }}">{{ post.title }}</a></h2>
                    </div>
                    <div class="clear"></div>
                </div>
                <p>
                    {{ post.content }}
                </p>
            </div>
        {% endfor %}
        {% endautoescape %}
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
