{% extends 'public_secondary.html' %}
{% block page_title %} Avantages {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "datawinners" %}
{{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
<a href="/fr/home">Accueil</a> &gt; <a href="/fr/what-is-datawinners">Qu’est-ce
    que DataWinners</a> &gt; Avantages
{% endblock %}

{% block main_content %}
<div id="nav_content">
    <h1><a href="/fr/what-is-datawinners/">QU'EST-CE QUE DATAWINNERS</a></h1>
    <ul>
        <li><a href="/fr/what-is-datawinners/how-it-works">Comment ça marche?</a></li>
        <li class="active"><a
                href="/fr/what-is-datawinners/benefits">Avantages</a></li>
        <li><a href="/fr/what-is-datawinners/features">Fonctionnalités</a></li>
    </ul>
</div>
<div id="main_content">
    <div class="margin_left_20">
        <div class="left_content">
            <p><strong>Utilisez DataWinners pour obtenir en temps opportun un
                ensemble complet et précis de réponses à vos questions
                clés.</strong></p>

            <p>Voici pourquoi vous et votre organisation devriez utiliser
                DataWinners :</p>

            <br/>


            <div class="grid_3 alpha omega margin_top_20">
                <img src="/media/images/dw_start_today.png" width="110" alt="" />
            </div>
            <div class="grid_9 alpha omega float_right">
                <h2>1. Commencez dès aujourd'hui</h2>
                <ul class="bulleted margin_null">
                    <li>Essayez gratuitement la totalité des fonctionnalités de
                        DataWinners
                    </li>
                    <li>Inscrivez-vous en quelques minutes. Commencez à collecter des
                        données le même jour
                    </li>
                    <li>Accédez en ligne à DataWinners à partir de votre propre
                        ordinateur – Aucune installation de logiciel ou d’équipement
                        spécial n’est requise
                    </li>
                    <li>Obtenez tout ce dont vous avez besoin dans le cadre de votre
                        abonnement mensuel: un numéro de téléphone, un grand nombre de
                        SMS et une capacité illimitée de collecte de données
                    </li>
                </ul>
            </div>
            <div class="clear"></div>


            <div class="grid_3 alpha omega margin_top_20">
                <img src="/media/images/dw_save_money.gif" width="110" alt="" />
            </div>
            <div class="grid_9 alpha omega float_right">
                <h2>2. Économisez de l'argent</h2>
                <ul class="bulleted margin_null">
                    <li>Collectez vos données par SMS pour un frais mensuel peu élevé
                    </li>
                    <li>Payez au fur et à mesure; Pas de contrats à long terme ni de frais cachés
                    </li>
                    <li>Contractez un seul abonnement pour toute votre organisation;
                        Chaque responsable peut collecter des données pour son propre
                        projet
                    </li>
                    <li>Réduisez les coûts; les personnels de terrain utilisent leur
                        propre téléphone pour envoyer les données par SMS
                    </li>
                    <li>Collectez une quantité illimitée de données</li>
                    <li>Aucun consultant ou programmeur coûteux n’est nécessaire</li>
                </ul>
            </div>
            <div class="clear"></div>


            <div class="grid_3 alpha omega margin_top_20">
                <img src="/media/images/dw_build_tools.gif" width="110" alt="" />
            </div>
            <div class="grid_9 alpha omega float_right">
                <h2>3. Créez des outils pour répondre à vos besoins</h2>
                <ul class="bulleted margin_null">
                    <li>Conçus pour les responsables; Aucune expérience préalable en TI
                        n’est requise
                    </li>
                    <li>Collecte mobile de données faite par soi-même ; Concevez votre
                        projet à l’aide des instructions de DataWinners fournies étape
                        par étape
                    </li>
                    <li>Entièrement Personnalisable; Créez des outils de collecte et de
                        communication de données qui répondent exactement à vos besoins
                    </li>
                    <li>Modifiez aisément des questionnaires existants ou en développer
                        de nouveaux au fur et à mesure que les besoins changent
                    </li>
                </ul>
            </div>
            <div class="clear"></div>

            <div class="grid_3 alpha omega margin_top_20">
                <img src="/media/images/dw_improve_lines.gif" width="110" alt="" />
            </div>
            <div class="grid_9 alpha omega float_right">
                <h2>4. Améliorez les lignes de communication</h2>
                <ul class="bulleted margin_null">
                    <li>Facile à utiliser: Créez votre questionnaire dans la matinée et
                        commencez à collecter vos données dès l'après-midi
                    </li>
                    <li>Choisissez le canal qui vous convient: SMS, Internet;
                        DataWinners vous aidera à décider
                    </li>
                    <li>Collectez des données à l'échelle nationale, même dans les
                        régions éloignées
                    </li>
                    <li>Recevez en quelques secondes des données provenant du terrain;
                        les regarder arriver en temps réel sur votre écran d'ordinateur
                    </li>
                    <li>Définissez les critères pour améliorer la précision</li>
                    <li>Envoyez des rappels automatiques, des messages de confirmation
                        et des rapports d'erreur spécifiques à vos expéditeurs de
                        données
                    </li>
                </ul>
            </div>
            <div class="clear"></div>

            <div class="grid_3 alpha omega margin_top_20">
                <img src="/media/images/dw_work_collaboratively.gif" width="110" alt="" />
            </div>
            <div class="grid_9 alpha omega float_right">
                <h2>5. Travaillez en Collaboration </h2>
                <ul class="bulleted margin_null">
                    <li>Partagez vos données avec vos partenaires et collaborateurs se trouvant dans la ville ou à l'autre bout du monde
                    </li>
                    <li>Faites partie d'une communauté open-source active qui contribue
                        tout le temps à ajouter de nouvelles fonctionnalités et de nouveaux codes dans DataWinners
                    </li>
                </ul>
            </div>
            <div class="clear"></div>

            <div class="grid_3 alpha omega margin_top_20">
                <img src="/media/images/dw_feel_confident.png" width="110" alt="" />
            </div>
            <div class="grid_9 alpha omega float_right">
                <h2>6. Soyez Confiant </h2>
                <ul class="bulleted margin_null">
                    <li>Accédez à vos données depuis n'importe quel ordinateur connecté
                        à Internet dans le monde, 24/7
                    </li>
                    <li>Vos données sont cryptées et protégées par mot de passe ; même
                        les administrateurs de DataWinners n'y ont pas accès.
                    </li>
                    <li>Vos données sont stockées sur des serveurs sécurisés et sont
                        sauvegardées régulièrement.
                    </li>
                    <li>Vos données vous appartiennent – vous pouvez les exporter quand
                        vous voulez et les emporter avec vous
                    </li>
                </ul>
            </div>
            <div class="clear"></div>

            <div class="grid_3 alpha omega margin_top_20">
                <img src="/media/images/dw_gain_insight.gif" width="110" alt="" />
            </div>
            <div class="grid_9 alpha omega float_right">
                <h2>7. Comprenez Mieux et Prenez de Meilleures Décisions</h2>
                <ul class="bulleted margin_null">
                    <li>Utilisez des filtres pour trouver la réponse exacte dont vous
                        avez besoin
                    </li>
                    <li>Analysez vos données immédiatement en utilisant les outils de
                        cartographie et de calcul de DataWinners
                    </li>
                    <li>Exportez vos données vers Excel en un seul clic pour des
                        analyses ultérieures
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>

        <div class="right_content">

                <div class="block_1">
                	<h1>Comment ça marche?</h1>
	                <p>
    	                Obtenez un aperçu rapide du processus de collecte des données.
                	    <br>Voir <a href="/fr/what-is-datawinners/how-it-works">Comment ça marche</a>
	                </p>
    	        </div>

    	        <div class="block_1">
                	<h1>Fonctionnalit&eacute;s</h1>
	                <p>
						Revoir la liste des fonctionnalit&eacute;s cl&eacute;s de DataWinners.
                	    <br>Voir les <a href="/fr/what-is-datawinners/features">fonctionnalit&eacute;s</a>
	                </p>
    	        </div>

    	        <div class="block_1">
                	<h1>Nos succ&egrave;s</h1>
	                <p>
						Voyez comment d'autres ont b&eacute;n&eacute;fici&eacute; de DataWinners.
                	    <br>Voir <a href="/fr/success-stories/">Nos succ&egrave;s</a>
	                </p>
    	        </div>

    	        <div class="block_1">
                	<h1>Essai gratuit</h1>
                	<div id="how_nav">
	                <p>
						Essayez toutes les fonctionnalités gratuitement.
                	    <br><a href="/fr/pricing/">En savoir plus</a> ou
                	    <div id="how_links" class="margin_null">
                	    	<a href="/register/trial/" id="how_try_button">Essai gratuit</a>
                	    </div>
                	</p>
                	</div>
    	        </div>


        </div>
    </div>
</div>
<div class="clear"></div>
{% endblock %}