{% extends 'public_secondary.html' %}
{% block page_title %} How It Works {% endblock %}

{% load dw_tabs %}
{% block body %}
    {% activetab "main_nav" "datawinners" %}
    {{ block.super }}
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script src="/media/javascript/home/howto.js" type="text/javascript"></script>
    <script src="/media/javascript/home/features.js" type="text/javascript"></script>
{% endblock %}

{% block page_breadcrumbs %}
    <a href="/en/home/">Home</a> &gt; <a href="/en/what-is-datawinners">What Is DataWinners</a> &gt; How It Works
{% endblock %}

{% block main_content %}
    <div id="nav_content">
        <h1><a href="/en/what-is-datawinners/">WHAT IS DATAWINNERS</a></h1>
        <ul>
            <li class="active"><a href="/en/what-is-datawinners/how-it-works">How It Works</a></li>
            <li><a href="/en/what-is-datawinners/customized-reports/">Customized Reports &amp; Visualizations</a></li>
        </ul>
    </div>
    <div id="main_content">
        <div class="margin_left_20">
            <div id="how_menu">
                <div class="title">
                    <a href="javascript:void(0)" rel="1">
                        <img src="/media/images/dw_how1.png" width="180" height="110" alt="How it works" />
                        <strong>Create Your Questionnaire</strong>
                    </a>
                </div>
                <div class="title">
                    <a href="javascript:void(0)" rel="2">
                        <img src="/media/images/dw_how2.png" width="180" height="110" alt="How it works" />
                        <strong>Receive Accurate Data</strong>
                    </a>
                </div>
                <div class="title">
                    <a href="javascript:void(0)" rel="3">
                        <img src="/media/images/dw_how3.png" width="180" height="110" alt="How it works" />
                        <strong>See Your Results</strong>
                    </a>
                </div>
                <div class="title">
                    <a href="javascript:void(0)" rel="4">
                        <img src="/media/images/dw_how4.png" width="180" height="110" alt="How it works" />
                        <strong>Make Informed Decisions</strong>
                    </a>
                </div>
                <div class="clear"></div>
                <div id="how_active" class="how_active"></div>
            </div>
            <div id="how_content">
                <div id="step1" class="container active">
                    <div class="feature_row">
                        <div>
                            <h1>Questionnaire Builder</h1>
                            <h3>Transform your paper into a digital questionnaire</h3>
                            <a href="/media/images/howitworks/create_project.jpg" title="Questionnaire Builder" class="popbox">
                                <img src="/media/images/howitworks/min/create_project.png"/>
                            </a>
                        </div>
                        <div>
                            <h1>My Data Senders</h1>
                            <h3>Authorize who can send you data</h3>
                            <a href="/media/images/howitworks/datasender_list.jpg" title="My Data Senders" class="popbox">
                                <img src="/media/images/howitworks/min/data_sender_list.png"/>
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="feature_row">
                        <div>
                            <h1>My Subjects</h1>
                            <h3>Register your important people, places or things</h3>
                            <a href="/media/images/howitworks/subject_list.jpg" title="My Subjects" class="popbox">
                                <img src="/media/images/howitworks/min/subject_list.png"/>
                            </a>
                        </div>
                        <div>
                            <h1>Reminders</h1>
                            <h3>Set deadlines and reminders for on-time data collection</h3>
                            <a href="/media/images/howitworks/reminders.jpg" title="Reminders" class="popbox">
                                <img src="/media/images/howitworks/min/reminders.png"/>
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="clear"></div>
                </div>
                <div id="step2" class="container">
                    <div class="feature_row">
                        <div>
                            <h1>SMS Questionnaire</h1>
                            <h3>Print and share with your Data Senders</h3>
                            <a href="/media/images/howitworks/print_sms.jpg" title="SMS Questionnaire" class="popbox">
                                <img src="/media/images/howitworks/min/print_sms.png"/>
                            </a>
                        </div>
                        <div>
                            <h1>Web Submission</h1>
                            <h3>Submit your data online</h3>
                            <a href="/media/images/howitworks/data_submission_web.jpg" title="Web Submission" class="popbox">
                                <img src="/media/images/howitworks/min/data_submission_web.png"/>
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="feature_row">
                        <div>
                            <h1>Smartphone App</h1>
                            <h3>Collect data for longer questionnaires</h3>
                            <a href="/media/images/howitworks/smartphone2.jpg" title="Smartphone App" class="popbox">
                                <img src="/media/images/howitworks/min/smartphone2.png"/>
                            </a>
                        </div>
                        <div>
                            <h1>SMS Tester</h1>
                            <h3>Try out SMS data submission using emulator</h3>
                            <a href="/media/images/howitworks/sms_tester.jpg" title="SMS Tester" class="popbox">
                                <img src="/media/images/howitworks/min/sms_tester.png"/>
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="clear"></div>
                </div>
                <div id="step3" class="container">
                    <div class="feature_row">
                        <div>
                            <h1>Project Overview</h1>
                            <h3>Start here to manage your project</h3>
                            <a href="/media/images/howitworks/overview.jpg" title="Project Overview" class="popbox">
                                <img src="/media/images/howitworks/min/overview.png"/>
                            </a>
                        </div>
                        <div>
                            <h1>Submission Log</h1>
                            <h3>Review your data as it's submitted in real-time</h3>
                            <a href="/media/images/howitworks/submission_log.jpg" title="Submission Log" class="popbox">
                                <img src="/media/images/howitworks/min/submission_log.png"/>
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="feature_row">
                        <div>
                            <h1>Data Analysis - Spreadsheet</h1>
                            <h3>Analyze your successful submissions</h3>
                            <a href="/media/images/howitworks/analysis_sheet.jpg" title="Data Analysis - Spreadsheet" class="popbox">
                                <img src="/media/images/howitworks/min/analysis_sheet.png"/>
                            </a>
                        </div>
                        <div>
                            <h1>Data Analysis - Chart</h1>
                            <h3>See graphs and stats of your data</h3>
                            <a href="/media/images/howitworks/analysis_chart.jpg" title="Data Analysis - Chart" class="popbox">
                                <img src="/media/images/howitworks/min/analysis_chart.png"/>
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="clear"></div>
                </div>

                <div id="step4" class="container">
                    <div class="feature_row">
                        <div>
                            <h1>Send A Message</h1>
                            <h3>Send SMS from your account to individuals or groups</h3>
                            <a href="/media/images/howitworks/send_a_message.jpg" title="Send A Message" class="popbox">
                                <img src="/media/images/howitworks/min/send_a_message.png"/>
                            </a>
                        </div>
                        <div>
                            <h1>Account Settings</h1>
                            <h3>Manage your account and add Users</h3>
                            <a href="/media/images/howitworks/users.jpg" title="Account Settings" class="popbox">
                                <img src="/media/images/howitworks/min/users.png"/>
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="feature_row">
                        <div>
                            <h1>Questionnaires</h1>
                            <h3>Collect unlimited data to get the information you need</h3>
                            <a href="/media/images/howitworks/projects.jpg" title="Questionnaires" class="popbox">
                                <img src="/media/images/howitworks/min/projects.png"/>
                            </a>
                        </div>
                        <div>
                            <h1>Identification Numbers</h1>
                            <h3>Manage all your people, places and things</h3>
                            <a href="/media/images/howitworks/all_subjects.jpg" title="All Subjects" class="popbox">
                                <img src="/media/images/howitworks/min/all_subjects.png"/>
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="clear"></div>
                </div>
            </div>
            <div id="how_nav">
                <div id="how_prev"><a href="javascript:void(0)">&laquo; Previous</a></div>
                <div id="how_next"><a href="javascript:void(0)">Next &raquo;</a></div>
                <div class="clear"></div>
                <div id="how_links">
                    <a href="/register/trial" id="how_try_button">Try it Free</a>
                    Sign up for your free account
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <ul class="none">
        <li><img src="/media/images/howitworks/create_project.jpg"/></li>
        <li><img src="/media/images/howitworks/datasender_list.jpg"/></li>
        <li><img src="/media/images/howitworks/subject_list.jpg"/></li>
        <li><img src="/media/images/howitworks/reminders.jpg"/></li>

        <li><img src="/media/images/howitworks/print_sms.jpg"/></li>
        <li><img src="/media/images/howitworks/data_submission_web.jpg"/></li>
        <li><img src="/media/images/howitworks/smartphone2.jpg"/></li>
        <li><img src="/media/images/howitworks/sms_tester.jpg"/></li>

        <li><img src="/media/images/howitworks/overview.jpg"/></li>
        <li><img src="/media/images/howitworks/submission_log.jpg"/></li>
        <li><img src="/media/images/howitworks/analysis_sheet.jpg"/></li>
        <li><img src="/media/images/howitworks/analysis_chart.jpg"/></li>

        <li><img src="/media/images/howitworks/send_a_message.jpg"/></li>
        <li><img src="/media/images/howitworks/users.jpg"/></li>
        <li><img src="/media/images/howitworks/projects.jpg"/></li>
        <li><img src="/media/images/howitworks/all_subjects.jpg"/></li>
    </ul>
    <div id="popbox" class="none">
        <img src="" width="750"/>
    </div>
{% endblock %}
