{% extends 'public_secondary.html' %}
{% block page_title %} Comment ça marche ? {% endblock %}

{% load dw_tabs %}
{% block body %}
    {% activetab "main_nav" "datawinners" %}
    {{ block.super }}
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script src="/media/javascript/home/howto.js" type="text/javascript"></script>
    <script src="/media/javascript/home/features.js" type="text/javascript"></script>
{% endblock %}

{% block page_breadcrumbs %}
    <a href="/fr/home/">Accueil</a> &gt; <a href="/fr/what-is-datawinners">Qu’est-ce que DataWinners</a> &gt; Comment ça marche ?
{% endblock %}

{% block main_content %}
    <div id="nav_content">
        <h1><a href="/fr/what-is-datawinners/">QU'EST-CE QUE DATAWINNERS</a></h1>
        <ul>
            <li class="active"><a href="/fr/what-is-datawinners/how-it-works">Comment ça marche ?</a></li>
            <li><a href="/fr/what-is-datawinners/customized-reports/">Rapports et visualisations personnalisés</a></li>
        </ul>
    </div>
    <div id="main_content">
        <div class="margin_left_20">
            <div id="how_menu">
                <div class="title">
                    <a href="javascript:void(0)" rel="1">
                        <img src="/media/images/dw_how1.png" width="180" height="110" alt="How it works" />
                        <strong>Créer votre Questionnaire</strong>
                    </a>
                </div>
                <div class="title">
                    <a href="javascript:void(0)" rel="2">
                        <img src="/media/images/dw_how2.png" width="180" height="110" alt="How it works" />
                        <strong>Recevoir des données fiables</strong>
                    </a>
                </div>
                <div class="title">
                    <a href="javascript:void(0)" rel="3">
                        <img src="/media/images/dw_how3.png" width="180" height="110" alt="How it works" />
                        <strong>Consulter vos résultats</strong>
                    </a>
                </div>
                <div class="title">
                    <a href="javascript:void(0)" rel="4">
                        <img src="/media/images/dw_how4.png" width="180" height="110" alt="How it works" />
                        <strong>Prendre des décisions éclairées</strong>
                    </a>
                </div>
                <div class="clear"></div>
                <div id="how_active" class="how_active"></div>
            </div>
            <div id="how_content">
                <div id="step1" class="container active">
                    <div class="feature_row">
                        <div>
                            <h1>Concepteur de Questionnaire</h1>
                            <h3>Transformez votre formulaire papier en formulaire &eacute;lectronique</h3>
                            <a href="/media/images/howitworks/create_project_fr.jpg" title="Concepteur de Questionnaire" class="popbox">
                                <img src="/media/images/howitworks/min/create_project_fr.png"/>
                            </a>
                        </div>
                        <div>
                            <h1>Mes Expéditeurs de Données</h1>
                            <h3 class="two_lines">Authorisez qui peut soumettre des Données</h3>
                            <a href="/media/images/howitworks/datasender_list_fr.jpg" title="Mes Expéditeurs de Données" class="popbox">
                                <img src="/media/images/howitworks/min/data_sender_list_fr.png"/>
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="feature_row">
                        <div>
                            <h1>Mes Sujets</h1>
                            <h3 class="two_lines">Enregistrez des personnes, des lieux et des choses</h3>
                            <a href="/media/images/howitworks/subject_list_fr.jpg" title="Mes Sujets" class="popbox">
                                <img src="/media/images/howitworks/min/subject_list_fr.png"/>
                            </a>
                        </div>
                        <div>
                            <h1>Rappels</h1>
                            <h3>Fixez des échéances et des rappels pour une collecte de données à temps</h3>
                            <a href="/media/images/howitworks/reminders_fr.jpg" title="Rappels" class="popbox">
                                <img src="/media/images/howitworks/min/reminders_fr.png"/>
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="clear"></div>
                </div>

                <div id="step2" class="container">
                    <div class="feature_row">
                        <div>
                            <h1>Questionnaire SMS</h1>
                            <h3>Imprimez-le et partagez-le avec vos Expéditeurs de Données</h3>
                            <a href="/media/images/howitworks/print_sms_fr.jpg" title="Questionnaire SMS" class="popbox">
                                <img src="/media/images/howitworks/min/print_sms_fr.png"/>
                            </a>
                        </div>
                        <div>
                            <h1>Soumission Web</h1>
                            <h3 class="two_lines">Soumettez vos données en ligne</h3>
                            <a href="/media/images/howitworks/data_submission_web_fr.jpg" title="Soumission Web" class="popbox">
                                <img src="/media/images/howitworks/min/data_submission_web_fr.png"/>
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="feature_row">
                        <div>
                            <h1>Application Smartphone</h1>
                            <h3>Collectez des données pour des questionnaires plus longs ou des soumissions occasionnelles</h3>
                            <a href="/media/images/howitworks/smartphone2_fr.jpg" title="Application Smartphone" class="popbox">
                                <img src="/media/images/howitworks/min/smartphone2_fr.png"/>
                            </a>
                        </div>
                        <div>
                            <h1>Testeur de SMS</h1>
                            <h3>Essayez de soumettre les données par SMS en utilisant notre simulateur</h3>
                            <a href="/media/images/howitworks/sms_tester_fr.jpg" title="Testeur de SMS" class="popbox">
                                <img src="/media/images/howitworks/min/sms_tester_fr.png"/>
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="clear"></div>
                </div>


                <div id="step3" class="container">
                    <div class="feature_row">
                        <div>
                            <h1>Résumé du Projet</h1>
                            <h3 class="two_lines">Commencez ici pour gérer votre projet</h3>
                            <a href="/media/images/howitworks/overview_fr.jpg" title="Résumé du Projet" class="popbox">
                                <img src="/media/images/howitworks/min/overview_fr.png"/>
                            </a>
                        </div>
                        <div>
                            <h1>Journal de Soumission</h1>
                            <h3>Vérifiez vos données à mesure qu'elles sont soumises en temps réel</h3>
                            <a href="/media/images/howitworks/submission_log_fr.jpg" title="Journal de Soumission" class="popbox">
                                <img src="/media/images/howitworks/min/submission_log_fr.png"/>
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="feature_row">
                        <div>
                            <h1>Analyse - Feuille de calcul</h1>
                            <h3>Analysez vos données valides pour prendre de meilleures décisions</h3>
                            <a href="/media/images/howitworks/analysis_sheet_fr.jpg" title="Analyse - Feuille de calcul" class="popbox">
                                <img src="/media/images/howitworks/min/analysis_sheet_fr.png"/>
                            </a>
                        </div>
                        <div>
                            <h1>Analyse - Graphique</h1>
                            <h3>Visualisez les graphiques et les statistiques de vos données</h3>
                            <a href="/media/images/howitworks/analysis_chart_fr.jpg" title="Analyse - Graphique" class="popbox">
                                <img src="/media/images/howitworks/min/analysis_chart_fr.png"/>
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div id="step4" class="container">
                    <div class="feature_row">
                        <div>
                            <h1>Envoyez un Message</h1>
                            <h3>Envoyez un SMS à des individus ou des groupes, à partir de votre compte</h3>
                            <a href="/media/images/howitworks/send_a_message_fr.jpg" title="Envoyez un Message" class="popbox">
                                <img src="/media/images/howitworks/min/send_a_message_fr.png"/>
                            </a>
                        </div>
                        <div>
                            <h1>Paramètres de votre Compte</h1>
                            <h3 class="two_lines">Gérez votre compte et ajoutez des Utilisateurs</h3>
                            <a href="/media/images/howitworks/users_fr.jpg" title="Paramètres de votre Compte" class="popbox">
                                <img src="/media/images/howitworks/min/users_fr.png"/>
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="feature_row">
                        <div>
                            <h1>Questionnaires</h1>
                            <h3>Collectez des données illimitées pour obtenir toutes les informations dont vous avez besoin</h3>
                            <a href="/media/images/howitworks/projects_fr.jpg" title="Tous les Projets" class="popbox">
                                <img src="/media/images/howitworks/min/projects_fr.png"/>
                            </a>
                        </div>
                        <div>
                            <h1>Numéros d'Identification</h1>
                            <h3 class="two_lines">Gérez les personnes, les lieux et les choses</h3>
                            <a href="/media/images/howitworks/all_subjects_fr.jpg" title="Tous les Sujets" class="popbox">
                                <img src="/media/images/howitworks/min/all_subjects_fr.png"/>
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="clear"></div>
                </div>
            </div>
            <div id="how_nav" class="margin_top_20">
                <div id="how_prev"><a href="javascript:void(0)">&laquo; Etape précédente</a></div>
                <div id="how_next"><a href="javascript:void(0)">Etape suivante &raquo;</a></div>
                <div class="clear"></div>
                <div id="how_links">
                    <a href="{% url registration.views.register %}" id="how_try_button">Essai gratuit</a>
                    Créer un compte gratuitement
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <ul class="none">
        <li><img src="/media/images/howitworks/create_project_fr.jpg"/></li>
        <li><img src="/media/images/howitworks/datasender_list_fr.jpg"/></li>
        <li><img src="/media/images/howitworks/subject_list_fr.jpg"/></li>
        <li><img src="/media/images/howitworks/reminders_fr.jpg"/></li>

        <li><img src="/media/images/howitworks/print_sms_fr.jpg"/></li>
        <li><img src="/media/images/howitworks/data_submission_web_fr.jpg"/></li>
        <li><img src="/media/images/howitworks/smartphone2_fr.jpg"/></li>
        <li><img src="/media/images/howitworks/sms_tester_fr.jpg"/></li>

        <li><img src="/media/images/howitworks/overview_fr.jpg"/></li>
        <li><img src="/media/images/howitworks/submission_log_fr.jpg"/></li>
        <li><img src="/media/images/howitworks/analysis_sheet_fr.jpg"/></li>
        <li><img src="/media/images/howitworks/analysis_chart_fr.jpg"/></li>

        <li><img src="/media/images/howitworks/send_a_message_fr.jpg"/></li>
        <li><img src="/media/images/howitworks/users_fr.jpg"/></li>
        <li><img src="/media/images/howitworks/projects_fr.jpg"/></li>
        <li><img src="/media/images/howitworks/all_subjects_fr.jpg"/></li>
    </ul>
    <div id="popbox" class="none">
        <img src="" width="750"/>
    </div>
{% endblock %}