{% extends 'public.html' %}
{% load i18n %}
{% block page_title %} DataWinners {% endblock %}

{% block page_js %}
    {{ block.super }}
    <script src="/media/javascript/home/index.js" type="text/javascript"></script>
{% endblock %}

{% block main_content %}
    <div id="container_home_intro">
        <div id="home_intro_bg">
            <div id="home_intro" class="container_24">
                <div class="grid_14 alpha omega">
                    <img src="/media/images/dw_mobile_en.png" width="530" height="393"
                         style="margin-left: 44px" alt=""/>
                </div>
                <div class="grid_10 alpha omega">
                    <div class="content">
                        <p class="title">
                            Data Collection<br/>
                            for Development<br/>
                        </p>
                        <p class="title_medium_size">
                            Transform Paper Forms to Digital Questionnaires<br/>
                            Get Data Using SMS / Smartphone / Web
                        </p>
                        <p class="title_min_size">Unlimited data collection for one low monthly fee</p>
                        <a href="/register/trial"
                           class="intro_try_button">Try it Free</a>
                        <a href="#" class="intro_learn_button">Learn
                            More</a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>



    <div id="container_home_how">
        <div id="home_how" class="container_24">
            <div class="grid_4 alpha omega">
                <img src="/media/images/dw_home_how_en.png" alt="How it works"
                     class="title"/><br/>
                <a href="#">Learn more &raquo;</a>
            </div>
            <div class="grid_20 alpha omega">
                <img src="/media/images/dw_home_how_schema.png" alt="How it works"
                     width="800" height="106"/>

                <div class="grid_5 alpha omega text_align_center">
                    <p>
                        <strong>Create Your Questionnaire</strong>
                    </p>
                </div>
                <div class="grid_6 alpha omega text_align_center">
                    <p>
                        <strong>Receive Accurate Data</strong>
                    </p>
                </div>
                <div class="grid_4 alpha omega text_align_center">
                    <p>
                        <strong>See Your Results</strong>
                    </p>
                </div>
                <div class="grid_5 alpha omega margin_left_20 text_align_center">
                    <p class="margin_left_20" style="width: 205px;">
                        <strong>Make Informed Decisions</strong><br/>
                    </p>
                </div>
            </div>
        </div>
    </div>






    <div id="container_home_carousel">
        <div id="home_carousel" class="container_24 text_align_center">
            <div id="carousel_title">
                <div><a href="/{% trans "en"%}/success-stories">view all stories &raquo;</a></div>
                <h1>Make better decisions to change lives</h1>
            </div>
            <div id="carousel">
                <div class="container_carousel">
                    <div class="carousel">
                        <div class="container_photo">
                            <div class="photo">
                                <a href="javascript:void(0)" rel="popup1"><img
                                        src="/media/images/dw_carous_msi.jpg"
                                        alt="MSM" width="189" height="123"/></a>
                            </div>
                        </div>
                        <div class="text">
                            <h2>Public Health, Madagascar</h2>
                            <a href="javascript:void(0)" rel="popup1">Family
                                Planning and Reproductive Health</a>
                        </div>
                    </div>
                    <div class="plus"><a href="javascript:void(0)"
                                         rel="popup1"><img
                            src="/media/images/dw_popup_plus.png" width="40"
                            height="40" alt=""/></a></div>
                </div>
                <div class="container_carousel">
                    <div class="carousel">
                        <div class="container_photo">
                            <div class="photo">
                                <a href="javascript:void(0)" rel="popup2"><img
                                        src="/media/images/dw_carous_sn.jpg"
                                        alt="Santenet2" width="189" height="123"/></a>
                            </div>
                        </div>
                        <div class="text">
                            <h2>Public Health, Madagascar</h2>
                            <a href="javascript:void(0)" rel="popup2">Maternal and
                                Child Health</a>
                        </div>
                    </div>
                    <div class="plus"><a href="javascript:void(0)"
                                         rel="popup2"><img
                            src="/media/images/dw_popup_plus.png" width="40"
                            height="40" alt=""/></a></div>
                </div>
                <div class="container_carousel">
                    <div class="carousel">
                        <div class="container_photo">
                            <div class="photo">
                                <a href="javascript:void(0)" rel="popup3"><img
                                        src="/media/images/dw_carous_bngrc.jpg"
                                        alt="BNGRC" width="189" height="123"/></a>
                            </div>
                        </div>
                        <div class="text">
                            <h2>Humanitarian Aid, Madagascar</h2>
                            <a href="javascript:void(0)" rel="popup3">Risk and Disaster Management</a>
                        </div>
                    </div>
                    <div class="plus"><a href="javascript:void(0)"
                                         rel="popup3"><img
                            src="/media/images/dw_popup_plus.png" width="40"
                            height="40" alt=""/></a></div>
                </div>
                <div class="clear"></div>
            </div>
            <div id="popup1" class="carousel_popup">
                <div class="repeat_y">
                    <div class="image_in_top">
                        <div class="image_in_bottom">

                            <div class="carousel_popup_content">
                                <div class="carousel_popup_left">
                                    <h2>Public Health</h2>

                                    <h1>Family Planning<br/>and Reproductive Health</h1>
                                    In 2010, Marie Stopes Madagascar (MSM) began collecting and
                                    storing information sent in via mobile phone from doctors
                                    affiliated with its "BlueStar" network of medical clinics.
                                    <br/><br/>Using simple SMS technology, doctors in the
                                    network send in data regarding Family Planning services
                                    performed on a monthly basis.
                                    <br/><br/>All data is aggregated in a central database,
                                    accessible to headquarters staff, where it can be verified,
                                    filtered and exported for analysis.
                                    <br/><br/><a href="/en/success-story/msi" class="more">Read
                                    more &raquo;</a>
                                </div>
                                <div class="carousel_popup_right">
                                    <img src="/media/images/dw_popup_m.kemplay.gif"
                                         alt="Miles Kemplay" width="65" height="65"/><br/>

                                    <p>
                                        "Thanks to HNI, we could gather timely, accurate and
                                        complete data on a monthly basis and analyze which of
                                        our marketing efforts directly lead to spikes in
                                        clients seen.
                                        <br/><br/>We now have a much better idea where to spend our
                                        limited resources."
                                        <br/><span>Miles Kemplay, Country Director of MSM</span>
                                        <br/><img src="/media/images/dw_popup_logo_msi.gif"
                                                  width="123" height="51" alt=""/>
                                    </p>
                                </div>
                                <div class="clear"></div>
                            </div>

                        </div>
                    </div>
                </div>



                        <div class="close"><a href="javascript:void(0)"><img
                                src="/media/images/dw_popup_close.png" width="40"
                                height="40" alt=""/></a></div>
            </div>
            <div id="popup2" class="carousel_popup">
                <div class="repeat_y">
                    <div class="image_in_top">
                        <div class="image_in_bottom">


                            <div class="carousel_popup_content">
                                <div class="carousel_popup_left">
                                    <h2>Public Health</h2>

                                    <h1>Child and Maternal Healthcare</h1>
                                    <br/>In 2010, the USAID-funded RTI/Santénet2 Project
                                    adopted a mobile phone reporting system to collect health
                                    services data delivered by the project.
                                    <br/><br/>Using HNI’s data collection and communication
                                    platform, RTI/Santénet 2 has collected reliable information
                                    regarding
                                    <ul>
                                        <li>Maternal health and family planning</li>
                                        <li>Child malnutrition</li>
                                        <li>Diarrhea, respiratory infection and malaria</li>
                                    </ul>
                                    <br/><a href="/en/success-story/santenet2" class="more">Read
                                    more &raquo;</a>
                                </div>
                                <div class="carousel_popup_right">
                                    <img src="/media/images/dw_popup_v.cakir.gif"
                                         alt="V. Cakir" width="65" height="65"/><br/>

                                    <p>
                                        "Thanks to our partnership with HNI, and the hard work
                                        of our senior staff, we now have the data we need to
                                        report to USAID on macro-level indicators. "
                                        <br/><span>Dr. Volkan Cakir, Chief of Party, The Santénet2 Project</span>
                                        <br/><br/><img src="/media/images/dw_popup_logo_sn.gif"
                                                       width="90" height="44" alt=""/>
                                    </p>
                                </div>
                                <div class="clear"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="close"><a href="javascript:void(0)"><img
                        src="/media/images/dw_popup_close.png" width="40"
                        height="40" alt=""/></a></div>
            </div>
            <div id="popup3" class="carousel_popup">
                <div class="repeat_y">

                    <div class="image_in_top">
                        <div class="image_in_bottom">
                            <div class="carousel_popup_content">
                                <div class="carousel_popup_left">
                                    <h2>HUMANITARIAN AID, Madagascar</h2>

                                    <h1>Risk and Disaster Management</h1>
                                    <br/>In 2010,
                                    the National Bureau for Risk and Disaster Management
                                    (known by the French acronym BNGRC) launched a
                                    new initiative to collect data  electronically after a natural disaster.
                                    <br/><br/>Using SMS, local officials now send in their first post-cyclone
                                    data from the affected areas to headquarters.
                                    Managers in the capital,
                                    Antananarivo, can view the data in spreadsheets and maps and
                                    then make more informed decisions.
                                    <br/><br/><a href="/en/success-story/bngrc" class="more">Read
                                    more &raquo;</a>
                                </div>
                                <div class="carousel_popup_right">
                                    <img src="/media/images/dw_popup_n.raonivelo.gif"
                                         alt="Nianja Raonivelo" width="65" height="65"/><br/>

                                    <p>
                                        "Now, communicating,
                                        processing and compiling the data is done quickly.
                                        We map our data,
                                        send messages to raise pre-disaster awareness and increase preparedness,
                                        access our collected data in real time and share it with other stakeholders."
                                        <br/><span>BNGRC Webmaster/ Data Analyst</span>
                                        <br/><img src="/media/images/dw_popup_logo_bngrc.gif"
                                                  width="39" height="51" alt=""/>
                                    </p>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>


                </div>


                <div class="close"><a href="javascript:void(0)"><img
                        src="/media/images/dw_popup_close.png" width="40"
                        height="40" alt=""/></a></div>
            </div>
        </div>
    </div>
{% endblock %}