{% extends 'public_secondary.html' %}
{% block page_title %} Tarification {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "pricing" %}
{{ block.super }}
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script src="/media/javascript/home/country_networks_fr.js" type="text/javascript"></script>
    <script src="/media/javascript/home/pricing.js" type="text/javascript"></script>
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/pricing.css" rel="stylesheet" />
{% endblock %}

{% block page_breadcrumbs %}
<a href="/fr/home/">Accueil</a> &gt; Tarification
{% endblock %}

{% block main_content %}
<div id="nav_content">
    <h1><a href="/fr/pricing/">TARIFICATION</a></h1>
</div>
<div id="main_content">
    <div class="margin_left_20">
        <div id="pricing">
            <div class="grid_9 alpha omega">
                <div class="container_plan">
                    <div class="plan">
                        <div class="padding_10">
                            <h2>30 Jours d’Essai </h2>
                            <strong> Gratuit </strong>
                            <a href="/register/trial" class="try_button">Essai gratuit</a>
                            <ul>
                                <li>Les mêmes fonctionnalités en ligne qu'un abonnement payé</li>
                                <li>Un numéro de téléphone international à des fins d’essai</li>
                                <li>10 soumissions SMS *</li>
                                <li>Soumissions Web illimitées</li>
                                <li>Disponible à l’échelle mondiale</li>
                            </ul>
                            <em><small>* La tarification internationale s'applique pour les SMS (pour l’Offre d’Essai seulement)</small></em>
                        </div>
                    </div>
                    <!-- Try it Star
                    <div class="badge">
                        <img src="/media/images/dw_badge_tryit_fr.png" width="80" height="80" alt="worldwide" />
                    </div>
                    -->
                </div>
            </div>
            <div class="grid_9 alpha omega">
                <div class="container_plan">
                    <div class="plan">
                        <div class="padding_10">
                            <h2>Prêt à l’Emploi</h2>
                            <strong>$850</strong> <small>par mois</small>
                            <a href="/register/" class="try_button">Abonnez-vous</a>
                            <ul>
                                <li>Accès complet à l'outil de collecte de données en ligne</li>
                                <li>Numéro de téléphone local lié à votre compte</li>
                                <li>5000 SMS</li>
                                <li>Soumissions Web illimitées</li>
                                <li>Disponible à l’échelle mondiale</li>
                            </ul>
                            Économisez 10% <a id="learn_more" href="#a3">En savoir plus </a>
                        </div>
                    </div>
                    <!-- Try it Star
                    <div class="badge">
                        <img src="/media/images/dw_badge_subscribe_fr.png" width="80" height="80" alt="Madagascar" />
                    </div>
                    -->
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <a name="a2"></a><h2>Détails Importants sur l'Abonnement Mensuel</h2>
        <ul class="bulleted">
            <li>Une souscription par organisation par pays</li>
            <li>Numéro de téléphone local lié à votre compte fourni par HNI</li>
            <li>Un paquet de 5000 SMS sortants inclus <img src="/media/images/help_icon.png" class="help_icon" style="margin-top:-6px;" />
                <div class="tooltip"><p>
                    Le paquet mensuel de 5000 SMS inclut à la fois :<br/>
                    &bull;&nbsp;les SMS <strong>entrants</strong> (vous recevez des SMS de vos personnels de terrain)<br/>
                    &bull;&nbsp;les SMS <strong>sortants</strong> (vous envoyez des SMS à vos personnels de terrain)
                </p></div>
            </li>
            <li>Excédents : 50 $ pour 500 SMS supplémentaires</li>
            <li>Couverture
                <select id="country_select">
                    <option>S&eacute;lectionnez votre pays</option>
                </select>
                <img src="/media/images/help_icon.png" class="help_icon" style="margin-top:-1px;" />
                 <div class="tooltip">
                     <p>
                        En utilisant les opérateurs téléphoniques ici, vous pouvez envoyer et recevoir des SMS de votre compte DataWinners.
                     </p>
                 </div>
                <ul class="bulleted" id="networks_list"></ul>
            </li>
            <li>Facturation SMS Inversée disponible <img src="/media/images/help_icon.png" class="help_icon" style="margin-top:-2px;" />
                <div class="tooltip"><p>
                    Les personnels de terrain ne paient rien pour l’envoi de leurs données via SMS. Ces SMS sortants sont déduits de votre paquet mensuel de 5000 SMS.
                </p></div>
            </li>
            <li>Assistance technique et assistance à la clientèle pour vous aider à démarrer</li>
        </ul>
        <a name="a3"></a><h2>Frais d'Abonnement Mensuel</h2>
        <table width="500" class="pricelist">
            <tr>
                <td width="400">Prix par mois :</td>
                <td width="100">$ 850</td>
            </tr>
            <tr>
                <td>- Remise de 10% :<br/><em><small>Payez 6 mois d’abonnement à l'avance et économisez 10%</small></em></td>
                <td>- $ 85</td>
            </tr>
            <tr>
                <td><strong>Prix par mois</strong> (avec remise):</td>
                <td><strong>$ 765</strong></td>
            </tr>
        </table>
        <a name="a4"></a><h2>Paiement</h2>
        <ol>
            <li><strong>Virement</strong></li>
            <li><strong>Carte de crédit</strong><br/>Appelez-nous directement et nous pouvons par téléphone, procéder à votre paiement par carte de crédit en toute sécurité.</li>
            <li><strong>Paiement par transfert ACH </strong><br/>Transfert de fonds direct et sécurisé entre deux comptes bancaires basés aux États-Unis (gratuit , normalement).</li>
        </ol>
        <a name="a5"></a><h2>Besoin d'aide pour démarrer ?</h2>
        <p>Si vous avez besoin d'aide pour démarrer, ou avez un projet de collecte de données ambitieux qui nécessite une solution personnalisée de la part de DataWinners, contactez-nous au <a href="mailto:info@datawinners.com">info@datawinners.com</a> ou utilisez notre formulaire de contact. </p>
        <p>Notre équipe possède une vaste expérience dans le développement des systèmes mobiles de collecte de données. Voir <a href="/fr/success-stories">Nos réussites.</a></p>
    </div>
</div>
<div class="clear"></div>
{% endblock %}