{% extends 'public_secondary.html' %}
{% block page_title %} Privacy and Policy {% endblock %}

{% load dw_tabs %}
{% block body %}

{{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
<a href="/en/home/">Home</a> &gt; Privacy and Policy
{% endblock %}

{% block main_content %}

    <div id="main_content">
        <div class="margin_left_20">
            <h1>DataWinners’ Privacy Policies</h1>
            <p>We recognize the importance of your privacy and the protection of your data.
                This Privacy Policy strives to explain clearly DataWinners’ commitments to privacy.
                If you have questions, please contact us at <a href="mailto:support@datawinners.com">support@datawinners.com</a>.
            </p>

            <p><strong>Information DataWinners Collects Directly from You</strong></p>
            <p>Data can be collected and processed when our website is in operation by you. The following are approved methods of collection:
                <ol>
                    <li><strong>During the Registration Process</strong>
                        <ol class="lower_alpha">
                            <li>Organization Name and Development Sector</li>
                            <li>Address</li>
                            <li>City</li>
                            <li>State</li>
                            <li>Zip Code</li>
                            <li>Country</li>
                            <li>Office Phone Number</li>
                            <li>name of Contact</li>
                            <li>E-mail address</li>
                            <li>Skype ID</li>
                        </ol>
                    </li>
                    <li><strong>Payment and Billing</strong>
                        <ol class="lower_alpha">
                            <li>Credit Card Number (if paying by Credit Card)</li>
                        </ol>
                    </li>
                    <li><strong>Communication with DataWinners</strong><br/>
                        When you communicate with DataWinners or use certain DataWinners’ features, we collect and maintain the communication from you.
                        These may include:
                            <ol class="lower_alpha">
                                <li>Template Gallery</li>
                                <li>User Forum</li>
                                <li>Success Stories</li>
                                <li>Customer Support</li>
                            </ol>
                    </li>
                    <li><strong>When you Create Projects and Questionnaires</strong><br/>
                        Information you may provide that DataWinners collects includes:
                        <ol class="lower_alpha">
                            <li>Names, phone numbers and locations of any Registered Data Senders and Subjects</li>
                        </ol>
                    </li>
                </ol>
            </p>
            <p><strong>Information that DataWinners Collects About You from Other Sources</strong></p>
            <p>
                <ol start="5">
                    <li><strong>Analytical Tools:</strong><br/>
                        Traffic data, weblogs, location data, and any other communication can be collected.
                        These details come from your visit to our site and any resource tools you use while on the site.
                    </li>
                    <li><strong>Cookies:</strong>
                        <ol class="lower_alpha">
                            <li>Cookies are used to collect general online usage by using a cookie file. </li>
                            <li>If used this cookie file is downloaded without prompting.
                                It will be placed on your hard drive with information transferred to the hard
                                drive allowing the cookies to be used for data collection.</li>
                            <li>A cookie is used to improve any services/ products, or overall website characteristic we offer you.</li>
                            <li>All information gathered by cookies is purely statistical. No personal or identifying information is retained.</li>
                            <li>Any computer has the option to decline cookies.  Your web browser options include an “enable” button to decline cookies. </li>
                            <li>By declining cookies you may be limiting your access to sections of our website.</li>
                        </ol>
                    </li>
                    <li><strong>Information You Collect Using DataWinners </strong>
                        <ol class="lower_alpha">
                            <li>You control the information that you collect using DataWinners</li>
                            <li>DataWinners does not review your questionnaires, projects or collected data</li>
                            <li>As such, <strong>you are solely responsible for ensuring that your use of
                                DataWinners for collection of information from others complies with
                                international and local laws.</strong>
                            </li>
                        </ol>
                    </li>
                    <li><strong>Storage of Information</strong>
                        <ol class="lower_alpha">
                            <li>Information DataWinners collects from and about you is stored on DataWinners’ secure server space at
                                <a href="http://www.linode.com">www.linode.com</a> in the United Kingdom and Salesforce.com</li>
                            <li>Information you collect using DataWinners is stored on DataWinners’ secure server space at <a href="http://www.linode.com">www.linode.com</a> in the United Kingdom.</li>
                            <li>Transmission of data on the Internet can never be ultimately secure.
                                We do not and cannot guarantee security of information collected electronically or transmitted;
                                however, we take all necessary steps to provide the best security available.
                                As a result of our inability to guarantee safety, you are submitting information to us at your own risk.
                                Where needed a password may be necessary to access areas of our site.
                                You are responsible for the safety and confidentiality of the password you generate.
                            </li>
                        </ol>
                    </li>

                    <li><strong>Your Access to Information</strong>
                        <ol class="lower_alpha">
                            <li>You may have access to your <strong>personal and financial information</strong>
                                at any time and are free to make corrections to such information</li>
                            <li>Upon cancellation or termination of your DataWinners’ account,
                                you may request that all personal and financial information be deleted from DataWinners’ database.</li>
                            <li>As long as your account is active, you may have access to the
                                <strong>data you collect using DataWinners</strong> at any time by logging onto the DataWinners web site.
                            </li>
                        </ol>
                    </li>
                    <li><strong>Sharing Data you Collect Using DataWinners:</strong>
                        <ol class="lower_alpha">
                            <li>You may choose to share data through various DataWinners’ features – by setting user access permissions and downloading data.</li>
                            <li>You, however, are responsible to ensure that your sharing of data is authorized by relevant data privacy laws. </li>
                            <li>For more detail regarding your usage rights, refer to DataWinners <a href="/en/terms-and-conditions/">Terms and Conditions</a></li>
                        </ol>
                    </li>
                    <li><strong>DataWinners’ Use of Your Information</strong><br/>
                        DataWinners may use the information collected from and about you in order to:
                        <ol class="lower_alpha">
                            <li>Provide you with all contracted services,
                                including contacting you with respect to customer support,
                                billing and payment or other questions regarding your account
                            </li>
                            <li>Improve the DataWinners’ service and website. </li>
                            <li>Manage the DataWinners service, including:
                                <ol class="lower_i">
                                    <li>usage</li>
                                    <li>screen for potentially illegal activity </li>
                                </ol>
                            </li>
                            <li>Enforce the Terms of Service, including Terms of Payment</li>
                        </ol>
                    </li>
                    <li><strong>DataWinners’ Disclosure of Information you Gather Using DataWinners</strong>
                        <ol class="lower_alpha">
                            <li>DataWinners will not view, release, share or distribute the data you gather via DataWinners Questionnaires. </li>
                            <li>One exception is if DataWinners is compelled to release such information pursuant to a subpoena or other request.
                                DataWinners will determine how to respond to such requests, if any, on a case-by-case basis.
                            </li>
                        </ol>
                    </li>
                    <li><strong>DataWinners’ Disclosure of your Personal Information</strong><br/>
                        DataWinners will not sell, release or distribute any of the
                        information you provide regarding yourself or your organization
                        with the following exceptions in which information may be disclosed:
                        <ol class="lower_alpha">
                            <li>Sale of DataWinners or DataWinners’ Assets</li>
                            <li>In response to legal action. DataWinners will determine how to
                                respond to such requests, if any, on a case-by-case basis</li>
                        </ol>
                    </li>
                    <li><strong>Third Party Links</strong><br/>
                        Links might be discovered on our site that belong to third parties.
                        Any third party website on our site may have a privacy policy. You should check their terms.
                        We do not accept liability or responsibility for their privacy policies,
                        based on our lack of control over these third party links.
                    </li>
                    <li><strong>Modification to Privacy Policy</strong><br/>
                        DataWinners reserves the right to modify this Privacy Policy and will provide all account holders notice of any changes.
                    </li>
                </ol>
            </p>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}