{% extends 'public_secondary.html' %}
{% block page_title %} Politique de confidentialit&eacute; {% endblock %}

{% load dw_tabs %}
{% block body %}

{{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
<a href="/fr/home/">Accueil</a> &gt; Politique de confidentialit&eacute;
{% endblock %}

{% block main_content %}

    <div id="main_content">
        <div class="margin_left_20">
            <h1>Politique de Confidentialit&eacute; de DataWinners</h1>
            <p>Nous reconnaissons l'importance de votre vie priv&eacute;e et de la protection de vos donn&eacute;es.
                La pr&eacute;sente Politique de Confidentialit&eacute; vise &agrave; expliquer clairement
                les engagements de DataWinners &agrave; l’&eacute;gard du respect de la confidentialit&eacute;.
                Si vous avez des questions, veuillez nous contacter via
                <a href="mailto:support@datawinners.com">support@datawinners.com</a>.
            </p>

            <p><strong>Informations Collect&eacute;es Directement Aupr&egrave;s de Vous Par DataWinners</strong></p>
            <p>Des donn&eacute;es peuvent être collect&eacute;es et trait&eacute;es lorsque vous utilisez notre site Web.
                Voici les m&eacute;thodes de collecte approuv&eacute;es:
                <ol>
                    <li><strong>Au Cours du Processus d'Inscription</strong>
                        <ol class="lower_alpha">
                            <li>Nom de l'Organisation et Secteur de D&eacute;veloppement</li>
                            <li>Adresse</li>
                            <li>Ville</li>
                            <li>Etat</li>
                            <li>Code Postal</li>
                            <li>Pays</li>
                            <li>Num&eacute;ro de T&eacute;l&eacute;phone du Bureau</li>
                            <li>Nom du contact</li>
                            <li>Adresse e-mail</li>
                            <li>Skype</li>
                        </ol>
                    </li>
                    <li><strong>Paiement et Facturation</strong>
                        <ol class="lower_alpha">
                            <li>Num&eacute;ro de Carte de Cr&eacute;dit (en cas de paiement par Carte de Cr&eacute;dit)</li>
                        </ol>
                    </li>
                    <li><strong>Communication avec DataWinners</strong><br/>
                        Lorsque vous communiquez avec DataWinners,
                        ou utilisez certaines fonctionnalit&eacute;s de DataWinners, nous collectons
                        et gardons la communication venant de vous. Il peut s'agir:
                            <ol class="lower_alpha">
                                <li>De la Galerie de Mod&egrave;les</li>
                                <li>Du Forum des Utilisateurs</li>
                                <li>Des Succès</li>
                                <li>Du Service &agrave; la Client&egrave;le</li>
                            </ol>
                    </li>
                    <li><strong>Lorsque vous Cr&eacute;ez des Projets et des Questionnaires</strong><br/>
                        Les informations que vous pourriez fournir, et que DataWinners recueille comprennent:
                        <ol class="lower_alpha">
                            <li>Les noms, num&eacute;ros de t&eacute;l&eacute;phone et la localisation des
                                Exp&eacute;diteurs de Donn&eacute;es Enregistr&eacute;s, ainsi que les Sujets
                            </li>
                        </ol>
                    </li>
                </ol>
            </p>
            <p><strong>Informations que DataWinners Recueille sur Vous &agrave; Partir d'Autres Sources</strong></p>
            <p>
                <ol start="5">
                    <li><strong>Outils d'Analyse:</strong><br/>
                        Des donn&eacute;es sur le trafic, les weblogs, les donn&eacute;es de localisation, et toute
                        autre communication peuvent être collect&eacute;es.
                        Ces d&eacute;tails proviennent de votre visite sur notre site, ainsi que de tous les outils de
                        ressources que vous pourriez utiliser lors de votre navigation sur le site.
                    </li>
                    <li><strong>Cookies:</strong>
                        <ol class="lower_alpha">
                            <li>Les cookies sont destin&eacute;s &agrave; recueillir les donn&eacute;es
                                d'utilisation g&eacute;n&eacute;rale en ligne, par l’utilisation d’un fichier cookie.
                            </li>
                            <li>
                                En cas d’utilisation, ce fichier cookie est t&eacute;l&eacute;charg&eacute;
                                sans avertissement. Il sera plac&eacute; sur votre disque dur avec des informations
                                transf&eacute;r&eacute;es sur le disque dur, permettant aux cookies
                                d’être utilis&eacute;s pour la collecte des donn&eacute;es.
                            </li>
                            <li>
                                Un cookie est utilis&eacute; pour am&eacute;liorer les services/produits, ou les
                                fonctionnalit&eacute;s g&eacute;n&eacute;rales du site Web que nous vous offrons.
                            </li>
                            <li>Toutes les informations recueillies par les cookies sont d’ordre purement statistique.
                                Aucune information personnelle ou d'identification n’est conserv&eacute;e.
                            </li>
                            <li>Tout ordinateur a la possibilit&eacute; de refuser les cookies.
                                Les options de votre navigateur Web comprennent un bouton “Activer” pour refuser les cookies.
                            </li>
                            <li>En refusant les cookies, vous pouvez limiter votre acc&egrave;s &agrave; certaines
                                sections de notre site Web.
                            </li>
                        </ol>
                    </li>
                    <li><strong>Informations que Vous Collectez en Utilisant DataWinners</strong>
                        <ol class="lower_alpha">
                            <li>Vous avez contrôle sur les informations que vous collectez en utilisant DataWinners</li>
                            <li>DataWinners n'examine pas vos questionnaires, projets ou donn&eacute;es collect&eacute;es</li>
                            <li>En tant que tel, <strong>vous êtes seul responsable de veiller &agrave; ce que votre
                                utilisation de DataWinners pour la collecte d’informations aupr&egrave;s d'autrui soit
                                conforme aux l&eacute;gislations internationales et locales.</strong>
                            </li>
                        </ol>
                    </li>
                    <li><strong>Stockage des Informations</strong>
                        <ol class="lower_alpha">
                            <li>
                                Les informations vous concernant, et que DataWinners recueille aupr&egrave;s de vous
                                sont stock&eacute;es sur <a href="http://www.linode.com">www.linode.com</a>, un espace
                                du serveur s&eacute;curis&eacute; de DataWinners localis&eacute; au Royaume-Uni et sur Salesforce.com
                            </li>
                            <li>
                                Les informations que vous recueillez en utilisant DataWinners sont stock&eacute;ees sur
                                <a href="http://www.linode.com">www.linode.com</a>, un espace du serveur s&eacute;curis&eacute;
                                de DataWinners localis&eacute; au Royaume-Uni.
                            </li>
                            <li>La transmission de donn&eacute;es sur Internet ne peut jamais être totalement
                                s&eacute;curis&eacute;. Nous ne garantissons pas, et ne sommes pas en mesure de
                                garantir la s&eacute;curit&eacute; des informations recueillies ou transmises
                                par voie &eacute;lectronique; cependant, nous prenons toutes les mesures
                                n&eacute;cessaires pour offrir la meilleure s&eacute;curit&eacute; possible.
                                En raison de notre incapacit&eacute; &agrave; garantir la s&eacute;curit&eacute;,
                                vous nous soumettez des informations &agrave; vos propres risques.
                                En cas de besoin, un mot de passe peut être n&eacute;cessaire pour acc&eacute;der
                                &agrave; certaines zones de notre site. Vous êtes responsable de la
                                s&eacute;curit&eacute; et de la confidentialit&eacute; du mot de passe que vous cr&eacute;ez.
                            </li>
                        </ol>
                    </li>

                    <li><strong>Votre Acc&egrave;s aux Informations</strong>
                        <ol class="lower_alpha">
                            <li>Vous pouvez avoir acc&egrave;s &agrave; vos <strong>informations personnelles et
                                financi&egrave;res</strong> &agrave; tout moment et êtes libres d'y apporter des corrections.
                            </li>
                            <li>
                                Lors de l'annulation ou de la r&eacute;siliation de votre compte DataWinners,
                                vous pouvez demander que toutes les informations personnelles et financi&egrave;res
                                soient supprim&eacute;es de la base de donn&eacute;es de DataWinners.
                            </li>
                            <li>Tant que votre compte est actif, vous pouvez &agrave; tout moment avoir acc&egrave;s
                                aux <strong>donn&eacute;es que vous collectez en utilisant DataWinners</strong>
                                en vous connectant sur le site Web DataWinners.
                            </li>
                        </ol>
                    </li>
                    <li><strong>Partage des Donn&eacute;es que Vous Collectez en Utilisant DataWinners:</strong>
                        <ol class="lower_alpha">
                            <li>En d&eacute;finissant des autorisations d'acc&egrave;s et de
                                t&eacute;l&eacute;chargement des donn&eacute;es aux utilisateurs, vous pouvez
                                choisir de partager vos donn&eacute;es grâce &agrave; diverses fonctionnalit&eacute;s
                                de DataWinners.
                            </li>
                            <li>Cependant, vous êtes responsable de vous assurer que votre partage de donn&eacute;es
                                est autoris&eacute;e par les l&eacute;gislations applicables sur la protection des
                                donn&eacute;es.
                            </li>
                            <li>
                                Pour plus de d&eacute;tails concernant vos droits d'utilisation, veuillez vous
                                r&eacute;f&eacute;rer aux <a href="/fr/terms-and-conditions/">Termes et Conditions</a>
                                de DataWinners
                            </li>
                        </ol>
                    </li>
                    <li><strong>Utilisation de Vos Informations par DataWinners</strong><br/>
                        DataWinners peut utiliser les informations vous concernant et recueillies
                        aupr&egrave;s de vous, dans le but de/d’:
                        <ol class="lower_alpha">
                            <li>Mettre &agrave; votre disposition tous les services contract&eacute;s, et de vous
                                contacter pour l’assistance à la client&egrave;le, la facturation et le paiement,
                                ou pour tout autre sujet concernant votre compte
                            </li>
                            <li>Am&eacute;liorer le service et le site Web de DataWinners.</li>
                            <li>G&eacute;rer le service DataWinners, y compris:
                                <ol class="lower_i">
                                    <li>son utilisation</li>
                                    <li>le suivi des activit&eacute;s potentiellement ill&eacute;gales</li>
                                </ol>
                            </li>
                            <li>Appliquer les Conditions d’Utilisation, y compris les Conditions de Paiement</li>
                        </ol>
                    </li>
                    <li><strong>Divulgation par DataWinners des Informations que Vous Recueillez en l’Utilisant</strong>
                        <ol class="lower_alpha">
                            <li>DataWinners ne regardera pas, ne publiera pas, ne partagera pas, ou distribuera
                                les donn&eacute;es que vous recueillez par le biais des Questionnaires de DataWinners.
                            </li>
                            <li>Une exception existe cependant si DataWinners est oblig&eacute; de divulguer de telles
                                informations &agrave; la suite d’une assignation ou d’autre demande. Le cas
                                &eacute;ch&eacute;ant, DataWinners d&eacute;terminera au cas par cas comment il va
                                r&eacute;agir &agrave; ces demandes.
                            </li>
                        </ol>
                    </li>
                    <li><strong>Divulgation par DataWinners de Vos Informations Personnelles</strong><br/>
                        DataWinners ne vendra, ne publiera, ne distribuera aucune des informations que vous
                        fournissez sur vous-même ou sur votre organisation, sauf dans les cas d’exception
                        suivants et pour lesquels cas, ces informations peuvent être communiqu&eacute;es:
                        <ol class="lower_alpha">
                            <li>Vente de DataWinners ou de ses Actifs</li>
                            <li>En r&eacute;action &agrave; un acte judiciaire. Le cas &eacute;ch&eacute;ant,
                                DataWinners d&eacute;terminera au cas par cas comment il va r&eacute;agir &agrave;
                                ces demandes
                            </li>
                        </ol>
                    </li>
                    <li><strong>Liens Appartenant &agrave; des Tiers</strong><br/>
                        Des liens appartenant &agrave; des tiers pourraient se trouver sur notre site.
                        Tout site Web de tiers existant sur notre site peut avoir sa propre politique de
                        confidentialit&eacute;. Vous devriez v&eacute;rifier leurs conditions.
                        Nous n'acceptons aucune obligation ou responsabilit&eacute; &agrave; l’&eacute;gard de leurs
                        politiques de confidentialit&eacute;, faute de capacit&eacute; de notre part d’avoir un
                        contrôle sur ces liens appartenant &agrave; des tiers.
                    </li>
                    <li><strong>Modification de la Politique de confidentialit&eacute;</strong><br/>
                        DataWinners se r&eacute;serve le droit de modifier la pr&eacute;sente Politique de
                        Confidentialit&eacute; et notifiera tous les titulaires de compte de tout changement.
                    </li>
                </ol>
            </p>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}