{% extends 'public_secondary.html' %}
{% block page_title %} Nos réussites {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "success" %}
{{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
<a href="/fr/home/">Accueil</a> &gt; Nos réussites
{% endblock %}

{% block main_content %}
<div id="nav_content">
    <h1>Nos réussites</h1>
    <ul>
        <li><a href="/fr/success-story/msi">Prestations en Planification
            Familiale
            et en Santé de la Reproduction</a></li>
        <li><a href="/fr/success-story/santenet2">Santé Maternelle et
            Infantile</a></li>
        <li><a href="/fr/success-story/bngrc">Gestion des Risques et
            Catastrophes</a></li>
    </ul>
</div>
<div id="main_content">
    <div class="margin_left_20">
        <div class="margin_bottom_20">
            <div class="grid_5 alpha omega">
                <img src="/media/images/dw_clogo_mariestopes.png" width="190"
                     height="70" alt="Marie Stopes"/>
            </div>
            <div class="grid_13 alpha omega float_right">
                <h4>Santé Publique</h4>

                <h2 class="margin_top_null">Planification familiale et Santé de la Reproduction
                </h2>

                <p>En 2010, Marie Stopes Madagascar (MSM) a commencé à
                    collecter et à stocker les informations émanant des
                    médecins affiliés à son réseau de cliniques médicales
                    "BlueStar" par le biais des téléphones mobiles.</p>

                <p>En utilisant la simple technologie SMS, les
                    médecins du réseau envoient mensuellement les données
                    concernant les services de Planification Familiale
                    réalisés.</p>

                <p>Toutes les données sont agrégées dans une base de
                    données centrale, accessible au personnel du siège, où
                    elles peuvent être vérifiées, filtrées et exportées pour
                    analyse.</p>
                <a href="/fr/success-story/msi" class="more">En
                    savoir plus &raquo;</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="margin_bottom_20">
            <div class="grid_5 alpha omega">
                <img src="/media/images/dw_clogo_rti.gif" width="190"
                     height="60" alt="RTI"/>
            </div>
            <div class="grid_13 alpha omega float_right">
                <h4>Santé Publique</h4>

                <h2 class="margin_top_null">Soins de Santé Maternelle et Infantile</h2>

                <p>En 2010, le Projet RTI/Santénet2 financé par l'USAID a
                    adopté un système de compte-rendu par téléphone mobile pour
                    collecter les données sur les services de santé fournis par
                    le projet.</p>

                <p>Par l’utilisation de la plateforme de collecte et
                    de communication de données de HNI, RTI/Santénet 2 a pu
                    recueillir des informations fiables concernant</p>
                <ul>
                    <li>La santé maternelle et la Planification Familiale
                    </li>
                    <li>La malnutrition infantile</li>
                    <li>La diarrhée, les infections respiratoires et le
                        paludisme
                    </li>
                </ul>
                <a href="/fr/success-story/santenet2" class="more">En
                    savoir plus &raquo;</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="margin_bottom_20">
            <div class="grid_5 alpha omega">
                <img src="/media/images/dw_clogo_bngrc.gif" width="190"
                     height="80" alt="BNGRC"/>
            </div>
            <div class="grid_13 alpha omega float_right">
                <h4>Volet Humanitaire</h4>

                <h2 class="margin_top_null">Gestion des Risques et des Catastrophes</h2>

                <p>En 2010, le Bureau National de Gestion des Risques et
                    des Catastrophes (BNGRC) a commencé à effectuer les
                    préparatifs de mise en place de la collecte de données par
                    SMS auprès des subdivisions administratives de base
                    malgaches.</p>

                <p>A l’aide de simples SMS, les responsables locaux
                    peuvent envoyer leurs premières données post-cycloniques
                    des régions touchées vers le Bureau et obtenir des tableaux
                    et des cartes pour la prise de décisions et les
                    interventions.</p>
                <a href="/fr/success-story/bngrc" class="more">En
                    savoir plus &raquo;</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="clear"></div>
{% endblock %}
