{% extends 'public_secondary.html' %}
{% block page_title %} Maternal and Child Health {% endblock %}
{% block page_theme %} Public Health, Madagascar {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "success" %}
{{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
<a href="/en/home/">Home</a> &gt; <a href="/en/success-stories">Success
    Stories</a> &gt; Maternal and Child Health
{% endblock %}

{% block main_content %}
<div id="nav_content">
    <h1><a href="/en/success-stories/">SUCCESS STORIES</a></h1>
    <ul>
        <li><a href="/en/success-story/msi">Family Planning and Reproductive
            Health</a></li>
        <li class="active"><a href="/en/success-story/santenet2">Maternal and
            Child Health</a></li>
        <li><a href="/en/success-story/bngrc">Risk and Disaster Management</a>
        </li>
    </ul>
</div>
<div id="main_content">
    <div class="margin_left_20">
        <div class="left_content">
            <div align="center">
                <img src="/media/images/dw_ss_santenet.jpg" width="500"
                     height="280" alt="Santenet2"/><br/>
                <em class="float_right">&copy; RTI/Sant&eacute;net2: A Community Health Worker with
                    patient</em>
            </div>
            <h2>About the Project</h2>

            <p>The Sant&eacute;net2 project is a major public health initiative
                in Madagascar implemented by RTI International
                and funded by USAID.
                <br/><br/>The scale and scope of the project is enormous. The
                intervention zones covers over 60% of
                Madagascar and includes 6,000 villages located in mostly
                remote, rural areas.
                <br/>Project staff has trained more than 12,000 community-based
                health workers to:</p>
            <ul class="bulleted">
                <li>Improve child survival, maternal health, and nutrition;
                </li>
                <li>Reduce unintended pregnancy and promote healthy
                    reproductive behavior;
                </li>
                <li>Reduce transmission and impact of HIV/AIDS</li>
            </ul>
            <h2>The Challenge</h2>

            <p>The RTI/Sant&eacute;net2 project has major reporting
                requirements, yet Madagascar’s underdeveloped
                infrastructure makes data collection a challenge.
                <br/>Every month, each of the 12,000 community-based health
                workers filled out a paper form summarizing
                their monthly results (e.g. Number of sick children visited).
                <br/>Then, 200 supervisors visited 4-5 communes each month to
                summarize this data and email the results to
                RTI/Sant&eacute;net2 headquarters.
                <br/><br/>Reporting rates were poor; less than 5% of all health data
                arrived at the project's headquarters.
                Early on, Dr. Volkan Cakir, Chief of Party, recognized
                a need for change: “From the beginning,
                we knew we had to innovate to be able to report on our
                success.”</p>

            <h2>Action Taken</h2>

            <p>Like much of Africa, Madagascar’s mobile telephone coverage is
                improving and most of the 200 supervisors own an
                inexpensive phone.
                RTI/Sant&eacute;net2 staff decided to put mobile
                technology to work. They hired HNI to create a mobile
                phone reporting system and help them select 12 key indicators
                (e.g. Number of children diagnosed with
                Malaria). They trained the 200 supervisors to SMS monthly
                commune level aggregated data to RTI/Santenet2’s headquarters database.</p>

            <h2>The Result</h2>

            <p>Since launching the new data collection initiative in June 2010,
                97% of the project's supervisors have
                reported data via SMS at least once. This is an impressive
                achievement compared to the 5% reporting rate
                before.
                 Two-thirds of the supervisors now report consistently and
                each month the successful submission
                rate improves. </p>

            <p class="grid_10">“<em>Thanks to our partnership with HNI, and the hard work of our
                senior staff, we now have the data we need
                to report to USAID on macro-level indicators.
                <br/>We no longer have to extrapolate; data from the field show
                our community health workers treated
                more than 100,000 cases of childhood illness in twelve months,
                and almost 80,000 women are using
                community based Family Planning services.</em>”
            </p>
            <p class="grid_2 float_right">
                <img width="70" alt="V. Cakir" src="/media/images/dw_popup_v.cakir2.gif">
                <br/>
            </p>
            <div class="clear"></div>
            <span class="float_right"><i>Dr. Volkan Cakir, Chief of Party, The Sant&eacute;net2 Project</i></span>
            <div class="clear"></div>
        </div>
        <div class="right_content">
            <div class="block_1">
                <h1>About RTI</h1>
                <div align="center">
                    <img height="50" alt="RTI" src="/media/images/dw_clogo_rti.png">
                </div>
                <p>
                    RTI International is an independent, nonprofit research
                    institute that provides research and technical services
                    to government and commercial clients worldwide.
                    <br/><a href="http://www.rti.org" target="_blank">www.rti.org</a>
                </p>
            </div>

            <div class="block_1">
                <h1>Try it Free</h1>
                <div id="how_nav">
                <p>
                    Try out all the features completely free.

                    <br><a href="/en/pricing/">Learn more</a> or
                    <div id="how_links" class="margin_null">
                        <a href="/register/trial/" id="how_try_button">Try it Free</a>
                    </div>
                </p>
                </div>
        </div>
</div>
        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>
{% endblock %}