{% extends 'public_secondary.html' %}
{% block page_title %} Risk and Disaster Management {% endblock %}
{% block page_theme %} Humanitarian Aid, Madagascar {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "success" %}
{{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
<a href="/en/home/">Home</a> &gt; <a href="/en/success-stories">Success
    Stories</a> &gt; Risk and Disaster Management
{% endblock %}

{% block main_content %}
<div id="nav_content">
    <h1><a href="/en/success-stories/">SUCCESS STORIES</a></h1>
    <ul>
        <li><a href="/en/success-story/msi">Family Planning and Reproductive
            Health</a></li>
        <li><a href="/en/success-story/santenet2">Maternal and Child Health</a>
        </li>
        <li class="active"><a href="/en/success-story/bngrc">Risk and Disaster Management </a></li>
    </ul>
</div>
<div id="main_content">
    <div class="margin_left_20">
        <div class="left_content">
            <img src="/media/images/dw_ss_bngrc.jpg" width="500" height="280"
                 alt="BNGRC"/>

            <h2>About the Project</h2>

            <p>
                In the event of a natural disaster,
                the National Bureau for Risk and Disaster Management
                (known by the French acronym BNGRC) is the entity responsible
                for coordinating programs and activities
                linked to emergency response and assistance.
                Additionally, the bureau is also responsible for
                preparedness and prevention to reduce the impact of disasters.
            </p>

            <h2>The Challenge</h2>

            <p>
                For several years, post-disaster data have been collected through either
            </p>
            <ul class="bulleted">
                <li>landline phone</li>
                <li>radio communication</li>
                <li>hard copy paper reports (mainly for communities close to the BNGRC central office)
                </li>
            </ul>
            <p>
                There are significant delays associated with
                collecting disaster data via these
                paper reports; in times when
                people need direct, immediate assistance,
                these lapses can be catastrophic.
                Moreover, the processing of information
                requires 30 minutes or longer for each report received.<br/>
                Such information processing is time consuming, and the
                cost of telephone calls increased in parallel with the extent of the damages.
            </p>

            <p>
                « <em>Every year, an average of 500
                villages are affected by cyclones,
                Madagascar’s most prominent natural disaster.
                The processing of information is time consuming,
                involves a lot of personnel, and delays the decision-making
                and the sending of response teams; however,
                in the meantime, the extent of the damages is increasing.
                It is even possible that there will be deaths before the
                emergency response team arrives </em>», says Nianja
                Raonivelo, BNGRC Webmaster/Data Analyst.
            </p>

            <h2>Action Taken</h2>

            <p>
                In collaboration with the members of other
                disaster preparedness projects,
                BNGRC decided to modernize its post-disaster
                data collection infrastructure with an HNI-developed
                mobile phone data reporting platform.
                The goal is to provide alternatives to disaster-affected
                communities for reporting post-flood and cyclone information and to
                reduce the processing time of information that reaches
                BNGRC’s headquarters. The BNGRC equipped 1,700 reporters in at-risk communities.
                <br/>
                The United Nations Development Programme (UNDP)
                invested in an additional 300 mobile phones for the project.
                International partners such as CARE, CRS, ADRA and
                UNDP mobilized their field staff working in areas prone to cyclones
                and flooding, participated in the training of the reporters and lent
                various other types of support to this undertaking.

            </p>

            <h2>The Result</h2>

            <p>
                BNGRC’s mobile phone reporting system for disaster relief,
                prevention and management is currently operational.
                The system is considered affordable, reliable and robust
                enough to meet the organization’s needs in times of crisis.
            </p>


            <p class="grid_10">“<em>Now, communicating, processing and compiling the data is done quickly.
                We map our data, send messages to raise pre-disaster awareness
                and increase preparedness, access our collected data
                in real time and share it with other stakeholders </em>».
            </p>
            <p class="grid_2 float_right">
                <img width="70" alt="N. Raonivelo" src="/media/images/dw_popup_n.raonivelo2.gif">
                <br/>
            </p>
            <div class="clear"></div>
            <span class="float_right"><i>Nianja Raonivelo BNGRC Webmaster/ Data Analyst</i></span>
            <div class="clear"></div>

        </div>
        <div class="right_content">
            <div class="block_1">
                <h1>About BNGRC</h1>
                <br/>
                <div align="center"><img
                        src="/media/images/dw_logo_bngrc.png" width="74"
                        height="100" alt="BNGRC"/></div>
                <p>
                    The National Bureau for Risk and Disaster Management
                    (known by the French acronym BNGRC) of Madagascar is the entity
                    responsible for coordinating activities for risk and disaster
                    management, and for some hazards, the preparedness and
                    prevention to reduce the impact of disasters.
                    <br/><a href="http://www.bngrc.mg" target="_blank">www.bngrc.mg</a>
                </p>
            </div>

            <div class="block_1">
                <h1>Try it Free</h1>
                <div id="how_nav">
                <p>
                    Try out all the features completely free.

                    <br><a href="/en/pricing/">Learn more</a> or
                    <div id="how_links" class="margin_null">
                        <a href="/register/trial/" id="how_try_button">Try it Free</a>
                    </div>
                </p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>
{% endblock %}