{% extends 'public_secondary.html' %}
{% block page_title %} Success Stories {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "success" %}
{{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
<a href="/en/home/">Home</a> &gt; Success Stories
{% endblock %}

{% block main_content %}
<div id="nav_content">
    <h1>SUCCESS STORIES</h1>
    <ul>
        <li><a href="/en/success-story/msi">Family Planning and Reproductive Health</a></li>
        <li><a href="/en/success-story/santenet2">Maternal and Child Health</a>
        </li>
        <li><a href="/en/success-story/bngrc">Gestion des Risques et
            Catastrophes</a></li>
    </ul>
</div>
<div id="main_content">
    <div class="margin_left_20">
        <div class="margin_bottom_20">
            <div class="grid_5 alpha omega">
                <img src="/media/images/dw_clogo_mariestopes.png" width="190"
                     height="70" alt="Marie Stopes"/>
            </div>
            <div class="grid_13 alpha omega float_right">
                <h4>Public Health</h4>

                <h2 class="margin_top_null">Family Planning and Reproductive Health</h2>

                <p>In 2010, Marie Stopes Madagascar (MSM) began collecting and
                    storing information sent in via mobile phone from doctors
                    affiliated with its "BlueStar" network of medical
                    clinics.</p>

                <p>Using simple SMS technology, doctors in the
                    network send in data regarding Family Planning services
                    performed on a monthly basis.</p>

                <p>All data is aggregated in a central database,
                    accessible to headquarters staff, where it can be verified,
                    filtered and exported for analysis.</p>
                <a href="/en/success-story/msi" class="more float_right">Read more &raquo;</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="margin_bottom_20">
            <div class="grid_5 alpha omega">
                <img src="/media/images/dw_clogo_rti.gif" width="190"
                     height="60" alt="RTI"/>
            </div>
            <div class="grid_13 alpha omega float_right">
                <h4>Public Health</h4>

                <h2 class="margin_top_null">Maternal and Child Health</h2>

                <p>In 2010, the USAID-funded RTI/Santénet2 Project
                    adopted a mobile phone reporting system to collect health
                    services data delivered by the project.</p>

                <p>Using HNI’s data collection and communication
                    platform, RTI/Santénet2 has collected reliable information
                    regarding</p>
                <ul>
                    <li>Maternal health and family planning</li>
                    <li>Child malnutrition</li>
                    <li>Diarrhea, respiratory infection and malaria</li>
                </ul>
                <a href="/en/success-story/santenet2" class="more float_right">Read more &raquo;</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="margin_bottom_20">
            <div class="grid_5 alpha omega">
                <img src="/media/images/dw_clogo_bngrc.gif" width="190"
                     height="80" alt="BNGRC"/>
            </div>
            <div class="grid_13 alpha omega float_right">
                <h4>Humanitarian Component, Madagascar</h4>

                <h2 class="margin_top_null">Risk and Disaster Management</h2>

                <p>In 2010,
                    the National Bureau for Risk and Disaster Management
                    (known by the French acronym BNGRC) launched a
                    new initiative to collect data  electronically after a natural disaster.
                    <br/>
               <p>Using SMS, local officials now send in their first post-cyclone
                    data from the affected areas to headquarters.
                    Managers in the capital,
                    Antananarivo, can view the data in spreadsheets and maps and
                    then make more informed decisions.</p>

                <a href="/en/success-story/bngrc" class="more float_right">Read more &raquo;</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="clear"></div>
{% endblock %}