{% extends 'public_secondary.html' %}
{% block page_title %} Gestion des Risques et Catastrophes {% endblock %}
{% block page_theme %} Aide humanitaire, Madagascar {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "success" %}
{{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
<a href="/fr/home/">Accueil</a> &gt; <a href="/fr/success-stories">Nos réussites</a>
&gt; Gestion des Risques et Catastrophes
{% endblock %}

{% block main_content %}
<div id="nav_content">
    <h1><a href="/fr/success-stories/">NOS SUCCÈS</a></h1>
    <ul>
        <li><a href="/fr/success-story/msi">Planification Familiale
            et Santé de la Reproduction</a></li>
        <li><a href="/fr/success-story/santenet2">Santé Maternelle et
            Infantile</a>
        </li>
        <li class="active"><a href="/fr/success-story/bngrc">Gestion des Risques
            et Catastrophes</a></li>
    </ul>
</div>
<div id="main_content">
    <div class="margin_left_20">
        <div class="left_content">
            <img src="/media/images/dw_ss_bngrc.jpg" width="500" height="280"
                 alt="BNGRC"/>

            <h2>&Agrave; Propos du Projet</h2>

            <p>
                En cas de catastrophe naturelle, le Bureau
                National pour la Gestion des Risques et
                Catastrophes (BNGRC) est l’entit&eacute; charg&eacute;e de la
                coordination des programmes et des activit&eacute;s relatives
                aux interventions et secours d’urgence. Le bureau se
                charge &eacute;galement de la pr&eacute;paration
                et de la pr&eacute;vention en vue de r&eacute;duire l’impact
                des
                catastrophes.
            </p>

            <h2>Le D&eacute;fi</h2>

            <p>
                Depuis plusieurs ann&eacute;es, les donn&eacute;es post-al&eacute;as
                sont collect&eacute;es soit
            </p>
            <ul class="bulleted">
                <li>par t&eacute;l&eacute;phone (Ligne de terre)</li>
                <li>par communication radio (BLU)</li>
                <li>par des rapports papier pour les endroits proches du BNGRC</li>
            </ul>
            <p>
                L’obtention des fiches provenant des localit&eacute;s sinistr&eacute;es
                n&eacute;cessite un laps de temps assez long pour
                arriver au niveau de la Commune et du District, puis au niveau
                du BNGRC. C'est catastrophique surtout quand les gens ont besoin d'une assistance directe et imm&eacute;diate. Par ailleurs, les traitements
                des informations n&eacute;cessitent &agrave; peu pr&egrave;s
                30 minutes pour chaque fiche collect&eacute;e.
                <br/>Le traitement des informations s’av&eacute;rait lourd et le
                coût des communications t&eacute;l&eacute;phoniques augmentait en
                parall&egrave;le avec l’ampleur des d&eacute;g&acirc;ts.
            </p>

            <p>
                « <em>Chaque ann&eacute;e on estime &agrave; 500 en moyenne le
                nombre de villages qui sont touch&eacute;s par le cyclone qui
                est la catastrophe naturelle majeure &agrave; Madagascar.
                <br/>Le traitement de ces informations engage beaucoup de temps
                et de personnel, retarde la prise de
                d&eacute;cision et l’envoi des &eacute;quipes d’interventions
                alors qu’entretemps, le nombre de d&eacute;g&acirc;ts augmente.
                <br/>Il se peut m&ecirc;me qu’il y ait des morts avant que les
                secours n’arrivent </em>», selon Nianja Raonivelo,
                Webmaster/Analyste de donn&eacute;es de BNGRC.
            </p>

            <h2>Mesures Prises</h2>

            <p>
                BNGRC, en collaboration avec les membres de projets de pr&eacute;paration &agrave; la catastrophne, a d&eacute;cid&eacute; de
                mettre &agrave;
                profit la technologie SMS de HNI pour la remont&eacute;e et le
                traitement rapides des donn&eacute;es post-al&eacute;as. Le
                but est donner plus d’alternatives aux localit&eacute;s sinistr&eacute;es
                pour l’envoi des informations
                post-inondations et cyclones et de r&eacute;duire le temps de
                traitement des informations parvenant au BNGRC. 1
                700 puces ont ainsi &eacute;t&eacute; achet&eacute;es par
                BNGRC pour ses agents localis&eacute;s dans les zones &agrave; risques.
                <br/>Le Programme des Nations Unies pour le D&eacute;veloppement
                (PNUD) a proc&eacute;d&eacute; &agrave; l’achat de 300 postes
                t&eacute;l&eacute;phoniques pour le projet. Les partenaires internationaux
                tels CARE, CRS, ADRA et PNUD ont mobilis&eacute; leur personnel de terrain localis&eacute; dans les zones vuln&eacute;rables &agrave; l'inondation et au cyclone et ont appuy&eacute; les formations
                directes et en cascade.</p>

            <h2>Le R&eacute;sultat</h2>

            <p>
                Le syst&egrave;me de compte-rendu par t&eacute;l&eacute;phone mobile de BNGRC pour le secours, la pr&eacute;vention et la gestion des sinistres est maintenant op&eacute;rationnel.
                Le syst&egrave;me est assez abordable, fiable et solide pour r&eacute;pondre aux besoins de l'organisation en temps de crises.
            </p>
            <p class="grid_10">“<em>Maintenant, l’envoi, le
                traitement et la compilation des donn&eacute;es peuvent
                &ecirc;tre effectu&eacute;s rapidement. On peut faire la
                cartographie, envoyer des messages de sensibilisation pour
                les pr&eacute;parations avant al&eacute;a, acc&eacute;der &agrave; nos donn&eacute;es collect&eacute;es en temps r&eacute;el et les partager avec nos partenaires.  »</em>
            </p>
            <p class="grid_2 float_right">
                <img width="70" alt="N. Raonivelo" src="/media/images/dw_popup_n.raonivelo2.gif">
                <br/>
            </p>
            <div class="clear"></div>
            <span class="float_right"><i>Nianja Raonivelo, webmaster/analyste de données de BNGRC</i></span>
            <div class="clear"></div>

        </div>
        <div class="right_content">
            <div class="block_1">
                <h1>&Agrave; Propos du BNGRC</h1>
                <br/>
                <div align="center"><img
                        src="/media/images/dw_logo_bngrc.png" width="74"
                        height="100" alt="BNGRC"/></div>
                <p>
                    Le Bureau National pour la Gestion des Risques et
                    Catastrophes (BNGRC) de Madagascar est
                    l’entit&eacute; en charge de la coordination des
                    activit&eacute;s pour les risques et catastrophes ainsi
                    que
                    de la pr&eacute;paration et de la pr&eacute;vention en
                    vue de r&eacute;duire l’impact des catastrophes, pour
                    certains
                    al&eacute;as.
                    <br/><a href="http://www.bngrc.mg" target="_blank">www.bngrc.mg</a>
                </p>
            </div>
                
    	        <div class="block_1">
                	<h1>Essai gratuit</h1>
                	<div id="how_nav">
	                <p>
						Essayez toutes les fonctionalités c'est enti&egrave;ment gratuit.

                	    <br><a href="/fr/pricing/">En savoir plus</a> ou
                	    <div id="how_links" class="margin_null">
                	    	<a href="/register/trial/" id="how_try_button">Essai gratuit</a>
                	    </div>
                	</p>
                	</div>
    	        </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>
{% endblock %}