{% extends 'public_secondary.html' %}
{% block page_title %} Quick Start Services {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "support" %}
{{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_public_support.css" rel="stylesheet" />
    <link href="/media/css/scss/section_public_video.css" rel="stylesheet" />
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script language="javascript">
        $(document).ready(function(){
            $('#popbox').dialog({
                autoOpen: false,
                modal: true,
                width: 825,
                height: "auto",
                title: "Sample Budget",
                position: ["center", "top"],
                open: function(){
                    $(".ui-dialog").css("top", $(window).scrollTop());
                }
            });
            $('.popbox').bind("click", function(){
                $("#popbox").dialog("open");
                return false;
            });
        });

    </script>

{% endblock %}

{% block page_breadcrumbs %}
<a href="/en/home/">Home</a> &gt; <a href="/en/support/">Support</a> &gt; Quick Start Services
{% endblock %}

{% block main_content %}
    <div id="nav_content">
       <h1><a href="/en/support/">SUPPORT</a></h1>
        <ul>
            <li class="active"><a href="/en/support/quick-start-services/">Quick Start Services</a></li>
            <li><a href="/en/support/get-started/">Guides &amp; Tutorials</a></li>
            <li><a href="/en/support/find-answers/">Find Answers</a></li>
            <li><a href="/en/support/ask-us/">Ask Us</a></li>
        </ul>
    </div>
    <div id="main_content">
        <div class="margin_left_20">
            <div class="left_content quick_start_left">

                <img width="480" src="/media/images/support/senegal_training.jpg"/>
                <br/>
                <p>The DataWinners <i>Quick Start Solution</i> is designed for first-time users and sophisticated data collection projects that require additional support.</p>
                <p>DataWinners experts provide on-site support to get everything ready:
                    <ul class="bulleted">
                        <li>Coach staff members to create digital Questionnaires</li>
                        <li>Mentor System Administrators on data collection management</li>
                        <li>Train headquarters personnel to train field staff on data submission using mobile technology</li>
                        <li>Show managers how to use the powerful data analysis tools</li>
                    </ul>
                </p>
                <p>By the end of the <i>Quick Start Solution</i>, your staff will confidently collect data using mobile technology!</p>

                <h2 id="pricing_h2">Pricing</h2>
                <p>Our <i>Quick Start Solution</i> typically takes 2-3 weeks and costs less than $25,000. For a general overview, see this <a href="#" class="popbox">sample budget</a>.</p>
                <p>For more information, please contact us at <a href="mailto:info@datawinners.com">info@datawinners.com</a> or use our <a href="/en/about-us/contact-us/">contact form</a>.</p>
            </div>
            <div class="right_content">
                <div class="block_1">
                    <h1>Customized Reports &amp; Visualizations</h1>
                    <p>
                        Check out how we can meet your specific data collection needs.
                        <br/><br/>

                        See <a href="/en/what-is-datawinners/customized-reports/">Customized Reports &amp; Visualizations</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div id="popbox" class="none">
        <div id="budget_logo_container">
            <img src="/media/images/logo.gif" class="float_right"/>
            <br class="clear-both"/>
        </div>

        <h6 style="font-weight: normal;">Human Network International</h6>
        <h5 style="">DataWinners Quick Start Solution</h5>
        <br/>
        <table id="budget_table">
            <tr class="border_bottom">
                <td colspan="3">&nbsp;</td>
                <td width="60"></td>
                <td width="78">Unit cost</td>
                <td width="80" class="text_align_right">Total</td>
                <td width="128" class="text_align_right">&nbsp;&nbsp;&nbsp;Total in Dollars</td>
            </tr>
            <tr class="padding_top_10">
                <td colspan="7"><b>Consultant Fees</b></td>
            </tr>
            <tr class="padding_top_20">
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td colspan="6"><span>1. Development of Training Materials</span></td>
            </tr>
            <tr class="padding_top_20">
                <td>&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td width="419">Project Director</td>
                <td>1 Day </td>
                <td>at 500</td>
                <td class="text_align_right">500</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
                <td>DataWinners Experts</td>
                <td>1 Day </td>
                <td>at 350</td>
                <td class="text_align_right">350</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
                <td class="border_bottom"><b>Sub-total</b></td>
                <td class="border_bottom" colspan="2">&nbsp;</td>
                <td class="border_bottom text_align_right">850</td>
                <td></td>
            </tr>



            <tr class="padding_top_20">
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td colspan="6"><span>2. On-site training</span></td>
            </tr>
            <tr class="padding_top_20">
                <td>&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>Project Director</td>
                <td>10 Days</td>
                <td>at 500</td>
                <td class="text_align_right">5000</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
                <td>DataWinners Experts</td>
                <td>10 Days</td>
                <td>at 350</td>
                <td class="text_align_right">3500</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
                <td class="border_bottom"><b>Sub-total</b></td>
                <td class="border_bottom" colspan="2">&nbsp;</td>
                <td class="border_bottom text_align_right">8500</td>
                <td></td>
            </tr>


            <tr>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td colspan="6" class="padding_top_20"><span>3. Development of Final Report</span></td>
            </tr>
            <tr class="padding_top_20">
                <td>&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>Project Director</td>
                <td>1 Days</td>
                <td>at 500</td>
                <td class="text_align_right">500</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
                <td>DataWinners Experts</td>
                <td>1 Days</td>
                <td>at 350</td>
                <td class="text_align_right">350</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
                <td class="border_bottom"><b>Sub-total</b></td>
                <td class="border_bottom" colspan="2">&nbsp;</td>
                <td class="border_bottom text_align_right">850</td>
                <td></td>
            </tr>

            <tr>
                <td colspan="6">&nbsp;</td>
                <td class="text_align_right">10,200</td>
            </tr>


            <tr class="border_top padding_top_10">
                <td colspan="7"><b>Transport</b></td>
            </tr>

            <tr class="padding_top_20">
                <td>&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>International airfare</td>
                <td>2 RT </td>
                <td>at 2,000</td>
                <td class="text_align_right">4000</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
                <td>Hotel</td>
                <td>28 Day </td>
                <td>at 158</td>
                <td class="text_align_right">4424</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
                <td>Per diem</td>
                <td>28 Day </td>
                <td>at 79</td>
                <td class="text_align_right">2212</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="6">&nbsp;</td>
                <td class="text_align_right">10,636</td>
            </tr>



            <tr class="border_top padding_top_10">
                <td colspan="7"><b>Other direct costs</b></td>
            </tr>

            <tr class="padding_top_20">
                <td>&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>Training materials</td>
                <td>2 weeks </td>
                <td>at 300</td>
                <td class="text_align_right">600</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="6">&nbsp;</td>
                <td class="text_align_right">600</td>
            </tr>
            <tr class="border_top padding_top_10">
                <td colspan="6"><b>SUB-TOTAL</b></td>
                <td class="text_align_right"><b>21,436</b></td>
            </tr>
            <tr class="border_top border_bottom padding_top_10">
                <td colspan="6" >12&#37; Administrative fee</td>
                <td class="text_align_right padding_top_10">2,572</td>
            </tr>

            <tr class="padding_top_10">
                <td colspan="6"><b>Total</b> in Dollars</td>
                <td class="text_align_right padding_top_10"><b>24,008</b></td>
            </tr>

        </table>
        <div class="margin_top_50">
            <span>&copy; 2013 by HNI</span><span class="float_right">info@datawinners.com | www.hni.org</span>
        </div>

    </div>
{% endblock %}