{% extends 'public_secondary.html' %}
{% block page_title %} Etude de cas {% endblock %}

{% load dw_tabs %}
{% block body %}
    {% activetab "main_nav" "support" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_public_support.css" rel="stylesheet"/>
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript"
            src="/media/javascript/home/howto.js"></script>
{% endblock %}

{% block page_breadcrumbs %}
    <a href="/fr/home/">Accueil</a> &gt; <a
        href="/fr/support/">Assistance</a> &gt; Etude de cas
{% endblock %}

{% block main_content %}
    <div id="nav_content">
        <h1><a href="/fr/support/">ASSISTANCE</a></h1>
        <ul>
            <li class="active"><a href="/fr/support/case-studies/">Etude de
                cas</a></li>
            <li><a href="/fr/support/get-started/">Commencez</a></li>
            <li><a href="/fr/support/find-answers/">Trouvez des reponses
                (FAQs)</a></li>
            <li><a href="/fr/support/ask-us/">Demandez-nous</a></li>
        </ul>
    </div>
    <div id="main_content">

        <div class="margin_left_20">
            <div class="grid_18">
                <p class="font_size_14">OSI est le gestionnaire de programme
                    pour un projet de nutriton infantile. Cliquez sur chaque
                    image ci-dessous pour voir comment Osi utilise DataWinners
                    pour ses besoins de collecte de données.
                </p>
            </div>
            <div class="clear"></div>
            <br/>
            <br/>

            <div class="text_align_center">
                <div id="how_menu" style="width: 540px; margin: auto;">
                    <div class="title">
                        <a href="javascript:void(0)" rel="1">
                            <img src="/media/images/dw_support1.png"
                                 width="180" alt="How it works"/>
                            <strong>Rapport Sommaire</strong>
                        </a>
                    </div>
                    <div class="title">
                        <a href="javascript:void(0)" rel="2">
                            <img src="/media/images/dw_support2.png"
                                 width="180" alt="How it works"/>
                            <strong>Rapport Individuel</strong>
                        </a>
                    </div>
                    <div class="title">
                        <a href="javascript:void(0)" rel="3">
                            <img src="/media/images/dw_support3.png"
                                 width="180" alt="How it works"/>
                            <strong>Rapport des Superviseurs</strong>
                        </a>
                    </div>
                    <div class="clear"></div>
                    <div id="how_active" class="how_active1"></div>
                </div>
                <br/>
            </div>

            <div id="how_content">
                <div id="step1" class="container active">
                    <h1>RAPPORT SOMMAIRE</h1>

                    <h2>1. Remplacer les Efforts Coûteux et Inefficaces de
                        Collecte de Données sur Papier</h2>

                    <p>Osi a un problème: En tant que gestionnaire de programme
                        d'un grand projet de malnutrition infantile, elle ne
                        peut pas obtenir à temps des données exactes et
                        complètes provenant de ses Agents de Nutrition au
                        niveau de chacun de ses Centres de Nutrition.
                    </p>

                    <h2>2. Basculer vers la Collecte de Données via SMS</h2>

                    <p>Osi décide de collecter ses données via des téléphones
                        portables. Elle examine la version papier de ses
                        formulaires de rapport de synthèse mensuel,
                        s’entretient avec le personnel et décide:
<ol><li> de la part
                        de qui veut-elle collecter les données (Agents de
                        Nutrition) ;</li>
<li> le sujet de son questionnaire (Centres
                        de Nutrition) et</li>
<li> quelles sont les questions clés
                        auxquelles elle veut que ses Agents de Nutrition
                        répondent par SMS (par exemple: Combien d'enfants
                        aviez-vous pesé le mois dernier?)
                        <br/>Elle crée le questionnaire en utilisant le
                        générateur de questionnaire convivial de DataWinners.</li></ol>
                    </p>

                    <h2>3. Créer des Matériels de Formation pour Enseigner au
                        Personnel Comment Envoyer des Données Via SMS</h2>

                    <p>DataWinners crée pour Osi un modèle pour son
                        questionnaire. Osi utilise le modèle pour former ses
                        Agents de Nutrition à l’envoi par SMS de leurs rapports
                        de synthèse mensuels
                    </p>

                    <h2>4. Utiliser DataWinners pour envoyer des messages de
                        rappel</h2>

                    <p>Osi fixe un rappel automatique prévu pour être envoyé à
                        tous les Agents de Nutrition qui n'ont pas encore
                        soumis leur rapport.</p>

                    <h2>5. Visualiser vos Données à Partir du Site Web de
                        DataWinners</h2>

                    <p>Le jour qui suit la date limite de soumission des
                        données, Osi se connecte à son compte DataWinners et
                        voit les rapports mensuels complets provenant de tous
                        ses 100 Centres de Nutrition. Pour la première fois,
                        l'Osi a pu obtenir à temps toutes ses données.
                    </p>

                    <h2>6. Partagez vos Données</h2>

                    <p>Osi fournit à son superviseur le lien vers les
                        données de synthèse mensuelle.</p>

                    <h2>7. Prendre de meilleures décisions</h2>

                    <p>Son superviseur est ravi d'obtenir ces informations.
                        Osi et le superviseur examinent les données et décident
                        d’apporter des changements au niveau de plusieurs
                        Centres de Nutrition. Osi félicite plusieurs de ses Agents
                        de Nutrition, tant pour avoir envoyé leurs données que
                        pour avoir permis d’atteindre les objectifs de leur
                        projet.
                    </p>
                </div>
                <div id="step2" class="container">
                    <h1>RAPPORTS INDIVIDUELS</h1>

                    <h2>1. Collecter Plusieurs Rapports Simultanément</h2>

                    <p>En plus des Rapports Sommaires Mensuels, Osi veut
                        également que ses Agents de Nutrition lui envoient des
                        données clés après la visite de chaque enfant auprès
                        d’un Centre de Nutrition.
                    </p>

                    <h2>2. Améliorer la qualité de vos données</h2>

                    <p>Osi crée un deuxième projet de collecte de données dans
                        son compte DataWinners. Elle examine la version papier
                        actuelle du Formulaire de Rapport de Visite du Centre
                        de Nutrition, s’entretient avec le personnel et décide:
                        1) de la part de qui veut-elle collecter les données
                        (Agents de Nutrition) ; 2) le sujet de son
                        questionnaire (Chaque Enfant venu pour une visite) et
                        3) quelles sont les questions clés auxquelles elle veut
                        que ses Agents de Nutrition répondent par SMS (par
                        exemple: Combien pèse l'enfant en kilogrammes?)
                        <br/>Elle crée le questionnaire en utilisant le
                        générateur convivial de questionnaire de DataWinners.
                    </p>

                    <h2>3. Inscrire Chaque Enfant dans DataWinners</h2>

                    <p>Osi utilise son compte DataWinners pour créer un
                        formulaire simple d'inscription pour chaque enfant qui
                        visite un centre de nutrition:</p>
                    <ol>
                        <li>Quel est le prénom de l'enfant?</li>
                        <li>Quel est le nom de l'enfant?</li>
                        <li>La date de naissance de l'enfant?</li>
                        <li>Le numéro de téléphone de la mère?</li>
                    </ol>
                    <p>Dès que les Agents de Nutrition envoient les réponses à
                        ces questions d'inscription, DataWinners génère un
                        numéro d'identification unique pour chaque enfant.
                    </p>

                    <h2>4. Créer des Matériels de Formation qui Enseignent le
                        Personnel Comment Envoyer des Données Via SMS</h2>

                    <p>DataWinners crée pour Osi un modèle pour son
                        questionnaire. Osi utilise le modèle pour former ses
                        Agents de Nutrition à l’envoi par SMS de leurs rapports
                        de visite du centre de nutrition.
                    </p>

                    <h2>5. Visualiser les Données à Partir du Site Web de
                        DataWinners</h2>

                    <p>Chaque jour, Osi peut en temps réel, examiner les
                        rapports de visite des centres de nutrition émanant de
                        la totalité de ses 100 centres de nutrition. Osi peut
                        identifier chaque enfant sévèrement malnutri et
                        travailler avec l'Agent de Nutrition concerné pour
                        mettre en œuvre un plan de redressement
                    </p>

                    <h2>6. Comparer les Résultats au Fil du Temps</h2>

                    <p>Par l’utilisation des outils d'analyse de données de
                        DataWinners, Osi peut suivre l’évolution de chaque
                        enfant au fil du temps.</p>
                </div>
                <div id="step3" class="container">
                    <h1>RAPPORTS DES SUPERVISEURS</h1>

                    <h2>1. Données d’Assurance de la Qualité</h2>

                    <p>Osi veut collecter des données d'assurance de la qualité
                        de la part de ses Superviseurs Régionaux après chaque
                        visite auprès d’un Centre de Nutrition.</p>

                    <h2>2. Créez un Nouveau Projet dans DataWinners</h2>

                    <p>Osi crée un troisième projet de collecte de données dans
                        son compte DataWinners. Elle étudie la version papier
                        de son Formulaire de Rapport d'Assurance de la Qualité
                        du Centre de Nutrition, s’entretient avec le personnel,
                        et décide:
                        <ol>
                            <li>de la part de qui veut-elle collecter les données (Superviseurs Régionaux)</li>
                            <li>le sujet de son questionnaire (Centre de Nutrition)</li>
                            <li>à quelles questions clés souhaite-t-elle que ses superviseurs répondent par SMS (par exemple: Quelle note globale sur cinq donnez-vous à ce Centre de Nutrition?)</li>
                        </ol>
                        Elle crée le questionnaire en utilisant le
                        générateur de questionnaire convivial de DataWinners.
                    </p>

                    <h2>3. Inscrire Chaque Centre de Nutrition sur
                        DataWinners</h2>

                    <p>Osi utilise son compte DataWinners pour créer un
                        formulaire simple d'inscription pour chaque Centre de
                        Nutrition:</p>
                    <ul>
                        <li>Quel est le nom du Centre de Nutrition?</li>
                        <li>Où est situé le Centre de Nutrition?</li>
                    </ul>
                    <p>Dès que Osi répond à ces questions, DataWinners génère
                        un numéro d'identification unique pour chaque Centre de
                        Nutrition</p>

                    <h2>4. Créer des Matériels de Formation qui Enseignent le
                        Personnel Comment Envoyer des Données Via SMS</h2>

                    <p>DataWinners crée pour Osi un modèle pour son
                        questionnaire. Osi utilise le modèle pour former ses
                        Superviseurs à l’envoi par SMS de leurs rapports de
                        visite d’un centre de nutrition.
                    </p>

                    <h2>5. Visualisez les Données à Partir du Site Web de
                        DataWinners</h2>

                    <p>Chaque jour, Osi peut en temps réel, examiner les
                        Rapports d'Assurance de la Qualité du Centre de
                        Nutrition. Osi peut identifier les Centres de Nutrition
                        qui nécessitent une assistance immédiate.
                    </p>

                    <h2>6. Comparer les Résultats au Fil du Temps</h2>

                    <p>Avec l’utilisation des outils d'analyse de données de
                        DataWinners, Osi peut suivre le progrès de chaque
                        Centre de Nutrition au fil du temps.</p>
                </div>
            </div>
            <div id="how_nav" class="margin_top_20">
                <div id="how_prev"><a href="javascript:void(0)">&laquo;
                    Etape précédente</a></div>
                <div id="how_next"><a
                        href="javascript:void(0)">Etape suivante &raquo;</a></div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}