{% extends 'public_secondary.html' %}
{% load i18n %}
{% block page_title %} Demandez-nous {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "support" %}
{{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/plugins/jqueryUI/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <link href="/media/css/scss/section_public_ask_us.css" rel="stylesheet" />
{% endblock %}
{% load i18n %}
{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/jquery.validate.js"></script>
    <script type="text/javascript" src="/media/javascript/messages_{% trans "en" %}.js"></script>
    <script type="text/javascript" src="/media/javascript/home/contact_us.js"></script>
{% endblock %}

{% block page_breadcrumbs %}
<a href="/fr/home/">Accueil</a> &gt; <a href="/fr/support/">Assistance</a> &gt; Demandez-nous
{% endblock %}

{% block main_content %}
    <div id="nav_content">
        <h1><a href="/fr/support/">ASSISTANCE</a></h1>
        <ul>
            <li><a href="/fr/support/quick-start-services/">Services de d&eacute;marrage</a></li>
            <li><a href="/fr/support/get-started/">Guides et tutoriels</a></li>
            <li><a href="/fr/support/find-answers/">Trouvez des reponses</a></li>
            <li class="active"><a href="/fr/support/ask-us/">Demandez-nous</a></li>
        </ul>
    </div>
    <div id="main_content">

        <div class="margin_left_20">
            <p>
                Envoyez une question ou un commentaire &agrave; notre &eacute;quipe de service à la clientèle,<br/>
                Si vous rencontrez un probl&egrave;me pour nous envoyer un message à partir de cette page,<br/>
                s'il vous plait, envoyez nous un e-mail &agrave; l'adresse <a href="mailto:support@datawinners.com">support@datawinners.com</a>
            </p>
            <form method="post" action="{% url datawinners.home.views.ask_us %}" id="contact_us" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="redirect_url" value="{{ flatpage.url }}"/>
                <input type="hidden" name="to" value="support"/>
                <label>Cat&eacute;gorie:</label>
                <select name="category">
                    <option value="{% trans "Create questionnaire"%}">{% trans "Create questionnaire"%}</option>
                    <option value="{% trans "Register a Subject/Data Sender" %}">{% trans "Register a Subject/Data Sender" %}</option>
                    <option value="{% trans "Send data using SMS" %}">{% trans "Send data using SMS" %}</option>
                    <option value="{% trans "Send data using  Internet" %}">{% trans "Send data using  Internet" %}</option>
                    <option value="{% trans "Analyze data" %}">{% trans "Analyze data" %}</option>
                    <option value="{% trans "My account" %}">{% trans "My account" %}</option>
                    <option value="{% trans "General feedback" %}">{% trans "General feedback" %}</option>
                    <option value="{% trans "Other" %}">{% trans "Other" %}</option>
                </select>
                <br/>
                <br/>
                <label>Votre email:</label>
                <input type="text" name="email" id="email"/>
                <br/>
                <br/>
                <label>Sujet:</label>
                <input type="text" name="subject" id="subject"/>
                <br/>
                <br/>
                <label>Message:</label>
                <textarea rows="10" cols="20" name="message" id="message"></textarea>

                <p>Joingnez une capture d'écran ou un document qui illustre le probl&egrave;me.</p>
                <div style="position: relative;margin-bottom: 5px;">
                    <input type="submit" style="left: 155px;width: 79px;top:1px;position: absolute;" value="Parcourir..." onclick="return false;"/>
                    <input type="text" disabled="disabled" style="background-color: #FFFFFF;left: 0px;width: 150px;height: 15px;top:1px;position: absolute;" />
                    <input type="file" name="attachement"  id="input_file" style="z-index: 4;left:0px;opacity:0;position:absolute;">
                </div>
                <br/><br/>
                <input type="submit" value="Envoyer" id="submit"/>
            </form>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}