{% extends 'public_secondary.html' %}
{% block page_title %} Find Answers {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "support" %}
{{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_public_support.scss" rel="stylesheet" />
{% endblock %}

{% block page_js %}
    {{ block.super }}

    <script type="text/javascript" src="/media/javascript/home/support.js"></script>
{% endblock %}

{% block page_breadcrumbs %}
<a href="/en/home/">Home</a> &gt; <a href="/en/support/">Support</a> &gt; Find Answers
{% endblock %}

{% block main_content %}
    <div id="nav_content">
       <h1><a href="/en/support/">SUPPORT</a></h1>
        <ul>
            <li><a href="/en/support/quick-start-services/">Quick Start Services</a></li>
            <li><a href="/en/support/get-started/">Guides &amp; Tutorials</a></li>
            <li class="active"><a href="/en/support/find-answers/">Find Answers</a></li>
            <li><a href="/en/support/ask-us/">Ask Us</a></li>
        </ul>
    </div>
    <div id="main_content">

        <div class="margin_left_20">
            <div class="grid_18 font_size_14">
                Browse our list of Frequently Asked Questions.
            </div>
            <br/>
            <br/>
            <h2>General Information</h2>
            <div class="support-acc">
                <h3>What is DataWinners?</h3>
                <div>
                    <p><b>DataWinners is the first completely integrated, mobile data collection service. DW enables you to collect data via SMS anywhere, with any phone. And because your DataWinners' subscription includes bulk pre-paid SMS, we eliminate time-consuming negotiations with telephone carriers and SMS Gateways.</b></p>
                </div>
                <h3>How Does it Work</h3>
                <div>
                    <p>When you sign up for a DataWinners' subscription, you receive: 1) access to the DataWinners website; 2) a local telephone number in your project country and; 3) a bulk SMS package.
                    <br/>
                    From the DataWinners website you:
                    <ol class="lower_alpha">
                        <li>Design and build data collection questionnaires (forms) for your project</li>
                        <li>Create training materials that teach your staff how to format SMS responses to your questionnaires</li>
                        <li>Register data senders and subjects</li>
                        <li>Create automatic reminders that send SMS messages reminding staff to send in data</li>
                    </ol></p>

                    In the field:<br/>
                    Your staff collect answers to your questionnaires and SMS the answers to the local number provided by DataWinners.  The service works with any phone that can send SMS
                    <br/>
                    <br/>
                    Back at DataWinners:<br/>
                    You have access to view, analyze and download your data in real time.
                    You can share your data by setting account and user permissions, enabling others in your organization to have immediate access to critical project information.
                </div>
                <h3>What can you do with DataWinners?</h3>
                <div>
                    <p>Anything.  Examples of some DataWinners deployments include:<br/>
                    Stock monitoring (medication, mosquito nets)<br/>
                    Monthly activity summaries (patients seen at a health center)<br/>
                    Client satisfaction surveys<br/>
                    Sales Receipt collections<br/>
                    Water-point monitoring<br/></p>
                </div>
                <h3>What makes DataWinners different?</h3>
                <div>
                    <p>DataWinners allows you to collect data in the most challenging environments where paper based systems are costly and often fail.
                    <br/><br/>
                    Unlike mobile data collection toolkits that require configuration and software expertise, you can use DataWinners with no IT experience.
                    <br/><br/>
                    DataWinners has taken on the hardest part of SMS data collection – negotiation with telecoms. Your DataWinners subscription covers the costs of SMS data collection including a local phone number and pre-paid SMS.</p>
                </div>
                <h3>How much does DataWinners cost?</h3>
                <div><p>Our goal is to offer DataWinners services in any country in the world for less than $1,000/month.
                    See our Pricing Page <a href="/en/pricing/">here</a>.
                    This price includes access to the DataWinners do-it-yourself data collection tools,
                    a packet of SMS along with a local telephone number and virtually unlimited data collecting.
                    Costs vary in each country according to the rates we’ve negotiated with the telecommunications operators.</p>
                </div>
                <h3>Where can I use DataWinners?</h3>
                <div><p>Anywhere a mobile phone can send SMS.
                    For a complete list of countries and our rollout plan see our <a href="/en/pricing/">pricing page here</a>.
                    You can access your DataWinners account from a web browser anywhere.</p>
                </div>
                <h3>Can I try DataWinners without subscribing?</h3>
                <div><p>Yes. DataWinners offers a free 30 day <a href="/register/trial">trial account</a> that allows you to experiment with the full features of DataWinners.
                    You can build online questionnaires, collect an unlimited amount of data using the Internet and even try data submission using SMS.<br/>
                    Click <a href="/en/what-is-datawinners/how-it-works/">here for more information</p></a>.
                </div>
                <h3>What type of mobile phones work with DataWinners?</h3>
                <div><p>Any SMS-enabled phone in the world can send in data.</p></div>
                <h3>Can I get help?</h3>
                <div><p>Absolutely. Consult our how-to pages and <a href="/en/support/how-to-create-project/">tutorials</a> or contact us at <a href="mailto:support@datawinners.com">support@DataWinners.com</a></p></div>
                <h3>What languages does DataWinners support?</h3>
                <div><p><b>The DataWinners website is currently available in English and French.  Choose your language on the top, right hand corner of any page.  We plan to add additional languages soon.  You can build your questionnaire in any language.  Users can also specify the language (English, French or Malagasy) of automatic Success and Error messages sent back to Data Senders.</b></p></div>
                <h3>Is this open source? Who is the code base available to?</h3>
                <div>
                    <p>An international partnership of private sector companies, academic institutions and non-governmental organizations are working collaboratively to create and manage DataWinners.com as an open-source project.  Human Network International (HNI) and ThoughtWorks, Inc. lead the effort to make this mobile data collection service responsive to the needs of development organizations worldwide.</p>
                    <p>DataWinners hosted service is one of the first applications built using the Mangrove data collection framework, itself an open source project that develops core tools for mobile data collection, aggregation, analysis, and visualization targeting SMS, Web, J2ME and Android via XForms. The Mangrove initiative is collaboration of ThoughtWorks, Inc, the Modi Research Lab at Columbia University and HNI.</p>
                    <p>The goal of these open-sourced projects is to create a global community, working together to make mobile data collection better.  The entire code base for DataWinners and Mangrove is available for download <a href="https://github.com/mangroveorg/mangrove" target="_blank">here</a>.  We encourage partners to contribute code and ideas so DataWinners and Mangrove continue to innovate.</p>
                </div>
                <h3>Can I send in my data using smartphones?</h3>
                <div><p>DataWinners began with SMS because our clients needed a tool that worked in the most resource challenged locations in the world. Through its work with Mangrove, DataWinners is building tools for J2ME and Android for release in future versions of DataWinners, planned for the first quarter of 2012</p></div>
            </div>

            <h2>Data Senders</h2>
            <div class="support-acc">
                <h3>Who is a Data Sender?</h3>
                <div>
                    <p>A person who sends in data using SMS or Internet is a Data Sender.
                        With DataWinners you give permission to people to send in data by first registering your Data Senders.
                        Then DataWinners will recognize Data Senders by their telephone numbers or email addresses.
                    </p>
                </div>

                <h3>Should I Register Data Senders?</h3>
                <div>
                    <p style="color: #AAAAAA;">
                        Yes.  Registration is required.
                        During registration you will be asked to include the telephone number that the Data Sender will use to send SMS.
                        When registered Data Senders SMS in data, DataWinners will recognize the <b style="text-decoration: underline;">registered telephone number</b> and accept the data. Any SMS from a non-registered number will be rejected and the Data Sender will receive an automatic error message.
                    </p>
                </div>

                <h3>Do I need to register my Data Sender's telephone number in a specific format?</h3>
                <div>
                    <p style="color: #AAAAAA;">Yes.  When registering a Data Sender, include the country code in the telephone number and omit all spaces and special characters. For example, in Madagascar, the phone number 033 12 345 67 would be registered as: 261331234567.
                    </p>
                </div>

                <h3>Do I need to register my Data Sender's telephone number in a specific format?</h3>
                <div>
                    <p style="color: #AAAAAA;">Yes.  When registering a Data Sender,
                        include the country code in the telephone number and omit all spaces and special characters.
                        For example, in Madagascar, the phone number 033 12 345 67 would be registered
                        as: 261331234567.
                    </p>
                </div>

                <h3>Can a Data Sender self-register from the field using SMS?</h3>
                <div style="color: #AAAAAA;">
                    <p>
                    No.  DataWinners will not accept submissions from non-registered telephones. However, a registered Data Sender can register a new Data Sender in the system by sending in the following SMS (omit all &lt;&gt;):
                    </p>
                    <p>Reg .t reporter .n &lt;name of Data Sender&gtl .m &lt;mobile phone number&gt; .l &lt;location&gt; .g &lt;gps coordinates of data sender&gt; (GPS Coordinates are optional)</p>
                </div>

                <h3>Do I need to register my Data Sender for each new project that I create?</h3>
                <div>
                    <p style="color: #AAAAAA;">
                        No.  Once registered, a Data Sender is able to send in data for all current and future projects. However, Data Senders receive reminder messages only for projects for which they are associated. You can associate a Data Sender to a particular project by first clicking on the Data Sender link at the top of the page.  Then select the data senders you want associated with your project.  Then, choose the “Add to project” option from the drop down list in the “Actions” box at the top of the page.  Finally choose which projects you’d like to associate your Data Senders with.
                    </p>
                </div>

                <h3>Does my 'Data Sender' need to include his or her unique ID when submitting data?</h3>
                <div>
                    <p>No.  DataWinners will identify each Data Sender by their registered phone number.</p>
                </div>

                <h3>What are success and error messages?</h3>
                <div>
                    <p style="color: #AAAAAA;">Each time a Data Sender submits data, DataWinners will evaluate the SMS and automatically send back a message. If the SMS contains any errors, DataWinners will send back an error message specifying the mistake made. If the SMS contains no errors, then DataWinners will send a success message back along with a summary of the submitted answers.  The Data Sender can then review the summary and re-submit in case of any inadvertent errors.
                    </p>
                </div>

                <h3>How do I change the language of the success and error messages that my Data Senders receive?</h3>
                <div>
                    <p style="color: #AAAAAA;">Choose the Success and error message language on the Define Project step.
                       To change the language of these messages while still in the Test State of the project,
                       click the "Edit this Project" link from the project overview page and choose the new language.
                       Once a project is in its Active state, the message language is fixed and cannot be changed.
                    </p>
                </div>

                <h3>What languages can my Data Senders receive their Success and Error messages in?</h3>
                <div>
                    <p style="color: #AAAAAA;">In the current release of DataWinners,
                       Success and Error messages can be sent in English, French and Malagasy.
                    </p>
                </div>

                <h3>Can I customize the Success and Error messages or add a new language or dialect?</h3>
                <div>
                    <p style="color: #AAAAAA;">In the current release of DataWinners, Success and Error
                        Messages are not editable or customizable.
                       However, we plan to implement these features in upcoming releases of DataWinners.
                    </p>
                </div>
            </div>

            <br/>
            <br/>
            <h2>Subjects</h2>
            <div class="support-acc">
                <h3>What is a 'Subject'?</h3>
                <div style="color: #AAAAAA;">
                    <p>
                        A Subject is what your questionnaire is about;  a specific person, place, thing or event on which Data Senders report.
                    </p>
                    <p>
                        In many cases, the Data Sender interacts with a subject, then sends in an individual report about the interaction:
                    </p>
                    <p>
                        A doctor examines a baby.  In this case, the subject is the baby.<br/>
                        A supervisor measures the quality of care at a clinic.  The subject is the clinic<br/>
                        An engineer measures the flow rate of a water pump.  The subject is the water pump.<br/>
                        A sales person sells products to a retailer:  The subject is the retailer.
                    </p>
                </div>

                <h3>What is the difference between a Summary Report and an Individual Report about a specific subject?</h3>
                <div style="color: #AAAAAA;">
                    <p>
                        Data collection projects can be grouped into two broad categories:  1)  <span style="color:#000000;">Summary Reports</span>  and; 2) <span style="color:#000000;">Individual Reports about a specific subject</span> .  With DataWinners, you can collect data for either, or both.
                    </p>
                    <span style="color:#000000;">Summary Reports</span><br/>
                    Examples:
                    <ul class="bulletted">
                        <li>A community health worker sends in a monthly activity report
                            <ul class="bulleted">
                                <li>(example question:  How many babies did you weigh last month?)</li>
                            </ul>
                        </li>
                        <li>A young woman answers polling questions
                            <ul class="bulleted">
                                <li>(Example question:  Do you have access to clean water?).</li>
                            </ul>
                        </li>
                    </ul>
                    DataWinners will display your data according to each Data Sender:<br/>
                    <table>
                        <tr>
                            <td>DATA SENDER'S NAME</td>
                            <td>WHAT MONTH AND YEAR ARE YOU REPORTING ON?</td>
                            <td>HOW MANY BABIES DID YOU WEIGH LAST MONTH?</td>
                            <td>HOW MANY BABIES WERE SERVERLY MALNURISHED?</td>
                        </tr>
                        <tr>
                            <td>SHANNON</td>
                            <td>11.2011</td>
                            <td>1213</td>
                            <td>217</td>
                        </tr>
                        <tr>
                            <td>DAVID</td>
                            <td>11.2011</td>
                            <td>756</td>
                            <td>78</td>
                        </tr>
                    </table>
                    <br/>
                    <span style="color:#000000;">Individual Reports about a specific subject</span><br/>

                    <div  style="color: #AAAAAA;">
                        <p  style="color: #000000;">With DataWinners, you can go beyond collecting summaries;  You can collect individual reports about a specific subject.  You can register people, places and things and give each a unique ID number that allows you to: 1) create detailed questionnaires about them (like a medical record); 2) create several different questionnaires about each subject (if your register a clinic, you can create one questionnaire to monitor stock and another to measure the quality of care at the clinic).</p>
                        <p>Examples:</p>
                        <p>A doctor examines a baby.  In this case, the subject is the baby.<br/>
                            A supervisor measures the quality of care at a clinic.  The subject is the clinic<br/>
                            An engineer measures the flow rate of a water pump.  The subject is the water pump.<br/>
                        </p>
                        <p>In each case, the Data Senders (in other words, people in the field) must first identify the specific “subject” (baby/clinic/water pump).</p>
                        <p>For example, the Data Sender would first answer the question:  “What baby are you reporting on?”</p>
                        <p>All subsequent questions would be about the baby.  (Example:  “How much did the baby weigh?”)</p>
                        <p>DataWinners will display your data according to each Subject (Baby):</p>
                        SCREEN SHOT OF ANALYSIS PAGE
                        <table>
                            <tr>
                                <td>BABY'S NAME</td>
                                <td>WHEN DID THE BABY VISIT THE FEEDING CENTER?</td>
                                <td>HOW MUCH DID THE BABY WEIGH IN GRAMS</td>
                                <td>WHAT WAS THE HEIGHT OF THE BABY IN CENTIMETERS?</td>
                            </tr>
                            <tr>
                                <td>AVERY-MAE</td>
                                <td>28.11.2011</td>
                                <td>2298</td>
                                <td>65</td>
                            </tr>
                            <tr>
                                <td>AMELIA VO</td>
                                <td>02.12.2011</td>
                                <td>2456</td>
                                <td>69</td>
                            </tr>
                        </table>
                        <p>
                            To facilitate data collection and improve accuracy, you can register each individual Subject in DataWinners prior to collecting data about them.  Each Subject will receive a unique identification number. Data Senders then use the Subject’s unique ID when they report on the results of a visit to (or from) the Subject.
                        </p>
                        <p>Register each Subject with their geographical location and DataWinners will display each subject individually on a map.</p>
                    </div>

                </div>


                <h3>What is the difference between a Subject Type and an Individual Subject?</h3>
                <div  style="color: #AAAAAA;">
                    <p>A Subject Type is a general label. For example, you create the Subject Type "Clinic." You could then register the following individual Subjects:</p>
                    <ul class="bulleted">
                        <li>North Clinic</li>
                        <li>South Clinic</li>
                        <li>East Clinic</li>
                        <li>West Clinic</li>
                    </ul>
                </div>

                <h3>What are the advantages to register 'Subjects' for my projects?</h3>
                <div>
                    <p>
                        To collect individual reports about specific subjects, you have two choices.
                    </p>
                    <ol class="lower_alpha">
                        <li>Each time, you can ask your Data Senders to send in background information about the subject (Example:  What is the baby’s name?  Where does the baby live?)</li>
                    </ol>
                    Or
                    <ol class="lower_alpha" start="2">
                        <li>Register the background information about the subject first, then going forward have your Data Senders identify each subject using a unique number (example:  “What is the unique identification number of the baby?”  Answer:  bab072)</li>
                    </ol>
                    <p>There are three important advantages to using unique identification numbers:</p>
                    <ol class="lower_alpha">
                        <li>Improve the quality of your data.  Data Senders frequently make spelling mistakes (Example:  A Data Sender spells a baby’s name “Avery” during the first visit, then “Avary” during the second).  When spelling mistakes happen, you have to “clean” your data by determining if “Avery” and “Avary” are two different babies, or the same baby.  Mistakes happen less frequently with unique identification numbers.</li>
                        <li>Make data collection easier by reducing the number of questions.  It’s easier for your Data Senders to answer one question (what is the baby’s identification number?) rather than, say, four background questions (1.  What is the baby’s name? 2.  Where does the baby live? 3.  How old is the baby? 4.  What is the mother’s name?)</li>
                        <li>Once subjects are registered in DataWinners, you can collect a variety of data about them.  You may want to collect several different individual reports for one subject (example:  a report when the baby is seen at a nutritional center and a second report when the community agent visits the baby at home).  After registering the baby with DataWinners, your Data Senders can use the baby’s unique identification number for multiple questionnaires.</li>
                    </ol>
                    <p>If you want to register your subjects with DataWinners, the first step is to identify the subject type (Example:  Patient, Clinic, Water Pump).</p>
                    <p>Subjects are People (Patient, Farmer, Employee); Places (Region, District, Commune); Things (Health Center, Retail Shop, Water Pump) or Events (Training, Performance, Public Gathering)</p>
                    <p>You can choose an existing Subject Type already registered with your DataWinners account, or specify a new Subject Type.</p>
                    <p>Once you choose a subject type (example:  Baby), you will see this question appear in your questionnaire builder:  “What baby are you reporting on?”.</p>
                    <p>In a later step, you will:</p>
                    <ol class="lower_alpha">
                        <li>Create your subject registration questionnaire (with the background questions you want for each subject)</li>
                        <li>Register a list of your subjects with DataWinners so each is assigned a unique identification number.</li>
                    </ol>
                </div>

                <h3>Can a Data Sender register a subject from the field using SMS?</h3>
                <div style="color: #AAAAAA;">
                    <p>
                        Yes.  Data Senders can register new Subjects in the field. Use the following format (omit all <>):
                    </p>
                    <p>
                         Reg .t &lt;type of subject&gt; .n &lt;name of Subject&gt; .m &lt;mobile phone number of Subject&gt; .l &lt;location of Subject&gt; .g &lt;gps coordinates of Subject&gt;
                    </p>
                </div>
            </div>

            <br/>
            <br/>
            <h2>Data Analysis</h2>
            <div class="support-acc">

                <h3>What do the pins on the map represent?</h3>
                <div style="color: #AAAAAA;">
                    <p>
                        On any map, the pins represent either the registered Data Senders or the registered Subjects. If the project type is a Summary Report, then each pin on the map corresponds to one registered Data Sender. For Individual Reports about a Specific Subject, each pin on the map corresponds to one registered Subject.
                    </p>

                </div>

                <h3>Why aren’t all of my registered Data Senders or Subjects on the map?</h3>
                <div style="color: #AAAAAA;">
                    <p>Only Data Senders and Subjects registered with their geographic location are displayed on the map.
                    </p>
                    <p>
                        If you do not see a Data Sender or Subject on the map, it is likely that an error
                        occurred when entering its coordinates or location during registration.
                        Please review the registered Subject/Data Sender's GPS coordinates via the All
                        Subjects/All Data Senders lists.
                    </p>
                </div>

                <h3>How do I add or delete a record that a Data Sender has submitted?</h3>
                <div style="color: #AAAAAA;">
                    <p>
                        Add a record via the "Web Submission" link from the "Data" tab for any project.
                        To delete a data record, click on the "Submission Log" page for the project,
                        select the data record you wish to delete by clicking on the
                        corresponding box in the left-most column, and select
                        "Delete" from the Actions drop down menu.
                    </p>
                </div>

                <h3>What does the 'Submission Status' column refer to on the "Submission Log" page?</h3>
                <div style="color: #AAAAAA;">
                    <p>The Submission Status column indicates whether an incoming SMS was error free and accepted
                        by the system, or contained one or more errors and was rejected by the system.
                        The term "True" indicates the SMS submission was error free and accepted by the system.
                        The term "False" indicates the SMS submission contained errors and was rejected by the system.
                    </p>
                    <p>
                        The intention of displaying the "False" submissions is to serve as a diagnostic tool
                        to help you identify what issues or problems your Data Senders are
                        having when they send in their data.
                    </p>
                </div>

                <h3>What does the "Deleted Record" column refer to on the "Submission Log" page?</h3>
                <div style="color: #AAAAAA;">
                    <p>
                        The Deleted Record column indicates whether a data record was deleted by the user.  The deleted record still appears in the “Submission Log” page, but does not appear on the “Analysis” page.
                    </p>
                    <p>
                        The term "False" indicates that the data record has not been deleted, and is therefore included in the calculations/aggregations on the analysis page.
                        The term "True" indicates that the record has been deleted and is therefore not included in the calculations/aggregations on the analysis page.
                    </p>
                </div>
            </div>
            <br/>
            <br/>

            <h2>Technical FAQs</h2>
            <div class="support-acc">
                <h3>Where is DataWinners hosted?</h3>
                <div style="color:#AAAAAA;">
                    <p>The system is currently hosted with Linode in their London, UK facility.
                        Linode is an excellent virtual/cloud provider.
                        Their website can be found <a href="http://www.linode.com/">here</a>.
                    </p>
                </div>

                <h3>Where is my data stored?</h3>
                <div>
                    <p>Your data is stored on secure servers at Linode.com in the United Kingdom</p>
                </div>

                <h3>What is the technology stack behind DataWinners? </h3>
                <div style="color:#AAAAAA;">
                    <table cellspacing="0" cellpadding="0">
                        <tr>
                            <td>Database</td>
                            <td>CouchDB</td>
                        </tr>
                        <tr>
                            <td>Language</td>
                            <td>Python</td>
                        </tr>
                        <tr>
                            <td>Application Framework</td>
                            <td>Django</td>
                        </tr>
                        <tr>
                            <td>Key JavaScript Librairies</td>
                            <td>jQuery</td>
                        </tr>
                        <tr>
                            <td>
                                GIS Subsystem
                            </td>
                            <td>PostGIS, OpenLayers</td>
                        </tr>
                        <tr>
                            <td>Messaging Layer</td>
                            <td>Vumi</td>
                        </tr>
                    </table>
                </div>

                <h3>Can the code be modified or manipulated?</h3>
                <div>
                    <p><span style="color:#AAAAAA;">Yes</span>
                        We encourage partners to contribute code and ideas so DataWinners and Mangrove continue to innovate.
                    </p>
                </div>

                <h3>What is the SMS interface built around?</h3>
                <div style="color: #AAAAAA;">
                    <p>
                        DataWinners uses Vumi, an open source messaging transport created by the <a href="http://praekeltfoundation.org/" target="_blank">Praekelt Foundation</a>
                        for core messaging services.
                        Vumi can be interfaced with any number of SMS gateway providers and Mobile Network Operators (MNOs).
                        In Madagascar, DataWinners integrates directly with <a href="http://africa.airtel.com/madagascar/" target="_blank">Airtel</a> via SMPP (as supported by Vumi).
                        We also have integrations with gateway providers in India and <a href="http://www.clickatell.com/index.php" target="_blank">Clickatell</a> in the US.
                    </p>
                </div>



                <h3>How does DataWinners interface with local providers? </h3>
                <div style="color: #AAAAAA;">
                    <p>
                        We sign agreements with mobile operators and SMS aggregators to connect DataWinners to every
                        cell phone in the world. This means in a matter of a days, we can activate
                        DataWinners in any country in the world.
                    </p>
                </div>

                <h3>What browsers does DataWinners support?</h3>
                <div>
                    <ol class="lower_alpha">
                        <li>Internet Explorer 7 and newer versions</li>
                        <li>Firefox 3.0 and newer versions</li>
                        <li>Safari 5.1 and newer versions</li>
                    </ol>
                </div>

            </div>

            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}