{% extends 'public_secondary.html' %}
{% block page_title %} Assistance {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "support" %}
{{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_public_support.css" rel="stylesheet" />
{% endblock %}

{% block page_js %}
    {{ block.super }}

    <script type="text/javascript" src="/media/javascript/home/support.js"></script>
{% endblock %}

{% block page_breadcrumbs %}
<a href="/fr/home/">Accueil</a> &gt; Assistance
{% endblock %}

{% block main_content %}
    <div id="nav_content">
        <h1><a href="/fr/support/">ASSISTANCE</a></h1>
        <ul>
            <li><a href="/fr/support/case-studies/">Etude de cas</a></li>
            <li><a href="/fr/support/get-started/">Commencez</a></li>
            <li><a href="/fr/support/find-answers/">Trouvez des reponses (FAQs)</a></li>
            <li><a href="/fr/support/ask-us/">Demandez-nous</a></li>
        </ul>
    </div>
    <div id="main_content">

        <div class="margin_left_20">
            <div class="grid_18 alpha omega">
                DataWinners rend la collecte de donn&eacute;es rapide, facile et amusant. Consultez les infos ci-dessous pour en savoir plus.
                <br/><br/>
            </div>
            <div class="grid_18 alpha omega">
                <div class="grid_9 alpha block_support">
                    <div class="grid_4 omega">
                        <img src="/media/images/dw_howto_questionnaire.jpg" width="150"/><br/>
                    </div>
                    <div class="grid_5 omega">
                        <h3 style="margin-top: 0">Etude de cas</h3>
                        Rencontrez Osi et voyez comment elle recueille des données en utilisant DataWinners.
                        <a href="/fr/support/case-studies/" class="read_more more">En savoir plus</a>
                    </div>
                </div>
                <div class="block_support">
                    <div class="grid_4 omega">
                        <img src="/media/images/dw_support_get_started.png" width="150"/><br/>
                    </div>
                    <div class="grid_5 omega" style="position:relative;">
                        <h3 style="margin-top: 0">Commencez</h3>
                        Apprennez &agrave; cr&eacute;er un simple projet de collecte de données avec DataWinners.
                        <a href="/fr/support/get-started/" class="read_more more">En savoir plus</a>
                    </div>
                </div>
            </div>

            <div class="grid_18 alpha omega margin_top_20">
                <div class="block_support">
                    <div class="grid_4 alpha">
                        <img src="/media/images/dw_support_faq.png" width="150"/><br/>
                    </div>
                    <div class="grid_5 omega">
                        <h3 style="margin-top: 0">Trouvez des r&eacute;ponses (FAQs)</h3>
                        Consultez notre liste de questions fr&eacute;quemment pos&eacute;es.
                        <a href="/fr/support/find-answers/" class="read_more more">En savoir plus</a>
                    </div>
                </div>
                <div class="block_support">
                    <div class="grid_4 alpha">
                        <img src="/media/images/dw_contact_us.jpg" width="150"/><br/>
                    </div>
                    <div class="grid_5 omega">
                        <h3 style="margin-top: 0">Demandez-nous</h3>
                        Envoyez-nous un e-mail. Nous vous r&eacute;pondrons en moins de 24 heures.
                        <a href="/fr/support/ask-us/" class="read_more more">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>

        </div>
    </div>
    <div class="clear"></div>
{% endblock %}