{% extends 'public_secondary.html' %}
{% block page_title %} Termes et conditions {% endblock %}

{% load dw_tabs %}
{% block body %}

{{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
<a href="https://www.datawinners.com/fr/home/">Accueil</a> &gt; Termes et conditions
{% endblock %}

{% block main_content %}
    <div id="main_content">
        <div class="margin_left_20" id="content-terms">


                     <p><strong>Bienvenue!</strong></p>
                     <p> Les présentes Conditions d'Utilisation constituent un contrat entre vous et Human Network International.
                         HNI a développé et g&egrave;re <a href="http://www.datawinners.com/" target="_blank">www.DataWinners.com</a>, le service de collecte de données en ligne.
                         En utilisant le Site DataWinners et les services accessibles depuis le Site DataWinners, vous acceptez d'être lié par les <strong>Conditions d'Utilisation</strong> suivantes.
                     </p>
                     <p><strong>Qu'est-ce que vous Recevez en Souscrivant &agrave; un Compte d’Abonnement DataWinners</strong></p>
                     <ol>
                         <li>Un abonnement qui vous donne l'accès et le droit d'utiliser le site DataWinners</li>
                         <li>Les abonnements au profit des organisations se font par pays.
                             <ol class="lower_alpha">
                                 <li>Par exemple, l’Organisation X, qui veut utiliser DataWinners à Madagascar et au Mozambique doit souscrire à deux abonnements</li>
                                 <li>Les abonnements sont non-transférables et non cessibles</li>
                             </ol>
                         </li>
                         <li>Le stockage de données d’une capacité allant jusqu'à 10.000.000 de questionnaires remplis</li>
                         <li>L’accès à vos données 24/7 pour des téléchargements ou des analyses en utilisant les outils en ligne de DataWinners</li>
                         <li>Si vous optez pour la collecte de données via SMS, vous vous mettrez d'accord avec HNI sur un numéro de téléphone destiné à recevoir ces SMS</li>
                         <li>Un paquet de SMS pré-payés</li>
                         <li>L’accès &agrave; l'assistance client&egrave;le de DataWinners</li>
                         <li>L’utilisation de la Galerie de Modèles et du Forum des Utilisateurs de DataWinners (quand ces seront disponibles)</li>
                     </ol>


                     <p><strong>De Quoi êtes-vous Responsable en utilisant DataWinners</strong></p>
                     <ol>
                         <li>Du maintien de la sécurité de votre compte et de votre mot de passe.</li>
                         <li>Du respect de toutes les lois et législations internationales et locales en vigueur dans les juridictions où vous collectez des données</li>
                         <li>De toutes les activités effectuées sous votre compte</li>
                         <li><strong>D’informer immédiatement HNI</strong> via <a href="mailto:support@datawinners.com">support@datawinners.com</a> sur toute utilisation non autorisée de tout mot de passe ou de tout compte ou de toute autre <strong>violation</strong> connue ou suspectée <strong>de la sécurité</strong></li>
                         <li>De rendre immédiatement compte auprès de HNI si vous avez connaissance ou soupçonnez une <strong>copie ou une distribution</strong> non autorisée <strong>des données</strong>.</li>
                         <li>De l’acquisition et de la maintenance des équipements dont vous avez besoin pour vous connecter à, et pour utiliser le Site DataWinners.</li>
                         <li>De tels équipements peuvent comprendre des modems, matériels, serveurs, logiciels, navigateurs Internet, systèmes d'exploitation, réseaux, serveurs web, des services de téléphonie interurbaine et locale.</li>
                     </ol>

                    <p><strong>Ouvrir un Compte</strong></p>
                    <ol>
                       <li>Acceptez les présentes <strong>Conditions d'Utilisation</strong></li>
                       <li>Donnez une <strong>adresse e-mail valide</strong></li>
                       <li>Fournissez toutes autres informations requises par DataWinners pendant le processus d’Ouverture de Compte.</li>
                    </ol>

                    <p><strong>Tarification</strong></p>
                    <ol>
                        <li>Les comptes sont tarifés selon le <a href="https://www.datawinners.com/fr/pricing/" target="_blank">Barème de Tarification</a> de DataWinners</li>
                        <li>Le Barème de Tarification peut être sujet à des changements</li>
                        <li>DataWinners fournira aux titulaires de compte existants un préavis de 60 jours en cas de modifications apportées au Barème de Tarification par la publication des modifications sur le Site de DataWinners, et contactera directement les titulaires de compte existants par le biais de l'e-mail enregistr&eacute; lors de l'ouverture de compte</li>
                    </ol>

                    <p><strong>Facturation et Paiement</strong></p>
                    <ol>
                        <li>La Facturation et le Paiement des Abonnements sont pr&eacute;-pay&eacute;s mensuellement.</li>
                        <li>Lorsque vous vous abonnez, ou passez d’un compte d'essai &agrave; un compte payant, DataWinners
                            facturera votre premier abonnement mensuel au prorata du nombre de jours restant dans le mois.<br/>
                            Par exemple, si vous vous abonnez le 15 D&eacute;cembre, vous serez facturé pour 16 jours au titre
                            du mois de Décembre. Pour votre premier abonnement mensuel, DataWinners vous fournira
                            &eacute;galement un paquet de SMS dont le volume est calcul&eacute; au prorata temporis selon la m&ecirc;me formule.
                        </li>
                        <li>DataWinners vous facturera mensuellement par l’envoi par e-mail d'une facture &agrave;
                            l'adresse e-mail du titulaire du compte fournie au moment de l'inscription
                        </li>
                        <li>Le paiement est d&ucirc; le 1er de chaque mois.</li>
                    </ol>

                    <p><strong>Non-Paiement: Frais de Retard et Suspension</strong></p>
                    <ol>
                        <li>Si DataWinners ne reçoit pas votre paiement dans les cinq (5) jours &agrave; compter de la Date d'Ech&eacute;ance, DataWinners peut vous envoyer un rappel de paiement et d'alerte que le compte sera r&eacute;sili&eacute;, &agrave; moins que vous contactiez DataWinners pour organiser le paiement.</li>
                        <li>Sauf circonstances atténuantes, si DataWinners ne reçoit pas votre paiement, DataWinners suspendra votre compte au 10ème jour du mois</li>
                        <li>DataWinners vous facturera un frais de réactivation de 100 $ pour tous les comptes suspendus ou fermés</li>
                        <li>Un Frais de Retard de 5% sera facturé si le paiement n'est pas reçu dans les 30 jours qui suivent la Date d'Echéance</li>
                    </ol>

                    <p><strong>Mode de Paiement</strong></p>
                    <ol>
                        <li><strong>Le mode de paiement préféré est par virement bancaire ou par transfert Automated Clearing House (ACH) vers le compte de HNI</strong></li>
                        <li>Vous pouvez également nous appeler directement par téléphone et nous pouvons en toute sécurité, traiter votre paiement par carte de crédit</li>
                        <li>Lorsque vous créez un compte, HNI vous enverra un e-mail de confirmation ainsi que des instructions de paiement spécifiques.</li>
                    </ol>

                    <p><strong>Remboursements et Crédits de Paiement</strong></p>
                    <ol>
                        <li>Tous les paiements sont non remboursables</li>
                        <li>Il n'y aura aucun remboursement ou crédit pour une utilisation partielle de DataWinners pendant le mois. Afin de traiter tout le monde d’une manière égale, aucune exception ne sera faite.</li>
                    </ol>

                    <p><strong>Frais en Cas de Dépassement des Allocations de SMS sur Votre Compte</strong></p>
                    <ol>
                        <li>Les comptes qui dépassent les SMS alloués pour un mois donné seront facturés 50 $ et se verront alloués une tranche additionnelle de 500 messages SMS</li>
                        <li>Chaque fois que la tranche additionnelle de 500 SMS est consommée avant la fin du mois, le compte sera facturé d’une somme supplémentaire de 50 $ et se verra alloué de 500 SMS supplémentaires</li>
                        <li>Ces frais apparaîtront sur votre facture DataWinners mensuelle suivante.</li>
                        <li>HNI s’efforcera de vous informer avant que vous atteigniez le nombre de SMS alloué à votre compte, mais n'est soumis à aucune obligation de le faire.</li>
                        <li>Les SMS non utilis&eacute;s avant le premier jour du mois sont perdus et ne seront pas report&eacute;s pour le mois suivant</li>
                    </ol>

                    <p><strong>Respect des Législations Internationales et Locales</strong></p>
                    <ol>
                        <li>Vos projets de collecte de données peuvent être régis par des législations se rapportant à la confidentialité, à la transmission et au stockage des données.</li>
                        <li>Le respect de toutes les législations applicables relève de votre responsabilité, y compris toutes les lois locales, étatiques, nationales et étrangères, les traités et règlements relatifs à votre utilisation du Site DataWinners.</li>
                        <li>Il peut s'agir de législations relatives à la protection de la propriété intellectuelle, à la confidentialité des données, aux communications internationales et à la transmission de données techniques ou personnelles.</li>
                        <li>Aucun des matériels fournis sur le site DataWinners, y compris les exemples, les tutoriels et les exemples de questionnaires ne doit être considéré ou interprété comme conforme à toute législation y afférente.</li>
                        <li>Avant d'utiliser un Modèle ou un Formulaire, vous devriez vérifier si les données collectées par le formulaire sont autorisées dans votre juridiction.</li>
                        <li>Lorsque vous acceptez ces Termes et Conditions, vous acceptez de procéder à des enquêtes et de vous conformer aux lois sur la confidentialité en vigueur dans la(les) juridiction(s) au niveau desquelles vous collectez des données.</li>
                        <li>En aucun cas, HNI ne doit être tenu responsable de tout acte ou omission de votre part résultant sur une violation des législations ou réglementations locales.</li>
                    </ol>

                    <p><strong>Vos Données</strong></p>
                    <ol>
                        <li>Dans le cadre des présentes Conditions d'Utilisation, « Vos Données » désignent toutes informations recueillies auprès des autres par vos soins ou des personnes en votre nom en utilisant DataWinners</li>
                        <li>Les Informations Financières et Personnelles que vous fournissez pour la création et le maintien de votre compte DataWinners sont considérées comme « Informations Personnelles »</li>
                    </ol>

                    <p><strong>Stockage</strong></p>
                    <ol>
                        <li>Vos Données sont stockées sur des serveurs sécurisés de DataWinners à Linode au Royaume-Uni -- <a href="http://www.linode.com/" target="_blank">www.linode.com</a></li>
                        <li>DataWinners peut changer l'emplacement du serveur, et donnera un préavis de 30 jours à tous les titulaires de compte de tout changement d'emplacement du serveur.</li>
                        <li>Vous pouvez stocker jusqu'à 10.000.000 Questionnaires remplis dans votre compte DataWinners.</li>
                        <li>DataWinners peut changer ou ajouter des limites sur le stockage de données</li>
                        <li>Pour tous changements ou d’ajouts de limites de stockage de données, un préavis de 30 jours sera fourni par e-mail à tous les titulaires de compte DataWinners existants.</li>
                    </ol>

                    <p><strong>Accès</strong></p>
                    <ol>
                        <li>DataWinners ne consultera pas voir vos données, sauf pour identifier une violation potentielle des termes du pr&eacute;sent Accord.
                            Voir section "Résiliation -  Violation des Conditions d'Utilisation" ci-dessous.
                        </li>
                        <li>Vos données vous appartiennent. Vous pouvez y accéder 24/7 à partir du Site Web DataWinners.</li>
                    </ol>

                    <p><strong>Partage et Redistribution des Données</strong></p>
                    <ol>
                        <li>Vous pouvez choisir de partager les données grâce à des fonctions DataWinners diverses - par exemple, vous pouvez définir des autorisations pour permettre aux autres de voir vos données. Vous pouvez également télécharger les données.</li>
                        <li>Vous êtes responsable de vous assurer que tout partage ou re-divulgation des données que vous collectez est autorisé par les législations applicables en matière de confidentialité des données.</li>
                        <li>DataWinners ne sera pas responsable de toute perte de données ou d’infraction aux lois résultant de votre partage ou de la distribution de vos données</li>
                        <li>DataWinners peut divulguer les données &agrave; des tiers, en r&eacute;ponse &agrave; une assignation judicaire.<br/>DataWinners abordera de telles demandes de divulgation au cas par cas.</li>
                    </ol>

                    <p><strong>Suppression de Vos Données</strong></p>
                    <ol>
                        <li>Vous pouvez à tout moment, télécharger vos données à partir du site DataWinners</li>
                        <li>Pour une Demande de suppression de toutes vos données à partir des serveurs de DataWinners, <i>Veuillez vous référer à la section « Annulation ».</i></li>
                        <li>DataWinners se réserve le droit de supprimer vos données du site DataWinners dans les circonstances suivantes:
                            <ol class="lower_alpha">
                                <li>Violation des présentes Conditions d'Utilisation</li>
                                <li>Résiliation de votre compte pour quelque raison</li>
                                <li>Annulation de votre compte par vos soins</li>
                            </ol>
                        </li>
                    </ol>

                    <p><strong>Vos Informations Personnelles</strong></p>
                    <ol>
                        <li>Vos informations financières et personnelles sont stockées sur des serveurs de HNI localisés à Linode au Royaume-Uni <strong>et sur Salesforce.com</strong></li>
                        <li>Vous pouvez à tout moment, accéder à vos informations financières et personnelles en vue d’y apporter des corrections en vous connectant sur le site DataWinners.</li>
                        <li>DataWinners peut divulguer les données &agrave; des tiers, en r&eacute;ponse &agrave; une assignation judicaire.<br/>DataWinners abordera de telles demandes de divulgation au cas par cas.</li>
                    </ol>

                    <p><strong>Politique de Confidentialité de DataWinners</strong></p>
                    <ol>
                        <li>Veuillez vous référer à la rubrique <a href="https://www.datawinners.com/fr/privacy-policy" target="_blank">Politiques de Confidentialité de DataWinners</a> fournie séparément</li>
                    </ol>

                    <p><strong>Utilisations Interdites du Service</strong></p>
                    <ol>
                        <li>Permettre à des personnes ou à des entités non autorisées à utiliser le site DataWinners</li>
                        <li>Télécharger, afficher, envoyer par e-mail, transmettre ou rendre disponibles tout(e) information, document ou autre contenu:
                            <ol class="lower_alpha">
                                <li>ayant un caractère illégal, nuisible, menaçant, abusif, harcelant, diffamatoire, obscène, pornographique, offensant, invasif à la vie privée d’autrui, ou promouvant le sectarisme, le racisme, la haine pour le mal à l’égard de tout individu ou groupe;</li>
                                <li>violant les droits d’autrui, y compris tous droits de propriété intellectuelle;</li>
                                <li>contenant de la publicité ou du matériel promotionnel non sollicité(e) ou non autorisé(e), du « junk mail », des « spams », des « chaînes de lettres », des « ventes pyramidales » ou toute autre forme de sollicitation;</li>
                                <li>contenant des virus informatiques ou tout autre code informatique, des fichiers ou programmes conçus pour interrompre, détruire ou limiter la fonctionnalité de tout logiciel, matériel informatique ou équipement de télécommunication;</li>
                            </ol>
                        </li>
                        <li>Usurper l'identité d’une personne ou entité, ou de faire une fausse déclaration ou représentation concernant votre affiliation avec une personne ou entité;</li>
                        <li>Subtiliser (phish), collecter, télécharger, afficher, envoyer par e-mail, transmettre ou rendre disponible tous(toutes)
                            <ol class="lower_alpha">
                                <li>données de connexion et/ou mots de passe pour d'autres sites Web, logiciels ou services;</li>
                                <li>informations de carte de crédit ou toutes autres formes de données financières utilisées pour la collecte des paiements</li>
                            </ol>
                        </li>
                        <li>Utiliser un logiciel manuel ou automatique, des dispositifs ou d'autres processus pour « infiltrer », « tisser des liens » ou « râcler l’écran » (« crawl, spider or screen scrape ») les pages Web du Site DataWinners;</li>
                        <li>Entraver ou perturber le Site DataWinners, ou les serveurs ou réseaux connectés au Site DataWinners, ou enfreindre les exigences, procédures, politiques ou réglementations des réseaux connectés au Site DataWinners;</li>
                        <li>Obtenir, collecter, stocker ou modifier les informations personnelles des autres utilisateurs</li>
                    </ol>

                    <p><strong>Résiliation - Violation des Conditions d'Utilisation</strong></p>
                    <ol>
                        <li>La violation de l’une des présentes conditions peut entraîner la résiliation de votre droit d'utiliser le Site DataWinners, ainsi que de tous les comptes que vous auriez pu créer.</li>
                        <li>DataWinners aura le droit (mais non l'obligation) d'acc&eacute;der &agrave; vos donn&eacute;es transmises via les Services DataWinners et de les consulter - uniquement en cas de nécessité d'identification d’une violation potentielle des Termes et Conditions, y compris la Section "Utilisations Interdites de ce Service" mentionnée ci-dessus. Si DataWinners découvre une violation réelle ou potentielle, DataWinners peut à sa seule discrétion, suspendre ou résilier ses Services mis à votre disposition, aux fins d'assurance de votre conformité.</li>
                        <li>Vous reconnaissez et acceptez expressément que DataWinners n'a aucune obligation d’examiner, filtrer ou surveiller autrement votre utilisation du service ou les données transmises à vos comptes DataWinners. Vous êtes seul responsable de tels contenus conformément à ce qui a été décrit ailleurs dans les Termes et Conditions.</li>
                        <li>Violation peut également entraîner la suppression définitive de toutes les données liées à votre compte DataWinners.</li>
                        <li><strong><i>HNI, à sa seule discrétion, se réserve</i></strong> le droit de résilier votre compte en cas de violation des Conditions d'Utilisation, y compris les violations liées à toutes les données recueillies ou aux SMS envoyés.</li>
                        <li>Les opérateurs téléphoniques qui transmettent vos messages entrants et sortants via DataWinners sont au courant du contenu de vos messages. En acceptant les Termes et Conditions de DataWinners, vous acceptez également les Termes et Conditions de ces mêmes opérateurs téléphoniques.</li>
                    </ol>

                    <p><strong>Utilisations Encouragées du Service</strong></p>
                    <ol>
                        <li><strong>Faire des Contributions au Profit de la Communauté DataWinners</strong>
                            <ol class="lower_alpha">
                                <li>Créer des modèles, graphiques, photos ou formulaires et choisir de télécharger ou de publier ces documents dans la <strong>Galerie de Modèles</strong> de DataWinners.</li>
                                <li>En rendant ces documents disponibles sur la <strong>Galerie de Modèles</strong>, vous donnez à DataWinners et aux autres utilisateurs de DataWinners une licence d'utilisation de vos contributions en rapport avec le Site DataWinners. </li>
                            </ol>
                        </li>
                        <li>Donner du Feedback
                            <ol class="lower_alpha">
                                <li>Lorsque vous fournissez à HNI vos précieuses suggestions, observations ou difficultés rencontrées, vous accordez à HNI une licence d'utilisation de ces Feedback à des fins uniques d’amélioration du service.</li>
                            </ol>
                        </li>
                    </ol>

                    <p><strong>Annulation du Compte</strong></p>
                    <ol>
                        <li>Pour annuler votre compte, vous devez envoyer un e-mail à HNI via l’adresse <a href="mailto:support@datawinners.com">support@datawinners.com</a>.</li>
                        <li>HNI vous enverra alors un e-mail confirmant que vous souhaitez annuler votre compte.</li>
                        <li>Cet e-mail de confirmation vous demandera de télécharger toutes vos données.</li>
                        <li>HNI vous demandera également si, après la fermeture de votre compte, vous voulez que toutes vos données soient purgées depuis les serveurs de HNI.</li>
                        <li>Dès que nous recevons votre réponse, HNI accusera en retour, réception de votre demande d'annulation par un e-mail.</li>
                        <li>Dès que HNI vous envoie l'e-mail confirmant l'annulation, vous aurez 72 heures d'accès à votre compte pour télécharger vos données de DataWinners.</li>
                        <li>Après ces 72 heures d'accès, HNI clôturera votre compte et purgera toutes vos données depuis nos serveurs dans les 30 jours, si vous l’avez expressément demandé.
                            <strong><i>IMPORTANT: Une fois que nous les avons purgées, les données ne peuvent plus être récupérées à partir de DataWinners.
                            Sachez que DataWinners peut pendant un certain temps, conserver les informations résiduelles dans notre système de sauvegarde et/ou dans les copies d’archives de notre base de données. Nous déploierons des efforts commerciaux raisonnables pour supprimer les informations vous concernant dès que possible après que vous nous ayez communiqué une telle intention.</i></strong>
                        </li>
                        <li>HNI se réserve le droit de purger toutes les données de n'importe quel compte fermé, même si un client n’a pas expressément demandé que les données soient purgées.</li>
                    </ol>

                    <h2>Licenses</h2>
                    <p><strong>La License d’Utilisation de DataWinners</strong></p>
                    <ol>
                        <li>En acceptant les présentes Conditions d’Utilisation, vous recevez de la part de HNI une licence non exclusive, non transférable et au niveau mondial, du droit d’accès et d’utilisation du Site DataWinners. HNI se réserve tous les droits qui ne vous ont pas été expressément accordés.</li>
                        <li>Sous réserve du Paragraphe 3 ci-dessous, l'Interface Utilisateur de DataWinners et les Illustrations fournies par Human Network International sont certifiés sous la Licence Unported Creative Commons Attribution-NonCommercial-NoDerivs 3.0</li>
                        <li>DataWinners se réserve tous les droits concernant ce qui suit:
                            <ol class="lower_alpha">
                                <li>Le Logo de DataWinners,</li>
                                <li>Tous les textes, photographies, dessins</li>
                                <li>Tout autre matériel figurant sur le site Web DataWinners.</li>
                            </ol>
                        </li>
                    </ol>

                    <p><strong>Licence du Code Source et du Logiciel:</strong></p>
                    <p>Le Site DataWinners utilise un code développé par le Projet Open Mangrove. En acceptant les présentes Conditions d’Utilisation, vous acceptez la <a href="http://fr.wikipedia.org/wiki/Licence_BSD" target="_blank">licence BSD</a> de Open Mangrove</p>
                    <br/>

                    <p><strong>Exclusion de Garanties</strong></p>
                    <p>En acceptant les présentes Conditions d’Utilisation, vous acceptez expressément que le Service DataWinners est offert "tel quel" et "tel qu’il est disponible"</p>
                    <p>HNI et DataWinners ne donnent aucune garantie explicite ou implicite, et déclinent toute garantie, y compris les garanties implicites sur la qualité marchande et d'adéquation pour un usage particulier.</p>
                    <br/>

                    <p><strong>Limitation des Responsabilités</strong></p>
                    <p>HNI ne sera pas responsable envers vous ou envers toute tierce partie, pour tous dommages directs, indirects ou consécutifs, y compris sans y être limité, la perte de profit, de réputation de l'entreprise, la perte de données ou de coût d'obtention des services ou de biens de substitution.</p>
                    <p>HNI ne sera pas responsable envers vous ou envers toute tierce partie, pour tous dommages directs, indirects ou consécutifs résultant de tout(e) modification, changement de prix, suspension ou interruption du Site DataWinners.</p>
                    <p>HNI ne sera pas responsable envers vous ou envers toute tierce partie, pour toute utilisation du Site DataWinners interdite par les législations ou règlements locaux.</p>
                    <br/>

                    <p><strong>Modification des Conditions d'Utilisation</strong></p>
                    <p>HNI se réserve le droit de mettre à jour et de modifier de temps à autre et sans préavis, les Conditions d'Utilisation. </p>
                    <p>Toutes nouvelles fonctionnalités visant à étendre ou à améliorer le Site DataWinners actuel, notamment la mise à disposition de nouveaux outils et de nouvelles ressources, doivent être soumises aux Conditions d'Utilisation. </p>
                    <p>L'utilisation continue du Site DataWinners après de tels changements constitue un consentement de votre part à l’égard de ces changements</p>
                    <br/>

        </div>
    </div>
    <div class="clear"></div>
{% endblock %}