{% extends 'public_secondary.html' %}
{% block page_title %} Terms and Conditions {% endblock %}

{% load dw_tabs %}
{% block body %}

{{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
<a href="/en/home/">Home</a> &gt; Terms and Conditions
{% endblock %}

{% block main_content %}

    <div id="main_content">
        <div class="margin_left_20" id="content-terms">
                     <p><strong>Welcome</strong></p>
                     <p>These Terms of Service are a contract between you and Human Network International.
                         HNI developed and operates <a href="http://www.datawinners.com/" target="_blank">www.DataWinners.com</a>, the online data collection service.
                         By using the DataWinners Site and any services accessible from the DataWinners Site,
                         you agree to be bound by the following <strong>Terms of Service</strong>.
                     </p>
                     <p><strong>What you Receive with a DataWinners' Subscription Account</strong></p>
                     <ol>
                         <li>A subscription that gives you access to and the right to use the DataWinners site</li>
                         <li>Subscriptions for organizations are per country.
                             <ol class="lower_alpha">
                                 <li>For example Organization X, that wants to use DataWinners in Madagascar and Mozambique must have two subscriptions</li>
                                 <li>Subscriptions are non-transferrable and non-assignable</li>
                             </ol>
                         </li>
                         <li>Storage of up to 10,000,000 completed Questionnaires</li>
                         <li>Access to your data 24/7 for download or analysis using DataWinners' online tools</li>
                         <li>If you choose to collect data via SMS, you and HNI will agree on a telephone number for receiving SMS</li>
                         <li>A bundle of pre-paid SMS messages</li>
                         <li>Access to DataWinners' customer support</li>
                         <li>Use of DataWinners' Template Gallery and User Forum (when available)</li>
                     </ol>


                     <p><strong>What you are Responsible for When Using DataWinners</strong></p>
                     <ol>
                         <li>Maintaining the security of your account and your password.</li>
                         <li>Compliance with all international and local laws and regulations in the jurisdictions where you collect data</li>
                         <li>All activity occurring under your accounts</li>
                         <li><strong>Notifying HNI immediately</strong> at <a href="mailto:support@datawinners.com">support@datawinners.com</a> of any unauthorized use of any password or account or any other known or suspected <strong>breach of security</strong></li>
                         <li><strong>Reporting to HNI immediately</strong> if you know or suspect unauthorized <strong>copying or distribution of Data</strong>.</li>
                         <li>Obtaining and maintaining the equipment you need to connect to, and use the DataWinners Site. </li>
                         <li>Such equipment may include modems, hardware, server, software, Internet browsers, operating system, networking, web servers, long distance and local telephone service. </li>
                     </ol>

                    <p><strong>Opening an Account</strong></p>
                    <ol>
                       <li>Agree to these <strong>Terms of Service</strong></li>
                       <li>Provide a <strong>valid email address</strong></li>
                       <li>Provide any other information required by DataWinners during the Account Sign-Up process.</li>
                    </ol>

                    <p><strong>Pricing</strong></p>
                    <ol>
                        <li>Accounts are priced according to DataWinners' <a href="https://www.datawinners.com/en/pricing" target="_blank">Pricing Schedule</a></li>
                        <li>The Pricing Schedule is subject to change</li>
                        <li>DataWinners will provide existing account holders 60 days notice of changes to the Pricing Schedule by posting the changes to the DataWinners Site and contact existing account holders directly using the existing account holder’s email address on file</li>
                    </ol>

                    <p><strong>Billing and Payment</strong></p>
                    <ol>
                        <li>Subscriptions are pre-paid monthly</li>
                        <li>When you subscribe, or upgrade from a trial account DataWinners will bill your first month’s
                            subscription based upon the remaining days in the month. For example, if you sign up on
                            Dec 15, you will be billed for 16 days in December.
                        </li>
                        <li>DataWinners will bill you monthly by e-mailing an invoice to the account holder’s e-mail address provided at the time of registration</li>
                        <li>Payment is due the 1<sup>st</sup> of each month.</li>
                    </ol>

                    <p><strong>Non-Payment: Late Fees and Suspension</strong></p>
                    <ol>
                        <li>If DataWinners does not receive your payment within five (5) days of <strong>the Due Date</strong>, DataWinners may send you a payment reminder and warning that the account will be terminated unless you contact DataWinners to arrange payment.</li>
                        <li>If DataWinners does not receive your payment, barring extenuating circumstances, DataWinners will suspend your account on the 10th day of <strong>Month</strong></li>
                        <li>DataWinners will charge you a $100 re-activation fee for any suspended or closed accounts</li>
                        <li>A Late Fee of 5% will be charged if payment is not receive within 30 days of the Due Date</li>
                    </ol>

                    <p><strong>Payment Method</strong></p>
                    <ol>
                        <li><strong>Preferred payment is via wire transfer or Automated Clearing House (ACH) to HNI’s account</strong></li>
                        <li>You can also call us directly and we can securely process your credit card payment over the phone</li>
                        <li>When you create an account HNI will send a confirmation e-mail and specific payment instructions. </li>
                    </ol>

                    <p><strong>Payment Refunds and Credits</strong></p>
                    <ol>
                        <li>All payments are non-refundable</li>
                        <li>There will be no refunds or credits for a partial month’s use of DataWinners. In order to treat everyone equally, no exceptions will be made. </li>
                    </ol>

                    <p><strong>Charges if You Exceed Your Account's SMS Allotments</strong></p>
                    <ol>
                        <li>Accounts that exceed the allotted SMS for a given month will be charged $50 and provided an additional 500 SMS messages  </li>
                        <li>Every time the additional 500 SMS are used before the end of the month, the account will be charged an additional $50 and provided 500 additional SMS</li>
                        <li>These charges will appear in your next DataWinners monthly invoice.</li>
                        <li>HNI will attempt to inform you before you reach the SMS allotted to your account, but is under no obligation to do so</li>
                        <li><strong>Any SMS that are not used before the Billing Date are lost and do not rollover to the next month</strong></li>
                    </ol>

                    <p><strong>Compliance with International and Local Laws</strong></p>
                    <ol>
                        <li>Your data collection projects may be governed by laws regarding data privacy, transmission and storage.</li>
                        <li>Compliance with all applicable laws is your responsibility, including all local, state, national and foreign laws, treaties and regulations relating to your use of the DataWinners Site.</li>
                        <li>These may include laws related to the protection of intellectual property, data privacy, international communications and the transmission of technical or personal data.</li>
                        <li>None of the materials on the DataWinners site, including examples, tutorials and sample questionnaires should be considered or construed as complying with any relevant law. </li>
                        <li>Before using a Template or Form you should investigate whether the data collected by the form is permitted in your jurisdiction. </li>
                        <li>When you accept these Terms and Conditions you agree to investigate and comply with privacy laws in the jurisdiction(s) in which you collect data. </li>
                        <li>HNI shall in no circumstance be liable for any act or omission on your part resulting in violation of local law or regulations. </li>
                    </ol>

                    <p><strong>Your Data</strong></p>
                    <ol>
                        <li>For purposes of these Terms of Service, “Your Data” means any information collected from others by you or persons on your behalf using DataWinners</li>
                        <li>Personal and Financial Information that you provide in order to create and maintain your DataWinners' Account is “Personal Information” </li>
                    </ol>

                    <p><strong>Storage</strong></p>
                    <ol>
                        <li>Your Data Is stored on DataWinners’ secure servers at Linode in the United Kingdom -- <a href="http://www.linode.com/" target="_blank">www.linode.com</a></li>
                        <li>DataWinners may change server locations, and will provide 30 day notice to all account holders of any change in server location.</li>
                        <li>You may store up to 10,000,000 completed Questionnaires in your DataWinners account. </li>
                        <li>DataWinners may change or add limits on data storage</li>
                        <li>30 day notice of changes or additions to data storage limits will be provided by e-mail to all existing DataWinners' account holders. </li>
                    </ol>

                    <p><strong>Access</strong></p>
                    <ol>
                        <li>DataWinners will not view your data except to identify a potential breach of the terms of this Agreement.
                            See “Termination - Violation of Terms of Service” section below.</li>
                        <li>Your data belongs to you. You may access it 24/7 from the DataWinners website.</li>
                    </ol>

                    <p><strong>Sharing and Re-Distribution of Data</strong></p>
                    <ol>
                        <li>You may choose to share data through various DataWinners features – for example, you may set permissions to allow others to view your data. You may also download data.</li>
                        <li>You are responsible to ensure that any sharing or re-disclosure of the data you collect is authorized by relevant data privacy laws. </li>
                        <li>DataWinners shall not be liable for any loss of data or violation of law resulting from your sharing or distribution of your data</li>
                        <li>DataWinners may disclose data to third parties in response to a subpoena. DataWinners will address any such requests for disclosure on a casy-by-case basis.</li>
                    </ol>

                    <p><strong>Removal of Your Data</strong></p>
                    <ol>
                        <li>You may download your data from the DataWinners site at any time</li>
                        <li>To Request that all of your data be removed from DataWinners' servers, <i>Please refer to the “Cancellation” section.</i></li>
                        <li>DataWinners reserves the right to remove your data from the DataWinners site under the following circumstances:
                            <ol class="lower_alpha">
                                <li>Violation of these Terms of Service</li>
                                <li>Termination of your account for any reason</li>
                                <li>Cancellation of your account by you</li>
                            </ol>
                        </li>
                    </ol>

                    <p><strong>Your Personal Information</strong></p>
                    <ol>
                        <li>Your personal and financial information is stored on HNI servers at Linode in the United Kingdom <strong>and on Salesforce.com</strong></li>
                        <li>You may access your personal and financial information to correct it at any time by logging onto the DataWinners site.</li>
                        <li>DaraWinners may disclose personal information in response to subpoena or other legal action. DataWinners will address all such requests on a case-by-case basis.</li>
                    </ol>

                    <p><strong>DataWinners’ Privacy Policies</strong></p>
                    <ol>
                        <li>Please refer to the separate <a href="/en/privacy-policy/" target="_blank">DataWinners Privacy Policies</a></li>
                    </ol>

                    <p><strong>Prohibited Uses of the Service</strong></p>
                    <ol>
                        <li>Allowing unauthorized persons or entities to use the DataWinners site</li>
                        <li>Uploading, posting, e-mailing, transmiting or otherwise making available any information, materials or other content that is:
                            <ol class="lower_alpha">
                                <li>illegal, harmful, threatening, abusive, harassing, defamatory, obscene, pornographic, offensive, invasive to another’s privacy, or promotes bigotry, racism, hatred for harm against any individual or group;</li>
                                <li>infringes another’s rights, including any intellectual property rights;</li>
                                <li>unsolicited or unauthorized advertising, promotional materials, “junk mail,” “spam,” “chain letters,” “pyramid schemes,” or any other form of solicitation;</li>
                                <li>contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;</li>
                            </ol>
                        </li>
                        <li>Impersonating any person or entity or falsely stating or otherwise misrepresenting your affiliation with a person or entity;</li>
                        <li>Phishing, collecting, uploading, posting, e-mailing, transmiting or otherwise making available any;
                            <ol class="lower_alpha">
                                <li>login data and/or passwords for other web sites, software or services;</li>
                                <li>credit card information or other forms of financial data used for collecting payment</li>
                            </ol>
                        </li>
                        <li>Using any manual or automated software, devices, or other processes to “crawl,” “spider” or “screen scrape” any web pages contained in the DataWinners Site;</li>
                        <li>Interfering with or disrupting the DataWinners Site, or any servers or networks connected to the DataWinners Site, or disobeying any requirements, procedures, policies or regulations of networks connected to the DataWinners Site;</li>
                        <li>Obtaining, collecting, storing or modifying the personal information about other users</li>
                    </ol>

                    <p><strong>Termination – Violation of Terms of Service</strong></p>
                    <ol>
                        <li>Violation of any of these Terms of Service may result in loss of your right to use the DataWinners site, and any account that you may have created.</li>
                        <li>DataWinners shall have the right (but not the obligation) to access and review your data
                            transmitted through the DataWinners Services - solely as necessary to identify a potential
                            breach of the Terms and Conditions, including the “Prohibited Uses of this Service” Section mentioned above.
                            If DataWinners discovers an actual or potential breach, DataWinners may suspend or terminate
                            its Services to you, in its sole discretion, to ensure your compliace.
                        </li>

                        <li>You expressly acknowledge and agree that DataWinners has no obligation to reviewm filter or
                            otherwise monitor your use of the service or the data transmitted to your DataWinners accounts.
                            You are solely responsible for such content as described elsewhere in the Terms and Conditions.
                        </li>
                        <li>
                            <strong><i>HNI reserves the right, in the exercise of HNI's sole discretion, to terminate
                            your account for violation of the Terms of Service, including violations related to any
                            collected data or sent SMS</i></strong>
                        </li>
                        <li>The telephone operators that transmit your messages to and from DataWinners are privy to the
                            contents of your messages. By agreeing to DataWinners' Terms and Conditions,
                            you also agree to the Terms and Conditions of these same telephone operators
                        </li>
                    </ol>

                    <p><strong>Encouraged Uses of the Service</strong></p>
                    <ol>
                        <li><strong>Make Contributions to the DataWinners Community</strong>
                            <ol class="lower_alpha">
                                <li>Create templates, graphics, photos or form documents and choose to upload or post such documents into the DataWinners <strong>Template Gallery.</strong></li>
                                <li>By making such documents available on the <strong>Template Gallery</strong>, you give DataWinners and other DataWinners users a license to use your contributions in connection with the DataWinners Site.</li>
                            </ol>
                        </li>
                        <li>Provide Feedback
                            <ol class="lower_alpha">
                                <li>When you provide HNI with your valuable suggestions, observations, or problems, you grant HNI a license to use that Feedback solely to improve the service. </li>
                            </ol>
                        </li>
                    </ol>

                    <p><strong>Cancellation of Account</strong></p>
                    <ol>
                        <li>In order to cancel your account, you must e-mail HNI at: <a href="mailto:support@datawinners.com">support@datawinners.com</a>.</li>
                        <li>HNI will then send an e-mail confirming that you wish to cancel your account.</li>
                        <li>This confirmation e-mail will request that you download all of your data. </li>
                        <li>HNI will also ask if, after closing your account, you want all of your data purged from HNI’s servers.</li>
                        <li>Once we receive your response, HNI will acknowledge your cancellation request through a return email.</li>
                        <li>Once HNI sends the cancellation acknowledgement email, you will have an additional 72 hours of access to your DataWinners account to download your data.</li>
                        <li>After these 72 hours of access, HNI will close your account and purge all of your data from our servers within 30 days if you have specifically requested this.
                            <strong><i>IMPORTANT: This data cannot be recovered from DataWinners once we have purged this data. Please be aware that DataWinners may for a time retain
                            residual information in our backup and/or archival copies of our database. We will make reasonable commercial efforts to delete your information as soon as possible after you communicate that intention to us.
                            </i></strong>
                        </li>
                        <li>HNI reserves the right to purge all data from any closed account regardless of whether a client has specifically requested that the data be purged.</li>
                    </ol>

                    <h2>Licenses</h2>
                    <p><strong>The DataWinners Service License</strong></p>
                    <ol>
                        <li>By agreeing to these Terms of Service, you receive from HNI a non-exclusive, non-transferable, worldwide right to access and use the DataWinners Site. HNI reserves all rights not expressly granted to you.</li>
                        <li>Subject to Paragraph 3, below, the DataWinners User Interface and Artwork by Human Network International is licensed under Creative Commons Attribution -
                            NonCommercial-NoDerivs 3.0 Unported License.
                        </li>
                        <li>DataWinners reserves all rights to the following:
                            <ol class="lower_alpha">
                                <li>DataWinners’ Logo,</li>
                                <li>All text, photographs, drawings</li>
                                <li>All other material displayed on the DataWinners web site. </li>
                            </ol>
                        </li>
                    </ol>

                    <p><strong>The Software and Source Code License:</strong></p>
                    <p>The DataWinners Site uses code developed by the Open Mangrove Project. By agreeing to these Terms of Service, you agree to the Open Mangrove <a href="http://en.wikipedia.org/wiki/BSD_licenses" target="_blank">BSD license.</a></p>
                    <br/>

                    <p><strong>Exclusion of Warranties</strong></p>
                    <p>By accepting these Terms of Service, you expressly agree that the DataWinners Service is offered “as is” and “as available” </p>
                    <p>HNI and DataWinners make no warranties, express or implied and disclaims all warranties, including implied warranties of merchantability and fitness for a particular purpose. </p>
                    <br/>

                    <p><strong>Limitation of Liability</strong></p>
                    <p>HNI shall not be liable to you or to any third party for any damages  whether direct, indirect or consequential, including but not limited to loss of profit, business reputation, loss of data or the cost of obtaining substitute services or goods. </p>
                    <p>HNI shall not be liable to you or to any third party for any damages whether direct, indirect or consequential resulting from any modification, price change, suspension or discontinuance of the DataWinners Site.</p>
                    <p>HNI shall not be liable to you or any third party for any use of the DataWinners Site that is prohibited by local laws or regulation.</p>
                    <br/>

                    <p><strong>Modification of Terms of Service</strong></p>
                    <p>HNI reserves the right to update and change the Terms of Service from time to time without notice. </p>
                    <p>Any new features that augment or enhance the current DataWinners Site, including the release of new tools and resources, shall be subject to the Terms of Service. </p>
                    <p>Continued use of the DataWinners Site after any such changes shall constitute your consent to such changes.</p>
                    <br/>

        </div>
    </div>
    <div class="clear"></div>
{% endblock %}