{% extends 'public_secondary.html' %}
{% block page_title %} Qui sommes-nous ? {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "about" %}
{{ block.super }}
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/home/support.js"></script>
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_public_support.scss" rel="stylesheet" />
{% endblock %}

{% block page_breadcrumbs %}
<a href="/fr/home/">Accueil</a> &gt; Qui sommes-nous ?
{% endblock %}

{% block main_content %}
    <div id="nav_content">
        <h1>QUI SOMMES-NOUS ?</h1>
        <ul>
            <li><a href="/fr/about-us/blog">Blog</a></li>
            <li><a href="/fr/about-us/partners">Partenaires</a></li>
            <li><a href="/fr/about-us/clients">Clients</a></li>
            <li><a href="/fr/about-us/contact-us">Nous contacter</a>
        </ul>
    </div>
    <div id="main_content">
        <div class="margin_left_20">
            <p>
                Human Network International (HNI) helps organizations to embrace, reshape and maximize the use of
                information and communication technology in innovative, productive and sustainable ways.
            </p>
            <p>
                We are a nonprofit 501(c)(3) organization based in Washington, D.C. with offices in Madagascar.
                HNI has received financial and in-kind support from a variety of sources including foundations
                and institutions based around the world.
                <br/>
                <a href="http://www.hni.org/">Visit HNI's website</a>
            </p>

            <div class="grid_18 alpha omega margin_top_20">
                <div class="grid_9 alpha block_support">
                    <div class="grid_4 omega">
                        <img src="/media/images/dw_tt_blog.jpg" width="150"/><br/>
                    </div>
                    <div class="grid_5 omega">
                        Stay current with DataWinners: new features, upcoming events,  spotlights on current projects and more!
                        <a href="/en/about-us/blog/" class="read_more more">Read More</a>
                    </div>
                </div>
                <div class="block_support">
                    <div class="grid_4 omega">
                        <img src="/media/images/dw_tt_partners.jpg" width="150"/><br/>
                    </div>
                    <div class="grid_5 omega" style="position:relative;">
                        Read how HNI works collaboratively with international partners to create and manage DataWinners as an open-source project.
                        <a href="/en/about-us/partners/" class="read_more more">Read More</a>
                    </div>
                </div>
            </div>

            <div class="grid_18 alpha omega margin_top_20">
                <div class="block_support">
                    <div class="grid_4 alpha">
                        <img src="/media/images/dw_tt_clients.jpg" width="150"/><br/>
                    </div>
                    <div class="grid_5 omega">
                        Learn how HNI builds the capacity of development partners to collect data and make better decisions.
                        <a href="/en/about-us/clients/" class="read_more more">Read More</a>
                    </div>
                </div>
                <div class="block_support">
                    <div class="grid_4 alpha">
                        <img src="/media/images/dw_tt_contact.jpg" width="150"/><br/>
                    </div>
                    <div class="grid_5 omega">
                        Ask a question or send a comment.  Customer service is our #1 priority.
                        <a href="/en/about-us/contact-us/" class="read_more more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}