{% extends 'public_secondary_en.html' %}
{% block page_title %} Partners {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "about" %}
{{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
<a href="/home/en">Home</a> &gt; <a href="/en/about-us">About us</a> &gt; Partners
{% endblock %}

{% block main_content %}
    <div id="nav_content">
        <h1>ABOUT US</h1>
        <ul>
            <li><a href="/en/about-us/blog">Blog</a></li>
            <li class="active"><a href="/en/about-us/partners">Partners</a></li>
            <li><a href="/en/about-us/clients">Clients</a></li>
            <li><a href="/en/about-us/contact-us">Contact us</a>
        </ul>
    </div>
    <div id="main_content">
        <div class="margin_left_20">
            <p>An international partnership of private sector companies, academic institutions and non-governmental organizations are working collaboratively to create and manage DataWinners.com as an open-source project.  Human Network International (HNI) and ThoughtWorks, Inc. lead the effort to make this mobile data collection service responsive to the needs of development organizations worldwide.</p>
            <p>DataWinners hosted service is one of the first applications built using the Mangrove data collection framework, itself an open source project that develops core tools for mobile data collection, aggregation, analysis, and visualization targeting SMS, Web, J2ME and Android via XForms. The Mangrove initiative is collaboration of ThoughtWorks, Inc, the Modi Research Lab at Columbia University and HNI.</p>
            <p>The goal of these open-sourced projects is to create a global community, working together to make mobile data collection better.  The entire code base for DataWinners and Mangrove is available for download.  We encourage partners to contribute code and ideas so DataWinners and Mangrove continue to innovate.</p>
            <p>We want to thank our partners, and beta-testers featured here.  They contribute significantly to our goal of offering an online, multi-channel, data collection platform to development organizations worldwide.</p>
            <div>
                <div class="grid_5 alpha omega padding_top_20">

                </div>
                <div class="grid_13 alpha omega float_right">
                    <h2>ThoughtWorks</h2>
                    <h3>Software development partner</h3>
                    <p>
                        A global IT consultancy that delivers custom software, software tools, consulting, and transformation services to Global 1000 companies.  ThoughtWorks personnel in Pune, India wrote the majority of the code for both Mangrove and DataWinners.
                        <br/><a href="http://www.thoughtworks.com" target="_blank">www.thoughtworks.com</a>
                    </p>
                </div>
                <div class="clear"></div>
            </div>
            <div>
                <div class="grid_5 alpha omega padding_top_20">

                </div>
                <div class="grid_13 alpha omega float_right">
                    <h2></h2>
                    <p>

                        <br/><a href="" target="_blank"></a>
                    </p>
                </div>
                <div class="clear"></div>
            </div>
            <div>
                <div class="grid_5 alpha omega padding_top_20">

                </div>
                <div class="grid_13 alpha omega float_right">
                    <h2></h2>
                    <p>

                        <br/><a href="" target="_blank"></a>
                    </p>
                </div>
                <div class="clear"></div>
            </div>
            <div>
                <div class="grid_5 alpha omega padding_top_20">

                </div>
                <div class="grid_13 alpha omega float_right">
                    <h2></h2>
                    <p>

                        <br/><a href="" target="_blank"></a>
                    </p>
                </div>
                <div class="clear"></div>
            </div>
            <div>
                <div class="grid_5 alpha omega padding_top_20">

                </div>
                <div class="grid_13 alpha omega float_right">
                    <h2></h2>
                    <p>

                        <br/><a href="" target="_blank"></a>
                    </p>
                </div>
                <div class="clear"></div>
            </div>
            <div>
                <div class="grid_5 alpha omega padding_top_20">

                </div>
                <div class="grid_13 alpha omega float_right">
                    <h2></h2>
                    <p>

                        <br/><a href="" target="_blank"></a>
                    </p>
                </div>
                <div class="clear"></div>
            </div>
            <div>
                <div class="grid_5 alpha omega padding_top_20">

                </div>
                <div class="grid_13 alpha omega float_right">
                    <h2></h2>
                    <p>

                        <br/><a href="" target="_blank"></a>
                    </p>
                </div>
                <div class="clear"></div>
            </div>
            <div>
                <div class="grid_5 alpha omega padding_top_20">

                </div>
                <div class="grid_13 alpha omega float_right">
                    <h2></h2>
                    <p>

                        <br/><a href="" target="_blank"></a>
                    </p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
