{% extends 'public_secondary_fr.html' %}
{% block page_title %} Benefits {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "datawinners" %}
{{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
<a href="/fr/home">Accueil</a> &gt; <a href="/fr/what-is-datawinners">Qu’est-ce que DataWinners</a> &gt; Benefits
{% endblock %}

{% block main_content %}
<div id="nav_content">
    <h1>QU'EST-CE QUE DATAWINNERS</h1>
    <ul>
        <li><a href="/en/what-is-datawinners/how-it-works">Comment Est-ce Que Cela Marche ?</a></li>
        <li class="active"><a href="/en/what-is-datawinners/benefits">Benefits</a></li>
        <li><a href="/en/what-is-datawinners/features">Features</a></li>
    </ul>
</div>
<div id="main_content">
    <div class="margin_left_20">
        <p>Use DataWinners to get a complete, accurate and timely set of answers to your key questions.</p>
        <p>Here’s why you and your organization should use DataWinners:</p>
        <ol>
            <li><a href="#a1">Start today</a></li>
            <li><a href="#a2">Save money</a></li>
            <li><a href="#a3">Build tools to meet your needs</a></li>
            <li><a href="#a4">Improve lines of communication</a></li>
            <li><a href="#a5">Work collaboratively</a></li>
            <li><a href="#a6">Feel confident</a></li>
            <li><a href="#a7">Gain insight and make better decisions</a></li>
        </ol>
        <br/>
        <a name="a1"></a><h2>1. Start Today</h2>
        <ul class="bulleted">
            <li>Try DataWinners’ full functionality completely free.</li>
            <li>Sign up in minutes. Start collecting data the same day.</li>
            <li>Access DataWinners from your own computer online - No software installation or special equipment required</li>
            <li>Get everything you need as part of your monthly subscription: a telephone number, bulk SMS pack and unlimited data collection potential</li>
        </ul>
        <a name="a2"></a><h2>2. Save Money</h2>
        <ul class="bulleted">
            <li>Collect your data via SMS for pennies a report</li>
            <li>Pay-as-you-go, No long term contracts or hidden fees</li>
            <li>Sign up for one subscription for your entire organization; Each manager can collect data for his/her project</li>
            <li>Keep costs down; field staff use their own telephones to SMS data</li>
            <li>Collect an unlimited amount of data</li>
            <li>No expensive consultants or programmers needed</li>
        </ul>
        <a name="a3"></a><h2>3. Build tools to meet your needs</h2>
        <ul class="bulleted">
            <li>Designed for managers; No prior IT experience required</li>
            <li>Do-it-yourself mobile data collection; Design your project with DataWinners step-by-step instructions</li>
            <li>Fully Customizable;  Build data collection and communication tools that fit your exact needs</li>
            <li>Easily edit existing questionnaires or build new ones as needs change</li>
        </ul>
        <a name="a4"></a><h2>4. Improve lines of communication</h2>
        <ul class="bulleted">
            <li>Easy to use:  Build your questionnaire in the morning and that afternoon start collecting your data</li>
            <li>Choose the channel that works for you:  SMS and Smartphone, Internet;  DataWinners will help you decide</li>
            <li>Collect data nationwide, even in remote areas</li>
            <li>Receive data from the field in seconds; watch it arrive in real-time on your computer screen</li>
            <li>Set criteria to improve accuracy</li>
            <li>Send automatic reminders, confirmation messages and specific error reports to your data senders</li>
        </ul>
        <a name="a5"></a><h2>5. Work Collaboratively</h2>
        <ul class="bulleted">
            <li>Share your data with stakeholders across town or on the other side of the world</li>
            <li>Be part of an active open-source community that contributes new features and code to DataWinners all the time</li>
        </ul>
        <a name="a6"></a><h2>6. Feel Confident</h2>
        <ul class="bulleted">
            <li>Access your data from any internet-connected computer in the world, 24/7</li>
            <li>Your data is encrypted and password protected; even our DataWinners administrators don’t have access.</li> 
            <li>Your data is stored on secure servers and regularly backed up.</li>
            <li>You own your data – export it whenever you like and take it with you</li> 
        </ul>
        <a name="a7"></a><h2>7. Gain Insight and Make Better Decisions</h2>
        <ul class="bulleted">
            <li>Filter to find the exact answer you need</li>
            <li>Analyze your data right away using DataWinners mapping and spreadsheet tools</li>
            <li>Export your data to Excel in one click for further analysis</li>
        </ul>
        <div id="how_nav">
            <div id="how_links">
                <a href="{% url registration.views.register %}" id="how_try_button">Try it Free</a>
                Sign up for your free account
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
{% endblock %}
