{% extends 'public_secondary.html' %}
{% block page_title %} BENEFITS {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "datawinners" %}
{{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
<a href="/what-is-datawinners">What is DataWinners</a> &gt; Benefits
{% endblock %}

{% block main_content %}
<div id="nav_content">
    <h1>WHAT IS DATAWINNERS</h1>
    <ul>
        <li><a href="/what-is-datawinners/features">Features</a></li>
        <li><a href="/what-is-datawinners/how-it-works">How it works</a></li>
        <li class="active"><a href="/what-is-datawinners/benefits">Benefits</a></li>
    </ul>
</div>
<div id="main_content">
    <div class="margin_left_20">
        <h2>Create a Project:</h2>
        <ol>
            <li>Each DataWinners Project = 1 Questionnaire</li>
            <li>Name your project for easy identification</li>
            <li>Set the questionnaire code so you can collect answers to multiple questionnaires simultaneously using
                one
                central telephone number
            </li>
            <li>Set how often you want to receive your answers</li>
            <li>Set the subject of your questionnaire</li>
        </ol>
        <h2>Build a Questionnaire</h2>
        <ol>
            <li>Turn your list of key questions into an online questionnaire</li>
            <li>Set the answer type for each question</li>
            <li>Set criteria for each answer to improve accuracy</li>
            <li>Monitor the SMS character count required to send in answers to key questions</li>
            <li>Review the instructions for each question</li>
        </ol>
        <h2>Decide Between Test and Active States</h2>
        <ol>
            <li>DataWinners has two project states: Test and Active</li>
            <li>Finalize your questionnaire and train your Data Senders in Test State</li>
            <li>Activate your project to wipe clean your data base of all test answers sent in during training
                exercises
            </li>
            <li>Start collecting real data with an empty database once you activate your project.</li>
        </ol>
        <h2>Test the questionnaire</h2>
        <ol>
            <li>Print out your draft questionnaire and fill in test answers by hand</li>
            <li>Send in test answers via SMS using your phone</li>
            <li>Send in test answers using the online telephone emulator</li>
            <li>Send in test answers using your questionnaire via web form</li>
        </ol>
        <h2>Decide who can send in answers</h2>
        <ol>
            <li>Choose between:
                <ol>
                    <li>Everyone</li>
                    <li>Only Data Senders you authorize</li>
                </ol>
            </li>
            <li>Tell DataWinners the name, location and telephone number of each Data Sender authorized to send in
                answers
            </li>
            <li>Register Data Senders one-by-one using the web form</li>
            <li>Import a list of authorized Data Senders</li>
        </ol>
        <h2>Register the subjects of your questionnaire</h2>
        <ol>
            <li>If you are collecting data about individual subjects such as people (medical records), places (number of
                households in a commune), things (health center stock report) or events (participation at a training),
                register each subject first for two reasons:
                <ol>
                    <li>See your subjects displayed on DataWinners map</li>
                    <li>Set a unique identification number for each subject to improve data reporting accuracy</li>
                </ol>
            </li>
            <li>Tell DataWinners the name, location and telephone number of each Subject</li>
            <li>Register Subjects one-by-one using the web form</li>
            <li>Import a list of Subjects</li>
            <li>Register Subjects via SMS</li>
        </ol>
        <h2>Set Deadlines and Reminders</h2>
        <ol>
            <li>Set a deadline for your Data Senders to send in their answers</li>
            <li>Send reminders to Data Senders who have not yet sent in their answers</li>
        </ol>
        <h2>Modify your Questionnaire</h2>
        <ol>
            <li>Delete, add and edit your questionnaire later on as your needs change</li>
            <li>Change answer type and criteria for any question</li>
        </ol>
        <h2>See your Data</h2>
        <ol>
            <li>See your Subjects plotted on a map</li>
            <li>Review a spreadsheet of all Data Sender submissions</li>
            <li>Filter to see only successful, or unsuccessful, or deleted submissions</li>
            <li>Analyze your data in a spreadsheet filtered by date and subject</li>
            <li>Perform simple statistical calculations on your data</li>
            <li>Export your data in a single click</li>
        </ol>
    </div>
</div>
<div class="clear"></div>
{% endblock %}
