{% extends 'public_secondary.html' %}
{% block page_title %} Benefits {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "datawinners" %}
{{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
<a href="/en/home/">Home</a> &gt; <a href="/en/what-is-datawinners">What is DataWinners</a> &gt; Benefits
{% endblock %}

{% block main_content %}
<div id="nav_content">
    <h1><a href="/en/what-is-datawinners/">WHAT IS DATAWINNERS</a></h1>
    <ul>
        <li><a href="/en/what-is-datawinners/how-it-works">How it Works</a></li>
        <li class="active"><a href="/en/what-is-datawinners/benefits">Benefits</a></li>
        <li><a href="/en/what-is-datawinners/features">Features</a></li>
    </ul>
</div>
<div id="main_content">
    <div class="margin_left_20">
        <div class="left_content">
            <p>Use DataWinners to get a complete, accurate and timely set of answers to your key questions.</p>
            <p>Here’s why you and your organization should use DataWinners:</p>
            <br/>

            <div class="grid_3 alpha omega margin_top_20">
                <img src="/media/images/dw_start_today.png" width="110" alt="" />
            </div>
            <div class="grid_9 alpha omega float_right">
                <h2>1. Start Today</h2>
                <ul class="bulleted margin_null">
                    <li>Try DataWinners’ full functionality completely free</li>
                    <li>Sign up in minutes. Start collecting data the same day</li>
                    <li>Access DataWinners online from your own computer - No software installation or special equipment required</li>
                    <li>Get everything you need as part of your monthly subscription: a telephone number, SMS packet and unlimited data collection potential</li>
                </ul>
            </div>
            <div class="clear"></div>


            <div class="grid_3 alpha omega margin_top_20">
                <img src="/media/images/dw_save_money.gif" width="110" alt="" />
            </div>
            <div class="grid_9 alpha omega float_right">
                <h2>2. Save Money</h2>
                <ul class="bulleted margin_null">
                    <li>Collect your data for one low monthly fee</li>
                    <li>Pay-as-you-go, No long term contracts or hidden fees</li>
                    <li>Sign up for one subscription for your entire organization; Each manager can collect data for his/her project</li>
                    <li>Keep costs down; field staff use their own telephones to SMS data</li>
                    <li>Collect an unlimited amount of data</li>
                    <li>No expensive consultants or programmers needed</li>
                </ul>
            </div>
            <div class="clear"></div>


            <div class="grid_3 alpha omega margin_top_20">
                <img src="/media/images/dw_build_tools.gif" width="110" alt="" />
            </div>
            <div class="grid_9 alpha omega float_right">
                <h2>3. Build tools to meet your needs</h2>
                <ul class="bulleted margin_null">
                    <li>Designed for managers; No prior IT experience required</li>
                    <li>Do-it-yourself mobile data collection; Design your project with DataWinners step-by-step instructions</li>
                    <li>Fully Customizable;  Build data collection and communication tools that fit your exact needs</li>
                    <li>Easily edit existing questionnaires or build new ones as needs change</li>
                </ul>
            </div>
            <div class="clear"></div>


            <div class="grid_3 alpha omega margin_top_20">
                <img src="/media/images/dw_improve_lines.gif" width="110" alt="" />
            </div>
            <div class="grid_9 alpha omega float_right">
                <h2>4. Improve lines of communication</h2>
                <ul class="bulleted margin_null">
                    <li>Easy to use:  Build your questionnaire in the morning and that afternoon start collecting your data</li>
                    <li>Choose the channel that works for you: SMS, Internet, or both; DataWinners will help you decide</li>
                    <li>Collect data nationwide, even in remote areas</li>
                    <li>Receive data from the field in seconds; watch it arrive in real-time on your computer screen</li>
                    <li>Set criteria to improve accuracy</li>
                    <li>Send automatic reminders, confirmations and specific error messages to your data senders</li>
                </ul>
            </div>
            <div class="clear"></div>


            <div class="grid_3 alpha omega margin_top_20">
                <img src="/media/images/dw_work_collaboratively.gif" width="110" alt="" />
            </div>
            <div class="grid_9 alpha omega float_right">
                <h2>5. Work Collaboratively</h2>
                <ul class="bulleted margin_null">
                    <li>Share your data with stakeholders across town or on the other side of the world</li>
                    <li>Be part of an active open-source community that contributes new features and code to DataWinners all the time</li>
                </ul>
            </div>
            <div class="clear"></div>


            <div class="grid_3 alpha omega margin_top_20">
                <img src="/media/images/dw_feel_confident.gif" width="110" alt="" />
            </div>
            <div class="grid_9 alpha omega float_right">
                <h2>6. Feel Confident</h2>
                <ul class="bulleted">
                    <li>Access your data from any internet-connected computer in the world, 24/7</li>
                    <li>Your data is encrypted and password protected; even our DataWinners administrators don’t have access.</li>
                    <li>Your data is stored on secure servers and regularly backed up.</li>
                    <li>You own your data – export it whenever you like and take it with you</li>
                </ul>
            </div>
            <div class="clear"></div>


            <div class="grid_3 alpha omega margin_top_20">
                <img src="/media/images/dw_gain_insight.gif" width="110" alt="" />
            </div>
            <div class="grid_9 alpha omega float_right">
                <h2>7. Gain Insight and Make Better Decisions</h2>
                <ul class="bulleted">
                    <li>Filter to find the exact answer you need</li>
                    <li>Analyze your data right away using DataWinners mapping and spreadsheet tools</li>
                    <li>Export your data to Excel in one click for further analysis</li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="right_content">


            	<div class="block_1">
                	<h1>How it works</h1>
	                <p>
    	                Get a quick overview of the the data collection process.
                	    <br>See <a href="/en/what-is-datawinners/how-it-works">How it Works</a>
	                </p>
    	        </div>

    	        <div class="block_1">
                	<h1>Features</h1>
	                <p>
						Review a list of DataWinners key features.
                	    <br>See <a href="/en/what-is-datawinners/features">Features</a>
	                </p>
    	        </div>

    	        <div class="block_1">
                	<h1>Success Stories</h1>
	                <p>
						See how others have benefited from DataWinners.
                	    <br>See <a href="/en/success-stories/">Success Stories</a>
	                </p>
    	        </div>

    	        <div class="block_1">
                	<h1>Try it Free</h1>
                	<div id="how_nav">
	                <p>
						Try out all the features completely free.

                	    <br><a href="/en/pricing/">Learn more</a> or
                	    <div id="how_links" class="margin_null">
                	    	<a href="/register/trial/" id="how_try_button">Try it Free</a>
                	    </div>
                	</p>
                	</div>
    	        </div>



        </div>
    </div>
</div>
<div class="clear"></div>
{% endblock %}