{% extends 'public_secondary_en.html' %}
{% block page_title %} Features {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "datawinners" %}
{{ block.super }}
{% endblock %}

{% block page_js %}
{{ block.super }}
<script src="/media/javascript/home/features.js"
        type="text/javascript"></script>
{% endblock %}

{% block page_breadcrumbs %}
<a href="/home/en">Home</a> &gt; <a href="/en/what-is-datawinners">What is
    DataWinners</a> &gt; Features
{% endblock %}

{% block main_content %}
<div id="nav_content">
    <h1>WHAT IS DATAWINNERS</h1>
    <ul>
        <li><a href="/en/what-is-datawinners/how-it-works">How it Works</a>
        </li>
        <li><a href="/en/what-is-datawinners/benefits">Benefits</a></li>
        <li class="active"><a
                href="/en/what-is-datawinners/features">Features</a></li>
    </ul>
</div>
<div id="main_content">
    <div class="margin_left_20">
        <p>DataWinners provides the following the features to help you collect
            data from the field.</p>
        <h3>Questionnaire Builder</h3>
        <ul>
            <li>Turn your list of key questions into an online questionnaire
            </li>
            <li>Specify the answer type: Text, number, date, multiple choice,
                etc.
            </li>
            <li>Set validation criteria to improve accuracy. Example: Answer
                must be between 1 - 100
            </li>
            <li>Monitor the SMS character count required to send in answers to
                key questions
            </li>
        </ul>
        <h3>Test Phase</h3>
        <ul>
            <li>Experiment in the test phase: Finalize your questionnaire and
                train your Data Senders
            </li>
            <li>Send in test answers via:
                <ul>
                    <li>SMS using your phone</li>
                    <li>Our online telephone emulator</li>
                    <li>Web form</li>
                </ul>
            </li>
            <li>Start collecting real data with an empty database once you
                activate your project
            </li>
        </ul>
        <h3>Multiple Channels: SMS, Internet</h3>
        <ul>
            <li>Use either the Internet, SMS, or both to collect your data</li>
            <li>Your data senders (field staff) can use their personal phone.
                Even the simplest phones can send data using SMS
            </li>
            <li>Collect data from the most remote areas</li>
        </ul>
        <h3>Reminders & Messages</h3>
        <ul>
            <li>Set automatic reminders to notify Data Senders who have not yet
                sent in their answers
            </li>
            <li>Send your Data Senders automatic success and error messages,
                e.g. “Congrats Shilpa! We successfully received your data”
            </li>
        </ul>
        <h3>Mapping</h3>
        <ul>
            <li>See all data collection points accurately displayed on a map
            </li>
            <li>Filter map based on time period, geographic area, report
                questions and more!
            </li>
        </ul>
        <h3>Data Analysis</h3>
        <ul>
            <li>Analyze data via lists and maps</li>
            <li>Perform simple statistical calculations on your data</li>
            <li>Export your data in a single click</li>
            <li>Filter data to view data by date, location, indicator or
                question
            </li>
        </ul>
    </div>
</div>
<div class="clear"></div>
{% endblock %}
