{% extends 'public_secondary.html' %}
{% block page_title %} HOW IT WORKS {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "datawinners" %}
{{ block.super }}
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script src="/media/javascript/home/howto.js" type="text/javascript"></script>
{% endblock %}

{% block page_breadcrumbs %}
<a href="/home">Home</a> &gt; <a href="/what-is-datawinners">What is DataWinners</a> &gt; How it works
{% endblock %}

{% block main_content %}
<div id="nav_content">
    <h1>WHAT IS DATAWINNERS</h1>
    <ul>
        <li><a href="/what-is-datawinners/features">Features</a></li>
        <li class="active"><a href="/what-is-datawinners/how-it-works">How it works</a></li>
        <li><a href="/what-is-datawinners/benefits">Benefits</a></li>
    </ul>
</div>
<div id="main_content">
    <div class="margin_left_20">
        <div id="how_menu">
            <img src="/media/images/dw_how_steps.jpg" width="720" height="110" alt="How it works" />
            <div class="title">
                <p><a href="javascript:void(0)" rel="1"><strong>Create your Questionnaire</strong></a></p>
            </div>
            <div class="title">
                <p><a href="javascript:void(0)" rel="2"><strong>Receive accurate Data</strong></a></p>
            </div>
            <div class="title">
                <p><a href="javascript:void(0)" rel="3"><strong>See your results</strong> as a<br/>spreadsheet or a map.</a></p>
            </div>
            <div class="title">
                <p><a href="javascript:void(0)" rel="4"><strong>Make informed decisions</strong><br/> about your project.</a></p>
            </div>
            <div class="clear"></div>
            <div id="how_active"></div>
        </div>
        <div id="how_content">
            <div id="step1" class="container active">
                <h1>Create your Questionnaire</h1>
                <h2>1. You want answers to key questions for your program</h2>
                <div class="grid_8 alpha omega">
                    <img src="/media/images/dw_howto_questionnaire.jpg" width="254" height="170" alt="create your questionnaire" />
                </div>
                <div class="grid_10 alpha omega float_right">
                    <p>DataWinners helps you monitor and evaluate your program's progress.</p>
                    <p>With DataWinners anyone can collect data. It is designed for program managers, even those with little or no Information Technology (IT) experience.</p>
                    <p><a href="/success-story/santenet2">See our Success Stories &raquo;</a></p>
                </div>
                <div class="clear"></div>
                <h2>2. Choose your key questions</h2>
                <div class="grid_8 alpha omega">
                    <img src="/media/images/dw_howto_brainstorming.jpg" width="254" height="170" alt="choose your key questions" />
                </div>
                <div class="grid_10 alpha omega float_right">
                    <p>Sit together with your program team to determine the key questions.</p>
                </div>
                <div class="clear"></div>
                <h2>3. Create your Questionnaire</h2>
                <div class="grid_8 alpha omega">
                    <img src="/media/images/dw_howto_create.jpg" width="250" height="160" alt="choose your key questions" />
                </div>
                <div class="grid_10 alpha omega float_right">
                    <p>Follow DataWinners' simple step-by-step instructions to turn your key questions into an online Questionnaire.</p>
                    <p>Test your Questionnaire by sending in sample answers.</p>
                </div>
                <div class="clear"></div>
                <h2>4. Train your Data Senders</h2>
                <div class="grid_8 alpha omega">
                    <img src="/media/images/dw_howto_train.jpg" width="240" height="174" alt="train your data senders" />
                </div>
                <div class="grid_10 alpha omega float_right">
                    <p>Train your field staff (Data Senders) to send in their answers.</p>
                    <p>DataWinners makes it easy; print out and share a copy of your Questionnaire with your Data Senders.</p>
                </div>
                <div class="clear"></div>
            </div>
            <div id="step2" class="container">
                <h1>Receive accurate Data</h1>
                <h2>1. Data Senders send in their answers</h2>
                <div class="grid_8 alpha omega">
                    <img src="/media/images/dw_howto_datasenders.jpg" width="310" height="241" alt="choose your key questions" />
                </div>
                <div class="grid_10 alpha omega float_right">
                    <p>Your Data Senders (field staff) fill out the Questionnaire on paper, then use the completed questionnaire as a guide to send their answers via</p>
                    <ul>
                        <li>SMS</li>
                        <li>Internet</li>
                    </ul>
                </div>
                <div class="clear"></div>
                <h2>2. Improve the quality of your data</h2>
                <div class="grid_8 alpha omega">
                    <img src="/media/images/dw_howto_feedback.jpg" width="310" height="237" alt="choose your key questions" />
                </div>
                <div class="grid_10 alpha omega float_right">
                    <p>DataWinners will communicate with your Data Senders automatically:</p>
                    <ul>
                        <li><strong>Positive feedback</strong><br/>"Congrats Shilpa! We successfully received your data"</li>
                        <li><strong>Error message</strong><br/>"Error. Please send your answers for question 1 and 5 again."</li>
                    </ul>
                    <p><a href="/what-is-datawinners/features">Read more &raquo;</a></p>
                </div>
                <div class="clear"></div>
                <h2>3. Get your data on time</h2>
                <div class="grid_8 alpha omega">
                    <img src="/media/images/dw_howto_ontime.jpg" width="262" height="170" alt="get your fata on time" />
                </div>
                <div class="grid_10 alpha omega float_right">
                    <p>Tell DataWinners how often and when you need your data.</p>
                    <p>DataWinners will send automatic reminders to your Data Senders:</p>
                    <p>"Don't forget, your monthly report is due today."</p>
                </div>
                <div class="clear"></div>
            </div>
            <div id="step3" class="container">
                <h1>See your results as a spreadsheet or a map</h1>
                <h2>1. See your Data Senders’ answers arrive in real-time</h2>
                <div class="grid_8 alpha omega">
                    <img src="/media/images/dw_howto_datamap.jpg" width="260" height="170" alt="see your results" />
                </div>
                <div class="grid_10 alpha omega float_right">
                    <p>Get answers to your key questions in the time it takes to send an SMS.</p>
                    <p>Filter Records according to date.</p>
                </div>
                <div class="clear"></div>
                <h2>2. Analyze, export and share your data</h2>
                <div class="grid_8 alpha omega">
                    <img src="/media/images/dw_howto_sharedata.jpg" width="310" height="226" alt="get your fata on time" />
                </div>
                <div class="grid_10 alpha omega float_right">
                    <p>Analyze your data.</p>
                    <ul>
                        <li>Review a spreadsheet</li>
                        <li>Map your results</li>
                        <li>Perform simple statistical calculations</li>
                    </ul>
                    <p>Export your data with one click.</p>
                    <p>Share your data with others.</p>
                    <ul>
                        <li>Give access to your data to anyone in the world</li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div id="step4" class="container">
                <h1>Make informed decisions about your project </h1>
                <h2>1. Allocate resources more efficiently</h2>
                <div class="grid_8 alpha omega">
                    <img src="/media/images/dw_howto_ontime.jpg" width="262" height="170" alt="get your fata on time" />
                </div>
                <div class="grid_10 alpha omega float_right">
                    <p>Resources are limited. However, thanks to DataWinners, you now have the data you need to make better informed decisions.</p>
                    <p>Examples:</p>
                    <ul>
                        <li>Send relief supplies where they are most needed</li>
                        <li>Prevent stock-outs of life-saving medications </li>
                        <li>Provide medical professionals with advice for patients</li>
                    </ul>
                    <p><a href="/success-story/santenet2">See our Success Stories &raquo;</a></p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="how_nav">
            <div id="how_links">
                <a href="javascript:void(0)" id="how_try_button">Try it free</a>
            </div>
            <div id="how_prev"><a href="javascript:void(0)">&laquo; Previous</a></div>
            <div id="how_next"><a href="javascript:void(0)">Next &raquo;</a></div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="clear"></div>
{% endblock %}
