{% extends 'public_secondary_fr.html' %}
{% block page_title %} Comment Est-ce Que Cela Marche ? {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "datawinners" %}
{{ block.super }}
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script src="/media/javascript/home/howto.js" type="text/javascript"></script>
{% endblock %}

{% block page_breadcrumbs %}
<a href="/home/fr">Accueil</a> &gt; <a href="/fr/what-is-datawinners">Qu’est-ce que DataWinners</a> &gt; Comment Est-ce Que Cela Marche ?
{% endblock %}

{% block main_content %}
<div id="nav_content">
    <h1>QU'EST-CE QUE DATAWINNERS</h1>
    <ul>
        <li class="active"><a href="/fr/what-is-datawinners/how-it-works">Comment Est-ce Que Cela Marche ?</a></li>
        <li><a href="/fr/what-is-datawinners/benefits">Benefits</a></li>
        <li><a href="/fr/what-is-datawinners/features">Features</a></li>
    </ul>
</div>
<div id="main_content">
    <div class="margin_left_20">
        <div id="how_menu">
            <div class="title">
                <a href="javascript:void(0)" rel="1">
                    <img src="/media/images/dw_how1.png" width="180" height="110" alt="How it works" />
                    <strong>Créer votre Questionnaire</strong>
                </a>
            </div>
            <div class="title">
                <a href="javascript:void(0)" rel="2">
                    <img src="/media/images/dw_how2.png" width="180" height="110" alt="How it works" />
                    <strong>Recevoir des données Précises</strong>
                </a>
            </div>
            <div class="title">
                <a href="javascript:void(0)" rel="3">
                    <img src="/media/images/dw_how3.png" width="180" height="110" alt="How it works" />
                    <strong>Consulter vos résultats</strong>
                </a>
            </div>
            <div class="title">
                <a href="javascript:void(0)" rel="4">
                    <img src="/media/images/dw_how4.png" width="180" height="110" alt="How it works" />
                    <strong>Prendre des décisions éclairées</strong>
                </a>
            </div>
            <div class="clear"></div>
            <div id="how_active"></div>
        </div>
        <div id="how_content">
            <div id="step1" class="container active">
                <h1>Créer votre Questionnaire</h1>
                <h2>1. Vous voulez des réponses à des questions clés concernant votre programme.</h2>
                <div class="grid_7 alpha omega">
                    <img src="/media/images/dw_howto_questionnaire.jpg" width="254" height="170" alt="Créer votre Questionnaire" />
                </div>
                <div class="grid_11 alpha omega float_right">
                    <p>DataWinners vous aide à suivre et à évaluer l’avancement de votre programme.</p>
                    <p>Avec DataWinners, n'importe qui peut collecter des données. Il est conçu pour les gestionnaires de programme, même ceux qui n’ont que peu ou pas d'expérience avec la Technologie de l'Information (TI).</p>
                    <p><a href="/fr/success-stories">Voir nos réussites &raquo;</a></p>
                </div>
                <div class="clear"></div>
                <h2>2. Choisissez vos questions clés</h2>
                <div class="grid_7 alpha omega">
                    <img src="/media/images/dw_howto_brainstorming.jpg" width="254" height="170" alt="choose your key questions" />
                </div>
                <div class="grid_11 alpha omega float_right">
                    <p>Avec votre équipe du programme, déterminez ensemble les questions clés.</p>
                </div>
                <div class="clear"></div>
                <h2>3. Créez votre questionnaire</h2>
                <div class="grid_7 alpha omega">
                    <img src="/media/images/dw_howto_create.jpg" width="250" height="160" alt="choose your key questions" />
                </div>
                <div class="grid_11 alpha omega float_right">
                    <p>Suivez les instructions simples de DataWinners fournies étape par étape pour transformer vos questions clés en un Questionnaire en ligne.</p>
                    <p>Testez votre Questionnaire en envoyant des échantillons de réponse.</p>
                </div>
                <div class="clear"></div>
                <h2>4. Formez vos Expéditeurs de Données</h2>
                <div class="grid_7 alpha omega">
                    <img src="/media/images/dw_howto_train.jpg" width="240" height="160" alt="train your data senders" />
                </div>
                <div class="grid_11 alpha omega float_right">
                    <p>Formez vos personnels de terrain (Expéditeurs de Données) pour envoyer leurs réponses.</p>
                    <p>DataWinners facilite la procédure; imprimez et partagez une copie de votre Questionnaire avec vos Expéditeurs de Données.</p>
                </div>
                <div class="clear"></div>
            </div>
            <div id="step2" class="container">
                <h1>Recevoir des données Précises</h1>
                <h2>1. Les Expéditeurs de Données envoyent leurs réponses</h2>
                <div class="grid_7 alpha omega">
                    <img src="/media/images/dw_howto_datasenders.jpg" width="270" height="210" alt="choose your key questions" />
                </div>
                <div class="grid_11 alpha omega float_right">
                    <p>Vos Expéditeurs de Données (les personnels de terrain) remplissent le Questionnaire sur papier, puis utilisent le questionnaire dûment rempli comme guide pour l’envoi de leurs réponses par SMS et Internet.</p>
                </div>
                <div class="clear"></div>
                <h2>2. Améliorer la qualité de vos données</h2>
                <div class="grid_7 alpha omega">
                    <img src="/media/images/dw_howto_feedback.jpg" width="270" height="210" alt="choose your key questions" />
                </div>
                <div class="grid_11 alpha omega float_right">
                    <p>DataWinners va communiquer automatiquement avec vos Expéditeurs de Données :</p>
                    <ul>
                        <li><strong>Feedback positif </strong><br/>" Félicitations Shilpa! Nous avons bien reçu vos données "</li>
                        <li><strong>Message d'erreur </strong><br/>" Erreur. Veuillez de nouveau envoyer vos réponses aux questions 1 et 5. "</li>
                    </ul>
                    <p><a href="/fr/what-is-datawinners/features">En savoir plus &raquo;</a></p>
                </div>
                <div class="clear"></div>
                <h2>3. Obtenir vos données à temps</h2>
                <div class="grid_7 alpha omega">
                    <img src="/media/images/dw_howto_ontime.jpg" width="270" height="164" alt="get your fata on time" />
                </div>
                <div class="grid_11 alpha omega float_right">
                    <p>Dites à DataWinners combien de fois et quand avez-vous besoin de vos données. </p>
                    <p>DataWinners enverra des rappels automatiques à vos Expéditeurs de Données : </p>
                    <p>" Rappel: vous devez soumettre votre rapport mensuel aujourd'hui. "</p>
                </div>
                <div class="clear"></div>
            </div>
            <div id="step3" class="container">
                <h1>Consulter vos résultats </h1>
                <h2>1. Voir les réponses de vos Expéditeurs de Données arriver en temps réel </h2>
                <div class="grid_7 alpha omega">
                    <img src="/media/images/dw_howto_datamap.jpg" width="260" height="170" alt="see your results" />
                </div>
                <div class="grid_11 alpha omega float_right">
                    <p>Obtenir les réponses à vos questions clés, le temps d’envoi d’un SMS. </p>
                    <p>Filtrer les Enregistrements selon la date. </p>
                </div>
                <div class="clear"></div>
                <h2>2. Analyser, exporter et partager vos données </h2>
                <div class="grid_7 alpha omega">
                    <img src="/media/images/dw_howto_sharedata.jpg" width="270" height="190" alt="get your data on time" />
                </div>
                <div class="grid_11 alpha omega float_right">
                    <p>Analyser vos données. </p>
                    <ul>
                        <li>Examiner un tableur </li>
                        <li>Cartographier vos résultats </li>
                        <li>Effectuer des calculs statistiques simples</li>
                    </ul>
                    <p>Exporter vos données en un seul clic. </p>
                    <p>Partager vos données avec d'autres. </p>
                    <ul>
                        <li>Donner accès à vos données à quiconque dans le monde </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div id="step4" class="container">
                <h1>Prendre des décisions éclairées </h1>
                <h2>1. Allouer vos ressources plus efficacement </h2>
                <div class="grid_7 alpha omega">
                    <img src="/media/images/dw_howto_ontime.jpg" width="262" height="170" alt="get your Data on time" />
                </div>
                <div class="grid_11 alpha omega float_right">
                    <p>Les ressources sont limitées. Cependant, grâce à DataWinners, vous disposez maintenant des données dont vous avez besoin pour prendre des décisions mieux éclairées. </p>
                    <p>Exemples : </p>
                    <ul>
                        <li>Envoyer des approvisionnements de secours là où on en a le plus besoin</li>
                        <li>Prévenir les ruptures de stock en médicaments vitaux</li>
                        <li>Fournir aux professionnels de la santé des conseils destinés aux patients </li>
                    </ul>
                    <p><a href="/fr/success-stories">Voir nos réussites &raquo;</a></p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="how_nav">
            <div id="how_prev"><a href="javascript:void(0)">&laquo; Etape précédente</a></div>
            <div id="how_next"><a href="javascript:void(0)">Etape suivante &raquo;</a></div>
            <div class="clear"></div>
            <div id="how_links">
                <a href="{% url registration.views.register %}" id="how_try_button">Essai gratuit</a>
                Créer un compte gratuitement
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
{% endblock %}
