{% extends 'public_secondary_fr.html' %}
{% block page_title %} Avantages {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "datawinners" %}
{{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
<a href="/fr/home">Accueil</a> &gt; <a href="/fr/what-is-datawinners">Qu’est-ce
    que DataWinners</a> &gt; Avantages
{% endblock %}

{% block main_content %}
<div id="nav_content">
    <h1>QU'EST-CE QUE DATAWINNERS</h1>
    <ul>
        <li><a href="/fr/what-is-datawinners/how-it-works">Comment Est-ce Que
            Cela Marche ?</a></li>
        <li class="active"><a
                href="/fr/what-is-datawinners/benefits">Avantages</a></li>
        <li><a href="/fr/what-is-datawinners/features">Fonctionnalités</a></li>
    </ul>
</div>
<div id="main_content">
    <div class="margin_left_20">
        <p><strong>Utilisez DataWinners pour obtenir en temps opportun un
            ensemble complet et précis de réponses à vos questions
            clés.</strong></p>

        <p>Voici pourquoi vous et votre organisation devriez utiliser
            DataWinners :</p>
        <ol>
            <li><a href="#a1">Commencez dès aujourd'hui </a></li>
            <li><a href="#a2">Économisez de l'argent</a></li>
            <li><a href="#a3">Créez des outils pour répondre à vos besoins</a>
            </li>
            <li><a href="#a4">Améliorez les lignes de communication</a></li>
            <li><a href="#a5">Travaillez en Collaboration </a></li>
            <li><a href="#a6">Soyez Confiant</a></li>
            <li><a href="#a7">Comprenez Mieux et Prenez de Meilleures
                Décisions</a></li>
        </ol>
        <br/>
        <a name="a1"></a>

        <h2>1. Commencez dès aujourd'hui</h2>
        <ul class="bulleted">
            <li>Essayez gratuitement la totalité des fonctionnalités de
                DataWinners.
            </li>
            <li>Inscrivez-vous en quelques minutes. Commencez à collecter des
                données le même jour.
            </li>
            <li>Accédez en ligne à DataWinners à partir de votre propre
                ordinateur – Aucune installation de logiciel ou d’équipement
                spécial n’est requise
            </li>
            <li>Obtenez tout ce dont vous avez besoin dans le cadre de votre
                abonnement mensuel: un numéro de téléphone, un grand nombre de
                SMS et une capacité illimitée de collecte de données
            </li>
        </ul>
        <a name="a2"></a>

        <h2>2. Économisez de l'argent</h2>
        <ul class="bulleted">
            <li>Collectez vos données par SMS pour seulement quelques sous par
                rapport
            </li>
            <li>Payez par service consommé ; Pas de contrats à long terme ou de
                frais non dévoilés
            </li>
            <li>Contractez un seul abonnement pour toute votre organisation;
                Chaque responsable peut collecter des données pour son propre
                projet
            </li>
            <li>Réduisez les coûts; les personnels de terrain utilisent leur
                propre téléphone pour envoyer les données par SMS
            </li>
            <li>Collectez une quantité illimitée de données</li>
            <li>Aucun consultant ou programmeur coûteux n’est nécessaire</li>
        </ul>
        <a name="a3"></a>

        <h2>3. Créez des outils pour répondre à vos besoins</h2>
        <ul class="bulleted">
            <li>Conçus pour les responsables; Aucune expérience préalable en TI
                n’est requise
            </li>
            <li>Collecte mobile de données faite par soi-même ; Concevez votre
                projet à l’aide des instructions de DataWinners fournies étape
                par étape
            </li>
            <li>Entièrement Personnalisable; Créez des outils de collecte et de
                communication de données qui répondent exactement à vos besoins
            </li>
            <li>Modifiez aisément des questionnaires existants ou en développer
                de nouveaux au fur et à mesure que les besoins changent
            </li>
        </ul>
        <a name="a4"></a>

        <h2>4. Améliorez les lignes de communication</h2>
        <ul class="bulleted">
            <li>Facile à utiliser: Créez votre questionnaire dans la matinée et
                commencez à collecter vos données dès l'après-midi
            </li>
            <li>Choisissez le canal qui vous convient: SMS et Internet;
                DataWinners vous aidera à décider
            </li>
            <li>Collectez des données à l'échelle nationale, même dans les
                régions éloignées
            </li>
            <li>Recevez en quelques secondes des données provenant du terrain;
                les regarder arriver en temps réel sur votre écran d'ordinateur
            </li>
            <li>Définissez les critères pour améliorer la précision</li>
            <li>Envoyez des rappels automatiques, des messages de confirmation
                et des rapports d'erreur spécifiques à vos expéditeurs de
                données
            </li>
        </ul>
        <a name="a5"></a>

        <h2>5. Travaillez en Collaboration </h2>
        <ul class="bulleted">
            <li>Partagez vos données avec les parties prenantes se trouvant
                dans la ville ou à l'autre bout du monde
            </li>
            <li>Faites partie d'une communauté open-source active qui contribue
                tout le temps à de
            </li>
        </ul>
        <a name="a6"></a>

        <h2>6. Soyez Confiant </h2>
        <ul class="bulleted">
            <li>Accédez à vos données depuis n'importe quel ordinateur connecté
                à Internet dans le monde, 24/7
            </li>
            <li>Vos données sont cryptées et protégées par mot de passe ; même
                les administrateurs de DataWinners n'y ont pas accès.
            </li>
            <li>Vos données sont stockées sur des serveurs sécurisés et sont
                sauvegardées régulièrement.
            </li>
            <li>Vos données vous appartiennent – vous pouvez les exporter quand
                vous voulez et les emporter avec vous
            </li>
        </ul>
        <a name="a7"></a>

        <h2>7. Comprenez Mieux et Prenez de Meilleures Décisions</h2>
        <ul class="bulleted">
            <li>Utilisez des filtres pour trouver la réponse exacte dont vous
                avez besoin
            </li>
            <li>Analysez vos données immédiatement en utilisant les outils de
                cartographie et de calcul de DataWinners
            </li>
            <li>Exportez vos données vers Excel en un seul clic pour des
                analyses ultérieures
            </li>
            <li>Prenez des décisions mieux éclairées sur la façon de mieux
                utiliser vos ressources
            </li>
        </ul>
        <div id="how_nav">
            <div id="how_links">
                <a href="{% url registration.views.register %}"
                   id="how_try_button">Try it Free</a>
                Sign up for your free account
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
{% endblock %}
