{% extends 'public.html' %}
{% block page_title %} Start Page {% endblock %}

{% block main_content %}
    <div id="container_home_intro">
        <div id="home_intro_bg">
            <div id="home_intro" class="container_24">
                <div class="grid_14 alpha omega">
                    <img src="/media/images/dw_mobile_laptop.png" alt="">
                </div>
                <div class="grid_10 alpha omega">
                    <div class="content">
                        <p class="title">Get timely data va SMS.<br/>
                        Anywhere a mobile phone works.<br/>
                        Just pennies per report.</p>
                        <p>
                            DataWinners is the easy way to collect data remotely. Get the information you need to make better
                            decisions and respond faster to local needs.
                        </p>
                        <a href="javascript:void(0)" class="intro_try_button">Try it free</a>
                        <a href="javascript:void(0)" class="intro_learn_button">Learn more</a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div id="container_home_slides">
        <div id="home_slides" class="container_24">
            <img src="/media/images/dw_slides.jpg">
        </div>
    </div>
    <div id="container_home_how">
        <div id="home_how" class="container_24">
            <div class="grid_4 alpha omega">
                <img src="/media/images/dw_home_how.png" alt="How it works" width="140" height="25" class="title"><br/>
                <a href="javascript:void(0)">Learn more &raquo;</a>
            </div>
            <div class="grid_20 alpha omega">
                <img src="/media/images/dw_home_how_schema.gif" alt="How it works" width="800" height="106">
                <div class="grid_5 alpha omega text_align_center">
                    <p>
                        <strong>Easily create</strong><br/> interactive surveys.
                    </p>
                </div>
                <div class="grid_6 alpha omega text_align_center">
                    <p>
                        <strong>Receive accurate data</strong><br/> and exchange information<br/>straight from the field.
                    </p>
                </div>
                <div class="grid_4 alpha omega text_align_center">
                    <p>
                        <strong>See your result</strong> as a<br/> chart, graph, or map.
                    </p>
                </div>
                <div class="grid_5 alpha omega margin_left_20 text_align_center">
                    <p class="margin_left_20">
                        <strong>Make informed decisions</strong><br/> about your project.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
