{% extends 'public_secondary_en.html' %}
{% block page_title %} Risk and Disater Management {% endblock %}
{% block page_theme %} Humanitarian Component, Madagascar {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "success" %}
{{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
<a href="/home/en">Home</a> &gt; <a href="/en/success-stories">Success
    Stories</a> &gt; BNGRC
{% endblock %}

{% block main_content %}
<div id="nav_content">
    <h1>SUCCESS STORIES</h1>
    <ul>
        <li><a href="/en/success-story/msi">Family Planning and Reproductive
            Healthcare</a></li>
        <li><a href="/en/success-story/santenet2">Maternal and Child Health</a>
        </li>
        <li class="active"><a href="/en/success-story/bngrc">Risk and Disater Management </a></li>
    </ul>
</div>
<div id="main_content">
    <div class="margin_left_20">
        <div class="left_content">
            <img src="/media/images/dw_ss_bngrc.jpg" width="500" height="280"
                 alt="BNGRC"/>

            <h2>About the Projet</h2>

            <p>
                In the event of natural or anthropogenic disaster, the National
                Bureau for Risk and Disaster Management (BNGRC) is the entity
                responsible for coordinating programs and activities linked to
                emergency response and assistance. For some hazards, the bureau
                is also responsible for the preparedness and prevention to
                reduce the impact of disasters.
            </p>

            <h2>The Challenge</h2>

            <p>
                For several years, post-hazard data have been collected through
                either
            </p>
            <ul>
                <li>direct landline phone</li>
                <li>radio communication (SSB), or</li>
                <li>hard copy version by the means of cards, for communities
                    close to the BNGRC
                </li>
            </ul>
            <p>
                Obtaining the cards from the affected communities requires a
                fairly long time to reach the Commune and the District level,
                and then the BNGRC. Moreover, the processing of such
                information requires about 30 minutes for each card collected.
                Such information processing was heavy, and the cost of
                telephone calls increased in parallel with the extent of the
                damages.
            </p>

            <p>
                « Every year, an estimated average of 500 villages are affected
                by cyclones, which are the major hazards.
                The processing of information is time consuming, involves a lot
                of personnel, and delays the decision-making and the sending of
                response teams; however, in the meantime, the extent of the
                damages is increasing.
                It is even possible that there will be deaths before the
                arrival of the emergency response team », accroding to Nianja
                Raonivelo, BNGRC Webmaster/Data Analyst.
            </p>

            <h2>Action Taken</h2>

            <p>
                In collaboration with the members of CRIC and SALOHI project,
                BNGRC decided to take advantage of the use of HNI’s SMS
                technology for rapid reporting and processing of post-hazard
                data. The goal is to provide more alternatives to the affected
                communities for the sending of the post-flood and post-cyclone
                information, and to reduce the processing time of information
                that reach the BNGRC. 1700 chips have been purchased by
                BNGRC.<br/>
                The United Nations Development Programme (UNDP) will proceed
                with the purchase of 300 telephone sets. International partners
                such as CARE, CRS, ADRA and UNDP supported the on-the-spot in
                chain training, which is currently underway in some areas
                vulnerable to flooding and cyclone. The most relevant
                indicators have been identified and HNI has developed an
                application for the data processing.
            </p>

            <h2>The Result</h2>

            <p>
                BNGRC is currently in the phase of training village Leaders for
                the sending of data by SMS.<br/>
                According to Nianja Raonivelo, « Now, the communication, the
                processing and the compilation of data can be done quickly. We
                can do the mapping, send messages to raise pre-hazard awareness
                and preparedness. Information can be shared online and on time
                because they are available on our website. "
                <br/>The system was considered affordable, relevant and
                reliable ».
            </p>
            <strong>Le syst&egrave;me a &eacute;t&eacute; consid&eacute;r&eacute;
                comme abordable, int&eacute;ressant et fiable.</strong>
        </div>
        <div class="right_content">
            <div>
                <div class="block_1">
                    <h1>About BNGRC</h1>

                    <div align="center"><img
                            src="/media/images/dw_logo_bngrc.png" width="74"
                            height="100" alt="BNGRC"/></div>
                    <p>
                        The National Bureau for Risk and Disaster Management
                        (BNGRC) of Madagascar is the entity responsible for
                        coordinating activities for risk and disaster
                        management, and for some hazards, the preparedness and
                        prevention to reduce the impact of disasters.
                        <br/><a href="http://www.bngrc.mg" target="_blank">www.bngrc.mg</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>
{% endblock %}
