{% extends 'public_secondary.html' %}
{% block page_title %} GESTION DES RISQUES ET CATASTROPHES {% endblock %}
{% block page_theme %} Volet humanitaire, Madagascar {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "success" %}
{{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
Success Stories &gt; BNGRC
{% endblock %}

{% block main_content %}
<div id="nav_content">
    <h1>SUCCESS STORIES</h1>
    <ul>
        <li><a href="/success-story/santenet2">Santenet2</a></li>
        <li><a href="/success-story/msi">MSI</a></li>
        <li class="active"><a href="/success-story/bngrc">BNGRC</a></li>
    </ul>
</div>
<div id="main_content">
    <div class="margin_left_20">
        <div class="left_content">
            <h2>&Agrave; Propos du Projet</h2>
            En cas de catastrophe naturelle ou anthropique, le Bureau National pour la Gestion des Risques et
            Catastrophes (BNGRC) est l’entit&eacute; charg&eacute;e de la coordination des programmes et des activit&eacute;s relatives aux
            interventions et secours d’urgence. Le bureau se charge &eacute;galement, pour certains al&eacute;as, de la pr&eacute;paration et
            de la pr&eacute;vention en vue de r&eacute;duire l’impact des catastrophes.

            <h2>Le D&eacute;fi</h2>

            <p>
                Depuis plusieurs ann&eacute;es, les donn&eacute;es post-al&eacute;as sont collect&eacute;es soit
            </p>
            <ul>
                <li>directement par t&eacute;l&eacute;phone</li>
                <li>par communication radio (BLU)</li>
                <li>en version hard copy avec les fiches pour les endroits proches du BNGRC</li>
            </ul>
            <p>
                L’obtention des fiches provenant des localit&eacute;s sinistr&eacute;es n&eacute;cessite un laps de temps assez long pour
                arriver au niveau de la Commune et du District, puis au niveau du BNGRC. Par ailleurs, les traitements
                de ces informations n&eacute;cessitent &agrave; peu pr&egrave;s 30 minutes pour chaque fiche collect&eacute;e.
                <br/>Le traitement des informations s’av&eacute;rait lourd, le coût de communication t&eacute;l&eacute;phonique augmentait en
                parall&egrave;le avec l’ampleur des d&eacute;g&acirc;ts.
            </p>

            <p>
                « Chaque ann&eacute;e on estime &agrave; 500 en moyenne le nombre de villages qui sont touch&eacute;s par le cyclone qui est
                l’al&eacute;a majeur.
                <br/>Le traitement de ces informations engage beaucoup de temps et de personnel, retarde la prise de
                d&eacute;cision et l’envoi des &eacute;quipes d’interventions alors qu’entretemps, le nombre de d&eacute;g&acirc;ts augmente.
                <br/>Il se peut m&ecirc;me qu’il y ait des morts avant que les secours n’arrivent », selon Nianja Raonivelo,
                webmaster/analyste de donn&eacute;es de BNGRC.
            </p>

            <h2>Mesures Prises</h2>

            <p>
                BNGRC, en collaboration avec les membres du Comit&eacute; du CRIC et le projet SALOHI, a d&eacute;cid&eacute; de mettre &agrave;
                profit la technologie SMS de HNI pour la remont&eacute;e et le traitement rapides des donn&eacute;es post-al&eacute;as. Le
                but est donner plus d’alternatives aux localit&eacute;s sinistr&eacute;es pour l’envoi des informations
                post-inondations et cyclones et de r&eacute;duire le temps de traitement des informations parvenant au BNGRC. 1
                700 puces ont ainsi &eacute;t&eacute; achet&eacute;es par BNGRC.
                <br/>Le Programme des Nations Unies pour le D&eacute;veloppement (PNUD) proc&eacute;dera &agrave; l’achat de 300 postes
                t&eacute;l&eacute;phoniques. Les partenaires internationaux tels CARE, CRS, ADRA et PNUD ont appuy&eacute; les formations
                directes et en cascade, qui sont actuellement en cours dans quelques zones vuln&eacute;rables &agrave; l’inondation et
                au cyclone. Les indicateurs les plus pertinents ont &eacute;t&eacute; d&eacute;termin&eacute;s et HNI a d&eacute;velopp&eacute; une application
                traitant ces donn&eacute;es.</p>

            <h2>Le R&eacute;sultat</h2>

            <p>
                BNGRC est actuellement en phase de formation pour l’envoi de donn&eacute;es par SMS des Chefs de villages.
                <br/>Selon Nianja Raonivelo, « Maintenant, l’envoi, le traitement des donn&eacute;es et la compilation peuvent
                &ecirc;tre effectu&eacute;s rapidement. On peut faire la cartographie, envoyer des messages de sensibilisation pour
                les pr&eacute;paratifs avant al&eacute;a. Les informations peuvent &ecirc;tre partag&eacute;es en ligne et &agrave; temps car elles sont
                disponibles sur site web. »</p>
            <strong>Le syst&egrave;me a &eacute;t&eacute; consid&eacute;r&eacute; comme abordable, int&eacute;ressant et fiable.</strong>

        </div>
        <div class="right_content">
            <div>
                <div class="block_1">
                    <h1>&Agrave; Propos du BNGRC</h1>

                    <p>
                        Le Bureau National pour la Gestion des Risques et Catastrophes (BNGRC) de Madagascar est
                        l’entit&eacute; en charge de la coordination des activit&eacute;s pour les risques et catastrophes ainsi que
                        de la pr&eacute;paration et de la pr&eacute;vention en vue de r&eacute;duire l’impact des catastrophes, pour certains
                        al&eacute;as.
                        <br/><a href="http://www.bngrc.mg" target="_blank">http://www.bngrc.mg</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>
{% endblock %}
