{% extends 'public_secondary.html' %}
{% block page_title %} Assistance {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "support" %}
{{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_public_support.scss" rel="stylesheet" />
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/home/howto.js"></script>
{% endblock %}

{% block page_breadcrumbs %}
<a href="/en/home/">Home</a> &gt; <a href="/en/support/">Assistance</a> &gt; Etude de cas
{% endblock %}

{% block main_content %}
    <div id="nav_content">
        <h1><a href="/fr/support/">ASSISTANCE</a></h1>
         <ul>
            <li class="active"><a href="/fr/support/case-studies/">Etude de cas</a></li>
            <li><a href="/fr/support/get-started/">Commencer</a></li>
            <li><a href="/fr/support/find-answers/">Trouver des reponses (FAQs)</a></li>
            <li><a href="/fr/support/ask-us/">Nous demander</a></li>
        </ul>
    </div>
    <div id="main_content">

        <div class="margin_left_20">
            <div class="grid_18">
                <p class="font_size_14">Osi is the program manager for a child nutriton project.
                Click on each image below to see how Osi uses DataWinners for her data collection needs.
                </p>
            </div>
            <div class="clear"></div>
            <br/>
            <br/>
            <div class="text_align_center">
                <div id="how_menu" style="width: 640px;">
                    <div class="title">
                        <a href="javascript:void(0)" rel="1">
                            <img src="/media/images/dw_support1.png" width="180" alt="How it works" />
                            <strong>Monthly Report</strong>
                        </a>
                    </div>
                    <div class="title">
                        <a href="javascript:void(0)" rel="2">
                            <img src="/media/images/dw_support2.png" width="180" alt="How it works" />
                            <strong>Detail Report</strong>
                        </a>
                    </div>
                    <div class="title">
                        <a href="javascript:void(0)" rel="3">
                            <img src="/media/images/dw_support3.png" width="180" alt="How it works" />
                            <strong>Supervisor Report</strong>
                        </a>
                    </div>
                    <div class="clear"></div>
                    <div id="how_active" class="how_active1"></div>
                </div>
                <br/>
            </div>

            <div id="how_content">
                <div id="step1" class="container active">
                    <h1>MONTHLY ACTIVITY REPORTS</h1>
                    <h2>1.  Replace Costly and Inefficient Paper-Based Data Collection Efforts</h2>
                    <div>
                        <p>Osi has a problem: As program manager of a large child malnutrition project,
                            she cannot get timely, accurate and complete data from Nutritional Agents at each of her
                            Feeding Centers.
                        </p>
                    </div>
                    <div class="clear"></div>

                    <h2>2. Upgrade to Data Collection via SMS</h2>
                    <div>
                        <p>Osi decides to collect her data via mobile phone.
                            She reviews her paper-based monthly summary report form, talks with staff and
                            decides:
                            1) who she wants to collect data from (Nutritional Agents);
                            2) The subject of her questionnaire (Feeding Centers) and
                            3) which key questions she wants her Nutritional Agents to answer via SMS
                            (example: How many children did you weigh last month?)
                        </p>
                        <p>
                            She creates the questionnaire using
                            DataWinners friendly questionnaire builder.
                        </p>
                    </div>
                    <div class="clear"></div>

                    <h2>3. Create Training Materials to Teach Staff How to Send in Data Via SMS</h2>
                    <div>
                        <p>DataWinners creates for Osi a template of her Questionnaire.
                            Osi uses the template to train her Nutritional
                            Agents to send in monthly summary reports via SMS.
                        </p>
                    </div>
                    <div class="clear"></div>

                    <h2>4. Use DataWinners to send reminders</h2>
                    <div>
                        <p>Osi sets an automatic reminder to be sent to all
                            Nutritional Agents who haven’t yet submitted their report.
                        </p>
                    </div>
                    <div class="clear"></div>

                    <h2>5. View your Data from DataWinners website</h2>
                    <div>
                        <p>The day after the submission deadline,
                            Osi logs in to her DataWinners account and sees
                            complete monthly reports from all 100 Feeding Centers.
                            For the first time, Osi has all her data, on time.
                        </p>
                    </div>
                    <div class="clear"></div>

                    <h2>6. Share Your Data</h2>
                    <div>
                        <p>Osi provides her supervisor with a link to the monthly summary data.
                        </p>
                    </div>
                    <div class="clear"></div>

                    <h2>7. Make better decisions</h2>
                    <div>
                        <p>Her supervisor is thrilled to have the information.
                            Osi and the supervisor review the data and decide to
                            make changes at several Feeding Centers.
                            Osi congratulates many of her Nutritional
                            Agents both for sending in their information and for meeting their project goals.
                        </p>
                    </div>
                    <div class="clear"></div>

                </div>
                <div id="step2" class="container">
                    <h1>DETAILED RECORDS</h1>
                    <h2>1.  Collect Multiple Reports Simultaneously</h2>
                    <div>
                        <p>In addition to Monthly Summary Reports, Osi also wants her Nutritional Agents to send in key data after each child’s visit to a Feeding Center.</p>
                    </div>
                    <div class="clear"></div>

                    <h2>2. Improve the quality of your data</h2>
                    <div>
                        <p>Osi creates a second data collection project in her DataWinners account.
                            She reviews her paper-based Feeding Center Visit Report form, talks with staff and decides:
                            1) who she wants to collect data from (Nutritional Agents);
                            2) The subject of her questionnaire (Each Child who visits) and
                            3) which key questions she wants her Nutritional Agents to answer via SMS
                            (example: How much does the child weigh in kilograms?)
                        </p>
                        <p>She creates the questionnaire using DataWinners friendly questionnaire builder.</p>
                    </div>
                    <div class="clear"></div>

                    <h2>3.  Register Each Child in DataWinners</h2>
                    <div>
                        <p>Osi uses her DataWinners account to create a simple registration form for each
                            child who visits a feeding center:
                            <ol class="lower_alpha">
                                <li>What is the child's first name?</li>
                                <li>What is the child's last name?</li>
                                <li>Child's date of birth?</li>
                                <li>Mother's telephone number?</li>
                            </ol>
                        </p>
                        <p>Once the Nutrional Agents send in the answers to these registration questions,
                            DataWinners generates a unique identification number for each child.
                        </p>
                    </div>
                    <div class="clear"></div>

                    <h2>4.  Create Training Materials that Teach Staff How to Send in Data Via SMS</h2>
                    <div>
                        <p>DataWinners creates for Osi a template of her Questionnaire.
                            Osi uses the template to train her Nutritional Agents to send in the feeding
                            center visit reports via SMS.
                        </p>
                    </div>
                    <div class="clear"></div>

                    <h2>5. View Data from DataWinners Website</h2>
                    <div>
                        <p>On a daily basis, Osi can review the feeding center visit reports in real time from all 100
                            of her Feeding Centers.  Osi can identify each severely malnourished child and
                            work with Nutritional Agent on a recovery plan
                        </p>
                    </div>
                    <div class="clear"></div>

                    <h2>6. Compare Results over Time</h2>
                    <div>
                        <p>Using DataWinners data analysis tools,
                           Osi can track the progress of each child over time.
                        </p>
                    </div>
                    <div class="clear"></div>

                </div>
                <div id="step3" class="container">
                    <h1>SUPERVISOR REPORTS</h1>
                    <h2>1. Quality Assurance Data</h2>
                    <div>
                        <p>Osi wants to collect quality assurance data from her Regional Supervisors after each visit to a Feeding Center.  </p>
                    </div>
                    <div class="clear"></div>

                    <h2>2. Create a New Project in DataWinners</h2>
                    <div>
                        <p>Osi creates a third data collection project in her DataWinners account.
                            She reviews her paper-based Feeding Center Quality Assurance Report form,
                            talks with staff and decides:
                            1) who she wants to collect data from (Regional Supervisors);
                            2) The subject of her questionnaire (Feeding Center) and
                            3) which key questions she wants her Supervisors to answer via SMS
                            (example: What overall grade, out of five do you give this Feeding Center?)
                        </p>
                        <p>She creates the questionnaire using DataWinners friendly questionnaire builder.</p>
                    </div>
                    <div class="clear"></div>

                    <h2>3.  Register Each Feeding Center in DataWinners</h2>
                    <div>
                        <p>Osi uses her DataWinners account to create a simple registration form for each feeding center:
                            <ul>
                                <li>What is name of Feeding Center?</li>
                                <li>Where is Feeding Center located?</li>
                            </ul>
                        </p>
                        <p>Once Osi answers these questions, DataWinners generates a unique identification number
                        for each Feeding Center</p>
                    </div>
                    <div class="clear"></div>

                    <h2>4.  Create Training Materials that Teach Staff How to Send in Data Via SMS</h2>
                    <div>
                        <p>DataWinners creates for Osi a template of her Questionnaire.
                            Osi uses the template to train her Supervisors
                            to send in the feeding center visit reports via SMS.
                        </p>
                    </div>
                    <div class="clear"></div>

                    <h2>5. View Data from DataWinners Website</h2>
                    <div>
                        <p>On a daily basis, Osi can review the Feeding Center Quality Assurance reports in real time.  Osi can identify which Feeding Centers require immediate assistance.</p>
                    </div>
                    <div class="clear"></div>

                    <h2>6. Compare Results over Time</h2>
                    <div>
                        <p>Using DataWinners data analysis tools, Osi can track the progress of each Feeding Center over time.</p>
                    </div>
                    <div class="clear"></div>

                </div>
            </div>
            <div id="how_nav" class="margin_top_20">
                <div id="how_prev"><a href="javascript:void(0)">&laquo; Previous</a></div>
                <div id="how_next"><a href="javascript:void(0)">Next &raquo;</a></div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}