{% extends 'public_secondary.html' %}
{% block page_title %} Support {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "support" %}
{{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_public_support.scss" rel="stylesheet" />
{% endblock %}

{% block page_js %}
    {{ block.super }}

    <script type="text/javascript" src="/media/javascript/home/support.js"></script>
{% endblock %}

{% block page_breadcrumbs %}
<a href="/en/home/">Home</a> &gt; Support
{% endblock %}

{% block main_content %}
    <div id="nav_content">
        <h1>Support</h1>
        <ul>
            <li><a href="/en/support/case-studies/">Case studies</a></li>
            <li><a href="/en/support/get-started/">Get Started</a></li>
            <li><a href="/en/support/find-answers/">Find Answers (FAQs)</a></li>
            <li><a href="/en/support/ask-us/">Ask Us</a></li>
        </ul>
    </div>
    <div id="main_content">

        <div class="margin_left_20">
            <div class="grid_18 alpha omega">
                DataWinners makes data collection fast, easy and fun. Check out the info below to learn more.
                <br/><br/>
            </div>
            <div class="grid_18 alpha omega">
                <div class="grid_9 alpha block_support">
                    <div class="grid_4 omega">
                        <img src="/media/images/dw_howto_questionnaire.jpg" width="150"/><br/>
                    </div>
                    <div class="grid_5 omega">
                        <h3>Case studies</h3>
                        Meet Osi and see how she collects data using DataWinners.
                        <a href="/en/support/case-studies/" class="read_more more">Read More</a>
                    </div>
                </div>
                <div class="block_support">
                    <div class="grid_4 omega">
                        <img src="/media/images/dw_howto_questionnaire.jpg" width="150"/><br/>
                    </div>
                    <div class="grid_5 omega" style="position:relative;">
                        <h3>Get Started</h3>
                        Learn how to create a simple data collection project with DataWinners.
                        <a href="/en/support/get-started/" class="read_more more">Read More</a>
                    </div>
                </div>
            </div>

            <div class="grid_18 alpha omega margin_top_20">
                <div class="block_support">
                    <div class="grid_4 alpha">
                        <img src="/media/images/dw_howto_questionnaire.jpg" width="150"/><br/>
                    </div>
                    <div class="grid_5 omega">
                        <h3>Find Answers (FAQs)</h3>
                        Check out our list of frequently asked questions.
                        <a href="/en/support/find-answers/" class="read_more more">Read More</a>
                    </div>
                </div>
                <div class="block_support">
                    <div class="grid_4 alpha">
                        <img src="/media/images/dw_contact_us.jpg" width="150"/><br/>
                    </div>
                    <div class="grid_5 omega">
                        <h3>Ask Us</h3>
                        Send us an email. We will respond in 24 hours or less.
                        <a href="/en/support/ask-us/" class="read_more more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>

        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
