{% extends 'public_secondary_fr.html' %}
{% block page_title %} Support {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "support" %}
{{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
<a href="/home/fr">Accueil</a> &gt; Support
{% endblock %}

{% block main_content %}
    <div id="nav_content">
        <h1>SUPPORT</h1>
    </div>
    <div id="main_content">
        <div class="margin_left_20">

        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
