{% extends 'public_secondary_fr.html' %}
{% block page_title %} Terms and conditions {% endblock %}

{% load dw_tabs %}
{% block body %}

{{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
<a href="/home/en">Homepage</a> &gt; Terms and conditions
{% endblock %}

{% block main_content %}
    <div id="nav_content">
        <h1>Terms and conditions</h1>
        <ul>
            <li class="active"><a href="/en/terms-and-conditions/">Terms and conditions</a>
        </ul>
    </div>
    <div id="main_content">
        <div class="margin_left_20">

        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
