{% extends 'public_secondary.html' %}
{% block page_title %} What is DataWinners {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "datawinners" %}
{{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
<a href="/en/home/">Home</a> &gt; What is DataWinners
{% endblock %}

{% block main_content %}
<div id="nav_content">
    <h1><a href="/en/what-is-datawinners/">WHAT IS DATAWINNERS</a></h1>
    <ul>
        <li><a href="/en/what-is-datawinners/how-it-works">How it Works</a></li>
        <li><a href="/en/what-is-datawinners/benefits">Benefits</a></li>
        <li><a href="/en/what-is-datawinners/features">Features</a></li>
    </ul>
</div>
<div id="main_content">
    <div class="margin_left_20">
        <p>DataWinners is an online mobile data collection service designed and built for development professionals. With DataWinners, you collect and analyze the data you need using the equipment you already have – a computer, the Internet and basic mobile phones.</p>
        <h2>DataWinners’ goal is to help you</h2>
        <div id="use_dw">
            <div>
                <img src="/media/images/dw_goals_en.png"/><br/>
            </div>
            <div class="clear"></div>
        </div>
        <h2>Learn more</h2>
        <p>
            <a href="/en/what-is-datawinners/how-it-works">How it Works</a><br/>
            <a href="/en/what-is-datawinners/benefits">Benefits</a><br/>
            <a href="/en/what-is-datawinners/features">Features</a><br/>
        </p>
    </div>
</div>
<div class="clear"></div>
{% endblock %}
