{% extends 'public_secondary.html' %}
{% block page_title %} What is DataWinners {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "datawinners" %}
{{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
<a href="/home">Home</a> &gt; What is DataWinners
{% endblock %}

{% block main_content %}
<div id="nav_content">
    <h1>WHAT IS DATAWINNERS</h1>
    <ul>
        <li><a href="/what-is-datawinners/how-it-works">How it Works</a></li>
        <li><a href="/what-is-datawinners/benefits">Benefits</a></li>
        <li><a href="/what-is-datawinners/features">Features</a></li>
    </ul>
</div>
<div id="main_content">
    <div class="margin_left_20">
        <p>DataWinners is an online mobile data collection service designed and built for development professionals. With DataWinners, you collect and analyze the data you need using the equipment you already have – a computer, the Internet and basic mobile phones.
</p>
        <h2>Use DataWinners to</h2>
        <div id="use_dw">
            <div class="content">
                <p><strong>Open lines of Communication </strong><br/> between you and the field</p>
            </div>
            <div class="arrow">&nbsp;</div>
            <div class="content">
                <p><strong>Get the data you need </strong><br/> to better understand your project</p>
            </div>
            <div class="arrow">&nbsp;</div>
            <div class="content">
                <p><strong>Make better decisions</strong><br/> to change lives</p>
            </div>
            <div class="clear"></div>
        </div>
        <h2>Learn more</h2>
        <p>
            <a href="/what-is-datawinners/how-it-works">How it Works</a><br/>
            <a href="/what-is-datawinners/benefits">Benefits</a>
            <a href="/what-is-datawinners/features">Features</a><br/>
        </p>
    </div>
</div>
<div class="clear"></div>
{% endblock %}
