[submodule "datawinners/dcs_app"]
	path = datawinners/dcs_app
	url = https://github.com/ICT4H/dcs-api.git
[submodule "enketo-core"]
	path = enketo-core
	url = https://github.com/mangroveorg/enketo-core-dw.git
