/*
Syntax error: Inconsistent indentation: 11 spaces were used for indentation, but the rest of the document was indented using 4 spaces.
        on line 141 of fabfile2.py

136:         run("git checkout .")
137:         activate_and_run(virtual_env, "pip install -r requirements.pip")
138: 
139: 
140: def deploy(mangrove_build_number, datawinner_build_number, home_dir, virtual_env, branch="develop",
141:            environment="showcase",recreate_db = "true"):
142:     """build_number : hudson build number to be deployed
143:        home_dir: directory where you want to deploy the source code
144:        virtual_env : path to your virtual_env folder
145:     """
146:     set_mangrove_commit_sha(branch, mangrove_build_number)

Backtrace:
fabfile2.py:141
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/engine.rb:424:in `tabulate'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/engine.rb:362:in `each_with_index'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/engine.rb:382:in `each'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/engine.rb:382:in `each_with_index'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/engine.rb:382:in `tabulate'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/engine.rb:345:in `_to_tree'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/engine.rb:315:in `_render'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/engine.rb:262:in `render'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin/compiler.rb:341:in `update_stylesheet'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin/compiler.rb:203:in `update_stylesheets'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `each'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `update_stylesheets'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin/compiler.rb:299:in `watch'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:95:in `initialize_adapter'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:31:in `start'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:31:in `initialize'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:31:in `new'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:31:in `start'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:44:in `start'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin/compiler.rb:307:in `watch'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin.rb:107:in `send'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin.rb:107:in `method_missing'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/exec.rb:444:in `watch_or_update'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/exec.rb:307:in `process_result'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/sass:8
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Inconsistent indentation: 11 spaces were used for indentation, but the rest of the document was indented using 4 spaces.\A         on line 141 of fabfile2.py\A \A 136:         run(\"git checkout .\")\A 137:         activate_and_run(virtual_env, \"pip install -r requirements.pip\")\A 138: \A 139: \A 140: def deploy(mangrove_build_number, datawinner_build_number, home_dir, virtual_env, branch=\"develop\",\A 141:            environment=\"showcase\",recreate_db = \"true\"):\A 142:     \"\"\"build_number : hudson build number to be deployed\A 143:        home_dir: directory where you want to deploy the source code\A 144:        virtual_env : path to your virtual_env folder\A 145:     \"\"\"\A 146:     set_mangrove_commit_sha(branch, mangrove_build_number)"; }
