/*
Syntax error: Invalid CSS after "Fabric": expected selector, was "==0.9.4"
        on line 2 of requirements.pip

1: boto 
2: Fabric==0.9.4
3: django==1.3
4: https://github.com/nose-devs/nose/zipball/master
5: CouchDB==0.9
6: coverage==3.4
7: simplejson

Backtrace:
requirements.pip:2
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/scss/parser.rb:1136:in `expected'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/scss/parser.rb:1072:in `expected'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/scss/static_parser.rb:21:in `parse_selector'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:312:in `visit_rule'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:98:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:107:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:119:in `with_environment'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:106:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:126:in `visit_root'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:98:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/tree/root_node.rb:20:in `render'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/engine.rb:315:in `_render'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/engine.rb:262:in `render'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin/compiler.rb:341:in `update_stylesheet'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin/compiler.rb:203:in `update_stylesheets'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `each'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `update_stylesheets'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin/compiler.rb:299:in `watch'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:95:in `initialize_adapter'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:31:in `start'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:31:in `initialize'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:31:in `new'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:31:in `start'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:44:in `start'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin/compiler.rb:307:in `watch'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin.rb:107:in `send'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin.rb:107:in `method_missing'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/exec.rb:444:in `watch_or_update'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/exec.rb:307:in `process_result'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/sass:8
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"Fabric\": expected selector, was \"==0.9.4\"\A         on line 2 of requirements.pip\A \A 1: boto \A 2: Fabric==0.9.4\A 3: django==1.3\A 4: https://github.com/nose-devs/nose/zipball/master\A 5: CouchDB==0.9\A 6: coverage==3.4\A 7: simplejson"; }
