<html>

<body>

<p>Hello {{ name }},</p>

<p>Thank you for signing up for a DataWinners Trial Account!</p>

<p>Click on this link to activate your DataWinners account:</p>

<p>http://{{ site.domain }}{% url registration_activate activation_key %}</p>

<p>This link is good for {{ expiration_days }} days.</p>

<p>For the next 30 days, test-drive your free trial account to see how DataWinners can fit your needs.</p>

<p>Create your online questionnaires and collect an unlimited amount of data using the Internet.
Your free trial account also includes a packet of 100 SMS.
You can send in data via SMS to our International Trial Account Telephone Number:  1-775-237-4679.
For the free trial account, International SMS rates apply.
DataWinners will send automatic confirmation and error messages back in response to your SMS.
</p>

<p>If you need help getting started, check out our <a href='http://www.datawinners.com/faq'>FAQs</a> and other online
    <a href="http://www.datawinners.com/support">support</a>.
</p>

<p>We can also be reach via Email at support@datawinners.com.  We're here to help! !</p>

<p>We'd love to hear from you! You can follow us on <a href="https://twitter.com/#!/datawinners ">Twitter</a>, post on our <a href="http://www.facebook.com/DataWinners">Facebook</a> wall and comment on our
    <a href="http://datawinners.wordpress.com/ ">blog</a>. The blog is a great way to learn about new features and upcoming DataWinners events.
</p>

<p>Thanks again for your support,</p>

<p>Your DataWinners Team</p>

</body>
</html>