{% extends "layout_registration.html" %}
{% load i18n %}
{% block page_title %}{% trans "Activation Confirmation" %}{% endblock %}
{% block section_title %} {% trans "Activation Confirmation" %}{% endblock %}

{% block content %}
<div class="span-18 box">
    <div class="span-9">
{% if account %}

<p class="success-message-box">{% trans "Account successfully activated" %} <a href="{% url auth_login %}">{% trans "Sign in" %}</a></p>

{% else %}

<p class="message-box">{% trans "Account activation failed" %}</p>

{% endif %}

</div>
</div>

{% endblock %}
