<html>
<body>
<p>Bonjour {{ name }},</p>

<p>Merci d’avoir souscrit à un Compte d'Essai DataWinners!</p>

<p>Cliquez sur ce lien pour activer votre compte DataWinners:</p>

<p>http://{{ site.domain }}{% url registration_activate activation_key %}</p>

<p>Ce lien est valide pour {{ expiration_days }} jours.</p>

<p>Testez votre compte d'essai gratuit pendant les 30 prochains jours pour voir dans quelle mesure DataWinners peut
    répondre à vos besoins.</p>

<p>Créez vos questionnaires en ligne et collectez une quantité illimitée de données via Internet.
    Votre compte d'essai gratuit vous donne également droit à un paquet de 100 SMS. Vous pouvez envoyer des données via
    SMS vers notre Numéro de Téléphone International pour Compte d'Essai: 1-775-237-4679. Pour le compte d'essai
    gratuit, les tarifs pour SMS internationaux sont applicables. DataWinners vous enverra en retour une confirmation et
    des messages d'erreur automatiques en réponse à vos SMS.</p>

<p>Si vous avez besoin d'aide pour démarrer, consultez notre <a href='http://www.datawinners.com/fr/support/find-answers/'>Foire Aux
    Questions</a> ainsi que d’autres formes
    <a href="http://www.datawinners.com/fr/support/">d’assistance</a> en ligne.</p>

<p>Nous pouvons aussi être accessible via un e-mail adressé à support@datawinners.com. Nous sommes là pour vous aider!
    !</p>

<p>Nous aimerions avoir de vos nouvelles! Vous pouvez nous voir sur <a href="https://twitter.com/#!/datawinners">Twitter</a>,
    publier sur notre mur <a href="http://www.facebook.com/DataWinners">Facebook</a>, et commenter sur notre
    <a href="http://datawinners.wordpress.com/ ">blog</a>. Le blog est un excellent moyen pour apprendre sur les
    nouvelles fonctionnalités et les événements à venir de DataWinners.</p>

<p>Encore merci pour votre soutien,</p>

<p>Votre Equipe DataWinners</p>

</body>
</html>