{% extends 'layout.html' %}
{% load i18n %}
{% block content %}
    <div class="span-18 box">
        <div class="span-9">
            <h4>Welcome {{ user.get_profile.title }} {{ user.first_name }} {{ user.last_name }}</h4>
            <h4>Organization ID : {{organization.org_id}}</h4>
            <h4>Organization Name : {{organization.name}}</h4>
            <h4>Organization Office Phone : {{organization.office_phone}}</h4>
            <a href="reporter/register">Register Reporter</a>
        </div>
    </div>
{% endblock %}