{% extends 'layout_registration.html' %}
{% block page_title %} Password reset {% endblock %}
{% block section_title %} Password reset {% endblock %}
{% block content %}
    <div>
        <fieldset>
            <form method="post" action=".">
                {% csrf_token %}
                <ul class="span-8 last">

                    <li class="{{ form.email.css_classes  }} form-row-10px">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        {{ form.email.errors }}
                    </li>
                    <li class="span-8">
                        <input type="submit" value="Submit" class="button"/>
                    </li>
                </ul>

            </form>
        </fieldset>
    </div>
{% endblock %}

