{% extends 'layout_registration.html' %}
{% block page_title %}Password Reset Confirm{% endblock %}
{% block section_title %}Password Reset Confirm{% endblock %}
{% block content %}
{% if validlink %}
    <div>
            <fieldset>
                <form id="password_reset_form" action="" method="POST" action="">
                    {% csrf_token %}
                        <ul>
                            <li id="newPassword1" class="{{ form.new_password1.css_classes }} form-row-10px">
                                {{ form.new_password1.label_tag }}
                                {{ form.new_password1 }}
                                {{ form.new_password1.errors }}
                            </li>
                            <li class="{{ form.new_password2.css_classes  }} form-row-10px">
                                {{ form.new_password2.label_tag }}
                                {{ form.new_password2 }}
                                {{ form.new_password2.errors }}
                            </li>
                            <li class="span-8"><input id="passwordResetSubmit" type="submit" value="Submit" class="button"/></li>
                        </ul>
                </form>
            </fieldset>
        </div>

{% else %}

    <div>
        <div>
            <p class="message-box">Password reset failed</p>
        </div>
    </div>

{% endif %}

{% endblock %}

