{% extends 'layout.html' %}

{% block content %}
{% if validlink %}
    <div class="span-12 box push-6">
            <fieldset>
                <legend>Password reset confirm</legend>
                <form id="password_reset_form" action="" method="POST" action="">
                    {% csrf_token %}
                    <div class="span-8 last">
                        <div class="span-8">
                            <div id="newPassword1" class="{{ form.new_password1.css_classes }} form-row-10px">
                                {{ form.new_password1.label_tag }}<br/>
                                {{ form.new_password1 }}
                                {{ form.new_password1.errors }}
                            </div>
                            <div class="{{ form.new_password2.css_classes  }} form-row-10px">
                                {{ form.new_password2.label_tag }}<br/>
                                {{ form.new_password2 }}
                                {{ form.new_password2.errors }}
                            </div>
                            <div class="span-8"><input id="passwordResetSubmit" type="submit" value="Submit" /></div>
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>

{% else %}

    <div class="span-18 box">
        <div class="span-9">
            <p>Password reset failed</p>
        </div>
    </div>

{% endif %}

{% endblock %}

