{% extends 'layout.html' %}

{% block messages %}
    {% if form.errors %}
        <div class=" error span-12 push-6 message-box">
            {{ form.email.errors }}
        </div>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="span-12 box push-6">
        <fieldset>
            <legend>Password reset</legend>
            <form method="post" action=".">
                {% csrf_token %}
                <div class="span-8 last">
                    <div class="span-8">
                        <div class="{{ form.email.css_classes  }} form-row-10px">
                            {{ form.email.label_tag }}<br/>
                            {{ form.email }}
                        </div>
                        <div class="span-8">
                            <input type="submit" value="Submit"/>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
{% endblock %}

