{% extends 'layout.html' %}

{% block content %}
    <div class="span-12 box push-6">
        <fieldset>
            <legend>Password reset</legend>
            <form method="post" action=".">
                {% csrf_token %}
                <div class="span-8 last">
                    <div class="span-8">
                        <div class="{{ form.email.css_classes  }} form-row-10px">
                            {{ form.email.label_tag }}<br/>
                            {{ form.email }}
                            {{ form.email.errors }}
                        </div>
                        <div class="span-8">
                            <input type="submit" value="Submit"/>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
{% endblock %}

