{% extends 'layout_registration.html' %}

{% block page_title %} Registration Confirmation {% endblock %}
{% block section_title %} Registration Confirmation {% endblock %}
{% block content %}
    <div class="span-12 box push-6">
        <fieldset>
                    <div class="span-8 last">
                        <div class="span-8">
                            <div class="form-row-10px">
                            <p>You have successfully registered!!</p>
                            <p>An activation email has been sent to your email address. Please activate before login.</p>
                            </div>
                        </div>
                    </div>
        </fieldset>
    </div>
{% endblock %}