{% extends 'layout.html' %}

{% block page_title %} Registration Confirmation {% endblock %}
{% block content %}
    <div class="span-12 box push-6">
        <fieldset><legend>Registration Confirmation</legend>
                    <div class="span-8 last">
                        <div class="span-8">
                            <div class="{{ form.id.css_classes  }} form-row-10px">
                                Organization Id :
                                {{ organization.id }}
                            </div>

                            <div class="{{ form.password.css_classes  }} form-row-10px">
                                Organization Name :
                                {{ organization.name }}
                            </div>

                            <div class="{{ form.password.css_classes  }} form-row-10px">
                                Point of Contact :
                                {{ user.title }} {{ user.first_name }} {{ user.last_name }}
                            </div>

                            <div class="{{ form.password.css_classes  }} form-row-10px">
                                Phone :
                                {{ organization.office_phone }}
                            </div>

                            <div class="{{ form.password.css_classes  }} form-row-10px">
                                Pricing Plan : 1000 SMS - 100 $
                            </div>

                        </div>
                    </div>
        </fieldset>
        <div class="span-2 push-1 right"><a href="{% url django.contrib.auth.views.login %}">Login</a></div>
    </div>
{% endblock %}