{% extends 'layout_registration.html' %}

{% block page_title %} Register {% endblock %}
{% block section_title %} Signup to start using Datawinners Now {% endblock %}


{% block content %}
    <div class="span-18 box">
        <fieldset>
           
             <form id="registration_form" action="" method="POST">
                    {% csrf_token %}
                    <div class="form-5px">
                        <ul class="organization">
                            <li>
                                <h3 class="title">Your Organization<br/></h3>
                            </li>
                            <li class="{{ form.organization_name.css_classes }} form-row-10px">
                                {{ form.organization_name.label_tag }}
                                {{ form.organization_name }}
                                <div>
                                    {{ form.organization_name.errors }}
                                </div>
                            </li>
                            <li class="{{ form.organization_sector.css_classes  }} form-row-10px">
                                {{ form.organization_sector.label_tag }}
                                {{ form.organization_sector }}
                                <div>
                                {{ form.organization_sector.errors }}
                                </div>
                            </li>
                            <li class="{{ form.organization_addressline1.css_classes  }} form-row-10px">
                                {{ form.organization_addressline1.label_tag }}
                                {{ form.organization_addressline1 }}
                                <div>
                                {{ form.organization_addressline1.errors }}
                                </div>
                            </li>
                            <li class="{{ form.organization_addressline2.css_classes  }} form-row-10px">
                                {{ form.organization_addressline2.label_tag }}
                                {{ form.organization_addressline2 }}
                                <div>
                                {{ form.organization_addressline2.errors }}
                                </div>
                            </li>
                            <li class="{{ form.organization_city.css_classes  }} form-row-10px">
                                {{ form.organization_city.label_tag }}
                                {{ form.organization_city }}
                                <div>
                                {{ form.organization_city.errors }}
                                </div>
                            </li>
                            <li class="{{ form.organization_state.css_classes  }} form-row-10px">
                                {{ form.organization_state.label_tag }}
                                {{ form.organization_state }}
                                <div>
                                {{ form.organization_state.errors }}
                                </div>
                            </li>
                            <li class="{{ form.organization_country.css_classes  }} form-row-10px">
                                {{ form.organization_country.label_tag }}
                                {{ form.organization_country }}
                                <div>
                                {{ form.organization_country.errors }}
                                </div>
                            </li>
                            <li class="{{ form.organization_zipcode.css_classes  }} form-row-10px">
                                {{ form.organization_zipcode.label_tag }}
                                {{ form.organization_zipcode }}
                                <div>
                                {{ form.organization_zipcode.errors }}
                                </div>
                            </li>
                            <li class="{{ form.organization_office_phone.css_classes  }} form-row-10px">
                                {{ form.organization_office_phone.label_tag }}
                                {{ form.organization_office_phone }}
                                <div>
                                {{ form.organization_office_phone.errors }}
                                </div>
                            </li>
                            <li class="{{ form.organization_website.css_classes  }} form-row-10px">
                                {{ form.organization_website.label_tag }}
                                {{ form.organization_website }}
                                <div>
                                {{ form.organization_website.errors }}
                                </div>
                            </li>
                        </ul>
                        <ul class="administrative">
                            <li>
                                <h3 class="title">Point of Contact / Account Administrator</h3>
                            </li>
                             <li class="{{ form.title.css_classes  }} form-row-10px">
                                {{ form.title.label_tag }}
                                {{ form.title }}
                                <div>
                                 {{ form.title.errors }}
                                </div>
                             </li>
                            <li class="{{ form.first_name.css_classes  }} form-row-10px">
                                {{ form.first_name.label_tag }}
                                {{ form.first_name }}
                                <div>
                                {{ form.first_name.errors }}
                                </div>
                            </li>

                            <li class="{{ form.last_name.css_classes  }} form-row-10px">
                                {{ form.last_name.label_tag }}
                                {{ form.last_name }}
                                <div>
                                {{ form.last_name.errors }}
                                </div>
                            </li>
                            <li class="{{ form.email.css_classes  }} form-row-10px">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                                <div>
                                {{ form.email.errors }}
                                </div>
                            </li>
                            <li class="{{ form.password1.css_classes  }} form-row-10px">
                                {{ form.password1.label_tag }}
                                {{ form.password1 }}
                                <div>
                                {{ form.password1.errors }}
                                </div>
                            </li>
                            <li class="{{ form.password2.css_classes  }} form-row-10px">
                                {{ form.password2.label_tag }}
                                {{ form.password2 }}
                                <div>
                                {{ form.password2.errors }}
                                </div>
                            </li>
                            <li class="margin_top_20">
                                <input type="submit" value="Register" class="button" />
                                <div class="span-8 last">Already registered? <a href="{% url django.contrib.auth.views.login %}">Login here!</a></div>
                            </li>
                        </ul>
                    </div>
             </form>
        </fieldset>
    </div>
{% endblock %}