{% extends 'layout_registration.html' %}

{% block page_title %} Register {% endblock %}
{% block section_title %} Sign Up To Start Using DataWinners Now {% endblock %}


{% block content %}
    <div class="span-18 box">
        <fieldset>
           
             <form id="registration_form" action="" method="POST">
                    {% csrf_token %}
                    <div class="form-5px">
                        <ul class="organization">
                            <li>
                                <h3 class="highlighted_title">Your Organization<br/></h3>
                            </li>
                            <li class="{{ form.organization_name.css_classes }} form-row-10px">
                                {{ form.organization_name.label_tag }}
                                {{ form.organization_name }}

                                    {{ form.organization_name.errors }}

                            </li>
                            <li class="{{ form.organization_sector.css_classes  }} form-row-10px">
                                {{ form.organization_sector.label_tag }}
                                {{ form.organization_sector }}

                                {{ form.organization_sector.errors }}

                            </li>
                            <li class="{{ form.organization_address.css_classes  }} form-row-10px">
                                {{ form.organization_address.label_tag }}
                                {{ form.organization_address }}

                                {{ form.organization_address.errors }}

                            </li>
                            <li class="{{ form.organization_city.css_classes  }} form-row-10px">
                                {{ form.organization_city.label_tag }}
                                {{ form.organization_city }}

                                {{ form.organization_city.errors }}

                            </li>
                            <li class="{{ form.organization_state.css_classes  }} form-row-10px">
                                {{ form.organization_state.label_tag }}
                                {{ form.organization_state }}

                                {{ form.organization_state.errors }}

                            </li>
                            <li class="{{ form.organization_zipcode.css_classes  }} form-row-10px">
                                {{ form.organization_zipcode.label_tag }}
                                {{ form.organization_zipcode }}

                                {{ form.organization_zipcode.errors }}

                            </li>
                            <li class="{{ form.organization_country.css_classes  }} form-row-10px">
                                {{ form.organization_country.label_tag }}
                                {{ form.organization_country }}

                                {{ form.organization_country.errors }}

                            </li>
                            <li class="{{ form.organization_office_phone.css_classes  }} form-row-10px">
                                {{ form.organization_office_phone.label_tag }}
                                {{ form.organization_office_phone }}

                                {{ form.organization_office_phone.errors }}

                            </li>
                            <li class="{{ form.organization_website.css_classes  }} form-row-10px">
                                {{ form.organization_website.label_tag }}
                                {{ form.organization_website }}

                                {{ form.organization_website.errors }}

                            </li>
                        </ul>
                        <ul class="administrative">
                            <li>
                                <h3 class="highlighted_title">Point of Contact / Account Administrator</h3>
                            </li>
                             <li class="{{ form.title.css_classes  }} form-row-10px">
                                {{ form.title.label_tag }}
                                {{ form.title }}

                                 {{ form.title.errors }}

                             </li>
                            <li class="{{ form.first_name.css_classes  }} form-row-10px">
                                {{ form.first_name.label_tag }}
                                {{ form.first_name }}

                                {{ form.first_name.errors }}

                            </li>

                            <li class="{{ form.last_name.css_classes  }} form-row-10px">
                                {{ form.last_name.label_tag }}
                                {{ form.last_name }}

                                {{ form.last_name.errors }}

                            </li>
                            <li class="{{ form.email.css_classes  }} form-row-10px">
                                {{ form.email.label_tag }}
                                {{ form.email }}

                                {{ form.email.errors }}

                            </li>
                            <li class="{{ form.office_phone.css_classes  }} form-row-10px">
                                {{ form.office_phone.label_tag }}
                                {{ form.office_phone }}

                                {{ form.office_phone.errors }}
                            </li>
                            <li class="{{ form.mobile_phone.css_classes  }} form-row-10px">
                                {{ form.mobile_phone.label_tag }}
                                {{ form.mobile_phone }}

                                {{ form.mobile_phone.errors }}
                            </li>
                            <li class="{{ form.skype.css_classes  }} form-row-10px">
                                {{ form.skype.label_tag }}
                                {{ form.skype }}

                                {{ form.skype.errors }}
                            </li>
                            <li class="{{ form.password1.css_classes  }} form-row-10px">
                                {{ form.password1.label_tag }}
                                {{ form.password1 }}

                                {{ form.password1.errors }}

                            </li>
                            <li class="{{ form.password2.css_classes  }} form-row-10px">
                                {{ form.password2.label_tag }}
                                {{ form.password2 }}

                                {{ form.password2.errors }}

                            </li>
                            <li class="margin_top_20">
                                <input type="submit" value="Sign Up" class="button" />
                                <div class="grid_7 margin_top_10 last">Already registered? <a href="{% url django.contrib.auth.views.login %}">Sign in here</a></div>
                            </li>
                        </ul>
                    </div>
             </form>
        </fieldset>
    </div>
{% endblock %}