{% extends 'layout_registration.html' %}
{% load i18n %}
{% block page_title %}{% trans "Trial Ac" %}{% endblock %}
{% load i18n %}

{% block content %}
    <div class="expired-message-box">
        <h3>Your 30 Day Test Drive is expired</h3>

        <p>Thank you for trying out DataWinners</p>

        <p>Sign up for a monthly subscription to continue using DataWinners</p>

        <div class="bottom_navigation">
            <a href="/en/pricing">{% trans "Learn more" %}</a>
            <a class="subscribe_now" href="/register/">Subscribe Now</a>
        </div>
    </div>
{% endblock %}
