.ol-popup {
    display: none;
    position: absolute;
    background-color: white;
    /*padding: 15px 25px 15px 15px;*/
    padding: 10px 18px 10px 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    border-radius: 8px;
    white-space: nowrap;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-content {
    /*min-width: 80px;*/
    /*max-height: 400px;*/
    width: 200px;
    height: 160px;
    overflow-x: auto;
}

.ol-popup-closer {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 150%;
    padding: 0 4px;
    color: gray;
    text-decoration: none !important;
}

.ol-popup-closer:after {
    content: "\2716";
}

.ol-popup div.infoResult {
    min-width: 130px;
}

.ol-popup div.infoResult p {
    padding: 0.1em;
    margin: 0;
}

.ol-popup-content h3 {
    margin: 0.25em 0;
}

.ol-popup.marker {
    margin-bottom: 30px;
}

.ol-popup div .p_head{
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.ol-popup div .p_short_code{
    font-weight: bold;
    padding: 2px 4px;
    font-size: 10px;
    color: #ffffff;
    background-color: #818A91;
    border-radius: 4px;
    width: auto;
    margin-top: 2px;
}

.ol-popup div .p_geo_code{
    font-weight: bold;
    padding: 2px 4px;
    font-size: 10px;
    color: #ffffff;
    background-color: #818A91;
    border-radius: 4px;
    width: auto;
    margin-top: 2px;
}

.ol-popup div hr{
    height: 2px;
    border: 0;
    background: #8F9A9E;
    margin-bottom: 5px;
}

.ol-popup div p{
    margin-top: 2px;
}
