<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>Datawinner mailing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width">
</head>
<body style="margin:0px; padding:0px; -webkit-text-size-adjust:none;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0"  bgcolor="#d0e2f0";>
    <tbody>
        <tr>
            <td  align="center">
                <br /><br />
                <table  cellpadding="0" width="940" cellspacing="0" border="0" style="border-width: 1px;border-color: #DDDDDD; border-style: solid;">
                        <tbody>
                            <tr>
                                <td  align="left" bgcolor="#333333" width="100%" height="46" colspan="2" style="color: #FFFFFF;font-family: Helvetica;font-size: 20px;">
                                    &nbsp;&nbsp;
                                        <span  style="border: none; text-decoration: none; font-family: Helvetica; color: #fff; font-size: 18px;">
                                            <span style="font-size: 22px;">
                                            <b>Data</b>Winners
                                            </span >
                                             | 50 SMS Submission Limit Almost Reached: Upgrade to Continue Collecting Data via SMS!
                                        </span>
                                 </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" valign="top" width="620" style=" font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;">
                                    <table>
                                        <tr>
                                            <td width="10"></td>
                                            <td style="text-align: justify; color: #333333; ">
                                                <p>Hello {{ username }},</p>
                                                <p>
                                                    You have sent in 40 SMS Submissions and have almost reached the 50 SMS Submission Limit for your DataWinners Basic Account.
                                                </p>

                                                <p><strong>Go Pro to Collect Data via SMS</strong><br />
                                                    <a href="http://{{ site.domain }}{% url upgrade_from_mail token %}" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">Upgrade your account</span></a> to continue collecting data via SMS with DataWinners.<br />
                                                    For a full features comparison <a href="http://{{ site.domain }}/en/pricing" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">visit our Pricing page</span></a>. Upgrade anytime by signing into your DataWinners account and clicking “Subscribe Now”.
                                                </p>

                                                <p><strong>You Can Still Collect Data via Smartphone and Web</strong><br />
                                                    With the DataWinners Basic Account, you have up to 1000 free Submissions including 50 SMS Submissions.<br />
If you have not yet reached your limit of 1000 Submissions, you may continue to receive Submissions via Smartphone and Web but will be unable to receive Submissions via SMS.

                                                </p>
                                                <p>
                                                    <table>
                                                        <tr>
                                                            <td colspan="2">
                                                                <strong>Export Your Data</strong><br />
                                                    If you do not plan to upgrade your account, you can export your collected data by following these steps:
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="5"></td>
                                                            <td>
                                                                1. Log into your DataWinners account at www.datawinners.com
                                                                <br />2. Choose one of your DataWinners questionnaires
                                                                <br />3. Go to the "Data" tab
                                                                <br />4. Go to the "Submissions Log" tab
                                                                <br />5. Choose “Export” in the top-right corner
                                                                <br />6. Repeat this process for each of your data collection questionnaires<br />

                                                            </td>
                                                        </tr>
                                                    </table><br />
                                                    If you have any questions, please don’t hesitate to contact us at
                                                    <a href="mailto:support@datawinners.com" style="text-decoration: none;color: #4379A2;font-weight: normal;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">support@datawinners.com</span></a>
                                                or chat with us on Skype: <a href="http://{{ site.domain }}{% url open_skype %}" style="border:none;text-decoration: none;color: #4379A2;font-weight: normal;"><span style="border:none;text-decoration: none;color: #4379A2;font-weight: normal;">datawinners</span></a>
                                                </p>
                                                <p>
                                                Your DataWinners Team<br />
                                                <a href="http://www.datawinners.com" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    www.datawinners.com
                                                    </span>
                                                </a>
                                                </p><br />

                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                 </td>
                                <!--  beginning of right content -->
                                <td width="240" bgcolor="#ffea7d" valign="top" style="color: #333333; font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;border: 1px solid #f4be36;">
                                    <table style="border-bottom: 1px solid #f4be36;" width="100%">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p><strong><span style="font-size: 12px;">How to Send Data via Our Android App?</span></strong><br /><br />
                                                <a href="http://youtu.be/iDTwwBjarqs" style="border:none;text-decoration: none;">
                                                    <img  title="Click to view video on Youtube" style="border:none;text-decoration: none;" src="http://www.mandrosoa.org/images/newsletter/DW_n_SP.png" />
                                                </a><br />
                                                <a href="http://youtu.be/iDTwwBjarqs" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">Watch our Video</span></a><br />
                                                <a href="http://datawinners.wordpress.com/2012/07/09/new-datawinners-android-app/" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">Learn more</span></a><br />
                                                <a href="https://play.google.com/store/apps/details?id=org.hni.datawinners.android.collect&hl=en" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">Download App on Google Play</span></a><br />
                                                </p>

                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>

                                    <table style="border-bottom: 1px solid #f4be36;" width="100%">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p><strong><span style="font-size: 12px;"> Quick Start Services</span></strong><br />
                                                Need extra help with an ambitious questionnaire? <br />
                                                We offer
                                                    <a href="http://{{ site.domain }}/en/support/quick-start-services/" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        Quick Start Services
                                                        </span>
                                                    </a>
                                                </p>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>

                                    <table  width="100%">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p><strong><span style="font-size: 12px;"> Our Success Stories</span></strong><br />
                                                Find out how others have benefited from DataWinners.<br />

                                                    <a href="http://{{ site.domain }}/en/success-stories/" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        See Our Success Stories
                                                        </span>
                                                    </a>
                                                </p>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                 {% include 'email/basicaccount/email_footer_en.html' %}
                            </tr>
                        </tbody>
                </table>
                <br /><br />
            </td>
        </tr>
    </tbody>
    </table>
</body>
</html>
