<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>Datawinner mailing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width">
</head>
<body style="margin:0px; padding:0px; -webkit-text-size-adjust:none;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0"  bgcolor="#d0e2f0";>
    <tbody>
        <tr>
            <td  align="center">
                <br /><br />
                <table  cellpadding="0" width="940" cellspacing="0" border="0" style="border-width: 1px;border-color: #DDDDDD; border-style: solid;">
                        <tbody>                            
                            <tr>
                                <td  align="left" bgcolor="#333333" width="100%" height="46" colspan="2" style="color: #FFFFFF;font-family: Helvetica;font-size: 20px;">
                                    &nbsp;&nbsp;
                                        <span  style="border: none; text-decoration: none; font-family: Helvetica; color: #fff; ">
                                            <span style="font-size: 22px;">
                                            <b>Data</b>Winners    
                                            </span>
                                             | Share Your Experience!
                                        </span>
                                 </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" valign="top" width="620" style=" font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;">
                                    <table>
                                        <tr>
                                            <td width="10"></td>
                                            <td style="text-align: justify; color: #333333; ">
                                                <p>Hello {{ username }},</p>
                                                <p>
                                                    How are things going? We want to hear your story! Drop us a line at 
                                                    <a href="mailto:info@datawinners.com" style="text-decoration: none;color: #4379A2;font-weight: normal;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">info@datawinners.com</span></a>
                                                     about your experience
                                                    and how you’re modernizing your Data Collection questionnaires with DataWinners.
                                                </p>
                                                
                                                <p><strong>Go Pro</strong><br />
                                                    <a href="http://{{ site.domain }}{% url upgrade_from_mail token %}" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">Upgrade</span></a> to a Pro Account before your free Basic Account expires next month. <br />
                                                    <a href="http://{{ site.domain }}/en/pricing" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">Check out our Pricing page</span></a> for more information about DataWinners Pro options. Upgrade anytime by signing into your DataWinners account and clicking “Subscribe Now”.
                                                </p>
                                                
                                                
                                                <p>
                                                    Do you have a question about the DataWinners service? Don’t hesitate to get in touch!
                                                </p>
                                                <p>
                                                Your DataWinners Team<br />                                                
                                                <a href="http://www.datawinners.com" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    www.datawinners.com
                                                    </span>
                                                </a>
                                                </p><br />
                                             
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                 </td>
                                <!--  beginning of right content -->
                                <td width="240" bgcolor="#ffea7d" valign="top" style="color: #333333; font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;border: 1px solid #f4be36;">
                                    <table style="border-bottom: 1px solid #f4be36;" width="100%">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p><strong><span style="font-size: 12px;"> Quick Start Services</span></strong><br />
                                                Need extra help with an ambitious questionnaire? <br />
                                                We offer 
                                                    <a href="http://{{ site.domain }}/en/support/quick-start-services/" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        Quick Start Services
                                                        </span>
                                                    </a>
                                                </p>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                    
                                    <table style="border-bottom: 1px solid #f4be36;" width="100%">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p><strong><span style="font-size: 12px;"> Do you have a data collection questionnaire that requires a DataWinners custom solution?  We can help you!<br />
                                               
                                                    <a href="http://{{ site.domain }}/en/what-is-datawinners/customized-reports/" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        » Read more
                                                        </span>
                                                    </a>
                                                </p>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                    
                                    <table width="100%">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p><strong><span style="font-size: 12px;"> Our Success Stories</span></strong><br />
                                                Find out how others have benefited from DataWinners.<br />
                                               
                                                    <a href="http://{{ site.domain }}/en/success-stories/" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        See Our Success Stories 
                                                        </span>
                                                    </a>
                                                </p>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                    
                                </td>
                            </tr>
                            <tr>
                                 {% include 'email/basicaccount/email_footer_en.html' %}
                            </tr>
                        </tbody>
                </table>
                <br /><br />
            </td>
        </tr>
    </tbody>
    </table>
</body>
</html>
