 <td colspan="2" height="210" valign="top" width="100%" bgcolor="#123955" style="color: #b9cedc;font-size: 12px;font-family: Helvetica;">
                                    <br />
                                    <br />
                                    <table>
                                        <tr>
                                            <td width="10"></td>
                                            <td valign="top" width="250" align="left">

						<a href="http://{{ site.domain }}" style=" font-family: Helvetica; color: #fff;border: none; text-decoration: none;">
                                                    <span  style="border: none; text-decoration: none; font-family: Helvetica; color: #fff; ">
                                                        <span style="font-size: 20px;">
                                                        <b>Data</b>Winners
                                                        </span>
                                                    </span>
                                               </a>
                                                <br />
                                                    <i style="font-size: 11px;">Developed by
                                                        <a href="http://{{ site.domain }}/en/about-us" style="color: #AFDD88;text-decoration: none;">
                                                            <span style="color: #AFDD88;text-decoration: none;">
                                                            Human Network International
                                                            </span>
                                                        </a></i>
                                                <br />
                                                <p style=" ">
                                                    HNI provides partners with the opportunity to embrace, reshape and maximize the use of
                                                    information and communication technology in productive and sustainable ways.
                                                     <br>
                                                         <i>
                                                             <a href="http://{{ site.domain }}/en/about-us" style="color: #AFDD88;text-decoration: none;">
                                                                <span style="color: #AFDD88;text-decoration: none;">
                                                                 Learn more about us »
                                                                </span>
                                                             </a>
                                                         </i>
                                                </p>
                                            </td>
                                            <td width="10" style="border-right: 1px solid gray;"></td>
                                            <td valign="top"  align="left" width="200">
                                                <ul style="list-style-type: none;margin: 0;">
                                                    <li style="line-height: 23px;"><a href="http://{{ site.domain }}/en/what-is-datawinners" style="color: #AFDD88;text-decoration: none;"><span style="color: #AFDD88;text-decoration: none;">What is DataWinners</span></a></li>
                                                    <li style="line-height: 23px;"><a href="http://{{ site.domain }}/en/success-stories" style="color: #AFDD88;text-decoration: none;"><span style="color: #AFDD88;text-decoration: none;">Success Stories</span></a></li>
                                                    <li style="line-height: 23px;"><a href="http://{{ site.domain }}/en/pricing" style="color: #AFDD88;text-decoration: none;"><span style="color: #AFDD88;text-decoration: none;">Pricing</span></a></li>
                                                    <li style="line-height: 23px;"><a href="http://{{ site.domain }}/en/support" style="color: #AFDD88;text-decoration: none;"><span style="color: #AFDD88;text-decoration: none;">Support</span></a></li>
                                                    <li style="line-height: 23px;"><a href="http://{{ site.domain }}/en/about-us" style="color: #AFDD88;text-decoration: none;"><span style="color: #AFDD88;text-decoration: none;">About Us</span></a></li>
                                                    <li style="line-height: 23px;"><a href="http://{{ site.domain }}/en/terms-and-conditions" style="color: #AFDD88;text-decoration: none;"><span style="color: #AFDD88;text-decoration: none;">Terms and Conditions</span></a></li>
                                                    <li style="line-height: 23px;"><a href="http://{{ site.domain }}/en/privacy-policy/" style="color: #AFDD88;text-decoration: none;"><span style="color: #AFDD88;text-decoration: none;">Privacy Policy</span></a></li>
                                                </ul>
                                            </td>
                                            <td width="10" style="border-right: 1px solid gray;"></td>
                                            <td width="10"></td>
                                            <td valign="top" align="left">
                                                <table width="100%">
                                                    <tr>
                                                        <td width="10"></td>
                                                        <td  valign="top" >
                                                            <strong>Like and Follow Us </strong><br>
								<table height="10"></table>
                                                                <table>
                                                                    <tr>
                                                                        <td style="vertical-align: central;">
                                                                            <a href="http://datawinners.wordpress.com/" style="color: #AFDD88;text-decoration: none;">
                                                                                <img src="http://www.mandrosoa.org/images/newsletter/blog-icon-box-red-24.png" style="border:none;" width="20"/>
                                                                            </a>
                                                                        </td>
                                                                        <td>
                                                                            <a href="http://datawinners.wordpress.com/" style="color: #AFDD88;text-decoration: none;">
                                                                                <span style="color: #AFDD88;text-decoration: none;">Blog</span>
                                                                            </a>
                                                                        </td>
                                                                        <td width="10"></td>
                                                                        <td style="vertical-align: central;">
                                                                            <a href="https://www.facebook.com/DataWinners" style="color: #AFDD88;text-decoration: none;">
                                                                                <img src="http://www.mandrosoa.org/images/newsletter/facebook-blue.png" style="border:none;" width="20"/>
                                                                            </a>
                                                                        </td>
                                                                        <td>
                                                                            <a href="https://www.facebook.com/DataWinners" style="color: #AFDD88;text-decoration: none;">
                                                                                <span style="color: #AFDD88;text-decoration: none;">Facebook</span>
                                                                            </a>
                                                                        </td>
                                                                        <td width="10"></td>
                                                                        <td style="vertical-align: central;">
                                                                            <a href="https://twitter.com/datawinners" style="color: #AFDD88;text-decoration: none;">
                                                                                <img src="http://www.mandrosoa.org/images/newsletter/twitter-blue.png" style="border:none;" width="20"/>
                                                                            </a>
                                                                        </td>
                                                                        <td>
                                                                            <a href="https://twitter.com/datawinners" style="color: #AFDD88;text-decoration: none;">
                                                                                <span style="color: #AFDD88;text-decoration: none;">Twitter</span>
                                                                            </a>
                                                                        </td>
                                                                        <td width="10"></td>
                                                                        <td style="vertical-align: central;">
<a href="http://{{ site.domain }}{% url open_skype %}" style="border:none;text-decoration: none;">
                                                                                <img  style="border:none;text-decoration: none;" src="http://www.mandrosoa.org/images/newsletter/skype.png" style="border:none;" width="20"/></a>
                                                                        </td>
                                                                        <td>
									<a href="http://{{ site.domain }}{% url open_skype %}" style="border:none;text-decoration: none;">
                                                                                <span style="color: #AFDD88;text-decoration: none;">datawinners</span>
									</a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            <br />
                                                            <strong>Our Partners &amp; Clients</strong><br>
<table height="10"></table>
                                                            <img width="67" height="24" alt="Airtel" src="https://www.datawinners.com/media/images/logo_footer_airtel.png">
                                                            <img width="119" height="24" alt="Thoughtworks" src="https://www.datawinners.com/media/images/logo_footer_thoughtworks.png">
                                                            <img width="72" height="26" alt="Modi research group" src="https://www.datawinners.com/media/images/logo_footer_modi.png">
                                                            <img width="87" height="28" alt="Mule" src="https://www.datawinners.com/media/images/logo_footer_mule.png"><br><br>
                                                            <span >Learn more about our
                                                                <a href="http://{{ site.domain }}/en/about-us/partners" style="color: #AFDD88;text-decoration: none;"><span style="color: #AFDD88;text-decoration: none;">partners</span></a>
                                                                &amp;
                                                                <a href="http://{{ site.domain }}/en/about-us/clients" style="color: #AFDD88;text-decoration: none;">
                                                                    <span style="color: #AFDD88;text-decoration: none;">clients</span></a>
                                                            »</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>