<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>Datawinner mailing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width">
</head>
<body style="margin:0px; padding:0px; -webkit-text-size-adjust:none;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0"  bgcolor="#d0e2f0";>
    <tbody>
        <tr>
            <td  align="center">
                <br /><br />
                <table  cellpadding="0" width="940" cellspacing="0" border="0" style="border-width: 1px;border-color: #DDDDDD; border-style: solid;">
                        <tbody>                            
                            <tr>
                                <td  align="left" bgcolor="#333333" width="100%" height="46" colspan="2" style="color: #FFFFFF;font-family: Helvetica;font-size: 20px;">
                                    &nbsp;&nbsp;
                                        <span  style="border: none; text-decoration: none; font-family: Helvetica; color: #fff; ">
                                            <span style="font-size: 22px;">
                                            <b>Data</b>Winners    
                                            </span>
                                             | Send Us Your Story!
                                        </span>
                                 </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" valign="top" width="620" style=" font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;">
                                    <table>
                                        <tr>
                                            <td width="10"></td>
                                            <td style="text-align: justify; color: #333333; ">
                                                <p>Hello {{ username }},</p>
                                                <p>
                                                    We hope you are getting the most from your free DataWinners Basic Account! 
                                                </p>
                                                <p><strong>Go Pro</strong><br />
                                                Want to send automated reminders to your Data Senders?  
                                                <a href="http://{{ site.domain }}{% url upgrade_from_mail token %}" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">Upgrade</span></a>
                                                to a Pro Account for this and other advanced features!<br />
                                                For a side-by-side comparison of DataWinners account choices visit our 
                                                <a href="http://{{ site.domain }}/en/pricing" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">Pricing page</span></a>.
                                                Upgrade anytime by signing into your DataWinners account and clicking “Subscribe Now”.  
                                                </p>
                                                <p>
                                                How have you modernized your data collection projects over the past few months?
                                                We want to hear from you! Send your story to <a href="mailto:info@datawinners.com" style="text-decoration: none;color: #4379A2;font-weight: normal;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">info@datawinners.com</span></a>. 
                                                </p>
                                                <p>
                                                Keep up the great work!<br /><br /> 
                                                Your DataWinners Team <br />
                                                <a href="http://www.datawinners.com" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    www.datawinners.com
                                                    </span>
                                                </a>
                                                </p><br />
                                             
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                 </td>
                                <!--  beginning of right content -->
                                <td width="240" bgcolor="#ffea7d" valign="top" style="color: #333333; font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;border: 1px solid #f4be36;">
                                    <table style="border-bottom: 1px solid #f4be36;" width="100%">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p ><strong><span style="font-size: 12px;"> Customized Reports & Visualizations</span></strong><br />
                                                Do you need dashboards or personalized reports?  We can help!<br />
                                               
                                                    <a href="http://{{ site.domain }}/en/what-is-datawinners/customized-reports/" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        » Read more
                                                        </span>
                                                    </a>
                                                </p>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                    
                                     <table style="border-bottom: 1px solid #f4be36;" width="100%">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p><strong><span style="font-size: 12px;"> Our Success Stories</span></strong><br />
                                                Find out how others have benefited from DataWinners.<br />
                                               
                                                    <a href="http://{{ site.domain }}/en/success-stories/" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        » See Our Success Stories
                                                        </span>
                                                    </a>
                                                </p>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                    <table style="border-bottom: 1px solid #f4be36;" width="100%">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p><strong><span style="font-size: 12px;"> Stay in Touch</span></strong><br />
                                                For DataWinners updates and partner spotlights,
                                                follow us on <a href="https://twitter.com/datawinners" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">Twitter</span></a>,
                                                post on our <a href="https://www.facebook.com/DataWinners" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">Facebook</span></a>  wall and 
                                                subscribe to our <a href="http://datawinners.wordpress.com/" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">blog</span></a> .<br />
                                                </p>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                             <table >
                                        <tr>
                                            <td width="10"></td>
                                            <td  align="left">
                                                <p><strong><span style="font-size: 12px;">Need help?</span></strong><br />
                                                <a href="http://{{ site.domain }}/en/what-is-datawinners/how-it-works/" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">How It Works </span></a><br />
                                                <a href="http://{{ site.domain }}/en/support/get-started/" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">Guides & Tutorials</span></a><br />
                                                <a href="http://{{ site.domain }}/en/support/find-answers/" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">Find Answers</span></a><br />
                                                <a href="http://{{ site.domain }}/en/support/ask-us/" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">Ask Us</span></a><br /><br />
                                                    Or send us an email at <br/>
                                                    info@datawinners.com or chat with us on Skype
                                                    <a href="http://{{ site.domain }}{% url open_skype %}" style="border:none;text-decoration: none;">
                                                                                <span style="color: #4379A2;text-decoration: none;">datawinners</span>
									                </a><br/>
                                                    We're here to help!<br />
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                 {% include 'email/basicaccount/email_footer_en.html' %}
                            </tr>
                        </tbody>
                </table>
                <br /><br />
            </td>
        </tr>
    </tbody>
    </table>
</body>
</html>
