<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>Datawinner mailing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width">
</head>
<body style="margin:0px; padding:0px; -webkit-text-size-adjust:none;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0"  bgcolor="#d0e2f0";>
    <tbody>
        <tr>
            <td  align="center">
                <br /><br />
                <table  cellpadding="0" width="940" cellspacing="0" border="0" style="border-width: 1px;border-color: #DDDDDD; border-style: solid;">
                        <tbody>
                            <tr>
                                <td  align="left" bgcolor="#333333" width="100%" height="46" colspan="2" style="color: #FFFFFF;font-family: Helvetica;font-size: 20px;">
                                    &nbsp;&nbsp;
                                        <span  style="border: none; text-decoration: none; font-family: Helvetica; color: #fff; font-size: 18px;">
                                            <span style="font-size: 22px;">
                                            <b>Data</b>Winners
                                            </span>
                                             | Votre abonnement gratuit à DataWinners sera expiré demain - Télécharger vos données!
                                        </span>
                                 </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" valign="top" width="620" style=" font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;">
                                    <table>
                                        <tr>
                                            <td width="10"></td>
                                            <td style="text-align: justify; color: #333333; ">
                                                <p>Bonjour {{ username }},</p>
                                                <p>
                                                    Votre abonnement gratuit à DataWinners Compte Basique sera expiré demain.<br/>
                                                    Si vous ne mettez pas à jour aujourd'hui, vous perdrez l'accès à toutes les données que vous avez recueillies avec DataWinners.
                                                </p>

                                                <p><strong>Devenir Pro</strong><br />
                                                    <a href="https://www.datawinners.com/upgrade/" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">Mettre à jour votre compte </span></a>
                                                     si vous voulez conserver un accès complet à DataWinners et les données que vous avez recueillies au cours de l'année passée.<br />
                                                    Pour faire une comparaison complete des fonctionnalités <a href="https://www.datawinners.com/fr/pricing" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">visitez notre page Tarification</span></a>.
                                                    Lorsque vous êtes prêt, connectez-vous sur votre compte DataWinners et cliquez sur «S'abonner maintenant».<br />
                                                </p>


                                                <p>
                                                    <table>
                                                        <tr>
                                                            <td colspan="2">
                                                                <strong>Exporter Vos Données</strong><br />
                                                                Si vous n'avez pas l'intention de mettre à niveau votre compte, vous pouvez exporter vos données collectées en suivant ces étapes:
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="5"></td>
                                                            <td>1. Connectez-vous à votre compte DataWinners dans www.datawinners.com
                                                                <br />2. Choisissez un de vos projets DataWinners
                                                                <br />3. Allez à l'onglet "Données"
                                                                <br />4. Allez à l'onglet “Journal de Soumission"
                                                                <br />5. Choisissez "Exporter" dans le coin supérieur droit
                                                                <br />6. Répétez cette procédure pour chacun de vos projets de collecte de données
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <br />
                                                    Si vous avez des questions ou besoin d'aide, n'hésitez pas à nous contacter au
                                                    <a href="mailto:support@datawinners.com" style="text-decoration: none;color: #4379A2;font-weight: normal;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">support@datawinners.com</span></a>
                                                ou sur Skype: <a href="http://{{ current_site }}{% url open_skype %}" style="border:none;text-decoration: none;color: #4379A2;font-weight: normal;"><span style="border:none;text-decoration: none;color: #4379A2;font-weight: normal;">datawinners</span></a>
                                                </p>
                                                <p>Votre Equipe Datawinners<br />
                                                <a href="http://www.datawinners.com" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    www.datawinners.com
                                                    </span>
                                                </a>
                                                </p><br />

                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                 </td>
                                <!--  beginning of right content -->
                                <td width="240" bgcolor="#ffea7d" valign="top" style="color: #333333; font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;border: 1px solid #f4be36;">
                                    <table style="border-bottom: 1px solid #f4be36;" width="100%">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p ><strong><span style="font-size: 12px;"> Services de Démarrage rapide</span></strong><br />
                                                Besoin d’aide supplémentaire avec un projet ambitieux?  <br />
                                                On vous offre des
                                                    <a href="https://www.datawinners.com/fr/support/quick-start-services/" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        Services de Démarrage rapide
                                                        </span>
                                                    </a>
                                                </p>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>

                                    <table style="border-bottom: 1px solid #f4be36;" width="100%">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p ><strong><span style="font-size: 12px;"> Rapports et Visualisations personnalisés</span></strong><br />
                                                Avez-vous besoin de tableaux de bord ou des rapports personnalisés?   Nous pouvons vous aider!<br />

                                                    <a href="https://www.datawinners.com/fr/what-is-datawinners/customized-reports/" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        Lire plus
                                                        </span>
                                                    </a>
                                                </p>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>



                                    <table width="100%">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p><strong><span style="font-size: 12px;"> Nos réussites</span></strong><br />
                                               Découvrez comment les autres ont bénéficié de DataWinners.<br />

                                                    <a href="https://www.datawinners.com/fr/success-stories/" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        Voir nos réussites
                                                        </span>
                                                    </a>
                                                </p>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" height="210" valign="top" width="100%" bgcolor="#123955" style="color: #b9cedc;font-size: 12px;font-family: Helvetica;">
                                    <br />
                                    <br />
                                    <table>
                                        <tr>
                                            <td width="10"></td>
                                            <td valign="top" width="250" align="left">

						<a href="https://www.datawinners.com" style=" font-family: Helvetica; color: #fff;border: none; text-decoration: none;">
                                                    <span  style="border: none; text-decoration: none; font-family: Helvetica; color: #fff; ">
                                                        <span style="font-size: 20px;">
                                                        <b>Data</b>Winners
                                                        </span>
                                                    </span>
                                               </a>
                                                <br />
                                                    <i style="font-size: 11px;">Developpé par
                                                        <a href="https://www.datawinners.com/fr/about-us" style="color: #AFDD88;text-decoration: none;">
                                                            <span style="color: #AFDD88;text-decoration: none;">
                                                            Human Network International
                                                            </span>
                                                        </a></i>
                                                <br />
                                                <p style=" ">
                                                    HNI offre à ses partenaires l'occasion d’appréhender, de remodeler et de maximiser l'utilisation de la technologie de l'information et de la communication de manière productive et durable.
                                                     <br>
                                                         <i>
                                                             <a href="https://www.datawinners.com/fr/about-us" style="color: #AFDD88;text-decoration: none;">
                                                                <span style="color: #AFDD88;text-decoration: none;">
                                                                 Mieux nous connaître »
                                                                </span>
                                                             </a>
                                                         </i>
                                                </p>
                                            </td>
                                            <td width="10" style="border-right: 1px solid gray;"></td>
                                            <td valign="top"  align="left" width="200">
                                                <ul style="list-style-type: none;margin: 0;">
                                                    <li style="line-height: 23px;"><a href="https://www.datawinners.com/fr/what-is-datawinners" style="color: #AFDD88;text-decoration: none;"><span style="color: #AFDD88;text-decoration: none;">Qu’est-ce que DataWinners</span></a>
                                                    <li style="line-height: 23px;"><a href="https://www.datawinners.com/fr/success-stories" style="color: #AFDD88;text-decoration: none;"><span style="color: #AFDD88;text-decoration: none;">Nos réussites</span></a>
                                                    <li style="line-height: 23px;"><a href="https://www.datawinners.com/fr/pricing" style="color: #AFDD88;text-decoration: none;"><span style="color: #AFDD88;text-decoration: none;">Tarification</span></a>
                                                    <li style="line-height: 23px;"><a href="https://www.datawinners.com/fr/support" style="color: #AFDD88;text-decoration: none;"><span style="color: #AFDD88;text-decoration: none;">Assistance</span></a>
                                                    <li style="line-height: 23px;"><a href="https://www.datawinners.com/fr/about-us" style="color: #AFDD88;text-decoration: none;"><span style="color: #AFDD88;text-decoration: none;">Qui sommes-nous</span></a>
                                                    <li style="line-height: 23px;"><a href="https://www.datawinners.com/fr/terms-and-conditions" style="color: #AFDD88;text-decoration: none;"><span style="color: #AFDD88;text-decoration: none;">Termes et Conditions</span></a>
                                                    <li style="line-height: 23px;"><a href="https://www.datawinners.com/fr/privacy-policy/" style="color: #AFDD88;text-decoration: none;"><span style="color: #AFDD88;text-decoration: none;">Politique de Confidentialité</span></a>
                                                </ul>
                                            </td>
                                            <td width="10" style="border-right: 1px solid gray;"></td>
                                            <td width="10"></td>
                                            <td valign="top" align="left">
                                                <table width="100%">
                                                    <tr>
                                                        <td width="10"></td>
                                                        <td  valign="top" >
                                                            <strong>Suivez-nous </strong><br>
								<table height="10"></table>
                                                                <table>
                                                                    <tr>
                                                                        <td style="vertical-align: central;">
                                                                            <a href="http://datawinners.wordpress.com/" style="color: #AFDD88;text-decoration: none;">
                                                                                <img src="http://www.mandrosoa.org/images/newsletter/blog-icon-box-red-24.png" style="border:none;" width="20"/>
                                                                            </a>
                                                                        </td>
                                                                        <td>
                                                                            <a href="http://datawinners.wordpress.com/" style="color: #AFDD88;text-decoration: none;">
                                                                                <span style="color: #AFDD88;text-decoration: none;">Blog</span>
                                                                            </a>
                                                                        </td>
                                                                        <td width="10"></td>
                                                                        <td style="vertical-align: central;">
                                                                            <a href="https://www.facebook.com/DataWinners" style="color: #AFDD88;text-decoration: none;">
                                                                                <img src="http://www.mandrosoa.org/images/newsletter/facebook-blue.png" style="border:none;" width="20"/>
                                                                            </a>
                                                                        </td>
                                                                        <td>
                                                                            <a href="https://www.facebook.com/DataWinners" style="color: #AFDD88;text-decoration: none;">
                                                                                <span style="color: #AFDD88;text-decoration: none;">Facebook</span>
                                                                            </a>
                                                                        </td>
                                                                        <td width="10"></td>
                                                                        <td style="vertical-align: central;">
                                                                            <a href="https://twitter.com/datawinners" style="color: #AFDD88;text-decoration: none;">
                                                                                <img src="http://www.mandrosoa.org/images/newsletter/twitter-blue.png" style="border:none;" width="20"/>
                                                                            </a>
                                                                        </td>
                                                                        <td>
                                                                            <a href="https://twitter.com/datawinners" style="color: #AFDD88;text-decoration: none;">
                                                                                <span style="color: #AFDD88;text-decoration: none;">Twitter</span>
                                                                            </a>
                                                                        </td>
                                                                        <td width="10"></td>
                                                                        <td style="vertical-align: central;">
<a href="http://{{ current_site }}{% url open_skype %}" style="border:none;text-decoration: none;">
                                                                                <img  style="border:none;text-decoration: none;" src="http://www.mandrosoa.org/images/newsletter/skype.png" style="border:none;" width="20"/></a>
                                                                        </td>
                                                                        <td>
									<a href="http://{{ current_site }}{% url open_skype %}" style="border:none;text-decoration: none;">
                                                                                <span style="color: #AFDD88;text-decoration: none;">datawinners</span>
									</a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            <br />
                                                            <strong>Nos Partenaires &amp; Clients</strong><br>
<table height="10"></table>
                                                            <img width="67" height="24" alt="Airtel" src="https://www.datawinners.com/media/images/logo_footer_airtel.png">
                                                            <img width="119" height="24" alt="Thoughtworks" src="https://www.datawinners.com/media/images/logo_footer_thoughtworks.png">
                                                            <img width="72" height="26" alt="Modi research group" src="https://www.datawinners.com/media/images/logo_footer_modi.png">
                                                            <img width="87" height="28" alt="Mule" src="https://www.datawinners.com/media/images/logo_footer_mule.png"><br><br>
                                                            <span >En savoir plus sur nos
                                                                <a href="https://www.datawinners.com/fr/about-us/partners" style="color: #AFDD88;text-decoration: none;"><span style="color: #AFDD88;text-decoration: none;">partenaires</span></a>
                                                                &amp;
                                                                <a href="/fr/about-us/clients" style="color: #AFDD88;text-decoration: none;">
                                                                    <span style="color: #AFDD88;text-decoration: none;">clients</span></a>
                                                            »</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                </table>
                <br /><br />
            </td>
        </tr>
    </tbody>
    </table>
</body>
</html>
