<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>Datawinner mailing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width">
</head>
<body style="margin:0px; padding:0px; -webkit-text-size-adjust:none;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0"  bgcolor="#d0e2f0";>
    <tbody>
        <tr>
            <td  align="center">
                <br /><br />
                <table  cellpadding="0" width="940" cellspacing="0" border="0" style="border-width: 1px;border-color: #DDDDDD; border-style: solid;">
                        <tbody>
                            <tr>
                                <td  align="left" bgcolor="#333333" width="100%" height="46" colspan="2" style="color: #FFFFFF;font-family: Helvetica;font-size: 20px;">
                                    &nbsp;&nbsp;
                                        <span  style="border: none; text-decoration: none; font-family: Helvetica; color: #fff; ">
                                            <span style="font-size: 22px;">
                                            <b>Data</b>Winners
                                            </span>
                                             | Nous sommes là pour vous aider!
                                        </span>
                                 </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" valign="top" width="620" style=" font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;">
                                    <table>
                                        <tr>
                                            <td width="10"></td>
                                            <td style="text-align: justify; color: #333333; ">
                                                <p>Bonjour {{ username }},</p>
                                                <p>
                                                    Encore merci d’avoir choisi le Compte Basique de Datawinners pour vos besoins en terme de collecte de données.
                                                </p>
                                                <p>
                                                    Voulez vous en savoir plus ce que vous pouvez faire avec Datawinners ?
                                                    <a href="http://{{ site.domain }}/fr/support/" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;"> Visitez notre page Assistance</span></a>, envoyer nous un email à
                                                        <a href="mailto:support@datawinners.com" style="text-decoration: none;color: #4379A2;font-weight: normal;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">support@datawinners.com</span></a>
                                                        ou chatter avec nous sur
                                                    Skype: <a href="http://{{ site.domain }}{% url open_skype %}" style="border:none;text-decoration: none;color: #4379A2;font-weight: normal;"><span style="border:none;text-decoration: none;color: #4379A2;font-weight: normal;">datawinners</span></a>
                                                </p>
                                                <p><strong>Devenir Pro</strong><br />
                                                Recueillir un nombre illimité de soumissions et profiter des fonctionnalités avancées de collecte de données:
                                                <a href="http://{{ site.domain }}{% url upgrade_from_mail token %}" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">passez maintenant vers un compte Pro</span></a>! <br />
                                               Pour faire une comparaison complete des fonctionnalités
                                                <a href="http://{{ site.domain }}/fr/pricing" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">visitez notre page Tarification</span></a>.
                                                Mise à jour à tout moment en vous connectant à votre compte DataWinners et cliquez sur "S'abonner".
                                                </p>


                                                <p>
                                                    Restez en contact – nous sommes là pour vous aider
                                                </p>
                                                <p>Votre Equipe Datawinners<br />
                                                <a href="http://www.datawinners.com" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    www.datawinners.com
                                                    </span>
                                                </a>
                                                </p><br />

                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                 </td>
                                <!--  beginning of right content -->
                                <td width="240" bgcolor="#ffea7d" valign="top" style="color: #333333; font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;border: 1px solid #f4be36;">
                                    <table style="border-bottom: 1px solid #f4be36;" width="100%">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p ><strong><span style="font-size: 12px;"> Services de Démarrage rapide</span></strong><br />
                                                Besoin d’aide supplémentaire avec un projet ambitieux?  <br />
                                                On vous offre des
                                                    <a href="http://{{ site.domain }}/fr/support/quick-start-services/" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        Services de Démarrage rapide
                                                        </span>
                                                    </a>
                                                </p>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                    <table style="border-bottom: 1px solid #f4be36;" width="100%">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p><strong><span style="font-size: 12px;"> Ce que les autres disent </span></strong><br />
                                                    <i>
                                                        "Maintenant, l’envoi, le traitement et la compilation des données peuvent être effectués rapidement. On peut faire la cartographie, envoyer des messages de sensibilisation pour les préparations avant aléa, accéder à nos données collectées en temps réel et les partager avec nos partenaires. "
                                                    </i><br />

                                                    <table>
                                                        <tr>
                                                            <td><img width="70" src="https://www.datawinners.com/media/images/dw_popup_n.raonivelo2.gif" alt="V. Cakir"></td>
                                                            <td>Nianja Raonivelo, webmaster/analyste de données de BNGRC</td>
                                                        </tr>
                                                    </table>
                                                </p>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                    <table style="border-bottom: 1px solid #f4be36;" width="100%">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p><strong><span style="font-size: 12px;"> Rester en contact</span></strong><br />
                                                Pour les mises à jour de DataWinners et les spots des partenaires, suivez nous sur <a href="https://twitter.com/datawinners" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">Twitter</span></a>,
                                                publié sur notre mur <a href="https://www.facebook.com/DataWinners" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">Facebook</span></a>  et abonnez vous sur notre
                                                 <a href="http://datawinners.wordpress.com/" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">blog</span></a>.<br />
                                                <br />Bonne collecte de données.<br />

                                                </p>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                 {% include 'email/basicaccount/email_footer_fr.html' %}
                            </tr>
                        </tbody>
                </table>
                <br /><br />
            </td>
        </tr>
    </tbody>
    </table>
</body>
</html>
