<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>Datawinner mailing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width">
</head>
<body style="margin:0px; padding:0px; -webkit-text-size-adjust:none;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0"  bgcolor="#d0e2f0";>
    <tbody>
        <tr>
            <td  align="center">
                <br /><br />
                <table  cellpadding="0" width="940" cellspacing="0" border="0" style="border-width: 1px;border-color: #DDDDDD; border-style: solid;">
                        <tbody>                            
                            <tr>
                                <td  align="left" bgcolor="#333333" width="100%" height="46" colspan="2" style="color: #FFFFFF;font-family: Helvetica;font-size: 20px;">
                                    &nbsp;&nbsp;
                                        <span  style="border: none; text-decoration: none; font-family: Helvetica; color: #fff; ">
                                            <span style="font-size: 22px;">
                                            <b>Data</b>Winners    
                                            </span>
                                             | Submission Limit Reached: Upgrade to Continue Collecting Data!
                                        </span>
                                 </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" valign="top" width="620" style=" font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;">
                                    <table>
                                        <tr>
                                            <td width="10"></td>
                                            <td style="text-align: justify; color: #333333; ">
                                                <p>Hello {{ username }},</p>
                                                <p>
                                                    Congratulations!  You have reached the 1000 Submission Limit for your DataWinners Basic Account. You can still access your account and view your data until the end of the Basic one-year subscription period, but you cannot receive new Submissions.  
                                                </p>
                                                
                                                <p><strong>Go Pro</strong><br />
                                                    <a href="https://www.datawinners.com/upgrade/" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">Upgrade your account</span></a> to continue submitting data to your DataWinners account. <br />
                                                    Not sure yet? <a href="https://www.datawinners.com/en/pricing" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">Learn more about our Pro Accounts</span></a>.
                                                    Upgrade anytime by signing into your DataWinners account and clicking “Subscribe Now”.<br />
                                                </p>
                                                <p>
                                                    <table>
                                                        <tr>
                                                            <td colspan="2">
                                                                <strong>Export Your Data</strong><br />
                                                    If you do not plan to upgrade your account, you can export your collected data by following these steps: 
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="5"></td>
                                                            <td>
                                                                1. Log into your DataWinners account at www.datawinners.com
                                                                <br />2. Choose one of your DataWinners projects
                                                                <br />3. Go to the "Data" tab 
                                                                <br />4. Go to the "Submissions Log" tab 
                                                                <br />5. Choose “Export” in the top-right corner 
                                                                <br />6. Repeat this process for each of your data collection projects<br />

                                                            </td>
                                                        </tr>
                                                    </table><br />
                                                    If you have any questions, please don’t hesitate to contact us at 
                                                    <a href="mailto:support@datawinners.com" style="text-decoration: none;color: #4379A2;font-weight: normal;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">support@datawinners.com</span></a>
                                                or chat with us on Skype: <a href="http://{{ current_site }}{% url open_skype %}" style="border:none;text-decoration: none;color: #4379A2;font-weight: normal;"><span style="border:none;text-decoration: none;color: #4379A2;font-weight: normal;">datawinners</span></a>
                                                </p>
                                                <p>
                                                Your DataWinners Team<br />                                                
                                                <a href="http://www.datawinners.com" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    www.datawinners.com
                                                    </span>
                                                </a>
                                                </p><br />
                                             
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                 </td>
                                <!--  beginning of right content -->
                                <td width="240" bgcolor="#ffea7d" valign="top" style="color: #333333; font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;border: 1px solid #f4be36;">
                                    <table style="border-bottom: 1px solid #f4be36;" width="100%">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p><strong><span style="font-size: 12px;"> Quick Start Services</span></strong><br />
                                                Need extra help with an ambitious project? <br />
                                                We offer 
                                                    <a href="https://www.datawinners.com/en/support/quick-start-services/" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        Quick Start Services
                                                        </span>
                                                    </a>
                                                </p>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                    
                                    <table style="border-bottom: 1px solid #f4be36;" width="100%">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p><strong><span style="font-size: 12px;"> Customized Reports & Visualizations</span></strong><br />
                                                Do you need dashboards or personalized reports?  We can help!<br />
                                               
                                                    <a href="https://www.datawinners.com/en/what-is-datawinners/customized-reports/" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        Read more
                                                        </span>
                                                    </a>
                                                </p>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                    
                                    <table  width="100%">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p><strong><span style="font-size: 12px;"> Our Success Stories</span></strong><br />
                                                Find out how others have benefited from DataWinners.<br />
                                               
                                                    <a href="https://www.datawinners.com/en/success-stories/" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        See Our Success Stories 
                                                        </span>
                                                    </a>
                                                </p>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" height="210" valign="top" width="100%" bgcolor="#123955" style="color: #b9cedc;font-size: 12px;font-family: Helvetica;">
                                    <br />
                                    <br />
                                    <table>
                                        <tr>
                                            <td width="10"></td>
                                            <td valign="top" width="250" align="left">
                                                
						<a href="https://www.datawinners.com" style=" font-family: Helvetica; color: #fff;border: none; text-decoration: none;">
                                                    <span  style="border: none; text-decoration: none; font-family: Helvetica; color: #fff; ">
                                                        <span style="font-size: 20px;">
                                                        <b>Data</b>Winners    
                                                        </span>
                                                    </span>
                                               </a>
                                                <br />
                                                    <i style="font-size: 11px;">Developed by 
                                                        <a href="https://www.datawinners.com/en/about-us" style="color: #AFDD88;text-decoration: none;">
                                                            <span style="color: #AFDD88;text-decoration: none;">
                                                            Human Network International
                                                            </span>
                                                        </a></i>
                                                <br />
                                                <p style=" ">
                                                    HNI provides partners with the opportunity to embrace, reshape and maximize the use of
                                                    information and communication technology in productive and sustainable ways.
                                                     <br>
                                                         <i>
                                                             <a href="https://www.datawinners.com/en/about-us" style="color: #AFDD88;text-decoration: none;">
                                                                <span style="color: #AFDD88;text-decoration: none;">
                                                                 Learn more about us »
                                                                </span>
                                                             </a>
                                                         </i>
                                                </p>
                                            </td>
                                            <td width="10" style="border-right: 1px solid gray;"></td>
                                            <td valign="top"  align="left" width="200">
                                                <ul style="list-style-type: none;margin: 0;">
                                                    <li style="line-height: 23px;"><a href="https://www.datawinners.com/en/what-is-datawinners" style="color: #AFDD88;text-decoration: none;"><span style="color: #AFDD88;text-decoration: none;">What is DataWinners</span></a></li>
                                                    <li style="line-height: 23px;"><a href="https://www.datawinners.com/en/success-stories" style="color: #AFDD88;text-decoration: none;"><span style="color: #AFDD88;text-decoration: none;">Success Stories</span></a></li>
                                                    <li style="line-height: 23px;"><a href="https://www.datawinners.com/en/pricing" style="color: #AFDD88;text-decoration: none;"><span style="color: #AFDD88;text-decoration: none;">Pricing</span></a></li>
                                                    <li style="line-height: 23px;"><a href="https://www.datawinners.com/en/support" style="color: #AFDD88;text-decoration: none;"><span style="color: #AFDD88;text-decoration: none;">Support</span></a></li>
                                                    <li style="line-height: 23px;"><a href="https://www.datawinners.com/en/about-us" style="color: #AFDD88;text-decoration: none;"><span style="color: #AFDD88;text-decoration: none;">About Us</span></a></li>
                                                    <li style="line-height: 23px;"><a href="https://www.datawinners.com/en/terms-and-conditions" style="color: #AFDD88;text-decoration: none;"><span style="color: #AFDD88;text-decoration: none;">Terms and Conditions</span></a></li>
                                                    <li style="line-height: 23px;"><a href="https://www.datawinners.com/en/privacy-policy/" style="color: #AFDD88;text-decoration: none;"><span style="color: #AFDD88;text-decoration: none;">Privacy Policy</span></a></li>
                                                </ul>
                                            </td>
                                            <td width="10" style="border-right: 1px solid gray;"></td>
                                            <td width="10"></td>
                                            <td valign="top" align="left">
                                                <table width="100%">
                                                    <tr>
                                                        <td width="10"></td>
                                                        <td  valign="top" > 
                                                            <strong>Like and Follow Us </strong><br>
								<table height="10"></table>
                                                                <table>
                                                                    <tr>
                                                                        <td style="vertical-align: central;">
                                                                            <a href="http://datawinners.wordpress.com/" style="color: #AFDD88;text-decoration: none;">
                                                                                <img src="http://www.mandrosoa.org/images/newsletter/blog-icon-box-red-24.png" style="border:none;" width="20"/>
                                                                            </a>
                                                                        </td>
                                                                        <td>
                                                                            <a href="http://datawinners.wordpress.com/" style="color: #AFDD88;text-decoration: none;">
                                                                                <span style="color: #AFDD88;text-decoration: none;">Blog</span>
                                                                            </a>
                                                                        </td>
                                                                        <td width="10"></td>
                                                                        <td style="vertical-align: central;">
                                                                            <a href="https://www.facebook.com/DataWinners" style="color: #AFDD88;text-decoration: none;">
                                                                                <img src="http://www.mandrosoa.org/images/newsletter/facebook-blue.png" style="border:none;" width="20"/>
                                                                            </a>
                                                                        </td>
                                                                        <td>
                                                                            <a href="https://www.facebook.com/DataWinners" style="color: #AFDD88;text-decoration: none;">
                                                                                <span style="color: #AFDD88;text-decoration: none;">Facebook</span>
                                                                            </a>
                                                                        </td>
                                                                        <td width="10"></td>
                                                                        <td style="vertical-align: central;">
                                                                            <a href="https://twitter.com/datawinners" style="color: #AFDD88;text-decoration: none;">
                                                                                <img src="http://www.mandrosoa.org/images/newsletter/twitter-blue.png" style="border:none;" width="20"/>
                                                                            </a>
                                                                        </td>
                                                                        <td>
                                                                            <a href="https://twitter.com/datawinners" style="color: #AFDD88;text-decoration: none;">
                                                                                <span style="color: #AFDD88;text-decoration: none;">Twitter</span>
                                                                            </a>
                                                                        </td>
                                                                        <td width="10"></td>
                                                                        <td style="vertical-align: central;">
<a href="http://{{ current_site }}{% url open_skype %}" style="border:none;text-decoration: none;">
                                                                                <img  style="border:none;text-decoration: none;" src="http://www.mandrosoa.org/images/newsletter/skype.png" style="border:none;" width="20"/></a>
                                                                        </td>
                                                                        <td>
									<a href="http://{{ current_site }}{% url open_skype %}" style="border:none;text-decoration: none;">
                                                                                <span style="color: #AFDD88;text-decoration: none;">datawinners</span>
									</a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            <br />
                                                            <strong>Our Partners &amp; Clients</strong><br>
<table height="10"></table>
                                                            <img width="67" height="24" alt="Airtel" src="https://www.datawinners.com/media/images/logo_footer_airtel.png">
                                                            <img width="119" height="24" alt="Thoughtworks" src="https://www.datawinners.com/media/images/logo_footer_thoughtworks.png">
                                                            <img width="72" height="26" alt="Modi research group" src="https://www.datawinners.com/media/images/logo_footer_modi.png">
                                                            <img width="87" height="28" alt="Mule" src="https://www.datawinners.com/media/images/logo_footer_mule.png"><br><br>
                                                            <span >Learn more about our 
                                                                <a href="https://www.datawinners.com/en/about-us/partners" style="color: #AFDD88;text-decoration: none;"><span style="color: #AFDD88;text-decoration: none;">partners</span></a>
                                                                &amp;
                                                                <a href="/en/about-us/clients" style="color: #AFDD88;text-decoration: none;">
                                                                    <span style="color: #AFDD88;text-decoration: none;">clients</span></a>
                                                            »</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                </table>
                <br /><br />
            </td>
        </tr>
    </tbody>
    </table>
</body>
</html>
