<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>Datawinner mailing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width">
</head>
<body style="margin:0px; padding:0px; -webkit-text-size-adjust:none;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0"  bgcolor="#d0e2f0";>
    <tbody>
        <tr>
            <td  align="center">
                <br /><br />
                <table  cellpadding="0" width="940" cellspacing="0" border="0" style="border-width: 1px;border-color: #DDDDDD; border-style: solid;">
                        <tbody>
                            <tr>
                                <td  align="left" bgcolor="#333333" width="100%" height="46" colspan="2" style="color: #FFFFFF;font-family: Helvetica;font-size: 20px;">
                                    &nbsp;&nbsp;
                                        <span  style="font-size: 22px;border: none; text-decoration: none; font-family: Helvetica; color: #fff; ">
                                             Collectez et affichez vos Données
                                        </span>
                                 </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" valign="top" width="620" style=" font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;">
                                    <table>
                                        <tr>
                                            <td width="10"></td>
                                            <td style="text-align: justify; color: #333333; ">
                                                <p>Bonjour {{ username }},</p>
                                                <p>
                                                    Aujourd’hui, je vous montre comment <a style="color: #006ca3;font-weight: normal;text-decoration: none;" href="https://www.datawinners.com/fr/centre-d-aide/demarrer/collecter-et-voir-vos-donnees/?utm_source=app_email&utm_medium=email&utm_content=Collect%20and%20View%20Your%20Data%20with%20DataWinners&utm_campaign=Beginners">Collecter et voir vos Données, via SMS, Web ou Smartphone >> </a>

                                                </p>
                                                <div align="center">
                                                    <p><a style="color: #006ca3;font-weight: normal;text-decoration: none;" href="https://www.datawinners.com/fr/centre-d-aide/demarrer/collecter-et-voir-vos-donnees/?utm_source=app_email&utm_medium=email&utm_content=Collect%20and%20View%20Your%20Data%20with%20DataWinners&utm_campaign=Beginners"><img src="http://{{ site.domain }}/media/images/AndroidAppFr.gif"></a></p>
                                                    <p><a style="color: #006ca3;font-weight: normal;text-decoration: none;" href="https://www.datawinners.com/fr/centre-d-aide/demarrer/collecter-et-voir-vos-donnees/?utm_source=app_email&utm_medium=email&utm_content=Collect%20and%20View%20Your%20Data%20with%20DataWinners&utm_campaign=Beginners">Collecter et voir vos Données</a></p>
                                                </div>
                                                <p>
                                                    <b>Au cas où vous avez raté mes précédentes leçons :</b>
                                                    <ul>
                                                        <li><a style="color: #006ca3;font-weight: normal;text-decoration: none;" href="https://www.datawinners.com/fr/centre-d-aide/demarrer/creer-votre-premier-questionnaire/?utm_source=app_email&utm_medium=email&utm_content=Collect%20and%20View%20Your%20Data%20with%20DataWinners&utm_campaign=Beginners">Créer votre premier Questionnaire</a></li>
                                                        <li><a style="color: #006ca3;font-weight: normal;text-decoration: none;" href="https://www.datawinners.com/fr/centre-d-aide/demarrer/enregistrer-vos-expediteurs-donnees/?utm_source=app_email&utm_medium=email&utm_content=Collect%20and%20View%20Your%20Data%20with%20DataWinners&utm_campaign=Beginners">Enregistrer vos Expéditeurs de Données</a></li>
                                                    </ul>

                                                </p>

                                                <p>Salutations,<br /><br />
                                                Toavina<br />
                                                </p>
                                                <p>P.S. Si vous avez des questions, répondez simplement à cet email. Quand vous êtes prêt à passer à la version Pro, rendez-vous à la page <a style="color: #006ca3;font-weight: normal;text-decoration: none;" href="https://www.datawinners.com/fr/pricing/?utm_source=app_email&utm_medium=email&utm_content=Collect%20and%20View%20Your%20Data%20with%20DataWinners&utm_campaign=Beginners">Tarification</a>.</p>

                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                 </td>
                                <!--  beginning of right content -->
                                <td width="240" bgcolor="#ffea7d" valign="top" style="color: #333333; font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;border: 1px solid #f4be36;">

                                    <table width="100%">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="center">
                                                <p align="center">
                                                <img src="http://{{ site.domain }}/media/images/get_started.png"/>
                                                <br />
                                                 <b><a style="color: #006ca3;font-weight: normal;text-decoration: none;" href="https://www.datawinners.com/fr/centre-d-aide/explore/?utm_source=app_email&utm_medium=email&utm_content=Collect%20and%20View%20Your%20Data%20with%20DataWinners&utm_campaign=Beginners"><b>A vos marques… Prêts… Collectez !<br/> Tout ce dont vous avez besoin<br/> pour démarrer avec DataWinners</b></a>
                                                </p>

                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                    <table width="100%">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="center">
                                                <p align="center">
                                                <img src="http://{{ site.domain }}/media/images/Books.png"/>
                                                <br />
                                                <b><a style="color: #006ca3;font-weight: normal;text-decoration: none;" href="https://www.datawinners.com/fr/centre-d-aide/explore/?utm_source=app_email&utm_medium=email&utm_content=Collect%20and%20View%20Your%20Data%20with%20DataWinners&utm_campaign=Beginners"><b>Explorer par Cat&eacute;gorie</b></a>
                                                </p>

                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                 {% include 'email/basicaccount/email_footer_fr.html' %}
                            </tr>
                        </tbody>
                </table>
                <br /><br />
            </td>
        </tr>
    </tbody>
    </table>
</body>
</html>
