<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>Datawinner mailing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width">
</head>
<body style="margin:0px; padding:0px; -webkit-text-size-adjust:none;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0"  bgcolor="#d0e2f0";>
    <tbody>
        <tr>
            <td  align="center">
                <br /><br />
                <table  cellpadding="0" width="940" cellspacing="0" border="0" style="border-width: 1px;border-color: #DDDDDD; border-style: solid;">
                        <tbody>
                            <tr>
                                <td  align="left" bgcolor="#333333" width="100%" height="46" colspan="2" style="color: #FFFFFF;font-family: Helvetica;font-size: 20px;">
                                    &nbsp;&nbsp;
                                        <span  style="font-size: 22px; border: none; text-decoration: none; font-family: Helvetica; color: #fff; ">
                                            <span>
                                                Devenez un Expert DataWinners en deux semaines
                                        </span>
                                 </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" valign="top" width="620" style=" font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;">
                                    <table>
                                        <tr>
                                            <td width="10"></td>
                                            <td style="text-align: left; color: #333333; ">
                                                <p>Bonjour {{ username }},</p>
                                                <p>
                                                    Bienvenue ! Merci de vous êtes enregistré pour un Compte basique DataWinners.
                                                    Je m’appelle Toavina et je vous guiderai à travers DataWinners.
                                                </p>
                                                <p>
                                                    Vérifiez votre boîte de réception pour une série d’emails.
                                                    Nous savons que vous êtes occupé. Chaque email est court et adapté à vos besoins.

                                                </p>

                                                <p>
                                                    Le meilleur point de départ est de ...
                                                </p>
                                                <p>
                                                    <a href="https://www.datawinners.com/fr/centre-d-aide/demarrer/creer-votre-premier-questionnaire/?utm_source=app_email&utm_medium=email&utm_content=Become%20a%20DataWinners%20Pro%20in%20Two%20Weeks&utm_campaign=Beginners" style="color: #006ca3;font-weight: normal;text-decoration: none;">
                                                    Créer votre premier Questionnaire >><br />
                                                    </a><br />
                                                    <a href="https://www.datawinners.com/fr/centre-d-aide/demarrer/creer-votre-premier-questionnaire/?utm_source=app_email&utm_medium=email&utm_content=Become%20a%20DataWinners%20Pro%20in%20Two%20Weeks&utm_campaign=Beginners" >
                                                        <p align="center">
                                                        <img src="http://www.datawinners.com/wp-content/themes/department/images/Creer_Qre.gif">
                                                        </p>
                                                    </a>
                                                </p>
                                                <p align="center">
                                                    <a style="color: #006ca3;font-weight: normal;text-decoration: none;" href="https://www.datawinners.com/fr/centre-d-aide/demarrer/creer-votre-premier-questionnaire/?utm_source=app_email&utm_medium=email&utm_content=Become%20a%20DataWinners%20Pro%20in%20Two%20Weeks&utm_campaign=Beginners">
                                                    Voyez à quel point il est facile de créer un Questionnaire
                                                    </a>
                                                </p>
                                                <p>
                                                    Si vous avez des questions, répondez simplement à cet email.
                                                </p>
                                                <p>Salutations,<br /><br />
                                                Toavina<br />
                                                </p><br />

                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                 </td>
                                <!--  beginning of right content -->
                                {% include 'email/basicaccount/sidebar_right_help_center_fr.html' %}
                            </tr>
                            <tr>
                                 {% include 'email/basicaccount/email_footer_fr.html' %}
                            </tr>
                        </tbody>
                </table>
                <br /><br />
            </td>
        </tr>
    </tbody>
    </table>
</body>
</html>
