<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>Datawinner mailing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width">
</head>
<body style="margin:0px; padding:0px; -webkit-text-size-adjust:none;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0"  bgcolor="#d0e2f0";>
    <tbody>
        <tr>
            <td  align="center">
                <br /><br />
                <table  cellpadding="0" width="940" cellspacing="0" border="0" style="border-width: 1px;border-color: #DDDDDD; border-style: solid;">
                        <tbody>
                            <tr>
                                <td  align="left" bgcolor="#333333" width="100%" height="46" colspan="2" style="color: #FFFFFF;font-family: Helvetica;font-size: 20px;">
                                    &nbsp;&nbsp;
                                        <span  style="border: none; text-decoration: none; font-family: Helvetica; color: #fff; ">
                                            <span style="font-size: 22px;">
                                            <b>Data</b>Winners
                                            </span>
                                             | Get the Most Out of DataWinners!
                                        </span>
                                 </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" valign="top" width="620" style=" font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;">
                                    <table>
                                        <tr>
                                            <td width="10"></td>
                                            <td style="text-align: justify; color: #333333; ">
                                                <p>Hello {{ username }},</p>
                                                <p>Thanks again for signing up for your DataWinners Basic Account.
                                                    We hope you've already started test-driving some of our powerful
                                                    data collection and communication tools</p>
                                                <p><strong>How About a Demo?</strong><br />
                                                We'd be happy to do a personal demonstration for you.
                                                It only takes about 30 minutes.
                                                We do demos by sharing screens over Skype.
                                                Let us know if you're interested.
                                                </p>

                                                <p><strong>Have a Question About DataWinners? </strong><br />
                                                    <a href="http://{{ site.domain }}/en/support" style="color: #4379A2;text-decoration: none;"><span style="color: #4379A2;text-decoration: none;">Check out our Support page</span></a>, send us an email at
                                                   <a href="mailto:support@datawinners.com" style="text-decoration: none;color: #4379A2;font-weight: normal;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">support@datawinners.com</span></a>
                                                or chat with us on Skype: <a href="http://{{ site.domain }}{% url open_skype %}" style="border:none;text-decoration: none;color: #4379A2;font-weight: normal;"><span style="border:none;text-decoration: none;color: #4379A2;font-weight: normal;">datawinners</span></a>
                                                </p>
                                                <p>
                                                    We're here to help!
                                                </p>
                                                <p>Happy Data Collecting!<br /><br />
                                                Christina Andriatovohery<br />
                                                Coordinator of Client Support<br /><br />
                                                <a href="https://www.datawinners.com/" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    www.datawinners.com
                                                    </span>
                                                </a>
                                                </p><br />

                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                 </td>
                                <!--  beginning of right content -->
                                <td width="240" bgcolor="#ffea7d" valign="top" style="color: #333333; font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;border: 1px solid #f4be36;">

                                    <table style="border-bottom: 1px solid #f4be36;" width="100%">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p><strong><span style="font-size: 12px;">How to Send Data via Smartphone</span></strong><br /><br />
                                                <a href="http://youtu.be/iDTwwBjarqs" style="border:none;text-decoration: none;">
                                                    <img  title="Click to view video on Youtube" style="border:none;text-decoration: none;" src="http://www.mandrosoa.org/images/newsletter/DW_n_SP.png" />
                                                </a><br />
                                                <a href="http://youtu.be/iDTwwBjarqs" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">» Watch our Video</span></a><br />
                                                <a href="http://datawinners.wordpress.com/2012/07/09/new-datawinners-android-app/" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">» Learn more</span></a><br />
                                                <a href="https://play.google.com/store/apps/details?id=com.datawinners.android.collect&hl=en" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">» Download App on Google Play</span></a><br />
                                                </p>

                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                    <table style="border-bottom: 1px solid #f4be36;" >
                                        <tr>
                                            <td width="10"></td>
                                            <td  align="left">
                                                <p><strong><span style="font-size: 12px;">Learn How to Create Questionnaires</span></strong><br />
                                                    This tutorial will help you get started with DataWinners.
                                                    Let us take you through the process, step-by-step.
                                                    <a href="http://www.datawinners.com/media/files/how_to_create_a_project.pdf" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    <br />
                                                    Create a new questionnaire</span></a><span style="font-size: 9px;"> (PDF, 17 pages, 1.6MB)</span>
                                                </p>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                    <table width="100%">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p><strong><span style="font-size: 12px;"> Stay in Touch</span></strong><br />
                                                For DataWinners updates and partner spotlights,
                                                follow us on <a href="https://twitter.com/datawinners" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">Twitter</span></a>,
                                                post on our <a href="https://www.facebook.com/DataWinners" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">Facebook</span></a>  wall and
                                                subscribe to our <a href="http://datawinners.wordpress.com/" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">blog</span></a> .<br />
                                                Happy data collection!<br />
                                                </p>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                 {% include 'email/basicaccount/email_footer_en.html' %}
                            </tr>
                        </tbody>
                </table>
                <br /><br />
            </td>
        </tr>
    </tbody>
    </table>
</body>
</html>
