<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>Datawinner mailing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width">
</head>
<body style="margin:0px; padding:0px; -webkit-text-size-adjust:none;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0"  bgcolor="#d0e2f0";>
    <tbody>
        <tr>
            <td  align="center">
                <br /><br />
                <table  cellpadding="0" width="940" cellspacing="0" border="0" style="border-width: 1px;border-color: #DDDDDD; border-style: solid;">
                        <tbody>
                            <tr>
                                <td  align="left" bgcolor="#333333" width="100%" height="46" colspan="2" style="color: #FFFFFF;font-family: Helvetica;font-size: 20px;">
                                    &nbsp;&nbsp;
                                        <span  style="border: none; text-decoration: none; font-family: Helvetica; color: #fff; ">
                                            <span style="font-size: 22px;">
                                            <b>Data</b>Winners
                                            </span>
                                             | Tirer le meilleur parti de Datawinners
                                        </span>
                                 </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" valign="top" width="620" style=" font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;">
                                    <table>
                                        <tr>
                                            <td width="10"></td>
                                            <td style="text-align: justify; color: #333333; ">
                                                <p>Bonjour {{ username }},</p>
                                                <p>Encore merci de vous être enregistré pour un Compte basique Datawinners. Nous espérons que vous avez déjà commencé à essayer une partie de notre puissant outil de collecte de données et des outils de communication. </p>
                                                <p><strong>Que diriez-vous d’une
                                                    <Dé></Dé>monstration?</strong><br />
                                                Nous serions ravi d’effectuer une démonstration personnalisée pour vous. Cela peut prendre 30 minutes. Nous pouvons le faire en partageant les écrans sur Skype. Contactez-nous savoir si vous êtes intéressé.
                                                </p>

                                                <p><strong>Des questions concernant Datawinners? </strong><br />
                                                    <a href="https://www.datawinners.com/fr/support" style="color: #4379A2;text-decoration: none;"><span style="color: #4379A2;text-decoration: none;">Consultez notre page Assistance</span></a>, envoyez-nous un email à
                                                   <a href="mailto:support@datawinners.com" style="text-decoration: none;color: #4379A2;font-weight: normal;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">support@datawinners.com</span></a>
                                                ou chattez avec nous sur Skype: <a href="http://{{ site.domain }}{% url open_skype %}" style="border:none;text-decoration: none;color: #4379A2;font-weight: normal;"><span style="border:none;text-decoration: none;color: #4379A2;font-weight: normal;">datawinners</span></a>
                                                </p>
                                                <p>
                                                    Nous sommes là pour vous aider!
                                                </p>
                                                <p>Bonne collecte de données!<br /><br />
                                                Christina Andriatovohery<br />
                                                Coordinateur des Relations avec la Clientèle<br />
                                                <a href="https://www.datawinners.com/fr/" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    www.datawinners.com
                                                    </span>
                                                </a>
                                                </p><br />

                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                 </td>
                                <!--  beginning of right content -->
                                <td width="240" bgcolor="#ffea7d" valign="top" style="color: #333333; font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;border: 1px solid #f4be36;">

                                    <table style="border-bottom: 1px solid #f4be36;" width="100%">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p><strong><span style="font-size: 12px;">Comment soumettre des données en utilisant notre Application Android</span></strong><br /><br />
                                                <a href="http://www.youtube.com/watch?v=rlltlqxiYHI&list=UUepen9sSRdn0q7odfDkhQNQ" style="border:none;text-decoration: none;">
                                                    <img  title="Cliquer pour voir la video sur Youtube" style="border:none;text-decoration: none;" src="http://www.mandrosoa.org/images/newsletter/DW_n_SP.png" />
                                                </a><br />
                                                <a href="http://www.youtube.com/watch?v=rlltlqxiYHI&list=UUepen9sSRdn0q7odfDkhQNQ" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">» Regardez notre Video</span></a><br />
                                                <a href="http://datawinners.wordpress.com/2012/07/09/new-datawinners-android-app/" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">» En savoir plus</span></a><br />
                                                <a href="https://play.google.com/store/apps/details?id=org.hni.datawinners.android.collect&hl=en" target="_blank" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">» Télécharger l’Application sur Google Play</span></a><br />
                                                </p>

                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                    <table>
                                        <tr>
                                            <td width="10"></td>
                                            <td  align="left">
                                                <p><strong><span style="font-size: 12px;">En savoir plus sur Comment créer un Projet</span></strong><br />
                                                    Ce guide vous aidera à débuter avec Datawinners. Laissez-nous vous guider à travers le processus, étape par étape.
                                                    <a href="http://{{ site.domain }}/media/files/comment_creer_un_questionnaire.pdf" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    <br />
                                                    Créer un projet</span></a><span style="font-size: 9px;"> (PDF, 17 pages, 1.9Mo)</span>
                                                </p>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                 {% include 'email/basicaccount/email_footer_fr.html' %}
                            </tr>
                        </tbody>
                </table>
                <br /><br />
            </td>
        </tr>
    </tbody>
    </table>
</body>
</html>
