<p><b>Besoin d’Aide?</b><br>
    Si vous avez besoin d’aide pour commencer, visitez notre <a href='https://www.datawinners.com/fr/support/find-answers/' style="text-decoration: none">FAQ</a> et autres
    <a href="https://www.datawinners.com/fr/support/" style="text-decoration: none">supports</a> en ligne. <br>
    Vous pouvez aussi nous contacter par email à l’adresse support@datawinners.com. Nous sommes là pour aider !
</p>

<p><b>Restez Connecté</b><br>
     Nous aimerions avoir de vos nouvelles ! Vous pouvez nous suivre sur <a href="https://twitter.com/#!/datawinners" style="text-decoration: none">Twitter</a>,
    publier sur notre mur sur <a href="http://www.facebook.com/DataWinners" style="text-decoration: none">Facebook</a> et commenter sur notre
    <a href="http://datawinners.wordpress.com/" style="text-decoration: none">blog</a>. Le blog est un excellent moyen de connaître les nouvelles
    fonctionnalités et les événements DataWinners à venir.
</p>

<p>Amusez-vous,<br>
    Votre Equipe DataWinners <br>
    <a href="http://www.datawinners.com" style="text-decoration: none">www.datawinners.com</a> |
    <a href="http://datawinners.wordpress.com/" style="text-decoration: none">Blog</a> |
    <a href="https://twitter.com/#!/datawinners" style="text-decoration: none">Twitter</a>
</p>