<html>

<body>

<p>Bonjour {{ name }},</p>

<p>Merci d’avoir souscrit un Abonnement Mensuel auprès de DataWinners!<br>
    <a href="http://{{ site.domain }}{% url registration_activate activation_key %}" style="text-decoration: none">
        Activez votre compte</a> dans les 7 prochains jours.
</p>

<p>
    Dans les prochaines 24 heures, vous recevrez de notre part un email de confirmation contenant les
    informations sur le paiement et les options de numéro de téléphone.
</p>

<p>
    En attendant, vous pouvez commencer à utiliser DataWinners pour créer vos questionnaires et collecter
    des données via Internet et Smartphone Android.
</p>

<p><b>Besoin d’Aide?</b><br>
    Si vous avez besoin d’aide pour commencer, visitez notre <a href='http://{{ site.domain }}/en/support/find-answers/' style="text-decoration: none">FAQ</a> et autres
    <a href="http://{{ site.domain }}/en/support/" style="text-decoration: none">supports</a> en ligne. <br>
    Vous pouvez aussi nous contacter par email à l’adresse support@datawinners.com. Nous sommes là pour aider !
</p>

<p><b>Restez Connecté</b><br>
     Nous aimerions avoir de vos nouvelles ! Vous pouvez nous suivre sur <a href="https://twitter.com/#!/datawinners" style="text-decoration: none">Twitter</a>,
    publier sur notre mur sur <a href="http://www.facebook.com/DataWinners" style="text-decoration: none">Facebook</a> et commenter sur notre
    <a href="http://datawinners.wordpress.com/" style="text-decoration: none">blog</a>. Le blog est un excellent moyen de connaître les nouvelles
    fonctionnalités et les événements DataWinners à venir.
</p>

<p>Amusez-vous,<br>
    Votre Equipe DataWinners <br>
    <a href="http://www.datawinners.com" style="text-decoration: none">www.datawinners.com</a> |
    <a href="http://datawinners.wordpress.com/" style="text-decoration: none">Blog</a> |
    <a href="https://twitter.com/#!/datawinners" style="text-decoration: none">Twitter</a>
</p>

</body>
</html>