<html>

<body>

<p>Hello {{ name }},</p>

<p>Thank you for signing up for a DataWinners Trial Account!
   For the next 30 days, test-drive your free trial account to see how DataWinners can fit your needs.</p>

<p>Click on this link to activate your DataWinners account:</p>

<p>http://{{ site.domain }}{% url registration_activate activation_key %}</p>

<p>This link is good for {{ expiration_days }} days.</p>

<p><b>Collect Data via Web</b><br>
    Create your online questionnaires and collect an unlimited amount of data using the Internet.</p>

<p><b>Collect Data via SMS</b><br>
    See which telephone number you can use to send in your data: <br>
    http://www.datawinners.com/en/your-account-phone-number </p>

<p> For the free trial account, International SMS rates apply.
    You pay to send your messages to DataWinners.
    DataWinners will send automatic confirmation and error messages back in response to your SMS.
    You can submit up to 100 messages during your trial period.
</p>

<p><b>Need Help?</b><br>
    If you need help getting started, check out our <a href='http://www.datawinners.com/en/support/find-answers/'>FAQs</a> and other online
    <a href="http://www.datawinners.com/en/support/">support</a>. <br>
    We can also be reach via Email at support@datawinners.com. We're here to help!
</p>

<p><b>Stay Connected</b><br>
    We'd love to hear from you! You can follow us on <a href="https://twitter.com/#!/datawinners">Twitter</a>, post on
    our <a href="http://www.facebook.com/DataWinners">Facebook</a> wall and comment on our
    <a href="http://datawinners.wordpress.com/ ">blog</a>. The blog is a great way to learn about new features and
    upcoming DataWinners events.
</p>

<p>Have fun, <br><br>
Your DataWinners Team <br>
www.datawinners.com</p>

</body>
</html>