<html>

<body>

<p>Hello {{ name }},</p>

<p>Thank you for signing up for your 30 day DataWinners Trial Account!<br>
    <a href="http://{{ site.domain }}{% url registration_activate activation_key %}" style="text-decoration: none">
        Activate your account</a> and see how DataWinners can fit your needs.
</p>

<p><b>How to Collect Data</b><br>
    DataWinners allows you to collect your data in 3 different ways. Choose the channels most convenient for you and your Data Senders.
    <ol>
        <li>
            <b>Web</b>
            <div>
                Collect an unlimited amount of data using the online Questionnaire.
            </div>
        </li>
        <li>
            <b>Android Smartphone</b>

            <div>
                Download the Questionnaires directly onto your Android Smartphone.
            </div>
        </li>
        <li>
            <b>SMS</b>

            <div>Use any simple mobile phone to send in data using a single SMS.
            </div>
            <div>
                <a href="http://{{ site.domain }}/en/your-account-phone-number" style="text-decoration: none">See which telephone number you can use</a>
                to send in your data.For the free trial account, International SMS rates apply. You pay to send your
                messages to DataWinners. DataWinners will send automatic confirmation and error messages back in
                response to your SMS. You can submit up to 50 messages during your trial period.
            </div>
        </li>
    </ol>
</p>

{% include "registration/activation_email_footer_en.html" %}

</body>
</html>