<html>

<body>

<p>Hello {{ username }},</p>

<p>Thank you for signing up for DataWinners’ Monthly Subscription!<br>
    <a href="http://{{ site.domain }}{% url registration_activate activation_key %}" style="text-decoration: none">
        Activate your account</a> within the next 7 days.
</p>

<p>
    You will receive a confirmation email from us containing payment information and
    telephone number options within the next 24 hours.
</p>

<p>
    In the meantime, you can start using DataWinners to create your questionnaires and
    collect data using the Web and your Android Smartphone.
</p>

{% include "registration/activation_email_footer_en.html" %}

</body>
</html>