<p><b>Need Help?</b><br>
    If you need help getting started, check out our <a href='https://www.datawinners.com/en/support/find-answers/' style="text-decoration: none">FAQs</a> and other online
    <a href="https://www.datawinners.com/en/support/" style="text-decoration: none">support</a>. <br>
    We can also be reach via Email at support@datawinners.com. We're here to help!
</p>

<p><b>Stay Connected</b><br>
    We'd love to hear from you! You can follow us on <a href="https://twitter.com/#!/datawinners" style="text-decoration: none">Twitter</a>, post on
    our <a href="http://www.facebook.com/DataWinners" style="text-decoration: none">Facebook</a> wall and comment on our
    <a href="http://datawinners.wordpress.com/" style="text-decoration: none">blog</a>. The blog is a great way to learn about new features and
    upcoming DataWinners events.
</p>

<p>Have fun, <br>
    Your DataWinners Team <br>
    <a href="http://www.datawinners.com" style="text-decoration: none">www.datawinners.com</a> |
    <a href="http://datawinners.wordpress.com/" style="text-decoration: none">Blog</a> |
    <a href="https://twitter.com/#!/datawinners" style="text-decoration: none">Twitter</a>
</p>