<html>

<body>

<p>Bonjour {{ name }},</p>

<p>Merci d’avoir souscrit un Abonnement Mensuel auprès de DataWinners!<br>
    <a href="http://{{ site.domain }}{% url registration_activate activation_key %}" style="text-decoration: none">
        Activez votre compte</a> dans les 7 prochains jours.
</p>

<p>
    Dans les prochaines 24 heures, vous recevrez de notre part un email de confirmation contenant les
    informations sur le paiement et les options de numéro de téléphone.
</p>

<p>
    En attendant, vous pouvez commencer à utiliser DataWinners pour créer vos questionnaires et collecter
    des données via Internet et Smartphone Android.
</p>

{% include "registration/activation_email_footer_fr.html" %}

</body>
</html>