<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>Datawinner mailing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width">
</head>
<body style="margin:0px; padding:0px; -webkit-text-size-adjust:none;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0"  bgcolor="#d0e2f0";>
    <tbody>
        <tr>
            <td align="center">
                <br /><br />
                <table  cellpadding="0" width="940" cellspacing="0" border="0" style="border-width: 1px;border-color: #DDDDDD; border-style: solid;">
                        <tbody>
                            <tr>
                                <td  align="left" bgcolor="#333333" width="100%" height="46" colspan="2" style="color: #FFFFFF;font-family: Helvetica;font-size: 20px;">
                                    &nbsp;&nbsp;
                                        <span  style="border: none; text-decoration: none; font-family: Helvetica; color: #fff; ">
                                            <span style="font-size: 22px;">
                                            <b>Data</b>Winners
                                            </span>
                                             | Bienvenue sur DataWinners
                                        </span>
                                 </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" valign="top" width="620" style=" font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;">
                                    <table>
                                        <tr>
                                            <td width="10"></td>
                                            <td style="text-align: justify; color: #333333; ">
                                                <p>Bonjour {{ username }},</p>
                                                <p>Merci de vous êtes enregistré pour un Compte basique DataWinners <br />
                                                    <a href="http://{{ site.domain }}{% url registration_activate activation_key %}" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        Activez votre compte</span></a> et voyez comment DataWinners peut vous rendre service.</p>
                                                <p><strong>Détails sur le Compte basique</strong><br />
                                                Recevez jusqu’à 1000 Soumissions  (incluant compris les 50 Soumissions SMS) avec votre Compte basique DataWinners. Votre compte restera actif pendant un an après
                                                    <a href="http://{{ site.domain }}{% url registration_activate activation_key %}" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        son activation</span></a>.
                                                </p>

                                                <p>
                                                <table>
                                                    <tr>
                                                        <td colspan="2">
                                                            <strong>Comment collecter des données </strong><br />
                                                Collectez vos données en utilisant n’importe quelle combinaison du Web, Application Android et SMS. Vous choisissez les canaux qui vous conviennent à vous et à vos Expéditeur de Données.
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="5"></td>
                                                        <td>
                                                            <ol>
                                                            <li> Web: </strong>Remplissez le Questionnaire en ligne.</li>
                                                            <li><strong> Application Android: </strong>Téléchargez les Questionnaires directement à partir de votre Smartphone et Tablette Android .</li>
                                                            <li><strong>SMS: </strong>
                                                            Utilisez n'importe quel téléphone mobile pour envoyer des données en utilisant le SMS.
                                                            Envoyez votre SMS au numéro de téléphone suivant :<strong>+44 786 003 4166</strong>. Pour le Compte basique gratuit, les tarifs des SMS internationaux s'appliquent.
                                                            Vous payez pour envoyer vos messages à DataWinners.
                                                            Datawinners enverra une confirmation automatique ou un messages d’erreur par SMS en retour.
                                                            Vous pouvez soumettre jusqu'à 50 messages durant la
                                                            période d’un an.</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                </table>
                                                 </p>
                                                <p>Amusez-vous bien ,<br /><br />
                                                Votre Equipe Datawinners<br /><br />
                                                <a href="http://www.datawinners.com" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    www.datawinners.com
                                                    </span>
                                                </a>
                                                </p><br />

                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                 </td>
                                <!--  beginning of right content -->
                                <td width="240" bgcolor="#ffea7d" valign="top" style="color: #333333; font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;border: 1px solid #f4be36;">
                                    <table style="border-bottom: 1px solid #f4be36;">
                                        <tr>
                                            <td width="10"></td>
                                            <td  align="left">
                                                <p><strong><span style="font-size: 12px;">En savoir plus sur Comment créer un Questionnaire</span></strong><br />
                                                    Cette guide vous aidera à débuter avec Datawinners. Laissez-nous vous guider à travers le processus, étape par étape.
                                                    <a href="http://{{ site.domain }}/media/files/comment_creer_un_questionnaire.pdf" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    <br />
                                                    Comment créer un Questionnaire</span></a><span style="font-size: 9px;"> (PDF, 17 pages, 1.9Mo)</span>
                                                </p>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                    <table style="border-bottom: 1px solid #f4be36;">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p><strong><span style="font-size: 12px;">Jetez un coup d’oeil sur notre nouvel Aperçu DataWinners </span></strong><br />
                                                <a href="https://www.datawinners.com/fr/what-is-datawinners/" style="border:none;text-decoration: none;">
                                                <img width="130" src="http://{{ site.domain }}/media/images/whatis/steps.png"/>
                                                </a><br />
                                                <a href="https://www.datawinners.com/fr/what-is-datawinners/" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">» En savoir plus</span></a><br />
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                    <table  width="100%">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p><strong><span style="font-size: 12px;">Voyez ce que vous pouvez faire avec DataWinners</span></strong><br /><br />
                                                <a href="https://www.datawinners.com/fr/what-is-datawinners/how-it-works/" style="border:none;text-decoration: none;">
                                                    <img  title="Cliquer pour voir  ce que vous pouvez faire avec DataWinners" style="border:none;text-decoration: none;" src="http://www.mandrosoa.org/images/newsletter/dw_howitworks.jpg" />
                                                </a><br />
                                                <a href="https://www.datawinners.com/fr/what-is-datawinners/how-it-works/" style="color: #4379A2;font-weight: normal;text-decoration: none;"><br/> <span style="color: #4379A2;font-weight: normal;text-decoration: none;">» En savoir plus</span></a><br />
                                                </p>

                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                {% include 'email/basicaccount/email_footer_fr.html' %}
                            </tr>
                        </tbody>
                </table>
                <br /><br />
            </td>
        </tr>
    </tbody>
    </table>
</body>
</html>