<html>

<body>

<p>Bonjour {{ name }},</p>

<p>Merci de vous être enregistré pour un Compte d’Essai dataWinners de 30 jours!<br>
    <a href="http://{{ site.domain }}{% url registration_activate activation_key %}" style="text-decoration: none">
        Activez votre compte</a> et voyez comment DataWinners peut répondre à vos besoins.
</p>

<p><b>Comment Collecter des Données</b><br>
    DataWinners vous permet de collecter vos données de 3 différentes manières. Choisissez les canaux qui vous
    conviennent le mieux, à vous et à vos Expéditeurs de Données.
<ol>
    <li>
        <b>Internet </b>
        <div>
            Collectez un nombre illimité de données en utilisant le Questionnaire en ligne.
        </div>
    </li>
    <li>
        <b>Smartphone Android</b>

        <div>
            Téléchargez les Questionnaires directement sur votre Smartphone Android.
        </div>
    </li>
    <li>
        <b>SMS</b>

        <div>
            Utilisez un simple téléphone mobile pour envoyer des données en utilisant un seul SMS.
        </div>
        <div>
            <a href="http://{{ site.domain }}/fr/your-account-phone-number" style="text-decoration: none">Voyez quel numéro de téléphone vous pouvez utiliser</a>
            pour envoyer des données. Pour le compte d’essai gratuit, les tarifs SMS internationaux s’appliquent.
            Vous pouvez payer pour envoyer vos messages à DataWinners. DataWinners enverra une confirmation automatique
            et des messages d’erreur suite à votre SMS. Vous pouvez soumettre jusqu’à 50 messages durant votre période d’essai.
        </div>
    </li>
</ol>
</p>

{% include "registration/activation_email_footer_fr.html" %}

</body>
</html>