<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>Datawinner mailing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width">
</head>
<body style="margin:0px; padding:0px; -webkit-text-size-adjust:none;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0"  bgcolor="#d0e2f0";>
    <tbody>
        <tr>
            <td  align="center">
                <br /><br />
                <table  cellpadding="0" width="940" cellspacing="0" border="0" style="border-width: 1px;border-color: #DDDDDD; border-style: solid;">
                        <tbody>
                            <tr>
                                <td  align="left" bgcolor="#333333" width="100%" height="46" colspan="2" style="color: #FFFFFF;font-family: Helvetica;font-size: 20px;">
                                    &nbsp;&nbsp;
                                        <span  style="border: none; text-decoration: none; font-family: Helvetica; color: #fff; ">
                                            <span style="font-size: 22px;">
                                            <b>Data</b>Winners
                                            </span>
                                             | Welcome to DataWinners
                                        </span>
                                 </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" valign="top" width="620" style=" font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;">
                                    <table>
                                        <tr>
                                            <td width="10"></td>
                                            <td style="text-align: justify; color: #333333; ">
                                                <p>Hello {{ username }},</p>
                                                <p>Thank you for signing up for your DataWinners Basic Account!<br />
                                                    <a href="http://{{ site.domain }}{% url registration_activate activation_key %}" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        Activate your account
                                                        </span>
                                                    </a>
                                                     and see how DataWinners can fit your needs.</p>
                                                <p><strong>Basic Account Details</strong><br />
                                                Collect up to 1,000 Submissions (including 50 SMS Submissions) with your DataWinners Basic Account. Your account will remain active for one year after
                                                    <a href="http://{{ site.domain }}{% url registration_activate activation_key %}" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        activation</span></a>.
                                                </p>

                                                <p>
                                                    <table>
                                                        <tr>
                                                            <td colspan="2">
                                                                <strong>How to Collect Data</strong><br />
                                                    Collect your data using any combination of Web, Android App and SMS. You choose the channels most convenient for you and your Data Senders:
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="5"></td>
                                                            <td>
														  1. <strong>Web: </strong>Fill out the Questionnaire online.
                                                    <br />2. <strong>Android App: </strong>Download Questionnaires directly onto your Android Smartphone and Tablet.
                                                    <br />3. <strong>SMS: </strong>Use any simple mobile phone to send in data using a single SMS.
                                                        Send your SMS to the telephone number  <strong>+44 786 003 4166</strong>. For the free Basic Account,
                                                        international SMS rates apply. You pay to send your messages to DataWinners.
                                                        DataWinners will send automatic confirmation and error messages back in response to your SMS.
                                                        You can submit up to 50 messages during your 1-year period.
                                                            </td>
                                                        </tr>
                                                    </table>

                                                </p>

                                                <p>Have fun,<br />
                                                Your DataWinners Team<br />
                                                <a href="http://www.datawinners.com" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    www.datawinners.com
                                                    </span>
                                                </a>
                                                </p><br />

                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                 </td>
                                <!--  beginning of right content -->
                                <td width="240" bgcolor="#ffea7d" valign="top" style="color: #333333; font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;border: 1px solid #f4be36;">
                                    <table style="border-bottom: 1px solid #f4be36;">
                                        <tr>
                                            <td width="10"></td>
                                            <td  align="left">
                                                <p><strong><span style="font-size: 12px;">Learn How to Create Projects</span></strong><br />
                                                    This tutorial will help you get started with DataWinners.
                                                    Let us take you through the process, step-by-step.
                                                    <a href="http://www.datawinners.com/media/files/DataWinnersTutorial_CreateAProject.en.pdf" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    <br />
                                                    Create a new project</span></a> <span style="font-size: 9px;">(PDF, 14 pages, 1.4MB)</span>
                                                </p>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>

                                    <table  width="100%">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p><strong><span style="font-size: 12px;">See what you can do with DataWinners</span></strong><br /><br />
                                                <a href="http://{{ site.domain }}/en/what-is-datawinners/how-it-works/" style="border:none;text-decoration: none;">
                                                    <img  title="Click to see what you can do with DataWinners" style="border:none;text-decoration: none;" src="http://www.mandrosoa.org/images/newsletter/dw_howitworks.jpg" />
                                                </a><br />
                                                <a href="http://{{ site.domain }}/en/what-is-datawinners/how-it-works/" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">Read more</span></a><br />
                                                </p>

                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                {% include 'email/basicaccount/email_footer_en.html' %}
                            </tr>
                        </tbody>
                </table>
                <br /><br />
            </td>
        </tr>
    </tbody>
    </table>
</body>
</html>
