<html>
<body>
<p>Bonjour {{ name }},</p>

<p>Merci d’avoir souscrit à un Compte d'Essai DataWinners!
   Testez votre compte d'essai gratuit pendant les 30 prochains jours pour voir dans quelle mesure DataWinners peut
   répondre à vos besoins. </p>

<p>Cliquez sur ce lien pour activer votre compte DataWinners:</p>

<p>http://{{ site.domain }}{% url registration_activate activation_key %}</p>

<p>Ce lien est valide pour {{ expiration_days }} jours.</p>

<p><b>Collectez des Données via Internet</b> <br>
    Créez vos questionnaires en ligne et collectez une quantité illimitée de données via Internet.
</p>

<p><b>Collectez des Données via SMS</b> <br>
    Voyez vers quel numéro de téléphone vous pouvez envoyer vos données <br>
    http://{{ site.domain }}/fr/your-account-phone-number </p>

<p><b>Besoin d’aide ?</b> <br>
    Si vous avez besoin d'aide pour démarrer, consultez notre <a href='http://www.datawinners.com/fr/support/find-answers/'>Foire Aux
    Questions</a> ainsi que d’autres formes
    <a href="http://www.datawinners.com/fr/support/">d’assistance</a> en ligne. <br>
    Nous pouvons aussi être accessible via un e-mail adressé à support@datawinners.com. Nous sommes là pour vous aider!
</p>

<p><b>Restez Connecté</b> <br>
    Nous aimerions avoir de vos nouvelles! Vous pouvez nous voir sur <a href="https://twitter.com/#!/datawinners">Twitter</a>,
    publier sur notre mur <a href="http://www.facebook.com/DataWinners">Facebook</a>, et commenter sur notre
    <a href="http://datawinners.wordpress.com/ ">blog</a>. Le blog est un excellent moyen pour apprendre sur les
    nouvelles fonctionnalités et les événements à venir de DataWinners.</p>

<p>Amusez-vous, <br><br>
   Votre Equipe DataWinners <br>
   www.datawinners.com
</p>

</body>
</html>