<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>Datawinner mailing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width">
</head>
<body style="margin:0px; padding:0px; -webkit-text-size-adjust:none;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0"  bgcolor="#d0e2f0";>
    <tbody>
        <tr>
            <td  align="center">
                <br /><br />
                <table  cellpadding="0" width="940" cellspacing="0" border="0" style="border-width: 1px;border-color: #DDDDDD; border-style: solid;">
                        <tbody>
                            <tr>
                                <td  align="left" bgcolor="#333333" width="100%" height="46" colspan="2" style="color: #FFFFFF;font-family: Helvetica;font-size: 20px;">
                                    &nbsp;&nbsp;
                                        <span  style="border: none; text-decoration: none; font-family: Helvetica; color: #fff; ">
                                            <span style="font-size: 22px;">
                                            <b>Data</b>Winners
                                            </span>
                                             | Bienvenue sur DataWinners
                                        </span>
                                 </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" valign="top" width="620" style=" font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;">
                                    <table>
                                        <tr>
                                            <td width="10"></td>
                                            <td style="text-align: justify; color: #333333; ">
                                                <p>Bonjour {{ user.first_name.capitalize }},</p>
                                                <p>{{ creator_user.capitalize }} a créé un compte <a href="https://www.datawinners.com/en/home/">DataWinners</a> pour vous..<br/>
                                                    <a href="{{ protocol }}://{{ domain }}{% url auth_password_reset_confirm uidb36=uid, token=token %}">Activez votre compte </a>
                                                    dans les 7 prochains jours pour commencer de suite !
                                                <p>
                                                    <table>
                                                        <tr>
                                                            <td colspan="2">
                                                                <strong>Apprenez comment créer des projets</strong><br />
                                                                Ce tutoriel vous aidera à commencer avec DataWinners. Laissez-nous vous guider à travers le processus, étape par étape.<br/>
                                                                <a href="http://www.datawinners.com/media/files/DataWinnersTutorial_CreateAProject.en.pdf" target="_blank" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                                    Comment créer un projet</a> &nbsp;(PDF, 14 pages, 1.9Mo)<br/><br/>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">
                                                                <strong>Comment collecter des données</strong><br />
                                                    Collectez vos données en utilisant toute combinaison du {% ifnotequal account_type 'Pro' %}Web, de Smartphone et Tablette Android et de SMS. {% else %}Web, de Smartphone et de Tablette Android.{% endifnotequal %} Vous choisissez les canaux qui vous conviennent le mieux à vous et à vos Expéditeurs de Données :
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="5"></td>
                                                            <td>
                                                            <ol>
                                                                {% ifequal account_type 'Pro SMS' %}
                                                                <li><strong>SMS:</strong> Utilisez tout simple téléphone pour envoyer des données dans un seul SMS. </li>
                                                                {% endifequal %}
                                                                {% ifequal account_type 'Basic' %}
                                                                    <li><b>SMS:</b> Utilisez tout simple t&eacute;l&eacute;phone pour envoyer des donn&eacute;es en utilisant le SMS. Envoyez votre SMS au num&eacute;ro {{ org_number }}. DataWinners enverra une confirmation automatique et des messages suite &agrave; votre SMS
                                                                {% endifequal %}
														        <li><strong>Web: </strong>Remplissez le Questionnaire en ligne.
                                                                    Log in to your DataWinners account to fill out the Questionnaire online.</li>
                                                                <li><strong>Android App: </strong>Téléchargez les Questionnaires directement sur votre Smartphone et Tablette Android. </li>
                                                            </ol>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">
                                                                <strong>Besoin d’aide?</strong><br />
                                                                Si vous avez besoin pour commencer, visitez notre
                                                                    <a href="http://{{ site.domain }}/en/support/find-answers" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                                            FAQs
                                                                        </span>
                                                                     </a>
                                                                    et autre
                                                                    <a href="http://{{ site.domain }}/en/support/find-answers" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                                        support
                                                                        </span>
                                                                    </a>en ligne.
                                                                    Vous pouvez aussi nous joindre par email à l’adresse support@datawinners.com.
                                                                    Nous sommes là pour vous aider !<br/><br/>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">
                                                                <strong>Restez connecté</strong><br />
                                                                Nous voudrions avoir de vos nouvelles ! Vous pouvez nous suivre sur 
                                                <a href="https://twitter.com/datawinners" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        Twitter
                                                    </span>
                                                </a>, publiez sur notre mur
                                                <a href="https://www.facebook.com/DataWinners" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                   <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                   Facebook
                                                   </span>
                                                </a>
                                                et abonnez vous sur notre
                                                <a href="http://datawinners.wordpress.com/" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    blog.
                                                    </span>
                                                </a>
                                                Le blog est un bon moyen de découvrir les nouvelles fonctionnalités et les événements DataWinners à venir.
                                            </p>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                </p>

                                                <p>Amusez-vous bien,<br /><br/>
                                                Votre Equipe DataWinners<br />
                                                <a href="http://www.datawinners.com" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    www.datawinners.com
                                                    </span>
                                                </a>
                                                </p><br />

                                            </td>
                                        </tr>
                                    </table>
                                 </td>
                                <!--  beginning of right content -->
                                <td width="240" bgcolor="#ffea7d" valign="top" style="color: #333333; font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;border: 1px solid #f4be36;">
                                    <table style="border-bottom: 1px solid #f4be36;">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p><strong><span style="font-size: 12px;">Jetez un coup d’oeil sur notre nouvel Aperçu DataWinners </span></strong><br />
                                                <img width="130" src="http://{{ site.domain }}/media/images/whatis/steps.png"/>
                                                <br />
                                                <a href="http://{{ site.domain }}/en/what-is-datawinners/" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">» En savoir plus</span></a><br />
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                    <table  width="100%">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p><strong><span style="font-size: 12px;">Voyez ce que vous pouvez faire avec DataWinners</span></strong><br /><br />
                                                <a href="http://{{ site.domain }}/fr/what-is-datawinners/how-it-works/" style="border:none;text-decoration: none;">
                                                    <img  title="Cliquer pour voir  ce que vous pouvez faire avec DataWinners" style="border:none;text-decoration: none;" src="http://www.mandrosoa.org/images/newsletter/dw_howitworks.jpg" />
                                                </a><br />
                                                <a href="http://{{ site.domain }}/fr/what-is-datawinners/how-it-works/" style="color: #4379A2;font-weight: normal;text-decoration: none;"><br/> <span style="color: #4379A2;font-weight: normal;text-decoration: none;">» En savoir plus</span></a><br />
                                                </p>

                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                {% include 'email/basicaccount/email_footer_fr.html' %}
                            </tr>
                        </tbody>
                </table>
                <br /><br />
            </td>
        </tr>
    </tbody>
    </table>
</body>
</html>
