{% extends 'layout_application.html' %}
{% block page_title %}Dashboard{% endblock %}

{% block section_title %}Dashboard{% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "dashboard" %}
{{ block.super }}
{% endblock %}

{% load i18n %}
{% block content %}
    <div>
        <div class="box" >
            <p>Welcome {{ user.get_profile.title }} {{ user.first_name }}</p>
            <p>Organization ID : {{organization.org_id}}</p>
            <p>Organization Name : {{organization.name}}</p>
            <p>Organization Office Phone : {{organization.office_phone}}</p>
        </div>
        <div class="margin_top_20">
            <a href="{% url datawinners.entity.views.create_data_sender %}">Register Reporter</a><br/>
            <a href="{% url datawinners.project.views.index %}">View all projects</a><br/>
            <a href="{% url datawinners.project.views.create_profile %}">Create project</a><br/>
            <a href="{% url datawinners.entity.views.create_subject %}">Register Subjects</a>
        </div>
    </div>
{% endblock %}