{% extends 'layout_registration.html' %}
{% load i18n %}
{% block page_title %} {% trans "Login" %} {% endblock %}
{% block section_title %} {% trans "Sign In to Your Account on ThoughtWorks Data Collection" %} {% endblock %}
{% block page_js %}
    <script type="text/javascript" >
        $(document).ready(function(){
            $('#logout_link').hide()
        })
    </script>
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_login.css" rel="stylesheet" />
{% endblock %}

{% block messages %}
    {% if form.errors and not form.username.errors and not form.password.errors %}
        <div class=" error span-12 push-6 message-box">
            {% for key,error in form.errors.items %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="signin">
        <fieldset>
            <form action="" method="POST" class="signin_form">
                {% csrf_token %}
                    <ul>
                        <li class="{{ form.username.css_classes  }} form-row-10px">
                            <label for="id_username">Email</label>
                            {{ form.username }}
                            {{ form.username.errors }}
                        </li>
                        <li class="{{ form.password.css_classes  }} form-row-10px">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                            {{ form.password.errors }}
                        </li>
                        <li class="login_button">
                            <div class="login_button_div"><input type="submit"  id="id_login" value="{% trans 'Sign in' %}" class="button"/></div>
                            <div class='login_links_div'><span>{% trans "Not registered?" %} <a href="/register">{% trans "Create an account" %}</a> <br> <a href="{% url django.contrib.auth.views.password_reset %}">{% trans "Reset Password" %}</a></span></div>
                        </li>
                    </ul>
            </form>
        </fieldset>
    </div>
{% endblock %}
