{% extends 'layout_registration.html'  %}
{% load i18n %}
{% block page_title %} {% trans "Password reset" %} {% endblock %}
{% block section_title %} {% trans "Forgot Your Password?" %} {% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_reset_password.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div >
        <fieldset>
            <p>{% trans "Type the full email address you use to sign in to your ThoughtWorks Data Collection Account." %}</p>
            <p>{% trans "We will email you a code to this Email." %}</p>
            <form method="post" action="." class="reset_form">
                {% csrf_token %}
                <ul class="reset_password">

                        <li class="{{ form.email.css_classes  }} form-row-10px">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                            {{ form.email.errors }}
                        </li>
                        <li class="span-8">
                           <div class='reset_button_div'><input type="submit" value="{% trans 'Get Password' %}" class="button"/></div>
                           <div class='links_div'><span>{% trans "Not registered?" %} <a href="/register">{% trans "Create an account" %}</a></span></div>
                        </li>
                    </ul>
            </form>
        </fieldset>

    </div>
{% endblock %}

