<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>Datawinners mailing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width">
</head>
<body style="margin:0px; padding:0px; -webkit-text-size-adjust:none;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0"  bgcolor="#d0e2f0";>
    <tbody>
        <tr>
            <td  align="center">
                <br /><br />
                <table  cellpadding="0" width="940" cellspacing="0" border="0" style="border-width: 1px;border-color: #DDDDDD; border-style: solid;">
                        <tbody>
                            <tr>
                                <td  align="left" bgcolor="#333333" width="100%" height="46" colspan="2" style="color: #FFFFFF;font-family: Helvetica;font-size: 20px;">
                                    &nbsp;&nbsp;
                                        <span  style="border: none; text-decoration: none; font-family: Helvetica; color: #fff; ">
                                            <span style="font-size: 22px;">
                                            <b>Data</b>Winners
                                            </span>
                                             | Bienvenue sur DataWinners
                                        </span>
                                 </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" valign="top" width="620" style=" font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;">
                                    <table>
                                        <tr>
                                            <td width="10"></td>
                                            <td style="text-align: justify; color: #333333; ">

                                            <p>Bonjour {{ username }},</p>

											<p>
                                                Merci de vous être enregistré pour un Compte Pro SMS DataWinners !<br/>
                                                <a href="http://{{ site.domain }}{% url registration_activate activation_key %}" style="text-decoration: none">
                                                    Activez votre compte</a> dans les 7 prochains jours.
                                            </p>
											<p>
                                                Nous vous enverrons un email dans les prochaines 24 heures avec votre facture (pour un total de $ {{ invoice_total }} pour {{ period }})
                                                ainsi que les prochaines étapes sur comment activer la collecte de données par SMS. 
											</p>

											<p>
                                                Pour l’instant, vous pouvez commencer à utiliser DataWinners pour créer
                                                vos Questionnaires et collecter des données en utilisant le Web
                                                et votre Smartphone et Tablette Android.
											</p>
                                            <p>
                                                <strong>Comment collecter des données </strong><br/>
                                                Collectez vos données en utilisant n’importe quelle combinaison du Web, Application Android et SMS.
                                                Vous choisissez les canaux qui vous conviennent à vous et à vos Expéditeurs de Données.
                                                <ol>
                                                <li>
                                                    <b>SMS </b>: Utilisez n'importe quel téléphone mobile pour envoyer des données en utilisant le SMS.
                                                </li>
                                                <li>
                                                    <b>Web </b>: Remplissez le Questionnaire en ligne.
                                                </li>
                                                <li>
                                                    <b>Application Android </b>: Téléchargez les Questionnaires directement à partir de votre Smartphone et Tablette Android.
                                                </li>
                                                </ol>
                                            </p>

											<p>
                                                <b>Besoin d’aide?</b><br/>
                                                Si vous avez besoin d'aide pour commencer, visitez notre
                                                <a href="https://www.datawinners.com/en/support/find-answers" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        FAQ
                                                    </span>
                                                </a>
                                                et autre
                                                 <a href="https://www.datawinners.com/en/support" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        support
                                                    </span>
                                                </a>en ligne.
                                                Vous pouvez aussi nous joindre par email à l’adresse support@datawinners.com.
                                                Nous sommes là pour vous aider !

                                            </p>

                                            <p>
                                                <b>Rester en contact</b><br/>
                                                Nous voudrions avoir de vos nouvelles ! Vous pouvez nous suivre sur 
                                                <a href="https://twitter.com/datawinners" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    <span style="color: #4379A2;font-weight: normal;text-decoration: none;">Twitter,</span>
                                                </a>
                                                publiez sur notre mur
                                                <a href="https://www.facebook.com/DataWinners" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                   <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                   Facebook
                                                   </span>
                                                </a>
                                                et abonnez vous sur notre 
                                                <a href="http://hni.org/blog" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    blog.
                                                    </span>
                                                </a>
                                                Le blog est un bon moyen de découvrir les nouvelles fonctionnalités et les événements DataWinners à venir.
                                            </p>
                                            <p>
                                                Amusez-vous bien,
                                            </p>
                                            <p>
                                                Votre Equipe Datawinners<br/>
                                                <a href="https://www.datawinners.com/fr/" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        www.datawinners.com
                                                    </span>
                                                </a>
                                            </p>

                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                 </td>
                                <td width="240" bgcolor="#ffea7d" valign="top" style="color: #333333; font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;border: 1px solid #f4be36;">
                                    <table style="border-bottom: 1px solid #f4be36;">
                                        <tr>
                                            <td width="10"></td>
                                            <td  align="left">
                                                <p><strong><span style="font-size: 12px;">En savoir plus sur Comment créer un Questionnaire</span></strong><br />
                                                Ce guide vous aidera à débuter avec Datawinners. <br/>
                                                Laissez-nous vous guider à travers le processus, étape par étape.<br/>
                                                    <a href="http://{{ site.domain }}/media/files/comment_creer_un_questionnaire.pdf" target="_blank" style="color: #4379A2;font-weight: normal;text-decoration: none;">Comment créer un Questionnaire</a> &nbsp;(PDF, 17 pages, 1.9Mo)<br/>

                                                </p>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                    <table style="border-bottom: 1px solid #f4be36;">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p><strong><span style="font-size: 12px;">Jetez un coup d’oeil sur notre nouvel Aperçu DataWinners</span></strong><br />
                                                <a href="https://www.datawinners.com/fr/what-is-datawinners/" style="border:none;text-decoration: none;">
                                                <img width="130" src="http://{{ site.domain }}/media/images/whatis/steps.png"/>
                                                </a>
                                                <br /><br />
                                                <a href="https://www.datawinners.com/fr/what-is-datawinners/" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">» En savoir plus</span></a><br />
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                    <table>
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p><strong><span style="font-size: 12px;">Voyez ce que vous pouvez faire avec DataWinners</span></strong><br /><br />
                                                <a href="https://www.datawinners.com/fr/what-is-datawinners/how-it-works/" style="border:none;text-decoration: none;">
                                                    <img  title="Click to see what you can do with DataWinners" style="border:none;text-decoration: none;" src="http://www.mandrosoa.org/images/newsletter/dw_howitworks.jpg" />
                                                </a><br /><br />
                                                <a href="https://www.datawinners.com/fr/what-is-datawinners/how-it-works/" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">» En savoir plus</span></a><br />
                                                </p>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                {% include 'email/basicaccount/email_footer_fr.html' %}
                            </tr>
                        </tbody>
                </table>
                <br /><br />
            </td>
        </tr>
    </tbody>
    </table>
</body>
</html>
