<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>Datawinners mailing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width">
</head>
<body style="margin:0px; padding:0px; -webkit-text-size-adjust:none;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0"  bgcolor="#d0e2f0";>
    <tbody>
        <tr>
            <td  align="center">
                <br /><br />
                <table  cellpadding="0" width="940" cellspacing="0" border="0" style="border-width: 1px;border-color: #DDDDDD; border-style: solid;">
                        <tbody>
                            <tr>
                                <td  align="left" bgcolor="#333333" width="100%" height="46" colspan="2" style="color: #FFFFFF;font-family: Helvetica;font-size: 20px;">
                                    &nbsp;&nbsp;
                                        <span  style="border: none; text-decoration: none; font-family: Helvetica; color: #fff; ">
                                            <span style="font-size: 22px;">
                                            <b>Data</b>Winners
                                            </span>
                                             | Welcome to DataWinners
                                        </span>
                                 </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" valign="top" width="620" style=" font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;">
                                    <table>
                                        <tr>
                                            <td width="10"></td>
                                            <td style="text-align: justify; color: #333333; ">

                                            <p>Hello {{ username }},</p>

											<p>Thank you for signing up for your DataWinners Pro Account!<br/>
                                               <a href="http://{{ site.domain }}{% url registration_activate activation_key %}" style="text-decoration: none">
                                                   Activate your account
                                               </a>
                                               and  immediately start creating your Questionnaires and collect data using the Web and <br/>your Android Smartphone and Tablet.
                                            <p>
                                                We will send you and email within the next 24 hours with your invoice (total of $ {{ invoice_total }} for {{ period }}).
                                            </p>
											<p><strong>How to Collect Data</strong><br />
                                                Collect your data using any combination of Web and Android App.
                                                You choose the channels most convenient <br />for you and your Data Senders:
                                                <ol>
                                                <li>
                                                    <b>Web</b>: Fill out the Questionnaire online.
                                                </li>
                                                <li>
                                                    <b>Android App</b>: Download Questionnaires directly onto your Android Smartphone and Tablet.
                                                </li>
                                                </ol>
                                            </p>

											<p><strong>Need Help?</strong><br />
                                                If you need help getting started, check out our
                                                <a href="http://{{ site.domain }}/en/support/find-answers" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        FAQs
                                                    </span>
                                                </a> and other online
                                                <a href="http://{{ site.domain }}/en/support" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        support
                                                    </span>
                                                </a>.<br/>
                                                We can also be reached via email at support@datawinners.com.<br/> We're here to help!

                                            </p>

                                            <p>
                                                <b>Stay Connected</b><br/>
                                                We'd love to hear from you! You can follow us on
                                                <a href="https://twitter.com/datawinners" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    <span style="color: #4379A2;font-weight: normal;text-decoration: none;">Twitter, </span></a>
                                                post on our
                                                <a href="https://www.facebook.com/DataWinners" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                   <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                   Facebook
                                                   </span>
                                                </a>
                                                wall and comment on our
                                                <a href="http://datawinners.wordpress.com/" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    blog.
                                                    </span>
                                                </a>
                                                The blog is a great way to learn about new features and upcoming DataWinners events.
                                            </p>
                                            <p>
                                                Have fun,
                                            </p>
                                            <p>
                                                Your DataWinners Team<br/>
                                                <a href="https://www.datawinners.com" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        www.datawinners.com
                                                    </span>
                                                </a>
                                            </p>

                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                 </td>
                                <td width="240" bgcolor="#ffea7d" valign="top" style="color: #333333; font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;border: 1px solid #f4be36;">
                                    <table style="border-bottom: 1px solid #f4be36;">
                                        <tr>
                                            <td width="10"></td>
                                            <td  align="left">
                                                <p><strong><span style="font-size: 12px;">Learn How to Create Projects</span></strong><br />
                                                This tutorial will help you get started with DataWinners.<br/>
                                                Let us take you through the process, step-by-step.<br/>
                                                    <a href="http://{{ site.domain }}/media/files/how_to_create_a_project.pdf" target="_blank" style="color: #4379A2;font-weight: normal;text-decoration: none;">Create a new project</a> &nbsp;(PDF, 17 pages, 1.6MB)<br/>
                                                </p>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                    <table style="border-bottom: 1px solid #f4be36;">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p><strong><span style="font-size: 12px;">Check out our new DataWinners Overview</span></strong><br />
                                                <a href="http://{{ site.domain }}/en/what-is-datawinners/" style="border:none;text-decoration: none;">
                                                <img width="130" src="http://{{ site.domain }}/media/images/whatis/steps.png"/>
                                                </a>
                                                <br /><br />
                                                <a href="http://{{ site.domain }}/en/what-is-datawinners/" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">» Read more</span></a><br />
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                    <table>
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p><strong><span style="font-size: 12px;">See what you can do with DataWinners</span></strong><br /><br />
                                                <a href="http://{{ site.domain }}/en/what-is-datawinners/how-it-works/" style="border:none;text-decoration: none;">
                                                    <img  title="Click to see what you can do with DataWinners" style="border:none;text-decoration: none;" src="http://www.mandrosoa.org/images/newsletter/dw_howitworks.jpg" />
                                                </a><br /><br />
                                                <a href="http://{{ site.domain }}/en/what-is-datawinners/how-it-works/" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">» Read more</span></a><br />
                                                </p>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                {% include 'email/basicaccount/email_footer_en.html' %}
                            </tr>
                        </tbody>
                </table>
                <br /><br />
            </td>
        </tr>
    </tbody>
    </table>
</body>
</html>