{% extends 'layout_registration.html' %}
{% load i18n %}
{% block page_title %} {% trans "Registration Confirmation" %} {% endblock %}
{% block section_title %} {% trans "Registration Confirmation" %} {% endblock %}
{% block content %}
    <div class="span-12 box push-6">
        <fieldset>
            <div class="span-8 last">
                <div class="span-8">
                    <div class="form-row-10px">
                        <p class="success-box">{% trans "You have successfully registered" %}!!</p>
                        <p>{% trans "An activation email has been sent to your email address. Please activate before login." %}</p>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
{% endblock %}
