{% extends 'layout_registration.html' %}
{% load i18n %}
{% block page_title %}{% trans "Your one year Test Drive is expired" %}{% endblock %}
{% load i18n %}

{% block content %}
    <div class="expired-message-box">
        <h3>{% trans "Your one year Test Drive is expired" %}</h3>

        <p>{% trans "Thank you for trying out DataWinners" %}</p>

        <p>{% trans "Sign up for a monthly subscription to continue using DataWinners" %}</p>

        <div class="bottom_navigation">
            <a href="/en/pricing">{% trans "Learn More" %}</a>
            <a class="subscribe_now" href="{% url datawinners.accountmanagement.views.upgrade %}">{% trans "Subscribe Now" %}</a>
        </div>
    </div>
{% endblock %}
