{% extends 'layout_registration.html' %}
{% load i18n %}
{% block page_title %}{% trans "Your Account Has Expired" %}{% endblock %}
{% load i18n %}

{% block content %}
    <div class="expired-message-box">
        <h3>{% trans "Your Free Basic Account Has Expired" %}</h3>

        <p>{% trans "Thank you for test-driving DataWinners during the past year." %}</p><br/>

        <p>{% trans "Subscribe now to continue using your DataWinners Account and the<br/>data you have collected over the past year." %}</p>

        <div class="bottom_navigation">
            <a href="https://www.datawinners.com/{{ active_language }}/pricing/">{% trans "Learn More" %}</a>
            <a class="subscribe_now" href="/{{ active_language }}/register">{% trans "Subscribe Now" %}</a>
        </div>
    </div>
{% endblock %}
