{% extends 'layout_registration.html' %}
{% load i18n %}
{% load field_tags %}
{% block page_title %}{% trans "Upgrade" %} {% endblock %}
{% block section_title %} {%  trans "Sign Up To Start Using ThoughtWorks Data Collection Now" %} {% endblock %}
{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/registration/register.js"></script>
    <script type="text/javascript">
        function goBack() {
            history.go(-1);
        }
    </script>
{% endblock %}

{% block content %}
    <div class="span-18 box">
        <fieldset>
            <form id="registration_form" action="" method="POST">
                {% csrf_token %}
                <div class="form-5px">
                    <ul>
                        <li><span class="bold">{% trans "upgrade edit note" %}</span></li>
                    </ul>
                    <ul class="organization">
                        <li>
                            <h3 class="highlighted_title">{% trans "Your Organization" %}<br/></h3>
                        </li>
                        <li><label>{% trans "Organization Name" %}</label>{{ organization.name }}</li>
                        <li><label>{% trans "Organization Sector" %}</label>{{ organization.sector }}</li>
                        <li><label>{% trans "Address" %}</label>{{ organization.address }}</li>
                        <li><label>{% trans "City" %}</label>{{ organization.city }}</li>
                        <li><label>{% trans "State / Province" %}</label>{{ organization.state }}</li>
                        <li><label>{% trans "Postal / Zip Code" %}</label>{{ organization.zipcode }}</li>
                        <li><label>{% trans "Country" %}</label>{% trans organization.country_name %}</li>
                        <li><label>{% trans "Office Phone Number" %}</label>{{ organization.office_phone }}</li>
                        <li><label>{% trans "Website Url" %}</label>{{ organization.website }}</li>
                    </ul>
                    <ul class="administrative">
                        <li>
                            <h3 class="highlighted_title">{% trans "Point of Contact / Account Administrator" %}<br/>
                            </h3>
                        </li>
                        <li><label>{% trans "Job title" %}</label>{{ profile.title }}</li>
                        <li><label>{% trans "First Name" %}</label>{{ user.first_name }}</li>
                        <li><label>{% trans "Last Name" %}</label>{{ user.last_name }}</li>
                        <li><label>{% trans "User Name" %}</label>{{ user.username }}</li>
                        <li><label>{% trans "Office Phone" %}</label>{{ profile.office_phone }}</li>
                        <li><label>{% trans "Mobile Phone" %}</label>{{ profile.mobile_phone }}</li>
                        <li><label>{% trans "Skype" %}</label>{{ profile.skype }}</li>
                    </ul>
                    <ul class="payment_details">
                        <li>
                            <h3 class="highlighted_title">{% trans "Payment Details" %}</h3>
                        </li>
                        <li class="{{ form.invoice_period.css_classes }} form-row-10px">
                            {{ form.invoice_period|field_label }}
                            {{ form.invoice_period }}

                            {{ form.invoice_period.errors }}
                        </li>

                        <li class="{{ form.preferred_payment.css_classes }} form-row-10px">
                            {{ form.preferred_payment|field_label }}
                            <div>
                                <div class="choices_description">{% trans "We will contact you via email to arrange the payment.<br /> Which payment option do you prefer?" %}</div>
                                <ul style="margin-left:170px">
                                    {{ form.preferred_payment }}
                                </ul>
                                {{ form.preferred_payment.errors }}
                            </div>

                        </li>
                        <li>
                            <span class="bold">{% trans "upgrade project note" %}</span>
                        </li>
                        <li>
                            <input type="checkbox" id="agree-terms" value="1" {% ifequal messages.request.method 'POST' %}checked="checked"{% endifequal %}/>{% trans "agree-terms" %}
                        </li>

                        <li class="margin_top_20">
                            <a class="float_left margin_top_15" href="javascript: goBack()">{% trans "Cancel" %}</a>
                            <input type="button" id="submit_registration_form" value="{% trans 'Upgrade' %}"
                                   class="button margin_left_20"/>

                        </li>
                    </ul>
                </div>
            </form>
        </fieldset>
    </div>

    <div id='user_should_agree_terms_block'>
        {% trans "To sign up for a DataWinners account, you need to agree to our Terms and Conditions" %}
        <br/>
        <div class="float_right">
            <a href="javascript:void(0);" id="cancel-agree-terms" class="cancel_link">{% trans "Cancel" %}</a>
            <a href="#" class="button agree_link">{% trans "I Agree" %}</a>
        </div>
    </div>
    <div id="content_of_terms_and_conditions">

    </div>
{% endblock %}