{% extends 'layout_registration.html' %}
{% load i18n %}
{% load field_tags %}
{% block page_title %}{% trans "Upgrade" %} {% endblock %}
{% block section_title %} {%  trans 'Upgrade to a Pro Account' %} {% endblock %}
{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/registration/register.js"></script>
    <script type="text/javascript">
        function goBack() {
            history.go(-1);
        }
    </script>
{% endblock %}

{% block content %}
    <div class="span-18 box">
        <fieldset>
            <form id="registration_form" class="registration_form" action="" method="POST">
                {% csrf_token %}
                <div class="form-5px">
                    <ul class="organization">
                        <li>
                            <h3 class="highlighted_title">{% trans "Your Organization" %}<br/></h3>
                            {{ organization.org_id.as_hidden }}
                        </li>
                        <li><label>{% trans "Organization Name" %}</label>{{ organization.name }}{{ organization.name.errors }}</li>
                        <li>{{ organization.sector|field_label }}{{ organization.sector }}{{ organization.sector.errors }}</li>
                        <li><label>{% trans "Address" %}</label>{{ organization.address }}{{ organization.address.errors }}</li>
                        <li><label>{% trans "City" %}</label>{{ organization.city }}{{ organization.city.errors }}</li>
                        <li>{{ organization.state|field_label }}{{ organization.state }}{{ organization.state.errors }}</li>
                        <li><label>{% trans "Postal / Zip Code" %}</label>{{ organization.zipcode }}{{ organization.zipcode.errors }}</li>
                        <li><label>{% trans "Country" %}</label>{{ organization.initial.country.name }}{{ organization.country.as_hidden }}</li>
                        <li>{{ organization.office_phone|field_label }}{{ organization.office_phone }}{{ organization.office_phone.errors }}</li>
                        <li>{{ organization.website|field_label }}{{ organization.website }}{{ organization.website.errors }}</li>

                    </ul>
                    <ul class="administrative">
                        <li>
                            <h3 class="highlighted_title">{% trans "Point of Contact / Account Administrator" %}<br/></h3>
                        </li>
                        <li>{{ profile.title|field_label }}{{ profile.title }}</li>
                        <li><label>{% trans "Name" %}</label>{{ profile.full_name }}{{ profile.full_name.errors }}</li>
                        <li><label>{% trans "Email address" %}</label>{{ user.username }}{{ profile.username.as_hidden }}</li>
                        <li><label>{% trans "Mobile Phone" %}</label>{{ profile.mobile_phone }}{{ profile.mobile_phone.errors }}</li>
                    </ul>
                    <ul class="payment_details">
                        <li>
                             <h3 class="highlighted_title">{%  trans "Account & Payment Details" %}</h3>
                        </li>

                        <li class="{{ form.account_type.css_classes }} form-row-10px">
                            {{ form.account_type|field_label }}
                            {{ form.account_type }}

                            {{ form.account_type.errors }}
                        </li>
                        <li class="{{ form.invoice_period.css_classes }} form-row-10px">
                            {{ form.invoice_period|field_label }}
                            {{ form.invoice_period }}

                            {{ form.invoice_period.errors }}
                            <label class="clear_both">&nbsp;</label>
                            <ul><li><label>
                                <div class="radio_title">{% trans "Invoice Total" %}:$ <span id="invoice_total_span"></span></div>
                            </label></li></ul>
                        </li>

                        <li class="{{ form.preferred_payment.css_classes }} form-row-10px">
                            {{ form.preferred_payment|field_label }}
                            <div>
                                <div class="choices_description">{% trans "We will contact you via email to arrange the payment.<br /> Which payment option do you prefer?" %}</div>
                                <ul>
                                    {{ form.preferred_payment }}
                                </ul>
                                {{ form.preferred_payment.errors }}
                            </div>

                        </li>
                        <li>
                            <span class="bold">{% trans "upgrade project note" %}</span>
                        </li>
                        <li>
                            <input type="checkbox" id="agree-terms" value="1" {% ifequal messages.request.method 'POST' %}checked="checked"{% endifequal %}/>{% trans "agree-terms" %}
                        </li>

                        <li class="margin_top_20">

                            <input type="button" id="submit_registration_form" value="{% trans 'Upgrade' %}"
                                   class="button margin_left_20 margin_top_10"/>
                            <a class="float_right margin_top_15" href="javascript: goBack()">{% trans "Cancel" %}</a>

                        </li>
                    </ul>
                </div>
            </form>
        </fieldset>
    </div>

    <div id='user_should_agree_terms_block'>
        {% trans "To sign up for a DataWinners account, you need to agree to our Terms and Conditions" %}
        <br/>
        <div class="float_right">
            <a href="javascript:void(0);" id="cancel-agree-terms" class="cancel_link">{% trans "Cancel" %}</a>
            <a href="#" class="button agree_link">{% trans "I Agree" %}</a>
        </div>
    </div>
    <!--<div id="content_of_terms_and_conditions">
        <div class="content" style="">
        </div>
        <div class="text_align_right margin_top_15">
            <a id="terms_ok" href="javascript:void(0)" class="button">{% trans "OK, Got it" %}</a>
        </div>
    </div>--!>
{% endblock %}