.dataTables_wrapper{ margin-top: 10px;}
.dataTables_filter {
    display: none;
    float: right;
    padding-top:4px;
}
.dataTables_info {
    float: left;
    padding-right: 2em;
    padding-left: 1em;
    padding-top: 6px;
}
.dataTables_length{
    float:right;
    margin-top: 2px;
}
.disabled_button, span.paginate_more_disabled, .paginate_disabled_previous, .paginate_disabled_next {
    background: none repeat scroll 0 0 #DFEDF4;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-style: solid;
    border-width: 1px;
    color: #AAAAAA;
    cursor: default;
    margin: 0;
    padding: 4px 10px;
}
.pagination_button, .paginate_enabled_next, .paginate_enabled_previous, .paginate_more {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ccdfed), to(#b0cfd7));
    background: -moz-linear-gradient(center top , #CCDFED, #B0CFD7) repeat scroll 0 0 rgba(0, 0, 0, 0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#CCDFED, endColorStr=#B0CFD7);
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-style: solid;
    border-width: 1px;
    margin: 0;
    padding: 4px 10px;
    cursor: pointer;
}
  .pagination_button:hover, .paginate_enabled_next:hover, .paginate_enabled_previous:hover, .paginate_more:hover {
    background: #DBE6F1; }
  .pagination_button:active, .paginate_enabled_next:active, .paginate_enabled_previous:active, .paginate_more:active {
    box-shadow: inset 0px 0px 2px 2px rgba(33, 33, 33, 0.1);
    -webkit-box-shadow: inset 0px 0px 2px 2px rgba(33, 33, 33, 0.1); }

.paginate_more,span.paginate_more_disabled {
    border-radius: 0 4px 4px 0;
    border-width: 1px 1px 1px 0;
    padding: 4px;
}
.paginate_disabled_previous,.paginate_enabled_previous {
        border-radius: 4px 0 0 4px;
 }
.table_action_button{
    float:left;
}
.dataTables_wrapper table{
    clear: both;
    border-spacing:0;
    border-collapse:collapse;
    margin-bottom: 0px;
}
.table_wrapper{
    margin-bottom:8px;
    padding-top:10px;
}
.dataTables_paginate{ float: left; padding-top:8px; padding-bottom: 3px;}
ul.dropdown-menu>li.disabled a,ul.dropdown-menu>li.disabled label {
    background-color: #FFFFFF !important;
    color: #AAAAAA !important;
    cursor: default !important;
    font-weight: normal;
    line-height: 24px;
}
ul.dropdown-menu>li.disabled label{
    color: #8A7F7F;
    font-family: tahoma,arial,helvetica,sans-serif;
    font-size: 16px;
    font-style: italic;
}
.dataTables_wrapper table thead th {
    color: #FFFFFF;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    padding: 10px 35px 10px 10px;
}
.dataTables_wrapper table thead .sorting {
   background-image: url("/media/images/sort_arrow.png");
   background-repeat: no-repeat;
   background-position: right center;
}
.dataTables_wrapper table thead .sorting_desc {
  background-image: url("/media/images/sort_arrow_active_bottom.png");
  background-repeat: no-repeat;
  background-position: right center;
}
.dataTables_wrapper table thead .sorting_asc {
  background-image: url("/media/images/sort_arrow_active_top.png");
  background-repeat: no-repeat;
  background-position: right center;
}
.dataTables_wrapper table thead {
    height: 40px;
    background-color: #525252;
    background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#3d3d3d));
    background: -moz-linear-gradient(top, #525252, #262626);
}

.dataTables_wrapper table td, table th {
    border: 1px solid #CCCCCC;
    padding: 6px;
}
.select_all_message {
    clear: both;
    height: 2em;
    left: 0;
    padding-top: 5px;
    text-align: center;
    width: 910px;
}
.table_wrapper{
    overflow-x: auto;
    clear:both;
}
.dataTables_wrapper table thead th.checkbox_col{padding: 0;}
.table_action_button .btn {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ccdfed), to(#b0cfd7));
  background: -moz-linear-gradient(top, #ccdfed, #b0cfd7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#CCDFED, endColorStr=#B0CFD7);
  display: inline-block;  /* IE is so silly */
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ccdfed, #B0CFD7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ccdfed), to(#B0CFD7));
  background-image: -webkit-linear-gradient(top, #ccdfed, #B0CFD7);
  background-image: -o-linear-gradient(top, #ccdfed, #B0CFD7);
  background-image: linear-gradient(to bottom, #ccdfed, #B0CFD7);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffccdfed', endColorstr='#ffB0CFD7', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #B0CFD7;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #B0CFD7;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #B0CFD7;
  *background-color: #B0CFD7;
}

.dataTables_wrapper table tbody td.table_message{
  padding: 0;
  border: 1px solid #A6C7F2;
  background-color: #E9F6FE;
}

#select_all_message {
  clear: both;
  height: 2em;
  text-align: center;
  padding-top: 5px;
  width: 910px;
  left: 0px;
  text-align: center;
}

table.submission_table .select_all_message{
  clear: both;
  height: 2em;
  padding-top: 5px;
  width: 1763px;
  left: 0px;
  text-align: center;
}
