{% extends extension_template %}
{% load i18n %}
{% load questionnaire_preview_tags %}

{% block secondary_navigation %}
    {{ block.super }}
    <li>
        <a href="javascript:void(0);" class="import-subject">{% trans "Import a List of Subjects" %}</a>&nbsp;|&nbsp;
    </li>
{% endblock %}


{% block page_content %}

    <div class="instruction">
    {#  Make sure that the block translation is in one single line as otherwise translation lookup fails.      #}
        {% blocktrans %}Define what information you want to collect about each {{ entity_type }}.{% endblocktrans %}
    </div>

    <div id="subject_reg_block">
        <div id="my_subjects_links">
            <ul>
                <li><a href="{% url edit_subject_questionnaire entity_type %}"
                       class="edit-form-link">{% trans "Edit" %}</a>
                </li>
                <li><a href="javascript:void(0)" class="preview_subject_registration_form">{% trans "Print" %}</a>
                </li>
                <li class="view_link">{% trans "View Style:" %}</li>
                <li class="sms_link"><a href="javascript:void(0)" id="sms_preview_btn">SMS</a></li>
                <li class="sms_link"><a href="javascript:void(0)" class="active" id="web_preview_btn">Web</a></li>
            </ul>
            <div class="clear-right"></div>
        </div>
        {#    form heading start   #}
        <div id="web_form_heading">
            {#  Make sure that the block translation is in one single line as otherwise translation lookup fails.      #}
            <h2 class="font_size_14">
                {% blocktrans with entity_type|capfirst as entity_type %}Web {{ entity_type }} Registration Form{% endblocktrans %}
            </h2>

            <div class="instruction">
            {#  Make sure that the block translation is in one single line as otherwise translation lookup fails.      #}
                {% blocktrans with "/entity/datasenders/" as url %}All Data Senders who have access to this form can register a new {{ entity_type }} online. You can give them web submission access on the <a href="{{ url }}">All Data Senders</a> page.{% endblocktrans %}
            </div>
        </div>
        <div id="sms_form_heading" hidden="true">
            <h2 class="font_size_14">
                {#  Make sure that the block translation is in one single line as otherwise translation lookup fails.      #}
                {% blocktrans  with entity_type|capfirst as entity_type %}SMS {{ entity_type }} Registration Form{% endblocktrans %}
            </h2>

            <div class="instruction">
                {% trans "Your Data Senders can register a new clinic via SMS. Print out this form and give it to your Data Senders." %}
            </div>
            {#    form heading end #}
        </div>
    </div>

    {% include 'entity/subject_questionnaire.html' %}

    <div id="sms_preview" class="subject_registration_preview" hidden="true">
        <a href="#" class="printBtn" hidden="true">{% trans "Print" %}</a>
        <ul class="questionnaire_title">
            <li>
                <p>{% trans "SMS your answers to:" %}</p>
                <h5>{{ org_number|format_organization_number }}</h5>
            </li>
            {% if project.name %}
                <li>
                    <p>{% trans "Project Name:" %}</p>
                    <h5>{{ project.name }}</h5>
                </li>
            {% endif %}
            <li>
                <p>{% trans "Questionnarie Code:" %}</p>
                <h5>{{ form_code }}</h5>
            </li>
            <li class="margin_top_10">
                <p>{% trans "Example SMS:" %} </p>

                <p class="sms_exemple">{{ example_sms }}</p>
            </li>
        </ul>
        <div id="preview_form"></div>
    </div>
{% endblock %}
