{% extends 'layout_application.html' %}
{% load i18n %}
{% block page_title %}{% trans "Dashboard" %}{% endblock %}
{% block section_title %}{% trans "Dashboard" %}{% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "dashboard" %}
{{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_dashboard.css" rel="stylesheet" />
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/home/dashboard.js"></script>
{% endblock %}

{% block navigation %}
    <div class="grid_24">
        <div class="grid_11 margin_left_null margin_bottom_20 create_proj_button">
            <a id="create_project_link" href="{% url datawinners.project.wizard_view.create_project%}" class="button">{% trans "Create a new project" %}</a><img src="/media/images/help_icon.png" class="help_icon" style="margin-top:-6px;">
            <div class="tooltip"><p>{% trans "help_project_creation"%}</p></div>
        </div>
    </div>
{% endblock %}


{% block content %}

    {% for message in messages %}
            <div class="{{ message.tags }} success-box">{{ message }}</div>
    {% endfor %}
    <div id="how_to" class="none">
        <h3><span class="title">{% trans "How to use Datawinners" %}</span><img src="/media/images/help_icon.png" class="help_icon" style="margin-top:-6px;">
            <div class="tooltip"><p>{% trans "Click on the triangle to the left of 'How to use DataWinners' to expand or collapse the box." %}</p></div>
        </h3>
         <p>
            {% trans "help_how_to_use_dw" %}
         </p>
    </div>

    <div class="grid_17 margin_left_null dashboard_left">
        <h4 class="grid_16 omega alpha">{% trans "Your Most Recent Projects" %}</h4>
        <div id="projects">
        {% for project in projects %}
            <div class="project_header">
                <span class="header">{{ project.name|capfirst }} </span>
                <span id="submission_success_breakup_{{ project.id }}" class="success_error"></span>
            </div>
            <div>
                <a class="go_to_project"href="{{ project.link }}">{% trans "go to this project" %}»</a>
                {% if project.inactive %}
                    <strong>{% trans "This project is inactive"%}</strong><br/>
                {% endif %}
                {% if not project.inactive %}
                    <span class="project_id none">{{ project.id }}</span>
                    <img class="ajax_loader_image none" src="/media/images/ajax-loader-horizontal-bar.gif"/>
                    <table>
                        <tbody class="submission_list">

                        </tbody>
                    </table>
                {% endif %}
            </div>
        {% endfor %}
        </div>
        <a class="grid_4  omega alpha view_all_projects" href="{% url index %}">{% trans "view all projects"%} »</a>
    </div>
    <div class="grid_5 alpha omega dashboard_right">
    {% if trial_account and user.groups.all.0.name == 'NGO Admins' %}
        <div class="warning-message-box clear-both overflow_hidden padding_5" id="blue_message_box">
            <b>{% trans "Go Pro" %}</b><br/>
            {% if has_reached_a_limit %}
                {% trans "You have reached your free Submission limit. Each Basic Account is limited to 1000 Submissions including 50 SMS Submissions." %}
                <br/>
                {% trans "For unlimited Submissions upgrade to a monthly subscription." %}
            {% else %}
                {% trans "For unlimited data collection and advanced features, consider a Pro Account upgrade!" %}
            {% endif %}
            <br/><br/>
            <a href="/upgrade/" class="button float_right button_{% trans "en" %}">{% trans "Subscribe Now" %}</a><a href="/{{ language }}/pricing/" class="float_right margin_top_5 margin_right_4">{% trans "Learn More" %}</a>
            <br/>
            <br class="clear_both"/>
        </div>
    {% endif %}
        <h4 class="margin_bottom_10">{% trans "Statistics" %}</h4>
        <h6>{% trans "Submissions Received" %}</h6>
        <table class="no-border">
            <tr><td width="55%">&nbsp;</td><td width="30%" class="italic grey font_size_10">{% trans "This Month" %}</td><td width="15%" class="italic grey font_size_10">{% trans "Total" %}</td></tr>
            <tr><td>{% trans "SMS" %}</td><td>{{ counters.sms_submission_current_month }}</td><td>{{ counters.total_sms_submission }}</td></tr>
            <tr><td>{% trans "Smartphone" %}</td><td>{{ counters.sp_submission_current_month }}</td><td>{{ counters.total_sp_submission }}</td></tr>
            <tr><td>{% trans "Web" %}</td><td>{{ counters.web_submission_current_month }}</td><td>{{ counters.total_web_submission }}</td></tr>
            <tr><td><b>{% trans "Total" %}</b></td><td><b>{{ counters.total_submission_current_month }}</b></td><td><b>{{ counters.combined_total_submissions }}</b></td></tr>
            <tr><td colspan="3">&nbsp;</td></tr>
            <tr><td colspan="3"><h6>{% trans "Your SMS Usage This Month" %}</h6></td></tr>
            <tr><td>{% trans "Reply SMS" %}</td><td>{{ counters.sms_reply}}</td><td>&nbsp;</td></tr>
            <tr><td>{% trans "Reminders" %}</td><td>{{ counters.reminders }}</td><td>&nbsp;</td></tr>
            <tr><td>{% trans "Send a message" %}</td><td>{{ counters.send_a_msg_current_month }}</td><td>&nbsp;</td></tr>
            <tr><td>{% trans "API" %}</td><td>{{ counters.sent_via_api_current_month }}</td><td>&nbsp;</td></tr>
            <tr><td><b>{% trans "Total SMS Sent" %}</b></td><td><b>{{ counters.total_sent_sms }}</b></td><td>&nbsp;</td></tr>
            <tr><td colspan="3">&nbsp;</td></tr>
            <tr><td><b>{% trans "Total SMS" %}</b></td><td style="vertical-align:top;"><b>{{ counters.total_sms_current_month }}</b></td><td>&nbsp;</td></tr>
            <tr><td><span class="small font_size_10">({% trans "sent & received" %})</span></td><td colspan="2">&nbsp;</td> </tr>
        </table>
    </div>
{% endblock %}
