{% extends 'layout_application.html' %}
{% block page_title %} Start Page {% endblock %}
{% block section_title %} {{ title }} {% endblock %}
{% load i18n %}
{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" active_tab %}
{{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_dashboard.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    {% blocktrans %} Once you have created questionnaires, a list of your {{ text }} will appear here.{% endblocktrans %}

    {% trans "To get started with DataWinners" %}, <a id="create_project_link" href="{% url create_project %}?prev=dash#create">{% trans "order_to_create_project"%}</a>
{% endblock %}
