{% extends 'layout_application.html' %}
{% block page_title %}Subjects{% endblock %}

{% block section_title %}Subjects{% endblock %}

{% load dw_tabs %}
{% block body %}
    {% activetab "main_nav" "subjects" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_subjects.scss" rel="stylesheet"/>
{% endblock %}

{% load i18n %}
{% block content %}
    <div>
        <fieldset>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <ul class="import_subjects">
                    <li class="{{ form.file.css_classes }} browse_subjects">
                        {{ form.file.label_tag }}
                        {{ form.file }}
                        {{ form.file.errors }}
                    </li>
                    <li class="add_subjects">
                        <input type="submit" value="Upload" class="button"/>
                        <a class="float_right add_subject_link" href="{% url datawinners.admin.views.register_entity %}">Add a subject</a>
                    </li>
                </ul>
            </form>
        </fieldset>
       {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="error {{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if failure_data %}
            <h3>Errors in Import</h3>
            <table class="styled_table error_table">
                <thead>
                    <th>Row Number</th>
                    <th>Row</th>
                    <th>Error</th>
                </thead>
                {% for each in failure_data %}
                    <tr>
                        <td class="text_align_center">{{ each.row_num }}</td>
                        <td>{{ each.row }}</td>
                        <td>{{ each.error }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% if all_subjects %}
            <h3>All Subjects</h3>
            <table class="styled_table">
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Short Name</th>
                    <th>Type</th>
                    <th>Location</th>
                    <th>Description</th>
                    <th>Contact info</th>
                </thead>
                {% for each in all_subjects %}
                    <tr>
                        <td>{{ each.id }}</td>
                        {% if each.name %}
                            <td>{{ each.name }}</td>
                        {% else %}
                            <td>--</td>
                        {% endif %}
                        <td>{{ each.short_name }}</td>
                        <td>{{ each.type }}</td>
                        {% if each.location %}
                            <td>{{ each.location }}</td>
                        {% else %}
                            <td>--</td>
                        {% endif %}
                        {% if each.description %}
                            <td>{{ each.description }}</td>
                        {% else %}
                            <td>--</td>
                        {% endif %}
                        {% if each.mobile_number %}
                            <td>{{ each.mobile_number }}</td>
                        {% else %}
                            <td>--</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}