{% extends 'layout_application.html' %}
{% block page_title %}Subjects{% endblock %}

{% block section_title %}Subjects{% endblock %}

{% load dw_tabs %}
{% block body %}
    {% activetab "main_nav" "subjects" %}
    {{ block.super }}
{% endblock %}

{% load i18n %}
{% block content %}
    <div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <fieldset>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <ul>
                    <li class="{{ form.file.css_classes }} form-row-10px">
                        {{ form.file.label_tag }}
                        {{ form.file }}
                        {{ form.file.errors }}
                    </li>
                    <li>
                        <input type="submit" value="Upload" class="button"/>
                    </li>
                </ul>
            </form>
        </fieldset>
    </div>
{% endblock %}