{% extends 'project/tab_navigation.html' %}
{% load i18n %}
{% block page_title %} {% trans "Projects - Subjects" %} {% endblock %}

{% load dw_tabs %}
{% block navigation %}
    {% activetab "tab_nav" "subjects" %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "projects" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_subjects.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_all_subjects.css" rel="stylesheet"/>
    <link href="/media/javascript/file_uploader/fileuploader.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet"/>
    <link href="/media/css/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/media/javascript/jquery-dropdown/jquery.dropdown.css" rel="stylesheet"/>
    <link href="/media/css/scss/action_button.css" media="screen" rel="stylesheet"/>
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript">
        var edit_url = "{{ edit_url }}";
        var upload_url = "{% url import_subjects form_code %}";
        var subject_type = "{{ entity_type|capfirst }}";
    </script>
    <script type="text/javascript" src="/media/javascript/jquery.sprintf.js"></script>
    {#    <script type="text/javascript" src="/media/javascript/project/registered_subjects.js"></script>#}
    <script type="text/javascript" src="/media/javascript/entity/entity_actions.js"></script>
    <script type="text/javascript" src="/media/javascript/csrf_token_handler.js"></script>
    <script type="text/javascript" src="/media/javascript/help_accordion.js"></script>
    <script type="text/javascript" src="/media/javascript/action_dropdown.js"></script>
    <script type="text/javascript" src="/media/javascript/entity_import.js"></script>
    <script type="text/javascript" src="/media/javascript/file_uploader/fileuploader.js"></script>
    <script type="text/javascript" src="/media/javascript/jquery-dropdown/jquery.dropdown.js"></script>
    <script type="text/javascript">
        var upload_url = "{% url datawinners.entity.views.all_subject_types %}";
    </script>
{% endblock %}

{% block content %}
    <div>
        <div class="grid_8 alpha">
            <h2>{% trans "My Subjects" %}</h2>
        </div>
        <div class="grid_8 float_right omega text_align_right">
            <a href="{{ project_links.register_subjects_link }}">{% trans "Register a" %} {{ project.entity_type|capfirst }}</a>
            &nbsp;|&nbsp;
            <a href="javascript:void(0);" class="import-subject"
               id="import-{{ project.entity_type }}">{% trans "Import a list" %}</a>
            <a href="{% url datawinners.entity.views.edit_subject_questionnaire subject.entity %}"
               class="none edit-form-link" id="link-to-edit-form-{{ subject.entity }}">Edit Registration Form</a>
        </div>
        {% csrf_token %}
        {% include "popup-import.html" %}
        <div class="clear-both"></div>
    </div>
    {% with entity_type=project.entity_type create_entity_link=project_links.register_subjects_link %}
        {% include 'help/subjects_help.html' %}
    {% endwith %}




    <div id="my_subjects">
        {% block secondary_navigation_subjects %}
            {% activetab "secondary_tab_nav" "subjects" %}
            {{ block.super }}
        {% endblock %}
    </div>

    <div class="help_accordion">
        {# Make sure that this block translation stays in a single line as otherwise django will not be able to find out that message id#}
        {% blocktrans with project.entity_type as entity_type %}View each of your registered {{ entity_type }} in detail.{% endblocktrans %}
        <br/><br/>
    </div>
    {% if messages %}
        <ul class="messages margin_bottom_20">
            {% for message in messages %}
                <li{% if message.tags %} class="error {{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% with create_subject_link=project_links.register_subjects_link %}
        {% include 'subject_table.html' %}
    {% endwith %}

{% endblock %}

