{% extends 'project/tab_navigation.html' %}
{% load i18n %}
{% block page_title %} {% trans "Questionnaires - Subjects" %} {% endblock %}

{% load dw_tabs %}
{% block navigation %}
    {% activetab "tab_nav" "subjects" %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "questionnaires" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_subjects.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_all_subjects.css" rel="stylesheet"/>
    <link href="/media/javascript/file_uploader/fileuploader.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet"/>
    <link href="/media/css/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/media/javascript/jquery-dropdown/jquery.dropdown.css" rel="stylesheet"/>
    <link href="/media/css/scss/action_button.css" media="screen" rel="stylesheet"/>
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript">
        var entity_types = {{ entity_types|safe }};
        var edit_url_template = "{% url edit_my_subject project_id entity_type "entity_id_placeholder" %}";
        var upload_url = "{% url import_subjects form_code %}";
        var default_url = "{% url registered_subjects_default project_id%}";
    </script>
    <script type="text/javascript" src="/media/javascript/jquery.sprintf.js"></script>
    <script type="text/javascript" src="/media/javascript/csrf_token_handler.js"></script>
    <script type="text/javascript" src="/media/javascript/help_accordion.js"></script>
    <script type="text/javascript" src="/media/javascript/action_dropdown.js"></script>
    <script type="text/javascript" src="/media/javascript/entity_import.js"></script>
    <script type="text/javascript" src="/media/javascript/file_uploader/fileuploader.js"></script>
    <script type="text/javascript" src="/media/javascript/jquery-dropdown/jquery.dropdown.js"></script>
    <script type="text/javascript" src="/media/javascript/subjects/subjects_export.js"></script>
    <script type="text/javascript" src="/media/javascript/project/registered_subjects.js"></script>
{% endblock %}

{% block content %}
    {{ block.super }}
{% block secodary_navigation_subject_types %}
    {{ block.super }}

    <div>
        <div class="grid_8 alpha">
            <h2>{{ entity_type|capfirst }}</h2>
        </div>
        <div class="grid_12 float_right omega text_align_right">
            <a href="{{ project_links.register_subjects_link_web_view }}">{% trans "Register a" %} {{ entity_type|capfirst }}</a>
            &nbsp;|&nbsp;
            <a href="javascript:void(0);" class="import-subject"
               id="import-{{ entity_type }}">{% trans "Import a List" %}</a>
            <a href="{% url datawinners.entity.views.edit_subject_questionnaire entity_type %}"
               class="none edit-form-link" id="link-to-edit-form-{{ entity_type }}">Edit Registration Form</a>
            &nbsp;|&nbsp;
            <a id='subject_export_link' href="#">{% trans "Export" %}</a>
        </div>
        {% csrf_token %}
        <div style="display: none">
        {% include "registered_subjects_import_popup.html" %}
        </div>
        <div class="clear-both"></div>
    </div>
    {% with create_entity_link=project_links.register_subjects_link %}
        {% include 'help/subjects_help.html' %}
    {% endwith %}

{% endblock %}

    <div id="my_subjects">
        {% block secondary_navigation_subjects %}
            {% activetab "secondary_tab_nav" "subjects" %}
            {{ block.super }}
        {% endblock %}
    </div>

    <div class="help_accordion">
        {# Make sure that this block translation stays in a single line as otherwise django will not be able to find out that message id#}
        {% blocktrans%}View each of your registered {{ entity_type }} in detail.{% endblocktrans %}
    </div>
    {% include "flash_message.html" %}

    {% with create_subject_link=project_links.register_subjects_link_web_view %}
        {% include 'subject_table.html' %}
    {% endwith %}

    <div id="delete_entity_block">
        <p class="warning_message">{% trans "entity delete error text" %}</p>
        <a href="" class="button"
           id="ok_button">{% trans "Yes, Delete" %}</a>
        <a href="#" class="cancel_link">{% trans "Cancel" %}</a>
    </div>

    <form name="export_subjects" action="{% url export_subject %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="subject_type" id="subject_type" value="{{ entity_type }}"/>
        <input type="hidden" name="query_text" id="query_text"/>
    </form>
{% endblock %}


