{% load i18n %}
<div>
    <table id='datasender_table' >
        <thead>
            <th></th>
            <th class="name">{% trans "Name" %}</th>
            <th>{% trans "Mobile Number" %}</th>
            <th>{% trans "Email Address" %}</th>
            <th>{% trans "Location" %}</th>
            <th>{% trans "GPS Coordinates" %}</th>
            <th class="short_code">{% trans "Unique ID" %}</th>
            <th class="projects">{% trans "Questionnaires" %}</th>
            <th class="devices">
                <span>{% trans "Devices" %}</span>
                {% include "alldata/device_icons.html" %}
            </th>
            <th class="groups">{% trans "Groups" %}</th>
            <th class="s-groups none">{% trans "System-Groups" %}</th>
        </thead>
    </table>
</div>
