{% extends 'layout_application.html' %}
{% load i18n %}
{% block page_title %}{% trans "Subjects" %}{% endblock %}

{% block section_title %}{% trans "Subjects" %}
{% endblock %}

{% load dw_tabs %}
{% block body %}
    {% activetab "main_nav" "subjects" %}
    {{ block.super }}
{% endblock %}

{% block page_css %}
    {{ block.super }}
    <link href="/media/javascript/file_uploader/fileuploader.css" rel="stylesheet"/>
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_subjects.scss" rel="stylesheet"/>
    <link href="/media/css/scss/section_all_subjects.scss" rel="stylesheet"/>
{% endblock %}


{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/csrf_token_handler.js"></script>
    <script type="text/javascript" src="/media/javascript/subjects/index.js"></script>
    <script type="text/javascript" src="/media/javascript/file_uploader/fileuploader.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/all_subjects.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/create_type.js"></script>
    <script type="text/javascript" src="/media/javascript/help_accordion.js"></script>
{% endblock %}

{% load i18n %}
{% block content %}
    <div>
        <div id="help_accordion">
            <p>View and manage all of the people, places, things or events that you want to collect data about, such as patients,
                villages, clinics or trainings. <a href="javascript:void(0)" id="show_link">Learn more!</a></p>
            <div id="help_details">
                <p><h2>consectetur adipisicing !</h2>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.. !
                </p>
                <p><h2>consectetur adipisicing !</h2>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.. !
                </p>
                <a href="javascript:void(0)" id="hide_link">Hide help</a>
            </div>
        </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="error {{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="import_subject_form none">
            <div id="file-uploader">
                <noscript>
                    <p>{% trans "Please enable JavaScript to use file uploader." %}</p>
                    <!-- or put a simple form for upload here -->
                </noscript>
                <h6>{% trans "Upload a CSV or a XL file" %}</h6>

                <div id="file_uploader" class="float_left"></div><img src="/media/images/help_icon.png" class="help_icon" style="margin-top:6px;">
                <div class="tooltip"><p>
                    {% trans "tooltip_subject_import" %}
                </p></div>
                <div class="clear"></div>
            </div>
             <div class="error">{% trans "Use this "%}<a href="/media/files/{% if current_language == 'en' %}DataWinners_ImportSubjects.xls {% else %}DataWinners_ImporterLesSujets.xls{% endif %}">{% trans "Import Template"%}</a></div>
            <div id='error_table'>
                <table class="styled_table">
                    <thead>
                    <th>{% trans "Row Number" %}</th>
                    <th>{% trans "Row" %}</th>
                    <th>{% trans "Error" %}</th>
                    </thead>
                    <tbody id='error_tbody'>

                    </tbody>
                </table>
            </div>
        </div>
        {% if all_data %}
            {% include 'subject_table.html' %}
        {% endif %}
    
        <div id="subject_create_type_link">
            <a id="add_new_subject_type" href="javascript:void(0);">{% trans "Add a new subject type" %}</a>
        </div>

        <div id="subjects_create_type">
            Enter the Name of your specific Subject Type
            <div class="required form-row-10px" id="add_subject_type_content">
                <input type="text" maxlength="20" name="entity_type_regex" id="id_entity_type_text">
                <div id="type_message"></div>
            </div>
            <p class="instruction">
                Example: Person (Patient, Farmer), Place (Region, Village), Thing (Health center, School, Water pump, Retail shop), Event (Training, Public gathering)
            </p>
            <div style="text-align: right;">
                <a id="cancel_add_type" href="javascript:void(0)" style="padding: 0 10px;">Cancel</a>
                <input id="add_type" type="button" value="{% trans 'Add' %}" class="button"/>
            </div>
        </div>
    </div>
{% endblock %}
