{% extends 'layout_application.html' %}
{% load i18n %}
{% block page_title %}{% trans "All Contacts" %}{% endblock %}

{% block section_title %}
    {% include "entity/all_data_senders/add_contacts_title.html" %}
{% endblock %}

{% load dw_tabs %}
{% block body %}
    {% activetab "main_nav" "data_senders" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_subjects.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_all_datasenders.css" rel="stylesheet"/>
    <link href="/media/css/scss/import_popup.css" rel="stylesheet">
    <link href="/media/css/scss/section_data_full_width.css" rel="stylesheet">

{% endblock %}

{% block page_css %}
    {{ block.super }}
    <link href="/media/javascript/file_uploader/fileuploader.css" rel="stylesheet"/>
    <link href="/media/css/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/media/javascript/jquery-dropdown/jquery.dropdown.css" rel="stylesheet"/>
    <link href="/media/css/scss/action_button.css" media="screen" rel="stylesheet"/>
    <link href="/media/css/scss/section_datasender_import.css" media="screen" rel="stylesheet"/>
    <link href="/media/css/scss/section_datasenders_common.css" rel="stylesheet" />
    <link href="/media/css/scss/send-sms.css" rel="stylesheet" />
    <link href="/media/javascript/data_tables/css/dwtable.css" rel="stylesheet"/>

{% endblock %}


{% block page_js %}
    {{ block.super }}
    <script src="/media/javascript/data_tables/js/jquery.dataTables.min.js"></script>
    <script src="/media/javascript/data_tables/js/dw_pagination_plugin.js"></script>
    <script src="/media/javascript/data_tables/js/dwtable.js"></script>
    <script src="/media/javascript/entity/datasender_actions.js"></script>

    <script type="text/javascript" src="/media/javascript/warning_dialog.js"></script>
    <script type="text/javascript" src="/media/javascript/dw-ko-validation-extensions.js"></script>
    <script type="text/javascript" src="/media/javascript/ko-binding-extensions.js"></script>

    <script type="text/javascript" src="/media/javascript/datasenders/datasender_import.js"></script>
    <script type="text/javascript" src="/media/javascript/datasenders/contacts_group_controller.js"></script>

    <script type="text/javascript" src="/media/javascript/file_uploader/fileuploader.js"></script>
    <script type="text/javascript" src="/media/javascript/datasenders/device_tool_tips.js"></script>
    <script type="text/javascript" src="/media/javascript/jquery-dropdown/jquery.dropdown.js"></script>
    <script type="text/javascript" src="/media/javascript/common/location_auto_suggest_widget.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/definitions.js"></script>
    <script type="text/javascript" src="/media/javascript/data_modified_warning.js"></script>
    <script type="text/javascript" src="/media/javascript/datasender_modified_warning.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/datasender_actions.js"></script>
    <script type="text/javascript" src="/media/javascript/project/register_reporter.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/send_sms.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/send_sms_index.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/groups.js"></script>

    <script src="/media/javascript/entity/all_contacts_index.js"></script>


    <script type="text/javascript">
        var user_dict = {{ user_dict|safe }};
        var import_datasenders_link = "{% url all_datasenders%}";
        var send_sms_url = "{% url send-sms%}";
        var registered_ds_count_url = "{% url registered_ds_count %}";
        var group_ds_count_url = "{% url group_ds_count %}";
        var all_contacts_mobile_number_url = "{% url get-all-mobile-numbers %}";
        var existing_groups = $.parseJSON({{ groups|safe }});
        var all_groups_url = "{% url all_groups%}";
        var update_groups_url = "{% url add_or_remove_contact_from_groups %}";
        var selected_group = 'All Contacts'
        var datasender_ajax_url = "{% url all_datasenders_ajax %}";
        var superusersearch_ajax_url = "{% url superusers_in_ds_searched%}";
        var number_of_projects = {{ projects|length }};
        var delete_group_url = "{% url group_delete %}";
        var group_rename_url = "{% url group_rename %}";

    </script>
{% endblock %}
{% block main_message %}
    {% include 'main_message_upgrade.html' %}
    {{ block.super }}
{% endblock %}
{% load i18n %}
{% block content %}
    <div>
        <div>
            <div class="float_right">
                <a id="register_link" class="add_subject_link" onclick="register_datasender()">
                    {% trans "Add a Contact" %}
                </a> <span class="padding_left_right_10"> | </span>
                <a href="javascript:void(0);" id="import-datasenders">{% trans "Import Contacts" %}</a>
                </a> <span class="padding_left_right_10"> | </span>
                {% if  is_pro_sms %}
                    <a id="send_sms">{% trans "Send an SMS" %}</a>
                {% else %}
                    <a id="show_upgrade_message" class="grey" >{% trans "Send an SMS" %}</a>
                {% endif %}

            </div>
        <br/>
        <div id="group-success"  class="success-message-box none"></div>
        </div>
        <div id="contacts_content" >
            <div class="contacts_content_div">
                <div id="group_panel">
                    <div class="group_div">
                        <ol data-bind="foreach: {data: groups, as: 'group'}">
                            <li data-bind="click: $root.changeSelectedGroup, css:{selected: group == $root.selectedGroup()} ">
                                <!-- ko if: group.isEditable -->
                                    <!-- ko ifnot: group.isEditMode -->
                                        <b class="padding_left_10" data-bind="text: $data.name"></b>
                                        <span><img src="/media/images/delete_icon.png" class="group_icon" data-bind="click: $root.deleteGroup"/></span>
                                        <span><img src="/media/images/edit_icon.png" data-bind="click: $root.renameGroup" class="group_icon"/></span>
                                        <span class="selected_list_item_arrow"
                                              data-bind="css:{inline:group == $root.selectedGroup()}"></span>
                                    <!-- /ko -->
                                    <!-- ko if: group.isEditMode -->
                                        <input type="text" data-bind="value: $data.newName">
                                        <div data-bind="click: $root.undoEdit">Cancel</div><div data-bind="click: $root.confirmGroupRename">Save</div>
                                    <!-- /ko -->
                                <!--/ko -->
                                <!-- ko ifnot: group.isEditable -->
                                    <b class="padding_left_10" data-bind="text: $data.name"></b>
                                <!--/ko -->
                            </li>
                        </ol>
                        <div class="add_group">
                            <a class="add_link" data-bind="click:open" href="javascript:void(0);">{% trans "Add a Group" %}</a>
                        </div>
                        <div class="add_group_dialog" data-bind="dialog: {autoOpen: false, width: 475, height: 190,
                                                                title:'Add a Group', dialogClass:'no-close'},
                                                       dialogVisible: isOpen,
                                                       dialogContent:addGroupDialogContent">
                        </div>
                        <div id="add_group_dialog_content" class="none">
                            <div>{% trans 'Name' %}</div>
                            <input data-bind="value: newGroupName, valueUpdate: 'keypress'" type="text">
                            <div class="validationMessage" data-bind="ifnot: newGroupValid">
                                <span class="validationText" data-bind="text: newGroupError"></span>
                            </div>
                            <div class="float_right margin_top_40">
                                <a data-bind="click: close_popup">{% trans 'Cancel' %}</a>
                                <button data-bind="click: addNewGroup, text:$root.groupButtonText, css:{'ui-state-disabled': $root.disable_button}, attr:{disabled:$root.disable_attr}" class="button" >{% trans 'Add' %}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="contacts_panel" class="">
                    <div class="contacts_div">
                        <div style="display: none;">
                            <div id="popup-import" class="popup-import">
                                {% include "import-datasenders.html" %}
                            </div>
                        </div>

                        <div class="clear-both"></div>

                        {% include 'entity/all_data_senders/web_submission_access_block.html' %}
                        <h3 class="margin_top_20" hidden="true">{% trans "All Contacts " %}</h3>
                        {% include 'entity/all_datasenders_table.html' %}
                    </div>
                </div>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>
    <div id="no_datasenders_message" class="none">
        {% trans "Group is empty" %}
    </div>
    {% include "entity/delete_datasenders_warning_dialog.html" %}
    {% include 'entity/all_data_senders/all_project_blocks.html' %}
    {% include 'entity/all_data_senders/all_groups_blocks.html' %}
    <div id="datasender-popup" style="display:none;"></div>
    {% include "send-sms.html" %}
    {% csrf_token %}
{% endblock %}
