{% extends 'entity/subjects_header.html' %}
{% load i18n %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript">
        var edit_url_template = "{% url edit_subject entity_type "entity_id_placeholder" %}";
    </script>
{% endblock %}

{% block secondary_navigation %}
    <li class="float_left"><a href="{% url all_subject_type_page %}">
        « {% trans "Back to Identification Number List" %}</a>
    </li>
    <li class="float_right"><a id="register_subjects" href="{% url create_subject entity_type %}?web_view=True">{% trans "Register a" %} {{ entity_type|capfirst }}</a>&nbsp;|&nbsp;
        <a href="javascript:void(0);" class="import-subject">{% trans "Import a List" %}</a>&nbsp;|&nbsp;
        <a id='subject_export_link' href="#">{% trans "Export" %}</a>
    </li>
    <li><a href="{% url edit_subject_questionnaire entity_type %}" style="display:none;"
           class="edit-form-link">{% trans "Edit" %}</a>
    <br/>
{% endblock %}
{% block help_accordian %}
    <div class="help_accordion margin_bottom_20">
        {% blocktrans %}View your registered {{ entity_type }}(s) in detail.{% endblocktrans %}
    </div>
{% endblock %}

{% block page_content %}
{#    {% include 'flash_message.html' %}#}

    {% with create_subject_link=links.create_subject %}
        {% include 'subject_table.html' %}
    {% endwith %}
    <div id="delete_entity_block">
        <p class="warning_message">{% blocktrans with entity_type|capfirst as entity_type %}If you delete a {{entity_type}}, you can no longer collect data about it. However, you can still view previously collected data for it on the Data pages. Are you sure you want to delete?{% endblocktrans %}</p>
        <a href="" class="button"
           id="ok_button" style="margin-top: 13px">{% trans "Yes, Delete" %}</a>
        <a href="#" class="cancel_link" style="margin-top: 20px">{% trans "Cancel" %}</a>
    </div>
    <form name="export_subjects" action="{% url export_subject %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="subject_type" id="subject_type" value="{{ entity_type }}"/>
        <input type="hidden" name="query_text" id="query_text"/>
    </form>
{% endblock %}
