{% extends 'layout_application.html' %}
{% load i18n %}
{% block page_title %}{% trans "All Data Senders" %}{% endblock %}

{% block section_title %}
    {% trans "All Data Senders" %}
{% endblock %}

{% load dw_tabs %}
{% block body %}
    {% activetab "main_nav" "data_senders" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_all_datasenders.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_subjects.css" rel="stylesheet"/>
    <link href="/media/css/scss/import_popup.css" rel="stylesheet">

{% endblock %}

{% block page_css %}
    {{ block.super }}
    <link href="/media/javascript/file_uploader/fileuploader.css" rel="stylesheet"/>
    <link href="/media/css/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/media/javascript/jquery-dropdown/jquery.dropdown.css" rel="stylesheet"/>
    <link href="/media/css/scss/action_button.css" media="screen" rel="stylesheet"/>
    <link href="/media/css/scss/section_datasender_import.css" media="screen" rel="stylesheet"/>
    <link href="/media/css/scss/section_datasenders_common.css" rel="stylesheet" />

{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/dw-ko-validation-extensions.js"></script>
    <script type="text/javascript" src="/media/javascript/warning_dialog.js"></script>
    <script type="text/javascript" src="/media/javascript/datasenders/datasender_import.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/register_datasender_questionnaire.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/edit_datasender_questionnaire.js"></script>
    <script type="text/javascript" src="/media/javascript/file_uploader/fileuploader.js"></script>
    <script type="text/javascript" src="/media/javascript/datasenders/device_tool_tips.js"></script>
    <script type="text/javascript" src="/media/javascript/jquery-dropdown/jquery.dropdown.js"></script>
    <script type="text/javascript" src="/media/javascript/common/location_auto_suggest_widget.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/definitions.js"></script>
    <script type="text/javascript" src="/media/javascript/data_modified_warning.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/datasender_actions.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/register_new_reporter_popup_index.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/edit_reporter_popup_index.js"></script>

    <script type="text/javascript">
        var user_dict = {{ user_dict|safe }};
        var import_datasenders_link = "{% url all_datasenders%}";
        var register_datasender_url = "{{ register_datasender_url }}";

    </script>
{% endblock %}

{% load i18n %}
{% block content %}
    <div>
        <div class="float_right">
            <a id="register_link" class="add_subject_link" onclick="register_datasender()">
                {% trans "Register a Data Sender" %}
            </a> <span class="padding_left_right_10"> | </span>
            <a href="javascript:void(0);" id="import-datasenders">{% trans "Import a List" %}</a>
        </div>
        <div style="display: none;">
            <div id="popup-import" class="popup-import">
                {% with project=None %}
                    {% include "import-datasenders.html" %}
                {% endwith %}
            </div>
        </div>

        <div class="clear-both"></div>

        {% include 'entity/all_data_senders/web_submission_access_block.html' %}
        <h3 class="margin_top_20" hidden="true">{% trans "All Data Senders " %}</h3>
        {% include 'entity/all_datasenders_table.html' %}
    </div>
    {% include "entity/delete_datasenders_warning_dialog.html" %}
    {% include 'entity/all_data_senders/all_project_blocks.html' %}
     <div id="datasender-popup" style="display:none;"></div>

{% endblock %}
