{% load i18n %}
<img src='/media/images/help_icon.png' class='help_icon subject_tooltip_img' id='help_icon_for_add_subject'>
<div class='tooltip subject_tooltip subject_tooltip1'><p>{% trans 'tooltip_add_subject' %}</p></div>
<div id="add_subject_type">
    <h3>
        <a id="add_new_subject_type" href="#">{% trans "Add a  Subject Type" %}</a>
    </h3>
    <div class="required form-row-10px" id="add_subject_type_content">
        <input type="text" maxlength="20" name="entity_type_regex" id="id_entity_type_text">
        <input id = "add_type" type="button" value="{% trans 'Add' %}" class="button_blue"/>
        <label for="id_entity_type_text" class="example">{% trans "New Subject(eg clinic, waterpoint etc)" %}</label>
        <div id="type_message"></div>
    </div>
</div>
<div id='read_more'>
    <div>
    {% trans 'tooltip_add_subject_read_more' %}
    </div>
</div>