{#{% extends 'layout_application.html' %}#}
{#{% load i18n %}#}
{#{% block page_title %}#}
{#    {% if create_data_sender %}#}
{#        {% trans "Add a Data Sender" %}#}
{#    {% else %}#}
{#        {% trans "Edit a Data Sender" %}#}
{#    {% endif %}#}
{#{% endblock %}#}
{#{% block section_title %}#}
{#    {% if create_data_sender %}#}
{#        {% trans "Add a Data Sender" %}#}
{#    {% else %}#}
{#        {% trans "Edit a Data Sender" %}#}
{#    {% endif %}#}
{#{% endblock %}#}
{##}
{#{% load dw_tabs %}#}
{#{% block body %}#}
{#    {% activetab "main_nav" "data_senders" %}#}
{#    {{ block.super }}#}
{#{% endblock %}#}
{##}
{#{% block page_js %}#}
{#    <script type="text/javascript" src="/media/javascript/common/location_auto_suggest_widget.js"></script>#}
{#    {{ block.super }}#}
{#    <script type="text/javascript" src="/media/javascript/jquery_autocomplete/jquery.autocomplete.js"></script>#}
{#    {% if create_data_sender %}#}
{#    <script type="text/javascript">#}
{#        var sender_registration_link = {{ create_datasender_link }};#}
{#    </script>#}
{#    <script type="text/javascript" src="/media/javascript/entity/web_questionnaire.js"></script>#}
{##}
{#    {% else %}#}
{#        <script type="text/javascript">#}
{#            var sender_registration_link = "/entity/datasender/edit/{{ reporter_id }}/";#}
{#        </script>#}
{##}
{#    {%  endif %}#}
{#    <script type="text/javascript" src="/media/javascript/data_modified_warning.js"></script>#}
{#    <script type="text/javascript" src="/media/javascript/datasender_modified_warning.js"></script>#}
{#    <script type="text/javascript" src="/media/javascript/entity/definitions.js"></script>#}
{#    <script type="text/javascript" src="/media/javascript/project/register_reporter.js"></script>#}
{#{% endblock %}#}
{##}
{#{% block page_scss %}#}
{#    {{ block.super }}#}
{#    <link href="/media/css/scss/section_register_entity.css" rel="stylesheet" />#}
{#    <link href="/media/css/scss/section_datasenders_common.css" rel="stylesheet" />#}
{#    <link href="/media/css/scss/section_datasender_import.css" media="screen" rel="stylesheet"/>#}
{##}
{#{% endblock %}#}
{##}
{#{% block page_css %}#}
{#    {{ block.super }}#}
{#    <link rel="stylesheet" href="/media/css/plugins/jquery_autocomplete/jquery.autocomplete.css" media="screen">#}
{#{% endblock %}#}
{##}
{##}
{#{% load dw_tabs %}#}
{#{% block main_navigation %}#}
{#{% activetab "main_nav" "collectors" %}#}
{#{{ block.super }}#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#    <div class="margin_bottom_10">#}
{#        <a href="{{ project_links.registered_datasenders_link }}" class="back-to-list"> « {% trans "Back to Data Sender List" %}</a>#}
{#        {% if create_data_sender %}#}
{#            <a href="javascript:void(0);" id="import-datasenders" class="float_right">{% trans "Import a List" %}</a>#}
{#        {% endif %}#}
{#    </div>#}
{#    <div id="add_data_sender_form" class="">#}
{#  {% if create_data_sender %}#}
{#      {% include "datasender_form.html" %}#}
{#      <div class="none">#}
{#        <link href="/media/css/scss/import_popup.css" rel="stylesheet"/>#}
{#        <link href="/media/css/scss/section_all_datasenders.css" rel="stylesheet"/>#}
{#        <script>#}
{#            var import_datasenders_link = "{% url all_datasenders%}";#}
{#        </script>#}
{#        <div id="popup-import" class="popup-import">#}
{#            <script type="text/javascript" src="/media/javascript/datasenders/datasender_import.js"></script>#}
{#            <script type="text/javascript" src="/media/javascript/file_uploader/fileuploader.js"></script>#}
{#            {% include "import-datasenders.html" %}#}
{#        </div>#}
{#      </div>#}
{#  {% else %}#}
{#      {% include "edit_datasender_form.html" %}#}
{#   {% endif %}#}
{#   </div>#}
{#    {% include "star_indication.html" %}#}
{#{% endblock %}#}
