{% load i18n %}
{% if all_data|length > 0 %}
    <table id='subject_table' class="styled_table">
        <thead>
            <th>&nbsp;</th>
            {% for title in labels %}
                <th>{{ title }}</th>
            {% endfor %}
            <th>{% trans "Projects" %}</th>
            <th>{% trans "Email" %}</th>
        </thead>
        <tbody id='all_data_senders' class="datasenders_list">
        {% for row in all_data %}
            <tr>
                <td><input type="checkbox" id="{{ row.short_code }}" value="{{ row.short_code }}"/></td>
                {% for col in row.cols %}
                    <td>{{ col }}</td>
                {% endfor %}
                <td>{{ row.projects }}</td>
                <td>{{ row.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <strong>"No datasenders registered"</strong><br/>
{% endif %}