{% load i18n %}
{% if all_data|length > 0 %}
    <div class="data-sender-table-wrapper">
    <table id='subject_table' class="styled_table">
        <thead>
            <th><input type="checkbox" id="checkall-datasenders"/></th>
            {% for title in labels %}
                <th>{{ title }}</th>
            {% endfor %}
            <th>{% trans "Email address" %}</th>
            <th class="devices" colspan="3">
                <span>{% trans "Devices" %}</span>
                {% include "alldata/device_icons.html" %}
            </th>
            <th>{% trans "Projects" %}</th>
        </thead>
        <tbody id='all_data_senders' class="datasenders_list">
        {% for row in all_data %}
            <tr>
                <td><input type="checkbox" id="{{ row.short_code }}" value="{{ row.short_code }}" {% if row.is_user %}class="is_user"{% endif %}/></td>
                {% for col in row.cols %}
                    <td class="{{ col }}">{{ col }}</td>
                {% endfor %}
                <td class="email">{{ row.email }}</td>
                <td class="device-icon"><img src="/media/images/right_icon.png" alt="Yes"></td>
                <td class="device-icon">
                    {% if "Web" in row.devices %}
                        <img src="/media/images/right_icon.png" alt="Yes">
                    {% else %}
                        <span>--</span>
                    {% endif %}
                </td>
                <td class="device-icon">
                    {% if "Smartphone" in row.devices %}
                        <img src="/media/images/right_icon.png" alt="Yes">
                    {% else %}
                        <span>--</span>
                    {% endif %}
                </td>
                <td class="project">{{ row.projects }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% else %}
    <strong>{% trans "No datasenders registered" %}</strong><br/>
{% endif %}