{% load i18n %}
{% if all_data|length > 0 %}
    <div class="data-sender-table-wrapper">
    <table id='subject_table' class="styled_table">
        <thead>
            <th>&nbsp;</th>
            {% for title in labels %}
                <th>{{ title }}</th>
            {% endfor %}
            <th>{% trans "Projects" %}</th>
            <th>{% trans "Email" %}</th>
            <th class="devices" colspan="3">
                {% trans "Devices" %}
                <div class="clearfix device-icons">
                    <div class="sms-icon">
                        <img class="device-help" src="/media/images/feature_phone_white.png" alt="SMS">
                        <div class="tooltip">
                            <p>
                                {% trans "Data Senders use their mobile phone to send in data via SMS." %}
                            </p>
                        </div>
                    </div>
                    <div class="web-icon">
                        <img class="device-help" src="/media/images/computer_white.png" alt="Web">
                        <div class="tooltip">
                            <p>
                                {% trans "Data Senders use any Computer to send in data via Web." %}
                            </p>
                        </div>
                    </div>
                    <div class="smartphone-icon">
                        <img class="device-help" src="/media/images/smart_phone_white.png" alt="Smartphone">
                        <div class="tooltip">
                            <p>
                                {% trans "Data Senders use their Android Smartphone to send in data." %}
                            </p>
                        </div>
                    </div>
                </div>
            </th>
        </thead>
        <tbody id='all_data_senders' class="datasenders_list">
        {% for row in all_data %}
            <tr>
                <td><input type="checkbox" id="{{ row.short_code }}" value="{{ row.short_code }}"/></td>
                {% for col in row.cols %}
                    <td>{{ col }}</td>
                {% endfor %}
                <td>{{ row.projects }}</td>
                <td>{{ row.email }}</td>
                <td><img src="/media/images/right_icon.png" alt="Yes"></td>
                <td>
                    {% if "Web" in row.devices %}
                        <img src="/media/images/right_icon.png" alt="Yes">
                    {% endif %}
                </td>
                <td>
                    {% if "Smartphone" in row.devices %}
                        <img src="/media/images/right_icon.png" alt="Yes">
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% else %}
    <strong>"No datasenders registered"</strong><br/>
{% endif %}