{% load i18n %}
    <div id="delete_entity_block" style="display:none;">
        <div class="warning_message">
            <p>{% trans "data sender delete error text" %}</p>
            <div id="note_for_delete_users">
                <br/>{% trans "Note, the following Data Senders will not be deleted as they are DataWinners users:" %}
                <ul class="users_list bulleted"></ul>
            </div>
        </div>
        <p>{% trans "Are you sure you want to delete?" %}</p><br/>
        <a href="{% url all_datasenders %}" class="button" id="ok_button">{% trans "Yes, Delete" %}</a>
        <a href="#" class="cancel_link" >{% trans "Cancel" %}</a>
    </div>

    <div id="delete_all_ds_are_users_warning_dialog">
        <div class="warning_message">{% trans "You cannot delete the following Data Senders as they are DataWinners users:" %}
            <ul class="users_list bulleted"></ul>
        </div>
        <div class="text_align_right">
            <a class="button_blue no_button">{% trans "Ok" %}</a>
        </div>
    </div>