{% load i18n %}
<div class="group_div clear_both" style="width: 100%">
    <ol data-bind="foreach: {data: groups, as: 'group'}" style="width: 100%">
        <li class="contact_group" data-bind="click: $root.changeSelectedGroup, css:{selected: group == $root.selectedGroup()}">
            <!-- ko if: group.isEditable -->

            <div class="contact_group_name"><b class="padding_left_10 " style="word-wrap: break-word;" data-bind="text: $data.name"></b></div>
            <div class="group_actions" data-bind="css:{visible: group == $root.selectedGroup()}">

                <span>
                    <img src="/media/images/edit_icon.png" data-bind="click: $root.showRenameGroupConfirmation, clickBubble: false" class="group_icon" alt="{% trans "rename" %}"/>
                </span>
                <span id="delete_icon">
                    <img src="/media/images/delete_icon.png" class="group_icon" data-bind="click: $root.showDeleteGroupConfirmation, clickBubble: false" alt="{% trans "delete" %}"/>
                </span>
                <span style="visibility: hidden;" data-bind="css:{visible:group == $root.selectedGroup()}">
                    <img src="/media/images/questions_hover_arrow.png">
                </span>
            </div>


            <!--/ko -->
            <!-- ko ifnot: group.isEditable -->
            <div class="contact_group_name"><b class="padding_left_10 break_word" data-bind="text: $data.name"></b></div>
            <div class="group_actions" data-bind="css:{visible: group == $root.selectedGroup()}">
                <span style="visibility: hidden;" data-bind="css:{visible:group == $root.selectedGroup()}">
                    <img src="/media/images/questions_hover_arrow.png">
                </span>
            </div>

            <!--/ko -->
        </li>
    </ol>
    <div class="add_group">
        <a class="add_link" data-bind="click:open" href="javascript:void(0);">{% trans "Add a Group" %}</a>
    </div>
    <div class="add_group_dialog" data-bind="dialog: {autoOpen: false, width: 475, height: 190,
                                                        title:'Add a Group', dialogClass:'no-close'},
                                                        dialogVisible: isOpen, open: open,
                                                        dialogContent:addGroupDialogContent">
    </div>
    <div id="add_group_dialog_content" class="none">
        <div>{% trans 'Name' %}</div>
        <input data-bind="value: newGroupName, valueUpdate: 'keypress'" type="text">

        <div class="validationMessage" data-bind="ifnot: newGroupName.valid">
            <span class="validationText" data-bind="text: newGroupName.error"></span>
        </div>
        <div class="float_right margin_top_40">
            <a id='close_pop' data-bind="click: close_popup">{% trans 'Cancel' %}</a>
            <button data-bind="click: addNewGroup, text:$root.groupButtonText, css:{'ui-state-disabled': $root.disable_button}, attr:{disabled:$root.disable_attr}"
                    class="button adding_new_group">{% trans 'Add' %}</button>
        </div>
    </div>
</div>