{% load i18n %}
<div class="popup-import" id="popup-{{ entity_type }}">
    {% blocktrans with entity_type as entity_type %}To import a list of {{ entity_type }} follow these steps{% endblocktrans %}
    <ul class="bulleted">
        <li>{% blocktrans with entity_type as entity_type %}Download the template {{ entity_type }}.xls{% endblocktrans %}</li>
        <li>{% blocktrans with entity_type as entity_type %}Fill out the template with your {{ entity_type }}' information.{% endblocktrans %}</li>
        <li>{% blocktrans with entity_type as entity_type %}The last question is optional. If you already have ID numbers for your {{ entity_type }}, fill them in. If not, DataWinners will generate them for you.{% endblocktrans %}</li>
        <li>{% trans "Save the template on your computer." %}</li>
        <li>{% trans "Click the gold Upload a file button and select the saved template." %}</li>
    </ul>
    <br/>

    <div class="file-uploader float_left" id="subject_upload_button">
        <noscript>
            <p>{% trans "Please enable JavaScript to use file uploader." %}</p>
            <!-- or put a simple form for upload here -->
        </noscript>
        <div class="clear"></div>
    </div>
    <div class="error" id="download_template_link">{% trans "Download the template:" %} <a
            href="{% url import_template form_code %}?filename={{ entity_type  }}">{{ entity_type }}.xls</a></div>
    <div class="import_table none" id="subject_success_table">
        <div id="success_table_message" class="bold-text">
        </div>
        <table class="styled_table">
            <thead>
                <tr>
                {% for field in questions %}
                    <th>{{ field.label }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class='error_table none import_table' id="subject_error_table">
        <br/>
        <div id="error_table_message" class="bold-text">
        </div>
        <table class="styled_table error_body">
            <thead>
            <tr>
                <th>{% trans "Row Number" %}</th>
                <th>{% trans "Error" %}</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div class="floatleft subject_note">
        Note:
        <ul class="bulleted">
            <li>{% blocktrans with entity_type as entity_type%}You cannot add new columns in your Excel file to create new question. <a href='javascript:void(0);' id='to-edit-{{ form_code }}' class='edit-form-code-link' >Edit the {{ entity_type }} Registration Form</a> to make these changes.{% endblocktrans %}</li>
        </ul>
    </div>
    <br/>

    <div style="display: inline;float:right;">
        <a href="javascript:void(0);" id="close-import-{{ entity_type }}"
           class="button close_import_dialog">{% trans "Close" %}</a>
    </div>
</div>