{% extends 'entity/subjects_header.html' %}
{% load i18n %}

{% block page_scss %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/media/css/scss/section_map_edit.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/media/css/scss/multi_select_widget.css" media="screen">
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/mapping_edit.js"></script>
    <script type="text/javascript" src="/media/javascript/multi_select_widget.js"></script>
    <script type="text/javascript" src="/media/javascript/common/util.js"></script>
    <script type="text/javascript" src="/media/javascript/jquery.tinycolorpicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.secondary_tab li').attr('class', 'inactive');
            $('.secondary_tab li:nth-child(3)').attr('class', 'active');
            new DW.MappingEditor('{{ entity_type }}', {{ filters|safe }}, {{ details|safe }}, {{ specials|safe }}).init();
        });
    </script>
{% endblock %}

{% block secondary_navigation %}
    <li class="float_left"><a href="{% url all_subject_type_page %}">
        « {% trans "Back to Identification Number List" %}</a>
    </li>
    <br/>
{% endblock %}

{% block page_content %}
    <div class="float_right" style="position: relative;">

        <div id= "share-widget" class="hide share-widget">
            <input type="text" readonly />
        </div>
        <div id="share-widget-close" class="hide share-widget-close"></div>
        <div id="share-button" class="button">Share</div>
    </div>
    <div id="filterable-questions" class="float_right filterable-questions">
        <div id="filters-widget">
            <span>{% trans "Choose Filters" %}</span>
        </div>
    </div>
    <div id="customize" class="customize float_right">
        <div id="customize-widget">
            <span>{% trans "Choose Questions" %}</span>
        </div>
    </div>
    <div id="special-idnrs" class="special-idnrs float_right">
        <div id="special-idnrs-widget">
            <span>{% trans "Configure Special" %} {{ entity_type }}</span>
        </div>
        <ul class="choices hide">
            <!--<li><label><input type="radio" name="%s" value="%s"><p>%s</p></label></li>-->
        </ul>
        <div class="colorpicker">
            <div class="track hide"></div>
            <input type="hidden" class="colorInput">
        </div>
    </div>
    <div id="share-overlay" class="share-overlay"></div>
    <iframe id="map-preview" height="428px" width="100%" src="/entity/{{ entity_type }}/map"></iframe>
{% endblock %}