{% load i18n %}
{% block messages %}
    <div id="message-label" class="message-box none">
    </div>
{% endblock %}
<div id="questionnaire">
    <input id='post_url' value="{{ post_url }}" type='hidden'/>

    <form id="question_form">
        {% csrf_token %}
        <fieldset>
            <ul class="questionnaire_code">
                <li>
                    <label>{% trans "Questionnaire Code :" %}</label>
                    <input id="qtype" type="hidden" value="subject"/>
                    <input id="questionnaire-code" data-bind="value: questionnaireCode"/>
                    <div class="validationMessage" data-bind="ifnot: questionnaireCode.valid">
                        <span class="validationText" data-bind="text: questionnaireCode.error"></span>
                    </div>
{#                    {% ifequal type 'datasenders' %}readonly="readonly"{% endifequal %}/>#}
                    <input id="entity-type" type="hidden" value="{{ entity_type }}" name="entity-type"/>
                    <input id="saved-questionnaire-code" type="hidden" value="{{ questionnaire_code }}"/>
                    <input type="hidden" name="project_name" value="{% if project %}{{ project.name }}{% endif %}"
                           id="project-name"/>
                    <img src="/media/images/help_icon.png" class="help_icon" style="margin-top:-6px;">

                    <div class="tooltip"><p>
                        <strong>{% trans "What is this?" %}</strong><br/>
                        {% trans "q_tooltip_questionnaire_code" %}
                        <br/><br/>
                        <strong>{% trans "What do I need to do?" %}</strong><br/>
                        {% trans "r_tooltip_questionnaire_code" %}
                    </p></div>
                    <div id="questionnaire-code-error" class="error_arrow"></div>
                </li>
            </ul>
            <div class="questionnare_content grid_23 alpha omega">
                <div>
                    <div id="questions-panel" class="grid_8 alpha">
                        <h4>{% trans "Questions" %}</h4>

                        <div class="add_question">
                            <a class="add_link" href="questionnaire.html#"
                               data-bind="click: function() {subjectQuestionnaireViewModel.addQuestion(); DW.close_the_tip_on_period_question(); DW.smsPreview();}">
                                {% trans "Add a Question" %}</a>
                        </div>
                        <div data-bind="scrollToView: enableScrollToView" class="questions">
                            <div class="question_list">
                                <ol data-bind="foreach: {data: questions, as: 'question'}, sortable: questions">
                                    <li data-bind="click: function() { questionnaireViewModel.changeSelectedQuestion(question); }, css:{question_selected:question == questionnaireViewModel.selectedQuestion(), sort: !question.is_entity_question()} ">
                                        <a href="questionnaire.html#" data-bind="text: $data.display"></a>

                                        <div class="action_bar" data-bind='css:{visible:$data == $parent.selectedQuestion()}'>
                                            <a href="javascript:void(0);" class="delete_link"
                                                   data-bind="visible: question.canBeDeleted(), click: function() {if($('#question_form').valid()){ DW.removeQuestionCheckForRegistration(question); } else {questionnaireViewModel.removeIfQuestionIsSelectedQuestion(question);} }">{% trans "Delete" %}</a>
                                            <a data-bind="visible: $index() && !question.is_entity_question(), click: $parent.moveQuestionUp, clickBubble: false"
                                                   class="question_action">
                                                    <span class="move-text"><img class="move-image"
                                                                                 src="/media/images/arrow_full_up_Blue.png"/>{% trans "Move Up" %}</span>
                                            </a>
                                            <a class="question_action move-down"
                                                   data-bind="visible: $index() < $parent.questions().length-2, click: $parent.moveQuestionDown,clickBubble: false">
                                                    <span class="move-text"><img class="move-image" src="/media/images/arrow_full_down_Blue.png"/>{% trans "Move Down" %}</span>
                                            </a>

                                        </div>
                                        <span class="selected_question_arrow"
                                              data-bind="css:{inline:question == questionnaireViewModel.selectedQuestion()}"></span>
                                    </li>
                                </ol>
                            </div>

                        </div>
                        <div class="add_question">
                            <a class="add_link" href="questionnaire.html#"
                               data-bind="click: function() {subjectQuestionnaireViewModel.addQuestion(); DW.close_the_tip_on_period_question(); DW.smsPreview();}">
                                {% trans "Add a Question" %}</a>
                        </div>
                    </div>

                    <div id="question-detail-panel">
                        <div>
                            {% include 'entity/question_detail_panel.html' %}
                        </div>
                        <div data-bind="hidden: selectedQuestion" class="select_question_message">
                            Select a question to edit or add another question.
                        </div>

                        <div class="grid_13 alpha omega" data-bind="visible: selectedQuestion">
                            <div id='char-count-span'>
                                <span id='char-count'>
                                </span>
                                <img src="/media/images/help_icon.png" class="help_icon">

                                <div class="tooltip"><p>
                                    {% trans "tooltip_question_sms" %}
                                </p></div>
                            </div>
                        </div>

                        <div class="mobile"  data-bind="visible: selectedQuestion">
                            <textarea name="message" cols="30" rows="4" id="sms_preview" readonly="true"></textarea>
                        </div>
                    </div>

                </div>
            </div>
        </fieldset>
    </form>
</div>

<div class="create_project" id="submit-button-container">
    <div class="grid_15 float_right margin_right_null">
        <div class="right_aligned_button">
            <input id="submit-button" type="submit" class="button" value="{% trans 'Submit' %}"/>
        </div>
    </div>
    <div class="clear-both"></div>
</div>

<div class="none">
    <form method="post" action="{% url datawinners.entity.views.export_subject %}" id="subject-export-form">
        <input type="hidden" name="entity_type" id="type_to_export"/>
        {% csrf_token %}
        <div id="checked_subjects">

        </div>
    </form>
</div>
<div id="edit_warning">
    <p class="warning_message">
        {% blocktrans with entity_type as entity_type %}You may be sharing this {{ entity_type }} registration form with
            other projects.  If you make changes, the other projects will have to use your new {{ entity_type }}
            registration form as well.{% endblocktrans %}
    </p>

    <div class="text_align_right margin_top_15">
        <a id="edit_ok" href="javascript:void(0)" class="button">{% trans "Continue" %}</a>
    </div>
</div>
{% include "warning_edit_questionnaire.html" %}