{# Rename to edit_subject_type_questionnaire #}
{% extends 'layout_application.html' %}
{% load i18n %}
{% block page_title %}{% trans "Subject - Questionnaire" %} {% endblock %}
{% block section_title %}
    {% blocktrans with entity_type|capfirst as entity_type %}{{ entity_type }} registration form edition{% endblocktrans %}
{% endblock %}

{% load dw_tabs %}

{% block navigation %}
    {% activetab "tab_nav" "subjects" %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "subjects" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_questionnaire.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_subjects_registration.css" rel="stylesheet"/>
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/dw-ko-validation-extensions.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/questionnaire_view_model.js"></script>
    {#    knows about vm #}
    <script type="text/javascript" src="/media/javascript/entity/subject_questionnaire_view_model.js"></script>
    <script type="text/javascript">
        var existing_questions = $.parseJSON({{existing_questions|safe}});
        var questionnaire_code = '{{ questionnaire_code }}';
        var subject_type = '{{ entity_type }}';
    </script>
    <script type="text/javascript" src="/media/javascript/entity/create_questionnaire.js"></script>
    {#    knows about vm #}
    <script type="text/javascript" src="/media/javascript/entity/create_subject_questionnaire.js"></script>
    <script type="text/javascript" src="/media/javascript/jquery.sprintf.js"></script>
{#    knows about vm #}
    <script type="text/javascript" src="/media/javascript/project/questionnaire_charcount.js"></script>
    <script type="text/javascript" src="/media/javascript/warning_dialog.js"></script>
    {#    knows about vm #}
    <script type="text/javascript" src="/media/javascript/entity/questionnaire_helper.js"></script>
    <script type="text/javascript" src="/media/javascript/help_accordion.js"></script>
    <script type="text/javascript" src="/media/javascript/entity_import.js"></script>
    <script type="text/javascript" src="/media/javascript/ko-binding-extensions.js"></script>

{% endblock %}

{% block content %}
    {% block secondary_navigation_subjects %}
        {% activetab "secondary_tab_nav" "criteria" %}
        {{ block.super }}
    {% endblock %}

    <a class="back-to-list" href={% url create_subject entity_type %}>« {% blocktrans %}Back to Registration Form{% endblocktrans %}</a>

    {% include 'entity/questionnaire_form.html' %}
{% endblock %}