{% extends 'layout_datasender.html' %}
{% load i18n %}
{% load field_tags %}
{% load dw_tabs %}

{% block device_navigation %}
{#    {% activetab "device_tab_nav" "web" %}#}
{#    {{ block.super }}#}
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/entity/definitions.js"></script>
    <script type="text/javascript" src="/media/javascript/subjects/definitions.js"></script>
    <script type="text/javascript" src="/media/javascript/subjects/registration.js"></script>
{% endblock %}


{% block questionnaire %}
    <div class="questionnaire-header">
        <h3 class="subject-type">{% trans "Register a new " %} {{ entity_type }}</h3>

        <p class="instructions italic">{% trans "Fill out the following Registration Form and click on Register." %} </p>
    </div>

    {% include 'entity/subject_questionnaire.html' with back_link=back_to_project_link cancel_text="Cancel"%}

{% endblock %}