{% load i18n %}
{% load field_tags %}
{% if success_message %}
    <div class="success-message-box">{{ success_message }}</div>
{% endif %}
{% if error_message %}
    <div class="message-box">{{ error_message }}</div>
{% endif %}

{% if questionnaire_form.non_fielderrors %}
    <div class="message-box">{{ questionnaire_form.non_field_errors }}</div>
{% endif %}

<form method="POST" id="subject_registration_form">
    {% csrf_token %}
    {% for field in questionnaire_form %}
        {% if field.is_hidden %}
            <div class="answer">
                {% if field|field_type == 'ChoiceField' %}
                    <span class="single_select_question" wmwrap="true">
                        {{ field }}
                    </span>
                {% else %}
                    {{ field }}
                {% endif %}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li>
                                {{ error }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}

    <ol class="que_width">
        {% for field in questionnaire_form %}
            {% if not field.is_hidden %}
                <li>
                    <h6>{{ field.label }}</h6>
                    {% if field.name == questionnaire_form.short_code_question_code %}
                        <div class="answer">
                            {% if is_update%}
                                <label>{{ field.value }}</label>
                                <span class="none">{{ field }}</span>
                            {% else %}
                                {{ field }}
                                {% if field.errors %}
                                    <ul class="errorlist">
                                        {% for error in field.errors %}
                                            <li>
                                                {{ error }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <br class="clear"/>
                                <span><input type="checkbox" id="generate_id" name="generate_id" value="" checked="checked" class="margin_left_null"/> {% trans "Let us generate an ID for you" %}</span>
                            {% endif %}
                        </div>
                        <div class="clear-left"></div>
                    {% else %}
                        <input id='code1' type="hidden"
                               value="{{ field.name }}"/>
                        <p class="instructions italic">
                            {{ field.help_text }}
                        </p>
                        <div class="answer">
                            {% if field|field_type == 'ChoiceField' %}
                                <span class="single_select_question" wmwrap="true">
                                    {{ field }}
                                </span>
                            {% else %}
                                {{ field }}
                            {% endif %}
                            {% if field.errors %}
                                <ul class="errorlist">
                                    {% for error in field.errors %}
                                        <li>
                                            {{ error }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ol>
    <div class="action-section">
        {% block cancel_block %}
        {% if is_update %}
            <a id="cancel" href="{{ back_link }}">{% trans "Cancel Editing" %}</a>
            {% include "warning_section.html" %}

        {% endif %}
        {% endblock %}

        <input id="submit" type="submit" class="button" value="{% if is_update %} {% trans "Save changes" %} {% else %} {% trans "Register" %} {% endif %}"/>
    </div>
</form>