{% extends 'entity/subjects_header.html' %}
{% load i18n %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/subject_questionnaire.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet"/>
{% endblock %}
{% block page_js %}
    {{ block.super }}
    {% include "web_questionnaire_questions_js.html" %}
    <script type="text/javascript"
            src="/media/javascript/project/subjects_registration_questionnaire_preview.js"></script>
    <script type="text/javascript">
        var subject_registration_form_preview_link = "{% url subject_web_questionnaire_preview entity_type%}";
    </script>
{% endblock %}

{% block page_content %}
    <div id="subject_reg_block">
        <div id="my_subjects_links">
            <ul>
                <li><a href="{% url edit_subject_questionnaire entity_type %}"
                       class="edit-form-link">{% trans "Edit" %}</a>
                </li>
                <li><a href="javascript:void(0)" class="preview_subject_registration_form">{% trans "Print" %}</a>
                </li>
            </ul>
            <div class="clear-right"></div>
        </div>
        <div id="subject_form_heading">
            <h2 class="font_size_14">{% blocktrans with entity_type|capfirst as entity_type %}Web {{ entity_type }}
                Registration Form{% endblocktrans %}</h2>

            <div class="instruction">
                {% blocktrans with entity_type as entity_type %}All
                    Data Senders who have access to this form can register a new {{ entity_type }} online. You can give
                    them web submission access on the <a href="/entity/datasenders/">All Data Senders</a> page.{% endblocktrans %}
            </div>

        </div>
        {% include 'entity/subject_questionnaire.html' %}

        <div class="subject_registration_preview">
            {% trans "Generating the questionnaire preview." %}
        </div>
    </div>
{% endblock %}
{% block help_accordian %}
    <div class="instruction">
        {% blocktrans with project.entity_type as entity_type %}Define what information you want to collect
            about each {{ entity_type }}.{% endblocktrans %}
    </div>
{% endblock %}
{% block secondary_navigation %}
    <div id="all_subject_links">
        <ul>
            <li><a href="{% url all_subject_type_page %}" class="back-to-list">
                « {% trans "Back to All Subjects List" %}</a>
            </li>
        </ul>
    </div>
{% endblock %}