{% extends 'layout_application.html' %}
{% load i18n %}
{% block page_title %}{% trans "Subjects" %}{% endblock %}

{% block section_title %}{% if is_update %}{% trans "Edit a" %}{% else %}{% trans "Add a new" %}{% endif %} {{ entity_type|capfirst }}
{% endblock %}

{% load dw_tabs %}
{% block body %}
    {% activetab "main_nav" "subjects" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_web_questionnaire.css"
          rel="stylesheet"/>
{% endblock %}

{% block page_js %}
    {{ block.super }}
    {% include "web_questionnaire_questions_js.html" %}
{% endblock %}

{% block content %}
    {% if is_update %}
    <div >
        <a href="{{ back_link }}" class="back-to-list"> « {% trans "Back to Subject List" %}</a>
    </div>
    {%  endif %}
    {% include 'entity/subject_questionnaire.html' %}
{% endblock %}