{% extends 'entity/subjects_header.html' %}
{% load i18n %}
{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/subject_questionnaire.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet"/>
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript">
        var web_view = "{{ web_view }}";
    </script>
    {% include "web_questionnaire_questions_js.html" %}
{% endblock %}

{% block secondary_navigation %}
    <li><a href="{% url all_subject_type_page %}" class="back-to-list">
        « {% trans "Back to All Subjects List" %}</a>
    </li>
{% endblock %}