{% extends 'layout_application.html' %}
{% block page_title %}Register a subject{% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "subjects" %}
{{ block.super }}
{% endblock %}


{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_register_entity.scss" rel="stylesheet" />
{% endblock %}

{% block page_js %}
    <script type="text/javascript" src="/media/javascript/admin/register_entity.js"></script>
{% endblock %}
{% block content%}
    <div class="span-18 box">
        <input id='post_url' type="hidden" value="{{ post_url }}" />
            <form id="question_form">
                <fieldset>
                    <h3 class="margin_bottom_10">Register a subject</h3>
                    <ul>
                        <li>
                            <span>
                                <label>* Type</label>
                            </span>
                            <span>
                                <select id="id_entity_type" name="type" data-bind="value: message.t">
                                    {% for entity_type in entity_types %}
                                        <option value="{{ entity_type.0 }}">{{ entity_type.0 }}</option>
                                    {% endfor %}
                                </select>
                                <a href="{% url datawinners.admin.views.create_entity %}">Add a new subject type</a>
                            </span>
                        </li>
                        <li>
                        <span>
                            <label>Short Name</label>
                        </span>
                        <span>
                            <span class="auto_gen_checkbox">
                                <input id="autogen" name="autogen" type="checkbox" checked=true />
                                <label>Autogenerate</label>
                            </span>
                            <input id="short_name" name="short_name" type="text" data-bind="value: message.s" disabled="disabled"/>
                        </span>

                        </li>

                        <li>
                        <span>
                                <label>* Name</label>
                            </span>
                        <span>
                                <input id= "entity_name" name="entity_name" type="text" data-bind="value: message.n"/>
                            </span>
                        </li>
                        <li>
                            <span>
                                <label>Location</label>
                            </span>
                            <span>
                                <input id="location" name="location" type="text" data-bind="value: message.l"/>
                            </span>
                        </li>
                        <li>
                            <span>
                                <label>GPS</label>
                            </span>
                            <span>
                                <input id = "geo_code" name="geo_code" type="text" data-bind="value: message.g"/>
                            </span>
                        </li>
                        <li>
                            <span>
                                <label>Description</label>
                            </span>
                            <span>
                                <input id = "description" name="description" type="text" data-bind="value: message.d"/>
                            </span>
                        </li>
                        <li>
                            <span>
                                <label>* Mobile Number</label>
                            </span>
                            <span>
                                <input id = "mobile_number" name="mobile_number" type="text" maxlength="15" data-bind="value: message.m"/>
                            </span>
                        </li>
                    </ul>
                </fieldset>
                <input type="button" value="Register" id="register_entity" class="button" />
            </form>
    </div>
{% endblock %}