form fieldset legend {
  font-size: 20px; }
form ul li {
  margin-bottom: 20px; }
  form ul li input[type=text], form ul li input[type=password] {
    width: 350px;
    height: 25px;
    border-color: #cccccc; }
  form ul li a {
    color: #0070ac; }
  form ul li textarea {
    width: 350px;
    height: 100px;
    border-color: #cccccc; }
  form ul li label {
    font-size: 14px;
    display: block;
    font-weight: bold; }
  form ul li ul li {
    margin-bottom: 0px; }
    form ul li ul li label {
      font-size: 12px;
      display: inline;
      font-weight: normal; }

.application_register form fieldset legend {
  font-size: 20px; }
.application_register form ul li input[type=text], .application_register form ul li input[type=password] {
  width: 200px;
  height: 15px;
  border-color: #cccccc; }
.application_register form ul li label {
  font-size: 14px;
  display: block;
  font-weight: bold;
  float: left;
  width: 170px; }

/*Form elements without form tag*/
input[type=text] {
  width: 350px;
  height: 25px;
  border-color: #cccccc; }

input[type=button] {
  border: 0px; }

a {
  color: #0070ac; }

textarea {
  width: 350px;
  height: 100px;
  border-color: #cccccc; }

label {
  font-size: 14px;
  display: block;
  font-weight: bold; }

select {
  width: auto;
  height: 25px;
  border-color: #cccccc;
  background: #FFFFFF; }

.button {
  border: 1px solid #D4972D !important;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #999;
  /* for non-css3 browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#feea89), to(#ffd857));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #feea89, #ffd857);
  /* for firefox 3.6+ */
  color: #6F451D;
  font-family: "Arial";
  font-weight: bold;
  padding: 6px 23px 6px 22px; }

.button_blue {
  border: 1px solid #5087b4 !important;
  color: #5087b4;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #999;
  /* for non-css3 browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#dfedf4), to(#cce3ee));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #dfedf4, #cce3ee);
  /* for firefox 3.6+ */
  font-family: "Arial";
  font-weight: normal;
  padding: 4px 15px 4px 15px; }
