$text_box_width: 350px;
$select_box_width:150px;
$border_color: #CCCCCC;
$link_color:#0070ac;

form{
        fieldset{
            legend{
                font-size:20px;
            }
        }
    ul li{
        overflow:hidden;
        margin-bottom:20px;
        input[type=text], input[type=password]{
            width:$text_box_width;
            height:25px;
            border-color:$border_color;
        }
        a{
            color:$link_color;
        }
        textarea{
            width:$text_box_width;
            height:100px;
            border-color:$border_color;
        }
        label{
            font-size:14px;
            display:block;
            float:left;
            width:170px;
            margin-right:10px;
            font-weight:bold;
        }
        ul
        {
            float:left;
            li{
                margin-bottom:0px;
                label{
                    font-size:12px;
                    display:inline;
                    font-weight:normal;
                    width:auto;
                }
            }
        }
    }
}
.application_register{
    form{
        fieldset{
            legend{
                font-size:20px;
            }
        }
    ul li{
        input[type=text], input[type=password]{
            width:200px;
            height:15px;
            border-color:$border_color;
        }
        label{
            font-size:14px;
            display:block;
            font-weight:bold;
            float:left;
            width:170px;
        }
    }
}

}

/*Form elements without form tag*/
input[type=text]{
    width:$text_box_width;
    height:25px;
    border-color:$border_color;
}
input[type=button]{
    border:0px;
}
a{
    color:$link_color;
}
textarea{
    width:$text_box_width;
    height:100px;
    border-color:$border_color;
}
label{
    font-size:14px;
    display:block;
    font-weight:bold;
}
select{
    width:auto;
    height:25px;
    border-color:$border_color;
    background:#FFFFFF;
}
.button{
    border: 1px solid #D4972D !important;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background: #999; /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#FEEA89), to(#FFD857)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #FEEA89,  #FFD857); /* for firefox 3.6+ */
    color: #6F451D;
    font-family: "Arial";
    font-weight: bold;
    padding: 6px 23px 6px 22px;
}

.button_blue{
    border: 1px solid #5087b4 !important;
    color:#5087b4;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background: #999; /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#dfedf4), to(#cce3ee)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #dfedf4,  #cce3ee); /* for firefox 3.6+ */
    font-family: "Arial";
    font-weight: normal;
    padding: 4px 15px 4px 15px;
}