.tab_navigation ul {
  margin-left: 0px; }
  .tab_navigation ul li {
    padding-right: 3px !important;
    padding-left: 3px !important; }
.tab_navigation li.active {
  margin: 0px !important; }

#container_header_application #main_tab ul li {
  padding-right: 25px !important; }
