.tab_navigation{
    ul{
        margin-left:0px;
        li{
            padding-right:6px !important;
            padding-left:6px !important;
        }
        }
        li.active{
            margin:0px !important;
        }
}