.width-200px {
  width: 200px; }

div.form-row-10px {
  padding-bottom: 10px; }

.message-box {
  margin-bottom: 1.5em;
  padding: 1.5em; }

body {
  background: url("/media/images/smooth_blueprint_gradient.png") repeat-x scroll 0 -10px #395a99;
  margin: 1.5em 0; }

.title {
  color: brown; }
