.reminder_content{
    padding-top: 1em;
    padding-bottom: 1em;
}

.reminder_content_section{
    border-bottom: 1px solid;
}

.ui-accordion-content{
    background:none;
    border:0;
    float:left;
 }
 .header{
    border:0;
    width:100% !important;
    float:left;
    padding:10px 0 10px 0px;
    font-weight:normal;
    background:none;
    h5{
        float:left;
        background:url(/media/images/accordion_arrows.png) no-repeat left -34px;
        padding-left:15px;
        margin-left:15px;
        font-size:14px;
        font-weight:normal;
    }
 }
 .ui-accordion{
    width:100% !important;
    border-bottom:1px solid #CCCCCC;
    float:left;
 }
 .ui-accordion .ui-accordion-content {
    padding:20px 10px 0 10px;
    width:100%;
    ul{
        width:100%;
    }
    ol{
        margin:10px 0 10px 40px;
    }
 }