/*new UI*/
.wizard{
    margin:25px !important;
    height:170px !important;
    background:#ffefb0 !important;
    border: 1px solid #ccbf97;
}

.wizard_heading{
    margin:15px !important;
    font-size: 28px;
}

.wizard_content{
    margin-top:15px !important;
}

.w_content{
    margin:15px !important;
    font-size:14px;
    p{
        line-height: 1.5em;
    }
}

.clear_both{
    width:93%;
    float:left;
    clear:both;
    margin-bottom: 30px;
    li{
        list-style-type:None;
        margin:25px 0 25px 0;
        ul{
            li{
                margin: 10px 0 10px 0;
                label{
                    font-weight:normal;
                    margin-bottom: 20px;
                    width:100%;
                }
            }
        }
        span.errorlist{
            float:none;
            color:#FFFFFF;
            display:inline-block;
            background:url(/media/images/arrow_error.png) no-repeat left 10px;
            padding:3px 10px 3px 10px;
            border:1px solid #00000;
            label{
                color:#FFFFFF;
                font-weight:normal;
                background:#c20303;
                padding:3px 10px 3px 10px;
                margin-top:-1px;
                border:1px solid #00000;
                -moz-border-radius:5px;
                -webkit-moz-border-radius:5px;
                -webkit-border-radius:5px;
            }
        }
        select{
            font-size: 15px;
            width: 200px;
            margin-left:25px;
        }
        input#id_questionnaire {
            width: 50px;
        }

    }

}

.help_icon{
    display:inline;
}

fieldset{
    font-size: 15px;
    legend{
        color:#C35C00;
        font-weight:bold;
        font-size: 24px;
    }
}

#page_title{
       padding:50px 0 0 0 !important;
       width:950px;
       margin:0 auto;
       font-weight:bold;
       font-size:14px;
       a{
            font-size:14px;
       }
       .project_title{
            font-size:30px;
            &:first-letter{
                text-transform:uppercase;
            }
       }
}

.cancel-link{
    verticle-align:middle;
}

.line{
    border-bottom: 1px solid #ccbf97;
}

.questionnare_content{
    background-color:#f0f0f0;
}

.grid_23{
    border: 1px solid #ccbf97 !important;
    width:860px !important;
    margin:20px 0 15px 0;
}

.draft_button{
    background: -moz-linear-gradient(center top , #e3e3e3, #e3e3e3) repeat scroll 0 0 transparent;
    border: 1px solid #b3b3b3;
    border-radius: 3px 3px 3px 3px;
    color:#696969 !important;
    cursor: pointer;
    font-family: "Arial";
    font-weight: bold;
    padding: 6px 23px 6px 22px;
}

.footer_link{
    float:right;
    clear:both;
    width:200px !important;
    margin:50px 0 70px 0;
    a{
        word-spacing:0.1em;
    }
}

#question-detail-panel{
       width:525px !important;
       border: 1px solid #ccbf97;
       background-color:#FFF;
       #question_title{
            width:500px !important;
       }
}

#questions-panel{
    background:#F0F0F0 !important;
    width:auto;
}

.create_new_subject{
    display:none;
}

.black_italic{
    font-style: italic;
}

.small-box{
    width:100px !important;
}

#q_code{
    display:inline;
}

#add_subject_type{
width: 50% !important;
float: none;
padding-left: 20px;
}

#id_entity_type_text {
    width:280px;
}

.message-box{
    font-size:13px;
}

.alpha_list input{
    width:300px !important;
}