#container_header_wizard{
    height:37px;
    overflow:hidden;
    background:url('/media/images/application_header_bg.gif') repeat top left;
}
#container_header_application{
    height:74px;
    overflow:hidden;
    background:url('/media/images/hedaer_app_bg.gif') repeat top left;
}
#container_content, #container_wizard{
    overflow:hidden;
    min-height:600px;
    background:#e8eff6 url('/media/images/application_bg.gif') repeat-x top left;
    .content{
        min-height:550px;
        background:#FFFFFF;
        border:1px solid #cccccc;
        padding:20px;
    }
    .wizard_content{
        margin-top:50px;
        padding:0px;
        .wizard{
                border:1px solid #d4972d;
                height:140px;
                margin:10px;
                background:url(/media/images/wizard_bg.gif) repeat-x top left;
        }
        .content_wrapper{
            padding:20px 40px 20px 40px;

        }
    }
    #page_title{
       height:40px;
       padding-top:15px;
       width:950px;
       border-radius:1px solid red;
       margin:0 auto;
       font-size:18px;
    }
}
