#sms_results #question_form {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px; }
  #sms_results #question_form #add_answer_filter {
    font-size: 14px; }
#sms_results #pagination a {
  border: 1px solid #CCCCCC; }
#sms_results #pagination .current {
  background-color: #FFD857;
  border: 1px solid #D4972D;
  color: #6F451D;
  font-weight: bold; }
#sms_results #pagination .prev {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  color: #CCCCCC;
  font-weight: normal; }
#sms_results h3 {
  margin-bottom: 20px; }
