.wizard_content .content_wrapper
{
    .finish_content{
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;
        padding-right:17px;
        min-height:400px;
        margin-bottom:20px;
    }
    .step_number {
        margin-left: 30px;
    }
    h6{
        margin:20px 0 0 10px;
    }
}

#test_section{
    margin-left:10px;
    h4{
        border-bottom:1px solid #CCCCCC;
    }
    a{
        color:#0070ac;
        font-size:12px;
    }
}
#review_section{
    float:left;
    margin:0 0 20px 10px;
 ul {
    li{
        float:left;
        width:100%;
        margin-bottom:10px;
        label,p{
            float:left;
        }
        label{
            width:175px;
            text-align:right;
            margin-right:10px;
            font-weight:normal;
        }
        p{
            font-weight:bold;
        }
    }
 }
 h4{
    border-bottom:1px solid #CCCCCC;
 }

 .ui-accordion-content{
    background:none;
    border:0;
    float:left;
 }
 .header{
    border:0;
    width:100% !important;
    float:left;
    padding:10px 0 10px 0px;
    font-weight:normal;
    background:none;
    h5{
        float:left;
        background:url(/media/images/accordion_arrows.png) no-repeat left -34px;
        padding-left:15px;
        margin-left:15px;
        font-size:14px;
        font-weight:normal;
    }
 }
 .ui-accordion{
    width:100% !important;
    border-bottom:1px solid #CCCCCC;
    float:left;
 }
 .ui-accordion .ui-accordion-content {
    padding:20px 10px 0 10px;
    ol{
        margin:10px 0 10px 40px;
    }
 }
 .ui-state-active{
    background-color:#525252 !important;
    border:0;
    background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#3d3d3d)) !important;  //for webkit browsers
    background: -moz-linear-gradient(top,  #525252,  #262626) !important;  //for firefox 3.6+

    h5{
         color:#FFFFFF;
         background:url(/media/images/accordion_arrows.png) no-repeat left 5px;
         padding-left:15px;
         margin-left:15px;
    }

    .success_error{
        color:#FFFFFF;
    }
 }
 a{
        color:#0070ac;
        font-size:12px;
    }
}
.add_subjects_section{
    border: 1px solid #CCCCCC;
    height:120px;
    background: #EEEEEE;
    padding: 10px 6px 0 20px;
    float:left;
    > div{
        h6{
            font-size:12px;
            border-bottom: 1px solid #CCCCCC;
            margin-bottom: 10px;
        }
        p{
            font-style: italic;
            font-size:12px;
            color:#666666;
            margin-bottom: 10px;
        }
        input[type=button]{
            float:right;
        }
    }
    .import_list{
        padding-right:20px;
        margin-left:20px;
    }
}