.organization, .administrative, .signin {
  margin-bottom: 15px;
  padding: 10px;
  min-height: 400px; }

.signin ul li label {
  font-size: 14px;
  display: block;
  font-weight: bold;
  width: 80px;
  float: left; }

.right_hand_section {
  border: 1px solid #cccccc;
  min-height: 400px;
  padding: 10px; }

.left_hand_section {
  border: 1px solid #cccccc;
  margin-right: 20px; }

#container_content .content {
  padding: 10px; }

.signin_form {
  width: 400px;
  margin: 50px 0 50px 70px; }

form fieldset legend {
  font-size: 20px; }
form ul li label {
  font-size: 14px;
  display: block;
  font-weight: bold;
  width: 170px;
  float: left; }
form ul li input[type=text], form ul li input[type=password] {
  width: 200px;
  height: 15px;
  border-color: #cccccc; }
