.wizard_content .content_wrapper .finish_content {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-right: 17px;
  min-height: 400px;
  margin-bottom: 20px; }
.wizard_content .content_wrapper .step_number {
  margin-left: 30px; }
.wizard_content .content_wrapper h6 {
  margin: 20px 0 0 10px; }
