body{
    font-family:Helvetica,Arial,sans-serif;
    background:#123956;
}
#container_header{
    height:93px;
    overflow:hidden;
    background:#67aa58 url('/media/images/dw_header_bg.gif') repeat-x left 34px;
    #container_header_wizard{
        height:34px;
        overflow:hidden;
    }
    #container_main_tab {
        padding-top:25px;
    }
}
#container_content{
    background:#ffffff;
}
#container_secondary_content{
    background:#ffffff url('/media/images/dw_secondary_bg.gif') repeat-x left 75px;
}
#container_footer{
    padding:45px 0 20px 0;
}
#container_home_intro {
    background:#82c552 url('/media/images/dw_intro_bg.gif') repeat-x top left;
    height:393px;
    overflow:hidden;
    #home_intro_bg{
        background:url('/media/images/dw_home_bg.jpg') no-repeat top center;
        .content{
            padding:100px 0 0 20px;
            color:#ffffff;
            font-size:15px;
            p{
                margin-bottom:12px;
            }
            .title{
                font-size:23px;
                font-weight:bold;
                line-height:30px;
                text-shadow:#10210B 0 0 1px;
            }
            .intro_try_button{
                display:block;
                width:158px;
                height:46px;
                overflow:hidden;
                font-size:16px;
                font-weight:bold;
                line-height:46px;
                text-align:center;
                color:#6f451b;
                text-shadow:#FFF2B2 0 1px 1px;
                background:url('/media/images/dw_home_button1.png') no-repeat left top;
                float:left;
                margin-right:15px;
            }
            .intro_learn_button{
                display:block;
                width:158px;
                height:46px;
                overflow:hidden;
                font-size:16px;
                font-weight:bold;
                line-height:46px;
                text-align:center;
                color:#23620D;
                text-shadow:#E1F7CA 0 1px 1px;
                background:url('/media/images/dw_home_button2.png') no-repeat left top;
                float:left;
            }
        }
    }
}
#container_home_carousel{
    background:url('/media/images/dw_pattern_bg.gif') repeat left top;
    height:330px;
    overflow:hidden;
    #home_carousel {
        position:relative;
        width:960px;
        #carousel_title{
            margin:30px 0 15px 0;
            background:url('/media/images/dw_title_slide_bg.png') no-repeat left 15px;
            div{
                margin:0 20px -10px 0;
                text-align:right;
                font-weight:bold;
                font-size:11px;
            }
            a{
                color:#818181;
            }
            h1{
                margin:0;
                font-size:20px;
                color:#444;
                text-shadow:#ffffff 0 1px 1px;
            }
        }
        #carousel{
            width:810px;
            margin:0 auto;
            position:relative;
            .container_carousel{
                width:270px;
                height:220px;
                position:relative;
                float:left;
                .carousel{
                    margin:0 auto;
                    width:216px;
                    height:220px;
                    overflow:hidden;
                    text-align:left;
                    color:#043e6a;
                    font-weight:bold;
                    font-size:14px;
                    line-height:16px;
                    .container_photo{
                        width:216px;
                        height:151px;
                        overflow:hidden;
                        background:url('/media/images/dw_carousel_bg.png') no-repeat left top;
                        text-align:center;
                        .photo{
                            width:206px;
                            height:122px;
                            overflow:hidden;
                            margin:16px auto 0 auto;
                        }
                    }
                    h2{
                        font-size:11px;
                        color:#555;
                        margin:0;
                        text-transform:uppercase;
                    }
                    a{
                        color:#043e6a;
                    }
                    .text{
                        padding:0 10px;
                    }
                }
                .plus{
                    position:absolute;
                    top:-5px;
                    right:15px;
                    width:40px;
                    height:40px;
                }
            }
        }
        .carousel_popup{
            width:600px;
            position:absolute;
            top:0;
            left:180px;
            display:none;
            .carousel_popup_content{
                background:url('/media/images/dw_popup_bd2.png') repeat-y left top;
                padding:3px 20px;
                text-align:left;
                .carousel_popup_left{
                    width:300px;
                    float:left;
                    line-height:14px;
                    h1{
                        margin:5px 0;
                        font-size:16px;
                        color:#043E6A;
                        line-height:16px;
                    }
                    h2{
                        font-size:11px;
                        color:#555;
                        margin:0;
                        text-transform:uppercase;
                    }
                    ul{
                        margin:10px 20px;
                        padding:0 10px;
                    }
                    li{
                        float:none;
                        list-style-type:disc;
                    }
                    .more{
                        color:#043E6A;
                    }
                }
                .carousel_popup_right{
                    width:240px;
                    float:right;
                    font-size:11px;
                    line-height:15px;
                    color:#333;
                    span{
                        color:#555;
                        font-weight:bold;
                    }
                }
            }
            .close{
                position:absolute;
                top:-8px;
                right:0;
                width:40px;
                height:40px;
            }
        }
    }
}
#container_home_how{
    background:#EBF1F6 url('/media/images/dw_how_bg.gif') repeat-x left top;
    height:250px;
    overflow:hidden;
    #home_how{
        padding-top:43px;
        a{
            color:#043E6A;
        }
        div{
            color:#333333;
            p{
                margin:0 0 0 10px;
                &.margin_left_20{
                    margin-left:20px;
                }
            }
        }
        img{
            &.title{
                margin:25px 0 5px 0;
            }
        }
    }
}
#container_page_title{
    height:75px;
    overflow:hidden;
    background:url("/media/images/dw_pattern_bg.gif") repeat left top;
    border-bottom:1px solid #CCCCCC;
    #page_title{
        width:720px;
        float:right;
        padding-top:20px;
        h1{
            font-size:28px;
            color:#010101;
            font-weight:bold;
            margin:0;
            line-height:34px;
        }
        .theme{
            color:#555;
            font-size:11px;
            font-weight:bold;
            text-transform:uppercase;
        }
    }
}
#container_breadcrumbs {
    height:55px;
    overflow:hidden;
    #page_breadcrumbs{
        width:725px;
        float:right;
        padding-top:35px;
        font-size:11px;
        color:#333333;
        font-weight:bold;
        a{
            color:#4379a2;
            font-weight:normal;
        }
    }
}
#container_main_content{
    padding-bottom:40px;
    #nav_content{
        width:190px;
        float:left;
        li{
            a{
                color:#333;
                &:hover{
                    color:#3a9912;
                }
            }
            &.active{
                a{
                    color:#3a9912;
                }
            }
        }
        h1{
            color:#3a9912;
            font-size:15px;
            margin:0 0 15px 0;
        }
        ul{
            margin:0;
            li{
                font-weight:bold;
                font-size:14px;
                padding:5px 0 15px;
                border-top:1px solid #000;
                ul{
                    margin:0 0 0 10px;
                    li{
                        font-weight:normal;
                        padding:0;
                        border:none;
                        li{
                            font-size:12px;
                        }
                    }
                }
            }
        }
    }
    #main_content{
        width:740px;
        margin-right:5px;
        float:right;
        border-left:1px solid #DDDDDD;
        a{
            color:#044c83;
            &:hover{
                text-decoration:underline;
            }
        }
        h1{
            margin:20px 0 0 0;
            font-size:22px;
        }
        h2{
            margin:20px 0 0 0;
            font-size:16px;
        }
        h4{
            font-size:11px;
            color:#555;
            margin:0;
            text-transform:uppercase;
        }
        p{
            margin:10px 0;
        }
        .left_content{
            width:500px;
            float:left;
        }
        .right_content{
            width:200px;
            overflow:hidden;
            float:right;
            .block_1{
                background:#E3EDF4 url("/media/images/dw_sec_bg_right1.gif") repeat-x left top;
                padding:12px 18px;
                font-size:12px;
                color:#333333;
                margin-bottom:25px;
                h1{
                    margin:5px 0 0 0;
                    font-size:14px;
                    color:#333333;
                }
            }
            .block_2{
                background:#EBF2F8 url("/media/images/dw_sec_bg_right2.gif") repeat-x left top;
                padding:12px 18px;
                font-size:12px;
                color:#333333;
                margin-bottom:25px;
                h1{
                    margin:5px 0 0 0;
                    font-size:14px;
                    color:#333333;
                }
            }
        }
        ol{
            margin:0 20px;
            padding:0 10px;
        }
    }
}
#use_dw{
    margin:20px 0;
    .content{
        float:left;
        width:180px;
        height:95px;
        background:#E3EDF4 url("/media/images/dw_sec_bg_right1.gif") repeat-x left top;
        p{
            margin:0 !important;
            padding:10px;
            font-size:11px;
            line-height:16px;
            strong{
                font-size:14px;
            }
        }
    }
    .arrow{
        float:left;
        width:90px;
        height:95px;
        background:url("/media/images/dw_arrow_green.gif") no-repeat center center;
    }
}
#how_menu{
    position:relative;
    padding-top:10px;
    margin-bottom:40px;
    width:720px;
    .title{
        width:180px;
        float:left;
        text-align:center;
        a{
            color:#043E6A !important;
            &:hover{
                text-decoration:none !important;
            }
        }
    }
    #how_active{
        position:absolute;
        width:180px;
        height:180px;
        top:0;
        left:0;
        background:url("/media/images/dw_how_active.png") no-repeat center center;
    }
}
#how_content{
    h2{
        margin-bottom:20px !important;
    }
    ul{
        margin:10px 20px !important;
        padding:0 10px !important;
        li{
            list-style-type:disc;
        }
    }
    .container{
        display:none;
    }
    .active{
        display:block;
    }
}
#how_nav{
    #how_links{
        margin:30px 0 0;
        text-align:center;
        #how_try_button{
            display:block;
            width:158px;
            height:46px;
            overflow:hidden;
            font-size:16px;
            font-weight:bold;
            line-height:46px;
            color:#6f451b !important;
            text-shadow:#FFF2B2 0 1px 1px;
            background:url('/media/images/dw_home_button1.png') no-repeat left top;
            margin:0 auto;
        }
    }
    #how_prev{
        width:40%;
        float:left;
        font-size:14px;
    }
    #how_next{
        width:40%;
        float:right;
        text-align:right;
        font-size:14px;
    }
}
#features_menu{
    .tab{
        width:144px;
        float:left;
        text-align:center;
    }
}
#features_content{
    h3{
        font-size:15px;
        margin:15px 0 10px 0 !important;
    }
    #popbox{
        display:none;
    }
    .screen{
        position:relative;
        padding:15px 0 20px 10px;
        .capture{
            -moz-box-shadow: 1px 1px 6px #EEE;
            -webkit-box-shadow: 1px 1px 6px #EEE;
            box-shadow: 1px 1px 6px #EEE;
        }
        .plus{
            position:absolute;
            width:40px;
            height:40px;
            top:0;
            left:110px;
        }
    }
}

.try_button{
                display:block;
                width:158px;
                height:46px;
                overflow:hidden;
                font-size:16px;
                font-weight:bold;
                line-height:46px;
                color:#6f451b !important;
                text-shadow:#FFF2B2 0 1px 1px;
                background:url('/media/images/dw_home_button1.png') no-repeat left top;
                margin:10px auto;
            }

.trial_web_limit_button{
                display:block;
                margin-left: 80%;
                margin-top: -28px;
                width:158px;
                height:46px;
                overflow:hidden;
                font-size:16px;
                font-weight:bold;
                line-height:46px;
                color:#6f451b !important;
                text-shadow:#FFF2B2 0 1px 1px;
                background:url('/media/images/dw_home_button1.png') no-repeat left top;
                text-align: center;
            }

.trial_web_learn_more{
                margin-left: 70%;
}

#pricing{
    .container_plan{
        margin:0 auto;
        padding: 30px 0 20px 0;
        width:290px;
        text-align:left;
        position:relative;
        .plan{
            width:250px;
            height:330px;
            text-align:center;
            background:#fff2b8 url('/media/images/dw_pricing_bg.gif') repeat-x;
            border:1px solid #e5daa4;
            h2{
                font-size:22px !important;
            }
            ul{
                margin:10px 15px;
                padding:0 10px;
                text-align:left;
                li{
                    list-style-type:disc;
                }
            }
            small{
                font-size:10px;
            }
        }
        .badge{
            position:absolute;
            right:0;
            top:0;
            width:80px;
            height:80px;
        }
    }
}
.pricelist{
    margin:20px 0 0 0;
    border-top:1px solid #eee;
    td{
        border-bottom:1px solid #eee;
        padding:6px 10px;
        font-size:14px;
    }
}
.ui-dialog{
    border:1px solid #545454;
    .ui-dialog-titlebar{
        background:url('/media/images/dw_dialog_bg_title.gif') repeat-x;
        color:#fff;
        border:none;
        text-shadow: 1px 1px 0 #444;
    }
    .ui-dialog-titlebar-close{
        height:28px;
        width:28px;
        right:5px !important;
        top:13px !important;
        padding:0 !important;
    }
    .ui-icon-closethick{
        background:url('/media/images/dw_dialog_close.png') no-repeat;
        height:28px;
        width:28px;
    }
    .ui-state-hover{
        border:none;
        background:none;
    }
}
.bulleted{
    margin:0 20px !important;
    padding:0 10px !important;
    li{
        list-style-type:disc !important;
    }
}
small{
    font-size:11px;
}