.links {
  float: right; }
  .links li {
    float: left; }
    .links li a {
      border-right: 1px solid #ccc;
      padding-right: 5px;
      padding-left: 5px; }

.heading_block {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 5px;
  margin-top: 30px; }
  .heading_block .date_range_box {
    float: right; }
    .heading_block .date_range_box label, .heading_block .date_range_box select {
      font-weight: normal;
      float: left;
      margin-left: 10px; }

.view_data_block {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 5px;
  margin: 30px 0 30px 0; }
  .view_data_block .show_data_block label, .view_data_block .show_data_block select {
    float: left;
    font-weight: normal; }
  .view_data_block .show_data_block select {
    margin-left: 10px; }
  .view_data_block .view_style_block {
    float: right; }
    .view_data_block .view_style_block label, .view_data_block .view_style_block ul {
      font-weight: normal;
      float: left;
      margin-left: 10px; }
    .view_data_block .view_style_block ul {
      background: #e6f2fc;
      border: 1px solid #e6f2fc;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px; }
      .view_data_block .view_style_block ul li {
        float: left;
        background: url(/media/images/list_chart_map.png) no-repeat top left;
        padding: 2px 10px 2px 23px; }
        .view_data_block .view_style_block ul li a {
          padding: 10px;
          color: #000; }
      .view_data_block .view_style_block ul li.active {
        background-color: #94d1ff;
        border: 1px solid #94d1ff;
        -moz-border-radius: 10px 0 0px 10px;
        -webkit-border-radius: 10px 0 0px 10px; }
      .view_data_block .view_style_block ul li.list {
        background-position: 6px 3px;
        border-right: 1px solid #CCC; }
      .view_data_block .view_style_block ul li.chart {
        background-position: 10px -27px;
        border-right: 1px solid #CCC; }
      .view_data_block .view_style_block ul li.map {
        background-position: 10px -67px; }

.aggregation_block {
  background: none; }
  .aggregation_block select {
    border: 0;
    background: #FFFFFF;
    width: 100%;
    position: relative !important;
    top: 125px;
    z-index: 1; }
  .aggregation_block span.customStyleSelectBox {
    position: relative;
    top: 100px;
    font-size: 14px;
    background-color: #FFFFFF;
    color: #7c7c7c;
    padding: 1px 7px;
    border: 1px solid #e7dab0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px 5px; }
  .aggregation_block span.customStyleSelectBox.changed {
    background-color: #c0d5e9;
    border: 1px solid #e3eff9;
    color: #FFF; }
  .aggregation_block span.customStyleSelectBoxInner {
    background: url(/media/images/small_arrow.gif) no-repeat center right; }
  .aggregation_block td {
    height: 0px;
    border: 0; }

#data_table {
  float: left;
  width: 920px; }

.data_header {
  height: 100px;
  background-color: #525252;
  background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#3d3d3d));
  background: -moz-linear-gradient(top, #525252, #262626); }

#data_analysis_wrapper .dataTables_scroll {
  position: relative;
  top: -60px; }
#data_analysis_wrapper #data_analysis_filter input {
  width: 200px;
  margin-bottom: 10px; }
#data_analysis_wrapper #data_analysis th {
  height: 40px;
  color: #FFFFFF; }
#data_analysis_wrapper #data_analysis tr, #data_analysis_wrapper #data_analysis td {
  background: none; }
#data_analysis_wrapper .dataTables_scrollHeadInner thead th {
  color: #FFF; }
#data_analysis_wrapper .dataTables_scrollHeadInner thead .sorting {
  background: url(/media/images/sort_arrow.png) no-repeat right 10px; }
#data_analysis_wrapper .dataTables_scrollHeadInner thead .sorting_desc {
  background: url(/media/images/sort_icon_bottom.png) no-repeat right 18px; }
#data_analysis_wrapper .dataTables_scrollHeadInner thead .sorting_asc {
  background: url(/media/images/sort_icon_top.png) no-repeat right 10px; }
#data_analysis_wrapper .dataTables_paginate, #data_analysis_wrapper .dataTables_info {
  position: relative;
  top: -60px; }
