.gray_text{
    color:#696969;
    font-size:20px;
    margin:10px;
}

.wizard_success_message{
    height:auto;
    background:#ffefb0;
    border: 1px solid #ccbf97;
    margin-bottom:20px;
}

.black_italic{
    font-style: italic;
}

li{
    text-indent:50px;
}

.grid_23{
    margin-top:0px !important;
}

.project_detail{
    margin-top:0px !important;
}

.collect_data_heading{
    background-color:#f5f5f5;
    border:1px solid #cfcfcf;
    font-size:16px;
    font-weight: bold;
    padding-top:9px;
    height:35px;
    width:100%;
    float:left;
    clear:both;
    margin:30px 0 30px 0;
}

#map{
    float:left;
    clear:both;
}