/*The top most yellow wizard section styles*/
.wizard #step_wizard {
  margin: 15px 0 0 40px;
  width: 850px; }
  .wizard #step_wizard .ui-slider-handle {
    background: transparent url(/media/images/wizard_slider_handle.png) no-repeat top left;
    height: 26px;
    width: 20px;
    border: 0px;
    top: -8px; }
  .wizard #step_wizard .ui-slider-range {
    background-color: white;
    -moz-border-radius: 5px; }
  .wizard #step_wizard.ui-corner-all {
    -moz-border-radius: 5px; }
  .wizard #step_wizard.ui-widget-content {
    background-color: #176aba; }
.wizard .create_a_project {
  display: inline-block;
  margin-left: 35px;
  color: #997600;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px; }
.wizard h2 {
  margin: 0px 0 20px 35px; }
.wizard ul {
  margin-left: 30px; }
  .wizard ul li {
    float: left;
    font-weight: bold;
    padding: 10px 95px 0 0px; }
    .wizard ul li.questionnaire {
      padding-right: 153px; }
    .wizard ul li.people {
      padding-right: 160px; }
    .wizard ul li.reminder {
      padding-right: 110px; }
    .wizard ul li.finish {
      padding-right: 0px; }

/*The content styles for wizard based pages*/
.wizard_content .content_wrapper .questionnare_header {
  border: 1px solid #cccccc;
  height: 110px;
  margin-bottom: 20px; }
.wizard_content .content_wrapper .questionnare_content {
  border: 1px solid #cccccc;
  min-height: 500px; }
  .wizard_content .content_wrapper .questionnare_content #questions-panel, .wizard_content .content_wrapper .questionnare_content #question-detail-panel {
    padding-left: 50px;
    margin-top: 20px; }
  .wizard_content .content_wrapper .questionnare_content #questions-panel a {
    color: #0070ac; }
  .wizard_content .content_wrapper .questionnare_content #questions-panel .add_question {
    font-size: 14px;
    margin-top: 30px;
    font-weight: bold; }
  .wizard_content .content_wrapper .questionnare_content #question-detail-panel {
    border-left: 1px solid #cccccc; }
