#broadcast-form
{
    padding-top: 15px;
    padding-left: 10px;
}
#to-section ul li label
{
    width: 240px;
}
#text-label, #id_text, #to-label, #to-section, #id_others, #others-label
{
    float: left;
}

#message-submit
{
    clear: both;
    float: right;
}