.add_subjects_section {
  border: 1px solid #CCCCCC;
  height: 120px;
  background: #EEEEEE;
  padding: 10px 6px 0 20px;
  float: left; }
  .add_subjects_section > div h6 {
    font-size: 12px;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 10px; }
  .add_subjects_section > div p {
    font-style: italic;
    font-size: 12px;
    color: #666666;
    margin-bottom: 10px; }
  .add_subjects_section > div input[type=button] {
    float: right; }
  .add_subjects_section .import_list {
    padding-right: 20px;
    margin-left: 20px; }

.add_subject_form ul {
  float: left; }
  .add_subject_form ul li {
    margin-bottom: 15px;
    float: left; }
    .add_subject_form ul li label {
      width: 120px;
      float: left; }
      .add_subject_form ul li label label {
        display: inline; }
      .add_subject_form ul li label.error {
        font-size: 11px;
        font-weight: normal;
        margin-left: 120px;
        width: auto; }
    .add_subject_form ul li .auto_gen_checkbox label {
      float: none;
      display: inline; }
    .add_subject_form ul li input[type=text] {
      width: 200px; }

.ui-widget-overlay {
  background: #000000;
  opacity: 0.8; }

#error_table {
  display: none; }
  #error_table table {
    width: 100%; }
  #error_table th {
    color: #000000; }
  #error_table td {
    color: #FF0000; }
