#header .logo {
  text-align: left;
  color: #FFFFFF;
  font-size: 24px; }
  #header .logo .logo_data {
    font-weight: bold; }
  #header .logo .logo_winners {
    font-weight: normal; }
#header .login {
  text-align: right;
  color: #FFFFFF;
  font-size: 12px; }
  #header .login span {
    display: inline-block;
    padding: 8px 15px 8px 15px;
    background: url(/media/images/login_pipe.gif) no-repeat top right; }
  #header .login .welcome {
    font-weight: bold; }
  #header .login a {
    color: #FFFFFF;
    text-decoration: none; }
    #header .login a :hover {
      text-decoration: underline; }

#container_header_application #header {
  height: 30px; }
  #container_header_application #header .login {
    color: #CCCCCC; }
    #container_header_application #header .login span {
      display: inline-block;
      padding: 1px 15px 2px;
      margin-top: 4px; }
  #container_header_application #header .logo {
    position: relative;
    top: 30px; }

#main_tab {
  text-align: right; }
  #main_tab ul {
    position: relative;
    left: 510px; }
    #main_tab ul li {
      padding: 10px;
      float: left; }
      #main_tab ul li a {
        font-size: 14px;
        color: #feea89;
        font-weight: bold; }
      #main_tab ul li.current a {
        color: #FFFFFF; }
