.links{
    float:right;
    li{
        float:left;
        a{
            border-right:1px solid #ccc;
            padding-right:5px;
            padding-left:5px;
        }
    }
}
.heading_block{
    border-bottom:1px solid #CCCCCC;
    padding-bottom:5px;
    margin-top:30px;
    .date_range_box{
        float:left;
        label, select{
            font-weight:normal;
            float:left;
        }
    }
}

.view_data_block{
    border-bottom:1px solid #CCCCCC;
    padding-bottom:5px;
    margin:30px 0 30px 0;
    .show_data_block{
        label, select{
            float:left;
            font-weight:normal;
        }
        select{
            margin-left:10px;
        }
    }
    .view_style_block{
        float:right;
        label, ul{
            font-weight:normal;
            float:left;
            margin-left:10px;
        }
        ul{
            background:#e6f2fc;
            border:1px solid #e6f2fc;
            -moz-border-radius:10px;
            -webkit-border-radius:10px;
            li{
                float:left;
                background:url(/media/images/list_chart_map.png) no-repeat top left;
                padding:2px 10px 2px 23px;
                a{
                    padding:10px;
                    color:#000;
                }
            }
            li.active{
               background-color:#94d1ff;
               border:1px solid #94d1ff;
              -moz-border-radius:10px 0 0px 10px;
              -webkit-border-radius:10px 0 0px 10px;
            }
            li.list{
                background-position:6px 3px;
                border-right:1px solid #CCC;
            }
            li.chart{
                background-position:10px -27px;
                border-right:1px solid #CCC;
            }
            li.map{
                background-position:10px -67px;

            }
        }
    }

}
.aggregation_block{
    background:none;
    select{
        border:0;
        background:#FFFFFF;
        width:100%;
        position:relative !important;
        top:125px;
        z-index:1;
    }
    span.customStyleSelectBox { position:relative; top: 100px; font-size:14px; background-color: #FFFFFF; color:#7c7c7c; padding:1px 7px; border:1px solid #e7dab0; -moz-border-radius: 5px; -webkit-border-radius: 5px;border-radius: 5px 5px; }
    span.customStyleSelectBox.changed { background-color: #c0d5e9; border:1px solid #e3eff9; color:#FFF; }
    span.customStyleSelectBoxInner {  background:url(/media/images/small_arrow.gif) no-repeat center right; }
    td{
        height:0px;
        border:0;
    }
}
#data_table{
    float:left;
    width:920px;    
}
.data_header{
    height:100px;
    background-color:#525252;
    background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#3d3d3d));  //for webkit browsers
    background: -moz-linear-gradient(top,  #525252,  #262626);  //for firefox 3.6+
}
#data_analysis_wrapper{
    .dataTables_scroll{
        position:relative;
        top:-20px;
    }
    #data_analysis_filter{

        input{
            width:200px;
            margin-bottom:10px;
        }
    }
    #data_analysis{
        th{
            height:40px;
            color:#FFFFFF;
        }
        tr, td{
            background:none;
        }

    }
    .dataTables_scrollHeadInner{
        thead{
            th{
                color:#FFF;
            }
            .sorting{
                background:url(/media/images/sort_arrow.png) no-repeat right 10px;
            }
            .sorting_desc{
                background:url(/media/images/sort_icon_bottom.png) no-repeat right 18px;
            }
            .sorting_asc{
                background:url(/media/images/sort_icon_top.png) no-repeat right 10px;
            }
        }
    }
    .dataTables_paginate,.dataTables_info{
        position:relative;
        top:-20px;
    }
}
#dateRangePicker{
    width:220px;
    margin-left:5px;
    padding-left:5px;
}
.ui-daterangepickercontain .ui-daterangepicker {
    font-size:11px;
    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-state-hover{
        border:1px solid #666666;
        background:#ccc;
    }
    .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited, .ui-state-hover a{
        color:#000000;
    }
    .ui-widget-header{
         background-color:#525252;
         background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#3d3d3d));  //for webkit browsers
         background: -moz-linear-gradient(top,  #525252,  #262626);  //for firefox 3.6+
        border:1px solid #666666
    }
}