.add_subjects_section {
  border: 1px solid #CCCCCC;
  height: 120px;
  background: #EEEEEE;
  padding: 10px 6px 0 20px;
  float: left; }
  .add_subjects_section > div h6 {
    font-size: 12px;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 10px; }
  .add_subjects_section > div p {
    font-style: italic;
    font-size: 12px;
    color: #666666;
    margin-bottom: 10px; }
  .add_subjects_section > div input[type=button] {
    float: right; }
  .add_subjects_section .import_list {
    padding-right: 20px;
    margin-left: 20px; }

.add_subject_form ul {
  float: left; }
  .add_subject_form ul li {
    margin-bottom: 15px;
    float: left; }
    .add_subject_form ul li label {
      width: 120px;
      float: left; }
      .add_subject_form ul li label label {
        display: inline; }
      .add_subject_form ul li label.error {
        font-size: 11px;
        font-weight: normal;
        margin-left: 120px;
        width: auto; }
    .add_subject_form ul li .auto_gen_checkbox label {
      float: none;
      display: inline; }
    .add_subject_form ul li input[type=text] {
      width: 200px; }

#question-detail-panel > div span {
  margin-bottom: 20px;
  display: block; }

/* jQuery UI Stylings */
.ui-widget-overlay {
  background: #000000;
  opacity: 0.8; }

.ui-widget-content {
  background: #FFFFFF; }
  .ui-widget-content .ui-widget-header {
    border: none;
    background-color: #525252;
    background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#3d3d3d));
    background: -moz-linear-gradient(top, #525252, #262626); }
    .ui-widget-content .ui-widget-header .ui-dialog-title {
      font-size: 18px; }

#file-uploader {
  width: 360px;
  margin: 20px auto; }
  #file-uploader h6 {
    float: left;
    margin: 10px 20px 0 0; }
  #file-uploader .file_uploader {
    float: left; }
  #file-uploader .qq-upload-button {
    border: 1px solid #D4972D;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #999;
    /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#feea89), to(#ffd857));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #feea89, #ffd857);
    /* for firefox 3.6+ */
    color: #6F451D;
    font-family: "Arial";
    font-weight: bold;
    padding: 6px 12px 6px 11px; }

#error_table {
  display: none; }
  #error_table table {
    width: 100%; }
  #error_table th {
    color: #000000;
    text-align: center; }
  #error_table td {
    color: #FF0000; }
