/*The top most yellow wizard section styles*/
.wizard #step_wizard {
  margin: 15px 0 0 40px;
  width: 850px; }
  .wizard #step_wizard .ui-slider-handle {
    background: transparent url(/media/images/wizard_slider_handle.png) no-repeat top left;
    height: 26px;
    width: 20px;
    border: 0px;
    top: -8px; }
  .wizard #step_wizard .ui-slider-range {
    background-color: white;
    -moz-border-radius: 5px; }
  .wizard #step_wizard.ui-corner-all {
    -moz-border-radius: 5px; }
  .wizard #step_wizard.ui-widget-content {
    background-color: #176aba; }
.wizard .create_a_project {
  display: inline-block;
  margin-left: 35px;
  color: #997600;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px; }
.wizard h2 {
  margin: 0px 0 20px 35px; }
.wizard ul {
  margin-left: 30px; }
  .wizard ul li {
    float: left;
    font-weight: bold;
    padding: 10px 95px 0 0px; }
    .wizard ul li.questionnaire {
      padding-right: 153px; }
    .wizard ul li.people {
      padding-right: 160px; }
    .wizard ul li.reminder {
      padding-right: 110px; }
    .wizard ul li.finish {
      padding-right: 0px; }

/*The content styles for wizard based pages*/
.wizard_content .content_wrapper .questionnaire_code {
  margin-bottom: 20px; }
  .wizard_content .content_wrapper .questionnaire_code label {
    font-weight: bold; }
  .wizard_content .content_wrapper .questionnaire_code input {
    width: 130px;
    height: 20px;
    border-color: #CCCCCC; }
  .wizard_content .content_wrapper .questionnaire_code h5 {
    margin-bottom: 10px; }
.wizard_content .content_wrapper .step_number {
  margin-bottom: 20px; }
.wizard_content .content_wrapper .questionnaire_code label {
  display: inline; }
.wizard_content .content_wrapper .questionnare_header {
  border: 1px solid #cccccc;
  height: 20px;
  margin-bottom: 20px; }
.wizard_content .content_wrapper .questionnare_content {
  border: 1px solid #cccccc;
  min-height: 500px; }
  .wizard_content .content_wrapper .questionnare_content #questions-panel, .wizard_content .content_wrapper .questionnare_content #question-detail-panel {
    padding-left: 50px;
    margin-top: 20px; }
  .wizard_content .content_wrapper .questionnare_content #message-label label {
    color: #269700; }
  .wizard_content .content_wrapper .questionnare_content #questions-panel a {
    color: #0070ac; }
  .wizard_content .content_wrapper .questionnare_content #questions-panel .add_question {
    font-size: 14px;
    margin-top: 30px;
    font-weight: bold; }
  .wizard_content .content_wrapper .questionnare_content #questions-panel .question_list ol li {
    margin-bottom: 10px; }
  .wizard_content .content_wrapper .questionnare_content #questions-panel .question_list .delete a {
    color: #000000; }
  .wizard_content .content_wrapper .questionnare_content #question-detail-panel {
    border-left: 1px solid #cccccc; }

.buttons .buttons {
  margin: 15px 0 15px 15px; }
  .buttons .buttons #submit_button_right {
    background: url("/media/images/arrow_wizard.png") no-repeat top right;
    position: relative;
    left: -8px;
    top: 0px;
    padding: 13px 13px 13px 13px;
    display: inline; }
  .buttons .buttons #submit-button {
    color: #6f451d;
    font-family: "Arial";
    font-weight: bold;
    border: 0px;
    background: url("/media/images/arrow_wizard.png") no-repeat top left;
    padding: 13px 6px 13px 22px; }
  .buttons .buttons .cancel {
    margin-right: 10px; }
