table {
  width: 100%;
  margin: 0; }

#header_application {
  margin: 0 auto;
  float: none;
  width: 960px; }

/* common for all data Page */
.links {
  float: right; }
  .links li {
    float: left; }
    .links li a {
      border-right: 1px solid #ccc;
      padding-right: 5px;
      padding-left: 5px; }

#container_header_application #main_tab .logo img {
  margin-left: 15px; }

.heading_block {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 5px;
  margin-top: 30px; }
  .heading_block .date_range_box {
    float: left; }
    .heading_block .date_range_box label, .heading_block .date_range_box select {
      font-weight: normal;
      float: left; }
    .heading_block .date_range_box input {
      float: left; }
  .heading_block label {
    float: left;
    margin-right: 10px;
    font-weight: normal; }

.view_data_block {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 5px;
  margin: 30px 0 30px 0; }
  .view_data_block .show_data_block label, .view_data_block .show_data_block select {
    float: left;
    font-weight: normal; }
  .view_data_block .show_data_block select {
    margin-left: 10px; }
  .view_data_block .view_style_block {
    float: right; }
    .view_data_block .view_style_block label, .view_data_block .view_style_block ul {
      font-weight: normal;
      float: left;
      margin-left: 10px; }
    .view_data_block .view_style_block ul {
      background: #e6f2fc;
      border: 1px solid #e6f2fc;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px; }
      .view_data_block .view_style_block ul li {
        float: left;
        background: url(/media/images/list_chart_map.png) no-repeat top left;
        padding: 2px 10px 2px 23px; }
        .view_data_block .view_style_block ul li a {
          padding: 10px;
          color: #CCCCCC; }
      .view_data_block .view_style_block ul li.active {
        background-color: #94d1ff;
        border: 1px solid #94d1ff;
        -moz-border-radius: 10px 0 0px 10px;
        -webkit-border-radius: 10px 0 0px 10px; }
        .view_data_block .view_style_block ul li.active a {
          color: #000000; }
      .view_data_block .view_style_block ul li.list {
        background-position: 6px 3px;
        border-right: 1px solid #CCC; }
      .view_data_block .view_style_block ul li.chart {
        background-position: 10px -27px;
        border-right: 1px solid #CCC; }
      .view_data_block .view_style_block ul li.map {
        background-position: 10px -67px; }

.data_table {
  float: left;
  overflow: auto;
  width: 100%; }
  .data_table #data_analysis {
    margin-top: -50px;
    float: left;
    width: auto; }
    .data_table #data_analysis th {
      height: 40px;
      color: #FFFFFF; }
    .data_table #data_analysis tr, .data_table #data_analysis td {
      background: none; }
    .data_table #data_analysis thead tr.data_header {
      height: 100px;
      background-color: #525252;
      background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#3d3d3d));
      background: -moz-linear-gradient(top, #525252, #262626); }

.aggregation_block {
  background: none; }
  .aggregation_block select {
    border: 0;
    background: #FFFFFF;
    width: 100%;
    position: relative !important;
    top: 125px;
    z-index: 1; }
  .aggregation_block span.customStyleSelectBox {
    position: relative;
    top: 100px;
    font-size: 14px;
    background-color: #FFFFFF;
    color: #7c7c7c;
    padding: 1px 7px;
    border: 1px solid #e7dab0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px 5px; }
  .aggregation_block span.customStyleSelectBox.changed {
    background-color: #c0d5e9;
    border: 1px solid #e3eff9;
    color: #FFF; }
  .aggregation_block span.customStyleSelectBoxInner {
    background: url(/media/images/small_arrow.gif) no-repeat center right; }
  .aggregation_block td {
    height: 0px;
    border: 0; }

#data_analysis_wrapper .dataTables_scroll {
  position: relative;
  top: -20px; }
#data_analysis_wrapper #data_analysis_filter input {
  width: 200px;
  margin-bottom: 10px; }
#data_analysis_wrapper table thead th {
  color: #FFF; }
#data_analysis_wrapper table thead .sorting {
  background: url(/media/images/sort_arrow.png) no-repeat right 10px; }
#data_analysis_wrapper table thead .sorting_desc {
  background: url(/media/images/sort_icon_bottom.png) no-repeat right 18px; }
#data_analysis_wrapper table thead .sorting_asc {
  background: url(/media/images/sort_icon_top.png) no-repeat right 10px; }

#dateRangePicker {
  width: 220px;
  margin: 0 10px 0 5px;
  padding-left: 5px; }

.ui-daterangepickercontain .ui-daterangepicker {
  font-size: 12px; }
  .ui-daterangepickercontain .ui-daterangepicker .ui-state-active, .ui-daterangepickercontain .ui-daterangepicker .ui-widget-content .ui-state-active, .ui-daterangepickercontain .ui-daterangepicker .ui-widget-header .ui-state-active, .ui-daterangepickercontain .ui-daterangepicker .ui-state-hover {
    border: 1px solid #666666;
    background: #ccc; }
  .ui-daterangepickercontain .ui-daterangepicker .ui-state-active a, .ui-daterangepickercontain .ui-daterangepicker .ui-state-active a:link, .ui-daterangepickercontain .ui-daterangepicker .ui-state-active a:visited, .ui-daterangepickercontain .ui-daterangepicker .ui-state-hover a {
    color: #000000; }
  .ui-daterangepickercontain .ui-daterangepicker .ui-widget-header {
    background-color: #525252;
    background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#3d3d3d));
    background: -moz-linear-gradient(top, #525252, #262626);
    border: 1px solid #666666; }

#pagination {
  margin-top: 10px; }
