#header{
  .logo{
    text-align:left;
    color:#FFFFFF;
    font-size:24px;
    .logo_data{
        font-weight:bold;
    }
    .logo_winners{
        font-weight:normal;
    }
  }

  .login{
    text-align:right;
    color:#FFFFFF;
    font-size:12px;
    span{
        display:inline-block;
        padding:8px 15px 8px 15px;
        background:url(/media/images/login_pipe.gif) no-repeat top right;
    }
    .welcome{
        font-weight:bold;
    }
    a{
        color:#FFFFFF;
        text-decoration:none;
        :hover{
            text-decoration:underline;
        }
    }

  }
}