$font_family:"Arail";

.tab_navigation{
    margin-top:50px;
    ul{
        background:url('/media/images/tab_navigation_bg.gif') repeat-x left 10px scroll;
        width:923px;
        margin-left:15px;
        float:left;
        li{
            float:left;
            padding:7px 44px 8px 44px;
            position:relative;
            margin-top:10px;
            background:url('/media/images/tab_navigation_pipe.gif') no-repeat top right;
            a{
                color:#FFFFFF;
                text-decoration:none;
                font-size:14px;
                font-weight:bold;
            }
        }
        li.active{
            background:#FFFFFF;
            margin-top:0px;
            padding-top:15px;
            top:1px;
            border:1px solid #ccc;
            border-bottom:1px solid #fff;
            a{
                color:#000000;
            }
        }
    }

}