.auto_gen_checkbox{
    position:absolute;
    label{
        display:inline;
        float:none;
        font-weight:normal;
        font-size:12px;
    }
}

.form_sub_set{
    legend{
        font-size:14px;
        font-weight:bold;
    }
    li{
        padding-bottom:10px;
        input{
            width:200px !important;
        }
        label{
            display:block;
            width:100%;
            font-weight:normal;
            font-size:13px;
        }
    }
}