/*The top most yellow wizard section styles*/
#container_content .wizard_content .content_wrapper {
  padding: 0 0px 0 0;
  margin: 10px; }
  #container_content .wizard_content .content_wrapper .step_number {
    margin-bottom: 20px; }

.wizard #step_wizard {
  margin: 15px 0 0 40px;
  width: 850px; }
  .wizard #step_wizard .ui-slider-handle {
    background: transparent url(/media/images/wizard_slider_handle.png) no-repeat top left;
    height: 26px;
    width: 20px;
    border: 0px;
    top: -8px; }
  .wizard #step_wizard .ui-slider-range {
    background: white;
    -moz-border-radius: 5px; }
  .wizard #step_wizard.ui-corner-all {
    -moz-border-radius: 5px; }
  .wizard #step_wizard.ui-widget-content {
    background: #176aba; }
.wizard .create_a_project {
  display: inline-block;
  margin-left: 35px;
  color: #997600;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px; }
.wizard h2 {
  margin: 0px 0 20px 35px; }
.wizard ul {
  margin-left: 30px; }
  .wizard ul li {
    float: left;
    font-weight: bold;
    padding: 10px 115px 0 0px; }
    .wizard ul li.questionnaire {
      padding-right: 130px; }
    .wizard ul li.subjects {
      padding-right: 140px; }
    .wizard ul li.datasenders {
      padding-right: 90px; }
    .wizard ul li.reminder {
      padding-right: 82px; }
    .wizard ul li.finish {
      padding-right: 0px; }

.buttons {
  width: 100%;
  float: left; }
  .buttons .buttons {
    margin: 15px 0 15px 0px; }
    .buttons .buttons .previous_step {
      margin-top: 8px; }
    .buttons .buttons #submit_button_right {
      background: url("/media/images/arrow_wizard.png") no-repeat top right;
      position: relative;
      left: -8px;
      top: 0px;
      height: 49px;
      padding: 7px 6px 13px 22px;
      display: inline; }
    .buttons .buttons #submit-button {
      color: #6f451d;
      font-family: "Arial";
      font-weight: bold;
      border: 0px;
      height: 50px;
      background: url("/media/images/arrow_wizard.png") no-repeat top left;
      padding: 7px 6px 13px 22px; }
    .buttons .buttons .cancel {
      margin-right: 10px; }
    .buttons .buttons .next_step {
      float: right;
      width: 315px; }
      .buttons .buttons .next_step a {
        margin-top: 13px; }
      .buttons .buttons .next_step a, .buttons .buttons .next_step form {
        float: right; }
