.gray_text{
    color:#696969;
    font-size:20px;
    margin:10px;
}

.wizard_success_message{
    height:auto;
    background:#ffefb0;
    border: 1px solid #ccbf97;
    margin-bottom:20px;
}

.black_italic{
    font-style: italic;
}

.w_content li{
    text-indent:50px;
}

.grid_23{
    margin-top:0px !important;
}

.project_detail{
    margin-top:0px !important;
}

#collect_data{
    margin:40px 0 40px 0;
}

#collect_data_heading{
    background-color:#f5f5f5;
    border:1px solid #cfcfcf;
    padding-top:9px;
    height:35px;
    width:100%;
    label{
        font-size:16px;
        font-weight: bold;
    }
}

#collect_data_content{
    display:none;
    td{
        border:1px solid #cfcfcf;
        padding: 20px;
    }
}

#map{
    float:left;
    clear:both;
}
.left_half{
    float:left;
    clear:right;
    width:50%;
    label{
        display:inline;
        font-size:16px;
        margin:5px;
    }
}

.right_half{
    float:right;
    width:50%;
    input{
        width:250px;
    }
}

.float_left{
    margin:7px 0 30px 0;
    b{
        font-size:16px;
        margin:5px;
    }
}
