#question_form label {
  display: block;
  float: none; }
#question_form input {
  float: none; }
#question_form .questionnaire_code label, #question_form .questionnaire_code input {
  float: left; }
#question_form .questionnaire_code input {
  width: 100px; }
#question_form .alpha_list input {
  float: left; }
#question_form .new_question {
  display: none; }
#question_form #questions-panel {
  border-right: 1px solid #ececec;
  margin: 0px 20px 0 20px; }
  #question_form #questions-panel .question_list li {
    margin-bottom: 10px; }
#question_form #question-detail-panel {
  float: left;
  width: 525px; }
#question_form #max_length {
  width: 50px;
  float: none; }

.preview_block {
  text-align: right; }

.preview_block {
  text-align: right; }

#questionnaire_preview {
  margin-left: 20px; }
  #questionnaire_preview .questionnaire_preview li {
    margin-bottom: 15px;
    width: 100%;
    float: left; }
  #questionnaire_preview .questionnaire_preview .answer {
    margin-bottom: 5px; }
  #questionnaire_preview .questionnaire_preview label {
    float: left !important;
    font-weight: normal; }
  #questionnaire_preview .questionnaire_preview input[type=radio], #questionnaire_preview .questionnaire_preview input[type=checkbox] {
    float: left !important; }
  #questionnaire_preview .questionnaire_preview div {
    width: 100%;
    float: left; }

#print_page a {
  color: #0070ac;
  outline: none; }
