.support-acc{
    .ui-accordion-header{
        font-family:Helvetica,Arial,sans-serif;
        font-size:13px;
        font-weight:normal;
        margin:0;
        padding: 0 0 0 20px;
        a{
            padding:5px 0 0 22px;
            &:hover{
                text-decoration:none !important;
            }
        }
    }
    .ui-state-default, .ui-state-active, .ui-widget-content{
        background:none;
        border:none;
    }
    .ui-widget-content{
        font-family:Helvetica,Arial,sans-serif;
        font-size:13px;
        padding:0;
    }
    .ui-icon{
        background:url('/media/images/dw_acc_arrow.png') no-repeat left top;
    }
    .ui-state-active{
        .ui-icon{
            background:url('/media/images/dw_acc_arrow.png') no-repeat left -20px;
        }
    }
    td{
        border: 1px solid #DDD;
        padding: 0 10px;
    }
}

.block_support{
    border-top:  1px solid #CCC;
    border-bottom:  1px solid #CCC;
    padding:  10px 0;
    width: 350px;
    display: inline;
    float: left;
    margin-right: 5px;
    .read_more{
        position: absolute;
        top: 82px;
        right: 5px;
    }
    h3{
        font-size: 14px;
    }
    .grid_5{
        position: relative;
    }
}
.block_support_hover{
    -moz-box-shadow: 0 0 3px 3px #DDD;
    -webkit-box-shadow: 0 0 3px 3px#DDD;
    box-shadow: 0 0 3px 3px #DDD;

}

