#container_content .wizard_content .content_wrapper {
  padding-left: 30px;
  width: 900px; }

fieldset {
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 750px;
  padding: 20px;
  margin-bottom: 20px; }
  fieldset legend {
    color: #C35C00;
    font-weight: bold; }

#add_subject_type {
  margin-left: 170px; }
  #add_subject_type label {
    width: auto; }
  #add_subject_type input[type=text] {
    width: 200px; }
