#footer a {
  color: #afdd88;
  text-decoration: none; }
  #footer a:hover {
    text-decoration: underline; }
#footer div {
  text-align: left;
  color: #b9cedc;
  font-size: 12px;
  line-height: 16px;
  margin: 0; }
#footer img {
  margin: 0 15px 6px 0; }
#footer p {
  margin: 20px 0; }
#footer small {
  font-size: 11px; }
#footer ul a {
  line-height: 23px; }
#footer .italic {
  font-size: 11px; }
