.padding_right_null{
    padding-right:0 !important;
}
.padding_left_null{
    padding-left:0;
}
.padding_top_null{
    padding-left:0;
}
.padding_bottom_null{
    padding-left:0;
}

/* Margin Null */
.margin_right_null{
    margin-right:0;
}
.margin_left_null{
    margin-left:0;
}
.margin_top_null{
    margin-left:0;
}
.margin_bottom_null{
    margin-left:0;
}
.margin_null{
    margin:0;
}
.margin_20{
    margin:20px;
}
.margin_top_20{
    margin-top:20px;
}
.margin_bottom_20{
    margin-bottom:20px;
}
.margin_bottom_10{
    margin-bottom:10px;
}
.margin_top_10{
    margin-top:10px;
}
.margin_top_5{
    margin-top:5px;
}

/* Border Styles */
.null_border{
    border:0px !important;
}

/*Text alignments*/
.text_align_right{
    text-align:right;
}
.text_align_center{
    text-align:center;
}

/* Text Styles */
.bold{
    font-weight:bold;
}


/*Error and Success*/
.error_message{
    color:#FF0000;
    padding:5px;
}
.success_message{
    color:green;
    padding:5px;
}

.error{
    color:#FF0000;
}
.success{
    color:green;
}
input.error{
    border:1px solid #FF0000 !important;
    color:#000000;
}


/*Table Styles Temp*/
table{
    margin-bottom:10px;
    width:100%;
    td, th{
        border:1px solid #ccc;
        padding:6px
    }
    th{
        color: #000;
        font-weight:bold;
        padding:10px;
    }
}

/* Inline and block */
.inline{
    display:inline;
}

/* List styles */
.alpha_list li{
    list-style-type:upper-alpha;
    overflow:visible;
}

/* Links with BG images */
.add_link{
    padding:3px 0 20px 30px;
    background:url(/media/images/icons.png) no-repeat top left;
}
.delete_link{
    padding:5px 0 10px 25px;
    background:url(/media/images/icons.png) no-repeat left -167px;
}