.padding_right_null {
  padding-right: 0 !important; }

.padding_left_null {
  padding-left: 0; }

.padding_top_null {
  padding-left: 0; }

.padding_bottom_null {
  padding-left: 0; }

/* Margin Null */
.margin_right_null {
  margin-right: 0; }

.margin_left_null {
  margin-left: 0; }

.margin_top_null {
  margin-left: 0; }

.margin_bottom_null {
  margin-left: 0; }

.margin_null {
  margin: 0; }

.margin_top_20 {
  margin-top: 20px; }

/*Text alignments*/
.text_align_right {
  text-align: right; }

/*Error and Success*/
.error_message {
  color: #FF0000;
  margin: 20px;
  padding: 10px; }

.success_message {
  color: green;
  margin: 20px;
  padding: 10px; }

.error {
  color: #FF0000; }

input.error {
  border: 1px solid #FF0000 !important;
  color: #000000; }

/*Table Styles Temp*/
table {
  margin-bottom: 10px; }

table td, table th {
  border: 1px solid #ccc;
  padding: 6px; }

table th {
  color: #000;
  font-weight: bold;
  padding: 10px; }

/* Inline and block */
.inline {
  display: inline; }
