.padding_right_null {
  padding-right: 0 !important; }

.padding_left_null {
  padding-left: 0; }

.padding_top_null {
  padding-left: 0; }

.padding_bottom_null {
  padding-left: 0; }

/* Margin Null */
.margin_right_null {
  margin-right: 0; }

.margin_left_null {
  margin-left: 0; }

.margin_top_null {
  margin-left: 0; }

.margin_bottom_null {
  margin-left: 0; }

/*Text alignments*/
.text_align_right {
  text-align: right; }
