{% load i18n %}
<div class="float_left date_filter">
    <div class="filter_label">
        <label>{% trans "Submission Date" %}</label>
        <img src="/media/images/help_icon.png" class="help_icon">

        <div class="tooltip"><p>
            <strong>{% trans "What is this?" %}</strong><br/>
            {% trans "q_tooltip_submission_date" %}
            <br/><br/>
            <strong>{% trans "What do I need to do?" %}</strong><br/>
            {% trans "r_tooltip_submission_date" %}
        </p></div>
    </div>
    <div class="float_left">
        <input type="text" readonly="true" id="submissionDatePicker" class="datepicker" value="{% trans "All Dates" %}"/>
        <span class="dateErrorDiv" class="error_arrow"></span>
    </div>
</div>