{% load i18n %}
<div class="{% if not project.entity_type %} none {% endif %} float_left filter-question">
    {% for entity_type in project.entity_type %}
    <div class="filter_label" for="subjectSelect">
        <label class="full_width">{{ entity_type }}</label>
    </div>
    <div class="float_left ">
        <input class="subject_filter" type="text" watermark="{% trans "All Subjects"%}" entity_type="{{ entity_type }}" placeholder="{% trans "All Subjects"%}" />
    </div>
    {% endfor %}
</div>