{% load i18n %}
<div class="float_left date_filter">
    <div class="filter_label">
        <label>{{ date.label }}</label>
    </div>
    <div class="float_left">
        <input id="date-question-filter-{{ date.code }}" type="text" readonly="true" class="datepicker date-question-filter"
               {% if date.is_month_format %} data-ismonthly="true" {% endif %}
               data-question-code="{{ date.code }}"
               data-format="{{ date.format }}"
               value="{% trans "All Dates" %}"/>
        <span class="dateErrorDiv" class="error_arrow"></span>
        <div class="month_date_picker_div"></div>
    </div>
</div>