{% load i18n %}
<div class="filter-question" id="duplicates-for-dropdown">
    <div class="filter_label">
        <label>{% trans "Show Duplicates For" %}<img src="/media/images/help_icon.png" class="help_icon submission_date_help_icon"></label>
        <div class="tooltip"><p>
            <strong>{% trans "What is this?" %}</strong><br/>
            {% blocktrans %}
            Choose what type of case of duplicate Submissions you are looking for - use the drop down<br/>
                a) Submissions with the exact same answers for each question<br/>
                b) Submissions with the exact same Identification Number  (only matched on the Identification Number Question).<br/>
                c) Submissions made by the same Data Sender
            {% endblocktrans %}
        </p></div>
    </div>
    <div class="float_left">
        <select id="duplicates_for">
            {% for field in duplicates_for %}
                {% if field.type == 'unique_id' %}
                    <option value="{{field.code}}">{{ field.entity_type|capfirst }} - {{ field.label|capfirst }}</option>
                {% else %}
                    <option value="{{field.entity_type}}">{{ field.label|capfirst }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
</div>