.valueLabels {
  font-size: 80%;
  color: black; }

div.valueLabelLight {
  opacity: 0.5;
  background-color: white;
  color: white;
  border: none;
  position: absolute;
  margin-left: 5px;
  margin-top: 5px; }

div.valueLabel {
  position: absolute;
  border: none;
  margin-left: 5px;
  margin-top: 5px; }

.title-selected a {
  color: black !important;
  font-weight: bold;
  cursor: default; }

.title-selected a:hover {
  text-decoration: none; }

.chartOl {
  margin-top: 10px;
  float: left;
  list-style: disc;
  min-height: 274px; }
  .chartOl .chartDiv {
    margin-top: 50px;
    display: inline-block;
    width: 100%; }
    .chartOl .chartDiv .pieDiv {
      width: 500px;
      height: 400px;
      float: left;
      margin-top: -20px;
      margin-bottom: 30px; }
      .chartOl .chartDiv .pieDiv .pieLabel {
        font-size: 8pt;
        width: 100px;
        text-align: center;
        padding: 2px;
        color: black;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
    .chartOl .chartDiv .barDiv {
      margin-bottom: 50px;
      width: 500px;
      float: left; }
      .chartOl .chartDiv .barDiv .barLabel {
        -moz-text-overflow: ellipsis;
        font-size: 8pt;
        padding: 2px;
        color: black;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
    .chartOl .chartDiv .tableDiv {
      float: left;
      margin-left: 20px; }
      .chartOl .chartDiv .tableDiv .legend_table {
        width: 400px; }
        .chartOl .chartDiv .tableDiv .legend_table .lengendHeader {
          font-weight: bold; }
        .chartOl .chartDiv .tableDiv .legend_table .percentHeader {
          font-weight: bold;
          white-space: nowrap; }
          .chartOl .chartDiv .tableDiv .legend_table .percentHeader img {
            margin-top: -4px;
            margin-left: 5px; }
          .chartOl .chartDiv .tableDiv .legend_table .percentHeader .tooltip {
            white-space: normal !important; }
        .chartOl .chartDiv .tableDiv .legend_table .lengendFooter {
          background: #EEE;
          font-weight: bold; }
      .chartOl .chartDiv .tableDiv .tableSummary {
        margin-top: 10px; }
      .chartOl .chartDiv .tableDiv .mcExplaination {
        margin-top: 5px;
        font-style: italic;
        font-size: 11px; }
  .chartOl li {
    list-style-type: none; }
    .chartOl li ul {
      margin-bottom: 10px; }
      .chartOl li ul li {
        float: left; }
      .chartOl li ul label {
        float: left;
        padding: 0 5px  0 5px; }

.chartInfo2 {
  margin-top: 5px;
  color: #545454;
  font-style: italic;
  width: 100%; }
