
.valueLabels {
  font-size:80%;
  color:black;
}

div.valueLabelLight {
  opacity:0.5;
  background-color: white;
  color:white;
  border:none;
  position:absolute;
  margin-left: 5px;
  margin-top: 5px;
}

div.valueLabel {
  position:absolute;
  border:none;
  margin-left: 5px;
  margin-top: 5px;
}

.title-selected a{
  //text-decoration:underline;
  color:black !important;
  font-weight: bold;
  cursor: default;
}

.title-selected a:hover{
  text-decoration:none;
}

.chartOl{
  margin-top: 10px;
  float: left;
  list-style: disc;
  min-height: 274px;

  .chartDiv{
    margin-top: 50px;
    display:inline-block;
    width: 100%;

    .pieDiv{
      width:500px;
      height:400px;
      float: left;
      margin-top: -20px;
      margin-bottom: 30px;

      .pieLabel{
        font-size:8pt;
        width:100px;
        text-align:center;
        padding:2px;
        color:black;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .barDiv{
      margin-bottom:50px;
      width:500px;
      float: left;

      .barLabel{
        -moz-text-overflow: ellipsis;
        font-size:8pt;
        padding:2px;
        color:black;
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
      }
    }

    .tableDiv{
      float:left;
      margin-left:20px;
      .legend_table{
        width: 400px;
        .lengendHeader{
          font-weight: bold;
        }
        .percentHeader{
          font-weight: bold;
          white-space: nowrap;

          img{
            margin-top: -4px;
            margin-left: 5px;
          }

          .tooltip{
            white-space: normal !important;
          }
        }
        .lengendFooter{
          background:#EEE;
          font-weight: bold;
        }
      }

      .tableSummary{
        margin-top: 10px
      }

      .mcExplaination{
        margin-top: 5px;
        font-style: italic;
        font-size: 11px;
      }
    }
  }

  li{
    list-style-type: none;

    ul{
      margin-bottom:10px;
      li{
        float:left;
      }

      label{
        float:left;
        padding:0 5px  0 5px;
      }
    }
  }
}

.chartInfo2{
  margin-top: 5px;
  color: #545454;
  font-style: italic;
  width:100%;
}




