#month_date_picker_div {
  div {
    width: 100%;

    #start_border,#end_border {
      width: 49%;
      float: left;

      #month_picker_title_start, #month_picker_title_end {
        text-align: center;
        color: white;
        font-weight: bold;
        width: 100%;
        padding-top: 5px;

        text-align: center;
        color: white;
        font-weight: bold;
      }

      #monthpicker_start, #monthpicker_end {
        top: 0px;
        left: 0px;
        position: relative;
      }
    }

    #start_border{
      padding-left: 7px
    }

    button {
      display: block;
      float: right;
      margin: 4px 10px 0 0;
      border-radius: 4px;
    }
  }
}