.mtz-monthpicker-month:hover, .month-selected {
  border: 1px solid #666 !important;
  background: #CCC !important;
  color: #EB8F00 !important;
}

.ui-dropdownchecklist-text {
  color: black;
  font-weight: normal;
  height: 100%
}

.disabled {
  background-color: #EBEBE4 !important;
  color: #888;
}
.button_disabled {
  border: 1px solid #888 !important;
  color: #888;
  margin:5px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  font-weight: normal;
  padding: 4px 15px 4px 15px;
}

.ui-dropdownchecklist-selector, {
  height: 25px;
  background: none !important;
}

#month_date_picker_div {
  div {
    width: 100%;

    #start_border, #end_border {
      width: 49%;
      float: left;

      #month_picker_title_start, #month_picker_title_end {
        text-align: center;
        color: white;
        font-weight: bold;
        width: 100%;
        padding-top: 5px;

        text-align: center;
        color: white;
        font-weight: bold;
      }

      #monthpicker_start, #monthpicker_end {
        top: 0px;
        left: 0px;
        position: relative;
      }
    }

    #start_border {
      padding-left: 7px
    }

    button {
      display: block;
      float: right;
      margin: 4px 10px 0 0;
      border-radius: 4px;
    }
  }
}
.ui-daterangepickercontain > div {
  font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif;
  font-size: 11px !important;
}
.ui-daterangepickercontain {
  .ranges, .range-end, .range-start{
    display: block;
  }
}
table.styled_table thead th {
  padding-right: 30px;
  vertical-align: top !important;}