{% extends 'accountmanagement/profile/index.html' %}

{% load field_tags %}
{% load i18n %}
{% block page_title %} Profile {% endblock %}

{% load dw_tabs %}
{% block navigation %}
{% activetab "tab_nav" "profile" %}
{{ block.super }}
{% endblock %}{% block layout_scss %}
{% include 'application_scss.html' %}
<link href="/media/css/scss/section_registration.css" rel="stylesheet" />
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/account/edit_profile.js"></script>
{% endblock %}

{% block content%}
    <div class="span-18 box">
      <div class = "form-5px">
          {% if message %}
             <div id="flash-message" class="success-message-box">
                 {{ message }}
             </div>
        {% endif %}
          <h6 class="section_description">{% trans "All fields are required unless marked optional." %}</h6>        <form method="post" action="" name="form" id='profile_form'>
          {% csrf_token %}

          <ul class="organization">
            <li class="{{ form.title.css_classes }} form-row-10px">
              {{ form.title|field_label }}
              {{ form.title }}
              {{ form.title.errors }}
              <p class="black_italic">{% trans "Example: Program Director" %}</p>
            </li>
            <li class="{{ form.first_name.css_classes  }} form-row-10px">
              {{ form.first_name|field_label }}
              {{ form.first_name }}
              {{ form.first_name.errors }}
            </li>
            <li class="{{ form.last_name.css_classes  }} form-row-10px">
              {{ form.last_name|field_label }}
              {{ form.last_name }}
              {{ form.last_name.errors }}
            </li>
              <li class="form-row-10px">
              {{ form.username|field_label }}
              {{ form.username }}
            </li>

            <li class="{{ form.mobile_phone.css_classes  }} form-row-10px">
              {{ form.mobile_phone|field_label }}
              {{ form.mobile_phone }}
              {{ form.mobile_phone.errors }}
            </li>
            <p class="black_italic">{% trans "phone_number_example" %}</p>
            <li class="margin_top_20">
                <input type="submit" value="{% trans 'Save Changes' %}" class="button float_right" id='form_submit' />
            </li>

          </ul>
        </form>

      </div>
    </div>
    {% endblock %}
