{% extends 'layout_application.html' %}
{% block page_title %} Test Maps Page {% endblock %}
{% block page_scss %}
    <link rel="stylesheet" href="/media/css/scss/section_test.scss" media="screen">
    <link rel="stylesheet" href="/media/javascript/OpenLayers-2.10/theme/default/style.css" media="screen">
{% endblock %}
{% block uncompress %}
    <script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAA6cQIrMEc9zlaKBjWiPM5rxSjlBXfTSDcGsB79vzL90uiOHMpbBRa1FFoX2YfuQNFvFKxQtpz0ZCeuw&amp;hl=en"></script>
{% endblock %}
{% block page_js %}
    <script type="text/javascript" src="/media/javascript/OpenLayers-2.10/OpenLayers.js"></script>
{#    <script type="text/javascript" src="/media/javascript/OpenLayers-2.10/canvas.js"></script>#}
    <script type="text/javascript" src="/media/javascript/mapping.js"></script>


{% endblock %}


{% block content %}
    <div id="test" class="grid_22 alpha omega">
        <h1>
            Heading Page 1
        </h1>
    </div>
    <div id="map" style="height:400px; margin-top:20px;" class="grid_22"> </div>
{% endblock %}