{% extends 'accountmanagement/account/index.html' %}
{% load i18n %}
{% block page_title %} {% trans "Account" %} {% endblock %}

{% load dw_tabs %}
{% block navigation %}
{% activetab "tab_nav" "users" %}
{{ block.super }}
{% endblock %}

{% block content %}
<div class="text_align_right margin_bottom_20">
  <a href= "/account/user/new/">{% trans "Add Users" %}</a> |
  <a href= "#" class = "disable_link">{% trans "All Users" %}</a>
</div>
<div id="users_list">
    <table  class="styled_table">
    <thead>
      <th>
        {% trans "First Name" %}
      </th>
      <th>
        {% trans "Last Name" %}
      </th>
      <th>
        {% trans "Email" %}
      </th>
      <th>
        {% trans "Projects" %}
      </th>
    </thead>
      {% for user in users %}
      <tr>
        <td>
          {{ user.user.first_name }}
        </td>
        <td>
          {{ user.user.last_name }}
        </td>
        <td>
          {{ user.user.username }}
        </td>
        <td>
          -
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
