{% extends 'accountmanagement/account/index.html' %}
{% block page_title %} Account {% endblock %}

{% load dw_tabs %}
{% block navigation %}
{% activetab "tab_nav" "users" %}
{{ block.super }}
{% endblock %}

{% block content %}
<div class="text_align_right margin_bottom_20">
  <a href= "/account/user/new/">Add Users</a>
</div>
<div id="users_list">
    <table  class="styled_table">
    <thead>
      <th>
        First Name
      </th>
      <th>
        Last Name
      </th>
      <th>
        Email
      </th>
      <th>
        Projects
      </th>
    </thead>
      {% for user in users %}
      <tr>
        <td>
          {{ user.user.first_name }}
        </td>
        <td>
          {{ user.user.last_name }}
        </td>
        <td>
          {{ user.user.username }}
        </td>
        <td>
          -
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
