#container_header_wizard {
  height: 37px;
  overflow: hidden;
  background: url('/media/images/application_header_bg.gif?3a756e5b732d') repeat top left; }

#container_header_application {
  height: 74px;
  overflow: hidden;
  background: url('/media/images/hedaer_app_bg.gif?3a756e5b732d') repeat top left; }

#container_content, #container_wizard {
  overflow: hidden;
  min-height: 600px;
  background: #e8eff6 url('/media/images/application_bg.gif?3a756e5b732d') repeat-x top left; }
  #container_content .content, #container_wizard .content {
    min-height: 550px;
    background: #FFFFFF;
    border: 1px solid #cccccc;
    padding: 20px; }
  #container_content .wizard_content, #container_wizard .wizard_content {
    margin-top: 50px;
    padding: 0px; }
    #container_content .wizard_content .wizard, #container_wizard .wizard_content .wizard {
      border: 1px solid #d4972d;
      height: 140px;
      margin: 10px;
      background: url('/media/images/wizard_bg.gif?3a756e5b732d') repeat-x top left; }
    #container_content .wizard_content .content_wrapper, #container_wizard .wizard_content .content_wrapper {
      padding: 20px 40px 20px 40px; }

#header .logo {
  text-align: left;
  color: #FFFFFF;
  font-size: 24px; }
  #header .logo .logo_data {
    font-weight: bold; }
  #header .logo .logo_winners {
    font-weight: normal; }
#header .login {
  text-align: right;
  color: #FFFFFF;
  font-size: 12px; }
  #header .login span {
    display: inline-block;
    padding: 8px 15px 8px 15px;
    background: url('/media/images/login_pipe.gif?3a756e5b732d') no-repeat top right; }
  #header .login .welcome {
    font-weight: bold; }
  #header .login a {
    color: #FFFFFF;
    text-decoration: none; }
    #header .login a :hover {
      text-decoration: underline; }

#container_header_application #container_header_wizard {
  background: none;
  height: 60px; }
  #container_header_application #container_header_wizard #header .login {
    color: #CCCCCC; }
    #container_header_application #container_header_wizard #header .login span {
      display: inline-block;
      padding: 1px 15px 2px;
      margin-top: 4px; }
  #container_header_application #container_header_wizard #header .logo {
    position: relative;
    top: 30px; }
#container_header_application #main_tab {
  text-align: right; }
  #container_header_application #main_tab ul {
    position: relative;
    left: 510px;
    top: -30px; }
    #container_header_application #main_tab ul li {
      padding: 10px;
      float: left; }
      #container_header_application #main_tab ul li a {
        font-size: 14px;
        color: #feea89;
        font-weight: bold; }
      #container_header_application #main_tab ul li.current a {
        color: #FFFFFF; }

.tab_navigation {
  margin-top: 50px; }
  .tab_navigation ul {
    background: url('/media/images/tab_navigation_bg.gif?3a756e5b732d') repeat-x left 10px scroll;
    margin-left: 15px;
    float: left; }
    .tab_navigation ul li {
      float: left;
      padding: 7px 44px 8px 44px;
      position: relative;
      margin-top: 10px;
      background: url('/media/images/tab_navigation_pipe.gif?3a756e5b732d') no-repeat top right; }
      .tab_navigation ul li a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold; }
    .tab_navigation ul li.active {
      background: #FFFFFF;
      margin-top: 0px;
      padding-top: 15px;
      top: 1px;
      border: 1px solid #ccc;
      border-bottom: 1px solid #fff; }
      .tab_navigation ul li.active a {
        color: #000000; }

#test {
  margin: 20px; }
  #test h1 {
    border-bottom: 1px solid #ccc; }
