{% extends 'layout_application.html' %}
{% load i18n %}
{% load user_tags %}
{% load dw_tabs %}

{% block page_title %}{% trans page_heading %} {% endblock %}
{% block section_title %}{% trans page_heading %} {% endblock %}
{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_alldata.css" rel="stylesheet"/>
    <link href="/media/javascript/file_uploader/fileuploader.css" rel="stylesheet"/>
    <link href="/media/css/scss/submission_log.css" media="screen" rel="stylesheet"/>
    <link href="/media/css/scss/import_popup.css" rel="stylesheet">
{% endblock %}

{% block page_css %}
     {{ block.super }}
    <link href="/media/css/scss/data_submission.css" rel="stylesheet"/>
    <link href="/media/css/scss/import_submission.css" rel="stylesheet"/>
{% endblock %}

{% block navigation %}
    {% include "alldata/tab_navigation.html" %}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "questionnaires" %}
    {{ block.super }}
{% endblock %}


{% block content %}{% endblock %}

