{% load i18n %}

<div class="clearfix device-icons">
    <div class="sms-icon">
        <img class="device-help" src="/media/images/feature_phone_white.png" alt="SMS">
        <div class="tooltip">
            <p>
                {% trans "Data Senders use their mobile phone to send in data via SMS." %}
            </p>
        </div>
    </div>
    <div class="web-icon">
        <img class="device-help" src="/media/images/computer_white.png" alt="Web">
        <div class="tooltip">
            <p>
                {% trans "Data Senders use any Computer to send in data via Web." %}
            </p>
        </div>
    </div>
    <div class="smartphone-icon">
        <img class="device-help" src="/media/images/smart_phone_white.png" alt="Smartphone">
        <div class="tooltip">
            <p>
                {% trans "Data Senders use their Android Smartphone to send in data." %}
            </p>
        </div>
    </div>
</div>