{% extends 'alldata/alldata_layout.html' %}
{% load i18n %}
{% load user_tags %}
{% load dw_tabs %}

{% block body %}
    {% activetab "tab_nav" "failed_submissions" %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div>
   <table class="styled_table">
    <thead>
        <th width="20%"> {% trans "Questionnaire Code" %} </th>
        <th width="10%"> {% trans "From" %} </th>
        <th width="10%"> {% trans "To" %} </th>
        <th width="20%"> {% trans "Message" %} </th>
        <th width="40%"> {% trans "Error" %} </th>
    </thead>
        {% for log in logs%}
            <tr>
                <td>{{ log.form_code }}</td>
                <td>{{ log.from_number}}</td>
                <td>{{ log.to_number }}</td>
                <td>{{ log.message }}</td>
                <td>{{ log.error }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
