{% extends 'alldata/alldata_layout.html' %}
{% load i18n %}
{% load user_tags %}
{% load dw_tabs %}

{% block body %}
    {% activetab "tab_nav" "failed_submissions" %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div>
   <table class="styled_table">
    <thead>
        <th width="15%"> {% trans "Data Sender" %} </th>
        <th width="10%"> {% trans "Submission Date" %} </th>
        <th width="10%"> {% trans "Questionnaire Code" %} </th>
        <th width="20%"> {% trans "SMS Text" %} </th>
        <th width="45%"> {% trans "Error Message" %} </th>
    </thead>
        {% for log in logs%}
            <tr>
                <td>{{ log.from_number }}</td>
                <td>{{ log.created_at }}</td>
                <td>{{ log.form_code }}</td>
                <td>{{ log.message }}</td>
                <td>{{ log.error }}</td>

            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
