{% extends 'alldata/alldata_layout.html' %}
{% load i18n %}
{% load user_tags %}
{% load dw_tabs %}

{% block body %}
    {% activetab "tab_nav" "failed_submissions" %}
    {{ block.super }}
{% endblock %}
{% block content %}
<link href="/media/javascript/data_tables/css/dwtable.css" rel="stylesheet"/>
<link href="/media/javascript/jquery-dropdown/jquery.dropdown.css" rel="stylesheet"/>
{% load compress %}
{% compress js %}
    <script src="/media/javascript/data_tables/js/jquery.dataTables.min.js"></script>
    <script src="/media/javascript/data_tables/js/dw_pagination_plugin.js"></script>
    <script src="/media/javascript/jquery-dropdown/jquery.dropdown.js"></script>
    <script src="/media/javascript/data_tables/js/dwtable.js"></script>
    <script src="/media/javascript/dw_dialog.js"></script>
    <script src="/media/javascript/alldata/analysis.js"></script>

    <script>
    $(function(){
        
        
        $("#failedsubmissions_table").dwTable({
                "bFilter": false,
                "concept": "{% trans "Failed Submission" %}",
                "sAjaxSource": "/allfailedsubmissions/ajax/",
                "sAjaxDataIdColIndex" : $("#failedsubmissions_table thead th.short_code").index(("#failedsubmissions_table thead th")),
                "bServerSide": true,
                "asSorting": [ [ $('#failedsubmissions_table th.name').index('#failedsubmissions_table th'), "asc"] ],
                "aaSorting": [ [ "2", "desc"] ]
        });

    });
    </script>

{% endcompress %}

{% include "alldata/export_options.html" %}

<div>
   <table id="failedsubmissions_table" class="styled_table">
    <thead>
        
        {#        empty th for check-all box#}
        <td></td>
        {% for header_name, header_label in failedsubmissions_headers.items %}
            <th class="{{ header_name }}">{% trans header_label %} </th>
        {% endfor %}
    </thead>
        
    </table>
</div>

{% include "alldata/export_submission.html" %}

{% endblock %}
