{% extends 'alldata/alldata_layout.html' %}
{% load i18n %}
{% load user_tags %}
{% load dw_tabs %}

{% block body %}
    {% activetab "tab_nav" "projects" %}
    {{ block.super }}
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/file_uploader/fileuploader.js"></script>
    <script type="text/javascript" src="/media/javascript/project/import_submission.js"></script>
    <script type="text/javascript">
        var import_template_url = "{% url import_template 'form_code' %}?filename=<project_name>";
        var import_submission_url = "{% url import_submissions 'form_code'%}";

    </script>
{% endblock %}

{% block main_message %}
    {% if activation_success %}
        <div class="container_24" id="main_message">
            <div id="flash-message" class="success-message-box">
                {% trans "You have successfully activated your account. Happy data submission!" %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% block device_navigation %}
        {% include "subscribe_now.html" %}
    {% endblock %}
    <div>
        
        <table class="styled_table">
            <thead>
            <th> {% trans "Project" %}</th>
            <th class="{{ hide_link_class }}"> {% trans "Created On" %}</th>
            <th> {% trans "What do you want to do?" %}</th>
            </thead>
            {% for project in projects %}
                <tr>
                    <td><a href="{{ project.link }}" class='project-id-class {{ disable_link_class }}'>{{ project.name }}</a></td>
                    <td class="{{ hide_link_class }}">{{ project.created }}</td>
                    <td>
                        <span class="report_links">
                        <span class="{{ hide_link_class }}">
                            <span class="disable_link"> {% trans "Summary" %} </span>
                            |<a href="{{ project.analysis }}"
                                class="{{ project.disabled }} {{ disable_link_class }}{{ hide_link_class }}">{% trans "Analysis" %}</a>
                            |<a href="{{ project.log }}"
                                class="{{ project.disabled}} {{ disable_link_class}}">{% trans "Submission Log" %}</a>
                            |
                        </span>
                            <a href="{{ project.web_submission_link }}"
                               class="{{ project.disabled }} {{ project.web_submission_link_disabled }} send-in-data-link">{% trans "Make a Submission" %}</a>
                            |
                            <a class="{%if not project.disabled  %}import_link {% endif %} {{ project.disabled}} {{ disable_link_class}}" data-projectname="{{ project.encoded_name }}"
                               data-formcode="{{ project.qid }}" data-projectid="{{ project.project_id }}"
                               data-filename="{{ project.import_template_file_name }}"
                               href="javascript:void(0);">{% trans "Import a List of Submissions" %}</a>

                            {% if project.create_subjects_link %}
                                |<a href="{{ project.create_subjects_link}}" class="register-subject-link">
                                {% trans "Register a new " %}{{ project.entity_type }}</a>
                            {% endif %}
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% include "project/import_submission.html" %}
    </div>
{% endblock %}
