{% extends 'alldata/alldata_layout.html' %}
{% load i18n %}
{% load user_tags %}
{% load dw_tabs %}

{% block body %}
    {% activetab "tab_nav" "projects" %}
    {{ block.super }}
{% endblock %}

{% block main_message %}
    {% if activation_success %}
        <div class="container_24" id="main_message">
            <div id="flash-message" class="success-message-box">
                {% trans "You have successfully activated your account. Happy data submission!" %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% block device_navigation %}
        {% if user|is_datasender %}
            {% activetab "device_tab_nav" "web" %}
            {{ block.super }}
            {% if is_quota_reached %}
            <div class="warning-message-box clear-both overflow_hidden left_null">
                <p>{% trans "You have reached your limit of 1000 free Submissions. Ask your Project Manager to sign up for a monthly subscription to continue submitting data for your projects." %}</p>
                <a class="float_left margin_10 padding_top_10" href="/{% trans "en" %}/pricing/">{% trans "Learn More" %}</a>
                <a class="button margin_10 float_left" href="{% url datawinners.accountmanagement.views.upgrade %}">{% trans "Subscribe Now" %}</a>
            </div>
            {% endif %}
        {% endif %}
    {% endblock %}
    <div>
        
        <table class="styled_table">
            <thead>
            <th> {% trans "Project" %}</th>
            <th class="{{ hide_link_class }}"> {% trans "Created On" %}</th>
            <th> {% trans "What do you want to do?" %}</th>
            </thead>
            {% for project in projects %}
                <tr>
                    <td><a href="{{ project.link }}" class='project-id-class {{ disable_link_class }}'>{{ project.name }}</a></td>
                    <td class="{{ hide_link_class }}">{{ project.created }}</td>
                    <td>
                        <span class="report_links">
                        <span class="{{ hide_link_class }}">
                            <span class="disable_link"> {% trans "Summary" %} </span>
                            |<a href="{{ project.analysis }}"
                                class="{{ project.disabled }} {{ disable_link_class }}{{ hide_link_class }}">{% trans "Analysis" %}</a>
                            |<a href="{{ project.log }}"
                                class="{{ project.disabled}} {{ disable_link_class}}">{% trans "Submission Log" %}</a>
                            |
                        </span>
                            <a href="{{ project.web_submission_link }}"
                               class="{{ project.disabled }} {{ project.web_submission_link_disabled }} send-in-data-link">{% trans "Send in data" %}</a>
                            {% if project.create_subjects_link %}
                                |<a href="{{ project.create_subjects_link}}" class="register-subject-link">
                                {% trans "Register a new " %}{{ project.entity_type }}</a>
                            {% endif %}
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
