<div class="instruction clearfix">
    <div class="phone">
        <img src="/media/images/SP_Cover_EN.png"/>
    </div>
    <div class="steps">
        <ul>
            <li>
                <div><span>Install DataWinners App </span></div>
                <ol>
                    <li>
                        On your phone open the Play Store (
                        <img src="/media/images/play_store.png"/>
                        ) or on older phones the Android Marketplace (
                        <img src="/media/images/android_market_place.png">
                        ).
                    </li>
                    <li>
                        Search for
                        <span>DataWinners.</span>
                    </li>
                    <li>
                        Select
                        <span>DataWinners </span>
                        and tap
                        <span>Install.</span>

                        <div class="dw-app-icon">
                            <span>DataWinners</span>HNI
                        </div>
                    </li>
                </ol>
            </li>
            <li>
                <div><span>Get your Questionnaires</span></div>
                <ol>
                    <li>Open the <span>DataWinners</span> app.</li>
                    <li>Open DataWinners’s <span>Settings</span> (using the Menu button).</li>
                    <li>Tap <span>Username</span>. Enter the <span>email address</span> you use to sign in to Datawinners and tap <span>OK</span>.</li>
                    <li>Tap <span>Password</span>. Enter the <span>password</span> you use to sign in to Datawinners and tap <span>OK</span>.</li>
                    <li>Go back to the main menu and tap <span>Get Blank Questionnaire</span>.</li>
                    <li>Your sign in credentials should be pre-populated. Tap <span>OK</span>.</li>
                    <li>Select all the Questionnaires you want and tap <span>Get Selected</span>.</li>
                    <li>A success message will appear. Click <span>OK</span>.</li>
                    <li>Tap <span>Fill Blank Questionnaire</span> to start collecting data.</li>
                </ol>
            </li>
        </ul>
    </div>
</div>