{% extends "layout_datasender.html" %}
{% load i18n %}
{% load dw_tabs %}

{% block page_css %}
    {{ block.super }}
    <link href="/media/css/scss/smart_phone_instruction.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    {% block device_navigation %}
        {% activetab "device_tab_nav" "smartphone" %}
        {{ block.super }}
    {% endblock %}

    <div class="smart-phone-instruction">
        <div class="declaration">
            {% trans "Use your Android Smartphone to send in data. Follow the instructions or download our tutorial" %}
            <a href="/media/files/DataWinners_InstallDataWinnersOnYourSmartphone.en.pdf" target="_blank">{% trans "Install DataWinners on your Smartphone" %}</a>.
        </div>
        {% include instruction_template %}
    </div>
{% endblock %}
