<div class="instruction clearfix">
    <div class="phone">
        <img src="/media/images/SP_Cover_FR.png"/>
    </div>
    <div class="steps">
        <ul>
            <li>
                <div><span>Installez DataWinners </span></div>
                <ol>
                    <li>
                        Depuis votre téléphone, ouvrez Play Store (
                        <img src="/media/images/play_store.png"/>
                        ) ou Android Market pour les téléphones moins récents (
                        <img src="/media/images/android_market_place.png">
                        ).
                    </li>
                    <li>
                        Cherchez
                        <span>DataWinners.</span>
                    </li>
                    <li>
                        Sélectionnez
                        <span>DataWinners </span>
                        et appuyez sur
                        <span>Installer.</span>

                        <div class="dw-app-icon">
                            <span>DataWinners</span>HNI
                        </div>
                    </li>
                </ol>
            </li>
            <li>
                <div><span>Obtenez vos Questionnaires</span></div>
                <ol>
                    <li>Ouvrir lʼapplication <span>DataWinners</span>.</li>
                    <li>Appuyez sur <span>Obtenir Questionnaire Vierge</span>.</li>
                    <li>Connectez-vous à lʼaide de votre e-mail et mot de passe DataWinners.</li>
                    <li>Sélectionnez tous les Questionnaires que vous voulez et appuyez sur <span>Obtenir ceux sélectionnés</span>.</li>
                    <li>Un message de succès apparaîtra. Cliquez sur <span>OK</span>.</li>
                    <li>Appuyez sur <span>Remplir Questionnaire Vierge</span> pour commencer à collecter des données.</li>
                </ol>
            </li>
        </ul>
    </div>
</div>