<div class="instruction clearfix">
    <div class="phone">
        <img src="/media/images/SP_Cover_FR.png"/>
    </div>
    <div class="steps">
        <ul>
            <li>
                <div><span>Installez DataWinners </span></div>
                <ol>
                    <li>
                        Depuis votre téléphone, ouvrez Play Store (
                        <img src="/media/images/play_store.png"/>
                        ) ou Android Market pour les téléphones moins récents (
                        <img src="/media/images/android_market_place.png">
                        ).
                    </li>
                    <li>
                        Cherchez
                        <span>DataWinners.</span>
                    </li>
                    <li>
                        Sélectionnez
                        <span>DataWinners </span>
                        et appuyez sur
                        <span>Installer.</span>

                        <div class="dw-app-icon">
                            <span>DataWinners</span>HNI
                        </div>
                    </li>
                </ol>
            </li>
            <li>
                <div><span>Obtenez vos Questionnaires</span></div>
                <ol>
                    <li>Ouvrez <span>DataWinners</span>.</li>
                    <li>Dans DataWinners, ouvrez <span>Paramètres</span> (à l’aide du bouton du Menu).</li>
                    <li>Appuyez sur <span>Nom d'utilisateur</span>. Saisissez l'<span>adresse e-mail</span> que vous utilisez pour vous connecter à Datawinners et appuyez sur <span>OK</span>.</li>
                    <li>Appuyez sur <span>Mot de Passe</span>. Saisissez le <span>mot de passe</span> que vous utilisez pour vous connecter à Datawinners et appuyez sur <span>OK</span>.</li>
                    <li>Retournez au menu principal et appuyez sur <span>Obtenir un Questionnaire Vierge</span>.</li>
                    <li>Vos informations d'identification pour la connexion, doivent être dûment remplis. Appuyez sur <span>OK</span>.</li>
                    <li>Sélectionnez les Questionnaires que vous voulez obtenir et appuyez sur <span>Obtenir ceux sélectionnés</span>.</li>
                    <li>Vous devriez recevoir un message de réussite du téléchargement. Appuyez sur <span>OK</span>.</li>
                    <li>Appuyez sur <span>Remplir Questionnaire Vierge</span> pour commencer à collecter des données.</li>
                </ol>
            </li>
        </ul>
    </div>
</div>
<div class="tutorial">
    <span>Tutoriels</span><br>
    <ul>
        <li><a href="/media/files/DataWinners_InstallDataWinnersOnYourSmartphone.fr.pdf" target="_blank">Télécharger DataWinners sur votre Smartphone</a> (PDF, 3 pages, 0.6 Mo)</li>
        <li><a href="/media/files/DataWinners_GetYourQuestionnairesOnYourSmartphone.fr.pdf" target="_blank">Obtenir vos Questionnaires sur votre Téléphone</a> (PDF, 4 pages, 1.8 Mo)</li>
        <li><a href="/media/files/DataWinners_FillOutQuestionnairesOnYourSmartphone.fr.pdf" target="_blank">Remplir vos Questionnaires avec votre Smartphone</a> (PDF, 3 pages, 0.8 Mo)</li>
        <li><a href="/media/files/DataWinners_SendFilledOutQuestionnairesFromYourSmartphone.fr.pdf" target="_blank">Envoyer vos Données avec votre Smartphone</a> (PDF, 3 pages, 0.8 Mo)</li>
    </ul>
</div>