{% load i18n %}
{% load dw_tabs %}
{% load user_tags %}

<div class="grid_24 tab_navigation">
    <ul>
        {% if user|in_group:"NGO Admins,Project Managers,Read Only Users" %}
            <li class="{% ifactivetab 'tab_nav' 'projects' %}active{% else %}inactive{% endifactivetab %}">
                <a id="projects_tab" href="{{ project_links.projects_link }}"
                   class="{{ disable_link_class }}">{% trans "Data per Project" %}</a>
            </li>
        {% endif %}
        
        {% if is_crs_admin %}

        <li class="{% ifactivetab 'tab_nav' 'reports' %}active{% else %}inactive{% endifactivetab %}">
            <a id="reports_tab" href="{{ project_links.reports_link }}"
               class="{{ disable_link_class }}">{% trans "Reports" %}</a>
        </li>
        {% endif %}

        {% if user|in_group:"NGO Admins,Project Managers,Read Only Users" %}
        <li class="{% ifactivetab 'tab_nav' 'failed_submissions' %}active{% else %}inactive{% endifactivetab %}">
                <a id="failed_submissions_tab" href="{{ project_links.failed_submissions_link }}"
               class="{{ disable_link_class }}">{% trans "Failed Submissions" %}</a>
        </li>
        {% endif %}

    </ul>
</div>
