$public_body_bg: #123956;
$intro-bg : #82c553;
$intro-bg-img: '/media/images/dw_intro_bg.gif';

$about-bg : #feee96;
$header-bg: #67aa58;
$public-header-login-bg: #427633;

$header-bg-img: '/media/images/dw_header_bg.gif';
$header-logo: '/media/images/datawinners_logo.png';
$header_tab_radius: 15px;

$app-bg-img: "/media/images/application_bg.gif";
$app-bg: #e8eff6;

$header-app-bg: '/media/images/hedaer_app_bg.gif';
$nav-active:#3d3d3d;

$nav-tab-bg-img: "/media/images/tab_navigation_bg.gif";
$nav-tab-pipe-img: "/media/images/tab_navigation_pipe.gif";

$sec-nav-boder: none;

// Overide in brand specific
@import "_brand";

.header_logo_img {
  width: 133px;
  height: 20px;
  background-image: url($header-logo)
}