#action_button, .action_button {
  .btn {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#CCDFED), to(#B0CFD7));
    background: -moz-linear-gradient(top, #CCDFED, #B0CFD7);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#CCDFED, endColorStr=#B0CFD7);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#CCDFED, endColorStr=#B0CFD7);
display:inline-block; /* IE is so silly */
  }
.btn:hover {
  background: #DBE6F1;
}
.btn-group.open .btn.dropdown-toggle {
  background: #DBE6F1;
}
.btn-group .btn.dropdown-toggle{
  margin-right: 20px;
}
.ui-state-default {
  font-weight: normal;
}

  }

#action_menu {
  width: 100px; }
#action_menu ul {
  min-width: 300px;
  border-radius: 0px; }
#action_menu LI > A:hover,
#action_menu LABEL:hover {
  //background-color: #E6F0F5;
  background-color: #94D1FF;
  color: #000;
  font-weight: normal;
  cursor: pointer; }