#action_button .btn, .action_button .btn {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ccdfed), to(#b0cfd7));
  background: -moz-linear-gradient(top, #ccdfed, #b0cfd7);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#CCDFED, endColorStr=#B0CFD7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#CCDFED, endColorStr=#B0CFD7);
  display: inline-block;
  /* IE is so silly */ }
#action_button .btn:hover, .action_button .btn:hover {
  background: #DBE6F1; }
#action_button .btn-group.open .btn.dropdown-toggle, .action_button .btn-group.open .btn.dropdown-toggle {
  background: #DBE6F1; }
#action_button .btn-group .btn.dropdown-toggle, .action_button .btn-group .btn.dropdown-toggle {
  margin-right: 20px; }
#action_button .ui-state-default, .action_button .ui-state-default {
  font-weight: normal; }

#action_menu {
  width: 100px; }

#action_menu ul {
  min-width: 300px;
  border-radius: 0px; }

#action_menu LI > A:hover,
#action_menu LABEL:hover {
  background-color: #94D1FF;
  color: #000;
  font-weight: normal;
  cursor: pointer; }

ul li.disabled {
  background-color: #dddddd; }
  ul li.disabled:hover {
    background-color: #ffffff !important;
    color: #aaaaaa !important; }
  ul li.disabled a {
    cursor: default !important;
    background-color: #ffffff !important;
    color: #aaaaaa !important; }
    ul li.disabled a span.info {
      font-size: 11px;
      font-style: italic; }

div.dropdown-panel {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-style: italic;
  font-size: 16px;
  color: #8a7f7f; }
