.view_style_block {
  float: right;
  label, ul {
    font-weight: normal;
    float: left;
    margin-left: 10px;
  }
  ul {
    background: #e6f2fc;
    border: 1px solid #e6f2fc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-top: -3px;
    li {
      float: left;
      background: url(/media/images/list_chart_map.png) no-repeat top left;
      padding: 2px 10px 2px 23px;
      a {
        padding: 10px;
      }
    }
    li.active {
      background-color: #94d1ff;
      border: 1px solid #94d1ff;
      -moz-border-radius: 10px 0 0px 10px;
      -webkit-border-radius: 10px 0 0px 10px;
      a {
        color: #000000;
      }
      a:hover {
        text-decoration: none;
        cursor: default;
      }
    }
    li.active-right {
      background-color: #94d1ff;
      border: 1px solid #94d1ff;
      -moz-border-radius: 0px 10px 10px 0px;
      -webkit-border-radius: 0px 10px 10px 0px;
      a {
        color: #000000;
      }
      a:hover {
        text-decoration: none;
        cursor: default;
      }
    }
    li.list {
      background-position: 6px 3px;
      border-right: 1px solid #CCC;
    }
    li.chart {
      background-position: 10px -27px;
    }
  }
}

body ul.ColVis_collection {
  width: auto;
  background: #fafafa;

  li {
    background: transparent;
    border: none;
    box-shadow: none;

    //-webkit-box-shadow: 1px 1px 3px #999;
    //-moz-box-shadow: 1px 1px 3px #999;
    //-ms-box-shadow: 1px 1px 3px #999;
    //-o-box-shadow: 1px 1px 3px #999;
    //box-shadow: 1px 1px 3px #999;

    &:hover {
      background: transparent;
      border: none;
      box-shadow: none;
    }
  }
}

.dataTable {
  tbody {
    tr {
      .sorting_1 {
        background-color: transparent;
      }
    }
    .odd {
      background-color: #f9f9f9;
    }
  }
}

.dataTables_wrapper {
  .dataTables_info {
    padding: 3px 10px 0 0;
  }
}

.dataTables_length {
  label {
    font-weight: normal;
  }
}

#analysis_table_paginate {
  margin-bottom: 7px;
}

#analysis_table_wrapper {
  .dataTables_length {
    float: none;
  }

  .dataTables_scroll {
    margin: 10px 0 15px;
  }

  table {

    thead th {
      cursor: pointer;
    }

    tbody {
      tr {
        color: #333;
        &:hover {
          background-color: #bdd6ec;
          color: #000;
        }
      }
    }
  }
}

#analysis_table tbody tr .sorting_1 {
  background-color: transparent;
}

.analysis_header {
  .secondary_tab {
    left: -20px;
    width: 100%;
  }

  .heading_block {
    float: left;
    width: 100%;
    margin: 0 0 20px;
  }
}

#submission_logs {
  width: 100%;

  .analysis_tbl_wrapper {
    width: 100%;

    &.shrink {
      width: 60%;
    }
  }
}

/*data tables positioning*/
.dataTables_wrapper {
  .dataTables_info,
  .dataTables_paginate {
    float: left;
  }
}

#analysis_table_length.dataTables_length {
  float: right;
}


.data-table-icons {
  float: right;
  position: absolute;
  right: 10px;
  margin-top: -10px;

  ul {
    clear: both;
    overflow: hidden;
    list-style: none;
    background: #e6f2fc;
    border: 1px solid #e6f2fc;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
  }

  .chart-view-icon {
    float: left;
    background: url('/media/images/list_chart_map.png') no-repeat 10px -26px;
    background-color: #e6f2fc;
    height: 24px;
    width: 40px;
    cursor: pointer;
    border-right: 1px solid #CCC;

    &.active,
    &:hover {
      background-color: #94d1ff;
    }

    &.active {
      cursor: default;
    }
  }

  .list-view-icon {
    float: left;
    background: url('/media/images/list_chart_map.png') no-repeat 23px 4px;
    height: 24px;
    width: 50px;
    cursor: pointer;
    border-right: 1px solid #CCC;

    &.active,
    &:hover {
      background-color: #94d1ff;
    }

    div {
      position: relative;
      display: block;
      right: 32px;
      height: 24px;
      border-right: 1px solid #e6f2fc;

      span {
        position: relative;
        left: 37px;
        top: 11px;
      }
    }

    &.active {
      cursor: default;
    }
  }

  #cust-icon {
    overflow: hidden;
    clear: both;
    width: 44px;
    background-color: #e6f2fc;
    margin-left: 8px;
    border-top: 1px solid #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;

    .customization-icon {
      float: left;
      position: relative;
      top: -2px;
      left: 14px;
      background: url('/media/images/settings.png') no-repeat 0 4px;
      width: 24px;
      height: 21px;
      background-size: 70%;
    }

    &.active,
    &:hover {
      background-color: #94d1ff;
    }
  }
}

.data-widget {
  clear: both;
  position: relative;
}

.customization-widget {
  position: relative;
  display: none;
  height: 600px;
  float: left;
  margin-top: 42px;
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  border-top: none;
  z-index: 101;

  &.expand {
    width: 39.7%;
    display: block;
  }

  .customization-widget-close {
    position: relative;
    top: 16px;
    background: url("/media/images/icons.png") no-repeat scroll -5px -170px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    font-size: 18px;
    float: right;
    padding-right: 10px;

    &:hover {
      opacity: 0.8;
    }
  }
}

.customization-menu {
  margin-bottom: 10px;
  height: 535px;
  overflow-y: scroll;

  ul {
    padding-left: 30px;

    > span {
      position: relative;
      top: 3px;
    }
  }

  li {
    padding: 0 0 0 30px;
    margin: 0;
  }

  > ul {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #fff;
    border-bottom: 3px solid rgba(0, 0, 0, 0.10);
    border-left: 1px solid rgba(0, 0, 0, 0.10);
    border-right: 1px solid rgba(0, 0, 0, 0.10);
    border-top: 1px solid rgba(0, 0, 0, 0.10);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 95%;
    max-width: 95%;
    cursor: pointer;

    &:hover {
      cursor: pointer;
      background-color: #f0f0f0;
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
  }

}

.select-menu {
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  background-color: #fafafa;
  border-bottom: 1px solid transparent;
  border-top: 1px solid #e5e5e5;
  margin-bottom: 5px;

  .select-menu-box {
    text-align: center;
    padding: 5px 0;
    width: 135px;
    margin-left: 10px;
    border-radius: 5px;
  }

  .select-all,
  .select-none {
    cursor: pointer;
    color: #0070AC;

    &:hover {
      text-decoration: underline;
    }
  }

  .select-menu-separator {
    color: #888888;
  }
}

.customization-overlay {
  display: none;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.4;
  filter: alpha(opacity=50);
  position: absolute;
  background: #000;
  z-index: 100;
}

//pagination Styles
.dataTables_wrapper .dataTables_paginate {
  text-align: right;
  padding-top: 0.25em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #000 !important;
  border: 1px solid transparent;
  border-radius: 2px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #000 !important;
  border: 1px solid #979797;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dcdcdc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
  /* W3C */
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #111;
  background-color: #585858;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #585858 0%, #111 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #585858 0%, #111 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #585858 0%, #111 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #585858 0%, #111 100%);
  /* W3C */
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #2b2b2b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
  /* W3C */
  box-shadow: inset 0 0 3px #111;
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em;
}

.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #000;
}

.dataTables_wrapper .dataTables_scroll {
  clear: both;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th > div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td > div.dataTables_sizing {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}

/*.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid #111;
}*/
.dataTables_wrapper.no-footer div.dataTables_scrollHead table,
.dataTables_wrapper.no-footer div.dataTables_scrollBody table {
  border-bottom: none;
}

.dataTables_wrapper:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

@media screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center;
  }
  .dataTables_wrapper .dataTables_paginate {
    margin-top: 0.5em;
  }
}

@media screen and (max-width: 640px) {
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center;
  }
  .dataTables_wrapper .dataTables_filter {
    margin-top: 0.5em;
  }
}

.empty-table {
	position: absolute;
}
