.view_style_block {
  float: right;
  label, ul {
    font-weight: normal;
    float: left;
    margin-left: 10px;
  }
  ul {
    background: #e6f2fc;
    border: 1px solid #e6f2fc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-top: -3px;
    li {
      float: left;
      background: url(/media/images/list_chart_map.png) no-repeat top left;
      padding: 2px 10px 2px 23px;
      a {
        padding: 10px;
      }
    }
    li.active {
      background-color: #94d1ff;
      border: 1px solid #94d1ff;
      -moz-border-radius: 10px 0 0px 10px;
      -webkit-border-radius: 10px 0 0px 10px;
      a {
        color: #000000;
      }
      a:hover {
        text-decoration: none;
        cursor: default;
      }
    }
    li.active-right {
      background-color: #94d1ff;
      border: 1px solid #94d1ff;
      -moz-border-radius: 0px 10px 10px 0px;
      -webkit-border-radius: 0px 10px 10px 0px;
      a {
        color: #000000;
      }
      a:hover {
        text-decoration: none;
        cursor: default;
      }
    }
    li.list {
      background-position: 6px 3px;
      border-right: 1px solid #CCC;
    }
    li.chart {
      background-position: 10px -27px;
    }
  }
}

body ul.ColVis_collection {
  width: auto;
  background: #fafafa;

  li {
    background: transparent;
    border: none;
    box-shadow: none;

    //-webkit-box-shadow: 1px 1px 3px #999;
    //-moz-box-shadow: 1px 1px 3px #999;
    //-ms-box-shadow: 1px 1px 3px #999;
    //-o-box-shadow: 1px 1px 3px #999;
    //box-shadow: 1px 1px 3px #999;

    &:hover {
      background: transparent;
      border: none;
      box-shadow: none;
    }
  }
}

.dataTable {
  th,
  td {
    border: none;
  }
  tbody {
    tr {
      .sorting_1 {
        background-color: transparent;
      }
    }
    .odd {
        background-color: #f9f9f9;
    }
  }

  thead {
    tr {
      th {
        border-bottom: 1px solid #111;
      }
    }
  }


}

.dataTables_wrapper {
  .dataTables_info {
    padding-left: 0;
  }
}

#analysis_table_wrapper {
  .dataTables_length {
    float: none;
  }

  .dataTables_scroll {
    margin: 10px 0 15px;
  }

  table {
    font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
    
    thead th {
      //border-bottom: none;
      font-size: 12px;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: auto !important;
    }

    tbody {
      tr {
        color: #333;
        &:hover {
          background-color: #bdd6ec; /*f6f6f6*/
          color: #000;
        }
      }
    }
  }

  .dataTables_scrollBody {
    border-bottom: 1px solid #111;
  }

}

#analysis_table tbody tr .sorting_1 {
  background-color: transparent;
}

.analysis_header {
  .secondary_tab {
    left: -25px;
  }

  .heading_block {
    float: left;
    width: 100%;
    margin: 0 0 25px;
  }
}