#automatic_reply_section{
  margin-bottom: 30px ;
}

#add_language{
  margin-left: 10px;
}

#add_language_link{
  background: url("/media/images/icons.png") no-repeat scroll left top rgba(0, 0, 0, 0);
  margin-left: 10px;
  padding: 3px 0 20px 30px;
}

#language_page_link {
  background-color: lightblue;
}

.languages_selection {
  margin-top: 40px;
}

.title_set_SMS {
  margin-bottom: 5px;
}
#project_language:disabled{
    background-color: #EBEBEB;
}

.help_icon{
  margin-bottom: 2px;
}