#automatic_reply_section {
  margin-bottom: 30px; }

#add_language {
  margin-left: 10px; }

#language_page_link {
  background-color: lightblue; }

.languages_selection {
  margin-top: 30px; }

.title_set_SMS {
  margin-bottom: 5px; }

#project_language:disabled {
  background-color: #EBEBEB; }
