.data_export_panel {
  width: 450px;
  margin-top: 20px; }
  .data_export_panel .project_selection div, .data_export_panel .date_range_selection div {
    display: inline-block;
    margin-top: 20px;
    width: 20%; }
  .data_export_panel .project_selection input, .data_export_panel .project_selection select, .data_export_panel .date_range_selection input, .data_export_panel .date_range_selection select {
    width: 70%;
    vertical-align: text-bottom; }
  .data_export_panel .export_btn {
    float: right;
    margin-right: 8%; }
