.data_export_panel,.data_export_panel_for_entity, .data_export_panel_for_register_subject {
  margin-top: 30px;
  margin-bottem: 10px;

  .project_selection, .date_range_selection {
    div {
      display: inline-block;
      margin-top: 20px;
      width: 15%
    }

    input, select {
      width: 30%;
      vertical-align: text-bottom;
    }

    input:disabled, select:disabled {
      color: gray
    }
  }

  .export_btn {
    float: right;
    margin-right: 53.7%
  }
  #exportEntityBtn:disabled {
    background: #d3d3d3;
    border-color: #d3d3d3;
    color: gray;
    cursor: default
  }
}