.device-navigation {
  margin-bottom: 30px;
  border-bottom: 3px solid #3d3d3d;
  font-size: 15px;
  a {
    text-decoration: none;
    display: inline-block;
  }

  .active {
    display: inline-block;
    background: #525252;
    background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#3d3d3d)) !important;  //for webkit browsers
    background: -moz-linear-gradient(top,  #525252,  #262626) !important;  //for firefox 3.6+
    background: -ms-linear-gradient(linear, left top, left bottom, from(#525252), to(#3d3d3d)) !important;
    .web {
      color: white;
      background: url("/media/images/computer_white.png") no-repeat 5px;
      @extend .web-device-navigation-bg-padding;
    }
    .smartphone {
      color: white;
      background: url("/media/images/smart_phone_white.png") no-repeat 5px;
      @extend .smartphone-device-navigation-bg-padding;
    }
  }

  .inactive {
    display: inline-block;
    .web {
      background: url("/media/images/computer_black.png") no-repeat 5px;
      @extend .web-device-navigation-bg-padding;
    }
    .smartphone {
      background: url("/media/images/smart_phone_black.png") no-repeat 5px;
      @extend .smartphone-device-navigation-bg-padding;
    }
  }

  .inactive:hover {
    @extend .active;
  }

}

.smartphone-device-navigation-bg-padding {
  padding: 4px 10px 0 21px;
}

.web-device-navigation-bg-padding {
  padding: 4px 10px 0 28px;
}

.back-to-list {
  display: inline-block;
  margin: -15px 0 15px 0;
}

.questionnaire-header {
  margin-bottom: 20px;
}

.action-section {
  float: right;
  margin-right: 300px;
}

#cancel_submission_warning_message {
  a {
    text-decoration: none;
  }
}