$text_box_width: 350px;
$select_box_width:150px;
$border_color: #CCCCCC;
$link_color:#0070ac;

form{
     fieldset{
        legend{
            font-size:20px;
        }
     }
    ul li{
        overflow:hidden;
        margin-bottom:15px;
        padding-bottom:5px;
        input[type=text], input[type=password]{
            width:$text_box_width;
            height:25px;
            border-color:$border_color;
        }
        a{
            color:$link_color;
        }
        a:hover{
            text-decoration:underline !important;
            color:$link_color;
        }

        textarea{
            width:$text_box_width;
            height:100px;
            border-color:$border_color;
            font: 15px/1.5 'Helvetica', Arial, 'Liberation Sans', FreeSans, sans-serif;
        }
        label{
            font-size:14px;
            display:block;
            float:left;
            width:170px;
            margin-right:10px;
            font-weight:bold;
        }
        input{
            float:left;
            font: 15px/1.5 'Helvetica', Arial, 'Liberation Sans', FreeSans, sans-serif;
        }
        span[wmwrap = true]{
            float:left;
            top:3px;
            label{
              top:3px;
              font-weight:normal;
              font-size:12px;
              width:auto;
            }
        }
         #questionnaire-code-error{
            background: url(/media/images/arrow_error.png) no-repeat left 7px;
            label{
                margin-left:11px;
            }
         }
        ul
        {
            float:left;
            li{
                margin-bottom:0px;
                label{
                    font-size:12px;
                    display:inline;
                    font-weight:normal;
                    width:auto;
                }
                label.error{
                    margin-left:0px;
                }
            }
        }
        ul.errorlist{
            float:left;
            color:#FFFFFF;
            display:inline;
            max-width: 360px;
            background:url(/media/images/arrow_error.png) no-repeat left 10px;
            margin-top:-3px;
            padding:3px 10px 3px 10px;
            /*border:1px solid black;*/
            -moz-border-radius:5px;
            -webkit-moz-border-radius:5px;
            -webkit-border-radius:5px;
            li{
                background:#c20303;
                padding:3px 10px 3px 10px;
                /*border:1px solid black;*/
                -moz-border-radius:5px;
                -webkit-moz-border-radius:5px;
                -webkit-border-radius:5px;
            }
        }
     }
}
div.error_arrow
{
            background: url(/media/images/arrow_error.png) no-repeat left 3px;
            display: inline;
}
span.error_arrow,#questionnaire-code-error, label.error_arrow{
            background: url(/media/images/arrow_error.png) no-repeat left 3px;
            display: inline;
            float: left!important;
}
span .error_arrow,div.error_arrow,#questionnaire-code-error, label.error_arrow{
            label{
                float:none;
                color:#FFFFFF;
                display:inline !important;
                background: #c20303;
                padding:5px 10px;
                border:1px solid black;
                -moz-border-radius:5px;
                -webkit-border-radius:5px;
                border-radius:5px;
                width:auto;
                margin-left:10px !important;
                font-size:12px;
                font-weight:normal;
                max-width:300px;
            }
        }
.message-box{
        background:#fdd3d2 url(/media/images/error_alert.png) no-repeat 10px 3px;
        color: black !important;
        margin:10px;
        padding:7px 10px 7px 40px;
        border:1px solid red;
        label{
            color:#000000;
            font-weight:normal !important;
        }
}

.success-message-box, .success-box{
        background:#E7FED5 url("/media/images/right_icons.png") no-repeat scroll 4px -29px;
        color: black !important;
        margin:10px;
        padding:7px 10px 7px 50px;
        border:1px solid #2a8634;
        label{
            color:#000000;
            font-weight:normal !important;
        }
}

.warning-message-box{
    position:relative;
    left:-5px;
    padding-left:10px;
    background:#e9f6ff;
    border:1px solid #a3c7ef;
    margin:10px 0 10px 0px;
    p{
        background:url("/media/images/icons.png") no-repeat left -75px;
        padding:10px 0 10px 35px;
    }
}

.try_button {
  display: block;
  width: 158px;
  height: 44px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 46px;
  color: #6f451b !important;
  text-shadow: #fff2b2 0 1px 1px;
  background: url("/media/images/dw_home_button1.png") no-repeat left top;
  margin: 10px auto;
  text-align: center;}

.try_button_min{
  background: url("/media/images/dw_home_button0.png") no-repeat scroll left top transparent;
  font-size: 12px;
  font-weight: bold;
  height: 28px;
  line-height: 27px;
  width: 100px;
  &:hover {
    -webkit-box-shadow: 0px 0px 2px 2px rgba(33, 33, 33, 0.3);
    box-shadow: 0px 0px 2px 2px rgba(33, 33, 33, 0.3);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    opacity: 1;
    text-decoration: none !important;
  }
}
.application_register{
    form{
        fieldset{
            legend{
                font-size:20px;
            }
        }
    ul li{
        input[type=text], input[type=password]{
            width:200px;
            height:15px;
            border-color:$border_color;
        }
        label{
            font-size:14px;
            display:block;
            font-weight:bold;
            float:left;
            width:170px;
        }
    }
}

}

/*Form elements without form tag*/
input[type=text], textarea{
    width:$text_box_width;
    height:25px;
    border-color:$border_color;
}
input[type=button]{
    border:0px;
}
a{
    color:$link_color;
    outline:none;
    cursor:pointer;
    cursor:hand;
}

#delete_warning a.export-entity-link{
    color:$link_color !important;
}

a:hover{
    color:$link_color;
    text-decoration:underline;
    outline:none;
}
textarea{
    width:$text_box_width;
    height:100px;
    border-color:$border_color;
}
label{
    font-size:14px;
    display:block;
    font-weight:bold;
}
select{
    width:auto;
    height:25px;
    border-color:$border_color;
    background:#FFFFFF;
}
.multiple_select{
    height: auto;
}

.button{
    border: 1px solid #d4972d !important;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background: #FFD857; /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#FEEA89), to(#FFD857)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #FEEA89, #FFD857); /* for firefox 3.6+ */
    color: #6f451d !important;
    font-family: "Arial";
    font-weight: bold;
    text-decoration: none !important;
    padding: 6px 23px 5px 22px;
    cursor:pointer;
    cursor:hand;
    opacity: 0.9;
    &:hover {
      -webkit-box-shadow: 0px 0px 2px 2px rgba(33, 33, 33, 0.3);
      box-shadow: 0px 0px 2px 2px rgba(33, 33, 33, 0.3);
      opacity: 1;
    }

    &:active {
      -webkit-box-shadow: 0px 0px 0px 0px rgba(33, 33, 33, 0.3);
      box-shadow: 0px 0px 0px 0px rgba(33, 33, 33, 0.3);
      opacity: 0.9;
    }
}

.button_wizard_blue{
    border: 1px solid #99bcd1 !important;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background: #c6deec; /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#e1eff7), to(#c6deec)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #e1eff7, #c6deec); /* for firefox 3.6+ */
    color: #0070ac !important;
    font-family: "Arial";
    font-weight: bold;
    font-size: 11px !important;
    padding: 5px;
    cursor:pointer;
    cursor:hand;
    height: 29px;
    width: 180px;
    vertical-align: middle;
    opacity: 0.9;
    &:hover {
      -webkit-box-shadow: 0px 0px 2px 2px rgba(33, 33, 33, 0.3);
      box-shadow: 0px 0px 2px 2px rgba(33, 33, 33, 0.3);
      opacity: 1;
    }

    &:active {
      -webkit-box-shadow: 0px 0px 0px 0px rgba(33, 33, 33, 0.3);
      box-shadow: 0px 0px 0px 0px rgba(33, 33, 33, 0.3);
      opacity: 0.9;
    }
    &:-moz-focus-inner {outline:0;}
}

.button_wizard_back{
    border: none !important;
    background: white !important;
    color: #0070ac !important;
    font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif;
    font-size: 11px !important;
    padding: 6px 0;
    text-align: left;
    cursor:pointer;
    cursor:hand;
}

.button_wizard_next{
    width: 180px;
    height: 29px;
    border: none !important;
    background: url("/media/images/button_wizard_next.png") no-repeat top left;
    color: #6F451D !important;
    font-family: "Arial";
    font-size: 11px !important;
    font-weight: bold;
    cursor:pointer;
    cursor:hand;
    vertical-align: middle;
  /*opacity: 0.9;*/
  /*&:hover {
    -webkit-box-shadow: 0px 0px 2px 2px rgba(33, 33, 33, 0.3);
    box-shadow: 0px 0px 2px 2px rgba(33, 33, 33, 0.3);
    opacity: 1;
  }

  &:active {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(33, 33, 33, 0.3);
    box-shadow: 0px 0px 0px 0px rgba(33, 33, 33, 0.3);
    opacity: 0.9;
  }*/
}

.button_wizard_next_small{
    width: 120px;
    height: 29px;
    border: none !important;
    background: url("/media/images/button_wizard_next_small.png") no-repeat top left;
    color: #6f451d !important;
    font-family: "Arial";
    font-size: 11px !important;
    font-weight: bold;
    cursor:pointer;
    cursor:hand;
    /*opacity: 0.9;*/
    /*&:hover {
      -webkit-box-shadow: 0px 0px 2px 2px rgba(33, 33, 33, 0.3);
      box-shadow: 0px 0px 2px 2px rgba(33, 33, 33, 0.3);
      opacity: 1;
    }

    &:active {
      -webkit-box-shadow: 0px 0px 0px 0px rgba(33, 33, 33, 0.3);
      box-shadow: 0px 0px 0px 0px rgba(33, 33, 33, 0.3);
      opacity: 0.9;
    }*/

}

.button_blue{
    margin:5px;
    border: 1px solid #5087b4 !important;
    color:#5087b4;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background: #cce3ee; /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#dfedf4), to(#cce3ee)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #dfedf4, #cce3ee); /* for firefox 3.6+ */
    font-weight: normal;
    padding: 4px 15px 4px 15px;
    cursor:pointer;
    cursor:hand;
    opacity: 0.9;
    &:hover {
      -webkit-box-shadow: 0px 0px 2px 2px rgba(33, 33, 33, 0.3);
      box-shadow: 0px 0px 2px 2px rgba(33, 33, 33, 0.3);
      opacity: 1;
      text-decoration: none;
    }

    &:active {
      -webkit-box-shadow: 0px 0px 0px 0px rgba(33, 33, 33, 0.3);
      box-shadow: 0px 0px 0px 0px rgba(33, 33, 33, 0.3);
      opacity: 0.9;
    }
}

.cancel_project {
    line-height: 29px;
    text-decoration: none !important;
    margin: 0 10px;
}

#type_message{
    float: left;
    clear: both;
}

/* File up loader */
#file-uploader, .file-uploader{
    width:480px;
    margin:10px 20px 20px 0;
    h6{
        float:left;
        margin:10px 20px 0 0;
    }
    #file_uploader{
        width:160px;
        float:left;
    }
    .qq-upload-button{
        border: 1px solid #d4972d;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        background: #FFD857; /* for non-css3 browsers */
        background: -webkit-gradient(linear, left top, left bottom, from(#FEEA89), to(#FFD857)); /* for webkit browsers */
        background: -moz-linear-gradient(top,  #FEEA89,  #FFD857); /* for firefox 3.6+ */
        color: #6F451D;
        font-family: "Arial";
        font-weight: bold;
        padding: 6px 0;
        width:160px;
        text-align:center;
    }
}

/* UI Dialog */
.ui-dialog-title{
    color:white !important;
}


/* Accordian */
.ui-accordion{
    width:95% !important;
    label.example{
        width:300px;
        font-weight:normal;
        color:#666666;
        font-style:italic;
        font-size:11px;
    }
    .button_blue{
        margin-left:10px;
    }
}
.ui-accordion-header.ui-state-default {
    background:none !important;
    border:0 !important;
    a{
        font-size:12px !important;
        font-weight:normal;
    }
}
.ui-accordion-header.ui-state-active{
    h3{
        border:1px solid #ececec !important;
    }
    a{
        color:black !important;
    }
}
.ui-accordion-icons .ui-accordion-header a{
    padding-left:3px !important;
}


/* jQuery UI Stylings */
.ui-widget-overlay{
    background: black !important;
    opacity:0.8 !important;
}
.ui-widget-content{
        background:#FFFFFF;
        .ui-widget-header{
            border:none !important;
            background-color:#3d3d3d;
            background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#3d3d3d));  //for webkit browsers
            background: -moz-linear-gradient(top,  #525252,  #262626);  //for firefox 3.6+
            .ui-dialog-title{
                font-size:18px;
            }
        }
}

/*Delete the project block*/
#delete_project_block{
    height:110px ! important;
    width:350px ! important;
    .cancel_link{
        margin-left: 10px;
        &.cancel_en{
            margin-left: 100px !important;
        }
    }
}

#activate_project_block .cancel_link{
    margin-left: 100px;
}

.right_aligned_button{
    float:right;
    display:inline-block;
}

.question_option {
    padding-bottom: 10px;
    input {
        margin: 0 !important;
        vertical-align: middle;
        &.error{
            margin: 0 !important;
        }
    }
}
.que_width{
    ul.errorlist{
        margin-top: 5px;
        list-style-type: none !important;
    }
}
ol {
    &.que_width {
        margin: 0 0 20px 25px;
        li {
            padding-bottom: 15px;
            list-style-type: decimal !important;
            overflow:visible;
            clear: left !important;
            vertical-align: top;
            h6 {
                margin: 0 !important;
            }
            input {
                padding: 0 !important;
            }
            .answer {
                position: relative;
                padding: 0 !important;
                label {
                    width: auto;
                    font-weight: normal;
                    font-size: 12px;
                    margin-top: 5px;
                }
                input {
                    float: left;
                }
                span {
                    padding: 0 !important;
                    margin: 0 !important;
                    float: left;
                }
            }
            ul {
                margin: 0;
                float:left;
                &.errorlist {
                    float:left;
                    color:#FFFFFF;
                    display:inline;
                    background:url(/media/images/arrow_error.png) no-repeat left 10px;
                    margin-top: 0;
                    padding:3px 10px 3px 10px;
                    /*border:1px solid #000000;*/
                    -moz-border-radius:5px;
                    -webkit-moz-border-radius:5px;
                    -webkit-border-radius:5px;
                    li {
                        background:#c20303;
                        padding:3px 10px 3px 10px;
                        /*border:1px solid black;*/
                        -moz-border-radius:5px;
                        -webkit-moz-border-radius:5px;
                        -webkit-border-radius:5px;
                    }
                }
                li {
                    list-style-type: none !important;
                    padding: 0;
                    margin-bottom: 0;
                }
            }
        }
    }
}
#frequency_values {
    select{
        vertical-align:middle;
    }
}

form div.action-section{
    width: 379px;
    text-align: right;
    float: none;
}