.tab_navigation{
    ul{
        margin-left:0px;
        li{
            padding-right:5px !important;
            padding-left:5px !important;
        }
    }
    li.active{
        margin:0px !important;
    }
}

#container_header_application #main_tab ul li {
    padding-right: 25px !important;
}