form fieldset legend {
  font-size: 20px; }
form ul li {
  overflow: hidden;
  margin-bottom: 15px;
  padding-bottom: 5px; }
  form ul li input[type=text], form ul li input[type=password] {
    width: 350px;
    height: 25px;
    border-color: #646464 #ebebeb #ebebeb #646464; }
  form ul li a {
    color: #0070ac; }
  form ul li a:hover {
    text-decoration: underline !important;
    color: #0070ac; }
  form ul li textarea {
    width: 350px;
    height: 100px;
    border-color: #646464 #ebebeb #ebebeb #646464;
    font: 15px/1.5 'Helvetica', Arial, 'Liberation Sans', FreeSans, sans-serif; }
  form ul li label {
    font-size: 14px;
    display: block;
    float: left;
    width: 170px;
    margin-right: 10px;
    font-weight: bold; }
  form ul li input {
    float: left;
    font: 15px/1.5 'Helvetica', Arial, 'Liberation Sans', FreeSans, sans-serif; }
  form ul li span[wmwrap=true] {
    float: left;
    top: 3px; }
    form ul li span[wmwrap=true] label {
      top: 3px;
      font-weight: normal;
      font-size: 12px;
      width: auto; }
  form ul li ul {
    float: left; }
    form ul li ul li {
      margin-bottom: 0px; }
      form ul li ul li label {
        font-size: 12px;
        display: inline;
        font-weight: normal;
        width: auto; }
      form ul li ul li label.error {
        margin-left: 0px; }
  form ul li ul.errorlist {
    float: left;
    color: #FFFFFF;
    display: inline;
    max-width: 360px;
    background: url(/media/images/arrow_error.png) no-repeat left 10px;
    margin-top: -3px;
    padding: 3px 10px 3px 10px;
    /*border:1px solid black;*/
    -moz-border-radius: 5px;
    -webkit-moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
    form ul li ul.errorlist li {
      background: #c20303;
      padding: 3px 10px 3px 10px;
      /*border:1px solid black;*/
      -moz-border-radius: 5px;
      -webkit-moz-border-radius: 5px;
      -webkit-border-radius: 5px; }

div.error_arrow {
  background: url(/media/images/arrow_error.png) no-repeat left 3px;
  display: inline; }

span.error_arrow, label.error_arrow {
  background: url(/media/images/arrow_error.png) no-repeat left 3px;
  display: inline;
  float: left !important; }

span .error_arrow label, div.error_arrow label, label.error_arrow label {
  float: none;
  color: #FFFFFF;
  display: inline !important;
  background: #c20303;
  padding: 5px 10px;
  border: 1px solid black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: auto;
  margin-left: 10px !important;
  font-size: 12px;
  font-weight: normal;
  max-width: 300px; }

.message-box, div.message-box {
  background: #fdd3d2 url(/media/images/error_alert.png) no-repeat 10px 3px;
  color: black !important;
  margin: 10px;
  padding: 7px 10px 7px 40px;
  border: 1px solid red; }
  .message-box label, div.message-box label {
    color: #000000;
    font-weight: normal !important; }

.success-message-box, div.success-message-box, .success-box {
  background: #e7fed5 url("/media/images/right_icons.png") no-repeat scroll 4px -29px;
  color: black !important;
  margin: 10px;
  padding: 7px 10px 7px 50px;
  border: 1px solid #2a8634; }
  .success-message-box label, div.success-message-box label, .success-box label {
    color: #000000;
    font-weight: normal !important; }

.warning-message-box {
  position: relative;
  left: -5px;
  padding-left: 10px;
  background: #e9f6ff;
  border: 1px solid #a3c7ef;
  margin: 10px 0 10px 0px; }
  .warning-message-box p {
    background: url("/media/images/icons.png") no-repeat left -70px;
    padding: 10px 0 10px 35px; }
  .warning-message-box div.message_plus {
    margin-left: 35px;
    margin-right: 5px; }

.try_button {
  display: block;
  width: 158px;
  height: 44px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 46px;
  color: #6f451b !important;
  text-shadow: #fff2b2 0 1px 1px;
  background: url("/media/images/dw_home_button1.png") no-repeat left top;
  margin: 10px auto;
  text-align: center; }

.try_button_min {
  background: url("/media/images/dw_home_button0.png") no-repeat scroll left top transparent;
  font-size: 12px;
  font-weight: bold;
  height: 28px;
  line-height: 27px;
  width: 100px; }
  .try_button_min:hover {
    -webkit-box-shadow: 0px 0px 2px 2px rgba(33, 33, 33, 0.3);
    box-shadow: 0px 0px 2px 2px rgba(33, 33, 33, 0.3);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    opacity: 1;
    text-decoration: none !important; }

.application_register form fieldset legend {
  font-size: 20px; }
.application_register form ul li input[type=text], .application_register form ul li input[type=password] {
  width: 200px;
  height: 15px;
  border-color: #646464 #ebebeb #ebebeb #646464; }
.application_register form ul li label {
  font-size: 14px;
  display: block;
  font-weight: bold;
  float: left;
  width: 170px; }

/*Form elements without form tag*/
input[type=text], textarea {
  width: 350px;
  height: 25px;
  border-color: #646464 #ebebeb #ebebeb #646464; }

input[type=button] {
  border: 0px; }
input.button {
  height: 33px; }

a {
  color: #0070ac;
  outline: none;
  cursor: pointer;
  cursor: hand; }

#delete_warning a.export-entity-link {
  color: #0070ac !important; }

a:hover {
  color: #0070ac;
  text-decoration: underline;
  outline: none; }

textarea {
  width: 350px;
  height: 100px;
  border-color: #646464 #ebebeb #ebebeb #646464; }

label {
  font-size: 14px;
  display: block;
  font-weight: bold; }

select {
  width: auto;
  height: 25px;
  background: #FFFFFF;
  -webkit-border-radius: 0px;
  border: 2px solid;
  border-color: #646464 #EBEBEB #EBEBEB #646464; }

input {
  width: auto;
  background: #FFFFFF;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border: 2px solid;
  border-color: #646464 #EBEBEB #EBEBEB #646464; }

.multiple_select {
  height: auto; }

.button, .ui-dialog button.ui-button {
  border: 1px solid #d4972d !important;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #FFD857;
  /* for non-css3 browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#feea89), to(#ffd857));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #feea89, #ffd857);
  /* for firefox 3.6+ */
  color: #6f451d !important;
  font-family: "Arial";
  font-weight: bold;
  text-decoration: none !important;
  padding: 6px 23px 5px 22px;
  cursor: pointer;
  cursor: hand;
  opacity: 0.9;
  font-size: 15px;
  height: 20px; }
  .button:hover, .ui-dialog button.ui-button:hover {
    -webkit-box-shadow: 0px 0px 2px 2px rgba(33, 33, 33, 0.3);
    box-shadow: 0px 0px 2px 2px rgba(33, 33, 33, 0.3);
    opacity: 1; }
  .button:active, .ui-dialog button.ui-button:active {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(33, 33, 33, 0.3);
    box-shadow: 0px 0px 0px 0px rgba(33, 33, 33, 0.3);
    opacity: 0.9; }

.button_wizard_blue {
  border: 1px solid #99bcd1 !important;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #c6deec;
  /* for non-css3 browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#e1eff7), to(#c6deec));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #e1eff7, #c6deec);
  /* for firefox 3.6+ */
  color: #0070ac !important;
  font-family: "Arial";
  font-weight: bold;
  font-size: 11px !important;
  padding: 5px;
  cursor: pointer;
  cursor: hand;
  height: 29px;
  width: 180px;
  vertical-align: middle;
  opacity: 0.9; }
  .button_wizard_blue:hover {
    -webkit-box-shadow: 0px 0px 2px 2px rgba(33, 33, 33, 0.3);
    box-shadow: 0px 0px 2px 2px rgba(33, 33, 33, 0.3);
    opacity: 1; }
  .button_wizard_blue:active {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(33, 33, 33, 0.3);
    box-shadow: 0px 0px 0px 0px rgba(33, 33, 33, 0.3);
    opacity: 0.9; }
  .button_wizard_blue:-moz-focus-inner {
    outline: 0; }

.button_wizard_back {
  border: none !important;
  background: white !important;
  color: #0070ac !important;
  font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif;
  font-size: 11px !important;
  padding: 6px 0;
  text-align: left;
  cursor: pointer;
  cursor: hand; }

.button_wizard_next {
  width: 214px;
  height: 29px;
  border: none !important;
  background: url("/media/images/button_wizard_next.png") no-repeat top left rgba(0, 0, 0, 0);
  color: #6F451D !important;
  font-family: "Arial";
  font-size: 11px !important;
  font-weight: bold;
  cursor: pointer;
  cursor: hand;
  vertical-align: middle;
  /*opacity: 0.9;*/
  /*&:hover {
    -webkit-box-shadow: 0px 0px 2px 2px rgba(33, 33, 33, 0.3);
    box-shadow: 0px 0px 2px 2px rgba(33, 33, 33, 0.3);
    opacity: 1;
  }

  &:active {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(33, 33, 33, 0.3);
    box-shadow: 0px 0px 0px 0px rgba(33, 33, 33, 0.3);
    opacity: 0.9;
  }*/ }

.button_wizard_next_small {
  width: 120px;
  height: 29px;
  border: none !important;
  background: url("/media/images/button_wizard_next_small.png") no-repeat top left;
  color: #6f451d !important;
  font-family: "Arial";
  font-size: 11px !important;
  font-weight: bold;
  cursor: pointer;
  cursor: hand;
  /*opacity: 0.9;*/
    /*&:hover {
      -webkit-box-shadow: 0px 0px 2px 2px rgba(33, 33, 33, 0.3);
      box-shadow: 0px 0px 2px 2px rgba(33, 33, 33, 0.3);
      opacity: 1;
    }

    &:active {
      -webkit-box-shadow: 0px 0px 0px 0px rgba(33, 33, 33, 0.3);
      box-shadow: 0px 0px 0px 0px rgba(33, 33, 33, 0.3);
      opacity: 0.9;
    }*/ }

.button_blue {
  margin: 5px;
  border: 1px solid #5087b4 !important;
  color: #5087b4;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #cce3ee;
  /* for non-css3 browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#dfedf4), to(#cce3ee));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #dfedf4, #cce3ee);
  /* for firefox 3.6+ */
  font-weight: normal;
  padding: 4px 15px 4px 15px;
  cursor: pointer;
  cursor: hand;
  opacity: 0.9; }
  .button_blue:hover {
    -webkit-box-shadow: 0px 0px 2px 2px rgba(33, 33, 33, 0.3);
    box-shadow: 0px 0px 2px 2px rgba(33, 33, 33, 0.3);
    opacity: 1;
    text-decoration: none; }
  .button_blue:active {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(33, 33, 33, 0.3);
    box-shadow: 0px 0px 0px 0px rgba(33, 33, 33, 0.3);
    opacity: 0.9; }

#type_message {
  float: left;
  clear: both; }

/* File up loader */
#file-uploader, .file-uploader {
  width: 480px;
  margin: 10px 20px 20px 0; }
  #file-uploader h6, .file-uploader h6 {
    float: left;
    margin: 10px 20px 0 0; }
  #file-uploader #file_uploader, .file-uploader #file_uploader {
    width: 160px;
    float: left; }
  #file-uploader .qq-upload-button, .file-uploader .qq-upload-button {
    border: 1px solid #d4972d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #FFD857;
    /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#feea89), to(#ffd857));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #feea89, #ffd857);
    /* for firefox 3.6+ */
    color: #6F451D;
    font-family: "Arial";
    font-weight: bold;
    padding: 6px 0;
    width: 160px;
    text-align: center; }

/* UI Dialog */
.ui-dialog-title {
  color: white !important; }

/* Accordian */
.ui-accordion {
  width: 100% !important; }
  .ui-accordion label.example {
    width: 300px;
    font-weight: normal;
    color: #666666;
    font-style: italic;
    font-size: 11px; }
  .ui-accordion .button_blue {
    margin-left: 10px; }

.ui-accordion-header.ui-state-default {
  background: none !important;
  border: 0 !important; }
  .ui-accordion-header.ui-state-default a {
    font-size: 12px !important;
    font-weight: normal; }

.ui-accordion-header.ui-state-active h3 {
  border: 1px solid #ececec !important; }
.ui-accordion-header.ui-state-active a {
  color: black !important; }

.ui-accordion-icons .ui-accordion-header a {
  padding-left: 3px !important; }

/* jQuery UI Stylings */
.ui-widget-overlay {
  background: black !important;
  opacity: 0.8 !important; }

.ui-widget-content {
  background: #FFFFFF; }
  .ui-widget-content .ui-widget-header {
    border: none !important;
    background-color: #3d3d3d;
    background-image: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#3d3d3d));
    background: -moz-linear-gradient(top, #525252, #262626); }
    .ui-widget-content .ui-widget-header .ui-dialog-title {
      font-size: 18px; }

/*Delete the project block*/
#delete_project_block {
  height: 110px !important;
  width: auto !important; }
  #delete_project_block .cancel_link {
    margin-left: 10px; }
    #delete_project_block .cancel_link.cancel_en {
      margin-left: 100px !important; }

#all_project_block .cancel_link, #activate_project_block .cancel_link {
  margin-left: 100px; }

#web_user_block a.cancel_link {
  margin-left: 631px; }
  #web_user_block a.cancel_link.cancel_en {
    margin-left: 670px; }

.right_aligned_button {
  float: right;
  display: inline-block; }

.question_option {
  padding-bottom: 10px; }
  .question_option input {
    margin: 0 !important;
    vertical-align: middle; }
    .question_option input.error {
      margin: 0 !important; }

.que_width ul.errorlist {
  margin-top: 5px;
  list-style-type: none !important; }

ol.que_width {
  margin: 0 0 20px 25px; }
  ol.que_width li {
    padding-bottom: 15px;
    list-style-type: decimal !important;
    overflow: visible;
    clear: left !important;
    vertical-align: top; }
    ol.que_width li h6 {
      margin: 0 !important; }
    ol.que_width li input {
      padding: 0 !important; }
    ol.que_width li .answer {
      position: relative;
      padding: 0 !important; }
      ol.que_width li .answer label {
        width: auto;
        font-weight: normal;
        font-size: 12px;
        margin-top: 5px;
        white-space: nowrap; }
      ol.que_width li .answer input {
        float: left; }
      ol.que_width li .answer span {
        padding: 0 !important;
        margin: 0 !important;
        float: left; }
        ol.que_width li .answer span.generate_id_check {
          width: 310px; }
    ol.que_width li ul {
      margin: 0;
      float: left; }
      ol.que_width li ul.errorlist {
        float: left;
        color: #FFFFFF;
        display: inline;
        background: url(/media/images/arrow_error.png) no-repeat left 10px;
        margin-top: 0;
        padding: 3px 10px 3px 10px;
        /*border:1px solid #000000;*/
        -moz-border-radius: 5px;
        -webkit-moz-border-radius: 5px;
        -webkit-border-radius: 5px; }
        ol.que_width li ul.errorlist li {
          background: #c20303;
          padding: 3px 10px 3px 10px;
          /*border:1px solid black;*/
          -moz-border-radius: 5px;
          -webkit-moz-border-radius: 5px;
          -webkit-border-radius: 5px; }
      ol.que_width li ul li {
        list-style-type: none !important;
        padding: 0;
        margin-bottom: 0; }

#frequency_values select {
  vertical-align: middle; }

form div.action-section {
  width: 379px;
  text-align: right;
  float: none; }

.help-steps {
  margin-left: 31px; }

.no-close .ui-dialog-titlebar-close {
  display: none; }

.ui-dialog button.ui-button {
  cursor: pointer;
  padding: 0px 0px;
  height: 34px; }

.ui-dialog .ui-widget-content a {
  color: #0070AC; }

.ui-dialog .ui-dialog-buttonpane {
  background-image: none;
  border-width: 0;
  margin: 0; }

.error_list {
  list-style: disc outside none;
  padding-left: 15px; }

.help-title {
  padding-top: 10px;
  font-weight: bold; }

.hide-help {
  padding-top: 10px; }

.file_upload_disabled {
  background: -moz-linear-gradient(center top, #f8edb8, #fde8a0) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  float: left;
  width: auto;
  text-align: center;
  border: 1px solid #D5B071 !important;
  cursor: default !important;
  padding: 7px; }

.template-download-section-adjustment {
  padding: 10px; }

.disabled {
  background-image: none; }
