@import "form";
.help-steps {
  margin-left: 31px; }

.no-close .ui-dialog-titlebar-close {
  display: none; }

.ui-dialog button.ui-button {
    @extend .button;
    cursor: pointer;
    padding: 0px 0px;
    height: 34px;
}

.ui-dialog  .ui-widget-content a {
    color: #0070AC;
}

.ui-dialog .ui-dialog-buttonpane {
    background-image: none;
    border-width: 0;
    margin: 0;
}

.error_list {
    list-style: disc outside none;
    padding-left: 15px;
}

.help-title {
  padding-top: 10px;
  font-weight: bold;
}

.hide-help{
  padding-top: 10px;
}

.file_upload_disabled{
  float: left;
  width: 144px;
}

.template-download-section-adjustment{
  padding: 10px;
}