@import "form";
.help-steps {
  margin-left: 31px; }

.no-close .ui-dialog-titlebar-close {
  display: none; }

.ui-dialog button.ui-button {
    @extend .button;
    cursor: pointer;
    padding: 0px 0px;
    height: 34px;
}

.ui-dialog  .ui-widget-content a {
    color: #0070AC;
}

.ui-dialog .ui-dialog-buttonpane {
    background-image: none;
    border-width: 0;
    margin: 0;
}

.error_list {
    list-style: disc outside none;
    padding-left: 15px;
}

.help-title {
  padding-top: 10px;
  font-weight: bold;
}

.hide-help{
  padding-top: 10px;
}

.file_upload_disabled{
  background: -moz-linear-gradient(center top , #F8EDB8, #FDE8A0) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  float: left;
  width: auto;
  text-align: center;
  border: 1px solid #D5B071 !important;
  cursor: default !important;
  padding: 7px;}

.template-download-section-adjustment{
  padding: 10px;
}

.disabled{
  background-image: none;
}