 .ui-state-disabled{
  &:hover {
    box-shadow: none;
    outline: none !important;
    text-decoration: none;
 }
}

.addNewLanguage{
   background-color: lightblue ;
  color:blue;
}

@import "validation";
@import "dropdown_style";

select option{
  margin : 3px;
}

.charCount{
  display: block;
  text-align: right;
  width: 575px;
}

.account_message_warning_message{
  color: #066B06 !important;
  font-style: italic;
  margin-top: -6px;
}

 .account_wide_sms_title {
   color: orange;
   font-weight: bold;
   border-bottom: 1px solid #d3d3d3;
 }