.ui-state-disabled:hover {
  box-shadow: none;
  outline: none !important;
  text-decoration: none; }

.validationText {
  color: #FFFFFF;
  background: #c20303;
  padding: 5px 10px;
  border: 1px solid black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: auto;
  margin-left: 10px !important;
  font-size: 12px;
  font-weight: normal;
  max-width: 300px; }

.validationMessage, .choiceValidationMessage {
  background: url(/media/images/arrow_error.png) no-repeat;
  background-position: left 3px;
  display: inline; }

.choiceValidationMessage {
  background-position: left 6px !important;
  display: inline-block; }
