 .ui-state-disabled{
  &:hover {
    box-shadow: none;
    outline: none !important;
    text-decoration: none;
 }
}

.addNewLanguage{
   background-color: lightblue ;
  color:blue;
}

@import "validation";
@import "dropdown_style";

select option{
  margin : 3px;
}

.message_box{
  width: auto;
  resize: none;
  height: 50%
}

.char_count{
  display: block;
  text-align: right;
  width: 910px;
  color:#666666 !important;
  font-size: 100%;
  span{
    font-weight: bold;
  }
}

.account_message_warning_message{
  color: #066B06 !important;
  font-style: italic;
  margin-top: -6px;
  display: inline;
}

 .account_wide_sms_title {
   color: #C35C00;
   font-weight: bold;
   border-bottom: 1px solid #CCCCCC;
   font-size: 20px;
 }