.ui-state-disabled:hover {
  box-shadow: none;
  outline: none !important;
  text-decoration: none; }

.addNewLanguage {
  background-color: lightblue;
  color: blue; }

.validationText {
  color: #FFFFFF;
  background: #c20303;
  padding: 5px 10px;
  border: 1px solid black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: auto;
  margin-left: 10px !important;
  font-size: 12px;
  font-weight: normal;
  max-width: 300px; }

.validationMessage, .choiceValidationMessage {
  background: url(/media/images/arrow_error.png) no-repeat;
  background-position: left 3px;
  display: inline; }

.choiceValidationMessage {
  background-position: left 6px !important;
  display: inline-block; }

.dropdown_style {
  -webkit-appearance: none;
  /*Removes default chrome and safari style*/
  -moz-appearance: none;
  /*Removes default style Firefox*/
  text-indent: 0.01px;
  text-overflow: "";
  width: 190px;
  height: 23px;
  background: url("/media/images/arrow_dd.png") no-repeat scroll right -3px;
  font-family: 'Helvetica', Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-size: 11px !important;
  margin-left: 0px;
  padding: 2px; }
  .dropdown_style option {
    margin: 3px; }

select option {
  margin: 3px; }

.message_box {
  width: auto;
  resize: none;
  height: 50%; }

.char_count {
  float: right;
  text-align: right;
  color: #666666 !important;
  font-size: 100%; }
  .char_count span {
    font-weight: bold; }

.account_message_warning_message {
  color: #066B06 !important;
  font-style: italic;
  margin-top: -6px;
  display: inline; }

.account_wide_sms_title {
  color: #C35C00;
  font-weight: bold;
  border-bottom: 1px solid #CCCCCC;
  font-size: 20px; }

.sms_messages li {
  clear: both;
  padding-bottom: 10px; }

.bold {
  font-weight: bold; }

.messages {
  font-weight: bold;
  margin-left: 18px; }

#language_save {
  float: right; }

.save_button {
  width: 900px;
  margin-top: 35px; }

.link-disabled {
  color: #808080; }

.link-disabled:hover {
  color: #808080;
  text-decoration: none;
  cursor: default; }

.cancel_button, .reset-link {
  float: right;
  margin-right: 12px;
  margin-top: 7px; }

.reset-link {
  font-weight: normal;
  margin-top: 0px; }

.message-header {
  padding-top: 15px; }
