.poll_info_table{
  overflow:auto;
  width:800px;
  height:400px;
}

.font_size_18{
  font-size: 18px ;
}

.create_poll{
  padding-top: 13px;

}

.poll_active{
  width: 200px;
  margin-top: auto;
}

.padding_top_10{
  padding-top: 10px;
}

