.reminder_content{
    padding-top: 1em;
    padding-bottom: 1em;
}

.reminder_content_section{
    border-bottom: 1px solid;
    height:600px !important;
    width: 95%;
}
#review_section{
 h4{
    border-bottom:1px solid #CCCCCC;
 }

 .ui-accordion-content{
    background:none;
    border:0;
    float:left;
 }
 .header{
    border:0;
    width:100% !important;
    float:left;
    padding:10px 0 10px 0px;
    font-weight:normal;
    background:none;
    border-bottom: 1px solid #CCCCCC !important;
    h5{
        float:left;
        background:url(/media/images/accordion_arrows.png) no-repeat left -34px;
        padding-left:15px;
        margin-left:15px;
        font-size:14px;
        font-weight:normal;
    }
 }
 .ui-accordion{
    width:100% !important;
    border-bottom:1px solid #CCCCCC;
    float:left;
 }

 
 .ui-accordion .ui-accordion-content {
    padding:20px 10px 0 10px;
    width:100%;
    ul{
        width:100%;
    }
    ol{
        margin:10px 0 10px 40px;
    }
 }
 .ui-state-active{
    background-color:#525252 !important;
    border:0;
    background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#3d3d3d)) !important;  //for webkit browsers
    background: -moz-linear-gradient(top,  #525252,  #262626) !important;  //for firefox 3.6+

    h5{
         color:#FFFFFF;
         background:url(/media/images/accordion_arrows.png) no-repeat left 5px;
         padding-left:15px;
         margin-left:15px;
    }

    .success_error{
        color:#FFFFFF;
    }
 }
 a{
        color:#0070ac;
        font-size:12px;
    }
}
.submit-buttons{
    clear: left;
}

label.error{
    position:absolute;
    float:none;
    color:#FFFFFF;
    display:inline;
    background-color:#c20303;
    margin-left:10px;
    padding:3px 10px 3px 10px;
    border:1px solid #000000;
    -moz-border-radius:5px;
    -webkit-moz-border-radius:5px;
    -webkit-border-radius:5px;
    opacity:0.8;
}


.link_info{
    position:relative;
    padding-right:45px;
    padding-top:25px;
    left:700px;
    top:-12px;
}

#reminder_form{
    width:930px;
}

.half-width{
    width: 50%;
}
.disabled_button{
  background: -moz-linear-gradient(center top, #EEEEEE, #CCCCCC) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  color: #888888 !important;
  border: 1px solid #777777 !important;
  padding: 6px 23px 5px 22px;
  height: 33px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Arial";
  opacity: 0.5;
}
