/*
Syntax error: Colors must have either three or six digits: '#00000'
        on line 89 of ./reminder.scss

84:     color:#FFFFFF;
85:     display:inline;
86:     background-color:#c20303;
87:     margin-left:10px;
88:     padding:3px 10px 3px 10px;
89:     border:1px solid #00000;
90:     -moz-border-radius:5px;
91:     -webkit-moz-border-radius:5px;
92:     -webkit-border-radius:5px;
93:     opacity:0.8;
94: }

Backtrace:
./reminder.scss:89
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/script/lexer.rb:284:in `color'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/script/lexer.rb:239:in `token'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/script/lexer.rb:218:in `read_token'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/script/lexer.rb:169:in `peek'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/script/parser.rb:480:in `try_tok'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/script/parser.rb:210:in `times_div_or_mod'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/script/parser.rb:209:in `plus_or_minus'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/script/parser.rb:209:in `relational'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/script/parser.rb:209:in `eq_or_neq'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/script/parser.rb:209:in `and_expr'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/script/parser.rb:209:in `or_expr'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/script/parser.rb:301:in `space'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/script/parser.rb:284:in `interpolation'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/script/parser.rb:247:in `expr'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/script/parser.rb:470:in `send'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/script/parser.rb:470:in `assert_expr'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/script/parser.rb:49:in `parse'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/scss/parser.rb:1010:in `send'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/scss/parser.rb:1010:in `sass_script'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/scss/parser.rb:870:in `value!'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/scss/parser.rb:847:in `declaration'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/scss/parser.rb:570:in `declaration_or_ruleset'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/scss/parser.rb:1110:in `call'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/scss/parser.rb:1110:in `rethrow'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/scss/parser.rb:580:in `declaration_or_ruleset'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/scss/parser.rb:542:in `block_child'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/scss/parser.rb:534:in `block_contents'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/scss/parser.rb:523:in `block'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/scss/parser.rb:517:in `ruleset'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/scss/parser.rb:541:in `block_child'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/scss/parser.rb:534:in `block_contents'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/scss/parser.rb:70:in `stylesheet'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/scss/parser.rb:27:in `parse'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/engine.rb:342:in `_to_tree'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/engine.rb:315:in `_render'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/engine.rb:262:in `render'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin/compiler.rb:341:in `update_stylesheet'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin/compiler.rb:203:in `update_stylesheets'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `each'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `update_stylesheets'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin/compiler.rb:299:in `watch'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:95:in `initialize_adapter'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:31:in `start'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:31:in `initialize'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:31:in `new'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:31:in `start'
/var/lib/gems/1.8/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:44:in `start'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin/compiler.rb:307:in `watch'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin.rb:107:in `send'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin.rb:107:in `method_missing'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/exec.rb:444:in `watch_or_update'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/exec.rb:307:in `process_result'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/var/lib/gems/1.8/gems/sass-3.2.5/bin/sass:8
/var/lib/gems/1.8/bin/sass:19:in `load'
/var/lib/gems/1.8/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Colors must have either three or six digits: '#00000'\A         on line 89 of ./reminder.scss\A \A 84:     color:#FFFFFF;\A 85:     display:inline;\A 86:     background-color:#c20303;\A 87:     margin-left:10px;\A 88:     padding:3px 10px 3px 10px;\A 89:     border:1px solid #00000;\A 90:     -moz-border-radius:5px;\A 91:     -webkit-moz-border-radius:5px;\A 92:     -webkit-border-radius:5px;\A 93:     opacity:0.8;\A 94: }"; }
