.single_select_question{
    position: relative;
}

.content-header{
  padding-left: 10px;
  font-weight: bold;
}

#datasender-id{
  font-style: italic;
  font-size: 12px;
  color: #888888;
}
#static-info{
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccbf97;
  background-color: #E8EFF6;
  height: 50px;

}
