.labelSpan{
  display: inline;
  text-transform: capitalize;
  img {
    width:20px;
    height:20px;
  }
}
.dataLbl{
  display: none;
}
div.dataLayersDiv input{
  height: auto;
}
.olControlLayerSwitcher .layersDiv{
  background-color: rgba(100, 100, 100, 0.8);
}
.ol-zoom{
  bottom: 3.5em;
  right: 0.5em;
  top: initial;
  left: initial;
}
.filter-control{
  top:3.5em;
  left: 0.5em;
  position: absolute;
  .title{
    background-image: url('/media/images/filled-filter.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
  }
  .filters{
    display: none;
    position:absolute;
    top: 2em;
    background-color: rgba(255, 255, 255, 0.4);
    .filters-content{
      width: 12em;
      font-size: 80%;
    }
    .filters-control{
      text-align: center;
      margin: 2%;
      button{
        width: initial;
        display: inline;
        padding: 0.5em;
        font-size: 79%;
      }
    }
    h3{
      padding: 0.3em 1.8em;
      border: none;
      margin: 0;
    }
    .filter-choices{
      border: none;
      padding: 0 2.2em;
      label{
        display: block;
      }
    }
  }
}

h3#header {
    margin: 0;
    display: block;
    float: left;
    width: 80%;
    position: absolute;
    top: 3%;
    left: 4%;
    padding: 0;
    word-break: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
}

ul#pop-details {
    margin: 26% 0 0 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;

    li {
        list-style-type: none;
        font-size: 0.9em;
        margin-bottom: 5px;

        .answer {
            display: inline-block;
            white-space: pre-wrap;
            margin-right: 5px;
            word-break: break-word;
            width: 80%;
            font-size: 0.9em;
        }

        .question-icon {
            background: rgba(0, 60, 136, 0.5);
            border-radius: 50%;
            text-align: center;
            color: white;
            font-size: 0.7em;
            line-height: 14px;
            height: 13px;
            width: 13px;
            cursor: default;
            float: right;

            &:before {
                content: '?';
            }

            &:hover {
                background: rgba(0,60,136,1);

                + .question {
                    display: block;
                }
            }
        }

        .question {
            display: none;
            background-color: black;
            color: #fff;
            border-radius: 6px;
            width: 80%;
            height: auto;
            white-space: pre-wrap;
            margin-left: 21px;
            position: absolute;
            left: 87%;
            margin-top: -17.5%;
            z-index: 100;
            padding: 5px;
            text-align: left;
            font-size: 0.8em;

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                right: 100%;
                margin-top: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent black transparent transparent;
            }
        }

    }
}

.ol-popup {
    padding-right: 5px;
}

.ol-popup-content {
    margin: 5px;
    height: auto;
    padding-top: 2%;
    font-family: sans-serif;
    font-size: 12pt;
    width: 157px;
}