.import_link {
  color: #0070AC !important;
}

.projects{
  min-width: 200px;
}

#delete_entity_block {
  a {
    float: right !important;
    .cancel_link {
      padding-left: 5px !important;
      padding-top: 7px !important;
    }
  }
}

.devices {
  vertical-align: bottom !important;
  span {
    display: block;
  }
  .device-icons {
    padding-top: 2px;
    width: 66px;
    > div {
      float: left;
    }
    .web-icon {
      margin: 0 4px 0 10px;
    }
    .smartphone-icon {
      margin: 0 -4px 0 5px;
    }
  }
}

.device-icon {
  img {
    padding-top: 3px;
  }
  span {
    width: 15px;
    display: block;
  }
}

.device_checkmark{
  padding: 0 4px 0 4px;
}
#delete_all_ds_are_users_warning_dialog, #delete_entity_block{
    ul.bulleted{
       padding-left: 20px;
    }
}
.ds_action{
  margin-top: 6px;
}

//hiding system groups
#datasender_table td:nth-child(11){
  display: none;
}

#show_upgrade_message:hover{
  color: #808080;
}

#contacts_panel {
    float: left;
  width: 80%;

  .contacts_div {
    height: auto;
    background: #ffffff;
    box-shadow: -5px -1px 10px #888888;
    padding: 20px 20px 40px;
  }
}

#group_panel {
  width: 20%;
  float:left;
  ol li {
    padding: 10px 15px;
    list-style: none;
    cursor: pointer;
  }
  ol li:hover{
    background: url("/media/images/question_hover_bg.gif") repeat-x scroll left bottom #D8E4EC;
  }
  .add_group {
    font-size: 14px;
    font-weight: normal;
    margin: 17px 0 0 15px;
  }
  .group_div {
    background: none repeat scroll 0 0 #F0F0F0;
    vertical-align: top;
    margin-right: 0;
    min-height: 760px;
    padding: 20px 0 0;
  }
}

.selected {
  background: url("/media/images/question_hover_bg.gif") repeat-x scroll left bottom #D8E4EC;
}

#contacts_content {
  background-color: #F0F0F0;
  min-height: 500px;
  height: auto;
  border: 1px solid #CCBF97 !important;
  width: 100%;
  .contacts_content_div {
    margin-bottom: 20px;
    padding-right: 17px;
    margin-top: 10px;
  }
}


span.selected_list_item_arrow{
  left: 20%;
  padding-left: 2px;
}
#group-success {
  width:60%;
}

.no-close .ui-dialog-titlebar-close {
  visibility: hidden;
}

#all_groups_block {
  ul li label{
    display: inline;
  }
}

.all_groups_dialog {
  min-width: 300px;
  width: auto;
}

.group_icon {
  height: 15px;
  width: 15px;
  float: right;
  padding-right: 5px;
}