.preview_block{
    text-align:right;
}

#questionnaire_preview{
  margin-left:20px;
 .questionnaire_preview{
    > li{
        margin-bottom:15px;
        width:100%;
        float:left;
    }
    .answer{
        margin-bottom:5px;
            .multiple_select{
            li{
                list-style-type:upper-alpha;
            }
            margin-left:20px;
        }
    }
    label{
        font-weight:normal;
    }
    input[type=radio], input[type=checkbox]{
        float:left !important;
    }
    div{
        width:100%;
        float:left;
    }
 }
}
#que_code{
    li{
        list-style-type:decimal;
        float:left;
        clear:both;
    }
}

#print_page{
    a{
        color:#0070ac;
        outline:none;
    }
}

.questionnaire_title{
    margin-bottom:20px;
    float:left;
    li{
        width:100%;
        float:left;
        p, h5{
            float:left;
        }
        p, h5{
            margin:-5px 0  0 10px;
        }
        p.content{
            margin-left:10px;
        }

    }
}
p.instructions{
    font-style:italic;
    font-size:12px;
}

.olpreview {
    padding-left:20px;
    li{
        float:none !important;
        vertical-align:top;
        h6{
            padding:0;
            margin:0;
        }
        .answer{
            margin-bottom:5px;
            float:none;
            clear:left !important;
            ol{
                margin-left:20px;
                list-style: lower-alpha;
            }
        }
    }
}
.org_number_link{
    margin-top: 5px;
    font-size : 12px !important;
    position: absolute;
}