.add_subjects_section {
  border: 1px solid #CCCCCC;
  height: 120px;
  background: #EEEEEE;
  padding: 10px 6px 0 20px;
  float: left; }
  .add_subjects_section > div h6 {
    font-size: 12px;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 10px; }
  .add_subjects_section > div p {
    font-style: italic;
    font-size: 12px;
    color: #666666;
    margin-bottom: 10px; }
  .add_subjects_section > div input[type=button] {
    float: right; }
  .add_subjects_section .import_list {
    padding-right: 2px;
    margin-left: 20px; }

.add_subject_form ul {
  float: left; }
  .add_subject_form ul li {
    margin-bottom: 15px;
    float: left; }
    .add_subject_form ul li label {
      width: 120px;
      float: left; }
      .add_subject_form ul li label label {
        display: inline; }
      .add_subject_form ul li label.error {
        font-size: 11px;
        font-weight: normal;
        margin-left: 120px;
        width: auto;
        float: right !important; }
    .add_subject_form ul li .location_section li {
      float: none; }
    .add_subject_form ul li .location_section label {
      display: block;
      float: none; }
    .add_subject_form ul li .location_section .error_arrow {
      max-width: 170px; }
    .add_subject_form ul li #add_subject_type {
      margin-left: 120px;
      width: 75% !important; }
      .add_subject_form ul li #add_subject_type .message-box {
        float: left !important;
        font-size: 12px; }
    .add_subject_form ul li .auto_gen_checkbox label {
      float: none;
      display: inline; }
    .add_subject_form ul li input[type=text], .add_subject_form ul li textarea {
      width: 200px; }

.add_datasender_form input[type=text] {
  width: 200px !important; }

#question-detail-panel > div span {
  margin-bottom: 20px; }

/* jQuery UI Stylings */
.ui-widget-overlay {
  background: #000000;
  opacity: 0.8; }

.ui-widget-content {
  background: #FFFFFF; }
  .ui-widget-content .ui-widget-header {
    border: none;
    background-color: #525252;
    background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#3d3d3d));
    background: -moz-linear-gradient(top, #525252, #262626); }
    .ui-widget-content .ui-widget-header .ui-dialog-title {
      font-size: 18px; }
  .ui-widget-content a {
    color: #0070AC;
    font-size: 12px; }
  .ui-widget-content a.size_1_em {
    color: #0070AC;
    font-size: 1em; }

#error_table {
  display: none; }
  #error_table table {
    width: 100%; }
  #error_table th {
    text-align: center; }

.import_subjects .browse_subjects label {
  float: none; }
.import_subjects .add_subjects .add_subject_link, .import_subjects add_datasenders .add_subject_link {
  position: relative;
  top: 10px;
  margin-left: 10px; }

#message {
  clear: both; }

#my_subjects .secondary_tab {
  top: 0;
  left: -20px;
  float: none;
  margin: 10px 0;
  border-bottom: 3px solid #2A2A2A;
  background: none; }
  #my_subjects .secondary_tab li {
    height: 40px;
    margin: 0;
    padding: 0 20px;
    line-height: 45px; }
  #my_subjects .secondary_tab .active {
    background-color: #525252;
    background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#3d3d3d));
    background: -moz-linear-gradient(top, #525252, #262626); }
    #my_subjects .secondary_tab .active a {
      color: #ffffff !important; }

#my_subjects_links {
  margin: 10px 0 20px 0; }
  #my_subjects_links ul {
    margin: 0;
    padding: 0;
    float: right; }
    #my_subjects_links ul li {
      display: block;
      float: left;
      line-height: 26px; }
      #my_subjects_links ul li.view_link {
        width: 80px;
        text-align: right;
        padding-right: 5px; }
      #my_subjects_links ul li.sms_link {
        width: 60px; }
      #my_subjects_links ul li a {
        padding: 0 8px; }
      #my_subjects_links ul li .disabled_link {
        color: #aaaaaa; }
  #my_subjects_links #sms_preview_btn {
    background: url("/media/images/ico_sms.png") left -26px no-repeat;
    width: 60px;
    height: 26px;
    overflow: hidden;
    line-height: 26px;
    padding: 0 0 0 25px;
    color: #aaaaaa;
    display: block; }
  #my_subjects_links #web_preview_btn {
    background: url("/media/images/ico_web.png") left -26px no-repeat;
    width: 60px;
    height: 26px;
    overflow: hidden;
    line-height: 26px;
    padding: 0 0 0 25px;
    color: #aaaaaa;
    display: block; }
  #my_subjects_links .active {
    background-position: left 0 !important;
    color: #000000 !important; }

#sms_preview {
  padding: 20px;
  border: 1px solid #dddddd;
  margin: auto;
  width: 600px; }
  #sms_preview .sms_exemple {
    font-style: italic;
    font-size: 14px;
    color: #666666;
    padding: 0 20px; }

#web_preview {
  display: none;
  padding: 20px;
  border: 1px solid #dddddd;
  margin: auto;
  width: 600px; }

.instruction {
  color: #666666;
  font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 18px; }

.popup-import .file-uploader {
  width: 170px !important;
  margin: 0 !important; }
.popup-import .error {
  margin-top: 7px !important; }
.popup-import ul.bulleted li {
  list-style-type: disc !important;
  margin-left: 20px; }

#my_datasenders .button_block {
  margin: 0 !important;
  padding: 0 !important; }
#my_datasenders .cancel_link {
  display: none !important; }

#delete_entity_block a {
  float: right !important; }
  #delete_entity_block a .cancel_link {
    padding-left: 5px;
    padding-top: 7px; }

#subjects-table thead tr th.checkall {
  width: 23px; }
#subjects-table tbody tr td.cb {
  text-align: center; }
