#broadcast-form {
  padding-top: 15px;
  padding-left: 10px; }

#message_count {
  padding-left: 400px;
  margin-bottom: 10px; }

#messageCount {
  color: green; }

#id_to {
  width: 355px; }

#message-submit {
  width: 250px; }

#additional_people_column .black_italic{
  font-style: italic;
  margin-left: 170px;
  width: 350px;
  color: #8A8A8A;}
