.single_select_question {
  position: relative; }

.content-header {
  font-weight: bold; }

#static-info {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #CCDFED;
  overflow: hidden; }

#static-info .info {
  padding: 0px 8px 0px 10px;
  float: left;
  width: 436px;
  display: block; }

#static-info .info .content-header:after {
  content: ":";
  margin-right: 3px; }

#static-info .info .datasender-id {
  font-style: italic;
  font-size: 12px;
  color: #888888;
  margin-left: 5px; }

.edit_submission_heading {
  margin: 10px auto 20px; }
  .edit_submission_heading .static-text {
    display: inline-block;
    margin-top: 6px; }
  .edit_submission_heading + div.message-box {
    margin: 10px 0; }

.action-section {
  display: inline-block;
  float: right; }

form ul li {
  margin-bottom: 0px; }

.highlight {
  color: #669933;
  font-weight: bold; }

a#cancel_leave {
  color: #0070AC !important; }

#cancel_submission_warning_message .font_size_13 {
  font-size: 13px;
  margin: 10px 0; }

.subject_field {
  float: left !important; }

#edit_ds_popup #id_dsid {
  margin-top: 10px; }

#id_dsid {
  -webkit-appearance: none;
  /*Removes default chrome and safari style*/
  -moz-appearance: none;
  /*Removes default style Firefox*/
  text-indent: 0.01px;
  text-overflow: "";
  width: 190px;
  height: 23px;
  background: url("/media/images/arrow_dd.png") no-repeat scroll right -3px;
  font-family: 'Helvetica', Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-size: 11px !important;
  margin-left: 0px;
  padding: 2px; }
  #id_dsid option {
    margin: 3px; }

.ds_error_list {
  float: left;
  color: #FFFFFF;
  display: inline;
  background: url(/media/images/arrow_error.png) no-repeat left 10px;
  padding: 3px 10px 3px 10px;
  -moz-border-radius: 5px;
  -webkit-moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
