#all_subjects {
  margin-top: 18px;
  width: 910px !important; }
  #all_subjects table.all_subject_type_table td, #all_subjects table.all_subject_type_table th {
    border: 0px;
    text-align: left; }
  #all_subjects .all_subject_type_table .list_header {
    border-bottom: 1px solid #CCCCCC !important;
    padding: 10px; }
    #all_subjects .all_subject_type_table .list_header .header {
      font-weight: normal; }
    #all_subjects .all_subject_type_table .list_header .success_error {
      font-size: 12px;
      font-weight: normal;
      color: #666666; }
  #all_subjects .all_subject_type_table .list_header {
    cursor: pointer; }
  #all_subjects .all_subject_type_table .list_header:hover {
    background: #ccdfed; }
  #all_subjects .all_subject_type_table .list_header.highlight {
    background-color: #525252 !important;
    border: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#3d3d3d)) !important;
    background: -moz-linear-gradient(top, #525252, #262626) !important; }
    #all_subjects .all_subject_type_table .list_header.highlight .header {
      color: #FFFFFF;
      background: url(/media/images/accordion_arrows.png) no-repeat left 5px;
      padding-left: 15px; }
    #all_subjects .all_subject_type_table .list_header.highlight .success_error {
      color: #FFFFFF; }
  #all_subjects .all_subject_type_table .list_header.ui-state-active {
    background-color: #525252 !important;
    border: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#3d3d3d)) !important;
    background: -moz-linear-gradient(top, #525252, #262626) !important; }
    #all_subjects .all_subject_type_table .list_header.ui-state-active .header {
      color: #FFFFFF;
      background: url(/media/images/accordion_arrows.png) no-repeat left 5px;
      padding-left: 15px; }
    #all_subjects .all_subject_type_table .list_header.ui-state-active .success_error {
      color: #FFFFFF; }
  #all_subjects .subject-container {
    overflow-y: auto;
    padding: 10px; }
    #all_subjects .subject-container .styled_table tbody tr td:first-child, #all_subjects .subject-container .styled_table thead tr th:first-child {
      width: 21px !important; }
    #all_subjects .subject-container .styled_table tbody tr td:first-child input {
      margin-left: 6px !important; }
    #all_subjects .subject-container .styled_table thead tr th:first-child input {
      margin-left: 0px !important; }
  #all_subjects .ui-accordion-content {
    border: 0;
    border-bottom: 1px solid #000000;
    padding: 10px; }
  #all_subjects .register_subject {
    float: right;
    color: #0070ac;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 10px; }
  #all_subjects .styled_table {
    margin-bottom: 0; }
  #all_subjects .subjects_links {
    margin-bottom: 15px;
    font-size: 12px !important;
    color: #0070AC;
    text-align: right; }
    #all_subjects .subjects_links .qq-upload-button {
      overflow: visible !important; }
      #all_subjects .subjects_links .qq-upload-button input {
        font-size: 1px !important;
        left: 0px; }
  #all_subjects .no_registered_subjects {
    margin: 10px 0;
    font-size: 12px !important;
    color: #666666;
    font-style: italic; }
    #all_subjects .no_registered_subjects ul {
      margin: 0 10px;
      padding: 0 10px;
      list-style-type: disc !important; }
  #all_subjects .export_template_links {
    width: 400px;
    float: left; }

#subjects_create_type .instruction {
  clear: left;
  width: 350px;
  font-size: 11px;
  color: #666666; }
#subjects_create_type #type_message {
  margin: 10px 0 !important; }

#subject_create_type_link {
  margin: 20px 0; }
  #subject_create_type_link #add_new_subject_type {
    background: url("/media/images/icons.png") left top no-repeat !important;
    padding: 5px 0 5px 30px; }

#subjects_table_wrapper #action_button {
  display: inline;
  float: left;
  margin-top: -7px; }

#delete_entity_block a {
  float: right !important; }
  #delete_entity_block a .cancel_link {
    padding-left: 5px;
    padding-top: 7px; }
