#broadcast-form{
    padding-top: 15px;
    padding-left: 10px;
}

#broadcast_sms_form{
    ul li{
        width: 535px;
        #sms_content{
            margin: 0;
            padding: 0;
        }
        &#message-submit{
            text-align: right;
        }
    }
}

#message_count{
    text-align: right;
    margin-bottom:10px;
}

#id_to{
    width: 355px;
}


#additional_people_column{
  .highlightTextarea{
    width: 720px !important;
    div.error_arrow {
      left: 352px;
      top: 4px;
      position: absolute;
    }
    .highlighterContainer .highlighter{
      color: #FFFFFF;
      .highlight{
          color: #FCA0A0 !important;
      }
    }
  }
  .black_italic{
    font-style: italic;
    margin-left: 170px;
    width: 350px;
    color: #8A8A8A;
  }
}
