p{
    color:#666666 !important;
    &.intro{
        font-size:16px;
    }

}
.dashboard_left{
    border-right:1px solid #CCCCCC;
    min-height:400px;
}
.dashboard_right{
    margin-left:10px;
    h6{
        min-width: 204px;
    }
}
#how_to{
    width:100% !important;
    margin:15px 0 15px 0;
    .ui-widget-content{
        border:1px solid #CCCCCC;
    }
    //>h3{
    //  >span.ui-icon-triangle-1-s,.ui-icon-triangle-1-e{
    //    display: none
    //  }
    //}
    h3{
        background:#F5F5F5 !important;
        padding:10px;
        color:#000000 !important;
        border:1px solid #ccc !important;
        .title{
            background:url(/media/images/accordion_arrows.png) no-repeat left -13px;
            padding-left:15px;
        }
    }
    h3.ui-state-active{
        .title{
            background:url(/media/images/accordion_arrows.png) no-repeat left -52px;
            padding-left:15px;
        }
    }
}
#projects{
    width:665px !important;
    float:left;
    .project_header{
        border-bottom:1px solid #CCCCCC !important;
        padding:10px;
        .header{
            font-weight:normal;
            background:url(/media/images/accordion_arrows.png) no-repeat left -34px;
            padding-left:15px;
        }
        .success_error{
            font-size:12px;
            font-weight:normal;
            color:#666666;
            float:right;
        }
        //>span.ui-icon-triangle-1-e{
        //  display: none
        //}
    }
    .project_header.ui-state-active{
        background:#525252 !important;
        border:0;
        background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#3d3d3d)) !important;  //for webkit browsers
        background: -moz-linear-gradient(top,  #525252,  #262626) !important;  //for firefox 3.6+
        .header{
            color:#FFFFFF;
            background:url(/media/images/accordion_arrows.png) no-repeat left 5px;
            padding-left:15px;
        }
        .success_error{
            color:#FFFFFF;
        }
    }
    .ui-accordion-content{
        border:0;
        border-bottom:1px solid #000000;
        table{
            border:0;
            td{
                border:0;
                border-bottom:1px solid #CCCCCC;
            }
        }
    }
    .go_to_project{
        float:right;
        color:#0070ac;
        font-weight:bold;
        font-size:12px;
    }
}

.view_all_projects{
    font-weight:bold;
    font-size:12px;
    margin-top:10px;
    width: auto !important;
}
.news{
    li{
        margin-top: 10px;
    }
}

table.no-border{
    width: 243px;
    line-height: 5px;
    &.line_height_14{
        line-height:14px;
    }
    td,th{
        border: none!important;
        text-align: right;
        padding-left: 0;
        &.small{
            font-size: 10px;
            vertical-align: bottom;
            padding: 0 6px 0 0 !important;
        }
        &:first-child{
            text-align: left;
            max-width: 130px;
        }
    }
}

#blue_message_box{
    width: 230px;
    margin-top:0!important;
    .button_fr{
        width: 103px;
        padding-right: 12px !important;
        padding-left: 12px !important;
    }
}