@charset "utf-8";

body{
  margin: 0;
}
.labelSpan{
  display: inline;
  text-transform: capitalize;
  img {
    width:20px;
    height:20px;
  }
}
.dataLbl{
  display: none;
}
div.dataLayersDiv input{
  height: auto;
}
.olControlLayerSwitcher .layersDiv{
  background-color: rgba(100, 100, 100, 0.8);
}
.ol-zoom{
  bottom: 3.5em;
  right: 0.5em;
  top: initial;
  left: initial;
}
.ol-attribution{
  z-index: 1;
}

.filter-control{
  .filters{
    background-color: rgba(255, 255, 255, 0.4);
    .filters-content{
      font-size: 80%;
      font-family: Helvetica, Arial, sans-serif;
      h3{
        padding: 0 1.8em;
        border: none;
        margin: 0;
      }
      .filter-choices{
        border: none;
        padding: 0.4em 2.2em;
        label{
          margin: 0 0.5em;
        }
      }
    }
    .filters-content:not(:empty){
      padding: 1em 0;
    }
  }
}

.map-control{
  position: absolute;
  bottom: 0;
  width: 100%;
}

h3#header {
    white-space: pre-wrap;
    word-break: break-word;
    margin: 0 1em 0 0;
    padding-bottom: 0.45em;
    border-bottom: 1px solid #ccc;
    width: 90%;
    font-size: 0.95em;
}

ul#pop-details {
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    height: 62%;
    width: 100%;
    overflow-x: auto;
    li {
        list-style-type: none;
        font-size: 0.8em;
        margin-bottom: 5px;
        word-wrap: break-word;
        white-space: pre-wrap;
        word-break: break-word;
        .answer {
            display: inline-block;
            white-space: pre-wrap;
            word-break: break-word;
            width: 80%;
            color: #888888;
        }

        .question {
            margin: 0;
            font-weight: bold;
        }
    }
}

.ol-popup {
    padding-right: 10px;
}

.ol-popup-closer{
    top: 8px;
    &:after {
        content: unquote("\"")+unquote(str-insert('2715',"\\", 1))+unquote("\"");
        font-size: 0.6em;
    }
}

.ol-popup-content {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12pt;
    overflow: initial;
}

.layer-switcher {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em;
}
