.organization, .administrative{
  margin-bottom: 15px;
  padding: 10px;
  }
.signin{
  margin-bottom: 15px;
  padding: 10px;
  min-height:250px;

    ul li{

        label{
            font-size:14px;
            display:block;
            font-weight:bold;
            width:80px;
            float:left;
        }
    }
}
.right_hand_section {
  border: 1px solid #ececec;
  min-height:250px;
  padding:10px;
}

.left_hand_section {
    margin-top: 7px;
    margin-right: 25px;
    }

#container_content{
    .content {
         padding: 20px;
         min-height: 300px !important;
    }
    .section_description{
        font-style: italic;
        color: #A0A0A0;
        font-weight: normal;
    }
    .black_italic{
        font-style: italic;
        clear:left;
        margin-left: 170px;
    }
}


#registration_form{
    .black_italic{
        display: inline-block;
    }
    .black_italic.optional{
        display: block;
    }
    ul{
        li#mobile-phone-number-fr p{
            margin-top: -12px;
        }
    }
}

.signin_form{
        margin:50px 0 0px 70px;
}
.reset_form{
    margin:50px 0 50px 70px;
    label{
        width:90px;
    }
}
$text_box_width: 200px;
$select_box_width:150px;
$border_color: #CCCCCC;
$link_color:#0070ac;

form{
    fieldset{
        legend{
            font-size:20px;
        }
    }
    ul li{

        label{
            font-size:14px;
            display:block;
            font-weight:bold;
            width:170px;
            float:left;
        }
        input[type=text], input[type=password]{
            width:$text_box_width;
            height:20px;
            border-color:$border_color;
        }
    }
}
.about_datawinners{
    background: #feee96;
    margin-bottom: 30px;
    p{
    margin-top: 10px;
    }
}

.subscription_details {
    float: right;
    background: #feee96;
    min-height: 155px !important;
    p{
    margin-top: 10px;
    }
    li {
        list-style-type: disc;
        margin-left: 15px;
    }
}

.about_datawinners {
    min-height: 184px;
    p {
        margin-top: 10px;
    }
}

.subtitle_for_radio_button{
    display: block;
    font-size: 12px;
    width:  300px;
    border-color: #cccccc;
    text-align: left;
    margin-left: 3px;
    margin-top: -5px;
    margin-bottom: 10px;
    color: #666;
    font-style: italic;
}

.choices_description{
    line-height: 14px;
    margin-bottom: 10px;
}

.radio_title{
    font-size:14px;
    margin-bottom: 3px;
    width:300px;
}

.subscribe_now{
                display:inline-table;
                width:158px;
                height:46px;
                overflow:hidden;
                font-size:16px;
                font-weight:bold;
                line-height:46px;
                color:#6f451b !important;
                text-shadow:#FFF2B2 0 1px 1px;
                background:url('/media/images/dw_home_button1.png') no-repeat left top;
                margin-top:10px;
                margin-left:20px;
                text-align:center;
            }

form.registration_form{
    ul{
        li{
            label{
                width: 160px;
                margin-right: 10px;
                text-align: right;
            }
            ul{
                li{
                    label{
                        width: auto;
                        padding-top: 1px;
                        text-align: left;
                    }
                }
            }
        }
    }
    #id_organization_country{
        width: 206px;
        float: left;
    }
    ul.payment_details{
        width: 675px;
        > li:last-child{
            width:766px;
        }
    }
    ul.administrative{
        width: 756px;
        li.width_700{
            width: 700px;
        }
    }
}
.clear_both{
    clear:both;
}

#submit_registration_form{
    float: right;
    margin-right: 383px;
}

ul.organization li:last-child{
    width: 383px;
}

#password_reset_form,#activate_datasender_form_fr{
    > ul > li:last-child{
        padding-left: 280px;
    }
}

#activate_datasender_form_en > ul > li:last-child{
    padding-left: 273px;
}
#activate_datasender_form_en, #activate_datasender_form_fr{
    ul > li > label{
        text-align: right;
    }
}