.gray_text{
    color:#696969;
    font-size:20px;
    margin:10px;
}

.wizard_success_message{
    height:auto;
    background:url("/media/images/wizard_bg3.gif") repeat-x scroll left top transparent;
    border: 1px solid #ccbf97;
    margin-bottom:20px;
}

.w_content li{
    margin-left:50px;
}

.w_content div{
    margin-left:0;
}

.grid_23{
    margin-top:0px !important;
}

.grid_24{
    margin-bottom:0px !important;
}

#map{
    float:left;
    clear:both;
}
.left_half{
    float:left;
    clear:right;
    width:50%;
    height:30px;
    label{
        display:inline;
        font-size:16px;
    }
}

.right_half{
    float:right;
    width:50%;
    height: 30px;
}

.clear_both_width_100{
    margin:8px 0 10px 0;
    clear:both;
    width:100%;
    b{
        font-size:14px;
    }
}

.quarter{
    width:43%;
    float:left;
    clear:right;
    padding-left: 10px;
    padding-top: 5px;
}

#questionnaire_and_DS{
    background-color:#E1E1E1;
    border:1px solid #cfcfcf;
    width:100%;
    height:225px;
    margin-bottom: 30px;
    font-size:14px;
    h4{
       background-color:#525252;
       background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#3d3d3d));  //for webkit browsers
       background: -moz-linear-gradient(top,  #525252,  #262626);  //for firefox 3.6+
       color:#FFFFFF;
       padding:10px;
       font-size:14px;
       font-weight:normal;
    }
}

.text-content-right-arrow
{
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 16px solid white;
    float:left;
}

.text-content
{
    background: white;
    border-bottom: 1px solid #CCBF97;
    border-left: 1px solid #CCBF97;
    border-top: 1px solid #CCBF97;
    float:left;
    height: 25px;
    width: 130px;
    padding: 6px 0px 0px 11px;
}

.padding_0{
    padding:0px !important;
    height:auto !important;
}

#collect_data{
    margin:0px;
}

#collect_data_heading{
    background-color:#f5f5f5;
    border-right:1px solid #cfcfcf;
    padding-top:9px;
    height:35px;
    width:100%;
    label{
        font-size:16px;
        font-weight: bold;
    }
}

#collect_data_content{
    td{
        border:1px solid #cfcfcf;
        padding: 20px;
        margin:5px 0 5px 0;
    }
}

.my_sub{
  font-size:17px !important;
}
.automatic-sms-link{
  padding-top: 10px;
}