.max_char {
  display: inline;
  margin-top: 20px; }
  .max_char #max_length {
    width: 40px;
    float: none;
    margin-left: 20px; }

#range_min {
  margin-left: 4px !important; }

#range_max, #range_min {
  width: 60px;
  float: none;
  margin-bottom: 10px; }

.questions {
  margin-top: 15px;
  max-height: 399px;
  overflow-y: auto;
  overflow-x: hidden; }

#question-detail-panel .mobile {
  background: url("/media/images/mobile2.jpg") no-repeat left top;
  height: 300px;
  width: 200px;
  margin: 20px 30px 30px 0;
  overflow: hidden; }
  #question-detail-panel .mobile textarea {
    height: 91px !important;
    margin-left: 37px;
    margin-top: 98px;
    width: 127px !important;
    font-size: 12px;
    padding: 0 !important;
    border: 1px solid #cccccc !important;
    overflow: hidden; }

/*The content styles for wizard based pages*/
.wizard_content .content_wrapper .questionnaire_code label {
  font-weight: normal; }
.wizard_content .content_wrapper .questionnaire_code input {
  width: 90px;
  height: 25px;
  border-color: #CCCCCC; }
.wizard_content .content_wrapper .questionnaire_code h5 {
  margin-bottom: 10px; }
.wizard_content .content_wrapper .questionnaire_code li {
  padding: 5px 0 !important;
  margin: 0;
  margin-top: 20px; }
  .wizard_content .content_wrapper .questionnaire_code li #questionnaire-code-error {
    background: url(/media/images/arrow_error.png) no-repeat left 3px !important;
    float: none !important; }
  .wizard_content .content_wrapper .questionnaire_code li label {
    display: inline;
    width: 140px; }
.wizard_content .content_wrapper .questionnare_content {
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  min-height: 500px;
  margin-bottom: 20px;
  padding-right: 17px; }
  .wizard_content .content_wrapper .questionnare_content #question-detail-panel {
    padding-left: 20px;
    margin: 20px 0;
    width: 575px;
    float: left;
    min-height: 720px; }
    .wizard_content .content_wrapper .questionnare_content #question-detail-panel #question_title {
      font-size: 18px;
      font-weight: bold;
      height: 30px;
      width: 565px; }
    .wizard_content .content_wrapper .questionnare_content #question-detail-panel #code {
      width: 100px; }
    .wizard_content .content_wrapper .questionnare_content #question-detail-panel ul li label {
      font-size: 16px;
      float: none; }
    .wizard_content .content_wrapper .questionnare_content #question-detail-panel ul li label.error {
      font-size: 14px;
      font-weight: normal;
      width: auto;
      margin-left: 10px; }
    .wizard_content .content_wrapper .questionnare_content #question-detail-panel .question {
      width: auto;
      height: auto; }
    .wizard_content .content_wrapper .questionnare_content #question-detail-panel .add_link {
      display: block; }
    .wizard_content .content_wrapper .questionnare_content #question-detail-panel .question_type {
      padding-top: 14px;
      border-top: 1px solid #ccc; }
    .wizard_content .content_wrapper .questionnare_content #question-detail-panel .alpha_list input {
      float: none; }
    .wizard_content .content_wrapper .questionnare_content #question-detail-panel .alpha_list .error_arrow {
      float: none !important;
      background-position: 0px 3px !important; }
    .wizard_content .content_wrapper .questionnare_content #question-detail-panel .sms-preview {
      border-top: 1px solid #ccc;
      padding: 14px 0 5px 0; }
      .wizard_content .content_wrapper .questionnare_content #question-detail-panel .sms-preview label {
        font-size: 16px;
        float: none; }
      .wizard_content .content_wrapper .questionnare_content #question-detail-panel .sms-preview #char-count-span {
        paddin-top: 40px; }
        .wizard_content .content_wrapper .questionnare_content #question-detail-panel .sms-preview #char-count-span #char-count span {
          font-weight: bold; }

#questions-panel {
  background: #f2f2f2 url("/media/images/questions_bg.gif") repeat-y top right;
  padding: 20px 0 0 0px;
  min-height: 760px;
  margin-right: 0px !important; }
  #questions-panel h4 {
    width: 270px;
    text-align: center; }
  #questions-panel a {
    color: #0070ac; }
  #questions-panel .add_question {
    font-size: 14px;
    margin: 17px 0 0 15px;
    font-weight: normal; }
  #questions-panel .question_list {
    cursor: pointer; }
    #questions-panel .question_list ul li {
      margin-bottom: 10px; }
    #questions-panel .question_list ul > div {
      padding: 2px 50px 0 50px;
      border-bottom: 1px solid #B5B5B5;
      width: 200px;
      cursor: pointer; }
      #questions-panel .question_list ul > div a {
        color: #000000;
        font-size: 16px; }
    #questions-panel .question_list ol {
      margin: 0;
      padding: 0;
      list-style: decimal inside none !important;
      width: 300px; }
      #questions-panel .question_list ol li {
        margin: 0;
        padding: 10px 5px;
        border-bottom: 1px solid #B5B5B5;
        border-top: 1px solid #B5B5B5; }
        #questions-panel .question_list ol li.question_selected {
          background: #d8e4ec url("/media/images/question_hover_bg.gif") repeat-x bottom left;
          position: relative; }
        #questions-panel .question_list ol li:hover .delete {
          visibility: visible; }
        #questions-panel .question_list ol li span.selected_question_arrow {
          display: none;
          position: absolute;
          top: 32%;
          left: 269px;
          padding: 16px;
          background: url("/media/images/questions_hover_arrow.png") no-repeat top right; }
        #questions-panel .question_list ol li a {
          color: #000000 !important;
          font-size: 14px;
          text-decoration: none; }
    #questions-panel .question_list .delete {
      padding-left: 15px;
      visibility: hidden; }
      #questions-panel .question_list .delete:hover {
        visibility: visible; }
      #questions-panel .question_list .delete a {
        color: #0070AC !important;
        font-size: 12px;
        padding: 6px 0 8px 25px; }

#que_code li {
  list-style-type: decimal; }

#questionnaire-code {
  float: none; }

.questionnaire_code li {
  height: 31px;
  line-height: 31px; }
  .questionnaire_code li label {
    width: auto;
    float: none;
    font-weight: normal;
    display: inline; }
  .questionnaire_code li span {
    font-weight: bold; }

.save-button {
  float: right;
  margin-right: 50px; }

#container_content #questionnaire_preview_instruction {
  font-size: 13px;
  background: white;
  display: none;
  position: absolute;
  z-index: 1002;
  top: 63px;
  left: 0px;
  box-shadow: 3px 3px 5px gray, -3px 3px 5px gray;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f2f2f2));
  background: -moz-linear-gradient(top, white, #f2f2f2);
  border: 1px solid #CCBF97;
  padding-bottom: 20px; }
  #container_content #questionnaire_preview_instruction .close_preview {
    float: right;
    margin-right: 20px;
    text-decoration: none;
    margin-top: 10px;
    padding-left: 20px;
    background: url("/media/images/close_button.png") no-repeat 0; }
  #container_content #questionnaire_preview_instruction ul li {
    margin: 0;
    padding: 0; }
#container_content .questionnaire_form_header {
  border-bottom: 3px solid black;
  height: 58px;
  position: relative; }
  #container_content .questionnaire_form_header .questionnaire_code {
    float: left; }
    #container_content .questionnaire_form_header .questionnaire_code li {
      padding: 5px 0 !important;
      margin: 0;
      margin-top: 20px; }
      #container_content .questionnaire_form_header .questionnaire_code li #questionnaire-code-error {
        background: url(/media/images/arrow_error.png) no-repeat left 3px !important;
        float: none !important; }
      #container_content .questionnaire_form_header .questionnaire_code li label {
        display: inline;
        width: 140px; }
  #container_content .questionnaire_form_header .preview-navigation {
    position: relative;
    float: right;
    margin-top: 26px; }
    #container_content .questionnaire_form_header .preview-navigation span {
      float: left;
      margin-right: 6px;
      padding: 4px 0; }
    #container_content .questionnaire_form_header .preview-navigation div {
      float: left;
      margin-right: 3px;
      border: 1px solid white; }
    #container_content .questionnaire_form_header .preview-navigation div:hover {
      cursor: pointer; }
    #container_content .questionnaire_form_header .preview-navigation a {
      text-decoration: none; }
    #container_content .questionnaire_form_header .preview-navigation .navigation-sms-preview {
      background: url("/media/images/feature_phone_black.png") no-repeat 4px 4px;
      padding: 4px 4px 0 20px; }
    #container_content .questionnaire_form_header .preview-navigation .navigation-smart-phone-preview {
      background: url("/media/images/smart_phone_black.png") no-repeat 4px 4px;
      padding: 4px 4px 0 20px; }
    #container_content .questionnaire_form_header .preview-navigation .navigation-web-preview {
      background: url("/media/images/computer_black.png") no-repeat 4px 4px;
      padding: 4px 4px 0 30px; }
    #container_content .questionnaire_form_header .preview-navigation .shadow-background {
      position: relative;
      z-index: 1003;
      background-color: white;
      border: 1px solid #CCC;
      box-shadow: 3px 0 5px -3px #cccccc;
      border-bottom: none;
      height: 33px; }
      #container_content .questionnaire_form_header .preview-navigation .shadow-background a {
        color: black; }
      #container_content .questionnaire_form_header .preview-navigation .shadow-background a:hover {
        cursor: auto; }
    #container_content .questionnaire_form_header .preview-navigation .shadow-background:hover {
      cursor: auto; }

.blue_frame {
  border: 1px solid blue !important; }

#green_message {
  display: none; }

#question-detail-panel #options_list.alpha_list {
  margin-left: 10px; }
  #question-detail-panel #options_list.alpha_list li {
    list-style-type: none !important; }
    #question-detail-panel #options_list.alpha_list li span.bullet {
      text-transform: uppercase;
      display: inline-block;
      margin-right: 3px;
      width: 25px; }

.ui-sortable-helper {
  cursor: move; }

.move-down {
  padding-right: 16px;
  float: right; }

.visible {
  visibility: visible !important; }
