.location_section li {
  float: none;
  margin-bottom: 10px; }
.location_section label {
  display: block;
  float: none;
  font-size: 14px;
  font-weight: bold; }

.button_block input {
  float: none;
  margin-top: 10px; }
.button_block a {
  margin-top: 20px; }

#message {
  clear: both; }

.horizontal_list ul {
  list-style: none; }
.horizontal_list ul li {
  display: inline-block;
  padding-right: 5px; }
.horizontal_list ul li input {
  margin-top: 9px; }
.horizontal_list li.device_label > label {
  display: block;
  float: left;
  font-size: 14px;
  font-weight: bold;
  width: 170px; }
.horizontal_list li.device_label ul li:last-child {
  padding-right: 50px; }

div.form_header {
  margin-bottom: 5px; }
  div.form_header li label {
    width: auto;
    padding-top: 10px; }
  div.form_header li:last-child {
    float: right; }

li.instruction_text {
  margin-top: -15px;
  width: 350px; }

#registration_form fieldset > ul {
  width: 918px; }
  #registration_form fieldset > ul > li:last-child {
    text-align: right;
    margin-right: 377px;
    width: 534px; }
  #registration_form fieldset > ul li .find_gps_en {
    padding-left: 101px; }
  #registration_form fieldset > ul li .find_gps_fr {
    padding-left: 54px; }

#cancel {
  padding-right: 12px; }
