.support-acc{
    .ui-accordion-header{
        font-family:Helvetica,Arial,sans-serif;
        font-size:13px;
        font-weight:normal;
        margin:0;
        padding: 0 0 0 20px;
        a{
            padding:5px 0 0 22px;
            &:hover{
                text-decoration:none !important;
            }
        }
    }
    .ui-accordion-content{
        padding-left: 25px !important;
    }
    .ui-state-default, .ui-state-active, .ui-widget-content{
        background:none;
        border:none;
    }
    .ui-widget-content{
        font-family:Helvetica,Arial,sans-serif;
        font-size:13px;
        padding:0;
    }
    .ui-icon{
        background:url('/media/images/dw_acc_arrow.png') no-repeat left top;
    }
    .ui-state-active{
        .ui-icon{
            background:url('/media/images/dw_acc_arrow.png') no-repeat left -20px;
        }
    }
    td{
        border: 1px solid #DDD;
        padding: 0 10px;
    }
}

.block_support{
    border-top:  1px solid #CCC;
    border-bottom:  1px solid #CCC;
    padding:  10px 0;
    width: 345px!important;
    display: inline;
    float: left;
    margin-right: 10px;
    height: 98px;
    h3{
        font-size: 14px;
        margin-top: 10px !important;
    }
    .grid_5{
        position: relative;
    }
    .grid_4{
        width: 135px;
        img{
            margin-left: 22px;

        }
    }
}
.block_support_hover{
    -moz-box-shadow: 0 0 3px 3px #DDD;
    -webkit-box-shadow: 0 0 3px 3px#DDD;
    box-shadow: 0 0 3px 3px #DDD;
    cursor: pointer;
}

#popbox {
    font-family: fontHelvetica,Arial,sans-serif;
    #budget_logo_container{
        height: 30px;
        margin-top: 20px;
    }
    .padding_top_10 td{
        padding-top:10px;
    }
    .padding_top_20 td{
        padding-top:20px;
    }
    .margin_top_10 td{
        margin-top:10px;
    }
    .margin_top_20 td{
        margin-top:20px;
    }
    #budget_table {
        .border_bottom{
            border-bottom:  2px solid black;
        }
        .border_top{
            border-top:  2px solid #CCCCCC;
        }
    }
    .margin_top_50{
        width: 793px;
        span.float_right{
            font-size: 12px;
        }
    }
    img{
        margin-left: 10px;
    }
}
h2#pricing_h2{
    margin-top: 13px !important;
}

.quick_start_left p{
    width: 480px !important;
}

#about-us-container{
    div.block_support{
        height: 126px;
        .grid_4 {
            margin-top: 24px;
            img{
                margin-left: 0;
            }
            &.img_en{
                margin-top: 18px;
            }
        }
    }
}