#filter_section .datepicker {
  background: url("/media/images/arrow_dd.png") no-repeat scroll right 0px transparent;
  font-family: 'Helvetica', Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-size: 11px !important;
  height: 22px !important; }
#filter_section .datepicker.disabled {
  background-image: url("/media/images/arrow_dd_transparent.png") !important; }
#filter_section input[type="text"] {
  height: 22px; }
#filter_section #keyword {
  font-family: 'Helvetica', Arial, 'Liberation Sans', FreeSans, sans-serif;
  height: 22px !important; }
#filter_section .ui-dropdownchecklist-selector-wrapper {
  background: url("/media/images/arrow.png") no-repeat scroll right 4px transparent;
  font-family: 'Helvetica', Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-size: 11px !important; }
  #filter_section .ui-dropdownchecklist-selector-wrapper span span {
    width: 133px !important; }
#filter_section .ui-dropdownchecklist-selector-wrapper[disabled] {
  background: url("/media/images/arrow_with_bg.png") no-repeat scroll right 2px transparent !important; }
#filter_section .ui-dropdownchecklist-text {
  font-size: 11px !important; }
#filter_section .ui-dropdownchecklist-dropcontainer-wrapper > div {
  background: url("/media/javascript/dateRangePicker/css/ui-lightness/images/ui-bg_glass_100_f6f6f6_1x400.png") repeat-x; }
#filter_section .btnDone {
  background: #cce3ee;
  /* for non-css3 browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#dfedf4), to(#cce3ee));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #dfedf4, #cce3ee);
  /* for firefox 3.6+ */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #5087b4 !important;
  margin: 4px auto; }
#filter_section .margin_top0 .button_blue, #filter_section .margin_top0 .button_disabled {
  margin-top: 0px; }
  #filter_section .margin_top0 .button_blue:hover, #filter_section .margin_top0 .button_disabled:hover {
    -webkit-box-shadow: 0px 0px 2px 2px rgba(33, 33, 33, 0.3);
    box-shadow: 0px 0px 2px 2px rgba(33, 33, 33, 0.3);
    opacity: 1; }
  #filter_section .margin_top0 .button_blue:active, #filter_section .margin_top0 .button_disabled:active {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(33, 33, 33, 0.3);
    box-shadow: 0px 0px 0px 0px rgba(33, 33, 33, 0.3);
    opacity: 0.9; }
#filter_section .ui-dropdownchecklist-close {
  font-size: 11px;
  font-family: 'Helvetica', Arial, 'Liberation Sans', FreeSans, sans-serif; }
#filter_section div#keyword_input_container {
  width: 270px;
  height: 53px; }
#filter_section div#go_button_container {
  width: 100px; }

@-moz-document url-prefix() {
  #filter_section .ui-dropdownchecklist-dropcontainer-wrapper {
    margin-top: -5px; } }

.heading_block {
  display: block;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 5px;
  margin-top: 15px; }
  .heading_block .ui-dropdownchecklist label {
    float: none;
    display: inline-block; }
  .heading_block .ui-dropdownchecklist .ui-dropdownchecklist-dropcontainer .ui-state-default, .heading_block .ui-dropdownchecklist .ui-widget-content .ui-state-default, .heading_block .ui-dropdownchecklist .ui-widget-header .ui-state-default {
    border: none;
    background: none; }
  .heading_block #filter_section {
    width: 80%; }
    .heading_block #filter_section > div {
      width: 175px;
      float: left;
      padding-top: 5px; }
      .heading_block #filter_section > div input[type='text'], .heading_block #filter_section > div select {
        width: 173px; }
      .heading_block #filter_section > div > div {
        width: 100%; }
    .heading_block #filter_section #questionnaire_field_filters {
      clear: both;
      width: 80%; }
      .heading_block #filter_section #questionnaire_field_filters > div.filter-question {
        width: 175px;
        float: left;
        padding-bottom: 10px; }
        .heading_block #filter_section #questionnaire_field_filters > div.filter-question input[type='text'], .heading_block #filter_section #questionnaire_field_filters > div.filter-question select {
          width: 173px; }
    .heading_block #filter_section #search_box input[type='text'] {
      width: 270px; }
  .heading_block .date_range_box {
    float: left; }
    .heading_block .date_range_box label, .heading_block .date_range_box select {
      font-weight: normal;
      float: left; }
    .heading_block .date_range_box input {
      float: left; }
  .heading_block .filter_label label {
    margin-bottom: 5px;
    font-weight: bold;
    margin-right: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 175px; }
  .heading_block #dateRangePicker {
    padding: 0px 0px 0px 5px;
    margin-left: 0px; }
  .heading_block label {
    float: left;
    margin-right: 10px;
    font-weight: normal; }

.ui-daterangepickercontain .ui-daterangepicker {
  font-size: 12px; }
  .ui-daterangepickercontain .ui-daterangepicker .ui-state-active, .ui-daterangepickercontain .ui-daterangepicker .ui-widget-content .ui-state-active, .ui-daterangepickercontain .ui-daterangepicker .ui-widget-header .ui-state-active, .ui-daterangepickercontain .ui-daterangepicker .ui-state-hover {
    border: 1px solid #666666;
    background: #ccc; }
  .ui-daterangepickercontain .ui-daterangepicker .ui-state-active a, .ui-daterangepickercontain .ui-daterangepicker .ui-state-active a:link, .ui-daterangepickercontain .ui-daterangepicker .ui-state-active a:visited, .ui-daterangepickercontain .ui-daterangepicker .ui-state-hover a {
    color: #000000; }
  .ui-daterangepickercontain .ui-daterangepicker .ui-widget-header {
    background-color: #525252;
    background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#3d3d3d));
    background: -moz-linear-gradient(top, #525252, #262626);
    border: 1px solid #666666; }

.filter-question {
  margin-right: 30px; }

.filter-input {
  height: 22px;
  margin: 0 10 0 5;
  border-color: #CCC;
  padding-left: 5px; }

#data-sender-filter {
  width: 176px !important; }
  #data-sender-filter input {
    width: 100% !important; }

#show_filters, #hide_filters {
  padding-top: 38px !important; }
