#broadcast-form{
    padding-top: 15px;
    padding-left: 10px;
}

#broadcast_sms_form{
    > ul > li{
        width: 664px;
        #sms_content{
            margin: 0;
            padding: 0;
        }
        &#message-submit{
            text-align: right;
        }
        &:first-child{
            width: 760px;
            margin-bottom: 0px;
        }
        &:nth-child(3){
            margin-bottom: 26px;
        }
        textarea{
            width: 521px;
        }
        > label{
            width: 130px;
        }
        .small_grey{
            font-style: italic;
            font-weight: normal;
        }
    }
}

#message_count{
    text-align: right;
    margin-bottom:10px;
}

#id_to{
    width: 355px;
}


#additional_people_column{
  width: 920px !important;
  .highlightTextarea{
    width: 780px !important;
    div.error_arrow {
      left: 428px;
      top: 4px;
      position: absolute;
    }
    .highlighterContainer .highlighter{
      color: #FFFFFF;
      .highlight{
          color: #FCA0A0 !important;
      }
    }
  }
  .black_italic{
    font-style: italic;
    margin-left: 140px;
    width: 429px;
    color: #8A8A8A;
  }
}

#input_to{
    display: inline-block;
    background: url('/media/images/arrow.png') no-repeat scroll 498px 4px transparent;
    > span{
        display: inline-block;
        border: 2px inset rgb(204, 204, 204);
        /*width: 351px;*/
        width: 520px;
        > span{
            display: inline-block;
            padding: 5px 0px 0px 5px;
        }
    }
}

#to_list ul{
    width: 522px;
    border-radius: 0 0 6px 6px;
    max-width: 550px;
    li {
        width: 522px;
        a:hover{
            text-decoration: none !important;
            span{
                color: #FFFFFF!important;
            }
        }
    }
}
