#container_content .wizard_content .content_wrapper {
  width: 900px; }

#profile_form {
  margin-left: 30px; }

fieldset {
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 750px;
  padding: 20px;
  margin-bottom: 20px; }
  fieldset legend {
    color: #C35C00;
    font-weight: bold; }

#add_subject_type {
  margin-left: 170px; }
  #add_subject_type input[type=text] {
    width: 200px; }
  #add_subject_type .message-box {
    float: left;
    font-size: 12px; }

#id_entity_type {
  min-width: 130px; }
