#header .logo {
  text-align: left;
  color: #FFFFFF;
  font-size: 24px; }
  #header .logo .logo_data {
    font-weight: bold; }
  #header .logo .logo_winners {
    font-weight: normal; }
  #header .logo a {
    color: #FFFFFF;
    text-decoration: none; }
    #header .logo a :hover {
      text-decoration: underline; }
#header a.active {
  color: #0070AC !important;
  font-weight: bold; }

#container_header_application #container_header_wizard {
  background: none;
  height: 30px; }
  #container_header_application #container_header_wizard #header .login {
    margin-top: 5px;
    color: #CCCCCC;
    font-size: 12px; }
    #container_header_application #container_header_wizard #header .login span {
      display: inline;
      padding: 1px 15px 0px;
      margin-top: 4px;
      border-right: 1px solid #474747; }
      #container_header_application #container_header_wizard #header .login span a {
        color: #C1C1C1; }
    #container_header_application #container_header_wizard #header .login .help {
      color: #C1C1C1; }
    #container_header_application #container_header_wizard #header .login .welcome {
      font-weight: bold; }
#container_header_application #main_tab {
  text-align: right;
  float: left;
  width: 100%; }
  #container_header_application #main_tab .logo {
    padding-top: 10px;
    margin-right: 6px; }
    #container_header_application #main_tab .logo img {
      float: left; }
  #container_header_application #main_tab ul {
    float: right;
    position: relative;
    display: inline; }
    #container_header_application #main_tab ul li {
      padding: 10px 10px 10px 10px;
      float: left; }
      #container_header_application #main_tab ul li label {
        font-size: 14px;
        color: #feea89;
        font-weight: bold; }
      #container_header_application #main_tab ul li a {
        font-size: 14px;
        color: #feea89;
        font-weight: bold; }
      #container_header_application #main_tab ul li.active a {
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        border: 1px solid #000000;
        color: #FFFFFF;
        padding: 5px 18px 5px;
        background: #3d3d3d;
        /* for non-css3 browsers */
        background: -webkit-gradient(linear, left top, left bottom, from(#1c1c1c), to(#3d3d3d));
        /* for webkit browsers */
        background: -moz-linear-gradient(top, #1c1c1c, #3d3d3d);
        /* for firefox 3.6+ */ }
    #container_header_application #main_tab ul li.last {
      padding-right: 0; }
