.import_link {
  color: #0070AC !important;
}

#delete_entity_block {
  a {
    float: right !important;
    .cancel_link {
      padding-left: 5px !important;
      padding-top: 7px !important;
    }
  }
}

.data-sender-table-wrapper {
  overflow-x: scroll;
}

.devices {
  position: relative;
  .device-icons {
    position: absolute;
    bottom: 5px;
    > div {
      float: left;
    }
    .web-icon {
      margin: 0 4px 0 10px;
    }
    .smartphone-icon {
      margin: 0 -4px 0 5px;
    }
  }
}

.device-icon {
  padding-top: 10px;
  width: 15px;
}

div.tooltip {
  background: url(/media/images/help_arrow_right.png) no-repeat 340px bottom;
  padding-left: 0 !important;
  padding-right: 10px;
}