@font-face {
  font-family: 'ChalkDustRegular';
  src: url('/media/css/font/chalkdust-webfont.eot');
  src: url('/media/css/font/chalkdust-webfont.eot?#iefix') format('embedded-opentype'),
  url('/media/css/font/chalkdust-webfont.woff') format('woff'),
  url('/media/css/font/chalkdust-webfont.ttf') format('truetype'),
  url('/media/css/font/chalkdust-webfont.svg#ChalkDustRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.preview_block {
  text-align: right;
}

.questionnaire_preview1{
  border: solid 1px #ccc;
}

#sms_preview, #questionnaire_preview {
  margin: auto;
  .answer{
    .multiple_select {
      li {
        list-style-type: none !important;
        span.bullet{
          display: inline-table;
          width: 30px;
          text-transform: lowercase;
        }
      }
    }
  }
  .questionnaire_preview {
    > li {
      margin-bottom: 15px;
      width: 100%;
      float: left;
    }
    .answer {
      margin-bottom: 5px;
      .multiple_select {
        margin-left: 10px;
      }
    }
    label {
      font-weight: normal;
    }
    input[type=radio], input[type=checkbox] {
      float: left !important;
    }
    div {
      width: 100%;
      float: left;
    }
  }
  .inactive_link {
    pointer-events: none;
  }
}

#questionnaire_content {
  #questionnaire_preview {
    margin-right: 10px;
    color: #222;
    padding-top: 20px;
    .sms-questionnaire {
      margin: 0 10px 10px 10px;
      padding: 20px;
      border: 1px solid #CCC;
      background-color: white;
    }
    .preview-instruction {
      margin-left: 10px;
      > div {
        padding-bottom: 15px;
      }
    }
    .preview-header {
      margin: 0 10px;
      .printBtn {
        float: right;
        text-decoration: none;
      }
    }
    .web-questionnaire {
      margin: 10px 10px;
      padding: 20px;
      border: 1px solid #CCC;
      background-color: white;
      .web-preview-action-section{
        float: right;
        .action-section {
          float: right;
          padding-right: 300px;
        }
        .disable-button {
          border: 1px solid #D5B071 !important;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          background: #F8EDB8;
          background: -webkit-gradient(linear, left top, left bottom, from(#F8EDB8), to(#FDE8A0));
          background: -moz-linear-gradient(top, #F8EDB8, #FDE8A0);
          color: #C29870 !important;
          font-family: "Arial";
          font-weight: bold;
          padding: 6px 23px 5px 22px;
          cursor: pointer;
          cursor: hand;
        }
        .can-not-submit {
          margin-top: 5px;
          margin-left: 30px;
          float: right;
          padding-right: 300px;
        }
      }
    }
  }
}

#print_page {
  a {
    color: #0070ac;
    outline: none;
  }
}

.printBtn {
  float: right;
}

.questionnaire_title {
  margin-bottom: 20px;
  float: left;
  li {
    width: 100%;
    float: left;
    p {
      font-size: 15px;
    }
    p, h5 {
      float: left;
      line-height: 31px;
    }
    p, h5 {
      margin: -5px 0 0 10px;
    }
    p.content {
      margin-left: 10px;
    }

  }
}

p.instructions {
  font-style: italic;
  font-size: 12px;
}

.sms-questionnaire.questionnaire-preview {
  .instructions-container {
    margin-right: 250px;
  }
  .instructions {
    background-color: white;
  }
  .dash {
    width: 100%;
    border-bottom: 2px dotted #666;
    margin-top: -7px;
  }
  .displayText {
    height: 30px;
    float: right;
    width: 250px;
    margin-top: -32px;
    border: 1px solid #ccc;
    background-color: white;
  }
  .olpreview > li {
    padding: 10px 0;
  }
  .sms-answer {
    width: 100%;
    height: 60px;
    border: 1px solid #ccc;
    margin: 5px 0;
  }

  .preview-steps {
    .breakable {
      page-break-inside: auto;
      ol li {
        page-break-inside: avoid;
      }
    }
    > li {
      font-weight: bold;
      list-style: upper-alpha;
      page-break-inside: avoid;
      div {
        font-weight: normal;
        .sms-answer {
          color: blue;
          font-family: "ChalkDustRegular", "Lucida Grande", sans-serif;
          font-weight: bold;
          font-style: italic;
        }
      }
    }
  }

  .fill-answers {
    display: block;
    float: right;
    width: 250px;
    margin-top: -10px;
  }

  .org-number{
    position: relative;
  }

  .org_number_link {
    margin-top: 2px;
    font-size: 12px !important;
    position: absolute;
  }
}

.olpreview {
  padding-left: 20px;
  padding-right: 5px;
  li {
    float: none !important;
    vertical-align: top;
    h6 {
      padding: 0;
      margin: 0;
    }
    .answer {
      margin-bottom: 5px;
      float: none;
      clear: left !important;
      ol {
        margin-left: 20px;
        list-style: lower-alpha;
      }
    }
  }
}


.content {
  &.grid_23 {
    border: 1px solid #CCC !important;
    margin-top: 0;
  }
}

.questionnare_content {
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  min-height: 500px;
  margin-bottom: 20px;
  #question-detail-panel {
    padding-left: 20px;
    margin: 20px 0;
    width: 575px;
    float: left;
    min-height: 720px;
    #question_title {
      font-size: 18px;
      font-weight: bold;
      height: 30px;
      width: 565px;
    }
    #code {
      width: 100px;
    }
    ul li {
      margin: 20px 0;
      label {
        font-size: 16px;
        float: none;
      }
      label.error {
        font-size: 14px;
        font-weight: normal;
        width: auto;
        margin-left: 10px;
      }
    }
    .question {
      width: auto;
    }
    .add_link {
      display: block;
    }
    .question_type {
      padding-top: 14px;
      border-top: 1px solid #ccc;
      width: 505px;
    }
    .alpha_list {
      margin-left: 30px;
      input {
        float: none;
      }
      .error_arrow {
        float: none !important;
        background-position: 0px 3px !important;
      }
    }
    .sms-preview {
      border-top: 1px solid #ccc;
      padding: 14px 0 5px 0;
      label {
        font-size: 16px;
        float: none;
      }
      #char-count-span {
        paddin-top: 40px;
        #char-count span {
          font-weight: bold;
        }
      }
    }
  }
}
#periode_green_message {
  color: #066B06;
  text-decoration: none;
  font-size: 12px;
  display: none;}

div.sms_tester_form {
  div.warning-message-box{
    p{
      background: url("/media/images/icons.png") no-repeat scroll left -70px rgba(0, 0, 0, 0)
    }
    a{
      color: #0070ac;
      &.padding_top_10{
        font-size: 13px!important;
      }
      &.button{
        font-size:15px!important;
      }
    }
    .float_left{
      float:left!important;
    }
  }
  div.clear_and_submit{
    width: 244px;
    #send_sms{
      width: 172px;
    }
    .can-not-submit-link-quest{
      text-align: right;
      float: right;
      clear: both;
      width: auto;
      max-width: 170px;
    }
  }
}

.ui-widget div.sms_tester_form div.warning-message-box{
  font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;
}

.download_xls {
  font-size: 17px;
  font-style: italic;
  padding-bottom: 50px;
  padding-top: 10px;
}