.reset_password li {
  width: 304px; }
.reset_password .reset_button_div {
  width: 100%; }
  .reset_password .reset_button_div input {
    float: right; }
.reset_password .links_div {
  width: 100%; }
  .reset_password .links_div span {
    float: right;
    margin-top: 10px; }
.reset_password .errorlist li {
  width: 125px; }
