#header {
  text-align: left;
  color: #c0ecb1;
  font-size: 12px; }
  #header div {
    padding: 12px 0 3px 0; }
  #header a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 4px 0 6px;
    line-height: 11px;
    border-left: 1px solid #ffffff; }
    #header a:hover {
      text-decoration: underline; }
  #header .first {
    border-left: none; }
  #header .login {
    background: #427633; }

#main_tab ul {
  float: right;
  position: relative;
  display: inline;
  background: url("/media/images/dw_header_pipe.gif") no-repeat left top; }
  #main_tab ul li {
    float: left;
    height: 34px;
    background: url("/media/images/dw_header_pipe.gif") no-repeat right top; }
    #main_tab ul li a {
      font-size: 14px;
      color: #ffffff;
      font-weight: bold;
      display: block;
      height: 34px;
      line-height: 34px;
      padding: 0 20px;
      margin: 0 2px; }
      #main_tab ul li a:hover {
        color: #000000;
        background: url("/media/images/dw_pattern_bg.gif") repeat-x left top; }
    #main_tab ul li.active a {
      color: #000000;
      background: url("/media/images/dw_pattern_bg.gif") repeat-x left top; }
