.padding_right_null {
  padding-right: 0 !important; }

.padding_left_null {
  padding-left: 0; }

.padding_top_null {
  padding-top: 0 !important; }

.padding_bottom_null {
  padding-bottom: 0 !important; }

.padding_20 {
  padding: 20px; }

.padding_left_right_10 {
  padding: 0 10px; }

.padding_bottom_10 {
  padding-bottom: 10px; }

.padding_top_20 {
  padding-top: 20px; }

/* Margin Null */
.margin_right_null {
  margin-right: 0; }

.margin_left_null {
  margin-left: 0; }

.margin_top_null {
  margin-top: 0 !important; }

.margin_bottom_null {
  margin-bottom: 0; }

.margin_null {
  margin: 0; }

.margin_20 {
  margin: 20px; }

.margin_15 {
  margin: 15px; }

.margin_top_20 {
  margin-top: 20px; }

.margin_top_15 {
  margin-top: 15px; }

.margin_bottom_20 {
  margin-bottom: 20px; }

.margin_bottom_10 {
  margin-bottom: 10px; }

.margin_bottom_5 {
  margin-bottom: 5px; }

.margin_top_10 {
  margin-top: 10px; }

.margin_top_5 {
  margin-top: 5px; }

.margin_left_10 {
  margin-left: 10px; }

.margin_left_20 {
  margin-left: 20px; }

.margin_left_180 {
  margin-left: 180px !important; }

.margin_right_20 {
  margin-right: 20px; }

/* Float styling */
.float_left {
  float: left; }

.float_right {
  float: right !important; }

/* Border Styles */
.null_border {
  border: 0px !important; }

/*Text alignments*/
.text_align_right {
  text-align: right; }

.text_align_center {
  text-align: center; }

/* Text Styles */
.bold, .small_grey {
  font-weight: bold; }

.italic {
  font-style: italic;
  color: #666666; }

.italic_grey {
  font-style: italic;
  color: #696969; }

/*Error and Success*/
.error_message {
  color: #FF0000 !important;
  padding: 5px; }

.success_message {
  color: green;
  padding: 5px; }

.error {
  font-style: italic;
  color: #000000; }

.success {
  color: green; }

input.error {
  border: 1px solid #FF0000 !important;
  color: #000000; }

input[disabled='disabled'][type=text] {
  background-color: #ebebeb; }

/*Table Styles Temp*/
table {
  margin-bottom: 10px;
  width: 100%; }
  table td, table th {
    border: 1px solid #ccc;
    padding: 6px; }
  table th {
    color: #000;
    font-weight: bold;
    padding: 10px; }

table.no_border td, table.no_border th {
  border: none; }

/* Inline and block */
.inline {
  display: inline !important; }

.inline_block {
  display: inline-block; }

.none {
  display: none !important; }

/* List styles */
.alpha_list li {
  list-style-type: upper-alpha !important;
  overflow: visible; }

/* Links with BG images */
.add_link {
  padding: 3px 0 20px 30px;
  background: url(/media/images/icons.png) no-repeat top left; }

.delete_link {
  padding: 5px 0 10px 25px;
  background: url(/media/images/icons.png) no-repeat left -167px; }

.cancel {
  float: right;
  margin: 10px 20px 0 0;
  background: url(/media/images/icons.png) no-repeat left -170px;
  padding-left: 25px; }

.cancel_link {
  color: #0070ac !important;
  margin-right: 10px;
  margin-top: 6px; }

/* Titles */
.highlighted_title {
  color: #C35C00; }

/* Help Icon */
.help_icon {
  margin-left: 5px; }

/* Active and test states */
.Active_state, .Test_state, .Inactive_state {
  padding: 3px 7px 3px 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  color: #FFFFFF; }

.Active_state {
  background-color: #108600; }

.Test_state {
  background-color: #ab190d; }

.Inactive_state {
  background-color: #0477c8; }

/* Ajax Loaders */
.ajax_loader_small {
  background: url(/media/images/ajax-loader-small.gif) no-repeat left top;
  padding: 10px 20px 20px 10px;
  margin-left: 10px; }

#add_subject_type .ajax_loader_small {
  margin-left: 100px;
  float: left; }

/* Tooltip */
div.tooltip, .questionnaire_save_tooltip {
  display: none;
  background: url(/media/images/help_arrow.png) no-repeat 4px bottom;
  padding-left: 10px !important;
  padding-bottom: 7px !important;
  margin: 0 !important;
  border: none !important;
  z-index: 9000; }
  div.tooltip p, .questionnaire_save_tooltip p {
    background: #000 !important;
    font-size: 12px !important;
    font-weight: normal !important;
    font-style: normal !important;
    text-align: left !important;
    height: auto;
    width: 320px;
    padding: 15px !important;
    margin: 0 !important;
    color: #fff !important;
    border: 2px solid #FFD857 !important;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }

div.tooltip.bottom, .bottom.questionnaire_save_tooltip {
  background: url(/media/images/help_arrow_bottom.png) no-repeat 4px top;
  padding-top: 8px !important; }

div.tooltip.left, .left.questionnaire_save_tooltip {
  background: url(/media/images/help_arrow_left.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-right: 8px !important;
  padding-bottom: 8px !important; }

div.tooltip.bottom.left, .bottom.left.questionnaire_save_tooltip {
  background: url(/media/images/help_arrow_bottom_left.png) no-repeat;
  background-position: top right;
  padding-bottom: 0px !important;
  padding-top: 9px !important;
  padding-right: 8px !important; }

span.tooltip {
  background: url(/media/images/help_arrow.png) no-repeat left bottom;
  height: 20px; }

.help_arrow {
  background: url(/media/images/help_arrow.png) no-repeat left bottom; }

.disable_link {
  color: #CCCCCC;
  pointer-events: none;
  cursor: default; }
  .disable_link:hover {
    text-decoration: none;
    color: #CCCCCC;
    cursor: text; }

.disable_link_for_reporter {
  color: #000000;
  pointer-events: none;
  cursor: default; }
  .disable_link_for_reporter:hover {
    text-decoration: none;
    color: #CCCCCC;
    cursor: text; }

.title_links {
  margin-left: 20px;
  font-size: 12px;
  font-weight: normal;
  position: relative;
  top: -3px; }
  .title_links a {
    margin: 0 5px 0 5px; }
  .title_links .pipe {
    color: #666666; }

.mobile_block p {
  font-size: 12px; }
.mobile_block .mobile {
  background: url("/media/images/mobile2.jpg") no-repeat left top;
  height: 360px;
  width: 200px;
  margin-left: -16px; }
  .mobile_block .mobile textarea {
    height: 88px !important;
    margin-left: 36px;
    margin-top: 98px;
    width: 124px !important;
    font-size: 14px; }

#cancel_project_block, #activate_project_block, #questionnaire_code_change,
#subject_warning_message, #delete_project_block, #all_project_block, #new_reminder,
#web_user_block, #user_should_agree_terms_block, #delete_question, #edit_question,
#delete_entity_block, #delete_ds_block,
#delete_all_ds_are_users_warning_dialog,
#option_warning_message {
  padding: 20px;
  display: none; }
  #cancel_project_block .warning_message, #activate_project_block .warning_message, #questionnaire_code_change .warning_message,
  #subject_warning_message .warning_message, #delete_project_block .warning_message, #all_project_block .warning_message, #new_reminder .warning_message,
  #web_user_block .warning_message, #user_should_agree_terms_block .warning_message, #delete_question .warning_message, #edit_question .warning_message,
  #delete_entity_block .warning_message, #delete_ds_block .warning_message,
  #delete_all_ds_are_users_warning_dialog .warning_message,
  #option_warning_message .warning_message {
    margin-bottom: 30px; }
    #cancel_project_block .warning_message .learn_more_link, #activate_project_block .warning_message .learn_more_link, #questionnaire_code_change .warning_message .learn_more_link,
    #subject_warning_message .warning_message .learn_more_link, #delete_project_block .warning_message .learn_more_link, #all_project_block .warning_message .learn_more_link, #new_reminder .warning_message .learn_more_link,
    #web_user_block .warning_message .learn_more_link, #user_should_agree_terms_block .warning_message .learn_more_link, #delete_question .warning_message .learn_more_link, #edit_question .warning_message .learn_more_link,
    #delete_entity_block .warning_message .learn_more_link, #delete_ds_block .warning_message .learn_more_link,
    #delete_all_ds_are_users_warning_dialog .warning_message .learn_more_link,
    #option_warning_message .warning_message .learn_more_link {
      color: #0070ac; }
  #cancel_project_block #confirm_delete, #cancel_project_block #confirm, #cancel_project_block #ok_button, #activate_project_block #confirm_delete, #activate_project_block #confirm, #activate_project_block #ok_button, #questionnaire_code_change #confirm_delete, #questionnaire_code_change #confirm, #questionnaire_code_change #ok_button,
  #subject_warning_message #confirm_delete,
  #subject_warning_message #confirm,
  #subject_warning_message #ok_button, #delete_project_block #confirm_delete, #delete_project_block #confirm, #delete_project_block #ok_button, #all_project_block #confirm_delete, #all_project_block #confirm, #all_project_block #ok_button, #new_reminder #confirm_delete, #new_reminder #confirm, #new_reminder #ok_button,
  #web_user_block #confirm_delete,
  #web_user_block #confirm,
  #web_user_block #ok_button, #user_should_agree_terms_block #confirm_delete, #user_should_agree_terms_block #confirm, #user_should_agree_terms_block #ok_button, #delete_question #confirm_delete, #delete_question #confirm, #delete_question #ok_button, #edit_question #confirm_delete, #edit_question #confirm, #edit_question #ok_button,
  #delete_entity_block #confirm_delete,
  #delete_entity_block #confirm,
  #delete_entity_block #ok_button, #delete_ds_block #confirm_delete, #delete_ds_block #confirm, #delete_ds_block #ok_button,
  #delete_all_ds_are_users_warning_dialog #confirm_delete,
  #delete_all_ds_are_users_warning_dialog #confirm,
  #delete_all_ds_are_users_warning_dialog #ok_button,
  #option_warning_message #confirm_delete,
  #option_warning_message #confirm,
  #option_warning_message #ok_button {
    color: #6F451D; }
  #cancel_project_block a.wizard_cancel_link, #cancel_project_block a.cancel_link, #activate_project_block a.wizard_cancel_link, #activate_project_block a.cancel_link, #questionnaire_code_change a.wizard_cancel_link, #questionnaire_code_change a.cancel_link,
  #subject_warning_message a.wizard_cancel_link,
  #subject_warning_message a.cancel_link, #delete_project_block a.wizard_cancel_link, #delete_project_block a.cancel_link, #all_project_block a.wizard_cancel_link, #all_project_block a.cancel_link, #new_reminder a.wizard_cancel_link, #new_reminder a.cancel_link,
  #web_user_block a.wizard_cancel_link,
  #web_user_block a.cancel_link, #user_should_agree_terms_block a.wizard_cancel_link, #user_should_agree_terms_block a.cancel_link, #delete_question a.wizard_cancel_link, #delete_question a.cancel_link, #edit_question a.wizard_cancel_link, #edit_question a.cancel_link,
  #delete_entity_block a.wizard_cancel_link,
  #delete_entity_block a.cancel_link, #delete_ds_block a.wizard_cancel_link, #delete_ds_block a.cancel_link,
  #delete_all_ds_are_users_warning_dialog a.wizard_cancel_link,
  #delete_all_ds_are_users_warning_dialog a.cancel_link,
  #option_warning_message a.wizard_cancel_link,
  #option_warning_message a.cancel_link {
    color: #0070ac;
    font-size: 12px; }

#subject_warning_message a.cancel_link {
  margin-left: 194px; }

#questionnaire_code_change a.cancel_link {
  margin-left: 130px; }

.ui-dialog-titlebar-close {
  background: white url("/media/images/icons.png") no-repeat scroll -5px -170px !important;
  width: 13px !important;
  height: 16px !important;
  border: 1px solid #6F451D !important;
  padding: 1px !important; }
  .ui-dialog-titlebar-close .ui-icon {
    background: none !important; }

.ui-dialog-titlebar-close.ui-state-hover {
  background-position: -5px 168px;
  border: 0 !important;
  width: 13px !important;
  height: 16px !important;
  border: 1px solid #6F451D !important;
  padding: 1px !important; }
  .ui-dialog-titlebar-close.ui-state-hover .ui-icon {
    background: none !important; }

.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5; }

.ui-menu-item a {
  color: #000000 !important;
  font-size: 12px; }

.loading {
  font-size: 15px; }

.optional_field {
  display: block;
  color: #666666;
  font-size: 12px; }

.clear-both {
  clear: both; }

.subject_tooltip p {
  width: 390px !important; }

.clear-left {
  clear: left; }

.clear-right {
  clear: right; }

.help_accordion {
  clear: both;
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
  color: #888888; }
  .help_accordion h2 {
    margin: 10px 0 0 0;
    font-size: 14px; }
  .help_accordion .show_link {
    color: #2E6E9E; }
  .help_accordion .details {
    display: none; }
    .help_accordion .details #hide_link {
      color: #2E6E9E; }
    .help_accordion .details div {
      margin-top: 10px; }
      .help_accordion .details div li {
        margin-left: 20px; }
    .help_accordion .details .dark_grey_text {
      font-size: 16px;
      color: #555555; }

.terms_and_condition {
  color: #0070ac !important; }

.relative {
  position: relative !important; }

ul.bulleted li {
  list-style-type: disc; }

.mobile_container {
  width: 100%; }
  .mobile_container .mobile_image {
    width: 40%;
    float: left; }
  .mobile_container .info {
    width: 58%;
    float: right;
    padding-top: 20px; }

#submission_log_link {
  color: #0070AC; }

#clear_sms {
  color: #0070AC; }

.full_width {
  width: 100% !important; }

.grey, .small_grey {
  color: #888888; }

.small_grey {
  font-size: 10px; }

div.border_top_bottom {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC; }

.padding_top_10 {
  padding-top: 10px; }

.border_none {
  border: none !important; }

.margin_right_4 {
  margin-right: 4px; }

.display_none {
  display: none; }

.back-to-list {
  display: inline-block;
  margin: -15px 0 15px 0; }

.disabled_yellow_submit_button {
  border: 1px solid #D5B071 !important;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #f8edb8 !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8edb8), to(#fde8a0)) !important;
  background: -moz-linear-gradient(top, #f8edb8, #fde8a0) !important;
  color: #C29870 !important;
  font-family: "Arial" !important;
  font-weight: bold !important;
  padding: 6px 23px 5px 22px !important;
  cursor: default !important;
  cursor: hand !important; }

.can-not-submit-link-quest {
  color: #066b06 !important;
  text-decoration: none;
  font-size: 12px;
  cursor: default !important; }
  .can-not-submit-link-quest:hover {
    text-decoration: none; }

.can-not-submit-link-quest:hover {
  color: #066B06; }

.overflow_hidden {
  overflow: hidden; }

.margin_10 {
  margin: 10px; }

.padding_right_10 {
  padding-right: 10px !important; }

.left_null {
  left: 0px !important; }

.padding_5 {
  padding: 5px; }

.font_size_10 {
  font-size: 10px; }

.hide {
  display: none; }

.bold-text {
  font-weight: bold; }

.validationText {
  color: #FFFFFF;
  background: #c20303;
  padding: 5px 10px;
  border: 1px solid black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: auto;
  margin-left: 10px !important;
  font-size: 12px;
  font-weight: normal;
  max-width: 300px; }

.validationMessage, .choiceValidationMessage {
  background: url(/media/images/arrow_error.png) no-repeat;
  background-position: left 3px;
  display: inline; }

.choiceValidationMessage {
  background-position: left 6px !important;
  display: inline-block; }

/*new UI*/
.wizard {
  margin: 25px !important;
  height: 170px !important;
  border: 1px solid #ccbf97; }

.wizard_heading {
  margin: 10px !important;
  font-size: 28px; }

.wizard_content {
  margin-top: 15px !important;
  width: 1000px !important; }

.w_content {
  margin: 10px !important;
  font-size: 14px; }
  .w_content p {
    line-height: 1.5em; }

.clear_both {
  width: 93%;
  float: left;
  clear: both;
  margin-bottom: 30px; }
  .clear_both ul li {
    list-style-type: None;
    margin: 20px 0 20px 0; }
    .clear_both ul li label {
      float: none;
      width: auto !important; }
    .clear_both ul li label.example {
      clear: both; }
    .clear_both ul li p {
      clear: left; }
    .clear_both ul li ul {
      float: none; }
      .clear_both ul li ul li {
        margin: 10px 0 10px 0; }
        .clear_both ul li ul li label {
          font-weight: normal;
          width: 100%; }
    .clear_both ul li div.error_arrow label {
      font-size: 14px !important; }
    .clear_both ul li select {
      font-size: 15px;
      width: 200px;
      margin-left: 25px; }

.help_icon {
  display: inline; }

fieldset {
  font-size: 15px; }
  fieldset legend {
    color: #C35C00;
    font-weight: bold;
    font-size: 24px; }

#page_title {
  width: 950px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 14px; }
  #page_title .cancel_project {
    font-size: 14px;
    line-height: 29px;
    text-decoration: none !important;
    margin: 0 0px; }
  #page_title .project_title {
    font-size: 30px; }

#continue_project {
  margin-left: 10px; }

#save_and_create {
  margin-left: 10px; }

.cancel-link {
  verticle-align: middle; }

.line {
  border-bottom: 1px solid #ccbf97; }

.questionnare_content {
  background-color: #f0f0f0; }

.grid_23 {
  border: 1px solid #ccbf97 !important;
  margin: 20px 0 15px 0; }

.draft_button {
  background: -moz-linear-gradient(center top, #e3e3e3, #e3e3e3) repeat scroll 0 0 transparent;
  border: 1px solid #b3b3b3;
  border-radius: 3px 3px 3px 3px;
  color: #696969 !important;
  cursor: pointer;
  font-family: "Arial";
  font-weight: bold;
  padding: 6px 23px 6px 22px; }

.footer_link {
  float: right;
  clear: both;
  width: 200px !important;
  margin: 50px 0 70px 0; }
  .footer_link a {
    word-spacing: 0.1em; }

#question-detail-panel {
  width: 525px !important;
  border: 1px solid #ccbf97;
  background-color: #FFF; }
  #question-detail-panel .questionnaire-instruction {
    padding-top: 20px;
    border-top: 1px solid #CCCCCC;
    width: 505px; }
  #question-detail-panel .questionnaire-instruction-text {
    font-style: italic;
    color: #888888; }
  #question-detail-panel #question_title {
    width: 500px !important; }

#questions-panel {
  background: #F0F0F0 !important;
  width: auto; }

.create_new_subject {
  display: none; }

.black_italic {
  font-style: italic; }

.small-box {
  width: 100px !important; }

#q_code {
  display: inline; }

#add_subject_type {
  width: 50% !important;
  float: none;
  padding-left: 20px; }

#id_entity_type_text {
  width: 275px;
  margin-top: 5px; }

.message-box {
  font-size: 13px; }

.alpha_list input {
  width: 180px !important; }

#project-message-label {
  width: 86%;
  margin: 0px 0px 10px 0px !important; }

.help label {
  float: left !important; }

#project_profile ul ul {
  margin: 0; }

.report_type {
  position: relative;
  margin: 0 !important;
  overflow: visible; }
  .report_type ul {
    padding: 0 !important; }
    .report_type ul li {
      margin-bottom: 18px !important; }
  .report_type .black_italic {
    font-size: 11px; }

.individual_report {
  position: absolute;
  top: 75px;
  left: 288px;
  margin: 0 !important; }

.summary_report {
  position: absolute;
  top: 32px;
  left: 160px;
  margin: 0 !important; }

.subject_tooltip_img {
  position: absolute;
  left: 228px;
  top: 120px;
  margin: 0 !important; }

.summary_report_example {
  position: absolute;
  top: 50px;
  left: 20px; }

.individual_report_example {
  position: absolute;
  top: 92px;
  left: 20px; }

#report_type_fr .summary_report {
  left: 209px !important;
  top: 32px; }
#report_type_fr .individual_report {
  left: 330px !important;
  top: 75px !important; }
#report_type_fr .subject_tooltip_img {
  top: 120px !important; }
#report_type_fr .summary_report_example {
  top: 48px !important; }
#report_type_fr .individual_report_example {
  top: 92px !important; }

#container_content {
  overflow: visible; }
  #container_content .content {
    overflow: visible; }

#delete_periodicity_question_warning .show_link, #delete_periodicity_question_warning .hide_link {
  font-style: italic;
  color: #0070AC; }

.gotitbutton {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right; }

.questions {
  margin-top: 15px;
  max-height: 399px;
  overflow-y: auto;
  overflow-x: hidden; }

.question_action {
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-left: 15px; }

.move-image {
  padding-bottom: 3px;
  padding-right: 5px;
  padding-top: 6px;
  vertical-align: bottom; }

.move-text {
  padding-bottom: 2px;
  vertical-align: middle; }

.instruction-header {
  font-style: italic;
  padding-bottom: 10px; }

.questionnaire_selection {
  float: left;
  width: 260px;
  height: 462px;
  overflow: auto;
  background: #EBEBEB;
  padding: 10px 0 10px 10px; }
  .questionnaire_selection div.ui-accordion {
    width: 100% !important; }
  .questionnaire_selection .questionnaire_data {
    font-weight: normal;
    padding-left: 15px;
    cursor: pointer; }
    .questionnaire_selection .questionnaire_data.ui-state-default {
      background: url(/media/images/accordion_arrows.png) no-repeat left -11px transparent !important; }
    .questionnaire_selection .questionnaire_data.ui-state-active {
      background: url(/media/images/accordion_arrows.png) no-repeat left -50px transparent;
      border: none; }
    .questionnaire_selection .questionnaire_data div {
      text-transform: capitalize; }
  .questionnaire_selection .ui-accordion-content {
    border: none;
    background: transparent;
    padding: 0 0 5px 15px; }
    .questionnaire_selection .ui-accordion-content div {
      display: block;
      padding-left: 10px;
      margin: 4px 0 0;
      cursor: pointer;
      text-transform: capitalize; }
      .questionnaire_selection .ui-accordion-content div:hover {
        background-color: #d7e4ed; }
      .questionnaire_selection .ui-accordion-content div + .selected-notify {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #FFF;
        float: right;
        margin-top: -18px;
        display: none; }

.selected {
  background: url("/media/images/questions_hover_arrow.png") no-repeat scroll right top/auto 100% rgba(0, 0, 0, 0);
  background-color: #d7e4ed;
  left: 269px; }
  .selected + .selected-notify {
    display: inline-block; }

.selected_questions {
  overflow: auto;
  height: 450px;
  width: 450px;
  background: #FFF;
  border-radius: 2px;
  border: 1px solid #CCC;
  border-left: none;
  float: left;
  padding: 10px 20px 20px 40px; }
  .selected_questions .project-name-header {
    margin-left: -20px;
    padding-bottom: 10px;
    text-transform: capitalize; }

.ajax-loader {
  margin: 30px 0px 0px 420px; }

.highlight_on_hover:hover {
  background-color: #d7e4ed; }

.questionnaire_save_tooltip p {
  width: 200px; }

.create_questionnaire_help {
  color: #888888;
  font-style: italic;
  font-weight: bold; }

.analysis_image {
  overflow: auto;
  height: 420px;
  width: 840px !important;
  border: none !important; }

.uniqueIdTypeSection .unique_id_learn_more {
  margin: 0 0 20px 0; }
.uniqueIdTypeSection .idTypeDropdown {
  height: 24px; }
.uniqueIdTypeSection .uniqueIdType {
  float: left;
  text-transform: capitalize;
  background: url("/media/images/arrow_dd.png") no-repeat scroll right -3px;
  cursor: pointer;
  padding: 3px 2px 2px 5px;
  font-size: 11px;
  border: 2px solid;
  border-color: #646464 #EBEBEB #EBEBEB #646464;
  border-image: none;
  width: 190px;
  height: 17px; }
.uniqueIdTypeSection .uniqueIdTypeContents {
  font-size: 11px;
  border: 1px solid gray;
  box-shadow: 10px 10px 5px #888888;
  width: 350px;
  padding: 4px 4px 10px 10px; }
  .uniqueIdTypeSection .uniqueIdTypeContents .close-contents {
    background: url("/media/images/close_button.png") no-repeat 0;
    cursor: pointer;
    display: inline;
    float: right;
    width: 18px;
    height: 18px; }
  .uniqueIdTypeSection .uniqueIdTypeContents .newUniqueIdBox {
    margin: 5px 0 5px 0; }
    .uniqueIdTypeSection .uniqueIdTypeContents .newUniqueIdBox .newUniqueIdName {
      font-size: 11px;
      width: 210px;
      margin: 5px 10px 5px 0; }
  .uniqueIdTypeSection .uniqueIdTypeContents .section-example {
    margin-top: 5px;
    color: #888888;
    font-style: italic; }
  .uniqueIdTypeSection .uniqueIdTypeContents hr {
    background-color: #444;
    margin: 10px 0 10px 0; }
  .uniqueIdTypeSection .uniqueIdTypeContents .uniqueIdList {
    line-height: 10px;
    max-height: 200px;
    overflow: auto; }
    .uniqueIdTypeSection .uniqueIdTypeContents .uniqueIdList li {
      text-transform: capitalize;
      cursor: pointer;
      overflow: none;
      padding: 3px;
      margin: 0px !important; }
      .uniqueIdTypeSection .uniqueIdTypeContents .uniqueIdList li:hover {
        background-color: #0088CC;
        color: #ffffff; }
