.single_select_question{
    position: relative;
}

.content-header{
  font-weight: bold;
}

#static-info{
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #CCDFED;
  overflow: hidden;
}

#static-info .info {
  padding: 0px 8px 0px 10px;
  float: left;
  width: 436px;
  display: block;
}

#static-info .info .content-header:after {
  content: ":";
  margin-right: 3px;
}

#static-info .info .datasender-id {
  font-style: italic;
  font-size: 12px;
  color: #888888;
  margin-left: 5px;
}

.edit_submission_heading{
  margin: 10px auto 20px;
  .static-text{
    display: inline-block;
    margin-top: 6px;
  }
}

.action-section{
  display: inline-block;
  float: right;
}

form ul li{
  margin-bottom: 0px;
}

.highlight{
  color: #669933;
  font-weight: bold;
}

a#cancel_leave{
  color: #0070AC !important;
}