.labelSpan{
  display: inline;
  text-transform: capitalize;
  img {
    width:20px;
    height:20px;
  }
}
.dataLbl{
  display: none;
}
div.dataLayersDiv input{
  height: auto;
}
.olControlLayerSwitcher .layersDiv{
  background-color: rgba(100, 100, 100, 0.8);
}
.ol-zoom{
  top: 3.5em;
}
.ol-zoomslider{
  top: 7.5em;
}