/*new UI*/
.wizard {
  margin: 25px !important;
  height: 170px !important;
  border: 1px solid #ccbf97; }

.wizard_heading {
  margin: 10px !important;
  font-size: 28px; }

.wizard_content {
  margin-top: 15px !important;
  width: 1000px !important; }

.w_content {
  margin: 10px !important;
  font-size: 14px; }
  .w_content p {
    line-height: 1.5em; }

.clear_both {
  width: 93%;
  float: left;
  clear: both;
  margin-bottom: 30px; }
  .clear_both ul li {
    list-style-type: None;
    margin: 20px 0 20px 0; }
    .clear_both ul li label {
      float: none;
      width: auto !important; }
    .clear_both ul li label.example {
      clear: both; }
    .clear_both ul li p {
      clear: left; }
    .clear_both ul li ul {
      float: none; }
      .clear_both ul li ul li {
        margin: 10px 0 10px 0; }
        .clear_both ul li ul li label {
          font-weight: normal;
          width: 100%; }
    .clear_both ul li div.error_arrow label {
      font-size: 14px !important; }
    .clear_both ul li select {
      font-size: 15px;
      width: 200px;
      margin-left: 25px; }

.help_icon {
  display: inline; }

fieldset {
  font-size: 15px; }
  fieldset legend {
    color: #C35C00;
    font-weight: bold;
    font-size: 24px; }

#page_title {
  width: 950px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 14px; }
  #page_title .cancel_project {
    font-size: 14px; }
  #page_title .project_title {
    font-size: 30px; }
    #page_title .project_title:first-letter {
      text-transform: uppercase; }

.cancel-link {
  verticle-align: middle; }

.line {
  border-bottom: 1px solid #ccbf97; }

.questionnare_content {
  background-color: #f0f0f0; }

.grid_23 {
  border: 1px solid #ccbf97 !important;
  margin: 20px 0 15px 0; }

.draft_button {
  background: -moz-linear-gradient(center top, #e3e3e3, #e3e3e3) repeat scroll 0 0 transparent;
  border: 1px solid #b3b3b3;
  border-radius: 3px 3px 3px 3px;
  color: #696969 !important;
  cursor: pointer;
  font-family: "Arial";
  font-weight: bold;
  padding: 6px 23px 6px 22px; }

.footer_link {
  float: right;
  clear: both;
  width: 200px !important;
  margin: 50px 0 70px 0; }
  .footer_link a {
    word-spacing: 0.1em; }

#question-detail-panel {
  width: 525px !important;
  border: 1px solid #ccbf97;
  background-color: #FFF; }
  #question-detail-panel #question_title {
    width: 500px !important; }

#questions-panel {
  background: #F0F0F0 !important;
  width: auto; }

.create_new_subject {
  display: none; }

.black_italic {
  font-style: italic; }

.small-box {
  width: 100px !important; }

#q_code {
  display: inline; }

#add_subject_type {
  width: 50% !important;
  float: none;
  padding-left: 20px; }

#id_entity_type_text {
  width: 275px;
  margin-top: 5px; }

.message-box {
  font-size: 13px; }

.alpha_list input {
  width: 300px !important; }

#project-message-label {
  width: 86%;
  margin: 0px 0px 10px 0px !important; }

.help label {
  float: left !important; }

#project_profile ul ul {
  margin: 0; }

.report_type {
  position: relative;
  margin: 0 !important;
  overflow: visible; }
  .report_type ul {
    padding: 0 !important; }
    .report_type ul li {
      margin-bottom: 18px !important; }
  .report_type .black_italic {
    font-size: 11px; }

.individual_report {
  position: absolute;
  top: 75px;
  left: 288px;
  margin: 0 !important; }

.summary_report {
  position: absolute;
  top: 32px;
  left: 160px;
  margin: 0 !important; }

.subject_tooltip_img {
  position: absolute;
  left: 228px;
  top: 120px;
  margin: 0 !important; }

.summary_report_example {
  position: absolute;
  top: 50px;
  left: 20px; }

.individual_report_example {
  position: absolute;
  top: 92px;
  left: 20px; }

#report_type_fr .summary_report {
  left: 209px !important;
  top: 32px; }
#report_type_fr .individual_report {
  left: 330px !important;
  top: 75px !important; }
#report_type_fr .subject_tooltip_img {
  top: 120px !important; }
#report_type_fr .summary_report_example {
  top: 48px !important; }
#report_type_fr .individual_report_example {
  top: 92px !important; }

#container_content {
  overflow: visible; }
  #container_content .content {
    overflow: visible; }

#delete_periodicity_question_warning .show_link, #delete_periodicity_question_warning .hide_link {
  font-style: italic;
  color: #0070AC; }

.gotitbutton {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right; }

.questions {
  margin-top: 15px;
  max-height: 399px;
  overflow-y: auto;
  overflow-x: hidden; }

.select_question_message {
  padding: 200px 29px 200px 29px;
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
  font-style: italic;
  font-size: 120%;
  width: 450px;
  text-align: center;
  color: #888888; }

.question_action {
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-left: 15px; }

.move-image {
  padding-bottom: 3px;
  padding-right: 5px;
  padding-top: 6px;
  vertical-align: bottom; }

.move-text {
  padding-bottom: 2px;
  vertical-align: middle; }

.validationMessage {
  color: red; }
