p {
  color: #666666 !important; }
  p.intro {
    font-size: 16px; }

.dashboard_left {
  border-right: 1px solid #CCCCCC;
  min-height: 400px; }

.dashboard_right {
  margin-left: 10px; }
  .dashboard_right h6 {
    min-width: 204px; }

#how_to {
  width: 100% !important;
  margin: 15px 0 15px 0; }
  #how_to .ui-widget-content {
    border: 1px solid #CCCCCC; }
  #how_to h3 {
    background: #F5F5F5 !important;
    padding: 10px;
    color: #000000 !important;
    border: 1px solid #ccc !important; }
    #how_to h3 .title {
      background: url(/media/images/accordion_arrows.png) no-repeat left -13px;
      padding-left: 15px; }
  #how_to h3.ui-state-active .title {
    background: url(/media/images/accordion_arrows.png) no-repeat left -52px;
    padding-left: 15px; }

#projects {
  width: 665px !important;
  float: left; }
  #projects .project_header {
    border-bottom: 1px solid #CCCCCC !important;
    padding: 10px; }
    #projects .project_header .header {
      font-weight: normal;
      background: url(/media/images/accordion_arrows.png) no-repeat left -34px;
      padding-left: 15px;
      text-transform: capitalize; }
    #projects .project_header .success_error {
      font-size: 12px;
      font-weight: normal;
      color: #666666;
      float: right; }
  #projects .project_header.ui-state-active {
    background: #525252 !important;
    border: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#3d3d3d)) !important;
    background: -moz-linear-gradient(top, #525252, #262626) !important; }
    #projects .project_header.ui-state-active .header {
      color: #FFFFFF;
      background: url(/media/images/accordion_arrows.png) no-repeat left 5px;
      padding-left: 15px; }
    #projects .project_header.ui-state-active .success_error {
      color: #FFFFFF; }
  #projects .ui-accordion-content {
    border: 0;
    border-bottom: 1px solid #000000; }
    #projects .ui-accordion-content table {
      border: 0; }
      #projects .ui-accordion-content table td {
        border: 0;
        border-bottom: 1px solid #CCCCCC; }
  #projects .go_to_project {
    float: right;
    color: #0070ac;
    font-weight: bold;
    font-size: 12px; }

.view_all_projects {
  font-weight: bold;
  font-size: 12px;
  margin-top: 10px;
  width: auto !important; }

.news li {
  margin-top: 10px; }

table.no-border {
  width: 243px;
  line-height: 5px; }
  table.no-border.line_height_14 {
    line-height: 14px; }
  table.no-border td, table.no-border th {
    border: none!important;
    text-align: right;
    padding-left: 0; }
    table.no-border td.small, table.no-border th.small {
      font-size: 10px;
      vertical-align: bottom;
      padding: 0 6px 0 0 !important; }
    table.no-border td:first-child, table.no-border th:first-child {
      text-align: left;
      max-width: 130px; }

#blue_message_box {
  width: 230px;
  margin-top: 0!important; }
  #blue_message_box .button_fr {
    width: 103px;
    padding-right: 12px !important;
    padding-left: 12px !important; }
