#filter_section {
  .datepicker {
    background: url("/media/images/arrow_dd.png") no-repeat scroll right 0px transparent;
    font-family: 'Helvetica', Arial, 'Liberation Sans', FreeSans, sans-serif;
    font-size: 11px !important;
    height: 22px !important;
  }

  .datepicker.disabled {
    background-image: url("/media/images/arrow_dd_transparent.png") !important;
  }

  input[type="text"] {
    height: 22px;
  }

  #keyword {
    font-family: 'Helvetica', Arial, 'Liberation Sans', FreeSans, sans-serif;
    height: 22px !important;
  }

  .ui-dropdownchecklist-selector-wrapper {
    background: url("/media/images/arrow.png") no-repeat scroll right 4px transparent;
    font-family: 'Helvetica', Arial, 'Liberation Sans', FreeSans, sans-serif;
    font-size: 11px !important;
    span span {
      width: 133px !important;
    }
  }

  .ui-dropdownchecklist-selector-wrapper[disabled] {
    background: url("/media/images/arrow_with_bg.png") no-repeat scroll right 2px transparent !important;
  }

  .ui-dropdownchecklist-text {
    font-size: 11px !important;
  }

  .ui-dropdownchecklist-dropcontainer-wrapper > div {
    background: url('/media/javascript/dateRangePicker/css/ui-lightness/images/ui-bg_glass_100_f6f6f6_1x400.png') repeat-x;
  }

  .btnDone {
    background: #cce3ee;
    /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#dfedf4), to(#cce3ee));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #dfedf4, #cce3ee);
    /* for firefox 3.6+ */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #5087b4 !important;
    margin: 4px auto;
  }
  .margin_top0 {
    .button_blue, .button_disabled {
      margin-top: 0px;
      &:hover {
        -webkit-box-shadow: 0px 0px 2px 2px rgba(33, 33, 33, 0.3);
        box-shadow: 0px 0px 2px 2px rgba(33, 33, 33, 0.3);
        opacity: 1;
      }

      &:active {
        -webkit-box-shadow: 0px 0px 0px 0px rgba(33, 33, 33, 0.3);
        box-shadow: 0px 0px 0px 0px rgba(33, 33, 33, 0.3);
        opacity: 0.9;
      }
    }
  }

  .ui-dropdownchecklist-close {
    font-size: 11px;
    font-family: 'Helvetica', Arial, 'Liberation Sans', FreeSans, sans-serif;
  }

  div#keyword_input_container {
    height: 53px;
  }

  div#go_button_container {
    width: 100px;
  }
}

@-moz-document url-prefix() {
  #filter_section .ui-dropdownchecklist-dropcontainer-wrapper {
    margin-top: -5px;
  }
}

.heading_block {
  display: block;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 5px;
  margin-top: 15px;
  .ui-dropdownchecklist {
    label {
      float: none;
      display: inline-block;
    }
    .ui-dropdownchecklist-dropcontainer .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
      border: none;
      background: none;
    }
  }
  #filter_section {
    width: 80%;
    > div {
      width: 175px;
      float: left;
      input[type='text'], select {
        width: 173px;
      }
      > div {
        width: 100%;
      }
      padding-top: 5px;
    }
    #questionnaire_field_filters {
      clear: both;
      width: 85%;

      > div.filter-question {
        width: 175px;
        float: left;
        input[type='text'], select {
          width: 173px;
        }
        padding-bottom: 10px;

      }
    }

    #search_box {
      input[type='text'] {
        width: 270px;
      }
    }

  }
  .date_range_box {
    float: left;
    label, select {
      font-weight: normal;
      float: left;
    }
    input {
      float: left;
    }
  }
  .filter_label {
    label {
      margin-bottom: 5px;
      font-weight: bold;
      margin-right: 0px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 175px
    }
  }
  #dateRangePicker {
    padding: 0px 0px 0px 5px;
    margin-left: 0px;
  }
  label {
    float: left;
    margin-right: 10px;
    font-weight: normal;
  }
}

.ui-daterangepickercontain .ui-daterangepicker {
  font-size: 12px;
  .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-state-hover {
    border: 1px solid #666666;
    background: #ccc;
  }
  .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited, .ui-state-hover a {
    color: #000000;
  }
  .ui-widget-header {
    background-color: #525252;
    background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#3d3d3d));
    //for webkit browsers
    background: -moz-linear-gradient(top, #525252, #262626);
    //for firefox 3.6+
    border: 1px solid #666666
  }
}

.filter-question{
  margin-right: 30px;
}

.filter-input {
  //width:80%;
  height: 22px;
  margin: 0 10 0 5;
  padding-left: 5px;
}

#data-sender-filter {
  width: 176px !important;
  input{
    width: 100% !important;
  }
}

#show_filters{
  padding-top: 38px !important;
}

#hide_filters{
  width: auto !important;
  float: left;
  padding-top: 34px !important;
}

.help_icon{
  margin-left: 0px;
}

.submission_date_help_icon{
  margin-left: 5px;
}