table {
  margin: 0; }

.container_24 {
  float: left;
  margin: 0;
  width: auto; }
  .container_24 .content {
    width: auto;
    padding: 0; }
    .container_24 .content > div, .container_24 .content > ul {
      width: 100%; }
    .container_24 .content > ul {
      margin: 0px;
      left: 0px; }
    .container_24 .content .data_block {
      width: auto; }
      .container_24 .content .data_block .data_table {
        width: 100%;
        margin-bottom: 30px; }
        .container_24 .content .data_block .data_table table {
          min-width: 100%;
          border: 1px solid #FFFFFF; }
          .container_24 .content .data_block .data_table table td {
            min-width: 170px; }
          .container_24 .content .data_block .data_table table.styled_table {
            margin-bottom: 0; }

#page_title {
  /*float:left;*/
  margin: 0 0 0 15px !important; }

#header_application {
  width: auto; }
  #header_application #header_wizard {
    width: 100%; }
    #header_application #header_wizard #header_wizard {
      width: 100%; }

#header {
  width: 100% !important; }
  #header .login {
    float: right; }

#main_tab {
  width: 100%; }
  #main_tab .last {
    padding-right: 10px !important; }
