#broadcast-form {
  padding-top: 15px;
  padding-left: 10px; }

#broadcast_sms_form > ul > li {
  width: 664px; }
  #broadcast_sms_form > ul > li #sms_content {
    margin: 0;
    padding: 0; }
  #broadcast_sms_form > ul > li#message-submit {
    text-align: right; }
  #broadcast_sms_form > ul > li:first-child {
    width: 760px;
    margin-bottom: 0px; }
  #broadcast_sms_form > ul > li:nth-child(3) {
    margin-bottom: 26px; }
  #broadcast_sms_form > ul > li textarea {
    width: 521px; }
  #broadcast_sms_form > ul > li > label {
    width: 130px; }
  #broadcast_sms_form > ul > li .small_grey {
    font-style: italic;
    font-weight: normal; }

#message_count {
  text-align: right;
  margin-bottom: 10px; }

#id_to {
  width: 355px; }

#additional_people_column {
  width: 920px !important; }
  #additional_people_column .highlightTextarea {
    width: 780px !important; }
    #additional_people_column .highlightTextarea div.error_arrow {
      left: 428px;
      top: 4px;
      position: absolute; }
    #additional_people_column .highlightTextarea .highlighterContainer .highlighter {
      color: #FFFFFF; }
      #additional_people_column .highlightTextarea .highlighterContainer .highlighter .highlight {
        color: #FCA0A0 !important; }
  #additional_people_column .black_italic {
    font-style: italic;
    margin-left: 140px;
    width: 429px;
    color: #8A8A8A; }

#input_to {
  display: inline-block;
  background: url("/media/images/arrow.png") no-repeat scroll 498px 4px transparent; }
  #input_to > span {
    display: inline-block;
    border: 2px inset #cccccc;
    /*width: 351px;*/
    width: 520px; }
    #input_to > span > span {
      display: inline-block;
      padding: 5px 0px 0px 5px; }

#to_list ul {
  width: 522px;
  border-radius: 0 0 6px 6px;
  max-width: 550px; }
  #to_list ul li {
    width: 522px; }
    #to_list ul li a:hover {
      text-decoration: none !important; }
      #to_list ul li a:hover span {
        color: white !important; }
