body {
  font: 13px/1.5 'Helvetica', Arial, 'Liberation Sans', FreeSans, sans-serif; }

ul li {
  list-style-type: none;
  padding: 0; }

p {
  margin: 0; }

#print_page a, #sms_preview a {
  color: #0070ac;
  outline: none; }

.preview_block {
  text-align: right; }

#questionnaire_preview {
  margin-left: 20px; }
  #questionnaire_preview .printBtn {
    display: none; }
  #questionnaire_preview .questionnaire_preview h6 {
    font-size: 14px;
    margin: 0; }
  #questionnaire_preview .questionnaire_preview p.instructions {
    font-style: italic;
    font-size: 12px; }
  #questionnaire_preview .questionnaire_preview li {
    margin-bottom: 10px;
    width: 100%;
    float: left; }
  #questionnaire_preview .questionnaire_preview .answer {
    margin-bottom: 5px; }
  #questionnaire_preview .questionnaire_preview label {
    font-weight: normal; }
  #questionnaire_preview .questionnaire_preview input[type=radio], #questionnaire_preview .questionnaire_preview input[type=checkbox] {
    float: left !important; }
  #questionnaire_preview .questionnaire_preview input[type=text] {
    width: 300px; }
  #questionnaire_preview .questionnaire_preview div {
    width: 100%;
    float: left; }

.questionnaire_title {
  margin-bottom: 20px;
  float: left; }
  .questionnaire_title li {
    width: 100%;
    float: left; }
    .questionnaire_title li p, .questionnaire_title li h5 {
      float: left; }
    .questionnaire_title li h5 {
      margin: 0px 0 0 10px;
      font-size: 14px; }
    .questionnaire_title li p.content {
      margin-left: 10px;
      font-style: italic; }

body .ui-dialog {
  display: block;
  left: 0px !important;
  top: 0px !important;
  width: 100% !important;
  overflow: visible !important; }
  body .ui-dialog .ui-dialog-titlebar, body .ui-dialog .preview_block {
    display: none; }
  body .ui-dialog .ui-dialog-content {
    overflow: visible !important; }
body .sms-questionnaire {
  display: block !important;
  position: absolute;
  left: 0px !important;
  top: 0px !important;
  width: 100% !important;
  overflow: visible !important;
  border: none !important;
  margin: none !important;
  font-size: 14px;
  font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 2px; }

@-moz-document url-prefix() {
  .questionnaire_preview ol li {
    float: none !important; } }

.ui-widget-content {
  border: 0 !important; }

.none_for_print {
  display: none; }
