#broadcast-form {
  padding-top: 15px;
  padding-left: 10px; }

#broadcast_sms_form ul li {
  width: 535px; }
  #broadcast_sms_form ul li #sms_content {
    margin: 0;
    padding: 0; }
  #broadcast_sms_form ul li#message-submit {
    text-align: right; }

#message_count {
  text-align: right;
  margin-bottom: 10px; }

#id_to {
  width: 355px; }

#additional_people_column .highlightTextarea {
  width: 720px !important; }
  #additional_people_column .highlightTextarea div.error_arrow {
    left: 352px;
    top: 4px;
    position: absolute; }
  #additional_people_column .highlightTextarea .highlighterContainer .highlighter {
    color: #FFFFFF; }
    #additional_people_column .highlightTextarea .highlighterContainer .highlighter .highlight {
      color: #FCA0A0 !important; }
#additional_people_column .black_italic {
  font-style: italic;
  margin-left: 170px;
  width: 350px;
  color: #8A8A8A; }
