#all_subjects{
    width:910px !important;
    border-top: 1px solid #CCCCCC !important;
    margin-top: 20px;
    .list_header{
        border-bottom:1px solid #CCCCCC !important;
        padding:10px;
        .header{
            font-weight:normal;
            background:url(/media/images/accordion_arrows.png) no-repeat left -34px;
            padding-left:15px;
        }
        .success_error{
            font-size:12px;
            font-weight:normal;
            color:#666666;
            float:right;
        }
    }
    .list_header.ui-state-active{
        background-color:#525252 !important;
        border:0;
        background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#3d3d3d)) !important;  //for webkit browsers
        background: -moz-linear-gradient(top,  #525252,  #262626) !important;  //for firefox 3.6+
        .header{
            color:#FFFFFF;
            background:url(/media/images/accordion_arrows.png) no-repeat left 5px;
            padding-left:15px;
        }
        .success_error{
            color:#FFFFFF;
        }
    }
    .ui-accordion-content{
        border:0;
        border-bottom:1px solid #000000;
        padding: 10px;
    }
    .register_subject{
        float:right;
        color:#0070ac;
        font-weight:bold;
        font-size:12px;
        margin-bottom:10px;
    }
    .styled_table {
        margin-bottom:0;
    }
    .subjects_links {
        margin-bottom: 15px;
        font-size: 12px !important;
        color: #0070AC;
        text-align: right;
    }
    .no_registered_subjects {
        margin: 10px 0;
        font-size: 12px!important;
        color: #666666;
        font-style: italic;
        ul {
            margin: 0 10px;
            padding: 0 10px;
            list-style-type: disc !important;
        }
    }
}