.import_link {
  color: #0070AC !important;
}

#delete_entity_block {
  a {
    float: right !important;
    .cancel_link {
      padding-left: 5px !important;
      padding-top: 7px !important;
    }
  }
}

.data-sender-table-wrapper {
  overflow-x: scroll;
  float:left;
  table thead th:first-child input#checkall-datasenders{
     margin-left: 0px !important;
  }
}

.devices {
  vertical-align: bottom !important;
  span {
    display: block;
  }
  .device-icons {
    padding-top: 2px;
    width: 66px;
    > div {
      float: left;
    }
    .web-icon {
      margin: 0 4px 0 10px;
    }
    .smartphone-icon {
      margin: 0 -4px 0 5px;
    }
  }
}

.device-icon {
  img {
    padding-top: 3px;
  }
  span {
    width: 15px;
    display: block;
  }
}

.device_checkmark{
  padding: 0 4px 0 4px;
}
#delete_all_ds_are_users_warning_dialog, #delete_entity_block{
    ul.bulleted{
       padding-left: 20px;
    }
}
.ds_action{
  margin-top: 6px;
}

#error_table {
  overflow-y: auto;
  height: 200px;
}

#success_table {
  overflow-y: auto;
  height: 200px;
}