#filterlog tr td {
        border: none;
}
#filterlog tr{
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}
#filterlog tr td input[type=text]{
    height: 18px;
}
#filterlog tr td select{
    width: 130px;
}
#filterlog tr td .button_blue{
    margin-top: 16px
}