.organization, .administrative {
  margin-bottom: 15px;
  padding: 10px; }

.signin {
  margin-bottom: 15px;
  padding: 10px;
  min-height: 250px; }
  .signin ul li label {
    font-size: 14px;
    display: block;
    font-weight: bold;
    width: 80px;
    float: left; }

.right_hand_section {
  border: 1px solid #ececec;
  min-height: 250px;
  padding: 10px; }

.left_hand_section {
  margin-top: 7px;
  margin-right: 25px; }

#container_content .content {
  padding: 20px;
  min-height: 300px !important; }
#container_content .section_description {
  font-style: italic;
  color: #A0A0A0;
  font-weight: normal; }
#container_content .black_italic {
  font-style: italic;
  clear: left;
  margin-left: 170px; }

#registration_form .black_italic {
  display: inline-block; }
#registration_form .black_italic.optional {
  display: block; }
#registration_form ul li#mobile-phone-number-fr p {
  margin-top: -12px; }

.signin_form {
  margin: 50px 0 0px 70px; }

.reset_form {
  margin: 50px 0 50px 70px; }
  .reset_form label {
    width: 90px; }

form fieldset legend {
  font-size: 20px; }
form ul li label {
  font-size: 14px;
  display: block;
  font-weight: bold;
  width: 170px;
  float: left; }
form ul li input[type=text], form ul li input[type=password] {
  width: 200px;
  height: 20px;
  border-color: #cccccc; }

.about_datawinners {
  background: #feee96;
  margin-bottom: 30px; }
  .about_datawinners p {
    margin-top: 10px; }

.subscription_details {
  float: right;
  background: #feee96;
  min-height: 155px !important; }
  .subscription_details p {
    margin-top: 10px; }
  .subscription_details li {
    list-style-type: disc;
    margin-left: 15px; }

.about_datawinners {
  min-height: 184px; }
  .about_datawinners p {
    margin-top: 10px; }

.subtitle_for_radio_button {
  display: block;
  font-size: 12px;
  width: 300px;
  border-color: #cccccc;
  text-align: left;
  margin-left: 3px;
  margin-top: -5px;
  margin-bottom: 10px;
  color: #666;
  font-style: italic; }

.choices_description {
  line-height: 14px;
  margin-bottom: 10px; }

.radio_title {
  font-size: 14px;
  margin-bottom: 3px;
  width: 300px; }

.subscribe_now {
  display: inline-table;
  width: 158px;
  height: 46px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 46px;
  color: #6f451b !important;
  text-shadow: #FFF2B2 0 1px 1px;
  background: url("/media/images/dw_home_button1.png") no-repeat left top;
  margin-top: 10px;
  margin-left: 20px;
  text-align: center; }

form.registration_form ul li label {
  width: 160px;
  margin-right: 10px;
  text-align: right; }
form.registration_form ul li ul li label {
  width: auto;
  padding-top: 1px;
  text-align: left; }
form.registration_form #id_organization_country {
  width: 206px;
  float: left; }
form.registration_form ul.payment_details {
  width: 675px; }
  form.registration_form ul.payment_details > li:last-child {
    width: 766px; }
form.registration_form ul.administrative {
  width: 756px; }
  form.registration_form ul.administrative li.width_700 {
    width: 700px; }

.clear_both {
  clear: both; }

#submit_registration_form {
  float: right;
  margin-right: 383px; }

ul.organization li:last-child {
  width: 383px; }

#password_reset_form, #activate_datasender_form_fr > ul > li:last-child {
  padding-left: 280px; }

#activate_datasender_form_en > ul > li:last-child {
  padding-left: 273px; }

#activate_datasender_form_en ul > li > label, #activate_datasender_form_fr ul > li > label {
  text-align: right; }
