.max_char{
    display:inline;
    margin-top:20px;
    #max_length{
        width:40px;
        float:none;
        margin-left:20px;
    }
}
#range_min{
    margin-left:4px !important;
}
#range_max, #range_min{
    width:60px;
    float:none;
    margin-bottom:10px;
}

.mobile{
    background:url("/media/images/mobile1.jpg") no-repeat left top;
    height:400px;
    width:349px;
    margin:30px;
    margin-top:60px;
    textarea{
            height: 127px;
            margin-left: 56px;
            margin-top: 146px;
            width: 180px;
            font-size:12px;
    }
}

/*The content styles for wizard based pages*/
.wizard_content{
    .content_wrapper{
        .questionnaire_code{
            label{
                font-weight:normal;
            }
            input{
                width:90px;
                height:25px;
                border-color:#CCCCCC;
            }
            h5{
                margin-bottom:10px;
            }
        }
        .define_project{

        }
        .questionnaire_code{
            li{
                padding:5px 0 5px 30px !important;
                #questionnaire-code-error {
                    background: url(/media/images/arrow_error.png) no-repeat left 3px !important;
                    float:none !important;
                }
                label{
                    display:inline;
                    width:140px;
                }
            }
        }
        .questionnare_header{
            border:1px solid #a3c7ef;
            height:50px;
            margin:0 0 20px 30px;
            padding:10px;
            width:850px;
            background-color:#e9f6ff;
        }
        .questionnare_content{
            border-bottom:1px solid #cccccc;
            border-top:1px solid #cccccc;
            min-height:500px;
            margin-bottom:20px;
            padding-right:17px;
            #question-detail-panel{
                padding-left:20px;
                margin:20px 0 20px 0;
                width:575px;
                float:left;
                min-height:720px;
                #question_title{
                    font-size:18px;
                    font-weight:bold;
                    height:30px;
                    width:565px;
                }
                #code{
                    width:100px;
                }
                ul li{
                    label{
                        font-size:16px;
                        float:none;
                    }
                    label.error{
                        font-size:14px;
                        font-weight:normal;
                        width:auto;
                        margin-left:10px;
                    }
                }
                .question{
                    width:1200px;
                }
                .add_link{
                    display:block;
                }
                .question_type{
                    padding-top:14px;
                    border-top:1px solid #ccc;
                }
                .alpha_list{
                    margin-left:30px;
                    input{
                        float:none;
                    }
                    .error_arrow{
                        float:none !important;
                        background-position:0px 3px !important;
                    }
                }
                #char-count-span{
                    border-top:1px solid #ccc;
                    paddin-top:40px;
                }
            }
            #questions-panel{
                background:#f2f2f2 url("/media/images/questions_bg.gif") repeat-y top right;
                padding:20px 0 0 0px;
                min-height:760px;
                margin-right: 0px !important;
                h4{
                    padding-left:30px;
                    border-bottom:1px solid #B5B5B5;
                    width:270px;
                }
                a{
                    color: #0070ac;
                }
                .add_question{
                    font-size:14px;
                    margin:30px 0 0 40px;
                    font-weight:normal;
                }
                .question_list{
                    ul li{
                        margin-bottom:10px;
                    }
                    ul > div{
                        padding:2px 50px 0 50px;
                        border-bottom:1px solid #B5B5B5;
                        width:200px;
                        cursor:pointer;
                        &.question_selected{
                            background:#d8e4ec url("/media/images/question_hover_bg.gif") repeat-x bottom left;
                            position:relative;
                        }
                        span.selected_question_arrow{
                            display:none;
                            position:absolute;
                            top:32%;
                            left:269px;
                            padding:16px;
                            background:url("/media/images/questions_hover_arrow.png") no-repeat top right;
                        }
                        a{
                            color:#000000;
                            font-size:16px;
                        }
                    }
                    ol{
                        margin:0;
                        list-style: decimal inside none;
                        width:300px;
                        li{
                            border-bottom:1px solid #B5B5B5;
                            cursor:pointer;
                            padding:20px 5px;
                            margin:0;
                            &.question_selected{
                                background:#d8e4ec url("/media/images/question_hover_bg.gif") repeat-x bottom left;
                                position:relative;
                            }
                            span.selected_question_arrow{
                                display:none;
                                position:absolute;
                                top:32%;
                                left:269px;
                                padding:16px;
                                background:url("/media/images/questions_hover_arrow.png") no-repeat top right;
                            }
                            a{
                                color:#000000;
                                font-size:16px;
                            }
                        }
                    }
                    .delete{
                        padding-left: 15px;
                        a {
                            color:#0070AC;
                            font-size:12px;
                        }
                    }
                }
            }
        }
    }
}
#que_code{
    li{
        list-style-type: decimal;
    }
}
#questionnaire-code{
    float: none;
}
