.support-acc .ui-accordion-header {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  padding: 0 0 0 20px; }
  .support-acc .ui-accordion-header a {
    padding: 5px 0 0 22px; }
    .support-acc .ui-accordion-header a:hover {
      text-decoration: none !important; }
.support-acc .ui-accordion-content {
  padding-left: 25px !important; }
.support-acc .ui-state-default, .support-acc .ui-state-active, .support-acc .ui-widget-content {
  background: none;
  border: none; }
.support-acc .ui-widget-content {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 13px;
  padding: 0; }
.support-acc .ui-icon {
  background: url("/media/images/dw_acc_arrow.png") no-repeat left top; }
.support-acc .ui-state-active .ui-icon {
  background: url("/media/images/dw_acc_arrow.png") no-repeat left -20px; }
.support-acc td {
  border: 1px solid #DDD;
  padding: 0 10px; }

.block_support {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 10px 0;
  width: 345px !important;
  display: inline;
  float: left;
  margin-right: 10px;
  height: 98px; }
  .block_support h3 {
    font-size: 14px;
    margin-top: 10px !important; }
  .block_support .grid_5 {
    position: relative; }
  .block_support .grid_4 {
    width: 135px; }
    .block_support .grid_4 img {
      margin-left: 22px; }

.block_support_hover {
  -moz-box-shadow: 0 0 3px 3px #DDD;
  -webkit-box-shadow: 0 0 3px 3px #dddddd;
  box-shadow: 0 0 3px 3px #DDD;
  cursor: pointer; }

#popbox {
  font-family: fontHelvetica,Arial,sans-serif; }
  #popbox #budget_logo_container {
    height: 30px;
    margin-top: 20px; }
  #popbox .padding_top_10 td {
    padding-top: 10px; }
  #popbox .padding_top_20 td {
    padding-top: 20px; }
  #popbox .margin_top_10 td {
    margin-top: 10px; }
  #popbox .margin_top_20 td {
    margin-top: 20px; }
  #popbox #budget_table .border_bottom {
    border-bottom: 2px solid black; }
  #popbox #budget_table .border_top {
    border-top: 2px solid #CCCCCC; }
  #popbox .margin_top_50 {
    width: 793px; }
    #popbox .margin_top_50 span.float_right {
      font-size: 12px; }
  #popbox img {
    margin-left: 10px; }

h2#pricing_h2 {
  margin-top: 13px !important; }

.quick_start_left p {
  width: 480px !important; }

#about-us-container div.block_support {
  height: 126px; }
  #about-us-container div.block_support .grid_4 {
    margin-top: 24px; }
    #about-us-container div.block_support .grid_4 img {
      margin-left: 0; }
    #about-us-container div.block_support .grid_4.img_en {
      margin-top: 18px; }
