.reset_password{
    li{
        width:304px;
    }
.reset_button_div{
    width: 100%;
    input{
    float:right;
    }
}

.links_div{
    width: 100%;
    span{
            float: right;
            margin-top: 10px;
        }
}
.errorlist li{
       width: 125px
}
}