.import_link {
  color: #0070AC !important; }

#delete_entity_block a {
  float: right !important; }
  #delete_entity_block a .cancel_link {
    padding-left: 5px !important;
    padding-top: 7px !important; }

.data-sender-table-wrapper {
  overflow-x: scroll; }

.devices {
  position: relative; }
  .devices .device-icons {
    position: absolute;
    bottom: 5px;
    margin-left: -4px; }
    .devices .device-icons div {
      float: left; }
    .devices .device-icons .web-icon {
      margin: 0 4px 0 8px; }
    .devices .device-icons .smartphone-icon {
      margin: 0 -4px 0 5px; }

.device-icon {
  padding-top: 10px;
  width: 10px; }
