#new_reminder{
    input[type=text]{
        width:100px;
    }
}
.reminder-success{
    height: 20px;
    margin-top: 30px !important;
    margin-bottom: 10px !important;
}
label.error{
    clear:both;
}

.link_info{
    position:relative;
    padding-right:45px;
    padding-top:5px;
    left:680px;
    top:-12px;
}

.warning-message-box{
    overflow: hidden;
    zoom: 1;
    a{
        float : right;
        margin: 10px;
    }
    .trial_web_learn_more{
        padding-top: 10px;
    }
}


#reminder_form{
    width:930px;
}

.half-width{
    width: 50%;
}

fieldset{
    border:1px solid #ccc;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    width:95%;
    padding:20px;
    margin-bottom:20px;
    legend{
        color:#C35C00;
        font-weight:bold;
    }
    input[type="radio"]
    {
        margin-right: 10px;
    }
}

#reminders_section input[type="text"]
{
    width: 35px;
    margin-right:10px;
}
#reminders_section input[type="checkbox"]{
    margin-right:10px;
}

#reminders_section {
  ul li {
    label {
      margin: auto 4px auto 28px;
      width: 120px;
    }
    span {
      font-weight: bold;
    }
  }
}

#frequency_values ul li
{
    display: inline;
}

.whom_to_send_help_text{
    margin-left: 26px;
    font-style: italic;
    color: #666666
}