table {
  margin: 0; }

.ui-dropdownchecklist-item {
  font-family: Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-size: 11px; }

#header_application {
  margin: 0 auto;
  float: none;
  width: 960px; }

/* common for all data Page */
.links {
  float: right; }
  .links li {
    float: left; }
    .links li a {
      padding-right: 5px;
      padding-left: 5px; }

#container_header_application #main_tab .logo img {
  margin-left: 15px; }

.data_block .small_grey {
  margin-left: 10px; }

.datepicker {
  padding-left: 5px; }

.view_data_block {
  margin-top: 10px; }
  .view_data_block .show_data_block label, .view_data_block .show_data_block select {
    float: left;
    font-weight: normal; }
  .view_data_block .show_data_block select {
    margin-left: 10px; }

.table_information {
  margin-top: 10px;
  height: 40px; }

.view_style_block {
  float: right; }
  .view_style_block label, .view_style_block ul {
    font-weight: normal;
    float: left;
    margin-left: 10px; }
  .view_style_block ul {
    background: #e6f2fc;
    border: 1px solid #e6f2fc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-top: -3px; }
    .view_style_block ul li {
      float: left;
      background: url(/media/images/list_chart_map.png) no-repeat top left;
      padding: 2px 10px 2px 23px; }
      .view_style_block ul li a {
        padding: 10px; }
    .view_style_block ul li.active {
      background-color: #94d1ff;
      border: 1px solid #94d1ff;
      -moz-border-radius: 10px 0 0px 10px;
      -webkit-border-radius: 10px 0 0px 10px; }
      .view_style_block ul li.active a {
        color: #000000; }
      .view_style_block ul li.active a:hover {
        text-decoration: none;
        cursor: default; }
    .view_style_block ul li.active-right {
      background-color: #94d1ff;
      border: 1px solid #94d1ff;
      -moz-border-radius: 0px 10px 10px 0px;
      -webkit-border-radius: 0px 10px 10px 0px; }
      .view_style_block ul li.active-right a {
        color: #000000; }
      .view_style_block ul li.active-right a:hover {
        text-decoration: none;
        cursor: default; }
    .view_style_block ul li.list {
      background-position: 6px 3px;
      border-right: 1px solid #CCC; }
    .view_style_block ul li.chart {
      background-position: 10px -27px; }

.data_table {
  float: left;
  overflow: auto;
  width: 100%; }
  .data_table #data_analysis {
    float: left;
    /*width:auto;*/ }
    .data_table #data_analysis th {
      height: 40px;
      color: #FFFFFF; }
    .data_table #data_analysis tr, .data_table #data_analysis td {
      background: none; }
    .data_table #data_analysis thead tr.data_header {
      height: 100px;
      background-color: #525252;
      background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#3d3d3d));
      background: -moz-linear-gradient(top, #525252, #262626); }

.aggregation_block {
  background: none; }
  .aggregation_block select {
    border: 0;
    background: #FFFFFF;
    width: 100%;
    position: relative !important;
    top: 125px;
    z-index: 1; }
  .aggregation_block span.customStyleSelectBox {
    position: relative;
    top: 100px;
    font-size: 14px;
    background-color: #FFFFFF;
    color: #7c7c7c;
    padding: 1px 7px;
    border: 1px solid #e7dab0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px 5px; }
  .aggregation_block span.customStyleSelectBox.changed {
    background-color: #c0d5e9;
    border: 1px solid #e3eff9;
    color: #FFF; }
  .aggregation_block span.customStyleSelectBoxInner {
    background: url(/media/images/small_arrow.gif) no-repeat center right; }
  .aggregation_block td {
    height: 0px;
    border: 0; }
  .aggregation_block .first_span {
    font-size: 25px;
    height: 23px;
    opacity: 0; }
  .aggregation_block .second_span {
    display: inline-block;
    opacity: 0; }

#data_analysis_wrapper .dataTables_scroll {
  position: relative;
  top: -20px; }
#data_analysis_wrapper #data_analysis_filter input {
  width: 200px;
  margin-bottom: 10px; }

.dataTables_wrapper table thead th, #data_analysis_wrapper table thead th {
  color: #FFF; }
.dataTables_wrapper table thead .sorting, #data_analysis_wrapper table thead .sorting {
  background: url(/media/images/sort_arrow.png) no-repeat right 0px; }
.dataTables_wrapper table thead .sorting_desc, #data_analysis_wrapper table thead .sorting_desc {
  background: url(/media/images/sort_arrow_active_bottom.png) no-repeat right 0px; }
.dataTables_wrapper table thead .sorting_asc, #data_analysis_wrapper table thead .sorting_asc {
  background: url(/media/images/sort_arrow_active_top.png) no-repeat right 0px; }

#dateRangePicker {
  width: 80%;
  margin: 0 10px 0 5px;
  padding-left: 5px; }

.ui-daterangepickercontain .ui-daterangepicker {
  font-size: 12px; }
  .ui-daterangepickercontain .ui-daterangepicker .ui-state-active, .ui-daterangepickercontain .ui-daterangepicker .ui-widget-content .ui-state-active, .ui-daterangepickercontain .ui-daterangepicker .ui-widget-header .ui-state-active, .ui-daterangepickercontain .ui-daterangepicker .ui-state-hover {
    border: 1px solid #666666;
    background: #ccc; }
  .ui-daterangepickercontain .ui-daterangepicker .ui-state-active a, .ui-daterangepickercontain .ui-daterangepicker .ui-state-active a:link, .ui-daterangepickercontain .ui-daterangepicker .ui-state-active a:visited, .ui-daterangepickercontain .ui-daterangepicker .ui-state-hover a {
    color: #000000; }
  .ui-daterangepickercontain .ui-daterangepicker .ui-widget-header {
    background-color: #525252;
    background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#3d3d3d));
    background: -moz-linear-gradient(top, #525252, #262626);
    border: 1px solid #666666; }

#pagination {
  margin-top: 10px; }

.dataTables_length {
  float: right;
  margin-top: 20px; }
  .dataTables_length label {
    font-weight: normal; }

.dataTables_paginate {
  min-width: 200px;
  float: left;
  margin-top: 20px; }
  .dataTables_paginate span {
    float: left;
    margin: 0 4px 0 4px;
    padding: 0px 7px !important;
    font-size: 10px !important; }
  .dataTables_paginate span.paginate_button {
    color: #0070ac;
    background: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 1px solid #CCCCCC; }
    .dataTables_paginate span.paginate_button:hover {
      background: none; }
  .dataTables_paginate span.paginate_active {
    background: #FFD857;
    color: #6F451D;
    border: 1px solid #D4972D;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0; }
  .dataTables_paginate span.paginate_button_disabled {
    color: #CCCCCC; }
    .dataTables_paginate span.paginate_button_disabled:hover {
      background: none; }

.table_footer {
  background-color: #525252 !important; }

#time_submit {
  margin-top: 0px;
  height: 29px;
  min-width: 100px; }
