@font-face {
  font-family: 'ChalkDustRegular';
  src: url("/media/css/font/chalkdust-webfont.eot");
  src: url("/media/css/font/chalkdust-webfont.eot?#iefix") format("embedded-opentype"), url("/media/css/font/chalkdust-webfont.woff") format("woff"), url("/media/css/font/chalkdust-webfont.ttf") format("truetype"), url("/media/css/font/chalkdust-webfont.svg#ChalkDustRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

.preview_block {
  text-align: right; }

.questionnaire_preview1 {
  border: solid 1px #ccc; }

#sms_preview, #questionnaire_preview {
  margin: auto; }
  #sms_preview .answer .multiple_select li, #questionnaire_preview .answer .multiple_select li {
    list-style-type: none !important; }
    #sms_preview .answer .multiple_select li span.bullet, #questionnaire_preview .answer .multiple_select li span.bullet {
      display: inline-table;
      width: 30px;
      text-transform: lowercase; }
  #sms_preview .questionnaire_preview > li, #questionnaire_preview .questionnaire_preview > li {
    margin-bottom: 15px;
    width: 100%;
    float: left; }
  #sms_preview .questionnaire_preview .answer, #questionnaire_preview .questionnaire_preview .answer {
    margin-bottom: 5px; }
    #sms_preview .questionnaire_preview .answer .multiple_select, #questionnaire_preview .questionnaire_preview .answer .multiple_select {
      margin-left: 10px; }
  #sms_preview .questionnaire_preview label, #questionnaire_preview .questionnaire_preview label {
    font-weight: normal; }
  #sms_preview .questionnaire_preview input[type=radio], #sms_preview .questionnaire_preview input[type=checkbox], #questionnaire_preview .questionnaire_preview input[type=radio], #questionnaire_preview .questionnaire_preview input[type=checkbox] {
    float: left !important; }
  #sms_preview .questionnaire_preview div, #questionnaire_preview .questionnaire_preview div {
    width: 100%;
    float: left; }
  #sms_preview .inactive_link, #questionnaire_preview .inactive_link {
    pointer-events: none; }

#questionnaire_content #questionnaire_preview {
  margin-right: 10px;
  color: #222;
  padding-top: 20px; }
  #questionnaire_content #questionnaire_preview .sms-questionnaire {
    margin: 0 10px 10px 10px;
    padding: 20px;
    border: 1px solid #CCC;
    background-color: white; }
  #questionnaire_content #questionnaire_preview .preview-instruction {
    margin-left: 10px; }
    #questionnaire_content #questionnaire_preview .preview-instruction > div {
      padding-bottom: 15px; }
  #questionnaire_content #questionnaire_preview .preview-header {
    margin: 0 10px; }
    #questionnaire_content #questionnaire_preview .preview-header .printBtn {
      float: right;
      text-decoration: none; }
  #questionnaire_content #questionnaire_preview .web-questionnaire {
    margin: 10px 10px;
    padding: 20px;
    border: 1px solid #CCC;
    background-color: white; }
    #questionnaire_content #questionnaire_preview .web-questionnaire .web-preview-action-section {
      float: right; }
      #questionnaire_content #questionnaire_preview .web-questionnaire .web-preview-action-section .action-section {
        float: right;
        padding-right: 300px; }
      #questionnaire_content #questionnaire_preview .web-questionnaire .web-preview-action-section .disable-button {
        border: 1px solid #D5B071 !important;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        background: #F8EDB8;
        background: -webkit-gradient(linear, left top, left bottom, from(#f8edb8), to(#fde8a0));
        background: -moz-linear-gradient(top, #f8edb8, #fde8a0);
        color: #C29870 !important;
        font-family: "Arial";
        font-weight: bold;
        padding: 6px 23px 5px 22px;
        cursor: pointer;
        cursor: hand; }
      #questionnaire_content #questionnaire_preview .web-questionnaire .web-preview-action-section .can-not-submit {
        margin-top: 5px;
        margin-left: 30px;
        float: right;
        padding-right: 300px; }

#print_page a {
  color: #0070ac;
  outline: none; }

.printBtn {
  float: right; }

.questionnaire_title {
  margin-bottom: 20px;
  float: left; }
  .questionnaire_title li {
    width: 100%;
    float: left; }
    .questionnaire_title li p {
      font-size: 15px; }
    .questionnaire_title li p, .questionnaire_title li h5 {
      float: left;
      line-height: 31px; }
    .questionnaire_title li p, .questionnaire_title li h5 {
      margin: -5px 0 0 10px; }
    .questionnaire_title li p.content {
      margin-left: 10px; }

p.instructions {
  font-style: italic;
  font-size: 12px; }

.sms-questionnaire.questionnaire-preview .instructions-container {
  margin-right: 250px; }
.sms-questionnaire.questionnaire-preview .instructions {
  background-color: white; }
.sms-questionnaire.questionnaire-preview .dash {
  width: 100%;
  border-bottom: 2px dotted #666;
  margin-top: -7px; }
.sms-questionnaire.questionnaire-preview .displayText {
  height: 30px;
  float: right;
  width: 250px;
  margin-top: -32px;
  border: 1px solid #ccc;
  background-color: white; }
.sms-questionnaire.questionnaire-preview .olpreview > li {
  padding: 10px 0; }
.sms-questionnaire.questionnaire-preview .sms-answer {
  width: 100%;
  height: 60px;
  border: 1px solid #ccc;
  margin: 5px 0; }
.sms-questionnaire.questionnaire-preview .preview-steps .breakable {
  page-break-inside: auto; }
  .sms-questionnaire.questionnaire-preview .preview-steps .breakable ol li {
    page-break-inside: avoid; }
.sms-questionnaire.questionnaire-preview .preview-steps > li {
  font-weight: bold;
  list-style: upper-alpha;
  page-break-inside: avoid; }
  .sms-questionnaire.questionnaire-preview .preview-steps > li div {
    font-weight: normal; }
    .sms-questionnaire.questionnaire-preview .preview-steps > li div .sms-answer {
      color: blue;
      font-family: "ChalkDustRegular", "Lucida Grande", sans-serif;
      font-weight: bold;
      font-style: italic; }
.sms-questionnaire.questionnaire-preview .fill-answers {
  display: block;
  float: right;
  width: 250px;
  margin-top: -10px; }
.sms-questionnaire.questionnaire-preview .org-number {
  position: relative; }
.sms-questionnaire.questionnaire-preview .org_number_link {
  margin-top: 2px;
  font-size: 12px !important;
  position: absolute; }

.olpreview {
  padding-left: 20px;
  padding-right: 5px; }
  .olpreview li {
    float: none !important;
    vertical-align: top; }
    .olpreview li h6 {
      padding: 0;
      margin: 0; }
    .olpreview li .answer {
      margin-bottom: 5px;
      float: none;
      clear: left !important; }
      .olpreview li .answer ol {
        margin-left: 20px;
        list-style: lower-alpha; }

.content.grid_23 {
  border: 1px solid #CCC !important;
  margin-top: 0; }

.questionnare_content {
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  min-height: 500px;
  margin-bottom: 20px; }
  .questionnare_content #question-detail-panel {
    padding-left: 20px;
    margin: 20px 0;
    width: 575px;
    float: left;
    min-height: 720px; }
    .questionnare_content #question-detail-panel #question_title {
      font-size: 18px;
      font-weight: bold;
      height: 30px;
      width: 565px; }
    .questionnare_content #question-detail-panel #code {
      width: 100px; }
    .questionnare_content #question-detail-panel ul li {
      margin: 20px 0; }
      .questionnare_content #question-detail-panel ul li label {
        font-size: 16px;
        float: none; }
      .questionnare_content #question-detail-panel ul li label.error {
        font-size: 14px;
        font-weight: normal;
        width: auto;
        margin-left: 10px; }
    .questionnare_content #question-detail-panel .question {
      width: auto; }
    .questionnare_content #question-detail-panel .add_link {
      display: block; }
    .questionnare_content #question-detail-panel .question_type {
      padding-top: 14px;
      border-top: 1px solid #ccc; }
    .questionnare_content #question-detail-panel .alpha_list {
      margin-left: 30px; }
      .questionnare_content #question-detail-panel .alpha_list input {
        float: none; }
      .questionnare_content #question-detail-panel .alpha_list .error_arrow {
        float: none !important;
        background-position: 0px 3px !important; }
    .questionnare_content #question-detail-panel .sms-preview {
      border-top: 1px solid #ccc;
      padding: 14px 0 5px 0; }
      .questionnare_content #question-detail-panel .sms-preview label {
        font-size: 16px;
        float: none; }
      .questionnare_content #question-detail-panel .sms-preview #char-count-span {
        paddin-top: 40px; }
        .questionnare_content #question-detail-panel .sms-preview #char-count-span #char-count span {
          font-weight: bold; }

#periode_green_message {
  color: #066B06;
  text-decoration: none;
  font-size: 12px;
  display: none; }

div.sms_tester_form div.warning-message-box p {
  background: url("/media/images/icons.png") no-repeat scroll left -70px rgba(0, 0, 0, 0); }
div.sms_tester_form div.warning-message-box a {
  color: #0070ac; }
  div.sms_tester_form div.warning-message-box a.padding_top_10 {
    font-size: 13px !important; }
  div.sms_tester_form div.warning-message-box a.button {
    font-size: 15px !important; }
div.sms_tester_form div.warning-message-box .float_left {
  float: left !important; }
div.sms_tester_form div.clear_and_submit {
  width: 244px; }
  div.sms_tester_form div.clear_and_submit #send_sms {
    width: 172px; }
  div.sms_tester_form div.clear_and_submit .can-not-submit-link-quest {
    text-align: right;
    float: right;
    clear: both;
    width: auto;
    max-width: 170px; }
