#send-sms-section>.tableRow>.tableCell:first-child {
  vertical-align: top;
  width: 70px;
}

#send-sms-section>.tableRow>.tableCell>textarea{
   width: 615px;
}

#send-sms-section>.tableRow>.tableCell>select{
   width: 205px;
}