/*
Syntax error: Invalid CSS after "...er-radius: 0px;": expected "}", was "<<<<<<< HEAD"
        on line 10 of ./datawinners/media/css/scss/submission_log.scss

5: #action_menu {
6:   width: 100px;
7:   ul {
8:     min-width: 100px;
9:     border-radius: 0px;
10: <<<<<<< HEAD
11: =======
12:   }
13:   LI > A:hover,
14:   LABEL:hover {
15:     background-color: #E6F0F5;

Backtrace:
./datawinners/media/css/scss/submission_log.scss:10
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/scss/parser.rb:1130:in `expected'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/scss/parser.rb:1066:in `expected'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/scss/parser.rb:1061:in `tok!'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/scss/parser.rb:519:in `block'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/scss/parser.rb:512:in `ruleset'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/scss/parser.rb:574:in `declaration_or_ruleset'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/scss/parser.rb:1104:in `call'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/scss/parser.rb:1104:in `rethrow'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/scss/parser.rb:575:in `declaration_or_ruleset'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/scss/parser.rb:537:in `block_child'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/scss/parser.rb:529:in `block_contents'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/scss/parser.rb:518:in `block'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/scss/parser.rb:512:in `ruleset'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/scss/parser.rb:536:in `block_child'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/scss/parser.rb:529:in `block_contents'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/scss/parser.rb:70:in `stylesheet'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/scss/parser.rb:27:in `parse'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/engine.rb:342:in `_to_tree'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/engine.rb:315:in `_render'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/engine.rb:262:in `render'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/plugin/compiler.rb:340:in `update_stylesheet'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/plugin/compiler.rb:202:in `update_stylesheets'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/plugin/compiler.rb:200:in `each'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/plugin/compiler.rb:298:in `watch'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/vendor/listen/lib/listen/multi_listener.rb:95:in `initialize_adapter'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/vendor/listen/lib/listen/adapters/polling.rb:31:in `start'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/vendor/listen/lib/listen/adapters/polling.rb:31:in `initialize'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/vendor/listen/lib/listen/adapters/polling.rb:31:in `new'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/vendor/listen/lib/listen/adapters/polling.rb:31:in `start'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/vendor/listen/lib/listen/multi_listener.rb:44:in `start'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/plugin/compiler.rb:306:in `watch'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/plugin.rb:107:in `send'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/plugin.rb:107:in `method_missing'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/exec.rb:431:in `watch_or_update'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/exec.rb:302:in `process_result'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/Users/twer/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/sass:8
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...er-radius: 0px;\": expected \"}\", was \"<<<<<<< HEAD\"\A         on line 10 of ./datawinners/media/css/scss/submission_log.scss\A \A 5: #action_menu {\A 6:   width: 100px;\A 7:   ul {\A 8:     min-width: 100px;\A 9:     border-radius: 0px;\A 10: <<<<<<< HEAD\A 11: =======\A 12:   }\A 13:   LI > A:hover,\A 14:   LABEL:hover {\A 15:     background-color: #E6F0F5;"; }
