td.dataTables_empty div.help_accordion {
  display: inline; }

.link, #submission_logs a, #submission_logs a:hover {
  color: #0070AC; }

.checkbox_col {
  width: 30px; }

#filters {
  height: 35px; }

#submission_logs .ui-state-default {
  font-weight: normal; }
#submission_logs .ui-tabs-nav {
  padding-left: 0px;
  padding-right: 0px; }
#submission_logs #tabs.ui-widget-content {
  border: none;
  background: none;
  font-family: "Helvetica", Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 14px; }
  #submission_logs #tabs.ui-widget-content li.ui-state-default {
    background: none;
    border: none;
    color: #000;
    margin: 0px 0px 0px 0px; }
    #submission_logs #tabs.ui-widget-content li.ui-state-default > a:hover {
      background: #F0F0F0; }
    #submission_logs #tabs.ui-widget-content li.ui-state-default > a.tab-separator, #submission_logs #tabs.ui-widget-content li.ui-state-default a.tab-separator:hover {
      background: none;
      color: #525252; }
  #submission_logs #tabs.ui-widget-content li.ui-state-active > a, #submission_logs #tabs.ui-widget-content li.ui-state-active a:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#3d3d3d));
    background: -moz-linear-gradient(top, #525252, #262626);
    background-color: #525252;
    color: #fff; }
  #submission_logs #tabs.ui-widget-content .ui-widget-header {
    background: none;
    border-bottom: 4px solid #525252 !important; }

.import_link {
  color: #0070AC !important; }
