td.dataTables_empty div.help_accordion{display: inline}
ul.ui-autocomplete{
  max-height: 200px;
  overflow-y: auto;
}

.link {
  color: #0070AC;
}

.checkbox_col {
  width: 30px;
}

#filters{
  height: 35px;
}

#submission_logs {
  .ui-state-default {
    font-weight: normal;
  }
  a, a:hover {
    @extend .link;
  }
  tr, td {
  }
  .ui-tabs-nav {
    padding-left: 0px;
    padding-right: 0px;
  }
  #tabs.ui-widget-content {
    border: none;
    background: none;
    font-family: "Helvetica", Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 14px;;

    li.ui-state-default{
      background: none;
      border: none;
      color:#000;
      margin: 0px 0px 0px 0px;
      > a:hover{
          background: #F0F0F0;
      }
      >a.tab-separator, a.tab-separator:hover{
        background: none;
        color: #525252;
      }
    }

    li.ui-state-active{
      >a, a:hover{
        background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#3D3D3D));
        background: -moz-linear-gradient(top, #525252, #262626);
        background-color: #525252;
        color:#fff;
      }
    }

    .ui-widget-header{
      background: none;
      border-bottom: 4px solid #525252 !important;
    }
  }
}
.import_link {
  color: #0070AC !important;
}

#search_text{
  width:173px !important;
}

.qq-upload-fail,.qq-upload-list {
    display: none;
}


.dialog_cancel_button{
  margin-right: 15px;
}

.large-submission-msg{
  display: inline-block;
  padding-right: 5px;
}

#export-warning{
  margin-left: 0px;
}
