.link {
  color: #0070AC;
}

#action_menu {
  width: 100px;
  ul {
    min-width: 100px;
    border-radius: 0px;
  }
  LI > A:hover,
  LABEL:hover {
    background-color: #E6F0F5;
    color: #000;
    cursor: pointer;
  }
}

#submission_logs {
  .ui-state-default {
    font-weight: normal;
  }
  a, a:hover {
    @extend .link
  }
  tr, td {
    background: none;
  }
  .export_link {
    @extend .link
  }
  .ui-tabs-nav {
    padding-left: 0px;
    padding-right: 0px;
  }
  #tabs.ui-widget-content {
    border: none;
    background: none;
    font-family: "Helvetica", Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 14px;;

    li.ui-state-default{
      background: none;
      border: none;
      color:#000;
      margin: 0px 0px 0px 0px;
      > a:hover{
          background: #F0F0F0;
      }
      >a.tab-separator, a.tab-separator:hover{
        background: none;
        color: #525252;
      }
    }

    li.ui-state-active{
      >a, a:hover{
        background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#3D3D3D));
        background: -moz-linear-gradient(top, #525252, #262626);
        background-color: #525252;
        color:#fff;
      }
    }

    .ui-widget-header{
      background: none;
      border-bottom: 4px solid #525252 !important;
    }
  }
}

#submission_logs.narrow_first_col {
  thead th:first-child{
    width: 20px !important;
    padding: 6px;
    vertical-align: middle !important;
  }
  td:first-child {
    min-width: 20px !important;
  }
}

#none-selected .dropdown-panel{
  display: inline-table;
}