#submission_logs {
  tr, td {
    background: none;
  }
  #tabs.ui-widget-content {
    border: none;
    background: none;
    color: #fff;
    font: 13px/1.5 'Helvetica', Arial, 'Liberation Sans', FreeSans, sans-serif;
    a:hover {
      color: #0070AC
    }
  }
  #page_hint {
    >div {
      display: none;
    }
    div:first-child {
      display: block;
    }
  }

  tbody td:first-child{
    min-width: 15px !important;
  }
}