#submission_logs {
  tr, td {
    background: none;
  }
  #tabs.ui-widget-content {
    border: none;
    background: none;
    color: #fff;
    font: 13px/1.5 'Helvetica', Arial, 'Liberation Sans', FreeSans, sans-serif;
    a, a:hover {
      color: #0070AC
    }
  }
}