.padding_right_null{
    padding-right:0 !important;
}
.padding_left_null{
    padding-left:0 !important;
}
.padding_top_null{
    padding-top:0 !important;
}
.padding_bottom_null{
    padding-bottom:0 !important;
}
.padding_10{
    padding:10px !important;
}
.padding_top_20 {
    padding-top:20px !important;
}

.padding_top_10 {
    padding-top:10px !important;
}

/* Margin Null */
.margin_right_null{
    margin-right:0 !important;
}
.margin_right_10{
    margin-right:10px!important;
}

.margin_left_null{
    margin-left:0 !important;
}
.margin_top_null{
    margin-top:0 !important;
}
.margin_bottom_null{
    margin-bottom:0 !important;
}
.margin_null{
    margin:0 !important;
}
.margin_20{
    margin:20px !important;
}
.margin_top_20{
    margin-top:20px !important;
}
.margin_bottom_20{
    margin-bottom:20px !important;
}
.margin_bottom_10{
    margin-bottom:10px !important;
}
.margin_top_50 {
    margin-top:50px !important;
}
.margin_bottom_5{
    margin-bottom:5px !important;
}
.margin_top_10{
    margin-top:10px !important;
}
.margin_top_5{
    margin-top:5px !important;
}
.margin_left_10{
    margin-left:10px !important;
}
.margin_left_20{
    margin-left:20px !important;
}

/* Float styling */
.float_left{
    float:left;
}
.float_right{
    float:right;
}
/* Border Styles */
.null_border{
    border:0px !important;
}

/*Text alignments*/
.text_align_right{
    text-align:right;
}
.text_align_center{
    text-align:center;
}

/* Text Styles */
.bold{
    font-weight:bold;
}
.italic{
    font-style:italic;
}

/* Tooltip */
div.tooltip {
	display:none;
    background: url(/media/images/help_arrow.png) no-repeat 4px bottom;
    padding-left:10px !important;
    padding-bottom:7px !important;
    margin: 0 !important;
    border: none !important;
    z-index:9000;
	p{
        background:#000 !important;
        font-size:12px !important;
        font-weight:normal !important;
        font-style:normal !important;
        text-align:left !important;
        height:auto;
        width:320px;
        padding:15px !important;
        margin:0 !important;
        color:#fff !important;
        border:2px solid #FFD857 !important;
        border-radius:5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
	}
}
div.tooltip.bottom {
  background: url(/media/images/help_arrow_bottom.png) no-repeat 4px top;
  padding-bottom:0 !important;
  padding-top:5px !important;
}
span.tooltip{
    background: url(/media/images/help_arrow.png) no-repeat left bottom;
    height:20px;

}
.help_arrow{
    background: url(/media/images/help_arrow.png) no-repeat left bottom;
}

.font_size_14{
    font-size: 14px;
}

.margin_top_50{
    margin-top: 50px !important;
}

.margin_top_30{
    margin-top: 30px !important;
}

.none{
    display:none;
}

.padding_left_10{
    padding-left: 10px !important;
}

.padding_right_10{
    padding-right: 10px !important;
}
