{% extends 'layout_application.html' %}
{% load i18n %}
{% block page_title %}{% trans "Data Senders" %}{% endblock %}

{% block section_title %}
{% trans "Data Senders" %}

<span class="title_links">
     <a id="register_link" class="float_right add_subject_link" href="{% url datawinners.entity.views.create_datasender %}">
        {% trans "Add a data sender" %}
     </a>
    <img src="/media/images/help_icon.png" class="help_icon" style="margin-top:-6px;">
    <div class="tooltip">
        <p>
        <strong>{% trans "What is this?" %}</strong><br />
        {% trans "q_all_datasenders_add_manually" %}
        <br /><br />
        <strong>{% trans "What do I need to do?" %}</strong><br />
        {% trans "r_all_datasenders_add_manually" %}
        </p>
    </div>
</span>
{% endblock %}

{% load dw_tabs %}
{% block body %}
    {% activetab "main_nav" "data_senders" %}
    {{ block.super }}
{% endblock %}


{% block page_css %}
    {{ block.super }}
    <link href="/media/javascript/file_uploader/fileuploader.css" rel="stylesheet"/>
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/datasenders/index.js"></script>
    <script type="text/javascript" src="/media/javascript/file_uploader/fileuploader.js"></script>

{% endblock %}

{% load i18n %}
{% block content %}
    <div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="error {{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if grant_web_access %}
            <div id="flash-message" class="success-message-box">
                {% trans "Access to Web Submission has been given to your DataSenders" %}
            </div>
        {% endif %}
        <div class="import_subject_form">
            <div id="file-uploader">
                <noscript>
                    <p>{% trans "Please enable JavaScript to use file uploader." %}</p>
                    <!-- or put a simple form for upload here -->
                </noscript>
                <h6>{% trans "Upload a CSV or a XL file" %}</h6>
                <div id="file_uploader" class="float_left"></div><img src="/media/images/help_icon.png" class="help_icon" style="margin-top:6px;">
                <div class="tooltip"><p>
                    <strong>{% trans "What is this?" %}</strong><br />
                    {% trans "q_all_datasenders_import" %}
                    <br /><br />
                    <strong>{% trans "What do I need to do?" %}</strong><br />
                    {% trans "r_all_datasenders_import" %}
                </p></div>
                <div class="clear"></div>
            </div>
            <div class="error">{% trans "Use this "%}<a href="/media/files/{% if current_language == 'en' %}DataWinners_ImportDataSenders.xls{% else %}DataWinners_ImporterLesEnvoyeursDeDonnees.xls{% endif %}">{% trans "Import Template"%}</a></div>
            <div id='error_table'>
                <table class="styled_table">
                    <thead>
                    <th>{% trans "Row Number" %}</th>
                    <th>{% trans "Row" %}</th>
                    <th>{% trans "Error" %}</th>
                    </thead>
                    <tbody id='error_tbody'>

                    </tbody>
                </table>
            </div>
        </div>
        <div id='all_project_block'>
            <ul class="margin_bottom_20" id="all_projects">
            {% for project in projects %}
               <li><input value="{{ project.id }}" type="checkbox" />{{ project.value.name }}</li>
            {% endfor %}
            </ul>
            <a href="#" class="cancel_link" >{% trans "Cancel" %}</a>
            <a href="#" class="button">{% trans "Confirm" %}</a>
        </div>
        <div id="web_user_block">
            <div class="italic">{% trans "Enter each data sender's email address below. Each can submit data via the internet" %}</div>
            <div class="message-box" id="web_user_error" style="display: none;"></div>
            <table id="web_user_table">
                <thead>
                <th>{% trans "Reporter ID" %} </th>
                <th>{% trans "Name" %} </th>
                <th>{% trans "Location" %} </th>
                <th>{% trans "Contact" %} </th>
                <th>{% trans "Email" %} *</th>
                </thead>
                <tbody id="web_user_table_body">

                </tbody>
               </table>
            <a href="#" class="cancel_link" >{% trans "Cancel" %}</a>
            <a href="#" class="button" id="web_user_button">{% trans "Give Access" %}</a>
        </div>
        <label class="inline margin_left_20">{% trans "Actions:" %} </label>
        <select id='action'>
            <option value="">--</option>
            <option value="associate">{% trans "Add to project" %}</option>
            <option value="disassociate">{% trans "Remove from project" %}</option>
            <option value="makewebuser">{% trans "Give Web Submission Access" %}</option>
        </select>
        {% if all_data %}
            <h3 class="margin_top_20">{% trans "All Data Senders" %}</h3>
            {% include 'entity/datasenders_table.html' %}

        {% endif %}
    </div>
{% endblock %}
