{% extends 'layout_application.html' %}
{% load i18n %}
{% block page_title %}{% trans "Subjects" %}{% endblock %}

{% block section_title %}{% trans "Subjects" %}
<span class="title_links">
     <a id="register_link" class="float_right add_subject_link" href="{% url datawinners.entity.views.create_subject %}">{% trans "Add a Subject" %}</a><img src="/media/images/help_icon.png" class="help_icon" style="margin-top:-6px;">
    <div class="tooltip">
        <p>
            <strong>{% trans "What is this?" %}</strong><br />
            {% trans "Add subjects one-by-one using the online registration form" %}<br /><br />
            <strong>{% trans "What do I need to do?" %}</strong><br />
            {% trans 'Click the blue "Add a subject" link and follow the step-by-step instructions' %}
        </p>
    </div>
</span>
{% endblock %}

{% load dw_tabs %}
{% block body %}
    {% activetab "main_nav" "subjects" %}
    {{ block.super }}
{% endblock %}

{% block page_css %}
    {{ block.super }}
    <link href="/media/javascript/file_uploader/fileuploader.css" rel="stylesheet"/>
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_subjects.scss" rel="stylesheet"/>
    <link href="/media/css/scss/section_all_subjects.scss" rel="stylesheet"/>
{% endblock %}


{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/subjects/index.js"></script>
    <script type="text/javascript" src="/media/javascript/file_uploader/fileuploader.js"></script>
{% endblock %}

{% load i18n %}
{% block content %}
    <div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="error {{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="import_subject_form">
            <div id="file-uploader">
                <noscript>
                    <p>{% trans "Please enable JavaScript to use file uploader." %}</p>
                    <!-- or put a simple form for upload here -->
                </noscript>
                <h6>{% trans "Upload a CSV or a XL file" %}</h6>

                <div id="file_uploader" class="float_left"></div><img src="/media/images/help_icon.png" class="help_icon" style="margin-top:6px;">
                <div class="tooltip"><p>
                    <strong>{% trans "What is this?" %}</strong><br />
                    {% trans "q_all_subjects" %}
                    <br /><br />
                    <strong>{% trans "What do I need to do?" %}</strong><br />
                    {% trans "r_all_subjects" %}
                </p></div>
                <div class="clear"></div>
            </div>
            <div class="error">Don't know the format? Download <a href="/media/files/{% if current_language == 'en' %}DataWinners_ImportSubjects.xls {% else %}DataWinners_ImporterLesSujets.xls{% endif %}">here</a></div>
            <div id='error_table'>
                <table class="styled_table">
                    <thead>
                    <th>{% trans "Row Number" %}</th>
                    <th>{% trans "Row" %}</th>
                    <th>{% trans "Error" %}</th>
                    </thead>
                    <tbody id='error_tbody'>

                    </tbody>
                </table>
            </div>
        </div>
        {% if all_data %}
            <h3>{% trans "All Subjects" %}</h3>
            {% include 'subject_table.html' %}
        {% endif %}
    </div>
{% endblock %}
