{% extends 'layout_application.html' %}

{% block page_title %} Add a Data Sender {% endblock %}
{% block section_title %} Add a Data Sender{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/fade_message_out.js"></script>
    <script type="text/javascript" src="/media/javascript/jquery_autocomplete/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="/media/javascript/project/register_reporter.js"></script>
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/css/scss/section_register.scss" media="screen">
{% endblock %}

{% block page_css %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/css/plugins/jquery_autocomplete/jquery.autocomplete.css" media="screen">
{% endblock %}


{% load dw_tabs %}
{% block main_navigation %}
{% activetab "main_nav" "collectors" %}
{{ block.super }}
{% endblock %}

{% block content %}
   <div id="add_data_sender_form" class="">
    {% include "datasender_form.html" %}
   </div>
{% endblock %}
