{% extends 'layout_application.html' %}
{% load i18n %}
{% block page_title %} {% trans "Add A Data Sender" %} {% endblock %}
{% block section_title %} {% trans "Add A Data Sender" %}{% endblock %}

{% load dw_tabs %}
{% block body %}
    {% activetab "main_nav" "data_senders" %}
    {{ block.super }}
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/jquery_autocomplete/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="/media/javascript/project/register_reporter.js"></script>
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_register_entity.scss" rel="stylesheet" />
    <link href="/media/css/scss/section_datasenders_common.scss" rel="stylesheet" />
{% endblock %}

{% block page_css %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/css/plugins/jquery_autocomplete/jquery.autocomplete.css" media="screen">
{% endblock %}


{% load dw_tabs %}
{% block main_navigation %}
{% activetab "main_nav" "collectors" %}
{{ block.super }}
{% endblock %}

{% block content %}
   <div id="add_data_sender_form" class="">
    {% include "datasender_form.html" %}
   </div>
{% endblock %}
