{% extends 'project/tab_navigation.html' %}
{% load i18n %}
{% block page_title %} {% trans "Data Analysis" %} {% endblock %}

{% load dw_tabs %}
{% block navigation %}
    {% activetab "tab_nav" "data" %}
    {{ block.super }}
{% endblock %}

{% block page_meta %}
    {% include 'page_refresh_meta.html' %}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "questionnaires" %}
    {{ block.super }}
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/jquery-dropdown/jquery.dropdown.js"></script>
    <script type="text/javascript" src="/media/javascript/file_uploader/fileuploader.js"></script>
{#    <script type="text/javascript" src="/media/javascript/jquery_pagination/jquery.pagination.js"></script>#}
    <script type="text/javascript" src="/media/javascript/csrf_token_handler.js"></script>
    <script type="text/javascript" src="/media/javascript/data_tables/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/media/javascript/jquery.sprintf.js"></script>
    <script type="text/javascript" src="/media/javascript/warning_dialog.js"></script>
    <script type="text/javascript" src="/media/javascript/help_accordion.js"></script>
    <script src="/media/javascript/data_tables/js/dw_pagination_plugin.js"></script>
    <script type="text/javascript" src="/media/javascript/project/analysis.js"></script>
    <script type="text/javascript" src="/media/javascript/project/submission_analysis.js"></script>
    <script type="text/javascript" src="/media/javascript/project/data_analysis_chart_view.js"></script>
        <script type="text/javascript" src="/media/javascript/project/data_help_img.js"></script>
    <script type="text/javascript" src="/media/javascript/monthly_date_picker/month-picker.js"></script>
    <script type="text/javascript" src="/media/javascript/custom_select_box.js"></script>
    <script type="text/javascript" src="/media/javascript/dateRangePicker/js/daterangepicker.jQuery.custom.js"></script>
    <script type="text/javascript" src="/media/javascript/dropdown_check_list/dropdownchecklist.custom.js"></script>
    <script type="text/javascript" src="/media/javascript/datepicker.{% trans "en" %}.js"></script>
    <script type="text/javascript" src="/media/javascript/project/filter/filters.js"></script>
    <script type="text/javascript" src="/media/javascript/project/filter/json2form.js"></script>
    <script src="/media/javascript/data_tables/js/dw_pagination_plugin.js"></script>
    <script src="/media/javascript/data_tables/js/dwtable.js"></script>
    <script type="text/javascript" src="/media/javascript/dw_dialog.js"></script>
    <script src="/media/javascript/project/colorShadeGenerator.js"></script>
    <script type="text/javascript" src="/media/javascript/project/submission_results.js"></script>
    <script type="text/javascript" src="/media/javascript/project/submission_analysis.js"></script>
    <script type="text/javascript" src="/media/javascript/project/submission_analysis_index.js"></script>
    <script type="text/javascript" src="/media/javascript/project/import_submission.js"></script>
    <script type="text/javascript" src="/media/javascript/project/submission_log_actions.js"></script>
    <script type="text/javascript" src="/media/javascript/flot/excanvas.min.js"></script>
    <script type="text/javascript" src="/media/javascript/flot/jquery.flot.min.js"></script>
    <script type="text/javascript" src="/media/javascript/flot/jquery.flot.valuelabel.js"></script>
    <script type="text/javascript" src="/media/javascript/flot/jquery.flot.pie.min.js"></script>

{% endblock %}


{% block page_css %}
    {{ block.super }}
    <link href="/media/css/plugins/jquery_pagination/pagination.css" media="screen" rel="stylesheet"/>
    <link href="/media/javascript/dateRangePicker/css/ui.daterangepicker.css" rel="stylesheet"/>
    <link href="/media/javascript/dateRangePicker/css/ui-lightness/jquery-ui-1.8.12.custom.css" rel="stylesheet"/>
    <link href="/media/css/scss/import_popup.css" rel="stylesheet">
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/javascript/project/css/data_analysis_chart.css"   rel="stylesheet"/>
    <link href="/media/javascript/jquery-dropdown/jquery.dropdown.css" rel="stylesheet"/>
    <link href="/media/css/scss/util.css" rel="stylesheet"/>
    <link href="/media/css/scss/submission_log.css" media="screen" rel="stylesheet"/>
    <link href="/media/css/scss/section_data_full_width.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet"/>
    <link href="/media/css/scss/form.css" rel="stylesheet"/>
    <link href="/media/css/plugins/jqueryUI/ie-hacks.css" rel="stylesheet"/>
    <link href="/media/css/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/media/javascript/data_tables/css/dwtable.css" rel="stylesheet"/>
    <link href="/media/javascript/project/css/data_analysis.css" rel="stylesheet"/>
    <link href="/media/css/scss/analysis_view.css" rel="stylesheet"/>
    <link href="/media/css/scss/import_submission.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_filter.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    {% load compress %}
    {% compress js %}
        <script type="text/javascript">
            var user_email = '{{ user_email }}';
            var organization_name = '{{ organization_name }}';
            var entity_type = '{{ entity_type }}';
            var headerUrl = '/project/analysis/{{ questionnaire_code }}/headers';
            var preferenceUrl = '/project/analysis/{{ questionnaire_code }}/preferences';
            var dataUrl = '/project/analysis/{{ questionnaire_code }}';;
            var render_table_url = '/project/submissions/{{ questionnaire_code }}';
            var analysis_stats_url = '/project/submissions/{{ questionnaire_code }}/analysis'
            var project_id = '{{ project.id }}';
            var import_template_url = "{% url import_template 'form_code' %}?filename=<project_name>";
            var import_submission_url = "{% url import_submissions 'form_code'%}";
            DW.help_url = "https://www.datawinners.com/{% trans 'wp_language' %}/find-answers-app/category/analysis/?template=help";
            $(document).ready(function() {
                $("#page_title").addClass("full_width");
                $("#need_help_link").addClass("margin_right_20");
{#                $("#need_help_button").addClass("margin_top_minus_106");#}
                $("#need_help_active_button").addClass("margin_top_minus_112");
            });
        </script>
    {% endcompress %}

    <section class="analysis_header">
        {% block secondary_navigation_data %}
            {% activetab "secondary_tab_nav" "analysis" %}
            {{ block.super }}
        {% endblock %}
        {% include 'project/partials/_page_header.html' with title="Analysis" help_message='Analyze your successful submissions' %}
{#        <div id="page_hint" class="help_accordion margin_top_15 display_none">#}
{#            <div>{% trans "Analyze your successful submissions" %}</div>#}
{#        </div>#}
    {% include "project/submission_filters.html" %}
    <div class="view_data_block grid_23 alpha">
        <div style="width: 100%;float: left;">
            <div class="grid_12 show_data_block alpha" id="chart_info"></div>
            <div class="view_style_block">
                <label>{% trans "View:" %}</label>
                <ul>
                    <li id="table_view_option" class="active list list-view-icon"><a>{% trans "List" %}</a></li>
                    {% if not project.xform %}
                        <li id="chart_view_option" class="chart chart-view-icon"><a>{% trans "Chart" %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div id="chart_info_2"></div>
    </div>
        <div id="chart_ol" style="display: none;" class="chartOl" ></div>
        <div id="submission_logs" class="grid_23 alpha">
            {% include 'project/analysis_table.html' %}
        </div>
    </section>
{% endblock %}
