{% extends 'project/tab_navigation.html' %}
{% load i18n %}
{% block page_title %} {% trans "Data Analysis" %} {% endblock %}

{% load dw_tabs %}
{% block navigation %}
    {% activetab "tab_nav" "data" %}
    {{ block.super }}
{% endblock %}

{% block page_meta %}
    {% include 'page_refresh_meta.html' %}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "questionnaires" %}
    {{ block.super }}
{% endblock %}

{% block page_css %}
    {{ block.super }}
    <link href="/media/javascript/dateRangePicker/css/ui.daterangepicker.css" rel="stylesheet"/>
    <link href="/media/javascript/dateRangePicker/css/ui-lightness/jquery-ui-1.8.12.custom.css" rel="stylesheet"/>
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/javascript/project/css/data_analysis_chart.css" rel="stylesheet"/>
    <link href="/media/javascript/jquery-dropdown/jquery.dropdown.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_data_full_width.css" rel="stylesheet"/>
    <link href="/media/css/plugins/jqueryUI/ie-hacks.css" rel="stylesheet"/>
    <link href="/media/javascript/data_tables/css/dwtable.css" rel="stylesheet"/>
    <link href="/media/css/scss/analysis_view.css" rel="stylesheet"/>
    <link href="/media/css/scss/import_submission.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_filter.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    {% load compress %}
    {% compress js %}
        <script type="text/javascript">
            var user_email = '{{ user_email }}';
            var organization_name = '{{ organization_name }}';
            var entity_type = '{{ entity_type }}';
            var has_chart = '{{ has_chart }}';
            var preferenceUrl = '/project/analysis/{{ questionnaire_code }}/preferences';
            var dataUrl = '/project/analysis/{{ questionnaire_code }}';
            var render_table_url = '/project/submissions/{{ questionnaire_code }}';
            var analysis_stats_url = '/project/submissions/{{ questionnaire_code }}/analysis'
            var project_id = '{{ project.id }}';
            var import_template_url = "{% url import_template 'form_code' %}?filename=<project_name>";
            var import_submission_url = "{% url import_submissions 'form_code'%}";
            DW.help_url = "https://www.datawinners.com/{% trans 'wp_language' %}/find-answers-app/category/analysis/?template=help";
            $(document).ready(function () {
                $("#page_title").addClass("full_width");
                $("#need_help_link").addClass("margin_right_20");
                $("#need_help_button").addClass("analysis-help-btn");
                $("#need_help_active_button").addClass("margin_top_minus_112");
            });
        </script>
    {% endcompress %}

    <section class="analysis_header">
        {% block secondary_navigation_data %}
            {% activetab "secondary_tab_nav" "analysis" %}
            {{ block.super }}
        {% endblock %}

        <a href="{% url predict project.id questionnaire_code %}">Predict Ratings</a>

        <div class="heading_block alpha data_ana border_none">
            {% include "project/export_and_import_options.html" %}
        </div>

        {% include 'project/partials/_page_header.html' with title=_("Analysis") help_message=_("Analyze your successful submissions") %}

        {% include "project/submission_filters.html" %}

        <div class="analysis-ajax-loader"><img src="/media/images/ajax-loader.gif"/></div>

        <div class="data-widget">
            <div class="data-table-icons">
                <span id="customize-btn">{% trans "Customize View" %}</span>

                <ul>
                    <li id="table_view_option" class="list-view-icon active"><a>{% trans "List" %}</a></li>
                    {% if has_chart %}
                        <li id="chart_view_option" class="chart-view-icon"><a>{% trans "Chart" %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        {% include 'project/analysis_table.html' %}

        <div class="grid_12 show_data_block alpha" id="chart_info"></div>
        <div id="chart_info_2"></div>
        <div id="chart_ol" style="display: none;" class="chartOl"></div>

    </section>
    {% include "project/export_submission.html" %}
    {% include "project/import_submission.html" %}
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/jquery-dropdown/jquery.dropdown.js"></script>
    <script type="text/javascript" src="/media/javascript/file_uploader/fileuploader.js"></script>
    <script type="text/javascript" src="/media/javascript/data_tables/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/media/javascript/help_accordion.js"></script>
    <script type="text/javascript" src="/media/javascript/data_tables/js/dw_pagination_plugin.js"></script>
    <script type="text/javascript" src="/media/javascript/csrf_token_handler.js"></script>
    <script type="text/javascript" src="/media/javascript/common/util.js"></script>
    <script type="text/javascript" src="/media/javascript/project/analysis.js"></script>


    <script type="text/javascript" src="/media/javascript/project/data_analysis_chart_view.js"></script>
    <script type="text/javascript" src="/media/javascript/dateRangePicker/js/daterangepicker.jQuery.custom.js"></script>
    <script type="text/javascript" src="/media/javascript/monthly_date_picker/month-picker.js"></script>
    <script type="text/javascript" src="/media/javascript/datepicker.{% trans "en" %}.js"></script>
    <script type="text/javascript" src="/media/javascript/project/filter/filters.js"></script>
    <script type="text/javascript" src="/media/javascript/project/filter/json2form.js"></script>
    <script type="text/javascript" src="/media/javascript/project/colorShadeGenerator.js"></script>



    <script type="text/javascript" src="/media/javascript/project/import_submission.js"></script>
    <script type="text/javascript" src="/media/javascript/project/submission_log_actions.js"></script>
    <script type="text/javascript" src="/media/javascript/project/submission_results.js"></script>
    <script type="text/javascript" src="/media/javascript/flot/jquery.flot.min.js"></script>
    <script type="text/javascript" src="/media/javascript/flot/jquery.flot.pie.min.js"></script>
    <script>
        function resize_iframe(event) {
            $("#help_iframe").height(event.data);
        }
    </script>
{% endblock %}
