{% load i18n %}
<div id="message_text" style="display: none">
    {% if  success_message  %}
        <div class="success-message-box">{{ success_message }}</div>
    {% endif %}
</div>


<div class="data-widget">
    <div class="data-table-icons">
        <div id="cust-icon" title="List View Customization"><span class="customization-icon"></span><span class="customization-title">Settings</span></div>
    </div>
    <div class="grid_23 alpha omega analysis_tbl_wrapper">
        <table id="analysis_table" class="dataTable display">
        </table>
    </div>

    <div class="customization-widget">
        <form id="customization-form">
            <span class="customization-widget-close"></span>
            <div class="select-menu">
                   <div class="select-menu-box">
                       Select :
                       <span class="select-all">All</span>
                       <span class="select-menu-separator">|</span>
                       <span class="select-none">None</span>
                   </div>
            </div>
            <div class="customization-menu">

            </div>
	    </form>
    </div>
    
</div>
<div class="customization-overlay">

</div>
<div id="analysis_table_empty" class="warning-message-box clear-left empty-table hide">
	<p>
	{% trans 'No column selected to display' %}
	</p>
</div>
