{% load i18n %}
{% load dw_tabs %}

{% block page_js %}
    <script type="text/javascript" src="/media/javascript/flot/excanvas.min.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/all_datasender_reload_tables.js"></script>
    <script type="text/javascript" src="/media/javascript/datasenders/index.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/entity_actions.js"></script>
    <script type="text/javascript" src="/media/javascript/datasenders/device_tool_tips.js"></script>
    <script language="javascript" type="text/javascript" src="/media/javascript/flot/jquery.flot.min.js"></script>
    <script language="javascript" type="text/javascript" src="/media/javascript/flot/jquery.flot.fillbetween.min.js"></script>
    <script language="javascript" type="text/javascript" src="/media/javascript/flot/jquery.flot.pie.min.js"></script>
    <script language="javascript" type="text/javascript" src="/media/javascript/flot/jquery.flot.valuelabel.js"></script>
    <script type="text/javascript">
        var statistics = JSON.parse({{statistics_result|safe}});
    </script>
{% endblock %}

<ol id="chart_ol" style="margin-top: 10px;margin-left: 20px;float: left">
</ol>