{% extends 'project/tab_navigation.html' %}
{% load i18n %}
{% block page_title %}{% trans "Questionnaire - Messages" %} {% endblock %}

{% load dw_tabs %}

{% block navigation %}
    {% activetab "tab_nav" "messages_and_reminders" %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "questionnaires" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_project_overview.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_broadcast_sms.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_reminder.css" rel="stylesheet" />
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet"/>
{% endblock %}


{% block content %}

    {% block secondary_navigation_data %}
        {% activetab "secondary_tab_nav" "send_a_message" %}
        {% include 'project/messages_and_reminders_tabs.html' %}
    {% endblock %}


    <div class="warning-message-box">
        <p>{% trans 'broadcast_trial_warning_message' %}</p>
        {% if user.groups.all.0.name == 'NGO Admins' %}
            <a href="{% url datawinners.accountmanagement.views.upgrade %}" class="button" target="blank">{% trans "Subscribe Now" %}</a>
            <a href="/en/pricing/" class="trial_web_learn_more" target="blank">{% trans "Learn More" %}</a>
        {% else %}
            <a href="/en/pricing/" class="trial_web_learn_more margin_top_null" target="blank">{% trans "Learn More" %}</a>
        {% endif %}

    </div>
{% endblock %}
