{% extends 'project/tab_navigation.html' %}
{% load i18n %}
{% block page_title %}{% trans "Questionnaire - Messages" %} {% endblock %}

{% load dw_tabs %}

{% block navigation %}
    {% activetab "tab_nav" "messages_and_reminders" %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "questionnaires" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_project_overview.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_broadcast_sms.css" rel="stylesheet"/>
    <link href="/media/css/scss/jquery.highlighttextarea.css" rel="stylesheet"/>
    <link href="/media/javascript/jquery-dropdown/jquery.dropdown.css" rel="stylesheet"/>
    <link href="/media/css/scss/action_button.css" media="screen" rel="stylesheet" />
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/jquery.highlighttextarea.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#id_others").highlightTextarea({
                color: "#FCA0A0",
                caseSensitive: false
            });
        });
        DW.ong_country = "{{ ong_country }}";
        var failed_numbers = "{{ failed_numbers }}";
    </script>
    <script type="text/javascript" src="/media/javascript/warning_dialog.js"></script>
    <script type="text/javascript" src="/media/javascript/jquery-dropdown/jquery.dropdown.js"></script>
    <script type="text/javascript" src="/media/javascript/project/broadcast_message.js"></script>
{% endblock %}

{% block content %}
    {% block secondary_navigation_data %}
        {% activetab "secondary_tab_nav" "send_a_message" %}
        {% include 'project/messages_and_reminders_tabs.html' %}
    {% endblock %}

    <div>
        {%if success %}
                <div class="success-message-box">{% trans "SMS sent to telephone company. Upon receipt of delivery confirmation, DataWinners will update the counter on the "%} <a href={% url dashboard %}>{%  trans 'Dashboard'%}</a>.</div>
            {% else %}
                {% if no_smsc %}
                    <div class="message-box">{% trans "Your message could not be sent." %}</div>
                {% else %}
                    {% if failed_numbers %}
                        {% if account_type %}
                            <div class="message-box">{% trans "Your message could not be sent." %}</div>
                        {% else %}
                            <div class="message-box">{% blocktrans%}You cannot send messages to the following number as it is set up to explicitly receive Data Sender Submissions. For more information contact support@datawinners.com: {{ failed_numbers }}.{%endblocktrans%}</div>
                        {% endif %}
                    {% else %}
                {% endif %}
        {% endif %}


        {% endif %}

        <div id="broadcast-form">
            <form method="POST" action="" id="broadcast_sms_form">
                {% csrf_token %}
                <ul>
                    <li class="{{ form.text.css_classes }} form-row-10px">
                        {{ form.text.label_tag }}
                        {{ form.text }}
                        {{ form.text.errors }}
                    </li>

                    <li>
                        <div id="message_count"><span id="messageCount"></span> {% trans "characters used" %}</div>
                    </li>

                    <li class="{{ form.to.css_classes }} form-row-10px">
                        {{ form.to.label_tag }}
                        {{ form.to }}
                        <span id="input_to" class="btn-group">
                            <span class="dropdown-toggle action" data-dropdown="#to_list">
                                <span>&nbsp;</span>
                                <span class="small_grey"> gris</span>
                            </span>
                        </span>
                        <div id="to_list" class="dropdown" >
                            <ul class="dropdown-menu">
                                <li><a id="Associated" href="javascript:void(0);">{% trans "My registered Data Senders linked to this Questionnaire" %} <span class="small_grey"></span></a></li>
                                <li><a id="All" href="javascript:void(0);">{% trans "All registered Data Senders of all Questionnaires" %}  <span class="small_grey"></span></a></li>
                                <li><a id="Additional" href="javascript:void(0);">{% trans "Other People" %}</a></li>
                                <li><a id="AllSubmitted" href="javascript:void(0);">{% trans "All people who submitted data (registered & un-registered)" %} <span class="small_grey"></span></a></li>
                            </ul>
                        </div>
                        {{ form.to.errors }}
                    </li>

                    <li class="{{ form.others.css_classes }} form-row-10px" id="additional_people_column">
                        {{ form.others.label_tag }}
                        {{ form.others }}
                        {{ form.others.errors }}
                        <p class="black_italic">{% trans "Enter local telephone numbers without country codes. Use a comma (,) to separate the numbers." %}</p>
                    </li>

                    <li class="" id="message-submit">
                        
                            <a id="clear_broadcast_sms_form" class="cancel_link"> {% trans "Clear" %} </a>
                            <input id="id_send_broadcast_sms_button" type="submit" value="{% trans "Send" %}" class="button" style="float: none;"/>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <div id="more_people_warning">
        <p class="warning_message">
            {% trans "Do you want to send this message to <span id='number_of_peoples'></span> recipient(s)?"  %}
            <br/><br/>
        </p>
        <div class="text_align_right">
            <a class="no_button cancel_link">{% trans "Don't Send" %}</a>
            <a id="ok_button" class="button yes_button">{% trans "Send" %}</a>
        </div>
    </div>
{% endblock %}
