{% extends 'project/tab_navigation.html' %}
{% load i18n %}
{% block page_title %}{% trans "Project - Messages" %} {% endblock %}

{% load dw_tabs %}

{% block navigation %}
    {% activetab "tab_nav" "send_a_message" %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "projects" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_project_overview.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_broadcast_sms.css" rel="stylesheet"/>
    <link href="/media/css/scss/jquery.highlighttextarea.css" rel="stylesheet"/>
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/jquery.highlighttextarea.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#id_others").highlightTextarea({
                color: "#FCA0A0",
                caseSensitive: false
            });
        });
        DW.ong_country = "{{ ong_country }}";
    </script>
    <script type="text/javascript" src="/media/javascript/project/broadcast_message.js"></script>
{% endblock %}

{% block content %}
    <div>
        {% if success == None %}

        {% else %}
            {%if success %}
                <div class="success-message-box">{% trans "Your message has been sent successfully." %}</div>
            {% else %}
                <div class="message-box">{% trans "Your message could not be sent." %}</div>
            {% endif %}
        {% endif %}

        <div id="broadcast-form">
            <form method="POST" action="" id="broadcast_sms_form">
                {% csrf_token %}
                <ul>
                    <li class="{{ form.text.css_classes }} form-row-10px">
                        {{ form.text.label_tag }}
                        {{ form.text }}
                        {{ form.text.errors }}
                    </li>

                    <li>
                        <div id="message_count"><span id="messageCount"></span> {% trans "characters used" %}</div>
                    </li>

                    <li class="{{ form.to.css_classes }} form-row-10px">
                        {{ form.to.label_tag }}
                        {{ form.to }}
                        {{ form.to.errors }}
                    </li>

                    <li class="{{ form.others.css_classes }} form-row-10px" id="additional_people_column">
                        {{ form.others.label_tag }}
                        {{ form.others }}
                        {{ form.others.errors }}
                        <p class="black_italic">{% trans "Enter local telephone numbers without country codes. Use a comma (,) to separate the numbers." %}</p>
                    </li>

                    <li class="" id="message-submit">
                        
                            <a id="clear_broadcast_sms_form" class="cancel_link"> {% trans "Clear" %} </a>
                            <input id="id_send_broadcast_sms_button" type="submit" value="{% trans "Send" %}" class="button" style="float: none;"/>

                        <!--
                        <div class="float_left margin_left_20 margin_top_10">

                        </div>
                        <div>

                        </div>-->
                    </li>
                </ul>
            </form>
        </div>
    </div>
{% endblock %}
