{% load i18n %}

<script type="text/html" id="choice-template">
    <li>
        <span data-bind="text: val+'.'" class="bullet"></span>
        <input id="choice_text" name="choice_text" class="required" type="text"
               data-bind="value: text, uniqueName: true, valueUpdate: 'keyup'"/>
        <a href="#" class='delete delete_link'
           data-bind="visible: $parent.choiceCanBeDeleted, click:function(){$parent.removeOptionFromQuestion($data)}">{% trans "Delete"%}</a>
    </li>
</script>
