{% load i18n %}

<div>

    <div class="ajax-loader-horizontal" data-bind="fadeVisible: !existingQuestionnaires()">
        <img src="/media/images/ajax-loader-horizontal-bar.gif"/>
    </div>
    <div data-bind="visible: existingQuestionnaires() && existingQuestionnaires().length==0">
        <p>{% trans "You haven't created any Questionnaires yet." %}</p>
    </div>
    <div data-bind="fadeVisible: existingQuestionnaires() && existingQuestionnaires().length">

        <h6 class="instruction-header">{% trans 'Choose an existing Questionnaire and edit it to fit your needs.' %}</h6>

        <div id="existing_questionnaires" class="questionnaire_selection">
            <!-- ko if: existingQuestionnaires -->  <!-- Making use of KO virtual element -->
            <div class="questionnaire_data" data-bind="foreach: existingQuestionnaires">
                <div class="highlight_on_hover" data-bind="text: name, click: $root.selectQuestionnaire,
                        css:{selected: id == $root.selectedQuestionnaireId()}">
                </div>
            </div>
            <!-- /ko -->
        </div>
        <div>
            <div class="ajax-loader" data-bind="visible: showAjaxLoader"><img src="/media/images/ajax-loader.gif"/></div>
            <div class="selected_questions" data-bind="visible: selectedQuestionnaireId, with: selectedQuestionnaire">
                <div id="existing_questions"><h6 class="project-name-header" data-bind="text: projectName"></h6>
                    <ol data-bind="foreach: existingQuestions">
                        <li data-bind="text: $data"></li>
                    </ol>
                </div>
            </div>
        </div>

    </div>

</div>