{% extends 'new_layout_wizard.html' %}
{% load i18n %}
{% block page_title %} {% trans "Create Questionnaire" %}{% endblock %}
{% block section_title %}
    {% include 'need_help.html' %}
    <h2 class="project_title" xmlns="http://www.w3.org/1999/html">{% trans "Collect Data" %}</h2>
{% endblock %}

{% load dw_tabs %}

{% block body %}
    {% activetab "main_nav" "questionnaires" %}
    {{ block.super }}
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript">
        var group_ds_count_url = "{% url group_ds_count %}";
        var registered_ds_count_url = "{% url registered_ds_count %}";
        var send_sms_url = "{% url send-sms%}";
        var sms_popup_page = "create_questionnaire";
        var sms_preview_link = "{{ preview_links.sms_preview }}";
        var questionnaire_code = '{{ questionnaire_code}}';
        var web_preview_link = "{{ preview_links.web_preview }}";
        var smart_phone_preview_link = "{{ preview_links.smart_phone_preview }}";
        var post_url = "{{ post_url }}";
        var project_templates_url = "{% url project_templates %}";
        var existing_questionnaires_url = "{% url existing_questionnaires %}";
        var uniqueIdTypes = {{ unique_id_types|safe }};
        var active_language = "{{ active_language }}";
        var create_poll_url = "{% url create_poll %}";
        var is_active = '{{ is_active }}';
        var is_pro_sms = "{{ is_pro_sms }}";
        var project_active_name = "{{ project_active_name }}";
        var project_active_id = "{{ project_active_id }}";
        var is_poll ='{{ project.is_poll }}';
        var project_id = '{{ project.id }}';
        var message_text = "";
        DW.help_url = "https://www.datawinners.com/{% trans 'wp_language' %}/find-answers-app/category/createq/?template=help";
    </script>

    <script type="text/javascript" src="/media/javascript/dw-ko-validation-extensions.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/questionnaire_helper.js"></script>

    <script type="text/javascript" src="/media/javascript/entity/questionnaire_view_model.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/send_sms.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/poll_questionnaire_view_model.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/project_questionnaire_view_model.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/questionnaire_fetcher.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/questionnaire_creation_options_view_model.js"></script>
    <script type="text/javascript" src="/media/javascript/csrf_token_handler.js"></script>
    <script type="text/javascript" src="/media/javascript/common/form_edited_warning_dialog.js"></script>
    <script type="text/javascript" src="/media/javascript/accordion_dialog.js"></script>
    <script type="text/javascript" src="/media/javascript/dw_dialog.js"></script>
    <script type="text/javascript" src="/media/javascript/project/upload_questionnaire.js"></script>
    <script type="text/javascript" src="/media/javascript/project/add_days.js"></script>
    <script type="text/javascript" src="/media/javascript/project/create_project.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/create_questionnaire.js"></script>
    <script type="text/javascript" src="/media/javascript/project/new_questionnaire_charcount.js"></script>
    <script type="text/javascript" src="/media/javascript/jquery.sprintf.js"></script>
    <script type="text/javascript" src="/media/javascript/warning_dialog.js"></script>
    <script type="text/javascript" src="/media/javascript/project/questionnaire_instruction_and_preview.js"></script>
    <script type="text/javascript"
            src="/media/javascript/project/questionnaire_instruction_and_preview_wizard.js"></script>
    <script type="text/javascript" src="/media/javascript/ko-binding-extensions.js"></script>
    <script type="text/javascript" src="/media/javascript/file_uploader/fileuploader.js"></script>
    <script type="text/javascript" src="/media/javascript/dw_university.js"></script>
{% endblock %}

{% block page_scss %}
    <link href="/media/css/scss/section_questionnaire.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_new_create_project.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet"/>
    <link href="/media/css/scss/smart_phone_instruction.css" rel="stylesheet"/>
    <link href="/media/css/scss/send-sms.css" rel="stylesheet" />
    <link href="/media/css/scss/poll_info.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    {% include 'project/questionnaire_creation_options.html' %}
    {% include 'project/questionnaire_builder.html' %}
{% endblock %}
