{% load i18n %}

<div data-bind="visible: showPollQuestionnaireForm">


    <form id="poll_form">
        {% csrf_token %}
        <div class="questionnaire_form_header clearfix">
            {% include 'project/questionnaire_info_indicator.html' %}
        </div>
        <input id='poll_title' data-bind="inputValue: projectName, value: projectName"/>

        <div class="validationMessage" data-bind="ifnot: projectName.valid">
               <div id="questionnaire_title_validation_message" class="validationText" data-bind="text: projectName.error, scrollToElement: projectName.error"></div>
        </div>
        <br><br>

        <div data-bind="stopBinding: true">
            <div id="poll_questionnaire">
                <label>{%trans 'How Do You Want to Broadcast this Poll?'%}</label>
                <br>
                <div>
                        <div>
                            <span> <input type="radio" id="poll_via_sms" name="poll_via_sms" value="poll_via_sms" data-bind="checked: show_sms"/>
                            {% trans "I want to send this Poll Question via SMS" %}</span>
                        </div>
                        <div class="margin_left_30 italic_grey">
                            <span>{%trans 'This is where we explain that only the Poll recipients will be able to send in data.'%}</span>
                        </div>
                <br>
                </div>
                <div data-bind="visible: show_sms() === 'poll_via_sms'">
                    <label>SMS text</label>
                    <i>Be sure to include your question, answer options and  instructions on how to reply in SMS text.
                    Example: Did you receive your nutrition package? Reply to this SMS with either “yes” or “no”.</i><br>


                    <div data-bind="stopBinding: true">
                            {% include 'send-sms.html' %}
                    </div>

                </div>
                <br>
                <div>
                     <div>
                          <span> <input type="radio" id="poll_via_broadcast" name="poll_via_sms" value="poll_broadcast" data-bind="checked: show_sms"/>
                          {% trans "I will use other means" %} <i>{% trans "(Example: Radio, TV Billboards)"%}</i></span>
                        </div>
                        <div class="margin_left_30 italic_grey">
                            <span class="italic_grey">{% trans ' This is where we explain that anyone can send in data.'%}</span>
                        </div>

                </div>
                <br>

                <div><br>
                    <label> {%trans 'How Long Do Should People be Able to Send in Their Answer?'%}</label>
                    <span class="italic_grey">{% trans 'Short explanation and why we suggest to have a fixed activation period.' %}</span>
                    <a>{% trans " Learn More" %} </a>
                    <br><br>
                    <select data-bind="options: days_active, value: number_of_days" class="dropdown_style"></select> <span> {% trans 'Days' %} </span><br><br>

                    <span class="bold-text">{% trans 'From '%} </span>
                    <span id="from_date_poll"
                                     data-bind="text:from_date_poll"></span>
                        <span class="bold-text">{% trans ' To '%} </span>
                    <span id="to_date_poll"
                                     data-bind="text:to_date_poll"></span>

                </div>
                <br>
                <div class="create_project">
                        <div class="grid_5">
                            <a href="{% url create_project %}?prev=dash" id="back_to_create_options">{% trans "Back" %} </a>
                        </div>
                            <div class="grid_15 float_right" id="send_sms_section">
                                <div class="right_aligned_button">
                                    <a href="{{ cancel_link }}" class="cancel_project" id="cancel_questionnaire">{% trans "Cancel" %} </a>
                                    <input type="button" class="button_wizard_next create_poll_button" id="save_and_create"
                                       data-bind="click: create_poll, disable: disableSendPoll, css: {'ui-state-disabled': disableSendPoll}"
                                       value="{% trans "Save & Create Poll" %}"/>
                                </div>
                            <div class="clear-both"></div>
                        </div>
                </div>
             </div>
         </div>
    </form>

</div>
