    {% extends 'new_layout_wizard.html' %}
{% load i18n %}
{% block page_title %} {% trans "Create Project" %}{% endblock %}
{% block section_title %}
    <h2 class="project_title" xmlns="http://www.w3.org/1999/html">{{ project.name }}</h2>
    <a href="/project/" class="cancel_project">{% trans "Cancel" %}</a>
{% endblock %}

{% load dw_tabs %}

{% block body %}
    {% activetab "main_nav" "projects" %}
    {{ block.super }}
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/entity/questionnaire_view_model.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/create_questionnaire.js"></script>
    <script type="text/javascript">
        var subject_report_questions = $.parseJSON({{subject_report_questions|safe}});
        var activity_report_questions = $.parseJSON({{activity_report_questions|safe}});
        var existing_questions = $.parseJSON({{existing_questions|safe}});
        var sms_preview_link = "{{ preview_links.sms_preview }}";
        var web_preview_link = "{{ preview_links.web_preview }}";
        var smart_phone_preview_link = "{{ preview_links.smart_phone_preview }}";
    </script>
    <script type="text/javascript" src="/media/javascript/csrf_token_handler.js"></script>
    <script type="text/javascript" src="/media/javascript/project/subject_warning_dialog_module.js"></script>
    <script type="text/javascript" src="/media/javascript/project/create_project.js"></script>
    <script type="text/javascript" src="/media/javascript/project/sms_preview.js"></script>
    <script type="text/javascript" src="/media/javascript/project/new_questionnaire_charcount.js"></script>
    <script type="text/javascript" src="/media/javascript/jquery.sprintf.js"></script>
    <script type="text/javascript" src="/media/javascript/warning_dialog.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/questionnaire_helper.js"></script>
    <script type="text/javascript" src="/media/javascript/project/questionnaire_wizard_submit_redirect.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/create_type.js"></script>
    <script type="text/javascript" src="/media/javascript/project/questionnaire_instruction_and_preview.js"></script>
    <script type="text/javascript" src="/media/javascript/project/questionnaire_instruction_and_preview_wizard.js"></script>
    <script type="text/javascript" src="/media/javascript/ko-binding-extensions.js"></script>
    <script type="text/javascript">
        var is_edit = {{ is_edit }};
    </script>
{% endblock %}

{% block page_scss %}
    <link href="/media/css/scss/section_questionnaire.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_new_create_project.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet"/>
    <link href="/media/css/scss/smart_phone_instruction.css" rel="stylesheet" />
{% endblock %}

{% block wizard %}
    <div class="wizard_heading">{% trans "Create your project in a few easy steps." %}</div>
    <div class="line margin_top_5 margin_bottom_10"></div>
    <div class="w_content">
        <p>1. {% trans "Name your project and provide basic information about it." %}</p>

        <p>2. {% trans "Write and edit your questions." %}</p>

        <p>3. {% trans "Save and create your project." %}</p>
    </div>
{% endblock %}


{% block content %}
    <div id="project-message-label" class="message-box none">
    </div>
    <input id='post_url' value="{{ post_url }}" type='hidden'/>
    <form id="create_project_form">
        {% csrf_token %}
        {% include 'project/basic_info.html' %}
    </form>
    <div id="subject_warning_message">
        <p class="warning_message">{% trans "Changing the <span id='changed'>subject type</span> will remove all questions from your questionnaire as well as all your collected data. Are you sure you want to continue?" %}</p>
        <a href="#" class="cancel_link">{% trans "Cancel" %}</a>
        <a href="#" class="button" id="continue">{% trans "Continue" %}</a>
    </div>


    <div id="questionnaire" class="clear_both none">
        <fieldset>
            <legend>2. {% trans "Questions" %}</legend>
        </fieldset>
        <div class="line"></div>
        <p class="black_italic">{% trans "We have provided you with example questions below. You can use the provided question, edit them, delete them or write your own." %}</p>

        <form id="question_form">
            {% csrf_token %}
            <fieldset>
                <div class="questionnaire_form_header clearfix">
                    {% include 'project/questionnaire_code_indicator.html' %}
                    {% include 'project/preview_navigation.html' %}
                </div>
                <div class="questionnare_content grid_23 alpha omega">
                    <div>

                        <div id="questions-panel" class="grid_8 alpha">
                            <h4>{% trans "Questions" %}</h4>

                            <div class="add_question">
                                <a class="add_link" href="#"
                                   data-bind="click: function() { if($('#question_form').valid()) questionnaireViewModel.addQuestion(); DW.close_the_tip_on_period_question(); DW.smsPreview();}">{% trans "Add Another Question" %}</a>
                            </div>
                        <div class="questions" data-bind="scrollToView: enableScrollToView">
                                 <div class="question_list" id="que_code">
                                    <ol data-bind="foreach: questions, sortable: questions" >
                                        <li data-bind="css:{question_selected:$data == $parent.selectedQuestion(),sort: true}, click: function() { if($('#question_form').valid()) $parent.changeSelectedQuestion($data);} ">
                                            <a href="javascript:void(0);" data-bind="text: $data.display"></a>
                                            <div class="action_bar" data-bind='css:{visible:$data == $parent.selectedQuestion()}'>
                                                <a href="javascript:void(0);" class="delete_link"
                                                    data-bind="css: {hidden: !$data.canBeDeleted()}, click: function() {if($('#question_form').valid()){ DW.removeQuestionCheckForSubmission($data); DW.smsPreview();} else {$parent.removeIfQuestionIsSelectedQuestion($data);$('#question_form').valid();} }">{% trans "Delete" %}
                                                </a>
                                                <a data-bind="visible: $index(), click: $parent.moveQuestionUp, clickBubble: false" class="question_action">
                                                    <span class="move-text"><img class="move-image" src="/media/images/arrow_full_up_Blue.png" />{%trans "Move Up" %}</span>
                                                </a>
                                                <a class="question_action move-down" data-bind="visible: $index() < $parent.questions().length-1, click: $parent.moveQuestionDown,clickBubble: false">
                                                    <span class="move-text"><img class="move-image" src="/media/images/arrow_full_down_Blue.png" />{%trans "Move Down" %}</span>
                                                </a>
                                            </div>
                                            <span class="selected_question_arrow"
                                            data-bind="css:{inline:$data == $parent.selectedQuestion()}"></span>
                                            <div class="clear""></div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div class="add_question" data-bind="visible: questionnaireViewModel.questions().length>0">
                                <a class="add_link" href="#"
                                   data-bind="click: function() { if($('#question_form').valid()) questionnaireViewModel.addQuestion(); DW.close_the_tip_on_period_question(); DW.smsPreview();}">{% trans "Add Another Question" %}</a>
                            </div>
                        </div>

                        <div id="question-detail-panel">
                            <div class="select_question_message" data-bind="visible: isSelectedQuestionNull">{% trans "Select a question to edit or add another question."%}</div>
                            {% include 'project/question_detail_panel.html' %}
                            {% include 'project/sms_preview.html' %}
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        <div id="delete_periodicity_question_warning">
            <p class="warning_message">{% trans "warning_msg_for_activity_report_question_delete" %}
                <a class='show_link' href="javascript:void(0);">{% trans "Learn More"%}</a>
                <span><br/>{% trans "learn_more_delete_question" %}</span>
                <br/><br/>
                {% trans "Do you want to delete this question?" %}
            </p>
            <br/>
            <div class="text_align_right">
                <a class="button_blue no_button" id="cancel_link_que">{% trans "No" %}</a>
                <a class="button_blue yes_button" id="ok_button_que_change">{% trans "Yes" %}</a>
            </div>
        </div>
        <div id="edit_question">
            <p class="warning_message">{% trans "warning_msg_for_activity_report_question_delete" %}</p>

            <a href="#" class="cancel_link" id="no_link">{% trans "No" %}</a>
            <a href="#" class="button" id="yes_button">{% trans "Yes" %}</a>
        </div>

        <div class="create_project">
            <div class="grid_5">
                <a id="back_to_project">{% trans "Back" %} </a>
            </div>
            <div class="grid_15 float_right">
                <div class="right_aligned_button">
                    <a href="/project/" class="cancel_project">{% trans "Cancel" %} </a>
                    {% if project.state != 'Test' %}
                        <input type="button" class="button_wizard_blue" id="save_as_draft" value="{% trans "Save as Draft" %}">
                    {% endif %}
                    <input type="button" class="button_wizard_next" id="save_and_create" value="{% trans "Save & Create Project" %}"/>
                </div>
            </div>
            <div class="clear-both"></div>
        </div>
    </div>
    {% include "warning_edit_questionnaire.html" %}
{% endblock %}
