{% extends 'new_layout_wizard.html' %}
{% load i18n %}
{% block page_title %} {% trans "Create Project" %}{% endblock %}
{% block section_title %}
    <h2 class="project_title" xmlns="http://www.w3.org/1999/html">{% trans "Create a New Questionnaire" %}</h2>
{% endblock %}

{% load dw_tabs %}

{% block body %}
    {% activetab "main_nav" "projects" %}
    {{ block.super }}
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript">
        var is_project_questionnaire = true;
{#        var existing_questions = $.parseJSON({{ existing_questions|safe}});#}
{#        var project_details = $.parseJSON({{project_details|safe}});#}
        var sms_preview_link = "{{ preview_links.sms_preview }}";
        var questionnaire_code = '{{ questionnaire_code}}';
        var web_preview_link = "{{ preview_links.web_preview }}";
        var smart_phone_preview_link = "{{ preview_links.smart_phone_preview }}";
    </script>
    <script type="text/javascript" src="/media/javascript/entity/questionnaire_view_model.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/create_questionnaire.js"></script>
    <script type="text/javascript" src="/media/javascript/csrf_token_handler.js"></script>
    <script type="text/javascript" src="/media/javascript/project/create_project.js"></script>
    <script type="text/javascript" src="/media/javascript/project/sms_preview.js"></script>
    <script type="text/javascript" src="/media/javascript/project/new_questionnaire_charcount.js"></script>
    <script type="text/javascript" src="/media/javascript/jquery.sprintf.js"></script>
    <script type="text/javascript" src="/media/javascript/warning_dialog.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/questionnaire_helper.js"></script>
{#    <script type="text/javascript" src="/media/javascript/project/questionnaire_wizard_submit_redirect.js"></script>#}
{#    <script type="text/javascript" src="/media/javascript/entity/create_type.js"></script>#}
    <script type="text/javascript" src="/media/javascript/project/questionnaire_instruction_and_preview.js"></script>
    <script type="text/javascript"
            src="/media/javascript/project/questionnaire_instruction_and_preview_wizard.js"></script>
    <script type="text/javascript" src="/media/javascript/ko-binding-extensions.js"></script>

    <script type="text/javascript">
        var is_edit = {{ is_edit }};
        var post_url = "{{ post_url }}";
    </script>
{% endblock %}

{% block page_scss %}
    <link href="/media/css/scss/section_questionnaire.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_new_create_project.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet"/>
    <link href="/media/css/scss/smart_phone_instruction.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div id="project-message-label" class="message-box none"></div>

    {% include 'project/questionnaire_creation_options.html' %}
    {% include 'project/quesitionnaire_builder.html' %}

    {% include "warning_edit_questionnaire.html" %}
{% endblock %}
