{% extends 'project/tab_navigation.html' %}
{% load i18n %}
{% block page_title %}
    {% trans "Data Analysis" %}
{% endblock %}

{% load dw_tabs %}
{% block navigation %}
    {% activetab "tab_nav" "data" %}
    {{ block.super }}
{% endblock %}

{% block page_meta %}
    {% include 'page_refresh_meta.html' %}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "projects" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_data.css" rel="stylesheet"/>
    <link href="/media/css/scss/util.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_data_full_width.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet"/>
    <link href="/media/css/scss/form.css" rel="stylesheet"/>
{% endblock %}

{% block page_css %}
    {{ block.super }}
    <link href="/media/javascript/data_tables/css/demo_page.css" rel="stylesheet"/>
    <link href="/media/javascript/data_tables/css/demo_table.css" rel="stylesheet"/>
    <link href="/media/javascript/project/css/data_analysis.css" rel="stylesheet"/>
    <link href="/media/javascript/project/css/data_analysis_chart.css" rel="stylesheet"/>
    <link href="/media/javascript/dateRangePicker/css/ui.daterangepicker.css" rel="stylesheet"/>
    <link href="/media/javascript/dateRangePicker/css/ui-lightness/jquery-ui-1.8.12.custom.css" rel="stylesheet"/>
    <link href="/media/css/plugins/jqueryUI/ie-hacks.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_filter.css" rel="stylesheet"/>
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script src="/media/javascript/project/data_help_img.js" type="text/javascript"></script>
    <script type="text/javascript" src="/media/javascript/monthly_date_picker/month-picker.js"></script>
    <script type="text/javascript" src="/media/javascript/data_tables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/media/javascript/custom_select_box.js"></script>
    <script type="text/javascript" src="/media/javascript/dateRangePicker/js/daterangepicker.jQuery.custom.js"></script>
    <script type="text/javascript" src="/media/javascript/dropdown_check_list/dropdownchecklist.custom.js"></script>
    <script type="text/javascript" src="/media/javascript/datepicker.{% trans "en" %}.js"></script>
    <script type="text/javascript" src="/media/javascript/csrf_token_handler.js"></script>
    <script type="text/javascript" src="/media/javascript/project/datatable_sorting.js"></script>
    <script type="text/javascript" src="/media/javascript/flot/excanvas.min.js"></script>
{#    <script type="text/javascript" src="/media/javascript/entity/all_datasender_reload_tables.js"></script>#}
    <script type="text/javascript" src="/media/javascript/warning_dialog.js"></script>
    <script type="text/javascript" src="/media/javascript/datasenders/index.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/datasender_actions.js"></script>
    <script type="text/javascript" src="/media/javascript/project/colorShadeGenerator.js"></script>
    <script language="javascript" type="text/javascript" src="/media/javascript/flot/jquery.flot.min.js"></script>
    <script language="javascript" type="text/javascript" src="/media/javascript/flot/jquery.flot.fillbetween.min.js"></script>
    <script language="javascript" type="text/javascript" src="/media/javascript/flot/jquery.flot.pie.min.js"></script>
    <script language="javascript" type="text/javascript" src="/media/javascript/flot/jquery.flot.valuelabel.js"></script>
    <script src="/media/javascript/project/questionnaire_preview.js" type="text/javascript"></script>
    <script type="text/javascript" src="/media/javascript/jquery.sprintf.js"></script>
    <script type="text/javascript" src="/media/javascript/project/data_analysis.js"></script>
    <script type="text/javascript" src="/media/javascript/project/data_analysis_chart_view.js"></script>
    <script type="text/javascript" src="/media/javascript/help_accordion.js"></script>
    <script type="text/javascript" src="/media/javascript/project/filter/filters.js"></script>
    <script type="text/javascript" src="/media/javascript/project/filter/json2form.js"></script>

{% endblock %}

{% block content %}
    {% load compress %}
    {% compress js %}
        <script type="text/javascript">
            var initial_data = JSON.parse({{data_list|safe}});
            var date_format = '{{ date_format }}';
            var entity_type = '{{ entity_type }}';
            var statistics = JSON.parse({{ statistics_result|safe }});
            var header_name_list = JSON.parse({{header_name_list|safe}});
            var header_type_list = JSON.parse({{header_type_list|safe}});
            var default_sort_order = JSON.parse({{ default_sort_order|safe }})
        </script>
    {% endcompress %}
    {% block secondary_navigation_data %}
        {% activetab "secondary_tab_nav" "analysis" %}
        {{ block.super }}
    {% endblock %}
    <div class="heading_block alpha data_ana border_none">
        <ul class="links float_right">
            <li><a href="#" id="export_link">{% trans "Export" %}</a></li>
        </ul>
    </div>
    {% include 'project/partials/_page_header.html' with title='Analysis' help_message='Analyze your successful submissions' %}

        <!--[if IE 7]>
            <div class="float_right" style="display: inline-block; width: 1px; height: 1px;"></div>
            <![endif]-->

    <form id="export_form" action="/project/export/data" method='POST'>
        {% csrf_token %}
        <input id="questionnaire_code" name='questionnaire_code' type="hidden" value="{{ questionnaire_code }}"/>
        <input id='project_name' name='project_name' type="hidden" value="{{ project.name }}"/>
    </form>
    <div class="heading_block clearfix margin_bottom_10">
        <div id="filter_section" class="alpha data_ana float_left">
            {% include 'project/partials/filters/_filter_by_subject.html' %}
            {% include 'project/partials/filters/_filter_by_reporting_period.html' %}
            {% include 'project/partials/filters/_filter_by_submission_date.html' %}
            {% include 'project/partials/filters/_filter_by_data_sender.html' %}
            {% include 'project/partials/filters/_filter_by_keyword.html' %}
            {% include 'project/partials/filters/_filter_button_container.html' %}
        </div>

        <!--[if IE 7]>
            <div class="float_right"></div>
        <![endif]-->
    </div>
    <div class="view_data_block grid_23 alpha display_none">
        <div style="width: 100%;float: left;">
        <div class="grid_12 show_data_block alpha" id="dataTables_info"></div>
        <div class="grid_12 show_data_block alpha" id="chart_info"></div>
        <div class="view_style_block">
            <label>{% trans "View:" %}</label>
            <ul>
                <li id="table_view" class="active list" ><a onclick="DW.show_data_view()">{% trans "List" %}</a></li>
                <li id="chart_view" class="chart"><a onclick="DW.show_chart_view()">{% trans "Chart" %}</a></li>
            </ul>
        </div>
        </div>
        <div id="chart_info_2"></div>
    </div>
    <div class="grid_23 alpha omega data_block" style="width: 100%">

        <table id="data_analysis" class="styled_table">
            <thead>
            <tr>
                {% for each in header_list %}
                    <th>
                        {{ each }}
                    </th>
                {% endfor %}
            </tr>
            </thead>
        </table>
        <div id="data_analysis_chart" style="width: 100%;">
            <ol id="chart_ol" class="chartOl">
            </ol>
        </div>
    </div>
    {% block help_no_submissions %}
        {% include 'project/partials/help_no_submissions/help_no_submission.html' %}
        {% include 'sms_preview_template.html' %}
    {% endblock %}

{% endblock %}
