{% extends 'layout_application.html' %}
{% load i18n %}
{% load field_tags %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/project/data_submission_warning.js"></script>
{% endblock %}
{% block page_title %}{% trans "Data Submission" %}{% endblock %}

{% block section_title %}
    <h2 class="section_title">{% trans "Data Submission" %}</h2>
{% endblock %}

{% block content %}
    <a href="{{ back_to_project_link }}" class="back-to-project-list"> « {% trans "Back to Project List" %}</a>
    <h3 class="project_name">{{ project.name }}</h3>
    <p class="instructions italic">{% trans "Fill out the following Questionnaire and click on Submit" %}</p>
    {% include 'project/data_submission_questionnaire.html' %}
{% endblock %}
