<!DOCTYPE html>
<html>
<head>
    <title>dummy</title>
    <script>
        var dummy_url = "{% url dummy_url %}";
        var dummy_header = "{% url dummy_header %}";
    </script>

    <script type="text/javascript" src="/media/javascript/jquery.js"></script>
    <script type="text/javascript" src="/media/javascript/jquery.tools.min.js"></script>
    <script src="/media/javascript/data_tables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/media/javascript/dummy.js"></script>
    <style>
        td {
            border: solid 2px lightgrey;
        }
    </style>
</head>
<body>
<table id="dummy_table" style="border:1px solid #000000">
</table>
</body>
</html>