{% load i18n %}

<div id="duplicates_learn_more_text" class="none">
    <div class="learn_more_text">
        <pre style="font-family: inherit;">
            {% trans "help_text_for_duplicates_expand_header" %}
            {% trans "help_text_for_duplicates_expand_content_1" %}
            {% trans "help_text_for_duplicates_expand_content_2" %}
                {% trans "help_text_for_duplicates_expand_content_2a" %}
                {% trans "help_text_for_duplicates_expand_content_2b" %}
                {% trans "help_text_for_duplicates_expand_content_2c" %}
            {% trans "help_text_for_duplicates_expand_content_3" %}

            {% trans "help_text_for_duplicates_expand_content_note" %}
        </pre>
    </div>
    <div class="gotitbutton">
        <a class="button yes_button" id="close_duplicates_learn_more_section">{% trans "OK, Got it" %}</a>
    </div>
</div>