{% load i18n %}
{% load field_tags %}

{% block page_js %}
    <script type="text/javascript">
         DW.reporter_id = '{{ reporter_id }}';
         DW.is_linked = {{ is_linked|lower }};
         DW.reporter_name = '{{ reporter_name }}';
    </script>
{% endblock %}

<form method="POST" id="edit_submission_form">
    <div >
        <a href="{{ back_link }}" class="back-to-list"> « {% trans "Back to Submission Log" %}</a>
    </div>
    <div class="edit_submission_heading">
        <div class="static-text">
            <h6 xmlns="http://www.w3.org/1999/html"
                xmlns="http://www.w3.org/1999/html">{% trans "You are editing the Submission Details" %}</h6>
        </div>
        <div class="action-section float_right">
            <span>
                <a href="{{ back_link }}" class="cancel-editing-link"> {% trans "Cancel Editing" %}</a> &nbsp;
            </span>
            <input id="submit-other-1" type="submit" class="button" value="{% trans 'Save Changes' %}"/>
        </div>
    </div>
    {% include "project/message.html" %}
    {% include 'project/static_info_for_edit.html' %}
    {% csrf_token %}
    <input type="hidden" id="redirect_url" name="redirect_url" value="{{ redirect_url }}"/>
    <input type="hidden" id="click_after_reload" name="click_after_reload" value="{{ click_after_reload }}"/>
    <input type="hidden" id="discard" name="discard" value=""/>
    {% include "project/questionnaire_fields.html" %}
    {% block action_section_block %}
        <div class="action-section full_width">
            {% block cancel_block %}{% endblock %}
            <span>
                <a href="{{ back_link }}" class="cancel-editing-link"> {% trans "Cancel Editing" %}</a> &nbsp;
            </span>
            <input id="submit-other" type="submit" class="button" value="{% trans 'Save Changes' %}"/>
        </div>
    {% endblock %}
</form>