{% extends 'project/tab_navigation.html' %}
{% load i18n %}

{% block page_title %}{% trans "Project - Questionnaire" %} {% endblock %}

{% load dw_tabs %}

{% block navigation %}
    {% activetab "tab_nav" "questionnaire" %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "questionnaire" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/javascript/vellum/bootstrap.css"/>
    <link rel="stylesheet" href="/media/javascript/vellum/style.css"/>
{% endblock %}

{% block page_js %}
    {{ block.super }}

        <script type="text/javascript" src="/media/javascript/vellum/bower_components/requirejs/require.js"></script>
        <script>
            define("jquery", ['../bower_components/jquery/dist/jquery'], function () { return window.jQuery; });
            define("jquery.bootstrap", ["jquery", '../lib/bootstrap'], function () {});
            define("underscore", ['../bower_components/underscore/underscore'], function () { return window._; });

            require.config({
                baseUrl: "/media/javascript/vellum/src",
                paths: {
                    "jquery.vellum": "main"
                }
            });

            require(["jquery.vellum"], function () {
                require(["jquery"], function ($) {
                    $(function () {
                        $('#xform-designer').vellum({plugins: [], features: {group_in_field_list: true}, intents: {templates: [{"icon": "icon-map-marker", "id": "richard.chard.lu.android.areamapper.LAUNCH", "name": "Area Mapper"}]}});
                    });
                });
            });
        </script>

{% endblock %}

{% block content %}

    <div id="xform-designer"></div>
    <div id="file-button"></div>

{% endblock %}
