{% extends 'project/tab_navigation.html' %}
{% load i18n %}

{% block page_title %}{% trans "Project - Questionnaire" %} {% endblock %}

{% load dw_tabs %}

{% block navigation %}
    {% activetab "tab_nav" "questionnaire" %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "questionnaire" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_new_create_project.css" rel="stylesheet"/>
    <link href="/media/css/scss/smart_phone_instruction.css" rel="stylesheet" />
{% endblock %}

{% block page_js %}
    {{ block.super }}

        <script type="text/javascript">
            var project_id = "{{ project_id }}"
        </script>
        <script type="text/javascript" src="/media/javascript/file_uploader/fileuploader.js"></script>
        <script type="text/javascript" src="/media/javascript/dw_dialog.js"></script>
        <script type="text/javascript" src="/media/javascript/project/upload_questionnaire.js"></script>
        <script type="text/javascript" src="/media/javascript/project/edit_project_index.js"></script>


{% endblock %}

{% block content %}
    <div>
        <div class="grid_8 alpha">
            <h2>{% trans "Questionnaire" %}</h2>
        </div>
        <div class="clear-both"></div>
    </div>

    <div id="xlx-message"></div>
    <div class="warning-message-box none" ><p>{% trans "Upload was cancelled." %}</p></div>
    <div class="download_xls">
        <span class="download_header">
            {% trans "Download Current XLSForm (Excel file):" %}
        </span>
        {% if show_xls_download_link %}
            <span class="heading_block alpha data_ana border_none">
                <span class="links">
                    <a href="javascript:void(0);" class="download_link">{{ project.name|slugify }}.xls</a>
                </span>
            </span>
        {% endif %}
    </div>
    <form id="download_form" method="POST">
        {% csrf_token %}
        <input id="questionnaire_code" name='questionnaire_code' type="hidden" value="{{ questionnaire_code }}"/>
        <input id='project_name' name='project_name' type="hidden" value="{{ project.name }}"/>
    </form>
    <h5>{% trans "Edit your Questionnaire..." %}</h5>
    <div>
        <noscript>
            <p>{% trans "Please enable JavaScript to use file uploader." %}</p>
        </noscript>
        <div id="file_uploader" class="button upload_xls"></div>
        <button id="uploadXLS">{% trans "Upload new XLSForm" %}</button>
        <a id="cancel-xlx-upload" class="none" href="javascript:void(0);">{% trans "Cancel Upload" %}</a>
        <img class="upload_spinner none" src="/media/images/ajax-loader.gif">
    </div>
    <h6 class="create_questionnaire_help margin_bottom_20 margin_top_10">{% trans "Need help and support on how to create a XLSForm and advanced Questionnaire logic?" %} <a>{% trans "Learn More | Example Forms" %}</a></h6>

    <div id="cancel_questionnaire_edit" style="display: none;">
        {% trans "If you edit your XLSForm and upload it again, any previously collected data for this Questionnaire will be lost!" %}<br/><br/>
        <p class="font_size_13">{% trans "You can" %} <a class='dialog-link' href='{{ project_links.submission_log_link }}'> {% trans "Export Your Submissions" %}</a> {% trans "first or" %} <a class='dialog-link' href="{% url create_project %}?prev=ques#questionnaire/xlsupload/">{% trans "Create a New Questionnaire"%}</a> {% trans 'instead.'%} </p><br/>


        {% trans "Do you want to continue uploading the edited XLSForm?" %}
        <div class="text_align_right padding_top_20">
            <a id="cancel_dialog" class="dialog_cancel_button dialog-link" href="javascript:void(0);">{% trans "Cancel" %}</a>
            <a id="save_changes" class="button yes_button">{% trans "Continue" %}</a>
        </div>
    </div>
    <div style="display: none">
        {% include "project/inform_datasender_of_excel_questionnaire_changes.html" %}
    </div>

    <div id="survey" style="height: 200px;"></div>
    <div id="choices" style="height: 200px;"></div>
    <div id="cascades" style="height: 200px;"></div>
    <div id="other" style="height: 200px;"></div>
{% endblock %}
