{% load i18n %}
<span class="links float_right">
       {% if not project.xform %}
           <a href="javascript:void(0);" class="export_link">{% trans "Export Submissions" %}</a> |
           <a href="javascript:void(0);" data-projectname="{{ encoded_project_name }}"
              data-formcode="{{ questionnaire_code }}" data-projectid="{{ project.id }}"
              data-filename="{{ import_template_file_name }}"
              class="import_link">{% trans "Import a List of Submissions" %}</a>
       {% else %}
           {% if is_media_field_present %}
               {#                   action button like look#}
               <div id="action_dropdown">
                   <div id="action_button" class="action_bar clear-both" style="margin-bottom: 20px">
                       <div class="btn-group">
                           <button class="export_btn dropdown-toggle action" href="#"
                                   data-dropdown="#action">{% trans "Export Submissions" %}
                               <span class="caret"></span>
                           </button>
                       </div>
                   </div>
                   <div id="action" class="dropdown" >
                       <ul class="dropdown-menu">
                           <li><a id="export_with_out_media" action-dropdown="export_with_out_media" class="export_link">{% trans "Export Excel file only" %}</a></li>
                           <li><a id="export_with_media" action-dropdown="export_with_media"  class="with_media">{% trans "Export Excel and Media Files(.zip)" %}</a></li>
                       </ul>
                   </div>
               </div>
           {% else %}
               <a href="javascript:void(0);" class="export_link">{% trans "Export Submissions" %}</a>
           {% endif %}
       {% endif %}
</span>