{% load i18n %}
<div class="help_no_submissions" style="display: none">
    <div class="help_accordion" style="text-align: left;">
        {% trans "Your Data Senders’ successful submissions will appear here." %}
        {% include "learn_more.html" %}
    </div>
</div>

<div class="help_no_submissions" style="display: none">
    <div class="help_accordion" style="text-align: left;">
        {% trans "Once your Data Senders have sent in Submissions successfully, they will appear here." %}
        {% include "learn_more.html" %}
    </div>
</div>

<div class="help_no_submissions" style="display: none">
    <div class="help_accordion" style="text-align: left;">
        &nbsp;
        &nbsp;
    </div>
</div>

<div class="help_no_submissions" style="display: none">
    <div class="help_accordion" style="text-align: left;">
        {% trans "No deleted Submissions." %}
    </div>
</div>

