{% load i18n %}
<div class="import_subject_form">
    <div id="file-uploader">
        <noscript>
            <p>{% trans "Please enable JavaScript to use file uploader." %}</p>
            <!-- or put a simple form for upload here -->
        </noscript>
        <h6>{% trans "Upload a CSV or a XLS file" %}</h6>

        <div id="file_uploader"></div>
    </div>
    <div id='error_table'>
        <table>
            <thead>
            <th>{% trans "Row Number" %}</th>
            <th>{% trans "Row" %}</th>
            <th>{% trans "Error" %}</th>
            </thead>
            <tbody id='error_tbody'>

            </tbody>
        </table>
    </div>
</div>
