{% load i18n %}

<div id="questionnaire_preview" class="ui-widget">
    <div class="sms-instruction">
        <div class="instruction-header">
            <h5>{% block collect_data_via_block %}{% endblock %}</h5>
            <p>{% block collection_data_via_instruction_block %}{% endblock %}</p>
        </div>
        <div class="instruction-content">
            <p class="bold">{% block how_it_works_block %}{% trans "How it Works" %}{% endblock %}</p>
            <p>{% block instruction_block %}{% endblock %}</p>
        </div>
    </div>
    <div class="clearfix">
        <div class="preview-header clearfix">
            {% block preview_header_block %}{% endblock %}
        </div>
        {% block questionnaire_preview_block %}{% endblock %}
    </div>
</div>