{% load i18n %}
<div id="message_text">
    {% if  success_message  %}
        <div class="success-message-box">{{ success_message }}</div>
    {% endif %}
</div>

<div class="grid_23 alpha omega data_block" style="width: 100%">

<table class="submission_table">
        <thead>
        <tr>

        </tr>
        </thead>
</table>
</div>

{% block help_no_submissions %}
    {% include "project/partials/help_no_submissions/help_no_submission_log.html" %}
    {% include 'sms_preview_template.html' %}
{% endblock %}
