{% load i18n %}
<div id="message_text">
    {% if  success_message  %}
        <div class="success-message-box">{{ success_message }}</div>
    {% endif %}
</div>
{% block page_hint %}
    {% include "project/submission_page_hint.html" %}
{% endblock %}

<div class="margin_top_10 margin_bottom_10 grid_23 alpha">
    <div class="grid_23 show_data_block alpha" id="dataTables_info"></div>
</div>

<div class="grid_23 alpha omega data_block" style="width: 100%">
    <div class="heading_block alpha data_ana margin_bottom_10 border_none">
        <span class="action_container">
            <label>{% trans "Actions" %}</label>
            <select class="action">
                <option value="0">{% trans "Actions" %} ...</option>
                <option value="1">{% trans "Delete" %}</option>
            </select>
        </span>
        <a href="#" class="export_link float_right margin_right_5">{% trans "Export" %}</a>
    </div>
    <table class="submission_table styled_table">
        <thead>
        <tr>
            {% for each in header_list %}
                <th>
                    {{ each }}
                </th>
            {% endfor %}
        </tr>
        </thead>
    </table>
</div>

{% block help_no_submissions %}
    {% include "project/help_no_submission_log.html" %}
{% endblock %}
