{% load i18n %}

<div class="view_data_block grid_23 alpha">
    <div style="width: 100%;float: left;">
        <div class="grid_12 show_data_block alpha" id="dataTables_info"></div>
    </div>
</div>

<div class="grid_23 alpha omega data_block" style="width: 100%">
    <table id="data_table" class="styled_table">
        <thead>
        <tr>
            {% for each in header_list %}
                <th>
                    {{ each }}
                </th>
            {% endfor %}
        </tr>
        </thead>
    </table>
</div>
{% block help_no_submissions %}
    {% include 'project/help_no_submission.html' %}
{% endblock %}
