{% load i18n %}
{% if success_message %}
    <div class="success-message-box">{{ success_message }}</div>
{% endif %}
{% if error_message %}
    <div class="message-box">{{ error_message }}</div>
{% endif %}

{% if 0 %}
    <div class="warning-message-box">
        <p> {% trans "You have used up your 10 Web submissions for the trial account. Sign up for a monthly subscription to continue sending in data to your questionnaires." %} </p>
        <a href="https://www.datawinners.com/en/pricing/" class="trial_web_learn_more" target="blank">{% trans "Learn More" %}</a><a
            href="{% url default_upgrade %}" target="blank"
            class="trial_web_limit_button">{% trans "Subscribe Now" %}</a>
    </div>
{% endif %}

{% if questionnaire_form.non_fielderrors %}
    <div class="message-box">{{ questionnaire_form.non_field_errors }}</div>
{% endif %}
