{% load i18n %}
<div class="help_accordion">
    {% trans "View and manage all of the people, places, things or events that you want to collect data about, such as patients, villages, clinics or trainings." %}
    <a href="javascript:void(0)" class="show_link">{% trans "Learn More" %}</a>
    <div class="details">
        <br/>
        {% blocktrans with project.entity_type as entity_type %}Register and manage every {{ entity_type }} you want to keep track of or collect data about. See them displayed on the map on your project’s overview page.{% endblocktrans %}
        <a href="javascript:void(0)" class="hide_link">{% trans "Hide help" %}</a>
    </div>
</div>