{% load i18n %}
<div id="help_accordion">
    <p>View and manage all of the people, places, things or events that you want to collect data about, such as patients,
        villages, clinics or trainings. <a href="javascript:void(0)" id="show_link">Learn more!</a></p>
    <div id="help_details">
        <p><h2>consectetur adipisicing !</h2>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.. !
        </p>
        <p><h2>consectetur adipisicing !</h2>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.. !
        </p>
        <a href="javascript:void(0)" id="hide_link">Hide help</a>
    </div>
</div>