{% load i18n %}
<script type="text/javascript">
    var users_list = {{ users_list|safe }};
</script>

<link href="/media/javascript/data_tables/css/dwtable.css" rel="stylesheet"/>

<script src="/media/javascript/data_tables/js/jquery.dataTables.min.js"></script>
<script src="/media/javascript/data_tables/js/dw_pagination_plugin.js"></script>
<script src="/media/javascript/data_tables/js/dwtable.js"></script>
<script src="/media/javascript/entity/datasender_actions.js"></script>
<script>
    var datasender_ajax_url = "{% url my_datasenders_ajax project.name %}";

$(function(){
    function col(header_class_name){
        return $('#datasender_table th.' + header_class_name).index('#datasender_table th');
    }
    var action_handler = new DW.DataSenderActionHandler();
    var number_of_projects = {{ projects|length }};
    $("#datasender_table").dwTable({
            "concept": "Data Sender",
            "sAjaxSource": datasender_ajax_url,
            "sAjaxDataIdColIndex" : col("short_code"),
            "bServerSide": true,
            "oLanguage": {
                "sEmptyTable": $('#no_registered_subject_message').clone(true, true).html()
            },
            "aaSorting": [ [ col("name"), "asc"] ] ,
            "actionItems" : [
                {"label":"Edit", handler:action_handler["mydsedit"], "allow_selection": "single"},
                {"label":"Remove from project", handler:action_handler["remove_from_project"], "allow_selection": "multiple"},
                {"label":"Give Web Submission Access", handler:action_handler["makewebuser"], "allow_selection": "multiple"},
                {"label": "Delete", handler:action_handler["delete"], "allow_selection": "multiple"}
            ],
            "aoColumnDefs":[{"bSortable": false, "aTargets":[col("devices")]}]
      });
 });
</script>

<div>
    <table id='datasender_table' >
        <thead>
            <th></th>
            <th class="name">{% trans "Name" %}</th>
            <th class="short_code">{% trans "Unique ID" %}</th>
            <th>{% trans "Location" %}</th>
            <th>{% trans "GPS Coordinates" %}</th>
            <th>{% trans "Mobile Number" %}</th>
            <th>{% trans "Email address" %}</th>
            <th class="devices">
                <span>{% trans "Devices" %}</span>
                {% include "alldata/device_icons.html" %}
            </th>
        </thead>
    </table>
</div>
