{% extends 'project/tab_navigation.html' %}
{% load i18n %}
{% block page_title %} {% trans "Projects - Overview"%} {% endblock %}

{% load dw_tabs %}
{% block navigation %}
{% activetab "tab_nav" "overview" %}
{{ block.super }}
{% endblock %}

{% block body %}
{% activetab "main_nav" "projects" %}
{{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_new_overview.css" rel="stylesheet" />
    <link href="/media/css/scss/section_new_create_project.css" rel="stylesheet" />
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet" />
    <link href="/media/css/scss/section_application.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/media/javascript/OpenLayers-2.13.1/theme/default/style.css" media="screen">

{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $( "#how_to" ).accordion({ collapsible: true, active: 0 });
            var marker_image = $('#marker_image').html();
            init('{{ entity_type  }}', marker_image );
        });
    </script>
{% endblock %}


{% block content %}
    <script type="text/javascript" src="/media/javascript/OpenLayers-2.13.1/OpenLayers.js"></script>
    <script type="text/javascript" src="/media/javascript/mapping.js"></script>

    <span id="project_id" style="display: none;">{{ project.id }}</span>
    <div class="span-18 box">
        <!--Success Message div-->
        {% include 'project/success_message.html' %}
        <div class="my_sub"><p><b>
        {% if project.is_activity_report %}
            <div>{% trans "Subjects"%}: {% trans "Data Senders"%}</div>
            <div>{{ add_data_senders_to_see_on_map_msg }}</div>
            <span style="display: none" id="marker_image">map_marker_red.png</span>
        {% else %}
            <div>{% trans "Subjects"%}: {{ project.entity_type }}</div>
            <div>{{ add_subjects_to_see_on_map_msg }}</div>
            <span style="display: none" id="marker_image">map_marker_blue.png</span>
        {% endif %}
        </b></p></div>

        <!--Map div-->
        {% if GOOGLE_MAPS_ENABLED %}
            {% include 'maps/entity_map.html'  %}
        {% endif %}
        <!--Questionnaire & DS div-->
        <div class="float_left" id="questionnaire_and_DS">
            {% include 'project/questionnaire_and_DS.html'%}
        </div>

    </div>

{% endblock %}