{% load i18n %}
{% block page_scss %}
    <link href="/media/css/on-off.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_new_create_project.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet"/>
    <link href="/media/css/scss/smart_phone_instruction.css" rel="stylesheet"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/media/javascript/ko-binding-extensions.js"></script>
    <script type="text/javascript" src="/media/javascript/project/reminder_settings.js"></script>
    <script type="text/javascript" src="/media/javascript/common/form_edited_warning_dialog.js"></script>
    <script type="text/javascript" src="/media/javascript/tooltip.js"></script>
{% endblock %}

<div id="reminder_deadline_form" data-bind="disableChildren:is_reminder_enabled">
    {% csrf_token %}
    <fieldset class="{% if is_reminder_enabled %}grey{% endif %}">
        <legend>{% trans "Submission Deadline" %}</legend>
        <ul>
            <li class="border_bottom_color"></li>
            <li class="italic_grey" style="font-size: 12px!important">
                {% trans "Specify when you need your data by. Data Senders can still submit data after the Submission Deadline." %}
            </li>
            <li class="form-row-10px">
                <div id="frequency_values">
                    <div class="bold padding_bottom_10 padding_top_10 font_size_13">{% trans "Submission Deadline" %}</div>
                    <ul>
                        <li>{% trans "Every" %}</li>
                        <li>
                            <select id="id_frequency_period" data-bind="value: selected_frequency"
                                    name="frequency_period">
                                <option value="week">Week</option>
                                <option value="month">Month</option>
                            </select>
                            <span>{% trans "le_for_french" %}</span>
                            <select data-bind="options:select_option, value:select_day, optionsText:display_text"></select>
                            <span id="deadline_example" data-bind="text:next_deadline_string"></span>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

    </fieldset>
    <div id="reminders_section">
        <fieldset class="{% if is_reminder_enabled %}grey{% endif %}">
            <legend>{% trans "Reminders" %}</legend>
            <div class="border_bottom_color"></div>
            <div class="font_style italic_grey">{% trans 'Send automatic SMS reminders to your registered Data Senders' %}
                <a data-bind="click:open,css: {'disable_link': is_reminder_enabled}, disable: is_reminder_enabled">{% trans "Learn more" %}</a>

                <div class="dialog" data-bind="dialog: {autoOpen: false, width:1000,
                                                        title:'Learn More About Submission Deadline & Reminders', height: 720 },
                                               dialogVisible: isOpen,
                                               dialogContent:dialogContentHtml">
                </div>
            </div>
            <ul>
                <li class="padding_top_10">
                    <div class="onoffswitch" data-bind="onoff:reminder_before_deadline.enable"
                         id="myonoffswitch">
                        <label class="onoffswitch-label" for="myonoffswitch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                    <div class="margin_left_130">
                        <div class="bold">
                            <span>{% trans "Reminders" %}</span>
                            <select id="before_deadline"
                                    data-bind="options:option_list,value:reminder_before_deadline.number_of_days"></select>
                            <span>{% trans "days before deadline" %}</span></div>

                        <div id="example_before_deadline"
                             data-bind="text:reminder_before_deadline.next_date_as_string"></div>
                        <textarea class="helvetica_font" name="reminder_text_before_deadline"
                                  data-bind="value:reminder_before_deadline.text, enable:reminder_before_deadline.enable"
                                  cols="40" maxlength="160" rows="10" id="id_reminder_text_before_deadline"> </textarea>
                        <span class="bold" id="counter_for_reminder_before_deadline"
                              data-bind="text:reminder_before_deadline.count"></span> {% trans " of 160 characters used" %}
                    </div>
                </li>
                <li class="padding_top_25">
                    <div class="onoffswitch" data-bind="onoff: reminder_on_deadline.enable" id="myonoffswitch">
                        <label class="onoffswitch-label" for="myonoffswitch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                    <div class="margin_left_130">
                        <span class="bold">{% trans "Reminder on the day of the deadline" %}</span>

                        <div id="example_on_deadline" data-bind="text:reminder_on_deadline.next_date_as_string"></div>
                        <textarea class="helvetica_font" name="reminder_text_on_deadline"
                                  data-bind="value:reminder_on_deadline.text, enable:reminder_on_deadline.enable"
                                  cols="40"
                                  rows="10" maxlength="160" id="id_reminder_text_on_deadline"> </textarea>
                        <span class="bold" id="counter_for_reminder_on_deadline"
                              data-bind="text:reminder_on_deadline.count"></span> {% trans " of 160 characters used" %}
                    </div>
                </li>
                <li class="padding_top_25">
                    <div class="onoffswitch" data-bind="onoff: reminder_after_deadline.enable" id="myonoffswitch">
                        <label class="onoffswitch-label" for="myonoffswitch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                    <div class="margin_left_130">
                        <div class="bold">
                            <span>{% trans "Reminders" %}</span>
                            <select id="after_deadline"
                                    data-bind="options:option_list,value:reminder_after_deadline.number_of_days"></select>
                            <span>{% trans "days after deadline" %}</span></div>
                        <div id="example_after_deadline"
                             data-bind="text:reminder_after_deadline.next_date_as_string"></div>
                        <textarea class="helvetica_font" name="reminder_text_after_deadline"
                                  data-bind="value:reminder_after_deadline.text, enable:reminder_after_deadline.enable"
                                  cols="40" maxlength="160" rows="10" id="id_reminder_text_after_deadline"> </textarea>
                        <span class="bold" id="counter_for_reminder_after_deadline"
                              data-bind="text:reminder_after_deadline.count"></span> {% trans " of 160 characters used" %}
                    </div>
                </li>
                <br>
                <legend>{% trans "Who Receives Reminders" %}</legend>
                <li class="border_bottom_color"></li>
                <li>
                    <div class="font_style italic_grey">
                        {% trans 'Specify which of your Data Senders receive the reminders. There are 127 registered Data Senders for this Questionnaire.' %}
                        <a href="{{ url_to_my_datasender }}"
                           data-bind="css: {'disable_link': is_reminder_enabled}, disable: is_reminder_enabled"> {% trans 'See List of Data Senders' %} </a>
                    </div>

                    <div class="section_datasenders_to_send">
                        <div>
                            <div>
                                <div class="font_size_14 bold"> {% trans 'Reminders are sent to' %} </div>
                                <input type="radio" id="my_datasenders" value="my_datasender"
                                       data-bind="checked: select_datasender">
                                <span>{% trans "My Data Senders who have not yet submitted for this deadline." %}</span>
                            </div>
                            <span class="font_size_12 italic_grey" style="margin-left: 33px">
                            {% trans 'DataWinners will send automatic SMS reminders to non-submitters.' %}
                            <img src="/media/images/help_icon.png" class="help_icon">
                            <div class="tooltip">
                                <p>
                                {% trans "tooltip_for_reminder" %}
                                </p>
                            </div>
                            </span>
                        </div>
                        <div class="margin_top_10">
                            <input type="radio" id="all_my_datasenders" value='all_my_datasender'
                                   data-bind="checked: select_datasender">
                            {% trans "All my Data Senders" %}
                        </div>

                    </div>
                </li>
            </ul>
        </fieldset>
    </div>
    <div class="right_aligned_button margin_right_4">
        <a id="cancel" class="margin_right_30"
           data-bind="click:cancel_changes, css: {'disable_link': is_reminder_enabled}, disable: is_reminder_enabled">{% trans "Cancel changes" %}</a>
        <input id="submit-button" data-bind="click:save_reminders"
               class="{% if is_reminder_enabled %}disabled_button{% else %}button{% endif %}" type="submit"
               value="{% trans 'Save' %}" {% if is_reminder_enabled %}disabled="disabled" {% endif %}/>
    </div>
    <div id="cancel_reminder_changes" style="display: none;">
        {% trans "Do you want to save the changes before leaving this page?" %}<br/>

        <p class="font_size_13">{% trans "Your changes will be lost if you don't save them." %}</p>

        <div class="text_align_right padding_top_20">
            <a id="cancel_dialog" href="javascript:void(0);">{% trans "Cancel" %}</a>
            <a id="ignore_changes" class="button_blue no_button">{% trans "Don't Save" %}</a>
            <a id="save_changes" class="button yes_button">{% trans "Save" %}</a>
        </div>
    </div>
    {% include "project/reminder_week_learn_more.html" %}
    {% include "project/reminder_month_learn_more.html" %}
</div>