{% load i18n %}
<form action="" method="POST" id="reminder_deadline_form">
    {% csrf_token %}
    <fieldset class="{% if is_reminder_enabled %}grey{% endif %}">
        <legend>{% trans "Submission Deadline" %}</legend>
        <ul>
            <li class="italic_grey bold">{% trans "Specify when you need your data by. Data Senders can still submit data after the Submission Deadline.." %}</li>
            <li class="form-row-10px">
            <div id="frequency_values">
                <ul>
                    <li>{% trans "Every" %}</li>
                    <li>{{ form.frequency_period }}</li>
                    {% include 'project/profile_deadline_week_block.html' %}
                    {% include 'project/profile_deadline_month_block.html' %}
                    <div class="italic bold" id="deadline_example"></div>
                </ul>
            </div>
        </li>
        </ul>

    </fieldset>

    <div id="reminders_section">
        <fieldset class="{% if is_reminder_enabled %}grey{% endif %}">
            <legend>{% trans "Reminders" %}</legend>
            <div class="italic">{% trans 'Send automatic SMS reminders to your registered Data Senders. Learn more' %}</div>
            <ul>
                <li>
{#                    {{ form.should_send_reminders_before_deadline }}#}
                <div class="onoffswitch" data-bind="onoff: enable_sms_replies" id="myonoffswitch">
                <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
                </div>

                    {{ form.number_of_days_before_deadline }}
                    {{ form.number_of_days_before_deadline.label }}
                    {{ form.number_of_days_before_deadline.errors }}
                </li>
                <li>
                    <label>{{ form.reminder_text_before_deadline.label }}</label>
                    {{ form.reminder_text_before_deadline }}
                    {{ form.reminder_text_before_deadline.errors }}
                    <span id="counter_for_reminder_before_deadline"></span> {% trans " of 160 characters used" %}
                </li>
                 <li>
                     {{ form.should_send_reminders_on_deadline }}
                     {{ form.should_send_reminders_on_deadline.label }}
                 </li>
                 <li>
                     <label>{{ form.reminder_text_on_deadline.label }}</label>
                     {{ form.reminder_text_on_deadline }}
                     {{ form.reminder_text_on_deadline.errors }}
                     <span id="counter_for_reminder_on_deadline"></span> {% trans " of 160 characters used" %}
                 </li>
                 <li>
                     {{ form.should_send_reminders_after_deadline }}

                     {{ form.number_of_days_after_deadline }}
                     {{ form.number_of_days_after_deadline.label }}
                     {{ form.number_of_days_after_deadline.errors }}
                 </li>
                 <li>
                     <label>{{ form.reminder_text_after_deadline.label }}</label>
                     {{ form.reminder_text_after_deadline }}
                     {{ form.reminder_text_after_deadline.errors }}
                     <span id="counter_for_reminder_after_deadline"></span> {% trans " of 160 characters used" %}
                 </li>
                 <li>
                     {{ form.whom_to_send_message }}
                     {{ form.whom_to_send_message.label }}
                     <div class="whom_to_send_help_text">{% trans "By un-checking this box, automatic Reminders will be sent to all registered Data Senders linked to your Questionnaire." %}</div>

                 </li>
                </ul>
        </fieldset>
    </div>
    <div class="right_aligned_button margin_right_4">
        <input id="submit-button" class="{% if is_reminder_enabled %}disabled_button{% else %}button{% endif %}" type="submit" value="{% trans 'Save' %}" {% if is_reminder_enabled %}disabled="disabled" {% endif %}/>
    </div>
</form>