{% extends 'project/tab_navigation.html' %}
{% load i18n %}
{% block page_title %}{% trans "Questionnaire - Language" %} {% endblock %}

{% load dw_tabs %}

{% block navigation %}
    {% activetab "tab_nav" "messages_and_reminders" %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "questionnaires" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/javascript/jquery-dropdown/jquery.dropdown.css" rel="stylesheet"/>
    <link href="/media/css/scss/action_button.css" media="screen" rel="stylesheet" />
    <link href="/media/css/scss/automatic_reply_sms.css" media="screen" rel="stylesheet" />
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet"/>
    <link href="/media/css/on-off.css" rel="stylesheet" />
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script>
        var languages_list = {{ languages_list|safe }};
        var current_project_language = '{{ current_project_language|safe }}';
        var post_url = '{{ post_url }}';
        var language_page_link = '{{ languages_link }}';
        var is_outgoing_reply_messages_enabled = '{{ project.is_outgoing_sms_replies_enabled }}';

    </script>
    <script type="text/javascript" src="/media/javascript/ko-binding-extensions.js"></script>
    <script type="text/javascript" src="/media/javascript/flash_message.js"></script>
    <script type="text/javascript" src="/media/javascript/jquery-dropdown/jquery.dropdown.js"></script>
    <script type="text/javascript" src="/media/javascript/common/form_edited_warning_dialog.js"></script>
    <script type="text/javascript" src="/media/javascript/project/project_language.js"></script>

{% endblock %}

{% block content %}
    {% block secondary_navigation_data %}
        {% activetab "secondary_tab_nav" "project_language" %}
        {% include 'project/messages_and_reminders_tabs.html' %}
    {% endblock %}

    <div id="automatic_reply_section">
        <h3>{% trans 'Automatic Reply SMS' %}</h3>
        <div  class="help_accordion">{% trans 'DataWinners analyzes' %}</div>
    </div>

    <div id="flash-message-section">
        {% include "flash_message.html" %}
    </div>

    <div id="project_language_section">
         <div>
            <h6 class="title_set_SMS">
                {% trans 'Send Automatic SMS Replies for My Questionnaire' %}
                <img src="/media/images/help_icon.png" class="help_icon" style="margin-bottom: 10px;">
                <div class="tooltip">
                   <p> {% trans "tooltip_language_checkbox" %} </p>
                </div>
            </h6>
            <div class="onoffswitch" data-bind="onoff: enable_sms_replies" id="myonoffswitch">
                <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div>
        <div class="languages_selection">
             <ul>
                <li>
                    <div>
                        <strong>{% trans "Languages" %}</strong>
                        <img src="/media/images/help_icon.png" class="help_icon" style="margin-bottom: 10px;">
                        <div class="tooltip">
                           <p> {% trans "tooltip_error_language" %} </p>
                        </div>
                    </div>
                <select id="project_language" name="project_language" class="dropdown_style"
                        data-bind="enable:enable_sms_replies, options: available_languages, value: selected_language, optionsText: 'name', optionsValue: 'code'"></select>
                </li>


             </ul>
             {% csrf_token %}

        </div>
        <div class="grid_15 float_right">
            <div class="right_aligned_button">
                <input type="button" data-bind="click: save_and_reload" class="button" value="{% trans "Save" %}"/>
            </div>
        </div>
    </div>

    <div id="cancel_language_changes_warning" style="display: none;">
        {% trans "Do you want to save the changes before leaving this page?" %}<br/>
        <p class="font_size_13">{% trans "Your changes will be lost if you don't save them." %}</p>

        <div class="text_align_right padding_top_20">
            <a id="cancel_dialog" href="javascript:void(0);">{% trans "Cancel" %}</a>
            <a id="ignore_changes" class="button_blue no_button">{% trans "Don't Save" %}</a>
            <a id="save_changes" class="button yes_button">{% trans "Save" %}</a>
        </div>
    </div>

{% endblock %}
