{% extends 'project/tab_navigation.html' %}
{% load i18n %}
{% block page_title %}{% trans "Questionnaire" %} - {%trans "Automatic Reply SMS" %} {% endblock %}

{% load dw_tabs %}

{% block navigation %}
    {% activetab "tab_nav" "messages_and_reminders" %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "questionnaires" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/javascript/jquery-dropdown/jquery.dropdown.css" rel="stylesheet"/>
    <link href="/media/css/scss/util.css" media="screen" rel="stylesheet" />
    <link href="/media/css/scss/action_button.css" media="screen" rel="stylesheet" />
    <link href="/media/css/scss/automatic_reply_sms.css" media="screen" rel="stylesheet" />
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet"/>
    <link href="/media/css/on-off.css" rel="stylesheet" />
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script>
        var languages_list = {{ languages_list|safe }};
        var current_project_language = '{{ current_project_language|safe }}';
        var post_url = '{{ post_url }}';
        var language_page_link = '{{ languages_link }}';
        var is_outgoing_reply_messages_enabled = '{{ project.is_outgoing_sms_replies_enabled }}';
        DW.help_url = "https://www.datawinners.com/{% trans 'wp_language' %}/find-answers-app/category/messrems/?template=help";
    </script>
    <script type="text/javascript" src="/media/javascript/ko-binding-extensions.js"></script>
    <script type="text/javascript" src="/media/javascript/flash_message.js"></script>
    <script type="text/javascript" src="/media/javascript/jquery-dropdown/jquery.dropdown.js"></script>
    <script type="text/javascript" src="/media/javascript/common/form_edited_warning_dialog.js"></script>
    <script type="text/javascript" src="/media/javascript/project/project_language.js"></script>

{% endblock %}
{% block content %}
{% block secondary_navigation_data %}
        {% activetab "secondary_tab_nav" "project_language" %}
        {% include 'project/messages_and_reminders_tabs.html' %}
        <div id="flash-message-section">
            {% include "flash_message.html" %}
        </div>
        <div id="automatic_reply_section">
            <h3>{% trans 'Automatic Reply SMS' %}</h3>
            <div  class="help_accordion">{% trans 'DataWinners analyzes' %} </div>
        </div>
{% endblock %}

{% include 'project/language.html' %}
{% endblock %}
