{% load i18n %}
{% load field_tags %}

{% for field in questionnaire_form %}
    {% if field.is_hidden %}
        <div class="answer">
            {% if field|field_type == 'ChoiceField' %}
                <span class="single_select_question" wmwrap="true">
                            {{ field }}
                        </span>
            {% else %}
                {{ field }}
            {% endif %}

            <ul class="errorlist">
                {% if field.errors %}
                    {% for error in field.errors %}
                        <li>
                            {{ error }}
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endfor %}
{% if not is_edit %}
    {% for field in questionnaire_form %}
        {% if not field.is_hidden %}
            {% if field.name == 'dsid' %}
                <div class="float_left margin_bottom_10">
                <input type="checkbox" value="on_behalf_of" id="on_behalf_of" class="margin_left_minus_16">
                {{ field.label }}
                </div>
                <div class="float_left">
            <p id="ins_{{ field.name }}" class="instructions italic">
                 <span id="choice_ds" class="display_none margin_left_10 italic">
                        {{ field }}
                 </span>
            </p></div>
                <span id="tlp1" class="float_left">
                {% include 'project/partials/tooltip_datasender.html' %}
                </span>
                {% if field.errors %}
                    <ul class="errorlist margin_left_30"><li>
                    {% for error in field.errors %}
                        <span id="on_behalf_of_error" class="padding_bottom_10">
                        {{ error }}
                        </span>
                    {% endfor %}
                    <li></ul>
                {% endif %}
            {% endif %}
            <ul>

            </ul>
        {% endif %}
    {% endfor %}
{% endif %}
<ol class="que_width">
    {% for field in questionnaire_form %}
        {% if not field.is_hidden %}
            {% if field.name != 'dsid' %}
            <li>
                <h6>
                    {{ field.label }}
                </h6>
                <input id='code1' type="hidden" value="{{ field.name }}"/>

                <p id="ins_{{ field.name }}" class="instructions italic">
                    {{ field.help_text }}
                </p>

                <div class="answer">
                    {% if field|field_type == 'UniqueIdChoiceField' %}

                        {% if field.field.choices|length == 0 %}
                            {% include 'project/partials/empty_unique_id_add_link.html' %}
                        {% else %}
                            {{ field }}
                        {% endif %}

                    {% else %}
                        {% if field|field_type == 'ChoiceField' %}
                            <span class="single_select_question" wmwrap="true">
                                {{ field }}
                            </span>

                        {% else %}
                            {{ field }}
                        {% endif %}

                    {% endif %}

                    <ul class="errorlist" style="margin:-8px">
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <li>
                                    {{ error }}
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    <div class="clear-left"></div>
                </div>
            </li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ol>
