{% load i18n %}

<div>

    <div class="ajax-loader-horizontal" data-bind="fadeVisible: !templateGroupingData()">
        <img src="/media/images/ajax-loader-horizontal-bar.gif"/>
    </div>

    <div data-bind="fadeVisible: templateGroupingData()">

        <h6 class="instruction-header">{% trans 'Choose a template and edit it to fit your needs.' %}</h6>

        <div id="questionnaire_template">
            <div data-bind="accordion: templateGroupingData()">
                <div class="template_data" data-bind="text: category, click: $root.removeTemplateId"></div>
                <div data-bind="foreach: templates">
                    <span class="template_name"
                          data-bind="text: name, click: $root.chooseTemplate, css:{selected: $data.id == $root.selectedTemplateId()}"></span>

                    <div class="selected-notify"></div>
                </div>
            </div>
        </div>
        <div>
            <div class="ajax-loader" data-bind="visible: showAjaxLoader"><img src="/media/images/ajax-loader.gif"/></div>
            <div class="selected_questions" data-bind="visible: selectedTemplateId, with: templateData">
                <div><h6 class="project-name-header" data-bind="text: project_name"></h6>
                    <ol data-bind="foreach: $.parseJSON(existing_questions)">
                        <li data-bind="text: name"></li>
                    </ol>
                </div>
            </div>
        </div>

    </div>

</div>