{% load i18n %}
<div>
    <div class="form-row-10px" data-bind="hidden: isEditMode">
        <label>{% trans 'Questionnaire Name:' %}</label>
        <input id= 'questionnaire_title' data-bind="watermark: {text: gettext('Insert a name for this Questionnaire'), inputValue: projectName}, value: projectName, hasFocus: enableQuestionnaireTitleFocus" />
        <img src="/media/images/help_icon.png" class="help_icon" style="margin-top:-6px;">
        <div class="tooltip">
            <p>
                {% trans "tooltip_project_name" %}
            </p>
        </div>
        <div class="validationMessage" data-bind="ifnot: projectName.valid">
               <span id="questionnaire_title_validation_message" class="validationText" data-bind="text: projectName.error"></span>
        </div>
        <p class="black_italic">{% trans "Example: Teacher attendance in Antananarivo" %}</p>
    </div>
    <ul>
        <li>
            <div>
                <strong>{% trans "Languages for SMS Reply Messages" %}:</strong>
                <img src="/media/images/help_icon.png" class="help_icon" style="margin-bottom: 10px;">
                <div class="tooltip">
                   <p> {% trans "tooltip_error_language" %} </p>
                </div>
            </div>
            <select id="project_language" name="project_language" data-bind="options: availableLanguages, value: language, optionsText: 'name', optionsValue: 'code'"
                    class="dropdown_style"></select>

        </li>
        <li>

        </li>

    </ul>
</div>