{% load i18n %}
{% load questionnaire_preview_tags %}

<div class="sms-questionnaire">
    <h4 class="project-name padding_bottom_10">Questionnaire: {{ project.name }}</h4>

    <ul class="questionnaire_title">
        <li>
            <p><h6>{% trans "SMS your answers to" %} {{ org_number|format_organization_number }} </h6></p>
        </li>
        <li>
                <span class="italic">
                    {% trans "Questionnaire Code:" %} <span id="questionnaire-code">{{ questionnaire_code }}</span>
                </span>
        </li>
        <li>
            <p><h6>{% trans "Example SMS Answer:" %} </h6>
            <span class="italic">{{ example_sms }}</span></p>
        </li>
    </ul>
    <div class="clear" style="clear: both;"></div>
    <ol class="olpreview">
        {% for question in questions %}
            <li>
                <h6>{{ question.description }}</h6>
                {% if  question.instruction %}
                    <p class="instructions italic">
                        {% trans question.instruction %}
                    </p>
                    <input class="displayText" disabled="disabled" type="text">
                {% endif %}
                <div class="answer">
                    {% if question.type == "select1" %}
                        <ol class="multiple_select">
                            {% for option in question.constraints %}
                                <li><span class="bullet">{{ option.1 }}.</span><span>{{ option.0 }}</span></li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                    {% if question.type == "select" %}
                        <ol class="multiple_select">
                            {% for option in question.constraints %}
                                <li><span class="bullet">{{ option.1 }}.</span><span>{{ option.0 }}</span></li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ol>
</div>