{% extends 'layout_print.html' %}
{% load i18n %}
{% load field_tags %}
{% load questionnaire_preview_tags %}

{% block page_title %}{% trans "Project - Questionnaire" %} {% endblock %}
{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="questionnaire_preview">
        <div class="preview_block"><a href="#" class="printBtn">{% trans "Print" %}</a></div>
        {% include "project/sms_questionnaire_preview.html" %}
    </div>
    <script>
        $(document).ready(function() {
            $('.printBtn').bind('click', function() {
                {#            var thePopup = window.open( '{{ project_links.questionnaire_preview_link }}', "Customer Listing", "menubar=0,location=0,height=700,width=700" );#}
//            thePopup.onload = function(){this.print(); this.close(); }
                window.print();
            });
        });
    </script>
{% endblock %}
