{% extends 'project/tab_navigation.html' %}
{% load i18n %}

{% block page_title %}{% trans "Project - Questionnaire" %} {% endblock %}

{% load dw_tabs %}

{% block navigation %}
    {% activetab "tab_nav" "questionnaire" %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "projects" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_new_create_project.css" rel="stylesheet"/>
    <link href="/media/css/scss/smart_phone_instruction.css" rel="stylesheet" />
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/entity/questionnaire_view_model.js"></script>
    <script type="text/javascript" src="/media/javascript/jquery.sprintf.js"></script>
    <script type="text/javascript" src="/media/javascript/project/new_questionnaire_charcount.js"></script>
    <script type="text/javascript" src="/media/javascript/warning_dialog.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/questionnaire_helper.js"></script>
    <script type="text/javascript" src="/media/javascript/project/sms_preview.js"></script>
    <script type="text/javascript">
    var question_list = $.parseJSON({{existing_questions|safe}});
    var subject_registration_form_preview_link = "{{ project_links.subject_registration_preview_link }}";
    var sender_registration_form_preview_link = "{{ project_links.sender_registration_preview_link }}";
    var sms_preview_link = "{{ preview_links.sms_preview }}";
    var web_preview_link = "{{ preview_links.web_preview }}";
    var smart_phone_preview_link = "{{ preview_links.smart_phone_preview }}";
    </script>
    <script type="text/javascript" src="/media/javascript/project/questionnaire_wizard_submit.js"></script>
    <script type="text/javascript" src="/media/javascript/project/questionnaire_wizard.js"></script>
    <script type="text/javascript" src="/media/javascript/csrf_token_handler.js"></script>
    <script type="text/javascript" src="/media/javascript/project/questionnaire_instruction_and_preview.js"></script>
    <script type="text/javascript" src="/media/javascript/project/questionnaire_tab_instruction_and_preview.js"></script>
    <script type="text/javascript" src="/media/javascript/ko-binding-extensions.js"></script>
{% endblock %}


{% block step_number %}
    <h3>{% trans "Step 3:" %} {% trans "Questionnaire" %}</h3>
    <p>{% trans "Review the question by clicking on each" %}</p>
{% endblock %}
{% block content %}
    <div>
        <div class="grid_8 alpha">
            <h2>{% trans "Questionnaire" %}</h2>
        </div>
        <div class="clear-both"></div>
    </div>
    <div class="help_accordion">
        {% trans "View and edit your Questionnaire." %}
    </div>
    <form id="question_form">
    {% csrf_token %}
        <fieldset>
            <div class="questionnaire_form_header clearfix">
                {% include 'project/questionnaire_code_indicator_readonly.html' %}
                {% include 'project/preview_navigation.html' %}
            </div>

            <div class="questionnare_content grid_23 alpha omega">
                <div id="message-label" class="none">
                </div>

                <div>
                    <div id="questions-panel" class="grid_8 alpha">
                        <h4>{% trans "Questions" %}</h4>

                        <div class="add_question">
                            <a class="add_link" href="#"
                               data-bind="click: function() { if($('#question_form').valid()) questionnaireViewModel.addQuestion(); DW.close_the_tip_on_period_question(); DW.smsPreview();}">{% trans "Add Another Question" %}</a>
                        </div>

                        <div class="questions" data-bind="scrollToView: enableScrollToView">
                            <div class="question_list" id="que_code">
                                <ol data-bind="foreach: questions, sortable: questions">
                                    <li data-bind="click: function() { if($('#question_form').valid()) $parent.changeSelectedQuestion($data); }, css:{question_selected:$data == $parent.selectedQuestion(),sort: true} ">
                                        <a href="#" data-bind="text: $data.display"></a>

                                        <div class="delete">
                                                <a href="questionnaire_wizard.html#" class="delete_link"
                                                   data-bind="css: {visible: $data.canBeDeleted, hidden: !$data.canBeDeleted()}, click: function() {if($('#question_form').valid()){ questionnaireViewModel.removeQuestion($data);} else {questionnaireViewModel.removeIfQuestionIsSelectedQuestion($data);} }">{% trans "Delete" %}</a>

                                                <span>
                                                    <a data-bind="visible: $index(), click: $parent.moveQuestionUp,clickBubble: false"
                                                       class="question_action">
                                                        <span class="move-text"><img class="move-image"
                                                                                     src="/media/images/arrow_full_up_Blue.png"/>{% trans "Move Up" %}</span>
                                                    </a>
                                                    <a class="question_action"
                                                       data-bind="visible: $index() < $parent.questions().length-1,click: $parent.moveQuestionDown,clickBubble: false">
                                                        <span class="move-text move-down"><img class="move-image"
                                                                                               src="/media/images/arrow_full_down_Blue.png"/>{% trans "Move Down" %}</span>
                                                    </a>
                                                </span>

                                        </div>
                                            <span class="selected_question_arrow"
                                                  data-bind="css:{inline:$data == $parent.selectedQuestion()}"></span>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="add_question" data-bind="visible: questionnaireViewModel.questions().length>0">
                            <a class="add_link" href="questionnaire.html#"
                               data-bind="click: function() { if($('#question_form').valid()) questionnaireViewModel.addQuestion(); DW.close_the_tip_on_period_question();}">
                                {% trans "Add another Question" %}</a>
                        </div>
                    </div>

                    <div id="question-detail-panel">
                        <div id="not_wizard">
                            {% include 'project/question_detail_panel.html' %}
                            {% include 'project/sms_preview.html' %}
                        </div>
                        <div data-bind="visible: isSelectedQuestionNull" class="select_question_message" style="">Select a question to edit or add another question.</div>
                        <div class="margin_top_10 save-button" >
                            <input id="submit-button" type="submit" class="button" value="{% trans 'Save' %}" />
                        </div>
                    </div>

                </div>
            </div>
        </fieldset>
    </form>
    <div class="questionnaire_preview">
        {% trans "Generating the questionnaire preview." %}
    </div>
    {% include "empty_questionnaire_dialog.html" %}
    {% include "redistribute_questionnaire_dialog.html" %}
{% endblock %}
