{% extends 'layout_print.html' %}
{% load i18n %}
{% load field_tags %}
{% load questionnaire_preview_tags %}

{% block page_title %}{% trans "Project - Questionnaire" %} {% endblock %}

{% block body %}
    <div id="questionnaire_preview">
        <div class="preview_block"><a href="#" class="printBtn">{% trans "Print" %}</a></div>
        {% block questinnaire %}
            {% include "project/sms_questionnaire_preview.html" %}
        {% endblock %}
    </div>
    <script>
        $(document).ready(function () {
            $('.printBtn').bind('click', function (event) {
                window.print();
                event.preventDefault();
            });
        });
    </script>
{% endblock %}
