{% load i18n %}
<div data-bind="with: selectedQuestion">
    <ul>
        <li class="question">
            <label>{% trans "Question" %}</label>
            <input id="question_title" name="question_title" type="text" class="required question_title"
                   data-bind="valueUpdate:'keyup', hasFocus:$root.enableQuestionTitleFocus, value: title"/>
            <div class="validationMessage" data-bind="ifnot: title.valid">
                <span id="question_title_validation_message" class="validationText" data-bind="text: title.error"></span>
            </div>
            <span id="periode_green_message"><br/>{% trans "change_event_time_field_message" %}<br/></span>
        </li>
        <li style="display: none;">

            <div id="question_code" style="display: none;">
                <label>{% trans "Code" %}<img src="/media/images/help_icon.png" class="help_icon"
                                              style="margin-top:-6px;"></label>

                <div class="tooltip"><p>
                    <strong>{% trans "What is this?" %}</strong><br/>
                    {% trans "q_tooltip_question_detail_code" %}
                    <strong>{% trans "What do I need to do?" %}</strong><br/>
                    {% trans "r_tooltip_question_detail_code" %}
                </p></div>
                <input id="code" name="code" type="text" class="required" data-bind="value: code, valueUpdate: 'keyup'"/>
            </div>
        </li>
        <li class="question_type margin_null"
            data-bind="hidden: is_entity_question">
            <label>{% trans "Answer Type" %}<img src="/media/images/help_icon.png" class="help_icon" data-bind="initializeTooltip:true"
                                                 style="margin-top:-6px;"></label>

            <div class="tooltip"><p>
                <strong>{% trans "What is this?" %}</strong><br/>
                {% trans "q_tooltip_question_detail_type" %}
                <br/><br/>
                <strong>{% trans "What do I need to do?" %}</strong><br/>
                {% trans "r_tooltip_question_detail_type" %}
            </p></div>
            <p class="margin_bottom_10">{% trans "Select what kind of answer you want from your Data Senders." %}</p>

            <div class="dropdown">
                <select name="answer_type" data-bind="value: answerType" autofocus>
                    <option disabled="disabled" value="">{% trans 'Select an Answer Type' %}</option>
                    <option value="text"> {% trans 'Word or Phrase' %} </option>
                    <option value="integer"> {% trans 'Number' %} </option>
                    <option value="date"> {% trans 'Date' %} </option>
                    <option value="choice"> {% trans 'Multiple Choice' %} </option>
                    <option value="geocode"> {% trans 'GPS Coordinates' %} </option>
                </select>
                <div class="validationMessage" data-bind="ifnot: answerType.valid">
                    <span class="validationText" data-bind="text: answerType.error"></span>
                </div>
            </div>
        </li>

        <li data-bind="visible: showDateFormats">
            <div class="margin_top_20">
                <p>
                    <label>{% trans "Select Date Format" %}</label>
                </p>

                <p>
                    <input type="radio" name="date_format" value="mm.yyyy"
                           data-bind="checked:date_format, valueUpdate: 'keyup'"/>
                    {% trans "month.year" %} (06.2011)<br/>
                    <input type="radio" name="date_format" value="dd.mm.yyyy"
                           data-bind="checked:date_format, valueUpdate: 'keyup'"/>
                    {% trans "day.month.year" %} (28.06.2011)<br/>
                    <input type="radio" name="date_format" value="mm.dd.yyyy"
                           data-bind="checked:date_format, valueUpdate: 'keyup'"/>
                    {% trans "month.day.year" %} (06.28.2011)<br/>
                </p>
            </div>
        </li>
        <li data-bind="visible: showAddChoice()">
            {% include 'project/choice_template.html' %}
            <div class="margin_top_20">
                <ol class="alpha_list que_list" id="options_list"
                    data-bind="template: { name : 'choice-template',foreach : choices }">
                </ol>
                <a id="add_choice" href="javascript:void(0);" class="add_link"
                   data-bind="click: function() { addOptionToQuestion(); }">
                    {% trans "Add Answer Choice" %}</a>
            </div>
            <div>
                <input type="radio" name="answers_possible" value="select1"
                       data-bind="checked:type, valueUpdate: 'keyup'"/>
                {% trans "only one answer" %}<br/>
                <input type="radio" name="answers_possible" value="select"
                       data-bind="checked:type, valueUpdate: 'keyup'"/>
                {% trans "multiple answers are permitted" %}<br/>
            </div>
        </li>
        <li data-bind="visible: showAddRange">
            <div class="margin_top_20">
                <div class="question_option">
                    {% trans "Min:" %}
                    <input name="range_min" type="text" id="range_min" data-bind="value:range_min"/>
                    <div class="validationMessage" data-bind="ifnot: range_min.valid">
                        <span id="min_range_validation_message" class="validationText" data-bind="text: range_min.error"></span>
                    </div>
                </div>

                <div class="question_option">
                    {% trans "Max:" %}
                    <input name="range_max" type="text" id="range_max" data-bind="value:range_max"/>
                    <div class="validationMessage" data-bind="ifnot: range_max.valid">
                        <span id="max_range_validation_message" class="validationText" data-bind="text: range_max.error"></span>
                    </div>
                </div>
            </div>
        </li>
        <li data-bind="visible: showAddTextLength">
            <div class="margin_top_20">
                <input type="radio" name="text_length" value="length_unlimited" checked="true"
                       data-bind="checked:length_limiter"/>
                {% trans "No, answer has no character limit" %}<br/>

                <div class="max_char">
                    <input type="radio" name="text_length" value="length_limited"
                           data-bind="checked:length_limiter, valueUpdate: 'keyup'"/>
                    {% trans "Yes, maximum number of characters should be" %}
                    <div>
                        <input name="max_length" type="text" id="max_length"
                               data-bind="value:max_length, visible: showLengthLimiter()"/>
                        <div class="validationMessage" data-bind="ifnot: max_length.valid">
                            <span id="max_length_validation_message" class="validationText" data-bind="text: max_length.error"></span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="margin_top_20" data-bind="visible: type()">
                <label>{% trans "Instructions" %}<img src="/media/images/help_icon.png" class="help_icon" data-bind="initializeTooltip:true"
                                                      style="margin-top:-6px;"></label>

                <div class="tooltip"><p>
                    {% trans "tooltip_question_detail_instruction" %}
                </p></div>
                <span id="question_instruction"
                      data-bind="text: instruction"></span>
            </div>
        </li>
    </ul>

    <div id="option_warning_message">
        <div class="warning_message" id="option_warning_text"></div>
        <a href="javascript: ;" class="cancel_link" id="option_warning_message_cancel">{% trans "Cancel" %}</a>
        <a href="javascript: ;" class="button" id="option_warning_message_continue">{% trans "Continue" %}</a>
    </div>
</div>