{% load i18n %}
{% load field_tags %}
{% for field in questionnaire_form %}
    {% if field.is_hidden %}
        <div class="answer">
            {% if field|field_type == 'ChoiceField' %}
                <span class="single_select_question" wmwrap="true">
                            {{ field }}
                        </span>
            {% else %}
                {{ field }}
            {% endif %}

            <ul class="errorlist">
                {% if field.errors %}
                    {% for error in field.errors %}
                        <li>
                            {{ error }}
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endfor %}
<ol class="que_width">
    {% for field in questionnaire_form %}
        {% if not field.is_hidden %}
            <li>
                <h6>
                    {{ field.label }}
                    {% if field.name == 'dsid' %}
                        {% include 'project/partials/tooltip_datasender.html' %}
                    {% endif %}
                </h6>
                <input id='code1' type="hidden" value="{{ field.name }}"/>

                <p id="ins_{{ field.name }}" class="instructions italic">
                    {{ field.help_text }}
                </p>

                <div class="answer">
                    {% if field|field_type == 'UniqueIdChoiceField' %}

                        {% if field.field.choices|length == 0 %}
                            {% include 'project/partials/empty_unique_id_add_link.html' %}
                        {% else %}
                            {{ field }}
                        {% endif %}

                    {% else %}
                        {% if field|field_type == 'ChoiceField' %}
                            <span class="single_select_question" wmwrap="true">
                                {{ field }}
                            </span>

                        {% else %}
                            {{ field }}
                        {% endif %}

                    {% endif %}

                    <ul class="errorlist">
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <li>
                                    {{ error }}
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    <div class="clear-left"></div>
                </div>
            </li>
        {% endif %}
    {% endfor %}
</ol>
