{% load i18n %}

<ul class="questionnaire_code">
    <li>
        <label>{% trans "SMS Questionnaire Code:" %}</label>
        <input id='project-id' type='hidden' value="{{ project.id }}"/>
        <input id='project-state' type='hidden' value="{{ project.state }}"/>
        <input id='saved-questionnaire-code' type='hidden' value="{{ questionnaire_code }}"/>
        <input id='questionnaire-code' value="{{ questionnaire_code }}"/>
        <img src="/media/images/help_icon.png" class="help_icon" style="margin-bottom: 10px;">
        <div class="tooltip"><p>
            {% trans "tooltip_question_code" %}
        </p></div>
        <div id="questionnaire-code-error" class="error_arrow"></div>
    </li>
</ul>