{% load i18n %}
<script type="text/javascript" src="/media/javascript/home/choose_questionnaire_creation_type.js"></script>

<div id="project_profile" class="clear_both">
    <h5>{% trans "1. Choose How You Want To Start" %}</h5>
    <div id="questionnaire_types">
        <div class="questionnaire_type_header">
            <span class="header">{% trans "Use a Blank Questionnaire" %}</span>
        </div>
        <h6>{% trans 'Start with an empty Questionnaire and add your list of questions.'%}</h6>
        <div class="questionnaire_type_header">
            <span class="header">{% trans "Use a Template" %}</span>
        </div>

        <div>
            <span class="project_name">{% trans " -- Template goes here --" %}</span>
        </div>

        <div class="questionnaire_type_header">
            <span class="header">{% trans "Use one Of Your Existing Questionnaire" %}</span>
        </div>
        <div>
            <span class="project_name">{% trans "--  blank --" %}</span>
        </div>

    </div>
    <div class="right_aligned_button create_project">
        <a href="/project/" class="cancel_project">{% trans "Cancel" %} </a>
        <input type="button" class="button_wizard_next_small" id="continue_project" value="{% trans "Continue" %}"/>
    </div>

</div>
