{% extends 'project/tab_navigation.html' %}
{% load i18n %}
{% block page_title %} {% trans "Projects - Data Senders" %} {% endblock %}

{% load dw_tabs %}
{% block navigation %}
    {% activetab "tab_nav" "data_senders" %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "projects" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_subjects.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_all_datasenders.css" rel="stylesheet"/>
    <link href="/media/css/scss/import_popup.css" rel="stylesheet"/>
    <link href="/media/javascript/file_uploader/fileuploader.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet"/>
    <link href="/media/css/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/media/javascript/jquery-dropdown/jquery.dropdown.css" rel="stylesheet"/>
    <link href="/media/css/scss/action_button.css" media="screen" rel="stylesheet"/>
    <link href="/media/css/scss/section_datasender_import.css" media="screen" rel="stylesheet"/>

{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/common/location_auto_suggest_widget.js"></script>
    <script type="text/javascript" src="/media/javascript/warning_dialog.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/datasender_actions.js"></script>
    <script type="text/javascript" src="/media/javascript/datasenders/datasender_import.js"></script>
    <script type="text/javascript" src="/media/javascript/file_uploader/fileuploader.js"></script>
    <script type="text/javascript" src="/media/javascript/datasenders/device_tool_tips.js"></script>
    <script type="text/javascript" src="/media/javascript/jquery-dropdown/jquery.dropdown.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/definitions.js"></script>
    <script type="text/javascript" src="/media/javascript/data_modified_warning.js"></script>
    <script type="text/javascript" src="/media/javascript/data_submission.js"></script>
    <script type="text/javascript" src="/media/javascript/project/register_reporter.js"></script>

    <script>
        var user_dict = {{ user_dict|safe }};
        var import_datasenders_link = "{% url registered_datasenders project.id %}"
    </script>
{% endblock %}

{% block content %}
    <div>
        <div class="grid_8 alpha">
            <h2>{% trans "My Data Senders" %}</h2>
        </div>
        <div class="float_right">

{#            <a href="{{ project_links.register_datasenders_link }}"#}
{#               class="register_data_sender">{% trans "Register a Data Sender" %}</a> &nbsp;|&nbsp;#}




            <a class="register_data_sender" onclick="register_datasender()">{% trans "Register a Data Sender" %}</a> &nbsp;|&nbsp;
            <a href="javascript:void(0);" id="import-datasenders">{% trans "Import a List" %}</a>
        </div>
        <div class="clear-both"></div>
    </div>

    <div id="my_subjects">
        {% block secondary_navigation_datasenders %}
            {% activetab "secondary_tab_nav" "datasenders" %}
            {{ block.super }}
        {% endblock %}
    </div>

    {% include 'flash_message.html' %}

    {% include 'entity/all_data_senders/web_submission_access_block.html' %}
    <input type="text" value="{{ project.id }}" class="none" id="project_id"/>
    <input type="hidden" value="{{ project.name }}" id="project_name"/>
    {% include 'project/mydatasenders_table.html' %}
    <div id="popup-import" class="popup-import">
        {% include "import-datasenders.html" %}
    </div>
    {% include "entity/delete_datasenders_warning_dialog.html" %}
    <div id="datasender-popup" style="display:none;"></div>

{% endblock %}

