{% extends 'project/tab_navigation.html' %}
{% load i18n %}
{% block page_title %} {% trans "Projects - Data Senders" %} {% endblock %}

{% load dw_tabs %}
{% block navigation %}
    {% activetab "tab_nav" "data_senders" %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "projects" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_subjects.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_all_datasenders.css" rel="stylesheet"/>
    <link href="/media/javascript/file_uploader/fileuploader.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet" />
    <link href="/media/css/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/media/javascript/jquery-dropdown/jquery.dropdown.css" rel="stylesheet"/>
    <link href="/media/css/scss/action_button.css" media="screen" rel="stylesheet" />
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/warning_dialog.js"></script>
    <script type="text/javascript" src="/media/javascript/action_dropdown.js"></script>
    <script type="text/javascript" src="/media/javascript/datasenders/index.js"></script>
    <script type="text/javascript" src="/media/javascript/project/my_datasenders_reload_tables.js"></script>
    <script type="text/javascript" src="/media/javascript/file_uploader/fileuploader.js"></script>
    <script type="text/javascript" src="/media/javascript/project/registered_datasenders.js"></script>
    <script type="text/javascript" src="/media/javascript/datasenders/import.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/entity_actions.js"></script>
    <script type="text/javascript" src="/media/javascript/datasenders/device_tool_tips.js"></script>
    <script type="text/javascript" src="/media/javascript/jquery-dropdown/jquery.dropdown.js"></script>

{% endblock %}

{% block content %}
    {% if grant_web_access %}
        <div id="flash-message" class="success-message-box">
            {% trans "Access to Web Submission has been given to your DataSenders" %}
        </div>
    {% endif %}
    <div>
        <div class="grid_8 alpha">
            <h2>{% trans "My Data Senders" %}</h2>
        </div>
        <div class="grid_8 float_right omega text_align_right">
            <a href="{{ project_links.register_datasenders_link }}" class="register_data_sender">{% trans "Register a Data Sender" %}</a> &nbsp;|&nbsp;
            <a href="javascript:void(0);" id="import-datasenders">{% trans "Import a list" %}</a>
        </div>
        <div class="clear-both"></div>
    </div>

    <div id="my_subjects">
        {% block secondary_navigation_datasenders %}
            {% activetab "secondary_tab_nav" "datasenders" %}
            {{ block.super }}
        {% endblock %}
    </div>

    {% if messages %}
        <ul class="messages padding_bottom_10">
            {% for message in messages %}
                <li{% if message.tags %} class="error {{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% include 'entity/all_data_senders/web_submission_access_block.html' %}

    <div id="action_dropdown">
        <div id="action_button"  class="action_bar clear-both" style="margin-bottom: 20px">
            <div class="btn-group">
                <button class="btn dropdown-toggle action ds_action" href="#" data-dropdown="#none-selected">{% trans "Actions" %}
                    <span class="caret"></span>
                </button>
            </div>
        </div>

        <div id="action" class="dropdown" >
            <ul class="dropdown-menu">
                {% if EDIT_DATA_SENDERS_ENABLED and not in_trial_mode %}
                    <li><a class="edit" id="edit">{% trans "Edit" %}</a></li>
                {% else %}
                    {% if in_trial_mode %}
                        <li class="disabled on_trial"><a class="edit" id="edit">{% trans "Edit" %} <span class="info">({% trans "not available for trial accounts" %})</span></a></li>
                    {% endif %}
                {% endif %}
                <li><a class="disassociate" id="disassociate">{% trans "Remove from project" %}</a></li>
                <li><a class="makewebuser" id="makewebuser">{% trans "Give Web Submission Access" %}</a></li>
                <li><a class="delete" id="delete">{% trans "Delete" %}</a></li>
            </ul>
        </div>

        <div id="none-selected" class="dropdown">
            <div class="dropdown-panel">
                {% trans "Select a Data Sender" %}
            </div>
        </div>
    </div>

    <div class="data-sender-table-wrapper">
        <table id='associated_data_senders' class="styled_table">
            <thead>
            <tr>
                <th><input type="checkbox" id="checkall-datasenders"/></th>
                {% for title in labels %}
                    <th>{% trans title %}</th>
                {% endfor %}
                <th>{% trans "Email" %}</th>
                <th class="devices" colspan="3">
                    <span>{% trans "Devices" %}</span>
                    {% include "alldata/device_icons.html" %}
                </th>
            </tr>
            </thead>
            <tbody id="tbody" class="datasenders_list">
            {% for data in all_data %}
                <tr>
                    <td><input id="{{ data.short_code }}" type="checkbox" value="{{ data.short_code }}" {% if data.is_user %}class="is_user"{% endif %}/>
                    <td>{{ data.name }}</td>
                    <td>{{ data.short_code }}</td>
                    <td>{{ data.location }}</td>
                    <td>{{ data.geo_code }}</td>
                    <td>{{ data.mobile_number }}</td>
                    <td style="display: none">{{ data.project }}</td>
                    <td class="email">{{ data.email }}</td>
                    <td class="device-icon"><img src="/media/images/right_icon.png" alt="Yes"></td>
                    <td class="device-icon">
                        {% if "Web" in data.devices %}
                            <img src="/media/images/right_icon.png" alt="Yes">
                        {% else %}
                            <span>--</span>
                        {% endif %}
                    </td>
                    <td class="device-icon">
                        {% if "Smartphone" in data.devices %}
                            <img src="/media/images/right_icon.png" alt="Yes">
                        {% else %}
                            <span>--</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <input type="text" value="{{ project.id }}" class="none" id="project_id"/>
    <input type="hidden" value="{{ project.name }}" id="project_name"/>
    <div id="popup-import">
        {% include "import-datasenders.html" %}
    </div>
    {% include "entity/delete_datasenders_warning_dialog.html" %}
{% endblock %}