{% extends 'project/tab_navigation.html' %}
{% load i18n %}
{% block page_title %} {% trans "Projects - Subjects" %} {% endblock %}

{% load dw_tabs %}
{% block navigation %}
    {% activetab "tab_nav" "subjects" %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "projects" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    {#    <link href="/media/css/scss/section_project_overview.scss" rel="stylesheet" />#}
{% endblock %}
{% block content %}
    {% block secondary_navigation_subjects %}
        {% activetab "secondary_tab_nav" "subjects" %}
        {{ block.super }}
    {% endblock %}

    <table class="styled_table">
        <thead>
        <th>{% trans "Unique ID" %}</th>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Type" %}</th>
        <th>{% trans "Contact info" %}</th>
        </thead>
        <tbody>
        {% for each in all_data %}
            <tr>
                <td>{{ each.short_name }}</td>
                {% if each.name %}
                    <td>{{ each.name }}</td>
                {% else %}
                    <td>--</td>
                {% endif %}
                <td>{{ each.type }}</td>
                {% if each.mobile_number %}
                    <td>{{ each.mobile_number }}</td>
                {% else %}
                    <td>--</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
