{% extends 'project/tab_navigation.html' %}
{% load i18n %}
{% block page_title %} {% trans "Questionnaires - Data Senders" %} {% endblock %}

{% load dw_tabs %}
{% block navigation %}
    {% activetab "tab_nav" "data_senders" %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "questionnaires" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_subjects.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_all_datasenders.css" rel="stylesheet"/>
    <link href="/media/css/scss/import_popup.css" rel="stylesheet"/>
    <link href="/media/javascript/file_uploader/fileuploader.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet"/>
    <link href="/media/css/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/media/javascript/jquery-dropdown/jquery.dropdown.css" rel="stylesheet"/>
    <link href="/media/css/scss/action_button.css" media="screen" rel="stylesheet"/>
    <link href="/media/css/scss/section_datasender_import.css" media="screen" rel="stylesheet"/>

{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/common/location_auto_suggest_widget.js"></script>
    <script type="text/javascript" src="/media/javascript/warning_dialog.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/datasender_actions.js"></script>
    <script type="text/javascript" src="/media/javascript/datasenders/datasender_import.js"></script>
    <script type="text/javascript" src="/media/javascript/file_uploader/fileuploader.js"></script>
    <script type="text/javascript" src="/media/javascript/datasenders/device_tool_tips.js"></script>
    <script type="text/javascript" src="/media/javascript/jquery-dropdown/jquery.dropdown.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/definitions.js"></script>
    <script type="text/javascript" src="/media/javascript/data_modified_warning.js"></script>
    <script type="text/javascript" src="/media/javascript/datasender_modified_warning.js"></script>
    <script type="text/javascript" src="/media/javascript/project/register_reporter.js"></script>
    <script type="text/javascript" src="/media/javascript/project/bind_project_links.js"></script>
    <script src="/media/javascript/project/bind_project_links.js" type="text/javascript"></script>

    <script>
        var user_dict = {{ user_dict|safe }};
        var import_datasenders_link = "{% url registered_datasenders project.id %}"
    </script>
{% endblock %}

{% block content %}
    <div>
        <div class="grid_8 alpha">
            <h2>{% trans "My Data Senders" %}</h2>
        </div>
        <div class="float_left full_width">
        <strong>{% trans "People Authorized to Submit Data Using SMS" %}</strong><img src="/media/images/help_icon.png" class="help_icon submission_date_help_icon">
            <div class="tooltip">
                <ol class="margin_left_20">
                <span>{% trans "You decide who has permission to submit data using SMS for this Questionnaire:" %} </br> </span>
                    <li class="margin_left_30">{% trans "Everyone – Any phone can submit data" %} </br> </li>
                    <li class="margin_left_30">{% trans "Only Registered People  – Data Senders must be registered first before submitting data."%}</li>
                </ol>
            </div>
            </br>
            {% trans "Everyone – Anyone with a simple phone can submit data" %}&nbsp;&nbsp;<a class="change_setting">{% trans "Change" %}</a>
            </br></br>
        </div>
        <div align="right">

{#            <a href="{{ project_links.register_datasenders_link }}"#}
{#               class="register_data_sender">{% trans "Register a Data Sender" %}</a> &nbsp;|&nbsp;#}




            <a class="register_data_sender" onclick="register_datasender()">{% trans "Register a Data Sender" %}</a> &nbsp;|&nbsp;
            <a href="javascript:void(0);" id="import-datasenders">{% trans "Import a List" %}</a>
        </div>
        <div class="clear-both"></div>
    </div>

    <div id="my_subjects">
        {% block secondary_navigation_datasenders %}
            {% activetab "secondary_tab_nav" "datasenders" %}
            {{ block.super }}
        {% endblock %}
    </div>

    {% include 'flash_message.html' %}

    {% include 'entity/all_data_senders/web_submission_access_block.html' %}
    <input type="text" value="{{ project.id }}" class="none" id="project_id"/>
    <input type="hidden" value="{{ project.name }}" id="project_name"/>
    {% include 'project/mydatasenders_table.html' %}
    <div id="popup-import" class="popup-import">
        {% include "import-datasenders.html" %}
    </div>
    {% include "entity/delete_datasenders_warning_dialog.html" %}
    <div id="datasender-popup" style="display:none;"></div>
    <div id="change_ds_setting">
    <p class="warning_message margin_bottom_5">{% trans "Who has permission to submit data using SMS for this Questionnaire:" %}</p>
        <input type="radio" value="select_everyone"><span class="margin_left_10">{% trans "Everyone" %}</span></br>
        <span class="italic font_size_12 margin_left_30">{% trans "Anyone with a simple phone can submit data." %}</span></br></br>
        <input type="radio" value="select_registered"><span class="margin_left_10">{% trans "Only Registered People" %}</span></br>
            <span class="italic font_size_12 margin_left_30">{% trans "Data Senders must be registered first before submitting data." %}</span></br>
            <span class="italic font_size_12 margin_left_30 margin_bottom_5">{% trans "Example: Registered field staff, community based workers, supervisors" %}</span></br>

        <a href="#" class="button margin_top_15" id="save_ds_setting" style="float: right">{% trans "Save" %}</a>
        <a href="#" class="cancel_link float_right">{% trans "Cancel" %}</a></br>
    </div>
{% endblock %}

