{% extends 'project/tab_navigation.html' %}
{% load i18n %}
{% block page_title %} {% trans "Projects - Data Senders" %} {% endblock %}

{% load dw_tabs %}
{% block navigation %}
    {% activetab "tab_nav" "data_senders" %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "projects" %}
    {{ block.super }}
{% endblock %}

{% block page_css %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/css/plugins/jquery_autocomplete/jquery.autocomplete.css" media="screen">
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_datasenders_common.css" rel="stylesheet" />
    <link href="/media/css/scss/section_subjects.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet"/>
{% endblock %}
{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/jquery_autocomplete/jquery.autocomplete.js"></script>
    <script type="text/javascript">
        var sender_registration_link = "{{ project_links.register_datasenders_link }}";
        var sender_registration_form_preview_link = "{{ project_links.sender_registration_preview_link }}";
    </script>
    <script type="text/javascript" src="/media/javascript/common/location_auto_suggest_widget.js"></script>
    <script type="text/javascript" src="/media/javascript/file_uploader/fileuploader.js"></script>
    <script type="text/javascript" src="/media/javascript/project/register_reporter.js"></script>
    <script type="text/javascript" src="/media/javascript/data_submission.js"></script>
    <script type="text/javascript" src="/media/javascript/data_modified_warning.js"></script>
    <script type="text/javascript" src="/media/javascript/project/datasenders_registration_questionnaire_preview.js"></script>
    <script type="text/javascript" src="/media/javascript/datasenders/import.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/web_questionnaire.js"></script>

{% endblock %}


{% block content %}
    <div>
        <div class="grid_8 alpha">
            <h2>{% trans "My Data Senders" %}</h2>
        </div>
        <div class="grid_8 float_right omega text_align_right">
            <a href="javascript:void(0);" id="import-datasenders">{% trans "Import a List" %}</a>
        </div>
        <div class="clear-both"></div>
    </div>
    <div id="my_subjects">
    {% block secondary_navigation_datasenders %}
        {% activetab "secondary_tab_nav" "criteria" %}
        {{ block.super }}
    {% endblock %}
    </div>

    <div id="my_subjects_links">
        <ul>
{#            <li><a href="javascript:void(0)" class="preview_sender_registration_form">Print</a></li>#}
            <li class="view_link">{% trans "View Style:" %}</li>
            <li class="sms_link"><a href="{{ project_links.datasenders_link }}" class="disable_link" id="sms_preview_btn">SMS</a></li>
            <li class="sms_link"><a href="javascript:void(0)" id="web_preview_btn" class="active">Web</a></li>
        </ul>
        <div class="clear-right"></div>
    </div>

    <div id="my_datasenders">
        <div id="add_data_sender_form">
        {% include "datasender_form.html" %}
        </div>
    </div>

    <div class="sender_registration_preview">
        {% trans "Generating the questionnaire preview." %}
    </div>
    <div id="popup-import">
        {% include "import-datasenders.html" %}
    </div>
{% endblock %}
