{% extends 'project/tab_navigation.html' %}
{% load i18n %}
{% block page_title %} {% trans "Projects - Subjects" %} {% endblock %}

{% load dw_tabs %}
{% block navigation %}
    {% activetab "tab_nav" "subjects" %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "projects" %}
    {{ block.super }}
{% endblock %}

{% block page_css %}
    {{ block.super }}
    <link href="/media/javascript/file_uploader/fileuploader.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/media/css/plugins/jquery_autocomplete/jquery.autocomplete.css" media="screen">
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_questionnaire.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_subjects.css" rel="stylesheet"/>
    <link href="/media/javascript/file_uploader/fileuploader.css" rel="stylesheet"/>
{% endblock %}
{% block page_js %}
    {{ block.super }}
    {% include "web_questionnaire_questions_js.html" %}
    <script type="text/javascript" src="/media/javascript/project/entity.js"></script>
    <script type="text/javascript" src="/media/javascript/project/subject.js"></script>
    <script type="text/javascript" src="/media/javascript/jquery_autocomplete/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="/media/javascript/project/register_entity_validation.js"></script>
    <script type="text/javascript" src="/media/javascript/admin/register_entity.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/create_type.js"></script>
    <script type="text/javascript" src="/media/javascript/csrf_token_handler.js"></script>
    <script type="text/javascript" src="/media/javascript/help_accordion.js"></script>
    <script type="text/javascript" src="/media/javascript/file_uploader/fileuploader.js"></script>
    <script type="text/javascript" src="/media/javascript/entity_import.js"></script>
    <script type="text/javascript">
            var subject_registration_form_preview_link = "{{ project_links.subject_registration_preview_link }}";
            var upload_url = "{% url datawinners.entity.views.all_subject_types %}";
    </script>
{% endblock %}

{% block content %}
    <h2>{% trans "My Subjects" %}</h2>
    {% with entity_type=project.entity_type create_entity_link=register_subjects_link %}
        {% include 'help/subjects_help.html' %}
    {% endwith %}

    {% include "popup-import.html" %}
    <div id="my_subjects">
    {% block secondary_navigation_subjects %}
        {% activetab "secondary_tab_nav" "criteria" %}
        {{ block.super }}
    {% endblock %}
    </div>
    <div class="instruction">
        {% blocktrans with project.entity_type as entity_type %}Define what information you want to collect about each {{ entity_type }}.{% endblocktrans %}
    </div>

    <div id="my_subjects_links">
        <ul>
            <li><a href="{{ project_links.subjects_edit_link }}">Edit</a></li>
            <li><a href="javascript:void(0)"  class="preview_subject_registration_form">{% trans "Print" %}</a></li>
            <li class="view_link">{% trans "View Style:" %}</li>
            <li class="sms_link"><a href="javascript:void(0)" class="active" id="sms_preview_btn">SMS</a></li>
            <li class="sms_link"><a href="javascript:void(0)" id="web_preview_btn">Web</a></li>
        </ul>
        <div class="clear-right"></div>
    </div>

    <div>
        <h2 class="font_size_14">{% blocktrans with project.entity_type as entity_type %}Web {{ entity_type }} Registration Form{% endblocktrans %}</h2>
        <div class="instruction">{% blocktrans with project.entity_type as entity_type and project_links.datasenders_link as url %}All Data Senders who have access to this form can register a new {{ entity_type }} online. You can give them web submission access on the <a href="{{ url }}">All Data Senders</a> page.{% endblocktrans %}</div>
        <br/>
        <br/>
    </div>

    <div id="my_subjects_questions">
        {% include 'entity/subject_questionnaire.html' %}
    </div>
    <div class="subject_registration_preview">
        {% trans "Generating the questionnaire preview." %}
    </div>
{% endblock %}
