{% extends 'project/tab_navigation.html' %}
{% load i18n %}
{% block page_title %}{% trans "Questionnaire - Reminders" %} {% endblock %}

{% load dw_tabs %}

{% block navigation %}
    {% activetab "tab_nav" "messages_and_reminders" %}
    {{ block.super }}
{% endblock %}


{% block body %}
    {% activetab "main_nav" "questionnaires" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_project_overview.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_reminder.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet" />
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script language="JavaScript">
        var is_reminder_enabled = {{ is_reminder_enabled|lower }};
        var reminder_information = $.parseJSON({{ reminder_information|safe }});
        var reminder_data = $.parseJSON({{ reminder_data|safe }});
        var post_url = "{{ post_url }}";
    </script>
    <script type="text/javascript" src="/media/javascript/project/deadline_and_reminder.js"></script>

{% endblock %}


{% block content %}

    {% block secondary_navigation_data %}
        {% activetab "secondary_tab_nav" "reminders" %}
        {% include 'project/messages_and_reminders_tabs.html' %}
    {% endblock %}
    <div>
    {% if is_reminder_enabled %}
        <div class="warning-message-box padding_left_right_10 padding_top_10 padding_bottom_10">
            {% blocktrans with url_to_my_datasender as url_to_my_datasender %}You can only send Reminders to registered Data Senders. First, register your Data Senders on the<a style='float: none; margin: 0;' href='{{ url_to_my_datasender }}'> My Data Senders </a>page.{% endblocktrans %}
        </div>

    {% endif %}
    <span class="bold">{% trans "Reminders" %}</span><br>
    <span class="italic_grey bold">{% trans "Increase the number of Submissions each period (weekly, monthly) by sending automatic SMS reminders to your registered Data Senders." %}</span>
        <div class="success-message-box reminder-success none"></div>
    </div>
    {% include "project/profile_deadline.html" %}
{% endblock %}