{% extends 'project/tab_navigation.html' %}
{% load i18n %}
{% block page_title %}{% trans "Project - Reminders" %} {% endblock %}

{% load dw_tabs %}

{% block navigation %}
    {% activetab "tab_nav" "reminders" %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "projects" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_project_overview.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_broadcast_sms.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_reminder.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet" />
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/project/broadcast_message.js"></script>
{% endblock %}

{% block content %}
    {% block secondary_navigation_reminders %}
        {% activetab "secondary_tab_nav" "message" %}
        {{ block.super }}
    {% endblock %}
    <div class="warning-message-box">
        {% if user.groups.all.0.name == 'NGO Admins' %}
            <p>{% trans 'reminder_trial_warning_message' %}</p>
            <a href="{% url datawinners.accountmanagement.views.upgrade %}" class="button" target="blank">{% trans "Subscribe Now"%}</a>
            <a href="/{% trans "en" %}/pricing/" class="trial_web_learn_more" target="blank">{% trans "Learn More" %}</a>
        {% else %}
            <p class="padding_bottom_null">{% trans 'reminder_trial_warning_message' %}</p>
            <a href="/{% trans "en" %}/pricing/" class="trial_web_learn_more margin_top_null padding_top_null" target="blank">{% trans "Learn More" %}</a>
        {% endif %}
    </div>
{% endblock %}
