{% load i18n %}
<form id="reminder_form" action="">
<span id="project_id" style="display: none;">{{ project.id }}</span>
<span id="project_name" style="display: none;">{{ project.name }}</span>
<div class="success-message-box half-width" style="display: none;"></div>
{% include "project/reminder_note.html" %}
<div class="add_reminder {% if is_reminder %}{% else %}none{% endif %}">
    <div class="grid_23 alpha omega" id='review_section' data-bind="template: { name: 'reminderTemplate', foreach: reminders }, visible: reminders().length > 0">
    </div>
    <div class="submit-buttons">
        <br>
        <button class="button" data-bind="click: addReminder">{% trans "Add Reminder" %}</button>
        <button class="button" type="submit">{% trans "Save the reminders" %}</button>
    </div>
</div>
<div style="display:{% if is_reminder %} none; {% else %} block {% endif %}">
    {% trans "Reminders are not enabled for this questionnaire Please proceed to the next <a>step</a>" %}
</div>
</form>
<script type="text/html" id="reminderTemplate">
        <div class="header">
            <h5 data-bind="text: header()"></h5>
        </div>
    <div class="reminder_content_section">
        <p class="reminder_content">
            <span>{% trans "When" %}</span>
        <ul>
            <li>
                <input type="radio" value="before_deadline" class="before_deadline_radio" data-bind="checked: reminderMode">
                <input
                    data-bind="value: beforeDay, valueUpdate:'keyup', enable: selectBeforeDay,uniqueName:true" class="before_deadline_text required number"/> {% trans "day(s) <strong>before</strong> the deadline" %}
            </li>
            <li><input type="radio" value="on_deadline" data-bind="checked: reminderMode">{% trans "On the deadline" %}
            </li>
            <li><input type="radio" value="after_deadline" data-bind="checked: reminderMode"><input
                    data-bind="value: afterDay, valueUpdate:'keyup', enable: selectAfterDay,uniqueName:true" class="required number"/> {% trans "day(s) <strong>after</strong> the deadline" %}
            </li>
        </ul>
        <br><span id="newDay_err" class="error_message"></span>
        </p>

        <p class="reminder_content">
            {% trans "To Whom" %}
        <ul>
            <li><input data-bind="checked: targetDataSenders, uniqueName:true" name="target_datasenders" type="radio" value="all_datasenders">{% trans "All chosen DS type" %}</li>
            <li><input data-bind="checked: targetDataSenders, uniqueName:true" name="target_datasenders" type="radio" value="datasenders_without_submissions">{% trans "Anyone who hasn't sent data" %}</li>
        </ul>
        </p>

        <p class="reminder_content">
            <textarea data-bind="value: message, valueUpdate: 'keyup',uniqueName:true"
                      maxlength="160" class="required">
            </textarea>
            <div>
                {% trans "The message count is" %} <span data-bind="text: message().length"></span>
            </div>
            <br><span id="newMessage_err" class="error_message"></span>
        </p>
        <a data-bind="click: remove">{% trans "Remove" %}</a>
    </div>
</script>
