{#{% extends 'project/tab_navigation.html' %}#}
{#{% load i18n %}#}
{#{% block page_title %}{% trans "Project - Reminders" %} {% endblock %}#}
{##}
{#{% load dw_tabs %}#}
{##}
{#{% block navigation %}#}
{#    {% activetab "tab_nav" "reminders" %}#}
{#    {{ block.super }}#}
{#{% endblock %}#}
{##}
{#{% block body %}#}
{#    {% activetab "main_nav" "projects" %}#}
{#    {{ block.super }}#}
{#{% endblock %}#}
{##}
{#{% block page_scss %}#}
{#    {{ block.super }}#}
{#    <link href="/media/css/scss/section_project_overview.css" rel="stylesheet"/>#}
{#    <link href="/media/css/scss/section_reminder.css" rel="stylesheet"/>#}
{#{% endblock %}#}
{##}
{#{% block page_js %}#}
{#    {{ block.super }}#}
{#    <script type="text/javascript" src="/media/javascript/project/reminder_new.js"></script>#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#    {% block secondary_navigation_reminders %}#}
{#        {% activetab "secondary_tab_nav" "scheduled" %}#}
{#        {{ block.super }}#}
{#    {% endblock %}#}
{#    {% include "project/reminder_note.html" %}#}
{#    {% if project.is_reminder_enabled %}#}
{#    <div id='new_reminder'>#}
{#        <form id='reminder_form' method="POST" action='{{ create_reminder_link }}'>#}
{#            <input type="hidden" value="{{ project.id }}" id='project_id'>#}
{#            <input type="hidden" id='reminder_id' name="id">#}
{#            <span class="bold">{% trans "When" %}</span>#}
{#            <ul class="margin_bottom_20" id='when_block'>#}
{#                <li>#}
{#                    <input type="radio"#}
{#                           value="before_deadline" name="reminder_mode" class="before_deadline_radio"><input disabled="disabled"#}
{#                                                                               id="days_before_deadline"#}
{#                                                                               type="text" class="required number" name="day"/> {% trans "day(s) <strong>before</strong> the deadline" %}#}
{#                </li>#}
{#                <li>#}
{#                    <input type="radio" value="on_deadline" name="reminder_mode"#}
{#                           checked="checked">{% trans "On the deadline" %}#}
{#                </li>#}
{#                <li>#}
{#                    <input type="radio"#}
{#                           value="after_deadline" name="reminder_mode"><input disabled="disabled"#}
{#                                                                              id="days_after_deadline"#}
{#                                                                              type="text" class="required number" name="day"/> {% trans "day(s) <strong>after</strong> the deadline" %}#}
{#                </li>#}
{#            </ul>#}
{#            <span class="bold">{% trans "To Whom" %}</span>#}
{#            <ul class="margin_bottom_20">#}
{#                <li><input name="remind_to" type="radio"#}
{#                           value="all_datasenders" checked="checked">{% trans "Everyone" %}</li>#}
{#                <li><input name="remind_to" type="radio"#}
{#                           value="datasenders_without_submissions">{% trans "Anyone who hasn't sent data" %}</li>#}
{#            </ul>#}
{##}
{#            <div class="margin_bottom_20">#}
{#                <textarea id='message' class="required" name="message">{% trans "Hello. We have not received your data for" %} {{ project.name }}. {% trans "Please send it to us today. Thank you." %}</textarea>#}
{#                <div class="margin_top_10">#}
{#                    {% trans "The message count is" %} <span id='message_count'>0</span>#}
{#                </div>#}
{#            </div>#}
{#            <a href="#" class="cancel_link">{% trans "Cancel" %}</a>#}
{#            <a href="#" class="button" id="confirm">{% trans "Confirm" %}</a>#}
{#        </form>#}
{#    </div>#}
{#    <div>#}
{#        {% if messages %}#}
{#            {% for message in messages %}#}
{#                <div class="success-message-box reminder-success">#}
{#                    {{ message }}#}
{#                </div>#}
{#            {% endfor %}#}
{#        {% endif %}#}
{#        <div>#}
{#            <strong>{% trans "Deadline" %}: </strong>{{ project.deadline.description }}#}
{#        </div>#}
{#        <a id='add_reminder' class="float_right margin_bottom_10">{% trans "Add a Reminder" %}</a>#}
{#        <table class="styled_table float_left">#}
{#            <thead>#}
{#            <th>{% trans "When" %}</th>#}
{#            <th>{% trans "To" %}</th>#}
{#            <th>{% trans "Message" %}</th>#}
{#            <th>{% trans "Actions" %}</th>#}
{#            </thead>#}
{#            <tbody>#}
{#            {% for reminder in reminders %}#}
{#                <tr>#}
{#                    <td>{{ reminder.when }}</td>#}
{#                    <td>{{ reminder.to }}</td>#}
{#                    <td>{{ reminder.message }}</td>#}
{#                    <td><a href="#" class="edit_reminder" name="{{ reminder.id }}">{% trans "Edit" %}</a> | <a#}
{#                            href="{{ reminder.delete_link }}">{% trans "Delete" %}</a></td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}
{#    {% else %}#}
{#        <div>#}
{#            <strong>{% trans "Reminders are not enabled for this project. Click on Settings tab to activate reminders for this project." %}</strong>#}
{#        </div>#}
{#    {% endif %}#}
{#{% endblock %}#}
