{% extends 'project/tab_navigation.html' %}
{% load i18n %}
{% block page_title %}{% trans "Questionnaire - Reminders" %} {% endblock %}

{% load dw_tabs %}

{% block navigation %}
    {% activetab "tab_nav" "reminders" %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "projects" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_project_overview.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_reminder.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet" />
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/project/deadline_and_reminder.js"></script>
{% endblock %}

{% block content %}
    {% block secondary_navigation_reminders %}
        {% activetab "secondary_tab_nav" "set_reminders" %}
        {{ block.super }}
    {% endblock %}
    <div>
    <span class="italic_grey bold">{% trans "Specify when you want to send automatic Reminders to your Data Senders" %}</span>
        {% if messages %}
            {% for message in messages %}
                <div class="success-message-box reminder-success">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% include "project/profile_deadline.html" %}
{% endblock %}