{% extends 'project/tab_navigation.html' %}
{% load i18n %}
{% block page_title %} {% trans "Review & Test" %} {% endblock %}

{% load dw_tabs %}
{% block navigation %}
    {% activetab "tab_nav" "review_and_test" %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "projects" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_finish.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet"/>
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript">
          var subject_registration_form_preview_link = "{{ project_links.subject_registration_preview_link }}";
          var sender_registration_form_preview_link = "{{ project_links.sender_registration_preview_link }}";

    </script>
    <script type="text/javascript" src="/media/javascript/project/finish_and_test.js"></script>
    <!--<script type="text/javascript" src="/media/javascript/project/create_project.js"></script>-->
    <script type="text/javascript" src="/media/javascript/project/sms_tester.js"></script>
    <script type="text/javascript" src="/media/javascript/csrf_token_handler.js"></script>
    <script type="text/javascript" src="/media/javascript/project/questionnaire_preview.js"></script>
    <script type="text/javascript" src="/media/javascript/project/subjects_registration_questionnaire_preview.js"></script>
    <script type="text/javascript" src="/media/javascript/project/datasenders_registration_questionnaire_preview.js"></script>

{% endblock %}

{% block content %}
    <div class="grid_23 alpha omega" id='review_section'>
        <h4>{% trans "Review" %}<img src="/media/images/help_icon.png" class="help_icon" style="margin-top:-4px;"></h4>
        <div class="tooltip"><p>{% trans "Review and verify the summary of your project on this page." %}</p></div>
        <p class="italic margin_bottom_20">{% trans "Verify the specifications of your project" %}</p>
        <div id='project_profile'>
        <div class="header">
            <h5 class="inline">{% trans "Project Profile" %}</h5>

        </div>
            <div>

            <ul>
                <li>
                    <label>{% trans "Name:" %}</label>
                    <p id="project_name">{{ project.name }}</p>
                </li>
                <li>
                    <label>{% trans "Project Type:" %}</label>
                    <p id="project_type">{{ project.project_type }}</p>
                </li>
                <li><label>
                    {% trans "Project Description:" %}</label>
                    <p id="project_description">{{ project.goals }}</p>
                </li>
                <li><label>
                    {% trans "Devices:" %}</label>
                    <p id="devices">{{ devices }}</p>
                </li>
            </ul>
        </div>
        </div>
        {% if 'no' in project.activity_report %}
            <div id='subjects'>
                <div class="header">
                    <h5 class="inline">{% trans "Subjects" %} </h5>

                </div>
                <div>
                    <ul>
                        <li><label>
                            {% trans "Type:" %}</label>

                            <p id="subject_type">{{ project.entity_type }}</p>
                        </li>
                        <li><label>
                            {% trans "Number of subjects:" %}</label>

                            <p id="no_of_subjects">{{ number_of_subjects }}</p>
                        </li>

                    </ul>
                    <a id="subjects_edit_link" href="{{project_links.subjects_link}}">{% trans "edit" %}</a><img src="/media/images/help_icon.png" class="help_icon" style="margin-top:-6px;">
                    <div class="tooltip"><p>{% trans 'Click "edit" to make any required changes.' %} </p></div>
                </div>
            </div>

        {% endif %}
        <div id="questionnaire">
            <div class='header'>
                 <h5 class="inline">{% trans "Questionnaire" %}</h5>
            </div>
            <div>
            <label>{% trans "Questions:" %} </label>
            <ol>
                {% for question in fields %}
                <li>
                 <p id="question">{{ question.name }}</p>
                </li>
                  {% endfor %}
            </ol>
            <a id="questionnaire_edit_link" href="{% if project.state == 'Active' %}{{project_links.questionnaire_link}}{% else %}{% url edit_project project.id %}{% endif %}">{% trans "edit" %}</a><img src="/media/images/help_icon.png" class="help_icon" style="margin-top:-6px;">
            <div class="tooltip"><p>{% trans 'Click "edit" to make any required changes.' %}</p></div>
        </div>
        </div>
        <div id="data_senders">
            <div class="header">
            <h5 class="inline">{% trans "Data Senders" %}</h5>
        </div>
        <div>
            <ul>
                <li><label>
                    {% trans "Number of data senders :" %}</label>
                    <p id="no_of_datasenders">{{ number_of_datasenders }}</p>
                </li>

            </ul>
            <a id="datasenders_edit_link" href="{{project_links.datasenders_link}}">{% trans "edit" %}</a><img src="/media/images/help_icon.png" class="help_icon" style="margin-top:-6px;">
            <div class="tooltip"><p>{% trans 'Click "edit" to make any required changes.' %} </p></div>
        </div>
        </div>
        {% if not in_trial_mode %}
        <div id="reminders">
            <div class="header">
                <h5 class="inline">{% trans "Reminders" %}</h5>
            </div>
            <div>
                <ul>
                    <li>
                        {% trans "Reminders are" %} <strong>{% trans is_reminder %}</strong> {%trans "for this project" %}
                    </li>
                </ul>
                <a id="remider_edit_link" href="{{project_links.reminders_link}}">{% trans "edit" %}</a>
                <img src="/media/images/help_icon.png" class="help_icon" style="margin-top:-6px;">
                <div class="tooltip"><p>{% trans 'Click "edit" to make any required changes.' %} </p></div>
            </div>
        </div>
        {% endif %}
    </div>
        <h4 class="inline">{% trans "Test This Questionnaire" %}<img src="/media/images/help_icon.png" class="help_icon" style="margin-top:-4px;"></h4>
        <div class="tooltip"><p>
            <strong>{% trans "What is this?" %}</strong><br />
            {% trans "q_tooltip_finish_test" %}
            <br /><br />
            <strong>{% trans "What do I need to do?" %}</strong><br />
            {% trans "r_tooltip_finish_test" %}
        </p></div>
        <div class="SMS_tester_section alpha omega">
            <div class="grid_11 alpha omega">
                <h6>{% trans "SMS Questionnaire" %}</h6>
                <p>{% trans "Test your Questionnaire by this SMS tester" %}</p>
                <a href="#" class="sms_questionnaire sms_tester"> {% trans "Test SMS Questionnaire" %}</a>
            </div>
            <div class="grid_11 omega import_list">
                <h6>{% trans "Web Questionnaire" %}</h6>

                <p>{% trans "Preview and print your questionnaire" %} </p>
                <div class='preview_links'>
                    <!-- <a class="preview_sender_registration_form" href="#">{% trans "Data Sender" %}</a> -->
                    {% ifequal project.activity_report 'yes' %}
                    <a href="#" class="preview_questionnaire preview" >&nbsp;{% trans "Web" %}</a>
                    {% else %}
                    <a class="preview_subject_registration_form" href="#">{% trans "Subject" %} </a>
                    <a href="#" class="preview_questionnaire preview" >&nbsp;{% trans "Web" %} |</a>
                    {% endifequal %}
                </div>
            </div>
        </div>
        {% if project.state == 'Active' %}
            {% include 'project/sms_tester_form.html' %}
        {% endif %}
        <div class="questionnaire_preview">
             {% trans "Generating the questionnaire preview." %}
        </div>
        <div class="sender_registration_preview">
            {% trans "Generating the questionnaire preview." %}
        </div>
        <div class="subject_registration_preview">
            {% trans "Generating the questionnaire preview." %}
        </div>

{% endblock %}