{% extends 'project/tab_navigation.html' %}
{% load i18n %}
{% block page_title %}{% trans "Questionnaire - Reminders" %} {% endblock %}

{% load dw_tabs %}

{% block navigation %}
    {% activetab "tab_nav" "reminders" %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "questionnaires" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_project_overview.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_reminder.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    {% block secondary_navigation_reminders %}
        {% activetab "secondary_tab_nav" "sent" %}
        {{ block.super }}
    {% endblock %}
        <div class="margin_bottom_20">
            <strong>{% trans "Deadline" %}: </strong>{% trans project.deadline.description %}
        </div>
        <table class="styled_table">
            <thead>
            <th>{% trans "When" %}</th>
            <th>{% trans "To" %}</th>
            <th>{% trans "Message" %}</th>
            <th>{% trans "Date" %}</th>
            </thead>
            <tbody>
            {% for reminder in reminders %}
                <tr>
                    <td>{{ reminder.reminder_mode }}</td>
                    <td>{{ reminder.remind_to }}</td>
                    <td>{{ reminder.message }}</td>
                    <td>{{ reminder.date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
