{% load i18n %}
<div class="sms_tester_form none">
    <div class="content italic padding_bottom_10">
        {% trans "Answer the questions in your SMS Questionnaire. Then, follow the Example SMS Answer Format to type the SMS into the phone. Note, you can also use your own mobile phone" %}
    </div>
    <table>
        <tr>
            <td width="50%">
                <div class="questionnaire_preview1">
                </div>
            </td>

            <td width="50%">
                <h4>2. {% trans "Send all your Answers in a single SMS" %}</h4>
                    <div class="margin_left_20 mobile_block">
                        <input id='from_msisdn' type='hidden' value="{{ from_number }}">
                        <input id='to_msisdn' type='hidden' value="{{ to_number }}">

                        <div class="mobile">
                            <textarea name="message" cols="30" rows="4" id="id_message"></textarea>
                        </div>
                        <div>
                            <a id="clear_sms" class="padding_left_right_10 size_1_em" >{% trans 'Clear' %}</a>
                            <input id="send_sms" type="button" class="button" value="{% trans 'Send SMS' %}"/>
                        </div>
                    </div>

            </td>
        </tr>
    </table>
</div>
