{% extends "project/layout_instruction_preview.html" %}
{% load i18n %}
{% load field_tags %}
{% load questionnaire_preview_tags %}

{% block collect_data_via_block %}
    {% trans "Collect Data via SMS" %}
{% endblock %}

{% block collection_data_via_instruction_block %}
    {% trans "Your Data Senders can use their own mobile phone to send in data." %}
{% endblock %}

{% block instruction_block %}
    {% trans "sms instruction" %}
{% endblock %}

{% block preview_header_block %}
    <h6 class="sms-questionnaire-title">{% trans "SMS Questionnaire" %} </h6>
    <a href="#" class="printBtn">{% trans "Print" %}</a>
{% endblock %}

{% block questionnaire_preview_block %}
    {% include "project/sms_questionnaire_preview.html" %}
{% endblock %}
