{% load i18n %}
{% load questionnaire_preview_tags %}

<div class="sms-questionnaire questionnaire-preview">
    <h3 class="project-name padding_bottom_10">{{ project_name }}</h3>
    <span class="italic">
        {% trans "Questionnaire Code:" %} <span id="questionnaire_code">{{ questionnaire_code }}</span>
    </span>
    <ol class="olpreview preview-steps">
        <li class="breakable">
            <h5>{% trans "Answer the questions" %}</h5>
            <div>
                <span class="fill-answers">{% trans "Fill in your answers:" %}</span>
                <ol class="olpreview">
                    {% for question in questions %}
                        <li>
                            <span>{{ question.description }}</span>
                            <div class="answer">
                                {% if question.type == "select1" %}
                                    <ul class="multiple_select">
                                        {% for option in question.constraints %}
                                            <li><span class="bullet">{{ option.1 }}.</span><span>{{ option.0 }}</span></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                {% if question.type == "select" %}
                                    <ul class="multiple_select">
                                        {% for option in question.constraints %}
                                            <li><span class="bullet">{{ option.1 }}.</span><span>{{ option.0 }}</span></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                            {% if  question.instruction %}
                                <div class="clearfix">
                                    <div class="instructions-container">
                                        <span class="instructions italic">
                                            {% trans question.instruction %}
                                        </span>
                                        <div class="dash"></div>
                                    </div>

                                    <div class="displayText"></div>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </li>
        <li>
            <h5>{% trans "Prepare your SMS" %}</h5>
            <div>
                {% trans "Enter all your answers. Use a space to separate them." %}
                <div class="sms-answer">{{ questionnaire_code }}</div>
                {% trans "Example:" %} <span class="italic">{{ example_sms }}</span>
            </div>
        </li>
        <li>
            <h5>{% trans "Send your answers using SMS" %}</h5>
            <div class="org-number">{% trans "Send your SMS to the telephone number:" %} <strong>{{ org_number|format_organization_number }}</strong></div>
        </li>
        <li>
            <h5>{% trans "Wait for our reply SMS" %}</h5>
            <div>{% trans "You will receive an SMS confirmation or specific error message." %}</div>
        </li>
    </ol>
</div>
