{% extends "project/layout_instruction_preview.html" %}
{% load i18n %}
{% load field_tags %}
{% load questionnaire_preview_tags %}

{% block instruction %}
    <div class="instruction-header">
        <h5>{% trans "Collect Data via SMS" %}</h5>
        <p>{% trans "Your Data Senders can use their own mobile phone to send in data." %}</p>
    </div>
    <div class="instruction-content">
        <p class="bold">{% trans "How it Works" %}</p>
        <p>{% trans "sms instruction" %}</p>
    </div>
{% endblock %}

{% block questionnaire_preview %}
    <div class="preview-header clearfix">
        <h6 class="sms-questionnaire-title">{% trans "SMS Questionnaire" %} </h6>
        <a class="printBtn">{% trans "Print" %}</a>
    </div>
    {% include "project/sms_questionnaire_preview.html" %}
{% endblock %}