{% load i18n %}
<div id="static-info" class="padding_top_10 padding_bottom_10">
    <ul>
        {% for header,value in static_content.items %}
            <li class="info">
                <text class='content-header'>{% trans header %}</text>
                {% if header == 'Data Sender' %}
                    <text class='ds_id'>{{ value.0 }}</text>
                    <text class='datasender small_grey'>{{ value.1 }}</text>
                    {% if value.1 != "" %}
                        <a id="change_ds_link" class="margin_left_10">{% trans "Change" %}
                    {% endif %}</a>
                    </br>
                    {% if datasender_error_message %}
                        <span class="font_color_red datasender_error_message">{{ datasender_error_message }}</span>
                    {% endif %}

                {% else %}
                    <text class='content-values'>{{ value }}</text>
                {% endif %}

            </li>

        {% endfor %}

        <li class="info">
            {% if is_error_to_success %}
                <text class='highlight content-header'>{% trans 'Status' %}</text>
                <img class="device-icon" src="/media/images/success_check.png" alt="Success">
                <text class='highlight content-values'>{{ status }}</text>
            {% else %}
                <text class='content-header'>{% trans 'Status' %}</text>
                <text class='content-values'>{{ status}}</text>
            {% endif %}
        </li>
    </ul>
    <div id="edit_ds_popup">
        <span>{% trans "Which registered Data Sender sent you this Submission?" %}</span></br>
        {% for field in questionnaire_form %}
            {% if not field.is_hidden %}
                {% if field.name == 'dsid' %}
                    <div id="choice_field">
                        {{ field }}
                        {% include 'project/partials/empty_datasender_tooltip.html' %}
                    </div></br>
                {% endif %}
            {% endif %}
        {% endfor %}

            <span id="number" class="margin_left_10 none"></span>
                {% if questionnaire_form.fields.dsid.choices|length == 1 %}
                        <a href="javascript:void(0);" class="disabled_yellow_submit_button" disabled="disabled" id="save_ds" style="float: right;text-decoration: None; margin-top: 11px;">{% trans "Change" %}</a>
                {% else %}
                    <a href="javascript:void(0);" class="button margin_top_13 float_right" id="save_ds" style="float: right">{% trans "Change" %}</a>
                {% endif %}
            <a href="javascript:void(0);" class="float_right margin_top_20 cancel_link">{% trans "Cancel" %}</a>
    </div>
</div>




