{% load i18n %}
<h6 xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">{% trans "You are editing the Submission Details" %}</h6>

<div id="static-info">
    {% for header,value in static_content.items %}
        <text class='content-header'>{%  trans header %}</text>
        {% if header == 'Data Sender' %}
            <text class='content-values'>{{ value.0 }}</text><text id = 'datasender-id'>{{ value.1 }}</text>
        {% else %}
            <text class='content-values'>{{ value }}</text>
        {% endif %}
    {% endfor %}

</div>


