{% extends 'project/tab_navigation.html' %}
{% load i18n %}
{% load questionnaire_preview_tags %}
{% block page_title %} {% trans "Projects - Subjects" %} {% endblock %}

{% load dw_tabs %}
{% block navigation %}
    {% activetab "tab_nav" "subjects" %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "projects" %}
    {{ block.super }}
{% endblock %}

{% block page_css %}
    {{ block.super }}
    <link href="/media/javascript/file_uploader/fileuploader.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/media/css/plugins/jquery_autocomplete/jquery.autocomplete.css" media="screen">
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_questionnaire.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_subjects.css" rel="stylesheet"/>
{% endblock %}
{% block page_js %}
    {{ block.super }}
    <script type="text/javascript">
        var upload_url = "{% url import_subjects form_code %}";
        var web_view = "{{web_view}}"
    </script>
    <script type="text/javascript" src="/media/javascript/file_uploader/fileuploader.js"></script>
    <script type="text/javascript" src="/media/javascript/entity_import.js"></script>
    <script type="text/javascript" src="/media/javascript/project/entity.js"></script>
    <script type="text/javascript" src="/media/javascript/project/subject.js"></script>
    <script type="text/javascript" src="/media/javascript/jquery_autocomplete/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="/media/javascript/project/register_entity_validation.js"></script>
    <script type="text/javascript" src="/media/javascript/admin/register_entity.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/create_type.js"></script>
    <script type="text/javascript" src="/media/javascript/csrf_token_handler.js"></script>
    <script type="text/javascript" src="/media/javascript/help_accordion.js"></script>

{% endblock %}

{% block content %}
    <div>
        <div class="grid_8 alpha">
            <h2>{% trans "My Subjects" %}</h2>
        </div>
        <div class="grid_8 float_right omega text_align_right">
            <ul>
                {% block secondary_navigation %} {% endblock %}
            </ul>
        </div>
        {% csrf_token %}
        <div class="clear-both"></div>
    </div>

    <div id="my_subjects">
        {% with create_entity_link=register_subjects_link questions=questionnaire_form %}
            {% include 'help/subjects_help.html' %}
        {% endwith %}

        {% block secondary_navigation_subjects %}
            {% activetab "secondary_tab_nav" "criteria" %}
            {{ block.super }}
        {% endblock %}
    </div>

    {% block page_content %}{% endblock %}
{% endblock %}
