{% extends 'project/tab_navigation.html' %}
{% load i18n %}
{% load questionnaire_preview_tags %}
{% block page_title %} {% trans "Questionnaires - Identification Numbers" %} {% endblock %}

{% load dw_tabs %}
{% block navigation %}
    {% activetab "tab_nav" "subjects" %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "questionnaires" %}
    {{ block.super }}
{% endblock %}

{% block page_css %}
    {{ block.super }}
    <link href="/media/javascript/file_uploader/fileuploader.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/media/css/plugins/jquery_autocomplete/jquery.autocomplete.css" media="screen">
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_questionnaire.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_subjects.css" rel="stylesheet"/>
{% endblock %}
{% block page_js %}
    {{ block.super }}
    <script type="text/javascript">
        var entity_types = {{ project.entity_type|safe }};
        var subject_type = "{{ entity_type|capfirst }}";
        var upload_url = "{% url import_subjects form_code %}";
        var web_view = "{{web_view}}";
        var default_url = "{% url registered_subjects_default project_id%}";
    </script>
    <script type="text/javascript" src="/media/javascript/file_uploader/fileuploader.js"></script>
    <script type="text/javascript" src="/media/javascript/project/entity.js"></script>
    <script type="text/javascript" src="/media/javascript/project/subject.js"></script>
    <script type="text/javascript" src="/media/javascript/jquery_autocomplete/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="/media/javascript/project/register_entity_validation.js"></script>
    <script type="text/javascript" src="/media/javascript/admin/register_entity.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/create_type.js"></script>
    <script type="text/javascript" src="/media/javascript/csrf_token_handler.js"></script>
    <script type="text/javascript" src="/media/javascript/help_accordion.js"></script>
    <script type="text/javascript" src="/media/javascript/common/location_auto_suggest_widget.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/web_questionnaire.js"></script>
    <script type="text/javascript" src="/media/javascript/data_modified_warning.js"></script>
    <script type="text/javascript" src="/media/javascript/project/registered_subjects.js"></script>
{% endblock %}

{% block content %}
    {% block secodary_navigation_subject_types %}
        {{ block.super }}
        <div>
            <div class="grid_8 alpha">
                <h2>{{ entity_type|capfirst }}</h2>
            </div>
            <div class="grid_12 float_right omega text_align_right">
                <ul>
                    {% block secondary_navigation %} {% endblock %}
                </ul>
            </div>
            {% csrf_token %}
            <div class="clear-both"></div>
        </div>

    {% endblock %}

    <div id="my_subjects">
        {% with create_entity_link=register_subjects_link %}
            {% include 'help/subjects_help.html' %}
        {% endwith %}

        {% block secondary_navigation_subjects %}
            {% activetab "secondary_tab_nav" "criteria" %}
            {{ block.super }}
        {% endblock %}
    </div>
    {% block help_accordian %} {% endblock %}
    {% block page_content %}{% endblock %}
{% endblock %}
