{% load i18n %}


{% load questionnaire_preview_tags %}
{% block content %}
    <!-- div for successful message creation-->
    <div class="wizard_success_message">
        <div class="wizard_heading">{% trans "You successfully created your Questionnaire!" %} </div>
        <div class="line"></div>
        {% if is_pro_sms and not open_datasender_questionnaire %}
        <div class="w_content">
            {% if project.xform %}
                <div class="gray_text">{% trans "Just one more step..." %} </div>
            {% else %}
                {% if project.is_open_survey %}
                    {% if project.entity_type %}
                        <div class="gray_text">{% trans "Just two more steps..." %} </div>
                    {% else %}
                        <div class="gray_text">{% trans "Just one more step..." %} </div>
                    {% endif %}
                {% else %}
                    {% if project.entity_type %}
                        <div class="gray_text">{% trans "Just three more steps..." %} </div>
                    {% else %}
                        <div class="gray_text">{% trans "Just two more steps..." %} </div>
                    {% endif %}
                {% endif %}
             {% endif %}

            <ul class="bulleted">
                {% if not project.is_open_survey %}
                <li><a id="datasenders_edit_link"
                       href="{{ project_links.register_datasenders_link }}">{% trans "Add data senders" %} </a>
                    <span class="italic_grey">{% trans "required" %}</span>

                    <p class="black_italic">{% trans "Register each Data Sender (e.g. field staff) to enable them to send data into your Questionnaire." %} </p>
                </li>
                {% endif %}
                {% if project.entity_type %}
                    {% if has_multiple_unique_id %}
                         <li><a href="{{ project_links.subjects_link }}">{% trans "Add new Identification Numbers" %} </a>
                            </li>
                    {% else %}
                        <li>
                        {% for entity_type, subject_link in links.create_subjects_links.iteritems %}
                            <a class="subjects_edit_link"
                                   href="{{ subject_link }}">{% trans "Add a new" %} {{ entity_type|capfirst }} </a>

                        {% endfor %}
                    {% endif %}
                            <p class="black_italic">{% trans "Register each Identification Number you need to collect data about and want to track on a map." %} </p>
                        </li>
                {% endif %}
                {% if not project.xform %}
                    <li class="automatic-sms-link"><span class="black_italic">{% trans "Choose the language of your " %}</span><a href="{{ project_links.automatic_sms_link }}">{% trans "Automatic Reply SMS" %}</a>
                                        <span class="italic_grey">{% trans "optional" %}</span>
                    </li>
                {% endif %}
            </ul>
            </div>
        {% endif %}
        {% if is_pro_sms and open_datasender_questionnaire %}
            <div class="w_content">
            {% if project.entity_type %}
                <div class="gray_text">{% trans "Just two more steps..." %} </div>
            {% else %}
                <div class="gray_text">{% trans "Just one more step..." %} </div>
            {% endif %}
            {% if project.entity_type %}
            <ul class="bulleted">
                {% if has_multiple_unique_id %}
                    <li><a href="{{ project_links.subjects_link }}">{% trans "Add new Identification Numbers" %} </a>
                    </li>
                {% else %}
                    <li>
                    {% for entity_type, subject_link in links.create_subjects_links.iteritems %}
                        <a class="subjects_edit_link" href="{{ subject_link }}">{% trans "Add a new" %} {{ entity_type|capfirst }} </a>
                    {% endfor %}
                {% endif %}
                        <p class="black_italic">{% trans "Register each Identification Number you need to collect data about and want to track on a map." %} </p>
                    </li>
                    <li class="automatic-sms-link">{% trans "Choose the language of your " %}<a href="{{ project_links.automatic_sms_link }}">{% trans "Automatic Reply SMS" %}</a>
                                    <span class="italic_grey">{% trans "optional" %}</span>
                    </li>
            </ul>

            {% else %}
                <ul class="bulleted">
                <li>{% trans "Choose the language of your " %}<a href="{{ project_links.automatic_sms_link }}">{% trans "Automatic Reply SMS" %}</a>
                                    <span class="italic_grey">{% trans "optional" %}</span>
                    </li>
                </ul>
            {% endif %}
            </ul>
            </div>
        {% endif %}
        <div class="w_content">
            {% if not project.xform %}
                <div class="gray_text">{% trans "Test your Questionnaire" %}...</div>
                <ul>
                    <li><a class='sms_tester' href="#">{% trans "Test your SMS Questionnaire" %} </a>
                    </li>
                    <li><p>{% blocktrans with org_number|format_organization_number  as org_number and "<a href='mailto:support@datawinners.com'>support@datawinners.com</a>" as support_id %}Send a test message to {{ org_number}}. Contact {{ support_id }} if you do not receive a reply.{% endblocktrans %}</p>
                    </li>
                    <li><a id="test_web_questionnaire_section"
                           href="{{ project_links.test_questionnaire_link }}">{% trans "Test your Web Questionnaire" %} </a>
                    </li>
                    <li><a class="sms-preview" href="#" style="padding-left: 1px">{% trans "Print your Questionnaire" %} </a></li>
                </ul>
            {% endif %}
            {% if project.xform %}
                <div class="gray_text">{% trans "Test and Edit your Questionnaire..." %}</div>
                <ul>
                    <li>
                        <a href="{{ project_links.questionnaire_link }}"> {% trans "Edit your Questionnaire by uploading a new XLSForm" %}</a>
                    </li>
                    <li>
                        <a href="{{ project_links.test_questionnaire_link }}"> {% trans "Test your Questionnaire" %}</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}