{% load i18n %}


{% load questionnaire_preview_tags %}
{% block content %}
    <!-- div for successful message creation-->
    <div class="wizard_success_message">
        <div class="wizard_heading">{% trans "You successfully created your project!" %} </div>
        <div class="line"></div>
        <div class="w_content">
            {% if not project.is_activity_report %}
                <div class="gray_text">{% trans "Just two more steps..." %} </div>
            {% else %}
                <div class="gray_text">{% trans "Just one more step..." %} </div>
            {% endif %}
            <ul>
                <li><a id="datasenders_edit_link"
                       href="{{ project_links.register_datasenders_link }}">{% trans "Add data senders" %} </a>
                    <span class="italic_grey">{% trans "required" %}</span>

                    <p class="black_italic">{% trans "Register each Data Sender (e.g. field staff) to enable them to send data into your project." %} </p>
                </li>
                {% if not project.is_activity_report %}
                    <li><a id="subjects_edit_link"
                           href="{{ project_links.register_subjects_link_web_view }}">{% trans "Add a new" %} {{ project.entity_type }} </a>

                        <p class="black_italic">{% trans "Register each Subject (e.g. patient, retail shop, village) you need to collect data about and want to track on a map." %} </p>
                    </li>
                {% endif %}

            </ul>
            <div class="gray_text">{% trans "Test your Questionnaire" %}...</div>
            <ul>
                <li><a class='sms_tester' href="#">{% trans "Test your SMS Questionnaire" %} </a>
                </li>
                <li><p>{% blocktrans with org_number|format_organization_number  as org_number and "<a href='mailto:support@datawinners.com'>support@datawinners.com</a>" as support_id %}Send a test message to {{ org_number}}. Contact {{ support_id }} if you do not receive a reply.{% endblocktrans %}</p>
                </li>
                <li><a id="test_web_questionnaire_section"
                       href="{{ project_links.test_questionnaire_link }}">{% trans "Test your Web Questionnaire" %} </a>
                </li>
                <li><a class="sms-preview" href="#" style="padding-left: 1px">{% trans "Print your Questionnaire" %} </a></li>
            </ul>
        </div>
    </div>
{% endblock %}