{% extends 'layout_application.html' %}
{% load i18n %}
{% load dw_tabs %}
{% load user_tags %}

{% block page_js %}
    {{ block.super }}
    <script src="/media/javascript/project/activate_project.js" type="text/javascript"></script>
    <script src="/media/javascript/project/delete_project.js" type="text/javascript"></script>
    <script src="/media/javascript/project/sms_tester.js" type="text/javascript"></script>
    <script src="/media/javascript/project/questionnaire_preview.js" type="text/javascript"></script>
    <script src="/media/javascript/project/bind_project_links.js" type="text/javascript"></script>
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    {% if project_links.current_language == 'fr' %}
        <link href="/media/css/scss/french.css" rel="stylesheet" />
    {% endif %}
{% endblock %}

{% block main_content %}
    {{ block.super }}
    {% load compress %}
    {% compress js %}
    <script type="text/javascript">
        var sms_tester_title ="{% trans "Test SMS Questionnaire" %}";
        var questionnaire_preview_link ="{{ project_links.questionnaire_preview_link }}";
        var sms_questionnaire_preview_link = "{{ project_links.sms_questionnaire_preview_link }}";
    </script>
    {% endcompress %}
{% endblock %}

{% block section_title %}
    <div class="project_detail" id="img_need_help">
        <h2 class="project_title" > {{ project.name }}</h2>
        <div class="project_detail">
            <span class="project_status">{% trans "Project status:" %}
                    <span class="{{ project.state }}_state">{% trans project.state %}</span>
                </span>
            {% if project.state == 'Test' %}
                <a id="edit_project" href="{% url edit_project project.id %}">{% trans "Edit this project" %}</a>
                <a href="{{ project_links.activate_project_link }}"
                   class="activate_project">{% trans "Activate this Project" %}</a>
                <a href="#" class='sms_tester'>{% trans "Test SMS Questionnaire" %}</a>
                {% include 'project/sms_tester_form.html' %}
            {% endif %}
        {% if user|in_group:"NGO Admins,Project Managers" %}
            <a href="{{ project_links.delete_project_link }}"
               class="delete_project">{% trans "Delete this Project" %}</a>
        {% endif %}
        </div>
    </div>


    <div id="activate_project_block">
        <p class="warning_message">{% trans "Warning: Activating the project will remove all existing test data." %}</p>
        <a href="#" class="cancel_link">{% trans "Cancel" %}</a>
        <a href="#" class="button" id="confirm">{% trans "Activate" %}</a>
    </div>
    <div id="delete_project_block">
        <p class="warning_message">{% trans "Export all submissions prior to deleting your project." %}</p>
        <a href="#" class="cancel_link cancel_{% trans "en" %}">{% trans "Cancel" %}</a>
        <a href="#" class="button" id="confirm_delete">{% trans "Delete Project Now" %}</a>
    </div>
{% endblock %}

{% block navigation %}
<div class="grid_24 tab_navigation">
    <ul>
        <li class="{% ifactivetab 'tab_nav' 'overview' %}active{% else %}inactive{% endifactivetab %}">
            <a id="overview_tab" href="{{ project_links.overview_link }}" class="{{ disable_link_class }}">{% trans "Overview" %}</a>
        </li>
        {% if project.state == 'Active' %}
        <li class="{% ifactivetab 'tab_nav' 'questionnaire' %}active{% else %}inactive{% endifactivetab %}">
            <a id="questionnaire_tab" href="{{ project_links.questionnaire_link }}"
               class="{{ disable_link_class }}">{% trans "Questionnaire" %}</a>
        </li>
        {% endif %}
        {% if project.state != 'Inactive'%}
        <li class="{% ifactivetab 'tab_nav' 'data_senders' %}active{% else %}inactive{% endifactivetab %}">
            <a id="data_senders_tab" href="{{ project_links.registered_datasenders_link}}"
               class="{{ disable_link_class }}">{% trans "My Data Senders" %}</a>
        </li>
            {% if 'no' in project.activity_report%}
            <li class="{% ifactivetab 'tab_nav' 'subjects' %}active{% else %}inactive{% endifactivetab %}">
                <a id="subjects_tab" href="{{ project_links.subjects_link }}" class="{{ disable_link_class }}">{% trans "My Subjects" %}</a>
            </li>
            {% endif %}
        <li class="{% ifactivetab 'tab_nav' 'reminders' %}active{% else %}inactive{% endifactivetab %}">
            <a id="reminders_tab" href="{{ project_links.reminders_link }}" class="{{ disable_link_class }}">{% trans "Reminders" %}</a>
        </li>
        <li class="{% ifactivetab 'tab_nav' 'review_and_test' %}active{% else %}inactive{% endifactivetab %}">
            <a id="review_tab" href="{{ project_links.finish_link }}" class="{{ disable_link_class }}">{% trans "Review and Test" %}</a>
        </li>
        <li class="{% ifactivetab 'tab_nav' 'data' %}active{% else %}inactive{% endifactivetab %}">
            <a id="data_tab" href="{{ project_links.data_analysis_link }}" class="{{ disable_link_class }}">{% trans "Data" %}</a>
        </li>
        <li class="{% ifactivetab 'tab_nav' 'send_a_message' %}active{% else %}inactive{% endifactivetab %}">
            <a id="send_message_tab" href="{{ project_links.broadcast_message_link }}" class="{{ disable_link_class }}">{% trans "Send a Message" %}</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock %}

{% block secondary_navigation_data %}
<ul class="secondary_tab">
    <li>
    </li>
    <li class="{% ifactivetab 'secondary_tab_nav' 'analysis' %}active{% else %}inactive{% endifactivetab %}">
        <a href="{{ project_links.data_analysis_link }}" class="{{ disable_link_class }}">{% trans "Analysis" %}</a>
    </li>
    <li class="{% ifactivetab 'secondary_tab_nav' 'activity_log' %}active{% else %}inactive{% endifactivetab %}">
        <a href="{{ project_links.submission_log_link }}"
           class="{{ disable_link_class }}">{% trans "Submission Log" %}</a>
    </li>
    {% if project_links.test_questionnaire_link != "" %}
    <li class="{% ifactivetab 'secondary_tab_nav' 'web_questionnaire' %}active{% else %}inactive{% endifactivetab %}">
        <a href="{{ project_links.test_questionnaire_link }}">{% trans "Web Submission" %}</a>
    </li>
    {% endif %}
</ul>
{% endblock %}

{% block secondary_navigation_subjects %}
<ul class="secondary_tab">
    <li class="{% ifactivetab 'secondary_tab_nav' 'subjects' %}active{% else %}inactive{% endifactivetab %}">
        <a href="{{ project_links.registered_subjects_link }}">{% blocktrans with project.entity_type|capfirst as entity_type %}My {{ entity_type }} list{% endblocktrans %}</a>
    </li>
    <li class="{% ifactivetab 'secondary_tab_nav' 'criteria' %}active{% else %}inactive{% endifactivetab %}">
        <a href="{{ project_links.subjects_link }}">{% blocktrans with project.entity_type|capfirst as entity_type %}{{ entity_type }} Registration Form{% endblocktrans %}</a>
    </li>
</ul>
{% endblock %}

{% block secondary_navigation_datasenders %}
<ul class="secondary_tab">
    <li class="{% ifactivetab 'secondary_tab_nav' 'datasenders' %}active{% else %}inactive{% endifactivetab %}">
        <a href="{{ project_links.registered_datasenders_link }}">{% trans "Registered Data Senders" %}</a>
    </li>
    <li class="{% ifactivetab 'secondary_tab_nav' 'criteria' %}active{% else %}inactive{% endifactivetab %}">
        <a href="{{ project_links.register_datasenders_link}}">{% trans "Data Senders Registration Form" %}</a>
    </li>
</ul>
{% endblock %}

{% block secondary_navigation_reminders %}
<ul class="secondary_tab">
    <li class="{% ifactivetab 'secondary_tab_nav' 'sent' %}active{% else %}inactive{% endifactivetab %}">
        <a id = "sent_reminders_tab" href="{{ project_links.sent_reminders_link }}">{% trans "Sent Reminders" %}</a>
    </li>
    <li class="{% ifactivetab 'secondary_tab_nav' 'set_reminders' %}active{% else %}inactive{% endifactivetab %}">
        <a id="reminder_settings_tab" href="{{ project_links.setting_reminders_link }}">{% trans "Set Reminders" %}</a>
    </li>
</ul>
{% endblock %}
