{% extends 'layout_application.html' %}
{% load i18n %}
{% load dw_tabs %}
{% load user_tags %}

{% block page_js %}
    {{ block.super }}
{#    <script type="text/javascript">#}
{#        var subject_type = "{{ entity_type|capfirst }}";#}
{#    </script>#}
    <script src="/media/javascript/project/delete_project.js" type="text/javascript"></script>
    <script src="/media/javascript/project/sms_tester.js" type="text/javascript"></script>
    <script src="/media/javascript/project/questionnaire_preview.js" type="text/javascript"></script>
    <script src="/media/javascript/project/bind_project_links.js" type="text/javascript"></script>
    <script src="/media/javascript/jquery_inline/jquery.inlineEdit.js" type="text/javascript"></script>
    <script src="/media/javascript/project/rename_project.js" type="text/javascript"></script>
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    {% if project_links.current_language == 'fr' %}
        <link href="/media/css/scss/french.css" rel="stylesheet" />
    {% endif %}
{% endblock %}

{% block main_content %}
    {{ block.super }}
    {% load compress %}
    {% compress js %}
    <script type="text/javascript">
        var questionnaire_preview_link ="{{ project_links.questionnaire_preview_link }}";
        var sms_questionnaire_preview_link = "{{ project_links.sms_questionnaire_preview_link }}";

    </script>
    {% endcompress %}
{% endblock %}

{% block section_title %}
    <div class="project_detail_header" id="img_need_help">
        <div class="project_title_div">
            <span class="editableSingle project_title" pid="{{ project.id }}">{{ project.name }}</span>
            <a class="project_rename" style="border-left: 0px none;">{% trans "Edit Name" %}</a>
        </div>
        <input type="hidden" id="project_name" value="{{ project.name }}"/>
        <div class="project_detail">
            {% include 'project/sms_tester_form.html' %}
                <a href="#" class='sms_tester'>{% trans "Test SMS Questionnaire" %}</a>
        {% if user|in_group:"NGO Admins,Project Managers" %}
            <a href="{{ project_links.delete_project_link }}"
               class="delete_project">{% trans "Delete this Questionnaire" %}</a>
        {% endif %}
        </div>
    </div>

    <div id="delete_project_block">
        <p class="warning_message">{% trans "Export all submissions prior to deleting your questionnaire." %}</p>
        <a href="#" class="button float_right" id="confirm_delete">{% trans "Delete Questionnaire Now" %}</a>
        <a href="#" class="cancel_link float_right cancel_{% trans "en" %}">{% trans "Cancel" %}</a>
        <div class="clear-both">&nbsp;</div>
    </div>
{% endblock %}

{% block navigation %}
<div class="grid_24 tab_navigation">
    <ul>
        <li class="{% ifactivetab 'tab_nav' 'overview' %}active{% else %}inactive{% endifactivetab %}">
            <a id="overview_tab" href="{{ project_links.overview_link }}" class="{{ disable_link_class }}">{% trans "Overview" %}</a>
        </li>
        <li class="{% ifactivetab 'tab_nav' 'questionnaire' %}active{% else %}inactive{% endifactivetab %}">
            <a id="questionnaire_tab" href="{{ project_links.questionnaire_link }}"
               class="{{ disable_link_class }}">{% trans "Questionnaire" %}</a>
        </li>
        <li class="{% ifactivetab 'tab_nav' 'data_senders' %}active{% else %}inactive{% endifactivetab %}">
            <a id="data_senders_tab" href="{{ project_links.registered_datasenders_link}}"
               class="{{ disable_link_class }}">{% trans "My Data Senders" %}</a>
        </li>
        {% with project.entity_type as entity_types %}
        {% if entity_types %}
            <li class="{% ifactivetab 'tab_nav' 'subjects' %}active{% else %}inactive{% endifactivetab %}">
                <a id="subjects_tab" href="{{ project_links.subjects_link }}" class="{{ disable_link_class }}">
                    {% if entity_types|length > 1 %}
                        {% trans "My Identification Numbers" %}
                    {% else %}
                        {% blocktrans with entity_types.0|capfirst as entity_type %}My {{ entity_type }}{% endblocktrans %}
                    {% endif %}
                </a>
            </li>
        {% endif %}
        {% endwith %}
        <li class="{% ifactivetab 'tab_nav' 'reminders' %}active{% else %}inactive{% endifactivetab %}">
            <a id="reminders_tab" href="{{ project_links.reminders_link }}" class="{{ disable_link_class }}">{% trans "Reminders" %}</a>
        </li>
        <li class="{% ifactivetab 'tab_nav' 'data' %}active{% else %}inactive{% endifactivetab %}">
            <a id="data_tab" href="{{ project_links.data_analysis_link }}" class="{{ disable_link_class }}">{% trans "Data" %}</a>
        </li>
        <li class="{% ifactivetab 'tab_nav' 'send_a_message' %}active{% else %}inactive{% endifactivetab %}">
            <a id="send_message_tab" href="{{ project_links.broadcast_message_link }}" class="{{ disable_link_class }}">{% trans "Send a Message" %}</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block secondary_navigation_data %}
<ul class="secondary_tab">
    <li>
    </li>
    <li class="{% ifactivetab 'secondary_tab_nav' 'analysis' %}active{% else %}inactive{% endifactivetab %}">
        <a href="{{ project_links.data_analysis_link }}" class="{{ disable_link_class }}">{% trans "Analysis" %}</a>
    </li>
    <li class="{% ifactivetab 'secondary_tab_nav' 'activity_log' %}active{% else %}inactive{% endifactivetab %}">
        <a href="{{ project_links.submission_log_link }}"
           class="{{ disable_link_class }}">{% trans "Submission Log" %}</a>
    </li>
    {% if project_links.test_questionnaire_link != "" %}
    <li class="{% ifactivetab 'secondary_tab_nav' 'web_questionnaire' %}active{% else %}inactive{% endifactivetab %}">
        <a href="{{ project_links.test_questionnaire_link }}">{% trans "Web Submission" %}</a>
    </li>
    {% endif %}
</ul>
{% endblock %}

{% block secodary_navigation_subject_types %}
    <div class="entity_types">
        <ul class="secondary_tab chosen_entity_type">
            <li></li>{# Dummy li for space in the beginning. #}
            {% for entity_type in project.entity_type %}
                <li><a>{{ entity_type|capfirst }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block secondary_navigation_subjects %}
<ul class="secondary_tab">
    <li class="{% ifactivetab 'secondary_tab_nav' 'subjects' %}active{% else %}inactive{% endifactivetab %}">
        <a href="{{ project_links.registered_subjects_link }}">{% blocktrans with entity_type|capfirst as entity_type %}My {{ entity_type }} List{% endblocktrans %}</a>
    </li>
    <li class="{% ifactivetab 'secondary_tab_nav' 'criteria' %}active{% else %}inactive{% endifactivetab %}">
        <a href="{{ project_links.register_subjects_link }}">{% blocktrans with entity_type|capfirst as entity_type %}{{ entity_type }} Registration Form{% endblocktrans %}</a>
    </li>
</ul>
{% endblock %}

{% block secondary_navigation_datasenders %}
<ul class="secondary_tab">
    <li class="{% ifactivetab 'secondary_tab_nav' 'datasenders' %}active{% else %}inactive{% endifactivetab %}">
        <a href="{{ project_links.registered_datasenders_link }}">{% trans "Registered Data Senders" %}</a>
    </li>
    <li class="{% ifactivetab 'secondary_tab_nav' 'criteria' %}active{% else %}inactive{% endifactivetab %}">
        <a href="{{ project_links.register_datasenders_link}}">{% trans "Data Senders Registration Form" %}</a>
    </li>
</ul>
{% endblock %}

{% block secondary_navigation_reminders %}
<ul class="secondary_tab">
    <li class="{% ifactivetab 'secondary_tab_nav' 'sent' %}active{% else %}inactive{% endifactivetab %}">
        <a id = "sent_reminders_tab" href="{{ project_links.sent_reminders_link }}">{% trans "Sent Reminders" %}</a>
    </li>
    <li class="{% ifactivetab 'secondary_tab_nav' 'set_reminders' %}active{% else %}inactive{% endifactivetab %}">
        <a id="reminder_settings_tab" href="{{ project_links.setting_reminders_link }}">{% trans "Set Reminders" %}</a>
    </li>
</ul>
{% endblock %}
