{% load i18n %}

<div class="uniqueIdTypeSection">

    <div class="unique_id_learn_more">
        <p class="questionnaire-instruction-text">{% trans "Identification numbers improve the accuracy of your data." %}</p>
        <a data-bind="click: $root.toggleLearnMoreBlockVisibility, hidden: $root.learnMoreBlockVisible"
           class="show_link">{% trans "Learn More" %}</a>

        <div data-bind="visible: $root.learnMoreBlockVisible" class="unique_id_help">
            <p>{% trans "unique_id_learn_more" %}</p>
            <a data-bind="click: $root.toggleLearnMoreBlockVisibility" class="hide_link">{% trans "Hide help" %}</a>
        </div>
    </div>
    <span>{% trans 'I want to use Identification Numbers for my' %}</span>

    <div class="uniqueIdType" data-bind="click: $root.showUniqueIdTypes">
        <span class="grey" data-bind="hidden: uniqueIdType">{% trans 'Add a unique id type' %} </span>
        <span data-bind="text: uniqueIdType"></span>
    </div>
    <div class="validationMessage" data-bind="ifnot: uniqueIdType.valid">
        <span id="unique_id_type_validation_message" class="validationText" data-bind="text: uniqueIdType.error"></span>
    </div>

    <div class="uniqueIdTypeContents" data-bind="visible: $root.isUniqueIdTypeVisible">
        <div>
            <input class="newUniqueIdName" type="text" data-bind="value: $root.newUniqueIdType"/>
            <button class="button_blue" data-bind="click: $root.addNewUniqueIdType">Add</button>
        </div>
        <div class="validationMessage" data-bind="ifnot: $root.newUniqueIdType.valid">
            <span class="validationText" data-bind="text: $root.newUniqueIdType.error"></span>
        </div>

        <div class="section-example">
            <p>{% trans "unique_id_example_text" %}</p>
        </div>
        <hr/>
        <strong class="list-heading">{% trans "Use Existing" %}</strong>
        <ul class="uniqueIdList" data-bind="foreach: $root.uniqueIdTypes">
            <li data-bind="text: $data, click: $root.selectUniqueIdType"></li>
        </ul>
    </div>
</div>
