{% load i18n %}

<div class="uniqueIdTypeSection">

    <div class="unique_id_learn_more">
        <p class="questionnaire-instruction-text">{% trans "Identification numbers improve the accuracy of your data." %}</p>
        <a  id= "unique_id_learn_more_link">{% trans "Learn More" %}</a>
        {% include "project/unique_id_learn_more.html" %}
    </div>
    <span>{% trans 'I want to use Identification Numbers for my' %}</span>

    <div class="idTypeDropdown">
        <div class="uniqueIdType" data-bind="click: $root.toggleUniqueIdTypesVisibility">
            <span class="grey" data-bind="hidden: uniqueIdType">{% trans 'Add an Identification Number' %} </span>
            <span data-bind="text: uniqueIdType"></span>
        </div>
        <div class="validationMessage" data-bind="ifnot: uniqueIdType.valid">
            <span id="unique_id_type_validation_message" class="validationText" data-bind="text: uniqueIdType.error"></span>
        </div>
    </div>

    <div class="uniqueIdTypeContents" data-bind="visible: $root.isUniqueIdTypeVisible">
        <div class="close-contents" data-bind="click: $root.toggleUniqueIdTypesVisibility"></div>
        <div class="newUniqueIdBox">
            <input class="newUniqueIdName" type="text" maxlength="20" data-bind="value: $root.newUniqueIdType"/>
            <button class="button_blue" data-bind="click: $root.addNewUniqueIdType, text:$root.uniqueIdButtonText"></button>
        </div>
        <div class="validationMessage" data-bind="ifnot: $root.newUniqueIdType.valid" style="float:left;">
            <span id="new_type_validation_message" class="validationText" data-bind="text: $root.newUniqueIdType.error"></span>
        </div>

        <div class="section-example">
            <p>{% trans "unique_id_example_text" %}</p>
        </div>
        <div data-bind="hidden: $root.showUniqueIdTypeList">
            <hr/>
            <strong class="list-heading">{% trans "Use Existing" %}</strong>
        </div>
        <ul class="uniqueIdList" data-bind="foreach: $root.uniqueIdTypes">
            <li data-bind="text: $data, click: $root.selectUniqueIdType"></li>
        </ul>
    </div>
</div>
