{% extends "project/layout_instruction_preview.html" %}
{% load i18n %}
{% load field_tags %}
{% load questionnaire_preview_tags %}

{% block instruction %}
    <div class="instruction-header">
        <h5>{% trans "Collect Data via Web" %}</h5>
        <p>{% trans "Your Data Senders can use any computer to send in data online." %}</p>
    </div>
    <div class="instruction-content">
        <p class="bold">{% trans "How it Works" %}</p>
        <p>
            {% trans "Give your Data Senders Web access when you register them on the " %}
            {% trans "My Data Senders page" %}
            {% trans "page. Then your Data Senders can log in to fill out the Questionnaire online." %}
        </p>
    </div>
{% endblock %}

{% block questionnaire_preview %}
    <div class="preview-header clearfix">
        <h6 class="sms-questionnaire-title">{% trans "Web Questionnaire" %} </h6>
    </div>
    <div class="web-questionnaire clearfix">
        {% include "project/web_questionnaire_preview.html" %}
    </div>
{% endblock %}
