{% extends "project/web_questionnaire_questions.html" %}
{% load i18n %}

{% block action_section_block %}
    <div class="web-preview-action-section">
        <div class="action-section">
            <a href="#" class="inactive_link ui-state-disabled">{% trans 'Cancel' %}</a>
            <button class="disabled_yellow_submit_button" disabled="disabled">{% trans "Submit" %}</button>
        </div>
        <div class="can-not-submit">
            <a class="can-not-submit-link-quest help_icon">{% trans "Why canʼt I submit?" %}</a>
            <div class="tooltip">
                <p>
                    {% trans 'This is only a preview. To send in data, Go to the "Data" tab, then to "Web Submission".' %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}