{% extends 'project/tab_navigation.html' %}
{% load i18n %}
{% block page_title %}{% trans "Web Submission" %}  {% endblock %}

{% load field_tags %}
{% load dw_tabs %}
{% block navigation %}
    {% activetab "tab_nav" "data" %}
    {{ block.super }}
{% endblock %}
{% block body %}
    {% activetab "main_nav" "projects" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_project_overview.scss" rel="stylesheet"/>
    <link href="/media/css/scss/section_web_questionnaire.scss" rel="stylesheet"/>
    <link rel="stylesheet" href="/media/css/scss/section_public.scss" />

{% endblock %}

{% block ie7_js %}
    {{ block.super }}
    <script src="/media/javascript/project/ie7_web_questionnaire.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
    {% block secondary_navigation_data %}
        {% activetab "secondary_tab_nav" "web_questionnaire" %}
        {{ block.super }}
    {% endblock %}
    <div>
    {% if success_message %}
        <div class="success-message-box">{{ success_message }}</div>
    {% endif %}
    {% if error_message %}
        <div class="message-box">{{ error_message }}</div>
    {% endif %}

    {% if 0 %}
        <div class="warning-message-box">
           <p> {% trans "You have used up your 10 Web submissions for the trial account. Sign up for a monthly subscription to continue sending in data to your projects." %} </p>
           <a href="/en/pricing/" class="trial_web_learn_more">{% trans "Learn More" %}</a><a href="{% url datawinners.accountmanagement.views.upgrade %}" class="trial_web_limit_button">{% trans "Subscribe Now" %}</a>
        </div>
    {% endif %}

    {% if questionnaire_form.non_fielderrors %}
        <div class="message-box">{{ questionnaire_form.non_field_errors }}</div>
    {% endif %}
    {% for field in questionnaire_form%}
            {% if field.is_hidden and field.name == 'entity_question_code'%}
                <input id='code' type="hidden" value="{{ field.label }}" />
            {% endif %}
    {% endfor %}
    <form method="POST" >
        {% csrf_token %}
        <ul class="que_width">
            {% for field in questionnaire_form%}
                <li >
                    {% if not field.is_hidden %}
                        <h6>{{ field.label }}
                        <script type="text/javascript">
                            var entity_que_code = document.getElementById('code').value
                            var check_entity_que_code = document.getElementById('code1').value
                            if (entity_que_code==check_entity_que_code){
                                document.getElementById('tooltip1').style.visibility='visible';
                                if (document.getElementById('id_eid').length ==0){
                                    document.getElementById('add_data_sender_link').style.display = 'block';
                                }
                            }
                            else{
                                document.getElementById('tooltip1').style.visibility='hidden';
                            }
                        </script>
                        <span id="tooltip1" style="visibility: hidden;position:absolute;">
                            <img src="/media/images/help_icon.png" class="help_icon">
                            <div class="tooltip">
                            <p>
                               {% if 'yes' in project.activity_report %}
                                    {% trans "tooltip_questionnaire_form_data_sender_entity_question" %}
                               {% else %}
                                    {% trans "tooltip_questionnaire_form_subject_entity_question" %}
                               {% endif %}
                            </p></div>
                        </span></h6>
                        <input id='code1' type="hidden" value="{{ field.name }}" />
                        <p class="instructions italic">
                            {{ field.help_text }}
                        </p>

                    {% endif %}
                    <div class="answer">
                        {% if field|field_type == 'ChoiceField' %}
                            <span class="single_select_question" wmwrap="true">
                                {{ field }}
                            </span>
                        {% else %}
                            {{ field }}
                        {% endif %}

                    <ul class="errorlist">
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <li>
                                    {{ error }}
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    </div>
                    <div id="add_data_sender_link" style="display: none; clear: left; padding-top: 10px;">
                        <a id="datasenders_edit_link" href="{{project_links.datasenders_link}}">
                            {% trans "My Data Senders" %}
                        </a>|
                        <a id="add_data_sender" href="{% url datawinners.entity.views.create_datasender %}">
                            {% trans "Add a data sender" %}
                        </a>|
                        <a id="all_datasenders_link" href="{% url datawinners.entity.views.all_datasenders %}">
                            {% trans "All Data Senders" %}
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <input type="submit" class="button" value="{% trans 'Submit' %}"/>
    </form>
    </div>
{% endblock %}


