{% load i18n %}
{% include "project/message.html" %}
{% for field in questionnaire_form %}
    {% if field.is_hidden and field.name == 'entity_question_code' %}
        <input id='code' type="hidden" value="{{ field.label }}"/>
    {% endif %}
{% endfor %}
<form method="POST">
    {% csrf_token %}
    {% include "project/questionnaire_fields.html" %}
    {% block action_section_block %}
        <div class="action-section">
            {% block cancel_block %}{% endblock %}
            <input id="submit " type="submit" class="button" value="{% trans 'Submit' %}"/>
        </div>
    {% endblock %}
</form>
