{% load i18n %}
{% include "project/message.html" %}
{% for field in questionnaire_form %}
    {% if field.is_hidden and field.name == 'entity_question_code' %}
        <input id='code' type="hidden" value="{{ field.label }}"/>
    {% endif %}
{% endfor %}
<form method="POST">
    {% csrf_token %}
    {% include "project/questionnaire_fields.html" %}
    {% block action_section_block %}
        <div class="action-section">
            {% block cancel_block %}{% endblock %}
            {% if is_quota_reached %}
                <input id="submit " class="disabled_yellow_submit_button" type="submit" value="{% trans 'Submit' %}" disabled="disabled"/>
                <div class="can-not-submit">
                    <a class="can-not-submit-link-quest help_icon">{% trans "Why canʼt I submit?" %}</a>
                    <div class="tooltip">
                <p>
                    {% trans 'You have reached your limit of 1000 free Submissions. Ask your Project Manager to sign up for a monthly subscription to continue submitting data.' %}
                </p>
                </div>
            {% else %}
                <input id="submit " type="submit" class="button" value="{% trans 'Submit' %}"/>
            {% endif %}
        </div>
    {% endblock %}
</form>