{% load i18n %}

<div id="sample_xls_forms_section" class="none">
    {% trans "Download sample XLSForms to see how to create advanced Questionnaire features in Excel."%}
    <br/><br/>
    <ol id="sample_xls_section">
        <li> {% trans "Repeated set of questions, Skip logic, Cascading selects, Multi Choice questions:" %} <a class="dialog-link" href="/media/files/DataWinners_ImporterLesEnvoyeursDeDonnees.xls">household_details.xls</a></li>
        <li>{% trans "Grouping questions, Answer constraint, Calculations:" %} <a class="dialog-link" href="/media/files/DataWinners_ImporterLesEnvoyeursDeDonnees.xls">health_survey.xls</a></li>
    </ol>
    <div class="gotitbutton">
        <a class="button yes_button" id="close_accordion_link">{% trans "Close" %}</a>
    </div>
</div>