{% load i18n %}

<div id="sample_xls_forms_section" class="none">
    {% trans "Download sample XLSForms to see how to create advanced Questionnaire features in Excel."%}
    <br/>
    <ol id="sample_xls_section">
        <li class="margin_top_10">{% trans "Simple form" %}: <a class="dialog-link"  href="/media/files/{% trans "health_survey.xls"%}">{% trans "health_survey.xls"%}</a>
            <br>
            <span style="font-style: italic">{% trans "Question types, Skip Logic, Repeated set of Questions, Required and Hints" %}</span>
        </li>
        <li class="margin_top_10"> {% trans "Advanced Form" %}: <a class="dialog-link" href="/media/files/{% trans "household_details.xls" %}">{% trans "household_details.xls" %}</a>
            <br>
            <span style="font-style: italic">{% trans "Skip Logic, Media Files (image, video, audio, signature), Repeats, Cascading selects, Grouping, Answer constraint, Calculations" %}</span>
        </li>
    </ol>
    <div class="gotitbutton">
        <a class="button yes_button" id="close_accordion_link">{% trans "Close" %}</a>
    </div>
</div>