{% load i18n %}

<div id="xls_learn_more_form" class="none">
    <div class="learn_more_text">
        {% trans "Use XLSForms to create a Questionnaire with advanced features (such as skip logic), then upload the XLSForm to your DataWinners account" %}
    </div>
    <hr>
    <div class="learn_more_accordion">

        <div class="learn_more_header">
            <div class="learn_more_header_text">{% trans "Step 1. Create an XLSForm" %}</div>
        </div>
        <div id="step1_section">
            {% trans "XLSForm is a tool that will allow you to design a Questionnaire with advanced features:"%}
            <br/><br/>
            <ul>
                <li>{% trans "Repeats (Repeated set of questions)" %} </li>
                <li>{% trans "Skip logic" %} </li>
                <li>{% trans "Grouping questions" %} </li>
                <li>{% trans "Cascading selects" %} </li>
                <li>{% trans "Answer Constraints" %} </li>
                <li>{% trans "Calculations" %} </li>
                <li>{% trans "Required and optional questions" %} </li>
                <li>{% trans "Hints (Instruction texts)" %} </li>
                <li>{% trans "Default answers" %} </li>
            </ul>

            <br/>
            {% trans "Read more: " %} <a id="learn-xls-forms-pdf-link" class="dialog-link" target="_blank" href="/media/files/DataWinners_SendFilledOutQuestionnairesFromYourSmartphone.en.pdf">{% trans "How to create XLSForms in DataWinners" %}</a>
            <br/><br/>
            <h4>{%  trans "Sample Forms" %}</h4>

            {% trans "Download sample XLSForms to see how to create advanced Questionnaire features in Excel." %}
            <ol>
                <li>{% trans "Repeated set of questions, Skip logic, Cascading selects, Multi Choice questions:"%}<a class="dialog-link" href="/media/files/DataWinners_ImporterLesEnvoyeursDeDonnees.xls">household_details.xls</a></li>
                <li>{% trans "Grouping questions, Answer constraint, Calculations:"%}<a class="dialog-link" href="/media/files/DataWinners_ImporterLesEnvoyeursDeDonnees.xls">health_survey.xls</a></li>
                <li>{% trans "Hints, Required and optional, Default answers:" %}<a class="dialog-link" href="/media/files/DataWinners_ImporterLesEnvoyeursDeDonnees.xls">nutrition.xls</a></li>
            </ol>
            <br/>
            <h4>{% trans "We Can Help You" %}</h4>
            {% trans "We build XLSForms!  Contact" %} <a class="dialog-link" href="#">support@datawinners.com</a>{% trans " to learn about our form building service including pricing."%}
        </div>


        <div class="learn_more_header">
            <div class="learn_more_header_text">{% trans "Step 2. Upload an XLSForm to your DataWinners account" %}</div>
        </div>
        <div id="step2_section">
            <img src="/media/images/xls_feature/upload_xls_step2_{{ active_language }}.jpg"/>
        </div>
        <div class="learn_more_header">
            <div class="learn_more_header_text">{% trans "Step 3. Test your Questionnaire" %}</div>
        </div>
        <div id="step3_section">
            <p>{% trans "For advanced Questionnaire features to work on Android Devices you need to download" %} <a class="dialog-link" target="_blank" href="https://play.google.com/store/apps/details?id=com.datawinners.android.collect&hl=en">{%trans "the latest version of the DataWinners app (Google Playstore)."%}</a>{% trans "For details see our tutorial" %} <a class="dialog-link" target="_blank" href="/media/files/DataWinners_InstallDataWinnersOnYourSmartphone.{{ active_language }}.pdf">{% trans "Install DataWinners on your Smartphone!"%}</a></p>
            <img src="/media/images/xls_feature/upload_xls_step3_{{ active_language }}.jpg"/>
        </div>
        <div class="learn_more_header">
            <div class="learn_more_header_text">{% trans "Step 4. Edit your Questionnaire" %}</div>
        </div>

        <div id="step4_section">
            <img src="/media/images/xls_feature/upload_xls_step4_{{ active_language }}.jpg"/>
        </div>
        <div class="learn_more_header">
            <div class="learn_more_header_text">{% trans "Step 5. Export your Data" %}</div>
        </div>
        <div id="step5_section">
            <img src="/media/images/xls_feature/upload_xls_step5_{{ active_language }}.jpg"/>
        </div>

    </div>
    <div class="gotitbutton">
        <a class="button yes_button" id="close_accordion_link">{% trans "OK, Got it" %}</a>
    </div>
</div>