{% load i18n %}

<div id="sample_xls_forms_section" class="none">
    Download sample XLSForms to see how to create advanced Questionnaire features in Excel.
    <br/><br/>
    <ol>
        <li>Repeated set of questions, Skip logic, Cascading selects, Multi Choice questions: <a class="dialog-link" href="/media/files/DataWinners_ImporterLesEnvoyeursDeDonnees.xls">household_details.xls</a></li>
        <li>Grouping questions, Answer constraint, Calculations: <a class="dialog-link" href="/media/files/DataWinners_ImporterLesEnvoyeursDeDonnees.xls">health_survey.xls</a></li>
        <li>Hints, Required and optional, Default answers: <a class="dialog-link" href="/media/files/DataWinners_ImporterLesEnvoyeursDeDonnees.xls">nutrition.xls</a></li>
    </ol>
    <div class="gotitbutton">
        <a class="button yes_button" id="close_accordion_link">{% trans "Close" %}</a>
    </div>
</div>