<html>
<body>
<p>Cher {{ name }},</p>

<p>Merci! Nous avons reçu votre demande de passage d'un compte d'essai vers un abonnement mensuel, et sommes
    actuellement en train de procéder à votre commande.</p>

<p>Dans les prochaines 24 heures, vous recevrez de notre part un e-mail de confirmation contenant les informations sur
    le paiement et les options de numéro de téléphone. En attendant, vous pouvez commencer à utiliser DataWinners pour
    créer vos questionnaires et collecter des données via Internet.</p>

<p>Dès réception de votre paiement, vous pouvez commencer à collecter des données via SMS.</p>

<p>Si vous avez besoin d'aide pour démarrer:</p>

<p>Envoyez-nous un e-mail à support@datawinners.com. Nous serons heureux de vous aider!</p>

<p>Restez en contact! Vous pouvez nous voir sur <a href='https://twitter.com/#!/datawinners'>Twitter</a> et sur
    <a href='http://www.facebook.com/DataWinners'>Facebook</a>, et consulter notre
    <a href='http://datawinners.wordpress.com/'>blog</a> pour vous informer des
    nouvelles fonctionnalités disponibles et d’autres choses …</p>

<p>Encore merci pour votre soutien,</p>

<p>Votre Equipe DataWinner</p>

</body>
</html>