<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>Datawinner mailing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width">
</head>
<body style="margin:0px; padding:0px; -webkit-text-size-adjust:none;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0"  bgcolor="#d0e2f0";>
    <tbody>
        <tr>
            <td  align="center">
                <br /><br />
                <table  cellpadding="0" width="940" cellspacing="0" border="0" style="border-width: 1px;border-color: #DDDDDD; border-style: solid;">
                        <tbody>
                            <tr>
                                <td  align="left" bgcolor="#333333" width="100%" height="46" colspan="2" style="color: #FFFFFF;font-family: Helvetica;font-size: 20px;">
                                    &nbsp;&nbsp;
                                        <span  style="border: none; text-decoration: none; font-family: Helvetica; color: #fff; ">
                                            <span style="font-size: 22px;">
                                            <b>Data</b>Winners
                                            </span>
                                             | Confirmation du Passage vers un Compte Payant DataWinners
                                        </span>
                                 </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" valign="top" width="620" style=" font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;">
                                    <table>
                                        <tr>
                                            <td width="10"></td>
                                            <td style="text-align: justify; color: #333333; ">

                                            <p>Bonjour {{ username }},</p>

											<p>Merci! Nous avons reçu votre demande de passage d'un compte d'essai vers
                                                un abonnement mensuel, et sommes actuellement en train de procéder à votre commande.</p>

											<p><strong>Prochaines étapes</strong><br />
											Dans les prochaines 24 heures, vous recevrez de notre part un e-mail de
                                                confirmation contenant les informations sur le paiement et les options de numéro de téléphone. <br />
												 En attendant, vous pouvez commencer à utiliser DataWinners pour créer
                                                vos questionnaires et collecter des données via l'application pour Android et le Web.
                                                Vous pouvez commencer à collecter des données par SMS dès que nous aurons reçu votre paiement.</p>

											<p><strong>Vous avez besoin d'aide pour commencer ?</strong><br />

											Envoyez nous un email à <a href="mailto:support@datawinners.com" style="text-decoration: none;color: #4379A2;font-weight: normal;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">support@datawinners.com</span></a>. Nous nous ferons un plaisir de vous aider !</p>
<table height="1"></table>
											<p>Encore merci pour votre soutien<br />
                                                Votre Equipe DataWiners<br />
                                                <a href="http://www.datawinners.com" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                    www.datawinners.com
                                                    </span>
                                                </a>
                                                </p><br />

                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                 </td>
                                <td width="240" bgcolor="#ffea7d" valign="top" style="color: #333333; font-family: 'Helvetica',Arial,'Liberation Sans',FreeSans,sans-serif; font-size: 12px !important;border: 1px solid #f4be36;">
                                    <table style="border-bottom: 1px solid #f4be36;" width="100%">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p><strong><span style="font-size: 12px;"> Rester en contact</span></strong><br />
                                                Pour les mises à jour de DataWinners et les spots des partenaires, suivez nous sur <a href="https://twitter.com/datawinners" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">Twitter</span></a>,
                                                publié sur notre mur <a href="https://www.facebook.com/DataWinners" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">Facebook</span></a>  et abonnez vous sur notre
                                                 <a href="http://datawinners.wordpress.com/" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">blog</span></a> .<br />
                                                <br />Bonne collecte de données.<br />

                                                </p>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                    <table style="border-bottom: 1px solid #f4be36;">
                                        <tr>
                                            <td width="10"></td>
                                            <td  align="left">
                                                <p><strong><span style="font-size: 12px;">Services de Démarrage rapide</span></strong><br />
                                                    Démarrez votre collecte de données avec des services de soutien personnalisés. 
                                                </p>
                                                <a href="https://www.datawinners.com/fr/support/quick-start-services/" style="color: #4379A2;font-weight: normal;text-decoration: none;"><span style="color: #4379A2;font-weight: normal;text-decoration: none;">» En savoir plus</span></a><br />
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                    <table style="border-bottom: 1px solid #f4be36;" width="100%">
                                        <tr>
                                            <td width="10"></td>
                                            <td align="left">
                                                <p ><strong><span style="font-size: 12px;"> Rapports et Visualisations personnalisés</span></strong><br />
                                                Avez-vous besoin de tableaux de bord ou des rapports personnalisés?   Nous pouvons vous aider!<br />

                                                    <a href="https://www.datawinners.com/fr/what-is-datawinners/customized-reports/" style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        <span style="color: #4379A2;font-weight: normal;text-decoration: none;">
                                                        » Lire plus
                                                        </span>
                                                    </a>
                                                </p>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                {% include 'email/basicaccount/email_footer_fr.html' %}
                            </tr>
                        </tbody>
                </table>
                <br /><br />
            </td>
        </tr>
    </tbody>
    </table>
</body>
</html>
