{% extends 'entity/subjects_header.html' %}
{% load i18n %}

{% block page_scss %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/javascript/OpenLayers-v3.15.1-dist/ol.css" media="screen">
    <link rel="stylesheet" href="/media/javascript/OpenLayers-v3.15.1-dist/ol3-popup.css" media="screen">
    <link rel="stylesheet" href="/media/javascript/OpenLayers-v3.15.1-dist/ol3-layerswitcher.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/media/css/scss/section_map.css" media="screen">
{% endblock %}

<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&amp;key={{ map_api_key }}&amp;language=en"></script>

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/OpenLayers-v3.15.1-dist/ol.js"></script>
    <script type="text/javascript" src="/media/javascript/OpenLayers-v3.15.1-dist/ol3-popup.js"></script>
    <script type="text/javascript" src="/media/javascript/OpenLayers-v3.15.1-dist/ol3-layerswitcher.js"></script>
    <script type="text/javascript" src="/media/javascript/mapping.js"></script>
    <script type="text/javascript">
        var entity_type = '{{ entity_type }}';
        $(document).ready(function() {
            $("#how_to").accordion({ collapsible: true, active: 0 });
            $('.secondary_tab li').attr('class', 'inactive');
            $('.secondary_tab li:nth-child(3)').attr('class', 'active');
            init_map2();
        });
    </script>
{% endblock %}

{% block secondary_navigation %}
    <li class="float_left"><a href="{% url all_subject_type_page %}">
        « {% trans "Back to Identification Number List" %}</a>
    </li>
    <br/>
{% endblock %}

{% block page_content %}
    <div class="float_right" style="position: relative;">
        <div class="hide share-widget"><input type="text" value="http://app.datawinners.com/share/awqsermpwcvbiopf" ></div>
        <div class="hide share-widget-close" onclick="$(this).prev().toggle(); $(this).toggle(); $(this).parent().next().hide();"></div>
        <div class="button" onclick="
                    $(this).prev().prev().toggle();
                    $(this).prev().toggle();
                    overlayHeight = $('#container_header_application').outerHeight() + $('#container_content').outerHeight() + 30;
                    if(overlayHeight > 970) {
                        overlayHeight = overlayHeight + 5;
                    } else {
                        overlayHeight = 970;
                    }
                    $(this).parent().next().height(overlayHeight).show();
                ">
            Share
        </div>
    </div>
    <div class="share-overlay"></div>
    <div id="map" style="height:400px; margin-top:20px;" class="grid_23"> </div>
{% endblock %}