  {% block messages %}
        {% if form_errors %}
        <div class=" error span-12 push-6 message-box">
            {% for error in form_errors %}
                {{ error }}
            {% endfor %}
        </div>
        {% endif %}
{% endblock %}
    <div class="application_register">
        {% if message %}
             <div id="flash-message" class="success">
                 {{ message }}
             </div>
        {% endif %}
    </div>
  <form id="registration_form" class="" action="" method="POST">
<fieldset>
        {% csrf_token %}
        <ul class="span-7 column border">
            <li class="{{ form.first_name.css_classes }} form-row-10px">
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
                {{ form.first_name.errors }}
            </li>
            <li class="{{ form.telephone_number.css_classes }} form-row-10px">
                {{ form.telephone_number.label_tag }}
                {{ form.telephone_number }}
                {{ form.telephone_number.errors }}
            </li>
            <li class="{{ form.commune.css_classes }} form-row-10px">
                {{ form.commune.label_tag }}
                {{ form.commune }}
                {{ form.commune.errors }}
            </li>
            <li class="{{ form.geo_code.css_classes }} form-row-10px">
                {{ form.geo_code.label_tag }}
                {{ form.geo_code }}
                {{ form.geo_code.errors }}
            </li>
            <li>
                <input type="button" id="id_register_button" value="Add" class="button margin_top_20"/>
            </li>
        </ul>
</fieldset>
</form>

