<div id="container_header_wizard" >
    <div class="container_24" id="header_wizard">
        <div id="header" class="grid_24">
            <div class="grid_12 alpha logo">
                <span class="logo_data">Data</span>
                <span class="logo_winners">Winners</span>
            </div>
            <div class="grid_12 omega login">
                <span class="welcome">Welcome Username</span>
                <span><a href="#">Your Account</a></span>
                <span>{% if user.is_authenticated %}  <a href="{% url django.contrib.auth.views.logout %}">Logout</a> {% endif %}</span>
                <span><a href="#" class="padding_right_null">Help</a></span>
            </div>
        </div>
    </div>
</div>