<div id="container_header_application">
    <div class="container_24" id="header_application">
        {% include 'header_wizard.html' %}
        <div id="main_tab" class="grid_24">
            <ul>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li class="current">
                    <a href="#">Projects</a>
                </li>
                <li>
                    <a href="#">collectors</a>
                </li>
                <li>
                    <a href="#">Subjects</a>
                </li>
                <li>
                    <a href="#">Data</a>
                </li>
                <li>
                    <a href="#">Guide</a>
                </li>
            </ul>
        </div>
    </div>
</div>