<script type="text/javascript" src="/media/javascript/jquery.js"></script>
<script type="text/javascript" src="/media/javascript/JSON_fix/json2.js"></script>
<script type="text/javascript" src="/media/javascript/jquery.validate.js"></script>
<script type="text/javascript" src="/media/javascript/jquery.watermark.js"></script>
<script type="text/javascript" src="/media/javascript/jquery.tmpl.js"></script>
<script type="text/javascript" src="/media/javascript/knockout.js"></script>
<script type="text/javascript" src="/media/javascript/jquery.tools.min.js"></script>
<script type="text/javascript" src="/media/javascript/global.js"></script>
