{% extends 'layout_master.html' %}
{% block layout_scss %}
    {% include 'application_scss.html' %}
{% endblock %}
{% block body %}
    {% block header %}
    <div id="container_header_application">
        <div class="container_24" id="header_application">
            {% include 'header_wizard.html' %}
            {% load dw_tabs %}
            {% block main_navigation %}
                <div id="main_tab" class="grid_24">
                    <ul>
                        <li class ="{% ifactivetab 'main_nav' 'dashboard' %}active{% else %}inactive{% endifactivetab %}">
                            <a href="#">Dashboard</a>
                        </li>
                        <li  class ="{% ifactivetab 'main_nav' 'projects' %}active{% else %}inactive{% endifactivetab %}">
                            <a href="#">Projects</a>
                        </li>
                        <li  class ="{% ifactivetab 'main_nav' 'collectors' %}active{% else %}inactive{% endifactivetab %}">
                            <a href="#">Collectors</a>
                        </li>
                        <li class ="{% ifactivetab 'main_nav' 'subjects' %}active{% else %}inactive{% endifactivetab %}">
                            <a href="#">Subjects</a>
                        </li>
                        <li class ="{% ifactivetab 'main_nav' 'data' %}active{% else %}inactive{% endifactivetab %}">
                            <a href="#">Data</a>
                        </li>
                        <li class ="{% ifactivetab 'main_nav' 'guide' %}active{% else %}inactive{% endifactivetab %}">
                            <a href="#">Guide</a>
                        </li>
                    </ul>
                </div>
            {% endblock %}
        </div>
    </div>

    {% endblock %}
    {% block main_content %}
        <div id="container_content">
            <div id="page_title">
                {% block section_title %}
                {% endblock %}
            </div>
            <div class="container_24">

                {% block navigation %} {% endblock %}
                <div class="grid_23 content">
                    {% block content %} {% endblock %}
                </div>

            </div>
        </div>
    {% endblock %}
{% endblock %}