{% extends 'layout_master.html' %}
{% block layout_scss %}
    {% include 'application_scss.html' %}
{% endblock %}
{% block body %}
    {% block header %}
        {% include 'header_application.html' %}
    {% endblock %}
    {% block main_content %}
        <div id="container_content">
            <div class="container_24">

                {% block navigation %} {% endblock %}
                <div class="grid_23 content">
                    {% block content %} {% endblock %}
                </div>

            </div>
        </div>
    {% endblock %}
{% endblock %}