{% extends 'layout_master.html' %}
{% block layout_scss %}
    {% include 'application_scss.html' %}
{% endblock %}
{% block body %}
    {% block header %}
    <div id="container_header_application">
        <div class="container_24" id="header_application">
            {% include 'header_wizard.html' %}
            {% include 'main_navigation.html' %}
        </div>
    </div>

    {% endblock %}
    {% block main_content %}
        <div id="container_content">
            <div id="page_title">
                {% block section_title %}
                {% endblock %}
            </div>
            <div class="container_24">

                {% block navigation %} {% endblock %}
                <div class="grid_23 content">
                    {% block content %} {% endblock %}
                </div>

            </div>
        </div>
    {% endblock %}
{% endblock %}