<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>
        {% block page_title %} {% endblock %}
    </title>
{#     The Meta tags added page level will be extended here. #}
    {% block page_meta %} {% endblock %}

    {% load compress %}
    {% compress js %}
         {% include 'javascript.html' %}
    {% endcompress %}

    {% block uncompress %}{% endblock %}

    {% load compress %}
    {% compress js %}
         {% block page_js %} {% endblock %}
    {% endcompress %}

{#     This block compress the CSS on the fly. #}
    {% load compress %}
    {% compress css %}
        {% include 'master_css.html' %}
        {% include 'master_scss.html' %}
    {% endcompress %}

{#     This block compiles and compress the SCSS to CSS on the fly. #}
    {% load compress %}
    {% compress css %}
        {% block layout_css %}{% endblock %}
        {% block layout_scss %}{% endblock %}
        {% block page_css %}{% endblock %}
        {% block page_scss %} {% endblock %}
    {% endcompress %}


</head>
<body>
    {% block body %} {% endblock %}
</body>
</html>