{% load dw_tabs %}
{% block main_navigation %}
    <div id="main_tab">
        <div class="grid_8 alpha logo">
                <img src="/media/images/datawinners_logo.png"/>
        </div>
        <ul>
            <li class ="{% ifactivetab 'main_nav' 'dashboard' %}active{% else %}inactive{% endifactivetab %}">
                <a href="{% url datawinners.dashboard.views.dashboard %}">Dashboard</a>
            </li>
            <li  class ="{% ifactivetab 'main_nav' 'projects' %}active{% else %}inactive{% endifactivetab %}">
                <a href="{% url datawinners.project.views.index %}">Projects</a>
            </li>
            <li  class ="{% ifactivetab 'main_nav' 'data_senders' %}active{% else %}inactive{% endifactivetab %}">
                <a href="{% url datawinners.entity.views.all_datasenders %}">Data Senders</a>
            </li>
            <li class ="{% ifactivetab 'main_nav' 'subjects' %}active{% else %}inactive{% endifactivetab %}">
                <a href="{% url datawinners.entity.views.all_subjects %}">Subjects</a>
            </li>
            <li class ="{% ifactivetab 'main_nav' 'all_data' %}active{% else %}inactive{% endifactivetab %}">
                <a href="/alldata">All Data</a>
            </li>
            <li class ="last {% ifactivetab 'main_nav' 'guide' %}active{% else %}inactive{% endifactivetab %}">
                <a href="#">Guide</a>
            </li>
        </ul>
    </div>
{% endblock %}