{% extends 'layout_application.html' %}
{% load i18n %}
{% block header %}
    <div id="container_header_application">
        <div class="container_24" id="header_application">
            {% include 'header_wizard.html' %}
            {% include 'main_navigation.html' %}
        </div>
    </div>
{% endblock %}
{% block main_content %}
    <div id="container_content">
        <div id="page_title">
                {% block section_title %}
                {% endblock %}
        </div>
        <div class="container_24">

            <div class="grid_24 content wizard_content">
                <div class="wizard">
                    {% block wizard %}{% endblock %}
                </div>

                <div class="content_wrapper grid_24 alpha omega">
                    {% block content %} {% endblock %}
                </div>
            </div>

            <div class="grid_24 footer_link">
            </div>

        </div>
    </div>
{% endblock %}
