{% load dw_tabs %}
{% block main_navigation %}
<div id="container_main_tab">
    <div id="main_tab" class="container_24">
        <div class="grid_5 alpha">
            <a href="{% url datawinners.home.views.index %}"><img src="/media/images/logo_dw.png" alt="DataWinners" width="137" height="22"/></a>
        </div>
        <div class="grid_19 float_right">
            <ul>
                <li class ="{% ifactivetab 'main_nav' 'datawinners' %}active{% else %}inactive{% endifactivetab %}">
                    <a href="/what-is-datawinners">What is DataWinners</a>
                </li>
                <li class ="{% ifactivetab 'main_nav' 'success' %}active{% else %}inactive{% endifactivetab %}">
                    <a href="/success-stories">Success Stories</a>
                </li>
                <li class ="{% ifactivetab 'main_nav' 'pricing' %}active{% else %}inactive{% endifactivetab %}">
                    <a href="/pricing">Pricing</a>
                </li>
                <li class ="{% ifactivetab 'main_nav' 'support' %}active{% else %}inactive{% endifactivetab %}">
                    <a href="javascript:void(0)">Support</a>
                </li>
                <li class ="{% ifactivetab 'main_nav' 'about' %}active{% else %}inactive{% endifactivetab %}">
                    <a href="/about-us">About us</a>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}
