<div id="footer" class="container_24">
    <div class="grid_6">
        <a href="{% url datawinners.home.views.index %}"><img src="/media/images/logo_footer_dw.png" alt="DataWinners" width="147" height="23"></a><br/>
        <span class="italic">A part of <a href="/about-us/hni">Human Network International</a></span>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            <a href="/about-us/hni" target="_blank">Learn more about us &raquo;</a>
        </p>
    </div>
    <div class="grid_1"><img src="/media/images/dw_footer_pipe.gif" width="15" height="190" alt=""></div>
    <div class="grid_4">
        <ul>
            <li><a href="/what-is-datawinners">What is DataWinners</a></li>
            <li><a href="/examples">Examples</a></li>
            <li><a href="/plans-and-pricing">Plans &amp; Pricing</a></li>
            <li><a href="/support-and-community">Support &amp; Community</a></li>
            <li><a href="/about-us">About us</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/about-us/news-events-blog-social-media">News</a></li>
            <li><a href="/terms-and-conditions">Terms &amp; Conditions</a></li>
        </ul>
    </div>
    <div class="grid_1"><img src="/media/images/dw_footer_pipe.gif" width="15" height="190" alt=""></div>
    <div class="grid_7">
        <strong>Our partners</strong><br/><br/>
        <img src="/media/images/logo_footer_airtel.png" alt="Airtel" width="67" height="24">
        <img src="/media/images/logo_footer_thoughtworks.png" alt="Thoughtworks" width="119" height="24"><br/>
        <img src="/media/images/logo_footer_modi.png" alt="Modi research group" width="72" height="26">
        <img src="/media/images/logo_footer_mule.png" alt="Mule" width="87" height="28"><br/><br/>
        <a href="/about-us/partners">See all our partners &raquo;</a>
    </div>
    <div class="grid_1"><img src="/media/images/dw_footer_pipe.gif" width="15" height="190" alt=""></div>
    <div class="grid_5">
        <strong>Latest news</strong>
        <p>
            <a href="javascript:void(0)">Lorem ipsum dolor sit amet</a><br/>
            <small>Jan 26, 2011</small>
        </p>

        <a href="/about-us/news-events-blog-social-media">View all &raquo;</a>
    </div>
    <div class="clear"></div>
</div>
