{% load dw_tabs %}
{% block main_navigation %}
<div id="container_main_tab">
    <div id="main_tab" class="container_24">
        <div class="grid_6 alpha">
            <img src="/media/images/logo_dw.png" alt="DataWinners" width="137" height="22"/>
        </div>
        <div class="grid_18 float_right">
            <ul>
                <li>
                    <a href="javascript:void(0)">What is DataWinners</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Success Stories</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Pricing</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Support</a>
                </li>
                <li>
                    <a href="javascript:void(0)">About us</a>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}
