<div id="container_header_wizard" >
    <div class="container_24" id="header">
        <div class="grid_21 text_align_right">
            Languages :
            <a href="javascript:void(0)" class="first">English</a>
            <a href="javascript:void(0)">Malagasy</a>
            <a href="javascript:void(0)">French</a>
        </div>
        <div class="grid_3 login text_align_center float_right">
            <span><a href="{% url django.contrib.auth.views.login %}" class="first">Sign in</a></span>
            <span><a href="{% url registration.views.register %}">Sign up</a></span>
        </div>
        <div class="clear"></div>
    </div>
</div>
