{% extends 'layout_wizard.html' %}

{% block page_js %}
    {{ block.super }}
    <script src="/media/javascript/jqueryUI/jquery-ui-1.8.12.custom.min.js" type="text/javascript"></script>
    <script src="/media/javascript/step_wizard.js" type="text/javascript"></script>

{% endblock %}
{% block page_css %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/css/plugins/jqueryUI/jquery-ui-1.8.12.custom.css" media="screen">
{% endblock %}
{% block page_scss %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/css/scss/section_wizard.scss" media="screen">
{% endblock %}


{% block wizard %}
    <span class="create_a_project">Create a new project</span>
    <h2>{{ project.name }}</h2>
    <div id="step_wizard">

    </div>
    <ul id="tab_items">
        <li class="define">Define Project</li>
        <li class="subjects">Subjects</li>
        <li class="questionnaire">Questionnaire</li>
        <li class="datasenders">Data Senders</li>
{#        <li class="reminder">Reminder<p>This feature is unavailable</p></li>#}
        <li class="finish">Review & Test</li>
    </ul>
{% endblock %}

