{% extends 'layout_wizard.html' %}

{% block page_js %}
    {{ block.super }}
    <script src="/media/javascript/step_wizard.js" type="text/javascript"></script>

{% endblock %}
{% block page_css %}
    {{ block.super }}
{% endblock %}
{% block page_scss %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/css/scss/section_wizard.scss" media="screen">
{% endblock %}


{% block wizard %}
    <span class="create_a_project">Create a new project</span>
    <a href="#" class="cancel">Cancel</a>
    <h2>{{ project.name }}</h2>
    <div id="step_wizard">
    </div>
    <div id="cancel_project_block">
        <p class="warning_message">Are you sure you want to cancel this project?
                   (your previous steps are saved)</p>
        <a href="#" class="wizard_cancel_link" id='wizard_cancel_link'>Cancel</a>
        <a href="/project/" class="button" id="confirm">Confirm</a>
    </div>
    <ul id="tab_items">
        <li class="define">Define Project</li>
        <li class="subjects">Subjects</li>
        <li class="questionnaire">Questionnaire</li>
        <li class="datasenders">Data Senders</li>
        <li class="reminder">Reminder</li>
        <li class="finish">Review & Test</li>
    </ul>
{% endblock %}

