{% load i18n %}
<table id='subject_table' class="styled_table">
    <thead>
    <th>ID</th>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Type" %}</th>
    <th>{% trans "Location" %}</th>
    <th>{% trans "Geocode" %}</th>
    <th>{% trans "Description" %}</th>
    <th>{% trans "Contact info" %}</th>
    </thead>
    <tbody id='all_data_senders'>
    {% for each in all_data %}
        <tr>
            <td>{{ each.short_name }}</td>
            <td>{{ each.name }}</td>
            <td>{{ each.type }}</td>
            <td>{{ each.location }}</td>
            <td>{{ each.geocode }}</td>
            <td>{{ each.description }}</td>
            <td>{{ each.mobile_number }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
