<table id='subject_table' class="styled_table">
    <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Type</th>
    <th>Location</th>
    <th>Geocode</th>
    <th>Description</th>
    <th>Contact info</th>
    </thead>
    <tbody id='all_data_senders'>
    {% for each in all_data%}
        <tr>
            <td>{{ each.short_name }}</td>
            {% if each.name %}
                <td>{{ each.name }}</td>
            {% else %}
                <td>--</td>
            {% endif %}
            <td>{{ each.type }}</td>
            {% if each.location %}
                <td>{{ each.location }}</td>
            {% else %}
                <td>--</td>
            {% endif %}
            {% if each.geocode %}
                <td>{{ each.geocode }}</td>
            {% else %}
                <td> -- </td>
            {% endif %}
            {% if each.description %}
                <td>{{ each.description }}</td>
            {% else %}
                <td>--</td>
            {% endif %}
            {% if each.mobile_number %}
                <td>{{ each.mobile_number }}</td>
            {% else %}
                <td>--</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>