<html>

<body>

<p>Bonjour {{ user.first_name }},</p>

<p>
    Vous êtes maitenant enregistré en tant qu’Expéditeur de Données.<br>
    <a href="{{ protocol }}://{{ domain }}{% url activate_datasender_account uidb36=uid, token=token %}" style="text-decoration: none">
        Activez votre compte DataWinners</a> <span style="text-decoration: underline">dans les 7 prochains jours</span> pour pouvoir envoyer des données en utilisant l’Internet, le Smartphone et le SMS.
</p>


<p><b>Comment Envoyez des Données</b><br>
    DataWinners vous permet d’envoyer vos données de 3 différentes manières. Choisissez le canal qui vous convient le mieux.
<ol>
    <li>
        <b>Internet</b>

        <div>Utilisez n’importe quel ordinateur connecté à Internet pour envoyer des données. Connectez-vous à votre compte
            DataWinners pour remplir le Questionnaire en ligne.
        </div>
    </li>
    <li>
        <b>Smartphone Android</b>

        <div>Utilisez un Smartphone Android pour envoyer des données. Téléchargez les Questionnaires directement sur
            votre téléphone. Connectez-vous à votre compte DataWinners pour plus d’instructions.
        </div>
    </li>
    <li>
        <b>SMS</b>

        <div>Utilisez un simple téléphone mobile pour envoyer des données en utilisant un seul SMS. Demandez le
            Questionnaire SMS à votre gestionnaire de projet.
        </div>
    </li>
</ol>
</p>

<p><b>Besoin d’Aide?</b><br>
    Si vous avez besoin d’aide, contactez votre gestionnaire de projet ou envoyez-nous un email à l’adresse
    support@datawinners.com. Nous sommes là pour vous aider!
</p>

<p>Amusez-vous bien,<br>
    Votre Equipe DataWinners <br>
    <a href="http://www.datawinners.com" style="text-decoration: none">www.datawinners.com</a> | <a
            href="http://datawinners.wordpress.com/" style="text-decoration: none">Blog</a> | <a
            href="https://twitter.com/#!/datawinners" style="text-decoration: none">Twitter</a>
</p>

</body>
</html>