<html>

<body>

<p>Hello {{ user.first_name }},</p>

<p>
    You are now registered as a Data Sender.<br>
    <a href="{{ protocol }}://{{ domain }}{% url activate_datasender_account uidb36=uid, token=token %}" style="text-decoration: none">
        Activate your DataWinners account</a> <span style="text-decoration: underline">within the next 7 days</span> to send in data using Web, Smartphone and SMS.
</p>


<p><b>How to Send Data</b><br>
    DataWinners allows you to send your data 3 different ways. Choose the channel most convenient for you.
<ol>
    <li>
        <b>Web</b>

        <div>Use any computer connected to the Internet to send in data. Log in to your DataWinners account to fill out
            the Questionnaire online.
        </div>
    </li>
    <li>
        <b>Android Smartphone</b>

        <div>Use any Android Smartphone to send data. Download the Questionnaires directly onto your phone. Log in to
            your
            DataWinners account for further instructions.
        </div>
    </li>
    <li>
        <b>SMS</b>

        <div>Use any simple mobile phone to send data using a single SMS. Ask your project manager for the SMS
            Questionnaire.
        </div>
    </li>
</ol>
</p>

<p><b>Need Help?</b><br>
    If you need help contact your project manager or send us an Email at support@datawinners.com. We're here to help!
</p>

<p>Have fun, <br>
    Your DataWinners Team <br>
    <a href="http://www.datawinners.com" style="text-decoration: none">www.datawinners.com</a> |
    <a href="http://datawinners.wordpress.com/" style="text-decoration: none">Blog</a> |
    <a href="https://twitter.com/#!/datawinners" style="text-decoration: none">Twitter</a>
</p>

</body>
</html>