{% extends 'public_secondary.html' %}
{% block page_title %} Votre Numéro de Téléphone pour Compte d’Essai {% endblock %}

{% load dw_tabs %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/countrytotrialnumbermapping/index.js"></script>
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/util.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_application.css" rel="stylesheet"/>
{% endblock %}
{% block body %}
    {{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
    <a href="https://www.datawinners.com/fr/home/">Accueil</a> &gt; Votre Numéro de Téléphone pour Compte d’Essai
{% endblock %}

{% block main_content %}
    <div id="main_content">
        <div class="margin_left_20" id="content-terms">
            <p>Avec DataWinners, vous pouvez collecter des données
                par SMS. Voyez vers quel numéro de téléphone envoyer
                vos données test
            </p>

            <p>
                <select name="country" id="id_country">
                    <option value="" selected="selected">Sélectionnez votre pays</option>
                    {% for name,text in formatted_countries %}
                        <option value="{{ name }}">{{ text }}</option>
                    {% endfor %}

                </select>
            </p>

            <div id='trial_number_info' class="none">
                <table id="mapping" class="styled_table">
                    <thead>
                    <tr>
                        <th>Si vous utilisez ce réseau...</th>
                        <th>Envoyez vos SMS test vers ce numéro</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

            <div>
                <h2> Frais SMS pour compte d'essai </h2>

                <p>Pour le compte d'essai gratuit, les tarifs de SMS
                    internationaux sont applicables. Vous payez pour envoyer
                    vos messages à DataWinners. DataWinners enverra une
                    confirmation ou des messages d’erreur automatiques en
                    réponse à vos SMS. Vous pouvez soumettre jusqu'à 100
                    messages durant votre période d'essai.
                </p>
            </div>

        </div>
    </div>
    <div class="clear"></div>
{% endblock %}