{% extends 'public_secondary.html' %}
{% block page_title %} Your Account Phone Number {% endblock %}

{% load dw_tabs %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/countrytotrialnumbermapping/index.js"></script>
{% endblock %}
{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/util.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_application.css" rel="stylesheet"/>
{% endblock %}
{% block body %}
    {{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
    <a href="/en/home/">Home</a> &gt; Your Account Phone Number
{% endblock %}

{% block main_content %}

    <div id="main_content">
        <div class="margin_left_20" id="content-terms">
            <p>With DataWinners you can collect data via SMS. See
                which telephone number you can use to send in your
                data.
            </p>

            <p>
                <select name="country" id="id_country">
                    <option value="" selected="selected">Select your country</option>
                    {% for name,text in formatted_countries %}
                        <option value="{{ name }}">{{ text }}</option>
                    {% endfor %}

                </select>
            </p>

            <div id='trial_number_info' class="none">
                <table id="mapping" class="styled_table">
                    <thead>
                    <tr>
                        <th>If you use this network...</th>
                        <th>Send your trial SMS to this number</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

            <div>
                <h2> SMS Fees for Trial Account</h2>

                <p> For the free trial account, International SMS rates apply. You pay to send your messages to
                    DataWinners.
                    DataWinners will send automatic confirmation and error messages back in response to your SMS. You
                    can submit
                    up to 100 messages during your trial period.</p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}