{% extends 'public_secondary.html' %}
{% block page_title %} Your Account Phone Number {% endblock %}

{% load dw_tabs %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/countrytotrialnumbermapping/index.js"></script>
{% endblock %}

{% block body %}
    {{ block.super }}
{% endblock %}

{% block page_breadcrumbs %}
    <a href="/en/home/">Home</a> &gt; Your Account Phone Number
{% endblock %}

{% block main_content %}

    <div id="main_content">
        <div class="margin_left_20" id="content-terms">
            <p>With DataWinners you can collect data via SMS. See
                which telephone number you can use to send in your
                data.
            </p>

            <p>
                <select name="country" id="id_country">
                    <option value="" selected="selected">Select your country</option>
                    {% for name,text in formatted_countries.items %}
                        <option value="{{ name }}">{{ text }}</option>
                    {% endfor %}

                </select>
            </p>
            <div id='trial_number_info'>

            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}