{% load i18n %}
{% include 'project/partials/help_no_submissions/help_no_submissions_for_all_tab.html' %}
{% include 'project/partials/help_no_submissions/help_no_submissions_for_success_tab.html' %}

<div class="help_no_submissions" style="display: none">
    <div class="help_accordion" style="text-align: left;">
        {% trans "No unsuccessful Submissions!" %}
    </div>
</div>

<div class="help_no_submissions" style="display: none">
    <div class="help_accordion" style="text-align: left;">
        {% trans "No deleted Submissions." %}
    </div>
</div>

