{% extends 'accountmanagement/account/index.html' %}

{% load field_tags %}
{% load i18n %}
{% block page_title %} {% trans "Account" %} {% endblock %}

{% load dw_tabs %}
{% block navigation %}
{% activetab "tab_nav" "users" %}
{{ block.super }}
{% endblock %}
{% block layout_scss %}
{% include 'application_scss.html' %}
<link href="/media/css/scss/section_registration.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="text_align_right margin_bottom_20">
  <a href= "/account/users" >{% trans "All Users" %}</a>
</div>
 <div id="user_form" class="span-18 box">
    <div class = "form-5px">
      {% if add_user_success %}
            <div id="flash-message" class="success-message-box">
                {% trans "User has been added successfully" %}
            </div>
        {% endif %}
      <form method="post" action="/account/user/new/" name="form" id="registration_form">
        {% csrf_token %}
        <ul class="administrative">
          <li>
            <h3 class="title">{% trans "Point of Contact" %} / {% trans "Account Administrator" %}</h3>
            <h6 class="section_description">{% trans "All fields are required unless marked optional." %}</h6>          </li>
          <li class="{{ form.title.css_classes  }} form-row-10px">
            {{ profile_form.title|field_label }}
            {{ profile_form.title }}
            
            {{ profile_form.title.errors }}
            <p class="black_italic optional">{% trans "Example: Program Director" %}</p>
          </li>
          <li class="{{ form.full_name.css_classes  }} form-row-10px">
            {{ profile_form.full_name|field_label }}
            {{ profile_form.full_name }}
            
            {{ profile_form.full_name.errors }}
          </li>
          <li class="{{ form.email.css_classes  }} form-row-10px">
            {{ profile_form.username|field_label }}
            {{ profile_form.username }}
            
            {{ profile_form.username.errors }}
          </li>
          <li class="{{ form.mobile_phone.css_classes  }} form-row-10px">
            {{ profile_form.mobile_phone|field_label }}
            {{ profile_form.mobile_phone }}
            
            {{ profile_form.mobile_phone.errors }}
          </li>
            <p class="black_italic">{% trans "phone_number_example" %}</p>
            <li class="margin_top_20">
            <input type="submit" value="{% trans 'Register' %}"  class="button float_right" />
          </li>
        </ul>
      </form>
    </div>
  </div>
{% endblock %}
