{% extends 'accountmanagement/account/index.html' %}

{% load field_tags %}
{% load i18n %}
{% block page_title %} {% trans "Account" %} {% endblock %}

{% load dw_tabs %}
{% block navigation %}
{% activetab "tab_nav" "users" %}
{{ block.super }}
{% endblock %}
{% block layout_scss %}
{% include 'application_scss.html' %}
<link href="/media/css/scss/section_registration.css" rel="stylesheet" xmlns="http://www.w3.org/1999/html"/>
{% endblock %}

{% block page_js %}
{{ block.super }}
<script type="text/javascript" src="/media/javascript/account/add_user_view_model.js"/>
<script type="text/javascript" src="/media/javascript/dw-ko-validation-extensions.js"/>
<script type="text/javascript" src="/media/javascript/warning_dialog.js"/>
<script type="text/javascript">
        DW.help_url = "https://www.datawinners.com/{% trans 'wp_language' %}/find-answers-app/category/usrs/?template=help";

</script>

{% endblock %}
{% block content %}
<a class="users-back-btn" href="/account/users">« {% trans "Back to Users" %}</a>
<div id="user_profile_content" data-bind="beforeUnloadText: beforeUnloadPrompt">
    {% csrf_token %}
    <div class="administrative">
        <div>
            <h3 class="title">{% trans "Add a User" %}</h3>
            <h6 class="section_description">{% trans "All fields are required unless marked optional." %}</h6>
        </div>
        <div id="flash-message" class="success-message-box" data-bind="visible: addUserSuccess() == true && hasFormChanged() == false">
            {% trans "User has been added successfully" %}
        </div>
        <div class="tableRow">
            <div class="tableCell">
                <label>{% trans 'Name' %}</label>
            </div>
            <div class="tableCell">
                <input type="text" name="full_name" data-bind="value: fullName"/>
            </div>
            <div class="tableCell"
                 data-bind="css: { errorlist: fullName.error()  != null && fullName.error() != '' }">
                <div class="error-box">
                    <span data-bind="text: fullName.error"></span>
                </div>
            </div>
        </div>
        <div class="tableRow">
            <div class="tableCell">
                <label>{% trans 'Role' %}</label>
            </div>
            <div class="tableCell">
                 {% if user.is_ngo_admin%}
                <label><input type="radio" name="role" id="option_administrator"
                              data-bind="checked: role, value: 'Extended Users'"/> {% trans "Administrator" %}
                 </label>

                <p class="role_description">{% trans "role_administrator_description" %}</p>
                {% endif %}
                <label><input type="radio" name="role" id="option_project_manager"
                              data-bind="checked: role, click: $root.fetchQuestionnaires, value: 'Project Managers'"/>
                    {% trans "Project Manager" %}
                </label>

                <p class="role_description">{% trans "role_project_manager_description" %}</p>
                <div class="ajax-loader" data-bind="visible: role()=='Project Managers' && hasFetchedQuestionnaires() == false"><img src="/media/images/ajax-loader-horizontal-bar.gif"/></div>

                <div class="italic_text grey-info"
                     data-bind="visible: role()=='Project Managers' && hasFetchedQuestionnaires() == true && questionnaires().length < 1">{% trans
                    "questionnaire_access_placeholder_text" %}
                </div>
                <div class="questionnaire-list"
                     data-bind="visible: role()=='Project Managers' && questionnaires().length >= 1">
                    <ul data-bind="foreach: questionnaires">
                        <li>
                            <input type="checkbox"
                                   data-bind="checkedValue: id, value: id, checked: $root.selectedQuestionnaires()"/>
                            <span data-bind="html: name"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tableCell" data-bind="css: { errorlist: role.error() != null && role.error() != '' }">
                <div class="error-box">
                    <span data-bind="text: role.error"></span>
                </div>
            </div>
        </div>
        <div class="tableRow">
            <div class="tableCell ">
                <label>{% trans 'Job Title' %}<span
                        class='optional_field black_italic grey-info'>{% trans 'Optional' %}</span></label>

            </div>
            <div class="tableCell">
                <input type="text" name="title" data-bind="value: title"/>

                <p class="black_italic grey-info">{% trans "Example: Program Director" %}</p>
            </div>
        </div>
        <div class="tableRow">
            <div class="tableCell">
                <label>{% trans 'Email' %}</label>
            </div>
            <div class="tableCell">
                <input type="text" name="username" data-bind="value: email"/>
            </div>
            <div class="tableCell" data-bind="css: { errorlist: email.error() != null && email.error() != '' }">
                <div class="error-box">
                    <span data-bind="text: email.error"></span>
                </div>
            </div>
        </div>
        <div class="tableRow">
            <div class="tableCell">
                <label>{% trans 'Phone Number' %}</label>
            </div>
            <div class="tableCell">
                <input type="text" name="mobile_phone" data-bind="value: mobilePhone"/>

                <p class="black_italic grey-info">{% trans "phone_number_example" %}</p>
            </div>
            <div class="tableCell"
                 data-bind="css: { errorlist: mobilePhone.error()  != null && mobilePhone.error() != '' }">
                <div class="error-box">
                    <span data-bind="text: mobilePhone.error"></span>
                </div>
            </div>
        </div>
        <p class="black_italic grey-info add-user-help-text">{% trans "add_user_help_text" %}</p>
        <div class="user_actions">
            <a class="user-cancel-btn" href="/account/users">{% trans 'Cancel' %}</a>
            <button class="button" id="submit" class="button"
                    data-bind="click: submit">{% trans 'Add User' %}
            </button>
        </div>
    </div>
    <div id="form_changed_warning_dialog">
        <p class="warning_message">
            {% trans "You have made changes to the form. These changes will be lost if you navigate away from this page." %}<br/><br/>
            {% trans "Are you sure you want to proceed?" %}
        </p>

        <div class="text_align_right">
            <a class="cancel_link no_button">{% trans "Cancel" %}</a>
            <a class="button yes_button">{% trans "Yes, Proceed" %}</a>
        </div>
    </div>
</div>
{% endblock %}