{% extends 'accountmanagement/account/index.html' %}
{% load field_tags %}
{% load i18n %}
{% block page_title %} {% trans "Account" %} {% endblock %}

{% load dw_tabs %}
{% block navigation %}
{% activetab "tab_nav" "settings" %}
{{ block.super }}
{% endblock %}
{% block layout_scss %}
{% include 'application_scss.html' %}
<link href="/media/css/scss/section_registration.css" rel="stylesheet" />
{% endblock %}
{% block content%}
<div class="span-18 box">
  <div class = "form-5px">
        {% if message %}
             <div id="flash-message" class="success-message-box">
                 {{ message }}
             </div>
        {% endif %}
    <form method="post" action="/account/" name="form">
      {% csrf_token %}
       <h6 class="section_description">{% trans "All fields are required unless marked optional." %}</h6>
        <ul class="organization">
        <li class="{{ form.organization_name.css_classes }} form-row-10px">
          {{ organization_form.name|field_label }}
          {{ organization_form.name }}

          {{ organization_form.name.errors }}
        </li>
        <li class="{{ form.organization_sector.css_classes  }} form-row-10px">
          {{ organization_form.sector|field_label }}
          {{ organization_form.sector }}

          {{ organization_form.sector.errors }}
        </li>
        <li class="{{ form.organization_address.css_classes  }} form-row-10px">
          {{ organization_form.address|field_label }}
          {{ organization_form.address }}

          {{ organization_form.address.errors }}
        </li>
        <li class="{{ form.organization_city.css_classes  }} form-row-10px">
          {{ organization_form.city|field_label }}
          {{ organization_form.city }}

          {{ organization_form.city.errors }}
        </li>
        <li class="{{ form.organization_state.css_classes  }} form-row-10px">
          {{ organization_form.state|field_label }}
          {{ organization_form.state }}

          {{ organization_form.state.errors }}
        </li>
        <li class="{{ form.organization_country.css_classes  }} form-row-10px">
          {{ organization_form.country|field_label }}
          {{ organization_form.country }}
          {{ organization_form.country.as_hidden }}

          {{ organization_form.country.errors }}
        </li>
        <li class="{{ form.organization_zipcode.css_classes  }} form-row-10px">
          {{ organization_form.zipcode|field_label }}
          {{ organization_form.zipcode }}

          {{ organization_form.zipcode.errors }}
        </li>
        <li class="{{ form.organization_office_phone.css_classes  }} form-row-10px">
          {{ organization_form.office_phone|field_label }}
          {{ organization_form.office_phone }}

          {{ organization_form.office_phone.errors }}
        </li>
        <li class="{{ form.organization_website.css_classes  }} form-row-10px">
          {{ organization_form.website|field_label }}
          {{ organization_form.website }}

          {{ organization_form.website.errors }}
        </li>
        {{ organization_form.org_id.as_hidden }}
        <li class="margin_top_20">
          <input type="submit" value="{% trans 'Save Changes' %}" class="button float_right" />
        </li>
      </ul>
    </form>

  </div>
</div>
{% endblock %}
