{% extends 'accountmanagement/account/index.html' %}
{% load i18n %}
{% block page_title %} {% trans "Account" %} {% endblock %}

{% load dw_tabs %}
{% load filters %}
{% block navigation %}
    {% activetab "tab_nav" "users" %}
    {{ block.super }}
{% endblock %}
{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/media/javascript/jquery-dropdown/jquery.dropdown.css" rel="stylesheet"/>
    <link href="/media/css/scss/action_button.css" media="screen" rel="stylesheet" />
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript">
            DW.help_url = "https://www.datawinners.com/{% trans 'wp_language' %}/find-answers-app/category/usrs/?template=help";
    </script>
    <script type="text/javascript" src="/media/javascript/action_dropdown.js"></script>
    <script type="text/javascript" src="/media/javascript/warning_dialog.js"></script>
    <script type="text/javascript" src="/media/javascript/account/users_list.js"></script>
    <script type="text/javascript" src="/media/javascript/jquery-dropdown/jquery.dropdown.js"></script>
{% endblock %}

{% block content %}
    <div class="float_right">
        <a href="/account/user/new/">{% trans "Add a User" %}</a>
    </div>
    <br/>
    <div class="text_align_left margin_bottom_20">
        <h3>{% trans "Users" %}</h3>
        <div class="help_accordion">{% trans "View and manage the users of your DataWinners account." %}</div>
        <div style="clear: both;" id="error" class="message-box">{% trans "Please select at least 1 user" %}</div>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div style="clear: both;" class="{% if 'success' in message.tags %} success-message-box {% else %} message-box {% endif %}"  >
                <span class="message-span">{{ message }}</span>
            </div>
        {% endfor %}
    {% endif %}
    {% include "action.html" %}
    <br/>
    <div id="users_list">
        <table class="styled_table">
            <thead>
            <th><input type="checkbox" id="check_all_users"/></th>
            <th>
                {% trans "Name" %}
            </th>
            <th>
                {% trans "Role" %}
            </th>
            <th>
                {% trans "Questionnaires & Polls" %}
            </th>
            <th>
                {% trans "Email" %}
            </th>
            <th>
                {% trans "Phone Number" %}
            </th>


            </thead>
            <tbody>
            {% for user in users %}
                {% with user_id=user.id questionnaire=questionnaire_map.user_id role=user.user.groups.all.0.name auth_user=user.user%}
                <tr>
                    <td>
                        {% if current_user|has_higher_privileges_than:auth_user %}
                            <input type="checkbox" value="{{ auth_user.id }}" name="user_ids" class="user_entry"/>
                        {% endif %}
                    </td>
                    <td>
                        {{ auth_user.first_name }}
                    </td>
                    <td>
                        {{ role|friendly_name }}
                    </td>
                    <td>
                        {% if 'NGO Admins' == role or 'Extended Users' == role %}
                            {% trans 'All' %}
                        {% else %}
                            {% with ques=questionnaire_map|get_item:user_id %}
                                {% for q in ques %}
                                    {{ q.name }}<br>
                                {% endfor %}
                            {% endwith %}
                        {% endif %}
                    </td>
                    <td class="email">
                        {{ auth_user.email }}
                    </td>
                    <td>
                        {{ user.mobile_phone }}
                    </td>

                </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "action.html" %}
    <div id="delete_user_warning_dialog">
        <p class="warning_message">
            {% trans "Your User(s) will be permanently deleted. This action cannot be undone." %}<br/><br/>
            {% trans "Are you sure you want to delete?" %}
        </p>

        <div class="text_align_right">
            <a class="cancel_link no_button">{% trans "Cancel" %}</a>
            <a class="button yes_button">{% trans "Yes, Delete" %}</a>
        </div>
    </div>
{% endblock %}
