{% extends 'accountmanagement/account/index.html' %}
{% load i18n %}
{% block page_title %} {% trans "Account" %} {% endblock %}

{% load dw_tabs %}
{% block navigation %}
    {% activetab "tab_nav" "users" %}
    {{ block.super }}
{% endblock %}
{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/media/javascript/jquery-dropdown/jquery.dropdown.css" rel="stylesheet"/>
    <link href="/media/css/scss/action_button.css" media="screen" rel="stylesheet" />
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/action_dropdown.js"></script>
    <script type="text/javascript" src="/media/javascript/warning_dialog.js"></script>
    <script type="text/javascript" src="/media/javascript/account/users_list.js"></script>
    <script type="text/javascript" src="/media/javascript/jquery-dropdown/jquery.dropdown.js"></script>
{% endblock %}

{% block content %}
    <div class="float_right">
        <a href="/account/user/new/">{% trans "Add a User" %}</a>
    </div>
    <br/>
    <div class="text_align_left margin_bottom_20">
        <h3>{% trans "Users" %}</h3>
        <div class="help_accordion">{% trans "View and manage the users of your DataWinners account." %}</div>
        <div style="clear: both;" id="error" class="message-box">{% trans "Please select at least 1 user" %}</div>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div style="clear: both;" class="{% if 'success' in message.tags %} success-message-box {% else %} message-box {% endif %}"  >
                <span class="message-span">{{ message }}</span>
            </div>
        {% endfor %}
    {% endif %}

    {% include "action.html" %}
    <br/>
    <div id="users_list">
        <table class="styled_table">
            <thead>
            <th><input type="checkbox" id="check_all_users"/></th>
            <th>
                {% trans "First Name" %}
            </th>
            <th>
                {% trans "Last Name" %}
            </th>
            <th>
                {% trans "Email" %}
            </th>
            <th>
                {% trans "Projects" %}
            </th>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><input type="checkbox" value="{{ user.user.id }}" name="user_ids" class="user_entry"/></td>
                    <td>
                        {{ user.user.first_name }}
                    </td>
                    <td>
                        {{ user.user.last_name }}
                    </td>
                    <td class="email">
                        {{ user.user.username }}
                    </td>
                    <td>
                        {% trans "All" %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "action.html" %}
    <div id="delete_user_warning_dialog">
        <p class="warning_message">
            {% trans "Your User(s) will be permanently deleted. This action cannot be undone." %}<br/><br/>
            {% trans "Are you sure you want to delete?" %}
        </p>

        <div class="text_align_right">
            <a class="cancel_link no_button">{% trans "Cancel" %}</a>
            <a class="button yes_button">{% trans "Yes, Delete" %}</a>
        </div>
    </div>

{% endblock %}
