<html>
<body>
<p>Dear {{ name }},</p>

<p>Thank you! We have received your upgrade request from a trial account to a monthly subscription and are currently
    processing your order.</p>

<p>You will receive a confirmation email from us containing payment information and telephone number options within the
    next 24 hours. In the meantime, you can continue to use DataWinners to create your questionnaires and collect data
    via the Internet.</p>

<p>Upon receipt of payment, you can begin collecting data via SMS.</p>

<p>If you need help getting started:</p>

<p>Email us at support@datawinners.com. We're happy to help!</p>

<p>Keep in touch! You can follow us on <a href='https://twitter.com/#!/datawinners'>Twitter</a> and
    <a href='http://www.facebook.com/DataWinners'>Facebook</a> and check out our
    <a href='http://datawinners.wordpress.com/'>blog</a> to learn about new features and more...</p>

<p>Thanks again for your support,</p>

<p>Your DataWinners Team</p>
</body>
</html>