{% extends 'layout_application.html' %}
{% load i18n %}
{% block page_title %}{% trans "Dashboard" %}{% endblock %}
{% block section_title %}{% trans "Dashboard" %}{% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "dashboard" %}
{{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_dashboard.scss" rel="stylesheet" />
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $( "#how_to" ).accordion({ collapsible: true, active: 0 });
            $( "#projects" ).accordion({ header: '.project_header', autoHeight: false, collapsible: true,active:100 });
        })
    </script>
{% endblock %}

{% block navigation %}
    <div class="grid_24">
        <div class="grid_11 margin_left_null margin_bottom_20 create_proj_button">
            <a id="create_project_link" href="{% url datawinners.project.wizard_view.create_project%}" class="button">{% trans "Create a new project" %}</a><img src="/media/images/help_icon.png" class="help_icon" style="margin-top:-6px;">
            <div class="tooltip"><p>{% trans "help_project_creation"%}</p></div>
        </div>
    </div>
{% endblock %}


{% block content %}

    {% for message in messages %}
            <div class="{{ message.tags }} success-message-box">{{ message }}</div>
    {% endfor %}
    <div id="how_to">
        <h3><span class="title">{% trans "How to use Datawinners" %}</span><img src="/media/images/help_icon.png" class="help_icon" style="margin-top:-6px;">
            <div class="tooltip"><p>{% trans "Click on the triangle to the left of 'How to use DataWinners' to expand or collapse the box." %}</p></div>
        </h3>
         <p>
            {% trans "help_how_to_use_dw" %}
         </p>
    </div>

    <div class="grid_18 margin_left_null dashboard_left">
        <h4 class="grid_16 omega alpha">{% trans "Your projects"%}</h4>
        <div id="projects">
        {% for project in projects %}
            <div class="project_header">
                <span class="header">{{ project.name|capfirst }} </span>
                <span class="success_error">{{ project.success }} {% trans "successful"%} |
                {{ project.errors }} {% trans "error"%}</span>
            </div>
            <div>
                <a class="go_to_project"href="{{ project.link }}">{% trans "go to this project" %}»</a>
                {% if not project.inactive %}
                    {% if project.submissions|length > 0 %}
                        <table>
                        {% for submission in project.submissions %}
                            <tr>
                                <td>{{ submission.created }}</td>
                                <td>{{ submission.reporter }}</td>
                                <td>{{ submission.message }}</td>
                            </tr>
                        {% endfor %}
                        </table>
                    {% else %}
                        <strong>{% trans "No submissions present for this project" %}</strong><br/>
                    {% endif %}
                {% else %}
                        <strong>{% trans "This project is inactive"%}</strong><br/>
                {% endif %}
            </div>
        {% endfor %}
        </div>
        <a class="grid_4  omega alpha view_all_projects" href="{% url datawinners.project.views.index %}">{% trans "view all projects"%} »</a>
    </div>
    <div class="grid_4 alpha omega dashboard_right">
    {% if trial_account and user.groups.all.0.name == 'NGO Admins' %}
    <ul class="news">
        <li>Your account is a Trial Account with some limitations. To upgrade click on the 'Subscribe Now' button.</li>
        <li><a href="/upgrade/" class="button">Subscribe Now</a></li>
        <li><a href="/en/pricing/">Learn More</a></li>
    </ul>
    {% endif %}
    </div>
{% endblock %}
