{% load i18n %}
<div id="project_profile" class="clear_both">
    <fieldset>
        <legend>1. {% trans "Basic Information" %}</legend>
    </fieldset>
    {% if messages %}
        <div class="message-box">
            {% for message in messages %}
                <span>{{ message }}</span>
            {% endfor %}
        </div>
    {% endif %}
    <div class="line"></div>
<ul>
    <li class="form-row-10px">
        {{ form.name.label_tag }}
        {{ form.name }}
        <img src="/media/images/help_icon.png" class="help_icon" style="margin-top:-6px;">
        <div class="tooltip"><p>
            {% trans "tooltip_project_name" %}
        </p></div>
        {{ form.name.errors }}
        <p class="black_italic">{% trans "Example: Teacher attendance in Antananarivo" %}</p>
    </li>
    <li>
        {{ form.goals.label_tag }}
        {{ form.goals }}
        {{ form.goals.errors }}
        <p class="black_italic">{% trans "Example: Collect data from 100 primary school in Antananarivo in an effort to increase teacher attendance from 50% to 80%" %}</p>
    </li>

    <li>
        <div class="help">
            {{ form.language.label_tag }}
        </div>
        <img src="/media/images/help_icon.png" class="help_icon">
        <div class="tooltip"><p>
            {% trans "tooltip_error_language" %}
        </p></div>
        {{ form.language }}
        {{ form.language.error }}
    </li>
    <li>
        <div class="help">
            {{ form.activity_report.label_tag }}
        </div>
        <img src="/media/images/help_icon.png" class="help_icon">
        <div class="tooltip"><p>
            {% trans "tooltip_questionnaire_about" %}
        </p></div>
        <img src='/media/images/help_icon.png' class='help_icon' /><div class='tooltip summary'><p>{% trans 'tooltip_summary_report' %}</p></div>
        <img src='/media/images/help_icon.png' class='help_icon' /><div class='tooltip individual'><p>{% trans 'tooltip_individual_report' %}</p></div>
        {{ form.activity_report }}
        {{ form.entity_type }}
        {%  include 'entity/create_type.html' %}
    </li>
    <li>
        <div class="help">
            {{ form.devices.label_tag }}
        </div>
        <img src="/media/images/help_icon.png" class="help_icon">
        <div class="tooltip"><p>
            {% trans "tooltip_devices" %}
        </p></div>
        {{ form.devices }}
    </li>
</ul>
    <div class="right_aligned_button create_project">
        <a href="/project/" class="cancel_project">{% trans "Cancel" %} </a>
        <input type="button" class="button" id="continue_project" value="{% trans "Continue" %}"/>
    </div>

</div>
