{% load i18n %}
<div id="project_profile" class="clear_both">
    <fieldset>
        <legend>1. Basic Information</legend>
    </fieldset>
    {% if messages %}
        <div class="message-box">
            {% for message in messages %}
                <span>{{ message }}</span>
            {% endfor %}
        </div>
    {% endif %}
    <div class="line"></div>
    <li class="form-row-10px">
        {{ form.name.label_tag }}
        {{ form.name }}
        <img src="/media/images/help_icon.png" />
        {{ form.name.errors }}
        <p class="black_italic">Example: Teacher attendance in Antananarivo</p>
    </li>
    <li>
        {{ form.goals.label_tag }}
        {{ form.goals }}
        {{ form.goals.errors }}
        <p class="black_italic">Example: Collect data from 100 primary school in Antananarivo in an effort to increase
            teacher attendance from 50% to 80%</p>
    </li>

    <li>
        {{ form.language.label_tag }}
        {{ form.language }}
        {{ form.language.error }}
    </li>
    <li>
        {{ form.activity_report.label_tag }}
        {{ form.activity_report }}
        {{ form.entity_type }}
        {%  include 'entity/create_type.html' %}
    </li>
    <li>
        {{ form.devices.label_tag }}
        {{ form.devices }}
    </li>

    <div class="right_aligned_button create_project">
        <a href="/project/" class="cancel_project">{% trans "Cancel" %} </a>
        <input type="button" class="button" id="continue_project" value="{% trans "Continue" %}"/>
    </div>

</div>
