<div class="clear_both">
    <fieldset>
        <legend>1. Basic Information</legend>
    </fieldset>
    {% if messages %}
        <div class="message-box">
            {% for message in messages %}
                <span>{{ message }}</span>
            {% endfor %}
        </div>
    {% endif %}
    <div style="border-bottom: 1px solid #ccbf97;"></div>
    <li class="form-row-10px">
        {{ form.name.label_tag }}
        {{ form.name }}
        <img src="/media/images/help_icon.png" />
        {{ form.name.errors }}
        <p class="black_italic">Example: Teacher attendance in Antananarivo</p>
    </li>
    <li>
        {{ form.goals.label_tag }}
        {{ form.goals }}
        {{ form.goals.errors }}
        <p class="black_italic">Example: Collect data from 100 primary school in Antananarivo in an effort to increase
            teacher attendance from 50% to 80%</p>
    </li>
    <li>
        {{ form.frequency_enabled.label_tag }}
        {{ form.frequency_enabled.help_text }}
        {{ form.frequency_enabled }}
        {{ form.frequency_enabled.errors }}
        {{ form.frequency_period }}
        {{ form.frequency_period.errors }}
    </li>

    <li>
        {{ form.activity_report.label_tag }}
        {{ form.activity_report }}
        {{ form.entity_type }}
        {%  include 'entity/create_type.html' %}
    </li>

</div>
