{% extends 'new_layout_wizard.html' %}
{% load i18n %}
{% block page_title %} Create Project {% endblock %}
{% block section_title %}
    <h2 class="project_title">Create a New Project
        <img src="/media/images/help_button.png" align="right"/></h2>
    <a href="/project/" class="cancel_link">cancel</a>
{% endblock %}

{% load dw_tabs %}

{% block body %}
    {% activetab "main_nav" "projects" %}
    {{ block.super }}
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/project/view_model.js"></script>
    <script type="text/javascript">
        var subject_report_questions = $.parseJSON({{subject_report_questions|safe}});
        var activity_report_questions = $.parseJSON({{activity_report_questions|safe}});
        var existing_questions = $.parseJSON({{existing_questions|safe}});
    </script>
    <script type="text/javascript" src="/media/javascript/csrf_token_handler.js"></script>
    <script type="text/javascript" src="/media/javascript/project/create_project.js"></script>
    <script type="text/javascript" src="/media/javascript/project/new_questionnaire_charcount.js"></script>
    <script type="text/html" id="choice-template">
        <li>
            <input id="choice_text" name="choice_text" class="required" type="text"
                   data-bind="value: text, uniqueName:true"/>
            <a href="questionnaire_wizard.html#" class='delete delete_link'
               data-bind="visible: viewModel.choiceCanBeDeleted(), click:function(){viewModel.removeOptionFromQuestion($data)}">{% trans "Delete" %}</a>
        </li>
    </script>
    <script type="text/html" id="question-list-template">
        <div class="question_list">
            <ul>
                {% templatetag openvariable %}each(i,question) questions{% templatetag closevariable %}
                <div data-bind="click: function() { if($('#question_form').valid()) viewModel.changeSelectedQuestion(question); }, css:{question_selected:question == viewModel.selectedQuestion()} ">
                    <li>
                        <a href="#" data-bind="text: question.display"></a>

                        <div data-bind="visible: question.canBeDeleted()" class="delete">
                            <a href="#" class="delete_link"
                               data-bind="click: function() {if($('#question_form').valid()){ viewModel.removeQuestion(question);} else {viewModel.removeIfQuestionIsSelectedQuestion(question);} }">{% trans "Delete" %}</a>
                        </div>
                        <span class="selected_question_arrow"
                              data-bind="css:{inline:question == viewModel.selectedQuestion()}"></span>
                    </li>

                </div>
                {% templatetag openvariable %}/each{% templatetag closevariable %}
            </ul>
        </div>
    </script>
    <script type="text/javascript" src="/media/javascript/jquery.sprintf.js"></script>
    <script type="text/javascript" src="/media/javascript/project/questionnaire_helper.js"></script>
    <script type="text/javascript" src="/media/javascript/project/questionnaire_wizard_submit_redirect.js"></script>
    <script type="text/javascript" src="/media/javascript/project/new_questionnaire_wizard.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/create_type.js"></script>
{% endblock %}

{% block page_scss %}
    <link href="/media/css/scss/section_questionnaire.scss" rel="stylesheet"/>
    <link href="/media/css/scss/section_new_create_project.scss" rel="stylesheet"/>
{% endblock %}

{% block wizard %}
    <div class="wizard_heading">Create your project below in a few easy steps.</div>
    <div class="line"></div>
    <div class="w_content">
        <p>1. Name your project and provide basic information about it.</p>

        <p>2. Write and edit your questions.</p>

        <p>3. Save and activate your project.</p>
    </div>
{% endblock %}


{% block content %}
    <form id="create_project_form">
        {% csrf_token %}
        {% include 'project/basic_info.html' %}
    </form>
    <div class="clear_both">
        <fieldset>
            <legend>2. Questions</legend>
        </fieldset>
        <div class="line"></div>
        <p class="black_italic">We have provided you with example questions below. You can use the provided question,
            edit them, delete
            them or write your own.</p>
        <form id="question_form">
            {% csrf_token %}
            <fieldset>
                <ul class="questionnaire_code">
                    <li>
                        <label>{% trans "Questionnaire Code:" %}</label>
                        <input id='project-id' type='hidden' value="{{ project.id }}"/>
                        <input id='project-state' type='hidden' value="{{ project.state }}"/>
                        <input id='saved-questionnaire-code' type='hidden' value="{{ questionnaire_code }}"/>
                        <img src="/media/images/help_icon.png" class="help_icon" style="margin-top:-6px;">

                        <div class="tooltip"><p>
                            <strong>{% trans "What is this?" %}</strong><br/>
                            {% trans "q_tooltip_question_code" %}
                            <br/><br/>
                            <strong>{% trans "What do I need to do?" %}</strong><br/>
                            {% trans "r_tooltip_question_code" %}
                        </p></div>
                        <input id='questionnaire-code' class='required' value="{{ questionnaire_code }}"/>
                        <span id="questionnaire-code-error"></span>
                    </li>
                </ul>

                <div class="questionnare_content grid_23 alpha omega">
                    <div id="message-label" class="message-box none">
                    </div>

                    <div>
                        <div id="questions-panel" class="grid_8 alpha">
                            <h4>{% trans "Questions" %}</h4>

                            <div data-bind="template: 'question-list-template'" class="">
                            </div>
                            <div class="add_question">
                                <a class="add_link" href="#"
                                   data-bind="click: function() { if($('#question_form').valid()) viewModel.addQuestion();}">{% trans "Add another Question" %}</a>
                            </div>
                        </div>

                        <div id="question-detail-panel">
                            {% include 'project/question_detail_panel.html' %}
                            <div class="grid_1 alpha omega">
                                <img src="/media/images/help_icon.png" class="help_icon">

                                <div class="tooltip"><p>
                                    <strong>{% trans "What is this?" %}</strong><br/>
                                    {% trans "q_tooltip_question_sms" %}
                                    <br/><br/>
                                    <strong>{% trans "What do I need to do?" %}</strong><br/>
                                    {% trans "r_tooltip_question_sms" %}
                                </p></div>
                            </div>
                            <div class="grid_13 alpha omega">
                                <div id='char-count'>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        <div id="questionnaire_code_change">
            <p class="warning_message">{% trans "Warning: Changing the questionnaire code will remove all existing test data." %}</p>
            <a href="#" class="button" id="ok_button">{% trans "OK" %}</a>
        </div>
    </div>

    <div class="clear_both">
        <fieldset>
            <legend>3. Save and Create</legend>
        </fieldset>
        <div class="right_aligned_button">
            <a href="/project/" class="cancel_link"> Cancel </a>
            {% if project.state != 'Test' %}
                <input type="button" class="draft_button" id="Inactive" value="Save as Draft">
            {% endif %}
            <input type="button" class="button" id="Test" value="Save and Create Project"/>
        </div>
    </div>

{% endblock %}
