{% extends 'new_layout_wizard.html' %}
{% block page_title %} Create Project {% endblock %}
{% block section_title %}
    <h2 class="project_title">Create a New Project
    <img src="/media/images/help_button.png" align="right"/></h2>
        <a href="#" class="cancel_link">cancel</a>
{% endblock %}

{% load dw_tabs %}

{% block body %}
    {% activetab "main_nav" "projects" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    <link href="/media/css/scss/section_questionnaire.scss" rel="stylesheet"/>
    <link href="/media/css/scss/section_new_create_project.scss" rel="stylesheet"/>
{% endblock %}

{% block wizard %}
    <div class="wizard_heading">Create your project below in a few easy steps.</div>
    <div class="line"></div>
    <div class="w_content">
        <p>1. Name your project and provide basic information about it.</p>
        <p>2. Write and edit your questions.</p>
        <p>3. Save and activate your project.</p>
    </div>
{% endblock %}


{% block content %}
    <form action="" method="POST" id="create_project_form">
    {% include 'project/basic_info.html' %}

    <div class="clear_both">
        <fieldset>
        <legend>2. Questions </legend>
        </fieldset>
        <div class="line"></div>
        <p class="black_italic">We have provided you with example questions below. You can use the provided question, edit them, delete
            them or write your own.</p>
        {% include 'project/new_questionnaire.html' %}
    </div>

    <div class="clear_both">
        <fieldset>
             <legend>3. Save and Create</legend>
        </fieldset>
        <div class="right_aligned_button">
            <a href="#" class="cancel_link"> Cancel </a>
            <a href="#" class="draft_button" id="save_as_test"> Save as Draft</a>
            <input type="submit" class="button" id="save_activate" value="Save and Activate" />
        </div>
    </div>

    <!-- light popup box for creating new subject -->
    <div class="create_new_subject">
        <label><b>Category:</b></label>
        <input type="text" name="subject" watermark="Insert a new subject" />
        <p class="black_italic">Example: Doctor, Mother, Sister</p>
        <a href="#" class="cancel_link" id='cancel_create_subject'>Cancel</a>
        <a href="#" class="button" id="confirm">Save Subject</a>
    </div>
    
{% endblock %}
</form>