{% extends 'project/tab_navigation.html' %}
{% block page_title %} Projects - Data Senders {% endblock %}

{% load dw_tabs %}
{% block navigation %}
    {% activetab "tab_nav" "data_senders" %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "projects" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_questionnaire.scss" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire_preview.scss" rel="stylesheet"/>
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript">
        var sender_registration_form_preview_link = "{{ project_links.sender_registration_preview_link }}";
    </script>
    <script type="text/javascript" src="/media/javascript/project/datasenders_registration_questionnaire_preview.js"></script>
{% endblock %}
{% block content %}
    {% block secondary_navigation_datasenders %}
    {% activetab "secondary_tab_nav" "criteria" %}
    {{ block.super }}
    {% endblock %}
    <div class='preview_block'><a class="preview_sender_registration_form" href="#"> Preview Data sender's questionnaire</a></div>
    {% include 'project/question_table.html' %}
    <div class="sender_registration_preview">
        Generating the questionnaire preview.
    </div>

{% endblock %}