{% extends 'project/tab_navigation.html' %}
{% block page_title %}  Data Analysis{% endblock %}

{% load dw_tabs %}
{% block navigation %}
{% activetab "tab_nav" "data" %}
{{ block.super }}
{% endblock %}

{% block body %}
{% activetab "main_nav" "projects" %}
{{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_data.scss" rel="stylesheet" />
    <link href="/media/css/scss/section_data_full_width.scss" rel="stylesheet" />
{% endblock %}

{% block page_css %}
    {{ block.super }}
    <link href="/media/javascript/data_tables/css/demo_page.css" rel="stylesheet" />
    <link href="/media/javascript/data_tables/css/demo_table.css" rel="stylesheet" />
    <link href="/media/javascript/dateRangePicker/css/ui.daterangepicker.css" rel="stylesheet" />
    <link href="/media/javascript/dateRangePicker/css/ui-lightness/jquery-ui-1.8.12.custom.css" rel="stylesheet" />

{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/data_tables/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/media/javascript/custom_select_box.js"></script>
    <script type="text/javascript" src="/media/javascript/dateRangePicker/js/daterangepicker.jQuery.js"></script>
    <script type="text/javascript" src="/media/javascript/dateRangePicker/js/jquery-ui-1.8.12.custom.min.js"></script>
    <script type="text/javascript" src="/media/javascript/csrf_token_handler.js"></script>
    <script type="text/javascript">
        var initial_data = JSON.parse({{data_list|safe}});
    </script>
    <script type="text/javascript" src="/media/javascript/project/data_analysis.js"></script>


{% endblock %}

{% block content %}
    {% block secondary_navigation_data %}
    {% activetab "secondary_tab_nav" "analysis" %}
    {{ block.super }}
    {% endblock %}
    <div class="grid_23">
        <ul class="links">
            <li><a href="#" id="export_link">export</a> </li>
            <li><a href="#">print</a> </li>
            <li><a href="#" class="null_border">e-mail</a> </li>
        </ul>
    </div>
    <div class="heading_block grid_23 alpha">
        <h3 class="grid_10">Analysis</h3>
    </div>
    <form id = "export_form" action="/project/export/data" method='POST'>
        {% csrf_token %}
        <input id = "aggregation-types"  name='aggregation-types' type="hidden" />
        <input id = "questionnaire_code" name='questionnaire_code' type="hidden" />
        <input id='start_time' name='start_time' type="hidden"/>
        <input id='end_time' name='end_time'  type="hidden" />
        <input id='project_name' name='project_name'  type="hidden"  value="{{ project.name }}"/>
    </form>
    <div class="heading_block grid_23 alpha">
        <div class="date_range_box">
            <label>Show data for:</label>
            <input type="text" id="dateRangePicker" value="Click to select a date range"/>
            <input type="button" class="button_blue" id="time_submit" value="Submit"/>
            <span id="dateErrorDiv" class="error_arrow"></span>
        </div>
    </div>
    <div class="view_data_block grid_23 alpha">
        <div class="grid_12 show_data_block alpha">
            <label>View Data By: <span class="bold">{{ entity_type }}</span></label>
        </div>
        <div class="view_style_block">
            <label>View Style:</label>
            <ul>
                <li class="active list"><a href="#">List</a></li>
                <li class="chart"><a href="#">Chart</a></li>
                <li class="map"><a href="#">Map</a></li>
            </ul>
        </div>
    </div>
    <div class="grid_23 alpha omega data_block">
        <table id="data_analysis" class="tablesorter">
            <thead>
            <tr class="aggregation_block">
                <td></td>
                {% for each in type_list %}
                <td>
                    <select class="aggregation_type">
                        {% for choice in each %}
                            <option>{{ choice }}</option>
                        {% endfor %}
                    </select>
                </td>
                {% endfor %}
            </tr>
            <tr class="data_header">
                {% for each in header_list %}
                <th>{{ each }}</th>
                {% endfor %}
            </tr>
            </thead>
    </table>
    </div>
    <div id="demo"></div>
{% endblock %}