{% extends 'step_wizard.html' %}

{% block page_title %} Review & Test {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "projects" %}
{{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_finish.scss" rel="stylesheet" />
{% endblock %}

{% block page_js %}
    {{ block.super }}
     <script type="text/javascript">
        $(document).ready(function(){
            $("#tab_items .finish").addClass("current");
            set_current_tab();
        });
     </script>
{% endblock %}

{% block step_number %}
    <h3>Step 6: Review and Test</h3>
    <p>Description about the step goes here</p>
{% endblock %}

{% block content %}
    <div class="finish_content grid_23 alpha omega">
        <h6>Your project has been successfully created.</h6>
    </div>
{% endblock %}

{% block buttons %}
    {{ block.super }}
    <input id="submit-button" type="submit" value="Save Changes & Create Project"/>
{% endblock %}
</form>