{% extends 'step_wizard.html' %}

{% block page_title %} Review & Test {% endblock %}

{% load dw_tabs %}
{% block body %}
    {% activetab "main_nav" "projects" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_finish.scss" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire_preview.scss" rel="stylesheet"/>
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript">
          var quessionarie_preview_link ="{{ project_links.questionnaire_preview_link }}";
          var subject_registration_form_preview_link = "{{ project_links.subject_registration_preview_link }}";
          var sender_registration_form_preview_link = "{{ project_links.sender_registration_preview_link }}";

        $(document).ready(function() {
            $("#tab_items .finish").addClass("current");
            set_current_tab();

        });
    </script>
    <script type="text/javascript" src="/media/javascript/project/finish_and_test.js"></script>
    <script type="text/javascript" src="/media/javascript/csrf_token_handler.js"></script>
    <script type="text/javascript" src="/media/javascript/project/questionnaire_preview.js"></script>
    <script type="text/javascript" src="/media/javascript/project/subjects_registration_questionnaire_preview.js"></script>
    <script type="text/javascript" src="/media/javascript/project/datasenders_registration_questionnaire_preview.js"></script>

{% endblock %}

{% block step_number %}
    <h3>Step 5: Review and Test</h3>
    <p class="italic">Congratulations! You have created your project. Review the specifications you made and test if you
        can send in Data.</p>

{% endblock %}

{% block content %}
    <div class="grid_23 alpha omega" id='review_section'>
        <h4>Review</h4>
        <p class="italic margin_bottom_20">Verify the specifications of your project</p>
        <div id='project_profile'>
        <div class="header">
            <h5 class="inline">Project Profile</h5>

        </div>
            <div>

            <ul>
                <li>
                    <label>Name:</label>
                    <p>{{ project.name }}</p>
                </li>
                <li>
                    <label>Project Type:</label>
                    <p>{{ project.project_type }}</p>
                </li>
                <li><label>
                    Project Description:</label>
                    <p>{{ project.goals }}</p>
                </li>
                <li><label>
                    Devices:</label>
                    {% for each in project.devices %}<p>{{ each }}</p> {% endfor %}
                </li>
            </ul>
            <a href="{{project_links.edit_link}}">edit</a>
        </div>
        </div>
        <div id='subjects'>
            <div class="header">
            <h5 class="inline">Subjects </h5>

            </div>
            <div>
            <ul>
                <li><label>
                    Type:</label>

                    <p>{{ project.entity_type }}</p>
                </li>
                <li><label>
                    Number of subjects :</label>

                    <p>{{ number_of_subjects }}</p>
                </li>

            </ul>
                <a href="{{project_links.subject_link}}">edit</a>
                </div>
        </div>
        <div id="questionnaire">
            <div class='header'>
                 <h5 class="inline">Questionnaire</h5>
            </div>
            <div>
            <label>Questions: </label>
            <ol>
                {% for question in fields %}
                {% if not question.is_entity_field  %}
                <li>
                 <p>{{ question.name }}</p>
                </li>
                    {% endif %}
                  {% endfor %}
            </ol>
            <a href="{{project_links.questionnaire_link}}">edit</a>
        </div>
        </div>
        <div id="data_senders">
            <div class="header">
            <h5 class="inline">Data Senders</h5>
        </div>
        <div>
            <ul>
                <li><label>
                    Number of data senders :</label>

                    <p>{{ number_of_datasenders }}</p>
                </li>

            </ul>
            <a href="{{project_links.data_senders_link}}">edit</a>
        </div>
        </div>
    </div>
       <div class="SMS_tester_section alpha omega">
        <div class="grid_11 alpha omega">
            <h6>SMS Questionnaire</h6>

            <p>Test your Questionnaire by this SMS tester</p>
            <a href="#" class="sms_questionnaire" id="sms_tester"> SMS Questionnaire</a>
        </div>
        <div class="grid_11 omega import_list">
            <h6>Web Questionnaire</h6>

            <p>Preview and print your questionnaire </p>
            <div class='preview_links'>
                <a class="preview_sender_registration_form" href="#">Data Sender</a>
                <a class="preview_subject_registration_form" href="#">Subject |</a>
                <a href="#" class="preview_questionnaire preview" >Web |</a>
            </div>
        </div>
    </div>

        <div class="sms_tester_form">
            <h4>Test the SMS Questionnaire </h4>
            <p class="italic margin_bottom_20">See if you can send in data with your questionnaire</p>
            <ul>
                <li>
                    <h6>1. Send in your Data Record</h6>
                    <div class="margin_left_20 mobile_block">
                            <p>You have 2 options</p>
                            <p>A. Use your own phone and send your answers to the following phone number: {{ to_number }}</p>
                            <p>B. Enter you answers below</p>
                            <input id ='from_msisdn' type='hidden' value ="{{ from_number }}">
                            <input id ='to_msisdn' type='hidden' value ="{{ to_number }}">
                            <div class="mobile">
                                <textarea name="message" cols="30" rows="4" id="id_message"></textarea>
                            </div>
                            <div><input id="send_sms" type="button" class="button" value="Send SMS"/></div>
                    </div>
                </li>
                <li>
                    <h6 class="margin_top_20">2. See the data you received </h6>
                    <p class="italic">Go directly to your <a href="{{project_links.log_link}}">Log page</a> to view the Data Record you just sent in</p>
                </li>
            </ul>
        </div>
        <div class="questionnaire_preview">
             Generating the questionnaire preview.
        </div>
        <div class="sender_registration_preview">
            Generating the questionnaire preview.
        </div>
        <div class="subject_registration_preview">
            Generating the questionnaire preview.
        </div>

{% endblock %}

{% block buttons %}
    {{ block.super }}
        <form action="" method="POST">
    {% csrf_token %}
    <input id="submit-button" type="submit" value="Go to Project Overview"/>
    <input id="submit_button_right" type="button" value=" "/>
    </form>
{% endblock %}
{% block previous_step %}
     <a class="bold" href={{ previous }}>Data Senders</a>
{% endblock %}