<div class="import_subject_form">
    <div id="file-uploader">
        <noscript>
            <p>Please enable JavaScript to use file uploader.</p>
            <!-- or put a simple form for upload here -->
        </noscript>
        <h6>Upload a CSV or a XL file</h6>

        <div id="file_uploader"></div>
    </div>
    <div id='error_table'>
        <table>
            <thead>
            <th>Row Number</th>
            <th>Row</th>
            <th>Error</th>
            </thead>
            <tbody id='error_tbody'>

            </tbody>
        </table>
    </div>
</div>