{% extends 'layout_application.html' %}
{% block page_title %} Projects {% endblock %}
{% block section_title %} All Projects {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "projects" %}
{{ block.super }}
{% endblock %}

{% block content %}
    <div class="text_align_right margin_bottom_20">
        <a href="{% url datawinners.project.views.create_profile %}" class="button">Create a new project</a>
    </div>
    <table>
        <th> Name </th>
        <th> Created On </th>
        <th> Type </th>
        {% for project in projects%}
            <tr>
                <td><a href={{ project.link }} class='project-id-class'>{{ project.name}}</a></td>
                <td>{{ project.created}}</td>
                <td>{{ project.type}}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}