{% load i18n %}
<div id="message_text">
    {% if  success_message  %}
        <div class="success-message-box">{{ success_message }}</div>
    {% endif %}
</div>
<input id="total_rows" type="hidden" value="{{ pages }}" />
<table class="styled_table" id="data_record">
    <thead>
    <th>
        <input type="checkbox" id="master_checkbox" value="master"/>
    </th>
    <th>
        {% trans "To" %}
    </th>
    <th>
        {% trans "From" %}
    </th>
    <th>
        {% trans "Date Received" %}
    </th>
    <th>
        {% trans "Submission Status" %}
    </th>
    <th>
        {% trans "Deleted Record" %}
    </th>
    {% for question in results.questions %}
        <th>
            <span style="cursor:default" title='{{ question.1 }}'>{{ question.0 }}</span>
        </th>
    {% endfor %}
    </thead>

    <tbody>
    {% for answer, id in results.submissions %}
        <tr>
            <td class="text_align_center">
                <input type="checkbox" class="selected_submissions" value="{{ id }}"/>
            </td>
            <td>
                {{ answer.0 }}
            </td>
            <td>
                {{ answer.1 }}
            </td>
            <td>
                {{ answer.2 }}
            </td>
            <td>
                <span title='{{ answer.5 }}'>{{ answer.3 }}</span>
            </td>
            <td>
                {{ answer.4 }}
            </td>
            {% for each in answer|slice:"6:" %}
                <td>
                    {{ each }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if error_message %}
    <div class="error"><label>{{ error_message }}</label></div>
{% endif %}
