{% extends 'project/tab_navigation.html' %}
{% block page_title %} Projects {% endblock %}

{% load dw_tabs %}
{% block navigation %}
{% activetab "tab_nav" "overview" %}
{{ block.super }}
{% endblock %}

{% block content %}
    <div class="span-18 box">
        <h5>Project Profile</h5>
        <a href ={{ project.link }}>Edit</a>
        <ul>
            <li>
               <h5>Template</h5>
                <p>No template</p>
            </li>
            <li>
                <h5>What</h5>
                <p>Questions: {{ project.what }} questions defined</p>
            </li>
            <li>
                 <h5>How</h5>
                 <p>{% for each in project.how %}
                    {{ each }} |
                 {% endfor %}</p>
            </li>
             <li>
                <h5>View Submissions</h5>
                <p><a href ={{ project.result_link }}>Click here</a></p>
            </li>
        </ul>
    </div>
    {% include 'maps/entity_map.html'  %}
{% endblock %}