{% extends 'project/tab_navigation.html' %}
{% load i18n %}
{% block page_title %} {% trans "Projects - Overview"%} {% endblock %}

{% load dw_tabs %}
{% block navigation %}
{% activetab "tab_nav" "overview" %}
{{ block.super }}
{% endblock %}

{% block body %}
{% activetab "main_nav" "projects" %}
{{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_project_overview.scss" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="span-18 box">
        {% if project.state != 'Active' %}
            <div class="grid_23 margin_bottom_20 margin_top_20 alpha">
                <a id="edit_project" class="button_blue " href ={{ project_profile_link }} >{% trans "Edit this project"%}</a>
            </div>
        {% endif %}
       {% include 'maps/entity_map.html'  %}
        <div class="grid_23 title_block">
            <h3 class="grid_5 alpha">{% trans "Project Profile"%}<img src="/media/images/help_icon.png" class="help_icon" style="margin-top:-2px;"></h3>
            <div class="tooltip"><p>
                {% blocktrans %}Review the basic information for your project. Click "View" to see the whole profile or "Edit profile" to make changes.{% endblocktrans %}
            </p></div>
            <div class="grid_17 margin_top_5">
                <a href="#">{% trans "View"%}</a>
                {% if project.state != 'Active' %}
                    <span>|</span>
                    <a href={{ project_profile_link }}>{% trans "edit profile" %}</a>
                {% endif %}
            </div>
        </div>
        <div class="custom_model grid_23 alpha omega">
            <h4>{% trans "Status: Complete"%}</h4>
            <ul>
                <li>
                    <h5>{% trans "What" %}</h5>
                    <div class="sub_content">
                        <h6>{% trans "Template"%}</h6>
                        <p>{% trans "No template" %}</p>
                    </div>
                    <div class="sub_content">
                        <h6>{% trans "Questions" %}</h6>
                        <p>{{ number_of_questions }} {% trans "questions defined" %}</p>
                    </div>
                </li>
                <li>
                    <h5>{% trans "Who" %}</h5>
                    <div class="sub_content">
                        <h6>{% trans "Sender Group" %}</h6>
                        <p>{% trans "No Data" %}</p>
                    </div>
                    <div class="sub_content">
                        <h6>{% trans "Data sender Registration"%}</h6>
                        <p>{% trans "No data" %}</p>
                    </div>
                   <div class="sub_content">
                        <h6>{% trans "Languages"%}</h6>
                        <p>{% trans "No language specified"%}</p>
                    </div>
                </li>
                <li>
                    <h5>{% trans "How" %}</h5>
                    <div class="sub_content">
                        <h6>{% trans "Cell Phone" %}</h6>
                         <p>{% for each in project.devices %}
                             {{ each }} |
                             {% endfor %}
                         </p>
                    </div>
                    <div class="sub_content">
                        <h6>{% trans "Computer" %}</h6>
                        <p>{% trans "No Data" %}</p>
                    </div>
                </li>
                <li class="last">
                    <h5>{% trans "When" %}</h5>
                    <div class="sub_content">
                        <h6>{% trans "How often" %}</h6>
                        <p>{% trans "No Data" %}</p>
                    </div>
                    <div class="sub_content">
                        <h6>{% trans "Deadline" %}</h6>
                        <p>{% trans "No Data"%}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}