{% extends 'project/tab_navigation.html' %}
{% load i18n %}
{% block page_title %} {% trans "Projects - Overview"%} {% endblock %}

{% load dw_tabs %}
{% block navigation %}
{% activetab "tab_nav" "overview" %}
{{ block.super }}
{% endblock %}

{% block body %}
{% activetab "main_nav" "projects" %}
{{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_new_overview.scss" rel="stylesheet" />
    <link href="/media/css/scss/section_new_create_project.scss" rel="stylesheet" />
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $( "#how_to" ).accordion({ collapsible: true, active: 0 });
        })
        var quessionarie_preview_link ="{{ project_links.questionnaire_preview_link }}";
    </script>
{% endblock %}


{% block content %}
    <span id="project_id" style="display: none;">{{ project.id }}</span>
    <div class="span-18 box">
        <!--Success Message div-->
        {% include 'project/success_message.html' %}
        <!--Collect data an accordian div-->
        <div id="how_to">
            <h3><span class="title">{% trans "How to start collecting data" %} </span>
            <div class="padding_0">
                <table id="collect_data">
                    <tr id="collect_data_content">
                        <td><label>{% trans "How to Distribute Questionnaire" %} </label>
                            Something</td>
                        <td><label>{% trans "How to Collect Data" %} </label>
                            Something</td>
                        <td><label>{% trans "Training datasender" %} </label>
                            Something & link</td>
                    </tr>
                </table>
            </div>
        </div>
        <!--Project description div-->
            <div class="left_half">
                <label> {% trans "Your project" %}</label>
                {%  if project.state != "Active" %}
                    <a href="{% url edit_project project.id %}">{% trans "edit" %}</a> 
                {% endif %}
                {%  if project.state == "Active" %}
                    <a href="#">{% trans "input data" %} </a>
                {% endif %}
            </div>
            <div class="float_left">
                <p><b>{% trans "Description" %} </b>
                    {% if project.goals %}
                        {{ project.goals }}
                    {% else %}
                        --
                    {% endif %}
                </p>
            </div>
        <!--Map div-->
        {% include 'maps/entity_map.html'  %}
        <!--Questionnaire & DS div-->
        <div class="float_left" id="questionnaire_and_DS">
            {% include 'project/questionnaire_and_DS.html'%}
        </div>

    </div>

{% endblock %}