{% extends 'step_wizard.html' %}

{% block page_title %} Setup the Project {% endblock %}
{% block page_js %}
     {{ block.super }}
{#    <script type="text/javascript" src="/media/javascript/questionnaire.js"></script>#}
    <script type="text/javascript" src="/media/javascript/csrf_token_handler.js"></script>
    <script>
            $(document).ready(function(){
            $("#tab_items .define").addClass("current");
            set_current_tab();
        })
    </script>
{% endblock %}

{% block step_number %}
    <h3>Step1: Define Project</h3>
    <p>Description about the step goes here</p>
{% endblock %}
{% block content %}
<form action="" method="POST">
    <div class="define_project">
            {% csrf_token %}
        <ul>
            <li class="{{ form.name.css_classes  }} form-row-10px">
                {{ form.name.label_tag }}
                {{ form.name }}
                {{ form.name.errors }}
            </li>
            <li class="{{ form.goals.css_classes  }} form-row-10px first">
                {{ form.goals.label_tag }}
                {{ form.goals }}
                {{ form.goals.errors }}
            </li>
            <li class="{{ form.project_type.css_classes  }} form-row-10px">
                {{ form.project_type.label_tag }}
                {{ form.project_type }}
                {{ form.project_type.errors }}
            </li>
            <li class="{{ form.entity_type.css_classes  }} form-row-10px">
                {{ form.entity_type.label_tag }}
                {{ form.entity_type }}
                {{ form.entity_type.errors }}
            </li>
            <li class="{{ form.device.css_classes  }} form-row-10px">
                {{ form.device.label_tag }}
                {{ form.device }}
                {{ form.device.errors }}
            </li>
        </ul>
    </div>


{% endblock %}
{% block buttons %}
    <div class="text_align_right buttons">
        <a href="#" class="cancel">Cancel</a>
        <input id="submit-button" type="submit" value="Save Changes & Create Project"/>
        <span class="right_arrow">&nbsp;</span>
    </div>
{% endblock %}
</form>