{% load i18n %}
<form action="" method="POST" id="reminder_deadline_form">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans "Reminder Deadline" %}</legend>
        <li class="{{ form.deadline_enabled.css_classes  }} form-row-10px">
            {{ form.deadline_enabled }}
            {{ form.deadline_enabled.errors }}
            <div id="frequency_values">
                {{ form.frequency_period }}
                {{ form.frequency_period.errors }}
                {% include 'project/profile_deadline_week_block.html' %}
                {% include 'project/profile_deadline_month_block.html' %}
            </div>
        </li>

    </fieldset>

    <fieldset>
        <legend>Reminders</legend>
        
    </fieldset>
    <div class="right_aligned_button">
        <input id="submit-button" class="button" type="submit" value="{% trans 'Save' %}"/>
    </div>
</form>