<fieldset>
    <legend>Data Senders</legend>
    <li class="{{ form.sender_group.css_classes  }} form-row-10px">
        {{ form.sender_group.label_tag }}
        {{ form.sender_group }}
        {{ form.sender_group.errors }}
        <img src="/media/images/help_icon.png" class="help_icon" style="margin-top:-6px;">

        <div class="tooltip"><p>
            <strong>What is this?</strong>
            <br/>
            DataWinners allows you to chose who you collect your data from. With Open Data Sender Groups anyone can
            send you data if you provide them your phone number. With Closed Data Sender Groups only those people
            who you register will be able to send data to your number.<br/><br/>
            <strong>What do I need to do?</strong><br/>
            Click the radio button next to your choice. Don’t worry, you can always change your mind later.>
        </div>
    </li>
</fieldset>