{% extends 'step_wizard.html' %}
{% load i18n %}
{% block page_title %} {% trans "Define Project" %} {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "projects" %}
{{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_define_project.scss" rel="stylesheet" />
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/csrf_token_handler.js"></script>
    <script type="text/javascript" src="/media/javascript/project/project_profile.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/create_type.js"></script>
{% endblock %}

{% block step_number %}
    <h3>{% trans "Step 1" %}:
        {% trans "Define Project" %}</h3>
    <p>{% trans "Fill out the following information to create your project" %}</p>
{% endblock %}
{% block content %}
    <form action="" method="POST" id="profile_form">
    <div class="define_project">
        {% csrf_token %}
        {% if messages %}
            <div class="message-box">
                {% for message in messages %}
                    <span>{{ message }}</span>
                {% endfor %}
            </div>
        {% endif %}
        <ul>
            {% include 'project/profile_background.html' %}
            {% include 'project/profile_subjects-questionnaire.html' %}
            {% include 'project/profile_datasenders.html' %}
            {% include 'project/profile_languages.html' %}
            {% include 'project/profile_deadline.html' %}

        </ul>
    {% if edit %}
    <div id="profile_warning_message">
        <p class="warning_message">{% trans "Warning: Updating the associated type of the project questionnaire will remove all existing data." %}</p>
        <a href="#" class="cancel_link" >{% trans "Cancel" %}</a>
        <a href="#" class="button" id="continue">{% trans "Continue" %}</a>
    </div>
    {% endif %}
    </div>


{% endblock %}
{% block previous %}
{% endblock %}
{% block buttons %}
     <input id="submit-button" type="submit" value="{% trans 'Save & Create Project' %}"/>
     <input id="submit_button_right" type="button" value=" "/>
{% endblock %}
</form>
