{% extends 'layout.html' %}

{% block page_title %} Create a Questionnaire {% endblock %}
{% block page_js %}
    <script type="text/javascript" src="/media/javascript/questionnaire.js"></script>
{% endblock %}
{% block content %}
    {% csrf_token %}
    <div class="span-24 box">
        <div id="questions-panel" class="span-6 first" >
            <div data-bind="template: 'question-list-template'" class="first">                
            </div>
            <div class="last">
                <a href="#" data-bind="click: function() { viewModel.addQuestion(); }">Add a Question</a>
            </div>
        </div>
        <div id="question-detail-panel" class="span-18 last">
            <table>
                <tr>
                    <td>
                        Question
                    </td>
                    <td>
                        <input data-bind="value: selectedQuestion().title"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Code
                    </td>
                    <td>
                        <input data-bind="value: selectedQuestion().code"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Description
                    </td>
                    <td>
                        <input data-bind="value: selectedQuestion().description"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Type
                    </td>
                    <td>
                        <div><input type="radio" name="type" value="text" data-bind="checked: selectedQuestion().type" /> Text</div>
                        <div><input type="radio" name="type" value="integer" data-bind="checked: selectedQuestion().type" /> Number</div>
                        <div><input type="radio" name="type" value="choice" data-bind="checked: selectedQuestion().type" /> Choice</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
{#                        <a href="#" data-bind="click: function() { viewModel.updateQuestion(); }">Update Question</a>#}
                    </td>
                </tr>
            </table>
        </div>
        <div>

        </div>
    </div>
    <div id="question-template" class="hide">
        <div class="question-master">
            <a class="question-link">
                <span class="question-title">Sample question.</span>
                <span class="question-code">#Question Code#</span>
            </a>
        </div>
        <div class="question-detail hide">
            <div>
                <label>Question</label>
                <input class="question-title" name="question-title"/>
            </div>

            <div>
                <label>Question Code</label>
                <input class="question-code" name="question-code"/>
            </div>

            <div>
                <label>Answer type</label>
                <input type="radio" name="answer-group" value="date">Date</input>
                <input type="radio" name="answer-group" value="integer">Number</input>
                <input type="radio" name="answer-group" value="text">Word or Phrase</input>
                <input type="radio" name="answer-group" value="select1"> List of Choices</input>
                <div class="choices hide">
                    <p><input class="answer-choice"></p>
                    <a class="add-choice-link">Add Choice</a>
                </div>
            </div>
            <p>
                <input type="button" class="update-question" value="Update Question">
            </p>
        </div>
    </div>
    <input id="submit-button" type="button" value="Save Questionnaire"/>

    <script type="text/html" id="choice-template">
    </script>
    <script type="text/html" id="question-list-template">
        <table>
            {% templatetag openvariable %}each(i,question) questions{% templatetag closevariable %}
                <p>
                    <a href="#" data-bind="text: question.title">
                    </a>
                    <a href="#" data-bind="click: function() { viewModel.removeQuestion(question); }">Delete</a>
                </p>
            {% templatetag openvariable %}/each{% templatetag closevariable %}
        </table>
    </script>
{% endblock %}