{% extends 'step_wizard.html' %}

{% block page_title %} Questionnaire {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "projects" %}
{{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_questionnaire.scss" rel="stylesheet" />
{% endblock %}
{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/project/view_model.js"></script>
    <script type="text/javascript" src="/media/javascript/jquery.sprintf.js"></script>
    <script type="text/javascript" src="/media/javascript/project/questionnaire_charcount.js"></script>
    <script type="text/javascript" src="/media/javascript/project/questionnaire_helper.js"></script>
    <script type="text/javascript">
        var question_list = JSON.parse({{existing_questions|safe}});
        $(document).ready(function(){
            $("#tab_items .questionnaire").addClass("current");
            set_current_tab();
        });
    </script>
    <script type="text/javascript" src="/media/javascript/project/questionnaire_wizard_submit_redirect.js"></script>
    <script type="text/javascript" src="/media/javascript/project/questionnaire_wizard.js"></script>
    <script type="text/javascript" src="/media/javascript/project/questionnaire_wizard_left_navigation.js"></script>
    <script type="text/javascript" src="/media/javascript/csrf_token_handler.js"></script>
    <script type="text/html" id="choice-template">
        <li>
        <p class="grid_17">
            <input id="choice_text" name="choice_text" type="text" class="required" data-bind="value: text, uniqueName:true"/>
            <a href="questionnaire_wizard.html#" class='delete delete_link' data-bind="visible: viewModel.choiceCanBeDeleted(), click:function(){viewModel.removeOptionFromQuestion($data)}">Delete</a>
        </p>
        </li>
    </script>
    <script type="text/html" id="question-list-template">
        <div class="question_list">
            <ol>
            {% templatetag openvariable %}each(i,question) questions{% templatetag closevariable %}
             <div data-bind="click: function() { if($('#question_form').valid()) viewModel.changeSelectedQuestion(question); } ">
                 <li>
                    <a href="questionnaire_wizard.html#" data-bind="text: question.display"></a>
                    <div data-bind="visible: question.canBeDeleted()" class="delete">
                         <a href="questionnaire_wizard.html#" class="delete_link" data-bind="click: function() {if($('#question_form').valid()){ viewModel.removeQuestion(question);} else {viewModel.removeIfQuestionIsSelectedQuestion(question);} }">Delete</a>
                    </div>
                     <span class="selected_question_arrow"></span>
                 </li>

            </div>
            {% templatetag openvariable %}/each{% templatetag closevariable %}
            </ol>
        </div>
    </script>
{% endblock %}


{% block step_number %}
    <h3>Step 3: Questionnaire</h3>
    <p>Description about the step goes here</p>
{% endblock %}
{% block content %}
    {% csrf_token %}
<form id="question_form">
        <fieldset>
    <ul class="questionnaire_code">
         <li>
            <label>Questionnaire Code :</label>
            <input id='project-id' type='hidden' value={{ project.id }} />
            <input id='questionnaire-code' class='required' value={{ questionnaire_code }} />
             <span id="questionnaire-code-error"/>
        </li>
    </ul>
    <div class="questionnare_content grid_23 alpha omega">
        <div id="message-label" class="message-box none">
        </div>

        <div>
            <div id="questions-panel" class="grid_8 alpha">
                <h4>Questions</h4>
                <div data-bind="template: 'question-list-template'" class="">
                </div>
                <div class="add_question">
                    <a class="add_link" href="questionnaire_wizard.html#"
                       data-bind="click: function() { if($('#question_form').valid()) viewModel.addQuestion();}">Add
                        another Question</a>
                </div>
            </div>

            <div id="question-detail-panel">
                        {% include 'project/question_detail_panel.html' %}
                <div id='char-count'>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
    </fieldset>
</form>
{% endblock %}
{% block buttons %}
     {{ block.super }}
    <input id="submit-button" type="button" value="Next Step: Data Senders"/>
{% endblock %}
{% block previous_step %}
     <a class="bold" href={{ previous }}>Subjects</a>
{% endblock %}