<div id="questionnaire" class="left_half">
    <div class="quarter padding_20">
        <div>
            <label>QUESTIONNAIRE</label>
        </div>
        <a href="{{ project_links.questionnaire_link }}">View</a> |
        <a href="{{ project_links.test_questionnaire_link }}">Input data</a>
    </div>
    <div class="right_half padding_20">
        <li><b>7</b> Questions</li>
        <div class="line"></div>
        <li><img src="/media/images/mini_mobile.png" />sms</li>
        <div class="line"></div>
        <li><img src="/media/images/mini_computer.png" />Internet
            <a href="#">test</a></li>
        <div class="line"></div>
        <li><img src="" />smartphone</li>
    </div>
</div>
