{% extends 'step_wizard.html' %}

{% block page_title %} Questionnaire {% endblock %}

{% load dw_tabs %}
{% block body %}
{% activetab "main_nav" "projects" %}
{{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_questionnaire.scss" rel="stylesheet" />
{% endblock %}
{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/project/view_model.js"></script>
    <script type="text/javascript" src="/media/javascript/jquery.sprintf.js"></script>
    <script type="text/javascript" src="/media/javascript/project/questionnaire.js"></script>
    <script type="text/javascript" src="/media/javascript/csrf_token_handler.js"></script>
    <script type="text/javascript">
        var question_list = JSON.parse({{existing_questions|safe}});
        $(document).ready(function(){
            $("#tab_items .questionnaire").addClass("current");
            set_current_tab();
        })
    </script>
    <script type="text/html" id="choice-template">
        <li>
        <p>
            <input id="choice_text" name="choice_text" type="text" data-bind="value: text"/>
            <a href="questionnaire.html#" class='delete delete_link' data-bind="click:function(){viewModel.removeOptionFromQuestion($data)}">Delete</a>
        </p>
        </li>
    </script>
    <script type="text/html" id="question-list-template">
        <div class="question_list">
            <ol>
            {% templatetag openvariable %}each(i,question) questions{% templatetag closevariable %}
             <div data-bind="click: function() { if($('#question_form').valid()) viewModel.changeSelectedQuestion(question); } ">
                 <li>
                    <a href="questionnaire.html#" data-bind="text: question.display"></a>
                    <div data-bind="visible: question.canBeDeleted()" class="delete">
                         <a href="questionnaire.html#" class="delete_link" data-bind="click: function() {if($('#question_form').valid()) viewModel.removeQuestion(question); }">Delete</a>
                    </div>
                     <span class="selected_question_arrow"></span>
                 </li>

            </div>
            {% templatetag openvariable %}/each{% templatetag closevariable %}
            </ol>
        </div>
    </script>
{% endblock %}


{% block step_number %}
    <h3>Step2: Questionnaire</h3>
    <p>Description about the step goes here</p>
{% endblock %}
{% block content %}
    {% csrf_token %}
<form id="question_form">
        <fieldset>
    <ul class="questionnaire_code">
         <li>
            <label>Questionnaire Code :</label>
            <input id='project-id' type='hidden' value={{ project.id }} />
            <input id='questionnaire-code' class='required' value={{ questionnaire_code }} />
             <span id="questionnaire-code-error"/>
        </li>
    </ul>
    <div class="questionnare_content grid_23 alpha omega">
        <div id="message-label">
        </div>

        <div>
            <div id="questions-panel" class="grid_8 alpha">
                <h4>Questions</h4>
                <div data-bind="template: 'question-list-template'" class="">
                </div>
                <div class="add_question">
                    <a class="add_link" href="questionnaire.html#"
                       data-bind="click: function() { if($('#question_form').valid()) viewModel.addQuestion();}">Add
                        another Question</a>
                </div>
            </div>

            <div id="question-detail-panel">
                        <ul>
                            <li class="question">
                                <label>Question</label>
                                <input id="question_title" name="question_title" type="text" class="required"
                                       data-bind="value: selectedQuestion().title, valueUpdate: 'keyup', uniqueName: true "/>
                            </li>
                            <li>
                                <label>Code</label>
                                <input id="code" name="code" type="text" class="required"
                                       data-bind="value: selectedQuestion().code, valueUpdate: 'keyup'"/>
                            </li>
                            <li class="question_type margin_null" data-bind="visible: !selectedQuestion().is_entity_question()">
                                <label>Type</label>

                                <div><input type="radio" name="type" value="text"
                                            data-bind="checked: selectedQuestion().type" class="required"/> Word or Phrase
                                </div>
                                <div><input type="radio" name="type" value="integer"
                                            data-bind="checked: selectedQuestion().type" class="required"/> Number
                                </div>
                                <div><input type="radio" name="type" value="date"
                                            data-bind="checked: selectedQuestion().type" class="required"/> Date
                                </div>
                                <div><input type="radio" name="type" value="choice"
                                            data-bind="checked: selectedQuestion().isAChoiceTypeQuestion"
                                            class="choice-question-checkbox required"/> List of Choices
                                </div>
                                <div><input type="radio" name="type" value="geocode"
                                            data-bind="checked: selectedQuestion().type"
                                            class="required"/> Geo Code
                                </div>
                            </li>

                            <li data-bind="visible: viewModel.showDateFormats()">
                                <div class="margin_top_20">
                                    <p>
                                        <label>Select Date Format</label>
                                    </p>
                                    <p>
                                    <input type="radio" name="date_format" value="mm.yyyy"
                                           data-bind="checked:selectedQuestion().date_format, valueUpdate: 'keyup'" />
                                    month.year (mm.yyyy)<br/>
                                    <input type="radio" name="date_format" value="dd.mm.yyyy"
                                           data-bind="checked:selectedQuestion().date_format, valueUpdate: 'keyup'" />
                                    date.month.year (dd.mm.yyyy)<br/>
                                    <input type="radio" name="date_format" value="mm.dd.yyyy"
                                           data-bind="checked:selectedQuestion().date_format, valueUpdate: 'keyup'" />
                                    month.date.year (mm.dd.yyyy)<br/>
                                    </p>
                                </div>
                            </li>
                            <li data-bind="visible: viewModel.showAddChoice()">
                                <div class="margin_top_20">
                                    <ol class="alpha_list" data-bind="template: { name : 'choice-template',foreach : selectedQuestion().choices }">

                                    </ol>
                                    <a href="questionnaire.html#" class="add_link" data-bind="click: function() { viewModel.addOptionToQuestion(); }, valueUpdate: 'keyup'">Add
                                        Answer Choice</a>
                                </div>
                                <div>
                                    <input type="radio" name="answers_possible" value="select1"
                                           data-bind="checked:selectedQuestion().type, valueUpdate: 'keyup'" />
                                    only one answer<br/>
                                    <input type="radio" name="answers_possible" value="select"
                                           data-bind="checked:selectedQuestion().type, valueUpdate: 'keyup'" />
                                    multiple answers are permitted<br/>
                                </div>
                            </li>
                            <li data-bind="visible: viewModel.showAddRange()">
                                <div class="margin_top_20">
                                    <p>
                                        Min:
                                        <input name="range_min" type="text" id="range_min" data-bind="value:selectedQuestion().range_min, valueUpdate: 'keyup'"/>
                                    </p>

                                    <p>
                                        Max:
                                        <input name="range_max" type="text" id="range_max" data-bind="value:selectedQuestion().range_max, valueUpdate: 'keyup'"/>
                                    </p>
                                </div>
                            </li>
                            <li data-bind="visible: viewModel.showAddTextLength() && !selectedQuestion().is_entity_question()">
                                <div class="margin_top_20">
                                    <input type="radio" name="text_length" value="length_unlimited" checked = "true" data-bind="checked:selectedQuestion().length_limiter, valueUpdate: 'keyup'" />
                                    No, answer has no character limit<br/>
                                    <div class="max_char">
                                        <input type="radio"  name="text_length" value="length_limited" data-bind="checked:selectedQuestion().length_limiter, valueUpdate: 'keyup'" />
                                        <span class="inline">
                                            Yes, maximum number of characters should be
                                            <input name="max_length"  type="text"  id="max_length" data-bind="value:selectedQuestion().max_length, visible: viewModel.showLengthLimiter(), valueUpdate: 'keyup'"/>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="margin_top_20">
                                    <label>Instructions</label>
                                    <span id="question_instruction" data-bind="text: selectedQuestion().instruction"></span>
                                </div>
                            </li>
                        </ul>

                <div id='char-count'>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
    </fieldset>
</form>
{% endblock %}
{% block buttons %}
        <div class="grid_5 previous_step">
            <a href={{ previous }}>Previous Step:</a>
            <a class="bold" href={{ previous }}>Define Subject</a>
        </div>
        <a href="questionnaire.html#" class="cancel">Cancel</a>
        <input id="submit-button" type="button" value="Next Step: People"/>
        {{ block.super }}
{% endblock %}
