{% extends 'layout_print.html' %}
{% load i18n %}
{% block page_title %}{% trans "Project - Questionnaire" %} {% endblock %}


{% block body %}
    <div id="questionnaire_preview">
        <div class="preview_block"><a href="#" class="printBtn">{% trans "Print" %}</a></div>
        <ul class="questionnaire_title">
            <li>
                <p>{% trans "SMS your answers to" %}</p>
                <h5>{{ org_number }}</h5>
            </li>
            <li>
                <p>{% trans "Project Name:" %}</p>
                <h5>{{ project.name }}</h5>
            </li>
            <li>
                <p>{% trans "Questionnarie Code:" %}</p>
                <h5>{{ questionnaire_code }}</h5>
            </li>
            <li class="margin_top_10">
                <p>{% trans "Example SMS:" %} </p>

                <p class="content italic">{{ example_sms }}</p>
            </li>
        </ul>
        <ul class="questionnaire_preview" id="que_code">
            <ol>
            {% for question in questions %}
                <li>
                    <h6>{% trans question.description %}</h6>
                    {% if  question.instruction %}
                        <p class="instructions italic">
                            {% trans question.instruction %}
                        </p>
                        <input class="displayText" disabled="disabled" type="text">
                    {% endif %}
                    <div class="answer">
                        {% if question.type == "select1" %}
                            <ol class="multiple_select">
                                {% for option in question.constraints %}
                                    <li><label>{{ option }}</label></li>
                                {% endfor %}
                            </ol>
                        {% endif %}
                        {% if question.type == "select" %}
                            <ol class="multiple_select">
                                {% for option in question.constraints %}
                                    <li><label>{{ option }}</label></li>
                                {% endfor %}
                            </ol>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
            </ol>
        </ul>
    </div>
    <script>
        $(document).ready(function() {
            $('.printBtn').bind('click', function() {
                {#            var thePopup = window.open( '{{ project_links.questionnaire_preview_link }}', "Customer Listing", "menubar=0,location=0,height=700,width=700" );#}
//            thePopup.onload = function(){this.print(); this.close(); }
                window.print();
            });
        });
    </script>
{% endblock %}
