{% load i18n %}
<h4>Status: Complete</h4>
<div id="questionnaire" class="left_half">
    <div class="quarter">
        <div>
            <div class="text-content">QUESTIONNAIRE</div><div class="text-content-right-arrow"></div>
            <div class="clear-both">
            <a href="{{ project_links.questionnaire_link }}">View</a> |
            <a href="{{ project_links.test_questionnaire_link }}">Submit Data</a>
                </div>
        </div>
    </div>
    <div class="quarter">
    <ul>
        <li><b>{{ number_of_questions }}</b> Questions</li>
        <div class="line"></div>
        <li><img src="/media/images/mini_mobile.png" />sms</li>
        <div class="line"></div>
        <li><img src="/media/images/mini_computer.png"/>Internet</li>
    </ul>
    </div>
</div>
