{% extends 'layout_print.html' %}

{% block page_title %}Project - Questionnaire {% endblock %}


{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_print.scss" rel="stylesheet" media="print"/>
{% endblock %}
{##}
{% block page_js %}
    {{ block.super }}
    <script>
    $(document).ready(function(){
        $('.printBtn').bind('click',function() {
            var thePopup = window.open( '{{ project_links.questionnaire_preview_link }}', "Customer Listing", "menubar=0,location=0,height=700,width=700" );
            thePopup.onload = function(){this.print(); this.close(); }
//            thePopup.close();
        });
    });
    </script>
{% endblock %}


{% block body %}

    <div id="questionnaire_preview">
            <div class="preview_block"><a href="#" class="printBtn">Print</a></div>
        <ul class="questionnaire_title">
            <li>
              <p>Project Name:</p>
              <h5>{{ project.name }}</h5>
            </li>
            <li>
                <p>Questionnarie Code:</p>
              <h5>{{ questionnaire_code }}</h5>
            </li>
            <li class="margin_top_10">
                 <p>Example SMS: </p>
                 <p class="content italic">{{ example_sms }}</p>
            </li>
        </ul>
        <ol class="questionnaire_preview">
            {% for question in questions %}
                <li>
                    <h6>{{ question.description }}<span> +{{ question.code }}</span></h6>
                    {% if  question.instruction%}
                        <p class="instructions italic">
                            {{ question.instruction }}
                        </p>

                    {% endif %}
                    <div class="answer">
                        {% if question.type != "select" and question.type != "select1"%}
                            <div><input type="text" disabled="disabled" name="text" value="{{ question.constraint }}" /></div>
                        {% endif %}
                        {% if question.type == "select1"%}
                            <ol class="multiple_select">
                            {% for option in question.constraint%}
                              <li><label>{{ option }}</label></li>
                            {% endfor %}
                            </ol>
                        {% endif %}
                        {% if question.type == "select"%}
                            <ol class="multiple_select">
                            {% for option in question.constraint %}
                                <li><label>{{ option }}</label></li>
                            {% endfor %}
                            </ol>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>

{% endblock %}
