  <ul>
                                <li class="question">
                                    <label>Question</label>
                                    <input id="question_title" name="question_title" type="text" class="required"
                                           data-bind="value: selectedQuestion().title, valueUpdate: 'keyup', uniqueName: true, enable: viewModel.isEnabled() "/>
                                </li>
                                <li>
                                    <label>Code <img src="/media/images/help_icon.png" class="help_icon"> <div class="tooltip"><p>This is a question code </p></div></label>

                                    <input id="code" name="code" type="text" class="required"
                                           data-bind="value: selectedQuestion().code, valueUpdate: 'keyup', enable: viewModel.isEnabled()"/>
                                </li>
                                <li class="question_type margin_null"
                                    data-bind="visible: !selectedQuestion().is_entity_question()">
                                    <label>Answer Type <img src="/media/images/help_icon.png" class="help_icon"><div class="tooltip"><p>This is a answer type</p></div></label>


                                    <div><input type="radio" name="type" value="text"
                                                data-bind="checked: selectedQuestion().type, enable: viewModel.isEnabled()" class="required"/> Word or
                                        Phrase
                                    </div>
                                    <div><input type="radio" name="type" value="integer"
                                                data-bind="checked: selectedQuestion().type, enable: viewModel.isEnabled()" class="required"/> Number
                                    </div>
                                    <div><input type="radio" name="type" value="date"
                                                data-bind="checked: selectedQuestion().type,enable: viewModel.isEnabled()" class="required"/> Date
                                    </div>
                                    <div><input type="radio" name="type" value="choice"
                                                data-bind="checked: selectedQuestion().isAChoiceTypeQuestion, enable: viewModel.isEnabled()"
                                                class="choice-question-checkbox required"/> List of Choices
                                    </div>
                                    <div><input type="radio" name="type" value="geocode"
                                                data-bind="checked: selectedQuestion().type, enable: viewModel.isEnabled()"
                                                class="required"/> GPS Coordinates
                                    </div>
                                </li>

                                <li data-bind="visible: viewModel.showDateFormats()">
                                    <div class="margin_top_20">
                                        <p>
                                            <label>Select Date Format</label>
                                        </p>

                                        <p>
                                            <input type="radio" name="date_format" value="mm.yyyy"
                                                   data-bind="checked:selectedQuestion().date_format, valueUpdate: 'keyup', enable: viewModel.isEnabled()"/>
                                            month.year (mm.yyyy)<br/>
                                            <input type="radio" name="date_format" value="dd.mm.yyyy"
                                                   data-bind="checked:selectedQuestion().date_format, valueUpdate: 'keyup', enable: viewModel.isEnabled()"/>
                                            date.month.year (dd.mm.yyyy)<br/>
                                            <input type="radio" name="date_format" value="mm.dd.yyyy"
                                                   data-bind="checked:selectedQuestion().date_format, valueUpdate: 'keyup', enable: viewModel.isEnabled()"/>
                                            month.date.year (mm.dd.yyyy)<br/>
                                        </p>
                                    </div>
                                </li>
                                <li data-bind="visible: viewModel.showAddChoice()">
                                    <div class="margin_top_20">
                                        <ol class="alpha_list"
                                            data-bind="template: { name : 'choice-template',foreach : selectedQuestion().choices }">

                                        </ol>
                                        <a href="questionnaire_wizard.html#" class="add_link"
                                           data-bind="click: function() { viewModel.addOptionToQuestion(); }, valueUpdate: 'keyup'">Add
                                            Answer Choice</a>
                                    </div>
                                    <div>
                                        <input type="radio" name="answers_possible" value="select1"
                                               data-bind="checked:selectedQuestion().type, valueUpdate: 'keyup', enable: viewModel.isEnabled()"/>
                                        only one answer<br/>
                                        <input type="radio" name="answers_possible" value="select"
                                               data-bind="checked:selectedQuestion().type, valueUpdate: 'keyup', enable: viewModel.isEnabled()"/>
                                        multiple answers are permitted<br/>
                                    </div>
                                </li>
                                <li data-bind="visible: viewModel.showAddRange()">
                                    <div class="margin_top_20">
                                        <p>
                                            Min:
                                            <input name="range_min" type="text" id="range_min"
                                                   data-bind="value:selectedQuestion().range_min, valueUpdate: 'keyup', enable: viewModel.isEnabled()"/>
                                        </p>

                                        <p>
                                            Max:
                                            <input name="range_max" type="text" id="range_max"
                                                   data-bind="value:selectedQuestion().range_max, valueUpdate: 'keyup', enable: viewModel.isEnabled()"/>
                                        </p>
                                    </div>
                                </li>
                                <li data-bind="visible: viewModel.showAddTextLength() && !selectedQuestion().is_entity_question()">
                                    <div class="margin_top_20">
                                        <input type="radio" name="text_length" value="length_unlimited" checked="true"
                                               data-bind="checked:selectedQuestion().length_limiter, valueUpdate: 'keyup', enable: viewModel.isEnabled()"/>
                                        No, answer has no character limit<br/>

                                        <div class="max_char">
                                            <input type="radio" name="text_length" value="length_limited"
                                                   data-bind="checked:selectedQuestion().length_limiter, valueUpdate: 'keyup', enable: viewModel.isEnabled()"/>
                                            <span class="inline">
                                                Yes, maximum number of characters should be
                                                <input name="max_length" type="text" id="max_length"
                                                       data-bind="value:selectedQuestion().max_length, visible: viewModel.showLengthLimiter(), valueUpdate: 'keyup', enable: viewModel.isEnabled()"/>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="margin_top_20">
                                        <label>Instructions</label>
                                        <span id="question_instruction"
                                              data-bind="text: selectedQuestion().instruction"></span>
                                    </div>
                                </li>
                            </ul>