{% extends 'project/tab_navigation.html' %}

{% block page_title %}Project - Reminders {% endblock %}

{% load dw_tabs %}

{% block navigation %}
    {% activetab "tab_nav" "reminders" %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "projects" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_project_overview.scss" rel="stylesheet" />
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/project/reminders.js"></script>
    <script type="text/x-jquery-tmpl" id="reminderTemplate">
    <li>
        <input type="text" data-bind="value: day">
        <input type="text" data-bind="value: message">
        <a href="#" data-bind="click:remove">Remove</a>
    </li>
    </script>
{% endblock %}


{% block content %}
    {% include 'project/reminder_content.html' %}

{% endblock %}
