{% extends 'project/tab_navigation.html' %}

{% block page_title %}Project - Reminders {% endblock %}

{% load dw_tabs %}

{% block navigation %}
    {% activetab "tab_nav" "reminders" %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "projects" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_project_overview.scss" rel="stylesheet" />
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/project/reminders.js"></script>
    <script type="text/x-jquery-tmpl" id="reminderTemplate">
    <li>
        <input type="text" data-bind="value: day">
        <input type="text" data-bind="value: message">
        <a href="#" data-bind="click:remove">Remove</a>
    </li>
    </script>
{% endblock %}


{% block content %}
    <span id="project_id" style="display: none;">{{ project_id }}</span>
    <span class="success_message"></span>
    <div>
        {{ form }}
    </div>
    <form id="add_reminder" data-bind="submit: addReminder" style="display: {% if is_reminder %} block; {% else %} none; {% endif %}">
        Add task: <input data-bind="value: newDay" placeholder="Day?" />
        <input data-bind="value: newMessage" placeholder="Message?" />
        <button type="submit">Add</button>
    </form>

    <ul data-bind="template: { name: 'reminderTemplate', foreach: reminders }, visible: reminders().length > 0"></ul>
    <script type="text/html" id="reminderTemplate">
        <li>
            <input type="text" data-bind="value: message" />
            <input type="text" data-bind="value: day" />
            <a href="#" data-bind="click: remove">Delete</a>
        </li>
    </script>

{% endblock %}
