{% extends 'step_wizard.html' %}

{% block page_title %} Reminders {% endblock %}

{% load dw_tabs %}
{% block body %}
    {% activetab "main_nav" "projects" %}
    {{ block.super }}
{% endblock %}

{% block page_css %}
    {{ block.super }}
    <link href="/media/javascript/file_uploader/fileuploader.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/media/css/plugins/jquery_autocomplete/jquery.autocomplete.css" media="screen">
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_questionnaire.scss" rel="stylesheet"/>
    <link href="/media/css/scss/section_subjects.scss" rel="stylesheet"/>
    <link href="/media/css/scss/section_register_entity.scss" rel="stylesheet" />
    <link href="/media/css/scss/section_datasenders_common.scss" rel="stylesheet" />
{% endblock %}
{% block page_js %}
    {{ block.super }}
     <script type="text/javascript" src="/media/javascript/jquery_autocomplete/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="/media/javascript/project/register_reporter.js"></script>
    <script type="text/javascript" src="/media/javascript/project/entity.js"></script>
    <script type="text/javascript" src="/media/javascript/project/datasender.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#tab_items .reminder").addClass("current");
            set_current_tab();
        })
    </script>

{% endblock %}


{% block step_number %}
    <h3>Step5: Reminders<img src="/media/images/help_icon.png" class="help_icon" style="margin-top:-3px;"></h3>
    <div class="tooltip"><p>
        <strong>What is this?</strong><br />
        <strong>Remiders</strong> are important because they are the people who send you answers to your
        questionnaire. They are usually based in the field.<br /><br />
        You can <strong>register Data Senders</strong> by entering some basic information (name, location,
        telephone number) about each Data Sender.
        DataWinners will use the Data Sender's telephone number as the <strong>Unique Identification Number</strong>.
        By registering your Data Senders now they won't have to send you this information (example: name) each time
        they respond to your questionnaire. DataWinners will recognize each Data Sender by his or her registered
        telephone number.<br /><br />
        <strong>What do I need to do?</strong><br />
        Decide what information you want to collect for each Data Sender (first name, last name, location, mobile
        phone number, etc.) You then have three ways to register this information: 1) Manually enter the details
        using the <strong>online form</strong>, 2) <strong>import a list</strong>; or, 3) Print out the Data
        Sender Registration Questionnaire, give it to your Data Senders and ask your <strong>Data Senders to register
        themselves</strong>. Don’t worry, you can always edit this information later.
    </p></div>
    <p>Manage Reminders. You can also do this at a later time.</p>

{% endblock %}
{% block content %}
    Reminders
{% endblock %}
{% block buttons %}
    {{ block.super }}
        <form action="" method="POST">
    {% csrf_token %}
        <input id="submit-button" type="submit"value="Next Step: Review and Test"/>
        <input id="submit_button_right" type="button" value=" "/>
    </form>
{% endblock %}
{% block previous_step %}
     <a class="bold" href={{ previous }}>Data Senders</a>
{% endblock %}

