{% extends 'step_wizard.html' %}
{% load i18n %}
{% block page_title %} {% trans "Reminders" %} {% endblock %}

{% load dw_tabs %}
{% block body %}
    {% activetab "main_nav" "projects" %}
    {{ block.super }}
{% endblock %}

{% block page_css %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
{% endblock %}
{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/project/reminders.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#tab_items .reminder").addClass("current");
            set_current_tab();
        })
    </script>

{% endblock %}


{% block step_number %}
    <h3>{% trans "Step5:" %} {% trans "Reminders" %}<img src="/media/images/help_icon.png" class="help_icon" style="margin-top:-3px;"></h3>
    <div class="tooltip"><p>
        <strong>{% trans "What is this?" %}</strong><br />
        {% trans "q_tooltip_reminders" %}
        <br /><br />
        <strong>{% trans "What do I need to do?" %}</strong><br />
        {% trans "r_tooltip_reminders" %}
    </p></div>
{% endblock %}
{% block content %}
    {% include 'project/reminder_content.html' %}
{% endblock %}
    {% block buttons %}
        <form action="" method="POST">
            {% csrf_token %}
        {{ block.super }}
        <input id="submit-button" type="submit" value="{% trans 'Next Step: Review and Test' %}"/>
        <input id="submit_button_right" type="button" value=" "/>
        </form>
    {% endblock %}
{% block previous_step %}
     <a id="data_senders_link" class="bold" href={{ previous }}>{% trans "Data Senders" %}</a>
{% endblock %}

