<script type="text/x-jquery-tmpl" id="reminderTemplate">
    <li>
        <input type="text" data-bind="value: day">
        <input type="text" data-bind="value: message">
        <a href="#" data-bind="click:remove">Remove</a>
    </li>
    </script>
<span id="project_id" style="display: none;">{{ project_id }}</span>
<span class="success_message"></span>
<div>
    {{ form }}
</div>
<div class="add_reminder">
<form data-bind="submit: addReminder"
      style="display: {% if is_reminder %} block; {% else %} none; {% endif %}">
    <span>New Reminder: </span>
    <input data-bind="value: newDay" placeholder="Day?"/>
    <input data-bind="value: newMessage" placeholder="Message?"/>
    <button type="submit">Add Reminder</button>
</form>
<div id="reminder-list">
    <ul data-bind="template: { name: 'reminderTemplate', foreach: reminders }, visible: reminders().length > 0"></ul>
</div>
<button data-bind="click: save"
        style="display: {% if is_reminder %} block; {% else %} none; {% endif %}">Save the reminders
</button>
    </div>
<script type="text/html" id="reminderTemplate">
    <li>
        <input type="text" data-bind="value: message"/>
        <input type="text" data-bind="value: day"/>
        <a href="#" data-bind="click: remove">Delete</a>
    </li>
</script>