<span id="project_id" style="display: none;">{{ project_id }}</span>
<span class="success_message"></span>
<div>
    {{ form }}
</div>
<div class="add_reminder">
<form data-bind="submit: addReminder"
      style="display: {% if is_reminder %} block; {% else %} none; {% endif %}">
    <div class="reminder_content_section">
        <p class="reminder_content">
            <span>When</span>
            <input data-bind="value: newDay" placeholder="day"/> day(s) <strong>before</strong> the deadline
            <br><span id="newDay_err" class="error_message"></span>
        </p>

        <p class="reminder_content">
            To Whom
        <ul>
            <li><input type="radio">All chosen DS type</li>
            <li><input type="radio">Anyone who hasn't sent data</li>
        </ul>
        </p>

        <p class="reminder_content">
            <textarea data-bind="value: newMessage, valueUpdate: 'keyup'" placeholder="Message"
                      maxlength="160"/>
            </textarea>
            The message count is <span data-bind="text: newMessage().length"></span>
            <br><span id="newMessage_err" class="error_message"></span>
        </p>
    </div>
    <a data-bind="click: addReminder">Add another Reminder</a>
</form>
<div id="reminder-list">
    <ul data-bind="template: { name: 'reminderTemplate', foreach: reminders }, visible: reminders().length > 0"></ul>
</div>
<button class="button" data-bind="click: save"
        style="display: {% if is_reminder %} block; {% else %} none; {% endif %}">Save the reminders
</button>
    </div>
<script type="text/html" id="reminderTemplate">
    <li>
        <span data-bind="text: message"/>
        <span data-bind="text: day"/>
        <a href="#" data-bind="click: remove">Delete</a>
    </li>
</script>