<div class="sms_tester_form none">
    <h4>Test the SMS Questionnaire </h4>

    <p class="italic margin_bottom_20">Verify you can send in test answers</p>
    <ul>
        <li>
            <h6>1. Send in your test answers.</h6>

            <p class="italic margin_bottom_20">Refer to the Web Questionnaire Preview for a sample SMS</p>

            <div class="margin_left_20 mobile_block">
                <p>Note : When you activate this project, all the test data will be removed automatically.</p>

                <p>You have 2 options</p>

                <p>A. Click on the mobile phone screen and type your test answers.</p>

                <p>B. Register yourself as a Data Sender. Then sms your test answers to the telephone number provided by
                    DataWinners.</p>
                <input id='from_msisdn' type='hidden' value="{{ from_number }}">
                <input id='to_msisdn' type='hidden' value="{{ to_number }}">

                <div class="mobile">
                    <textarea name="message" cols="30" rows="4" id="id_message"></textarea>
                </div>
                <div>
                    <input id="send_sms" type="button" class="button" value="Send SMS"/>
                    <input id="clear_sms" type="button" class="button margin_left_20" value="Clear"/>
                </div>
            </div>
        </li>
        <li>
            <h6 class="margin_top_20">2. See the data you received </h6>

            <p class="italic">See if DataWinners received your SMS. (Go to <a href="{{project_links.log_link}}">All Data
                Records</a> page to view submission status)</p>
        </li>
    </ul>
</div>