\{% extends 'step_wizard.html' %}

{% block page_title %} Subjects {% endblock %}

{% load dw_tabs %}
{% block body %}
    {% activetab "main_nav" "projects" %}
    {{ block.super }}
{% endblock %}

{% block page_css %}
    {{ block.super }}
    <link href="/media/javascript/file_uploader/fileuploader.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/media/css/plugins/jquery_autocomplete/jquery.autocomplete.css" media="screen">
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_questionnaire.scss" rel="stylesheet"/>
    <link href="/media/css/scss/section_subjects.scss" rel="stylesheet"/>
{% endblock %}
{% block page_js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/javascript/file_uploader/fileuploader.js"></script>
    <script type="text/javascript" src="/media/javascript/jquery_autocomplete/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="/media/javascript/project/register_entity_validation.js"></script>
    <script type="text/javascript" src="/media/javascript/project/entity.js"></script>
    <script type="text/javascript" src="/media/javascript/project/subject.js"></script>
    <script type="text/javascript" src="/media/javascript/project/import_section.js"></script>
    <script type="text/javascript" src="/media/javascript/entity/create_type.js"></script>
    <script type="text/javascript" src="/media/javascript/csrf_token_handler.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#tab_items .subjects").addClass("current");
            set_current_tab();
        })
    </script>

{% endblock %}


{% block step_number %}
    <h3>Step 2: Subjects</h3>
    <p>Register and manage Subjects by editing the registration form below. You can also do this at a later time.</p>
{% endblock %}
{% block content %}

    {% include 'entity_question_panel.html' %}

    <h4 class="inline">Add Subjects now</h4>
    <span>(Optional)</span>
    <div class="add_subjects_section alpha omega">
        <div class="grid_11 alpha omega">
            <h6>Add Subjects Manually</h6>

            <p>Enter your Subjects individually</p>
            <input id='add_subject' type="button" class="button_blue" value="Add Subjects Manually"/>
        </div>
        <div class="grid_11  omega import_list">
            <h6>Import a List of Subjects</h6>

            <p>Upload an excel (.xls) or csv file (.csv) of your Subjects</p>
            <input id='import_subjects' type="button" class="button_blue" value="Import List"/>
        </div>
        <div class="add_subject_form">
            {% include 'subject_form.html' %}
        </div>
    {% include 'project/import_section_in_wizard.html' %}
    </div>
{% endblock %}
{% block buttons %}
    {{ block.super }}
    <form action="" method="POST">
    {% csrf_token %}
        <input id="submit-button" type="submit"value="Next Step: Questionnaire"/>
        <input id="submit_button_right" type="button" value=" "/>
    </form>
{% endblock %}
{% block previous_step %}
     <a class="bold" href={{ previous }}>Define Project</a>
{% endblock %}
