{% block page_scss %}
    <link href="/media/css/scss/section_new_create_project.scss" rel="stylesheet" />
    <link href="/media/css/scss/section_application.scss" rel="stylesheet" />
{% endblock %}

{% block content %}
    <!-- div for successful message creation-->
    <div class="wizard_success_message">
        <div class="wizard_heading">You successfully created your questionnaire!</div>
        <div class="line"></div>
        <div class="w_content">
            <div class="gray_text">Now you can...</div>
            <li><a href="#">Register the data senders</a>
            <p class="black_italic">Here's a link for information & instructions. Registering the data senders is very important.</p></li>
            <li><a href="#">Register the subjects</a>
            <p class="black_italic">Here's a link for information & instructions. Registering the subjects is such a very good idea.</p></li>
            <li><a href="#">Set reminders</a>
            <p class="black_italic">Here's a link for information & instructions. Setting reminders ensures lots of usable data.</p></li>
            <div class="gray_text">...or just start collecting data.</div>
        </div>
    </div>
{% endblock %}