{% extends 'project/tab_navigation.html' %}
{% block page_title %} Projects - Overview {% endblock %}

{% load dw_tabs %}
{% block navigation %}
{% activetab "tab_nav" "test_questionnaire" %}
{{ block.super }}
{% endblock %}

{% block body %}
{% activetab "main_nav" "projects" %}
{{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_project_overview.scss" rel="stylesheet" />
{% endblock %}

{% block content %}
    {% if success_message %}
        <span class="success">{{ success_message }}</span>
    {% endif %}
    {% if error_message %}
        <span class="error">{{ error_message }}</span>
    {% endif %}

    <form method="POST">
    {% csrf_token %}
    <table>
        {% for field in form_model.fields %}
            {{ field }}
        {% endfor %}
    </table>
    <input type="submit" class="button" value="Submit" />
    </form>

{% endblock %}
