{% extends 'project/tab_navigation.html' %}
{% block page_title %} Test Application Page {% endblock %}
{% block page_scss %}
    <link rel="stylesheet" href="/media/css/scss/section_test.scss" media="screen">
{% endblock %}
{% block uncompress %}
    <script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAA6cQIrMEc9zlaKBjWiPM5rxSjlBXfTSDcGsB79vzL90uiOHMpbBRa1FFoX2YfuQNFvFKxQtpz0ZCeuw&amp;hl=en"></script>
{% endblock %}
{% block page_js %}
    <script type="text/javascript" src="/media/javascript/gmap/jquery.gmap-1.1.0.js"></script>
    <script>
        $(document).ready(function(){
 $("#question_form").validate({
     messages: {
         max_length:{
             digits: "Please enter positive numbers only"
         }

     },
     rules: {
            test :{
              required: true
            },
            question_title:{
                required: true
            },
            code:{
                required: true
//                spacerule: true,
//                regexrule: true
            },
            type:{
                required: true
            },
            max_length:{
                digits:true
            },
            range_min:{
                number: true
            },
            range_max:{
                number: true
            }
        }
    });

        })
    </script>
{% endblock %}


{% block content %}
    <div class="grid_22 alpha omega">
<form id="question_form">
                    <fieldset>
                        <legend>Add Questionnaire</legend>
                        <ul>
                            <li>
                                <input type="text" id="test" name="test" data-bind="value: selectedQuestion().type" />
                            </li>
                            <li>
                                <label>Code</label>
                                <input id="code" name="code" type="text" class="required"
                                       data-bind="value: selectedQuestion().question_code" />
                            </li>
                            <li>
                                <label>Question </label>
                                <input id="question_title" name="question_title" type="text" class="required"
                                       data-bind="value: selectedQuestion().title" />
                            </li>

                        </ul>
                    </fieldset>
                </form>
    </div>
{% endblock %}