<html>

<body>

<p>Hello {{ user.first_name }},</p>

<p>You can now send in your data via Web and Smartphone</p>

<p><b>Next Steps</b><br>
    1. <a href="{{ protocol }}://{{ domain }}{% url auth_password_reset_confirm uidb36=uid, token=token %}" style="text-decoration: none">
            Activate your DataWinners account</a> within the next 7 days<br>
    2. Log in to your account for further instructions
</p>

<p><b>Need Help?</b><br>
    If you need help contact your supervisor or send us an Email at support@datawinners.com. We're <br>
    here to help!
</p>

<p>Have fun, <br>
    Your DataWinners Team <br>
    <a href="http://www.datawinners.com" style="text-decoration: none">www.datawinners.com</a> | <a href="http://datawinners.wordpress.com/ ">Blog</a> | <a href="https://twitter.com/#!/datawinners">Twitter</a>
</p>

</body>
</html>
