<html>

<body>

<p>Bonjour {{ user.first_name }}</p>

<p>Vous pouvez maintenant soumettre vos données par Internet et Smartphone</p>

<p><b>Prochaines Etapes</b>
<ol>
    <li><a href="{{ protocol }}://{{ domain }}{% url auth_password_reset_confirm uidb36=uid, token=token %}" style="text-decoration: none">
        Activez votre compte DataWinners</a> dans les 7 prochains jours
    </li>
    <li>Connectez-vous à votre compte pour plus d’instructions</li>
</ol>
</p>

<p><b>Besoin d’aide ?</b><br>
    Si vous avez besoin d’aide, contactez votre superviseur ou envoyez-nous un e-mail à l’adresse<br> support@datawinners.com. Nous sommes
    là pour vous aider !
</p>

<p>Amusez-vous bien,<br>
    Votre Equipe DataWinners <br>
    <a href="http://www.datawinners.com" style="text-decoration: none">www.datawinners.com</a> | <a href="http://datawinners.wordpress.com/ ">Blog</a> | <a href="https://twitter.com/#!/datawinners">Twitter</a>
</p>

</body>
</html>
