<html>

<body>

<p>Hello {{ name }}</p>

<p>You can now send in your data via Web and Smartphone</p>

<p><b>Next Steps</b>
    <ol>
        <li><a href="{{ protocol }}://{{ domain }}{% url auth_password_reset_confirm uidb36=uid, token=token %}">Activate your DataWinners account</a> within the next 7 days</li>
        <li>Log in to your account for further instructions</li>
    </ol>
</p>

<p><b>Need Help?</b><br>
    If you need help contact your supervisor or send us an Email at support@datawinners.com. We're <br>
    here to help!
</p>

<p>Have fun, <br>
    Your DataWinners Team <br>
    www.datawinners.com | <a href="http://datawinners.wordpress.com/ ">Blog</a> | <a href="https://twitter.com/#!/datawinners">Twitter</a>
</p>

</body>
</html>
