<Context>
<Resource name="jdbc/postgres" 
       auth="Container" 
           type="javax.sql.DataSource" 
       maxActive="5" maxIdle="-1" maxWait="10000" 
       username="reporting" password="password" 
           driverClassName="org.postgresql.Driver" 
       url="jdbc:postgresql:geodjango" 
       description=""/> 
</Context>
